[2021-03-13 05:45] anandwana001 commented on #2893
@ksog66 Let's see if the PR by @ArpitShukIa is solving both the issues.

[2021-03-13 10:36] mrwhoknows55 commented on #2814
I have started working on this issue

[2021-03-13 10:39] mrwhoknows55 commented on #2814
@rt4914 current toolbar titles are "Add Profile", "Administrator Controls" so should I change these too? or just activity labels?

[2021-03-13 11:59] ArpitShukIa commented on #2427
I would like to work on this issue.

[2021-03-13 14:24] prayutsu commented on #2833
@anandwana001 Can you please assign @arinarora18 CustomBulletSpanTest?
@arinarora18 When you get assigned to CustomBulletSpanTest, you can go ahead and make a PR.

[2021-03-13 15:06] ArpitShukIa commented on #2131
How to reproduce this issue?

[2021-03-13 15:07] justdvnsh commented on #2833
@anandwana001 I want to work on "TopicPracticeFragmentTest". I have already made a PR for TopicRevisionFragmentTest #2899

[2021-03-13 17:14] arjunrkaushik commented on #2823
@rt4914 I would like to work on this issue, as suggested to me by Abhay Garg

[2021-03-13 17:28] prayutsu commented on #2823
@arjunrkaushik As @AnubhavPabby claimed it first, we should assign this issue to him, but I am assigning you #2819 which is almost similar to this. Can you please add a comment there so can I assign that issue to you?

[2021-03-13 17:31] arjunrkaushik commented on #2819
@rt4914 Can I work on this issue, please?

[2021-03-13 17:52] FareesHussain commented on #2427
@ArpitShukIa as you've already worked on few issues. I suggest looking for a bit harder issues. This will help you in learning and get to know more about the codebase.

https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+milestone%3ABeta+no%3Aassignee+-label%3A%22good+first+issue%22+NOT+a11y+NOT+blocked

[2021-03-13 18:26] ArpitShukIa commented on #1048
@rt4914 Are you working on this?

[2021-03-13 19:53] prayutsu commented on #2819
@arjunrkaushik Assigning this to you.

[2021-03-13 19:58] arjunrkaushik commented on #2819
Hi Abhay,

I was working on the issue now and when I tried pushing the code into my
branch, I received this error message.
Does this seem familiar to you? Please help me resolve this issue.
PS: I tried using the code suggested, but it didn't work.

[image: image.png]

Thanks,
Arjun

On Sun, Mar 14, 2021 at 1:24 AM Abhay Garg ***@***.***> wrote:

[2021-03-14 05:00] prayutsu commented on #2819
Hi,
Actually, I am unable to see the error, it seems like the image you tried
to attach didn't get hooked up correctly, I recommend using gitter for this.

Best,
Abhay

On Sun, Mar 14, 2021 at 1:28 AM arjunrkaushik ***@***.***>
wrote:

[2021-03-14 06:42] jcqli opened #2900 "Implement network interceptor to add to outgoing request header"
Fix part of #53
Implement a network interceptor to catch outgoing requests and add a header with the API key, package version, and package name, and version code for receiving client to authenticate the request

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-14 07:30] arinarora18 commented on #2833
Haven't been assigned this yet, should I move to some other issue?

[2021-03-14 07:32] FareesHussain commented on #2833
@arinarora18 you can start working on this and create a pr as soon as you get assigned

[2021-03-14 08:33] IAmJaishree commented on #2824
@rt4914 I would like to work on it, could you please assign it to me?

[2021-03-14 08:50] fsharpasharp commented on #2883
Added some labels. I think the feature request template doesn't seem to fit too well with these issues.

[2021-03-14 09:15] jkugsiya commented on #2833
I want to work on 'StoryActivityTest'.

[2021-03-14 10:20] IAmJaishree commented on #2804
@rt4914 I want to work on this issue, can it be assigned to me?

[2021-03-14 10:22] IAmJaishree commented on #2805
@rt4914 I want to work on this issue, can it be assigned to me?

[2021-03-14 12:48] E13ctron commented on #2822
I would like to try do this and this is my first open source contribution :).

[2021-03-14 13:23] FareesHussain commented on #2822
@Amar-2003 Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-03-14 18:18] arjunrkaushik commented on #2821
@rt4914 Can I work on this issue?

[2021-03-14 18:18] arjunrkaushik commented on #2818
@rt4914 Can I work on this issue?

[2021-03-14 18:19] arjunrkaushik commented on #2817
@rt4914 Can I work on this issue?

[2021-03-14 18:29] arjunrkaushik commented on #2833
I want to work on "AppVersionActivityTest"

[2021-03-14 18:36] arjunrkaushik commented on #2290
@yk1ax Can I work on this issue?

[2021-03-15 01:39] jcqli opened #2908 "Implement entry points and entry fragment in app layer for non-crash feedback reporting"
Fix part of #53
Implement entry points to feedback reporting (navigation drawer, lesson player, revision card)
and the first fragment that prompts users to select a report type

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-15 01:40] jcqli opened #2909 "Implement the main feedback report app layer"
Fix part of #53
Implement the app layer for the main feedback report that asks users to provide information.

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-15 01:42] jcqli opened #2910 "Implement the agreement & final thank you fragment in app layer for feedback reporting"
Fix part of #53
Implements the last two fragments that shows user's the information collected & thank you fragment

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-15 01:44] jcqli opened #2911 "Implement startup listener for crash reporting"
Fix part of #53
Refactors current [UncaughtExceptionStartupListener](https://github.com/oppia/oppia-android/blob/2db5e03/domain/src/main/java/org/oppia/android/domain/oppialogger/exceptions/UncaughtExceptionLoggerStartupListener.kt#L8) to subclass a main startup listener.
Creates a new startup listener that initiates crash reporting

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0

[2021-03-15 01:45] jcqli opened #2912 "Implement crash reporting app layer"
Fix part of #53
Implement the app layer for crash reporting
Creates dialog prompt and crash options in feedback reporting flow

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-15 04:35] anandwana001 commented on #2833
@justdvnsh Could you please mention the PR solving `TopicRevisionFragmentTest`?

[2021-03-15 09:01] sakshampruthi commented on #2833
Hi, I wish to work on "DragDropTestActivityTest"

[2021-03-15 10:49] anandwana001 commented on #1806
Closing this Issue as I will be creating sub-issues.

[2021-03-15 10:49] #1806 closed, assigned to anandwana001

[2021-03-15 12:43] rt4914 commented on #2290
@arjunrkaushik Assigned. Thanks.

[2021-03-15 12:45] rt4914 commented on #2818
@arjunrkaushik Assigned you #2817 so once you finish that you can self-assign this issue.

[2021-03-15 12:45] rt4914 commented on #2821
@arjunrkaushik Assigned you #2817 so once you finish that you can self-assign this issue.

[2021-03-15 12:47] jonathanalvares9009 commented on #2883
@anandwana001 Can I take up this issue?

[2021-03-15 12:50] rt4914 commented on #2824
@IAmJaishree I have assigned you two similar issues. Also I will be working on this as it involves some discussion with teammates. Thanks.

[2021-03-15 12:55] rt4914 commented on #1048
@ArpitShukIa Actually I am not working for now. I am assigning this to you. But do make sure that this is still an issue because it might have happened that it got solved in some other PR earlier. Thanks.

[2021-03-15 12:59] rt4914 commented on #2131
Unassigning @yk1ax and assigning @ArpitShukIa

[2021-03-15 12:59] rt4914 commented on #2131
@ArpitShukIa Please take a look at the description again. I have updated it.

[2021-03-15 13:07] rt4914 commented on #2698
@nskirkey Assigned.

[2021-03-15 13:15] sakshampruthi commented on #2833
I am getting the following error while push
scripts/buf_lint_check.sh: line 13: ../oppia-android-tools/buf-Darwin-x86_64: No such file or directory

I have followed all the steps for installation from the wiki
(for reference I am using a MacBook with the m1 chip)

Edit 1:
I have created a pull request using my windows system but I am still facing this error on my macbook m1 and it seems that it is

[2021-03-15 13:23] fsharpasharp opened #2917 "Create a BUILD.bazel file for the extensions package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-15 13:26] jonathanalvares9009 commented on #2883
@fsharpasharp Can I take up this issue? I have researched about bazel and I would like to implement it in the app. But might need some mentoring while implementing it.

[2021-03-15 13:27] starboi02 commented on #2816
@rt4914 can I work on this issue?

[2021-03-15 13:27] starboi02 commented on #2815
@rt4914 can I work on this one?

[2021-03-15 13:27] fsharpasharp commented on #2883
@jonathanalvares9009, sure! Let me know if you get stuck or have any questions.

[2021-03-15 13:29] rt4914 commented on #2815
@starboi02 Thanks for showing interest. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-03-15 13:56] starboi02 commented on #2815
@rt4914 thanks, I have signed the CLA and filled the survey from too.

[2021-03-15 15:14] jonathanalvares9009 commented on #2883
@fsharpasharp how do I run the app using bazel?

[2021-03-15 15:50] jonathanalvares9009 commented on #2883
@anandwana001 how do I test if the bazel dependencies are correct?

[2021-03-15 16:13] Victor-Titan commented on #2883
@jonathanalvares9009 maybe try bazel issues with the `good first issue` tag before moving to issues like these? An example is #2768.

[2021-03-15 16:15] Victor-Titan commented on #2917
@fsharpasharp I'd like to work on this.

[2021-03-15 16:41] anandwana001 commented on #2833
@sakshampruthi have you run the script correctly as mentioned in the installation steps?
M1 chip under the hood has Darwin system I guess, what's the uname for M1 chip?

[2021-03-15 17:02] sakshampruthi commented on #2833
@anandwana001 Yes I followed the installation steps correctly
running `uname -a` gives this:

```Darwin Sakshams-MacBook-Air.local 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:06:51 PST 2021; root:xnu-7195.81.3~1/RELEASE_ARM64_T8101 arm64```

To validate my issue I will try to get hands-on an intel-based mac system. If the same steps don't produce this error then it might be some compatibili

[2021-03-15 17:04] anandwana001 commented on #2833
It looks like the issue is `RELEASE_ARM64_T8101 arm64`.

[2021-03-15 17:08] anandwana001 commented on #2833
Also, @sakshampruthi could you confirm do you have this file `/oppia-android-tools/buf-Darwin-x86_64` or not?

[2021-03-15 17:11] sakshampruthi commented on #2833
@anandwana001 No this file is not getting generated. I tried again and again but was not able to generate the file. The file being generated is `buf-Darwin-arm64` This might be due to the fact that x86 files are dealt with using rosetta2. I will try to generate this file again in the terminal this time using rosetta and will update you here

[2021-03-15 17:16] anandwana001 commented on #2833
@sakshampruthi The required file will not generate, because we use the `uname` of the system and as it's arm for your's it will not give you x86 one. I will fix the script which can prevent error for such cases.
Thanks for bringing this in light.

[2021-03-15 17:18] sakshampruthi commented on #2833
@anandwana001 I was able to successfully generate `/oppia-android-tools/buf-Darwin-x86_64` file using `bash scripts/setup.sh` given the terminal is open with Rosetta 2. Without this it generates `buf-Darwin-arm64`

For the time being you may mention this in the wiki

[2021-03-15 17:19] anandwana001 commented on #2833
Sounds helpful, could you try running `bash scripts/buf_lint_check.sh` from AS terminal? Let's see if it works.

[2021-03-15 17:22] anandwana001 commented on #2883
Keeping @fsharpasharp for more context here.

[2021-03-15 17:26] sakshampruthi commented on #2833
@anandwana001 Working perfectly with and without Rosetta 2 because `buf-Darwin-x86_64` is now available in oppia-android-tools folder

[2021-03-15 17:30] anandwana001 commented on #2833
Could you please add steps on how did you manage to download this file. This will help other contributors facing the similar issue.

[2021-03-15 17:40] sakshampruthi commented on #2833
Step 1: Locate Terminal in Finder
Step 2: Right-click and create a duplicate Terminal (and rename it accordingly say Terminal x86 to avoid confusion)
Step 3: For the Terminal x86 right-click and click Get info and check the option  `Open using Rosetta`
Step 4: Now run `bash scripts/setup.sh` in Terminal x86 and all the required files will be generated as they should

[2021-03-15 18:10] sakshampruthi commented on #2427
I would like to try this out

[2021-03-15 19:06] AnubhavPabby commented on #2813
@rt4914 I would I like to work on this issue. Can you assign it to me?

[2021-03-15 19:08] AnubhavPabby commented on #2807
@rt4914 I would like to work on this issue. Can you assign it to me ?

[2021-03-15 19:41] fsharpasharp commented on #2917
Sounds good to me.

[2021-03-15 19:46] fsharpasharp commented on #2883
Try to build the package using Bazel.

[code]

if you're in the directory.

Were you able to run some of the Bazel commands from [the setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions)?

[2021-03-15 20:04] #2680 closed, assigned to yashraj-01

[2021-03-15 20:17] BenHenning commented on #2746
There's a new issue affecting Android Studio: https://github.com/bazelbuild/rules_proto/issues/78 (see linked protoc issue for details). I might try sending a patch to rules_proto to see if it's an easy fix just to bump the version to 3.14.

[2021-03-15 21:48] BenHenning commented on #2746
Confirming this is an issue with version 2021.01.06.0.1 of the Bazel plugin. Updating rules_proto to a later version doesn't seem to fix the issue. I think the issue is actually within the Bazel plugin--it's not being built with compatibility for JDK 8. In the meantime I'm going to see if downgrading to an earlier version of the plugin fixes the issue.

[2021-03-16 00:23] BenHenning commented on #2746
https://github.com/bazelbuild/intellij/issues/2265 is tracking the plugin-specific issue.

[2021-03-16 01:18] BenHenning commented on #2746
Confirming that the custom plugin suggested in that thread does work for us: https://github.com/hedronvision/bazelbuild-intellij/releases/tag/v2021.02.03.

@fsharpasharp FYI since this is definitely going to cause some friction when trying to get Bazel working in Android Studio.

[2021-03-16 01:34] anandwana001 commented on #2833
Thanks, @sakshampruthi for helping us here.

[2021-03-16 01:56] BenHenning opened #2923 "Move project off of jcenter"
See https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/. JCenter is turning down over the next 12 months. Most, if not all, of our packages should be available on other Maven repositories. This issue is tracking updating both Gradle & Bazel to:
1. Remove our bintray/jcenter repository references
2. Investigating all missing dependencies to find alternate repositories
3

[2021-03-16 02:02] BenHenning commented on #2923
Relevant artifacts to help:
- https://github.com/ChaosLeung/PinView#dependency
- https://github.com/google/flexbox-layout/issues/566

[2021-03-16 02:48] BenHenning commented on #2863
I don't think this is actually what we want to do @anandwana001. Not all issues will fit our templates (I actually use the blank template far more than the other ones), and disabling it will limit us. For reference, [Oppia web](https://github.com/oppia/oppia/issues/new/choose) also retains support for filing a blank issue.

[2021-03-16 03:14] FareesHussain commented on #2863
I think we need this.
When creating the issue if anyone is not willing to follow with the template they can add their own description but the labels will be added automatically based on feature or bug.

[2021-03-16 03:23] arinarora18 commented on #2833
@anandwana001 I would like to work on TopicInfoFragmentTest.

[2021-03-16 03:44] anandwana001 commented on #2863
Agree with Farees, also there is one issue with the labels I see, `status: not started` even though the PR is created for that issue the label is still there.

[2021-03-16 05:18] anandwana001 commented on #2780
Adding wait explicitly sounds like another fix, not a solution.  Can we try another approach where we can play with this initialization check in a different way.
Adding @rt4914 for any update on this.

[2021-03-16 05:19] anandwana001 commented on #2735
Closing this issue as jcenter removal is tracking by a master issue - https://github.com/oppia/oppia-android/issues/2923

[2021-03-16 05:19] #2735 closed, assigned to nobody

[2021-03-16 05:19] anandwana001 commented on #2734
Closing this issue as there is a master tracking issue - https://github.com/oppia/oppia-android/issues/2923

[2021-03-16 05:19] #2734 closed, assigned to anandwana001

[2021-03-16 05:20] sakshampruthi commented on #2427
I have found a workaround for this issue. Since the function is being directly called from the XML using data binding I am unable to figure out a way to store the orientation state. Upon research, I found a flag `configChanges` for the activity to be implemented in AndroidManifest. Setting the flag allows the dialog to remain on the screen when the device is rotated and doesn't get detached from t

[2021-03-16 05:30] ArpitShukIa commented on #2427
@sakshampruthi Are you talking about disabling configuration change for the activity?

[2021-03-16 05:38] sakshampruthi commented on #2427
@ArpitShukIa No, I am not disabling orientation. Orientation works as expected. I am setting the flag as orientation|screenSize. So putting that in the configuration file avoids the system to destroy the AdministratorControlsActivity. Instead, it invokes the onConfigurationChanged(Configuration) method. Here is the output:

https://user-images.githubusercontent.com/43927531/111260870-96754580-8647

[2021-03-16 05:50] anandwana001 commented on #2834
Closing this issue as all four test files are fixed.

[2021-03-16 05:50] #2834 closed, assigned to nobody

[2021-03-16 05:59] ArpitShukIa commented on #2427
@sakshampruthi Preventing the activity from being destroyed won't be a nice thing to do I think.
https://developer.android.com/guide/topics/resources/runtime-changes#HandlingTheChange

Maybe you should try to override `AdministratorControlsActivity's` `onSaveInstanceState()` and store whether the dialog is open or not in the `bundle`.
Then in `onCreate()` you can check `savedInstanceState` to see

[2021-03-16 06:21] Sparsh1212 commented on #2536
I would love to work on this. @anandwana001 Shall I assign this to myself ?

[2021-03-16 07:25] sakshampruthi commented on #2427
@ArpitShukIa I am understood what needs to be done but I am unable to recreate the dialog as I am unable to get the reference of `onLogOutClicked()` from `AdministratorControlsAccountActionsViewModel`. It would be great if you could help me out

[2021-03-16 08:01] ArpitShukIa commented on #2427
@sakshampruthi Since it's the `AdministratorControlsAccountActionsViewModel` which is creating the dialog, `AdministratorControlsActivity` needs to ask that ViewModel whether the dialog is being currently shown or not, and also tell it to show when needed.

Now that the activity is not having a direct reference to the ViewModel, you will need to create functions to get and give the information.
Ad

[2021-03-16 08:38] rt4914 commented on #2780
@ArpitShukIa Can you try to call `checkIfLoadingIsPossible` after everyone one of these dependencies is initialised ?

[2021-03-16 08:41] ArpitShukIa commented on #2780
@rt4914 That's the main issue I think. How can we know when have all the dependencies been initialized?

[2021-03-16 08:49] sakshampruthi commented on #2427
Okay understood. I will try this and get back soon ✌️

[2021-03-16 09:40] ArpitShukIa commented on #2780
The only way I can think of right now is to simply wait for them to be injected. Something like:
[code]

[2021-03-16 09:54] jkugsiya commented on #2811
Can I work on this issue?

[2021-03-16 09:58] jkugsiya commented on #2811
Can I work on this issue?

[2021-03-16 10:23] Sparsh1212 commented on #2536
@anandwana001 As per what I have understood, I am required to shift this helper function to a new file and make it generic to use the `id` of any RecyclerView. If I have misinterpreted, then please correct me.

Helper Function in `AdministratorControlsActivityTest`
[code]

Generalize this to: in a new central utility file

[code]

[2021-03-16 11:14] ArpitShukIa commented on #2131
@anandwana001 @rt4914 We need to hide only the progress bar or the progress label ("Question 2 of 8") as well?

[2021-03-16 12:09] ArpitShukIa commented on #1048
@rt4914 Looks like the issue has already been fixed. Progress is updated immediately after completing the exploration.
Please verify it once on your side. If the issue still exists, please tell the steps to reproduce it.

[2021-03-16 15:02] jonathanalvares9009 commented on #2880
Can you assign me this issue @fsharpasharp ?

[2021-03-16 15:24] fsharpasharp commented on #2880
Try to get https://github.com/oppia/oppia-android/pull/2919 merged first. I can assign you after that.

[2021-03-16 19:01] sakshampruthi commented on #2427
@rt4914
@FareesHussain
My approach till now is that I have created a live data variable in `AdministratorControlsAccountActionsViewModel` to be set when the dialog box is opened and when it's dismissed. The problem I am facing where should I observe it (in which activity or fragment) as `AdministratorControlsAccountActionsViewModel` requires arguments to be passed to create its reference

[2021-03-17 02:48] #2866 closed, assigned to FareesHussain

[2021-03-17 02:54] BenHenning commented on #2863
Let's discuss this during the team meeting this week. We need a triage process to solve the label issue, I think--I don't think we should rely on the reporter to understand which labels to assign.

Also, are there specific issues that are causing us problems that lead to needing this? That context is important to ensure we're solving the problem correctly.

[2021-03-17 05:27] FareesHussain commented on #2427
@sakshampruthi sorry for the delay. I suggest you try to fix this first by trying it in both activity or fragment and once it is fixed create a pull request.
If you are stuck at some point you can create a [draft pull request](https://github.blog/2019-02-14-introducing-draft-pull-requests/)

[2021-03-17 05:37] sakshampruthi commented on #2427
@FareesHussain Won't this work since this activity doesn't need to update resources during a specific configuration change and will be used just to log out and open the edit profiles which is once in a while action. I am only suggesting this because the parameters required by 'AdministratorControlsAccountActionsViewModel' are not present in either the activity or fragment

[2021-03-17 06:05] sakshampruthi commented on #2821
If its available can I work on this?

[2021-03-17 09:02] Akshat-gour commented on #2879
@fsharpasharp Assign to me

[2021-03-17 09:17] FareesHussain commented on #2427
@sakshampruthi Sounds good to me. Please create a PR for this.

Rather than confirming the approach in the issue, It is suggested to create a PR and discuss the approach there.

[2021-03-17 09:21] fsharpasharp commented on #2879
Thanks @Akshat-gour.

[2021-03-17 09:29] fsharpasharp opened #2931 "Modularize/organize package org.oppia.android.data.backends.gae"

[2021-03-17 10:01] justdvnsh commented on #2808
@rt4914 Can I take up this issue ???

[2021-03-17 10:04] justdvnsh commented on #2215
@ARJUPTA I'd like to take up the second sub part of this issue !!

[2021-03-17 10:07] justdvnsh commented on #1266
@rt4914 Can I take up this issue ??

[2021-03-17 10:41] sakshampruthi commented on #2812
If it's available can I work on this?

[2021-03-17 11:53] rt4914 commented on #2819
Duplicate #2631

[2021-03-17 11:53] #2819 closed, assigned to arjunrkaushik

[2021-03-17 11:54] rt4914 commented on #2818
Duplicate #2631

[2021-03-17 11:54] #2818 closed, assigned to nobody

[2021-03-17 13:11] rt4914 commented on #1266
@justdvnsh This is actually not a small issue but kind of a big project. Suggest taking some other project. This in overall is part of GSoC this year.

[2021-03-17 13:12] rt4914 commented on #2215
@justdvnsh Second part is already getting solved in #2784 . And first part is assigned to Arjun. I will assign the complete issue to Arjun to avoid confusion

[2021-03-17 13:13] rt4914 commented on #2215
Closing this as issue one is already solved.

[2021-03-17 13:13] #2215 closed, assigned to Arjupta

[2021-03-17 13:15] justdvnsh commented on #2808
@rt4914 This would be my 3rd first issue for this org. Can you please point me out to some higher level issue ?

[2021-03-17 13:19] rt4914 commented on #352
Unassigning as mocks are not yet ready for this.

[2021-03-17 15:44] rt4914 commented on #2808
@justdvnsh Sent you an email.

[2021-03-17 16:02] rt4914 commented on #1048
Yeah, I thought so too. Closing this as it is fixed in some other PR.

[2021-03-17 16:02] #1048 closed, assigned to ArpitShukIa

[2021-03-17 16:03] rt4914 commented on #2131
Progress bar as well as label.

[2021-03-17 16:07] justdvnsh commented on #2808
@rt4914 Thank you for the email. I have read and replied to it. Thanks

[2021-03-17 16:25] Akshat-gour commented on #2879
@fsharpasharp
need help regarding building the app through bazel
causing this error
![1](https://user-images.githubusercontent.com/60266468/111501931-64f59a80-876b-11eb-8854-19c54e321e4d.png)
![2](https://user-images.githubusercontent.com/60266468/111501942-66bf5e00-876b-11eb-88b4-7f4d193b08fc.png)

[2021-03-17 16:31] Akshat-gour commented on #2879
**i setup every thing as asked in instruction
my .bazelrc file**
![image](https://user-images.githubusercontent.com/60266468/111502602-01b83800-876c-11eb-8730-ec6a71f51638.png)
**my .bashrc file**
![image](https://user-images.githubusercontent.com/60266468/111502818-35935d80-876c-11eb-941e-2532c158ba59.png)

[2021-03-17 16:57] ihrishix commented on #2931
Hey there, I'm new to open source. Can you tell me what to do exactly in this ? @fsharpasharp

[2021-03-17 17:46] fsharpasharp commented on #2931
Hi @rushikeshsuryawanshi. This issue is assigned already. Please read https://github.com/oppia/oppia-android/wiki for the onboarding instructions.

[2021-03-17 18:57] ChiragKalra commented on #2810
I would like to work on this issue.

[2021-03-17 19:19] ChiragKalra commented on #2833
I would like to work on StoryFragmentTest.

[2021-03-17 19:22] ChiragKalra commented on #2833
I would like to work on StoryFragmentTest.

[2021-03-18 06:10] #2826 closed, assigned to 4shutosh

[2021-03-18 06:30] #2814 closed, assigned to mrwhoknows55

[2021-03-18 06:40] Sparsh1212 commented on #2536
@anandwana001 Please confirm this.

[2021-03-18 06:42] anandwana001 commented on #2536
Sounds good to me @Sparsh1212

[2021-03-18 12:22] #2820 closed, assigned to yashraj-01

[2021-03-18 13:55] sakshampruthi commented on #2812
Getting the following error
<img width="1264" alt="Screenshot 2021-03-18 at 7 22 59 PM" src="https://user-images.githubusercontent.com/43927531/111637610-99c32980-881f-11eb-8f25-572b9e2b67c3.png">
at
<img width="942" alt="Screenshot 2021-03-18 at 7 23 45 PM" src="https://user-images.githubusercontent.com/43927531/111637627-9fb90a80-881f-11eb-933e-ecc9afabe4d7.png">

[2021-03-18 15:09] Sparsh1212 commented on #2536
@anandwana001 I am facing problem while importing `atPositionOnView` when shifting the function to the central utility.

`import org.oppia.android.app.recyclerview.RecyclerViewMatcher.Companion.atPositionOnView`

And I think its not a gradle sync issue, do we have to add any dependency in the `build.gradle` and `BUILD.bazel` files of the `testing` module in order to use `atPositionOnView`? Please

[2021-03-18 15:23] anandwana001 commented on #2536
Yes, as testing is a new module so you have to check if the required dependency is already there or not, if not we have to add it.

[2021-03-18 17:04] FareesHussain opened #2938 "Using bazel to build the shell scripts [Blocked on Discussion]"
**Is your feature request related to a problem? Please describe.**
When setting up the project different tools are used
 - bash to run the shell scripts
 - Bazel to build the app

there might be some new features that require some new tools too
inspired from oppia-web that when setting up the project the pre-commit and pre-push hooks are added

This will reduce a lot of FAQs only requirement for t

[2021-03-18 17:04] FareesHussain commented on #2938
cc/ @BenHenning @fsharpasharp

[2021-03-18 17:16] FareesHussain commented on #2938
This feature can be used now but the purpose for this will be only after the complete migration of **gradle** to **bazel**

[2021-03-18 17:17] ChiragKalra commented on #501
I would like to work on this issue.

[2021-03-19 04:08] BenHenning commented on #1675
Since this is blocking some of @jcqli's work, going to go ahead and patch the repository to properly hook into Moshi. Going to think about how to actually verify this is working, too (e.g. by introducing additional testing).

[2021-03-19 04:33] BenHenning opened #2940 "Locked lesson thumbnails don't blur when loaded as SVGs"
It seems that when loading real SVG thumbnails, the lock icon appears correct for chapters that can't yet be played, but the blur doesn't work (presumably because the blur transformation is a BitmapTransformation).

[2021-03-19 04:36] BenHenning opened #2941 "Glide pipeline doesn't work on Bazel"
GlideRepository doesn't actually generate the correct implementation on Bazel, which means the SVG pipeline doesn't correctly get triggered.

[2021-03-19 04:36] BenHenning commented on #2941
While this isn't strictly speaking alpha-tied, we may use Bazel to create our signed build (it's not yet clear).

[2021-03-19 04:37] BenHenning opened #2942 "LaTeX SVGs support"
Some of the alpha lessons require LaTeX. Note that this issue is tracking introducing support for rendering LaTeX SVGs, not rendering LaTeX itself.

[2021-03-19 04:50] rt4914 commented on #501
@BenHenning Is this still valid issue?

[2021-03-19 04:50] rt4914 commented on #501
@ChiragKalra Suggest picking some other issue as it might be blocked on discussion.

[2021-03-19 04:55] ChiragKalra commented on #497
I would like to work on this issue.

[2021-03-19 04:59] BenHenning opened #2943 "Thumbnails don't properly ignore the alpha channel"
If we receive a color that includes a 0 alpha channel, the color appears as transparent due to app-level processing of the RGB value not including a filled-in alpha channel. The proto properly defines that it only contains RGB values, but the app is using it in cases where Android is expecting ARGB values. This results in all current thumbnails appearing with white backgrounds when using real less

[2021-03-19 05:01] BenHenning commented on #2943
Correction: some of our data-binding adapters do properly add an alpha channel, but other app module locations don't consistently do this.

[2021-03-19 05:32] #2891 closed, assigned to TheRealJessicaLi

[2021-03-19 05:33] #2762 closed, assigned to Victor-Titan

[2021-03-19 05:46] BenHenning opened #2944 "New localization structures for item selection & multiple choice aren't supported by the app"
New localization support for item selection & multiple choice interactions aren't supported by the app. We'll need to add support both for these answer types, and will need to update existing lessons.

[2021-03-19 08:58] Akshat-gour commented on #2879
@fsharpasharp Please help

[2021-03-19 09:11] fsharpasharp commented on #2879
I'll take a look later today. Are you on the latest version of the repository?

[2021-03-19 09:33] yashraj-01 commented on #2880
@fsharpasharp can I work on this issue?

[2021-03-19 09:36] fsharpasharp commented on #2880
Thanks @yashraj-iitr. Let me know if you have any questions.

[2021-03-19 09:46] FareesHussain commented on #2516
@fsharpasharp I am looking to work on this. can you specify why this is blocked and when to work on this

[2021-03-19 09:54] fsharpasharp commented on #2516
Hi @FareesHussain. The scope of this issue is a bit too large and there's some circular dependencies that needs to be broken out (bazel doesn't allow circular dependencies). For now, I want to modularize all the low hanging fruit before moving on to the app module, which is more complex.

[2021-03-19 15:19] prayutsu opened #2947 "Test cases are flaking in the FakeOppiaClockTest"
**Describe the bug**
A clear and concise description of what the bug is.
The test cases `testGetCurrentCalendar_wallClockMode_returnsCalendarWithCurrentTimeMillis()` and `testGetCurrentTimeMs_wallClockMode_returnsCurrentTimeMillis ` are flaky.

Failure error -
[code]

**Expected behavior**
The test cases should always pass.

**Screenshots**
If applicable, add screenshots or videos to help explain

[2021-03-19 16:49] anandwana001 commented on #2947
@prayutsu It will be helpful if you add the failure result.

[2021-03-19 17:08] FareesHussain opened #2950 "Tracking all the bazel setup related issues"
## Keeping Track of all the bazel related errors and how to resolve them

### Instructions on how to add a bazel setup error here
*Check out the [Bazel setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) before adding a comment*

**Include the following in the comment**
- Run the following commands to verify the basic setup
`echo $ANDROID_HOME` -> **/hom

[2021-03-19 19:42] Victor-Titan commented on #2917
@fsharpasharp I can't find protobuff dependencies [here](https://github.com/oppia/oppia-android/blob/a70d9b016f0d77dd30c4939041f82ea02ee28d1d/third_party/versions.bzl#L26) and they're required for the BundleExtensions.kt file. Can you suggest some source for these third party dependencies?

[2021-03-19 20:22] FareesHussain commented on #2917
@Victor-Titan You can use `//model` target as a dep here
Reference
https://github.com/oppia/oppia-android/blob/a70d9b016f0d77dd30c4939041f82ea02ee28d1d/utility/BUILD.bazel#L22

[2021-03-19 21:02] fsharpasharp commented on #2917
That's possible, @FareesHussain, but we are also looking to remove the model library. Ideally, we want to have the dependency that only pertains to the imports

[code]

I think adding any proto from model as a dependency is going to work as it indirectly seems to expose those, but we'd optimally want to only depend on something that provides those three imports.

[2021-03-19 21:28] fsharpasharp commented on #2917
I think we need to add

```com.google.protobuf:protoc:3.0.0```

and/or

[code]

to versions.bzl and add that as the dependency.

[2021-03-19 22:04] BenHenning opened #2951 "Retrofit needs to have proper threading controls"
Retrofit needs:
1. To use our threading dispatchers
2. Needs to have proper adaption with DataProvider (preferably in a way where no one ever interacts with Retrofit directly to avoid accidentally introducing synchronous calls)

[2021-03-19 22:36] BenHenning opened #2952 "Need support for disabling the practice tab"
Since there are very few questions available in production, we need to be able to disable the practice tab so that users don't run into a broken or confusing experience. This will be used in the next alpha release.

[2021-03-19 22:40] BenHenning opened #2953 "Concept cards don't open from revision cards"
**Describe the bug**
Concept cards don't seem to open when attempted from concept cards.
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open new fractions lesson in the alpha build
2. Navigate to revision tab
3. Open 'Comparing Fractions'
4. Tap ``convert them into fractions with the same denominator Open Concept Card``
5. Observe that not

[2021-03-20 00:38] anandwana001 commented on #2950
Cc @BenHenning

[2021-03-20 00:40] BenHenning commented on #2947
Thanks for filing this @prayutsu! 1% flaky isn't too bad, but this might be an easy issue to fix. Going to try a 1000x run locally to see what the failure rate is for me.

[2021-03-20 01:52] BenHenning commented on #2947
Ah, wow it is almost exactly 1%. I also see 10/1000 runs failing. There are 2 tests that I see failing:
- testGetCurrentCalendar_wallClockMode_returnsCalendarWithCurrentTimeMillis (9/1000)
- testGetCurrentTimeMs_wallClockMode_returnsCurrentTimeMillis (1/1000)

Going to see if the first one fails when run in isolation. To get a 90% repro rate, we will need to run the test 255 times (77 times is eno

[2021-03-20 01:54] BenHenning commented on #2947
Ah, interesting. When run in isolation, testGetCurrentCalendar_wallClockMode_returnsCalendarWithCurrentTimeMillis fails 100% of the time. That almost means that the test is dependent on test order/other test state, so if it doesn't get the state it needs (e.g. out of order or run on its own) it fails.

testGetCurrentTimeMs_wallClockMode_returnsCurrentTimeMillis failed 4/10 times when run in isolat

[2021-03-20 01:59] BenHenning commented on #2947
After auditing the class, I'm fairly certain these will be the only tests that cause issues since they're the ones dealing with real system time.

[2021-03-20 02:00] BenHenning commented on #2947
My best guess: if either of the tests are the first to run in the suite they will fail due to extra delay when loading Robolectric dependencies (e.g. when calling into the system clock) which causes a bigger delay than the test expects (4ms).

[2021-03-20 02:02] BenHenning commented on #2947
Based on the above, I think we can just increase the delay by a lot (e.g. to ~100ms) and that should provide a lot more safety in running the test. Note that it may also be the case that this test flakes more often in slower environments, but given how tight the time range is it still may not be that noticeable.

[2021-03-20 02:05] BenHenning commented on #2940
Related: https://github.com/bumptech/glide/issues/2631

[2021-03-20 02:56] BenHenning commented on #2893
Per https://github.com/oppia/oppia-android/issues/1801#issuecomment-762203630 the issue seems the same. This issue is also potentially quite a bit harder than it seems at the surface. We need to be properly synchronizing audio state across threads--my concern is that any fixes at this point will still leave other holes that need to be patched without a systemic fix.

Closing this issue in favor of

[2021-03-20 02:56] #2893 closed, assigned to nobody

[2021-03-20 02:59] FareesHussain commented on #2917
@fsharpasharp I feel like the above dependencies are not going to work they are related to protoc i.e, to build the proto_library (.proto files) and what we need here is protobuf

Let me know if I'm missing something here.

@Victor-Titan try this incase the above dependencies doesn't work
[code]

[2021-03-20 03:32] #2882 closed, assigned to Victor-Titan

[2021-03-20 03:42] Victor-Titan commented on #2917
Ok @FareesHussain

[2021-03-20 05:25] prayutsu commented on #2950
This becomes a little complicated when you have both python2 and python3 on your system. Even after following these steps, I kept facing error, then upgrading my python2 version worked for me.

[2021-03-20 05:48] fsharpasharp commented on #2917
Yeah, that looks right. Thanks for finding the underlying dependency.

[2021-03-20 05:54] ArpitShukIa commented on #2092
@anandwana001 Can I work on this?

[2021-03-20 06:24] Victor-Titan commented on #2917
@fsharpasharp @FareesHussain I tried both dependencies and both gave me [this](https://gist.github.com/Victor-Titan/609c43616bc4697d071abbe9d3d5c2eb) error. I'll make a draft PR so that you can just double check if I've modified the other bazel files properly or not.

[2021-03-20 06:26] fsharpasharp commented on #2917
That look good. Now add the new library as a dependency to where it is needed.

[2021-03-20 06:28] Victor-Titan commented on #2917
I figured making the visibility public and adding the library in the utility/BUILD.bazel would make sure no error was caused because the utility file is imported everywhere.

[2021-03-20 06:34] FareesHussain commented on #2917
can you create a draft pr to avoid confusion here.
I tried using `"com.google.protobuf:protobuf-lite": "3.0.0"` it worked for me when I ran `bazel build :all`

[2021-03-20 06:40] Victor-Titan commented on #2917
I'm sorry, I found my mistake. I forgot to convert the '.' and the ':' to '_'. The app builds now. Will make a PR shortly.

[2021-03-20 06:43] fsharpasharp commented on #2917
Yes, the format of the third party dependencies is not obvious. I can update the instructions next time to include their converted names.

[2021-03-20 06:45] Victor-Titan commented on #2917
@fsharpasharp the instructions for that are given in the [third_party dependencies](https://github.com/oppia/oppia-android/blob/a70d9b016f0d77dd30c4939041f82ea02ee28d1d/third_party/versions.bzl). It was my fault for forgetting to do that.

[2021-03-20 07:05] FareesHussain commented on #2917
Yes, It's already mentioned here.
https://github.com/oppia/oppia-android/blob/0a374bdde6b9d73f50ea800ebade891aa23e888e/third_party/versions.bzl#L10-L13

[2021-03-20 10:31] Pranav-Bobde commented on #2806
Can i be assigned this issue? This will be my first time taking an issue. So, please help/guide me to make it through.

[2021-03-20 13:21] prayutsu commented on #2947
Yes, I got the same behavior, the tests failed more times if run in isolation.

[2021-03-20 13:22] prayutsu commented on #2947
I also thought on similar lines but I just thought of increasing the delay by 20 ms.

[2021-03-20 14:12] Victor-Titan commented on #1599
Can you please explain what entails in configuring the plugin? How exactly should on go about it?

[2021-03-20 14:36] sakets3010 commented on #2749
@rt4914 i would like to work upon this, if its still available. Thanks!

[2021-03-21 00:28] BenHenning commented on #2432
This requires some design. It could be done now, but part of this issue is defining the flavors and and how they should be built/what they should contain. It might be best to wait until feature gating is done before starting this.

[2021-03-21 01:01] #2630 closed, assigned to Sparsh1212

[2021-03-21 14:02] 4shutosh commented on #1292
I would like to work on this issue

[2021-03-21 14:30] 4shutosh commented on #1292
As per my current understanding, this needs work under `AudioFragment` Fragment in turn which is under `ExplorationFragment`
inside the `ExplorationActivity`.

This will require saving and restoring the state of `ExplorationFragment` and further `AudioFragment` saving and restoring the `PlayStatus` / `UiAudioPlayStatus` of the audio.

@aggarwalpulkit596 Please correct me if I'm wrong any guidance/

[2021-03-21 17:46] justdvnsh commented on #1383
@rt4914 Okay, So I have found a solution for this issue. It is based on your PR which I took for reference #1384 . I have committed the code, as for now (https://github.com/justdvnsh/oppia-android/commit/7f744252b602d602ebae27b195aadb6d1f0ce976). This is solving all the issues, except one edge case, which is not a very important one, yet I think I can solve it, with a little bit of help.

I am als

[2021-03-21 20:31] yashraj-01 commented on #2880
@fsharpasharp I,m having trouble interpreting this error. Please help me to understand it.
![Screenshot from 2021-03-22 01-59-41](https://user-images.githubusercontent.com/63469151/111919988-84196280-8ab2-11eb-8adc-0a5e238bb20d.png)

[2021-03-21 23:07] BenHenning opened #2960 "Add recommendation graph for alpha"
We need to ensure the alpha build has the correct recommendation graph given the lessons that will be included. This can't be checked in directly to develop and instead needs to be checked into the release branch directly.

[2021-03-21 23:10] BenHenning opened #2961 "Set up alpha-specific configurations"
There are various alpha-specific configurations that need to be checked directly into the release branch:
1. Enabling local asset laoding
2. Enabling loading from protos
3. Disabling the questions tab
4. Setting up the alpha lesson-specific recommendation graph
6. Setting up app auto expiration

[2021-03-21 23:11] BenHenning commented on #2960
#2961 includes this work.

[2021-03-21 23:11] #2960 closed, assigned to BenHenning

[2021-03-21 23:16] BenHenning opened #2962 "Lesson thumbnails are not size-to-fit"
**Describe the bug**
Certain lesson thumbnails (which are especially evident for the new alpha lessons) are not properly fitting within their box.

**To Reproduce**
Steps to reproduce the behavior:
1. Load up the alpha version of the app with alpha lessons
2. Create a new profile or log into an unplayed profile
3. Notice 'What are the Place Values' thumbnail does not fit (as compared with [web](ht

[2021-03-21 23:18] BenHenning commented on #2962
Also: note that the issue is with **story** thumbnails (which is why the web color is different--that's a chapter thumbnail). To see how the story thumbnail looks on web, see: https://www.oppia.org/learn/math/place-values.

[2021-03-22 10:05] fsharpasharp commented on #2880
Create a pull request to make it easier to diagnose. For this one, you need to add the annotations as a dependenc
y to prod_module.

[code]

[2021-03-22 11:39] Karanjot-singh commented on #2823
Can I work on this issue? @prayutsu I might need some help in testing as I am fairly new to contributing.

[2021-03-22 12:55] jonathanalvares9009 commented on #1602
@miaboloix can I take this issue?

[2021-03-22 13:53] Karanjot-singh commented on #2833
I would like to work on TopicPracticeFragmentTest @prayutsu

[2021-03-22 14:00] rt4914 commented on #1602
@BenHenning PTAL.

[2021-03-22 14:01] rt4914 commented on #2823
@Karanjot-singh This issue is already assigned to @AnubhavPabby

[2021-03-22 14:14] rt4914 commented on #1383
@justdvnsh Create a PR so that I can easily check it.
Also, whatever issue you have identified, file a bug for that and cc me to cross verify. Thanks

[2021-03-22 14:16] rt4914 commented on #2749
@sakets3010 This is not a good-first-issue. Suggest solving few [good-first-issues](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22) before taking harder issues.

[2021-03-22 16:22] rt4914 commented on #2809
@rushikeshsuryawanshi In future please make sure you always comment on PR mentioning that you are working on it before starting so that other contributors are aware too.

[2021-03-22 17:42] starboi02 commented on #2761
@fsharpasharp @rt4914 can I work on it?

[2021-03-22 18:14] fsharpasharp commented on #2761
Yes, thanks!

[2021-03-22 19:21] jcqli opened #2967 "Refactor package structure for service tests & mocked services"
**Describe the bug**
Mock services cannot be used in other tests since they are created in a testing package in the data module. Additionally, the tests for the services are improperly named without "service".
For example, the test for the topic service `MockTopicTest` uses the `MockTopicService` in the same module. It should  instead be named `TopicServiceTest` using the `MockTopicService` provid

[2021-03-22 19:50] BenHenning commented on #2962
/cc @rt4914

[2021-03-22 19:51] BenHenning commented on #2947
I think the main thing we need to check here is that the test _has_ a value since it's real clock time. A buffer of 100 milliseconds should be fine so long as the value is larger than what a fake value would be (as a proxy for using "correct time").

[2021-03-22 20:21] prayutsu opened #2969 "Typo in `versions.bzl`"
There's a typo in a comment in the versions.bzl at line number 8 - https://github.com/oppia/oppia-android/blob/75c25b8094a9a84197397cd40887a491f8118d0f/third_party/versions.bzl#L8

Solution -
Replace "mutli" with "multi".

[2021-03-22 21:31] prayutsu commented on #2947
@BenHenning Sounds good to me.

[2021-03-23 00:53] BenHenning opened #2971 "Maven dependencies can pull in extra versions of dependencies already in Bazel build graph"
See https://github.com/bazelbuild/rules_jvm_external/issues/540 for specifics. It's possible for our current build graph to include multiple versions of the same runtime dependencies, which in turn can result in issues like our protos appearing with errors in Android Studio due to being cross-referenced with an earlier protobuf-java dependency but still building on the command line & syncing.

Sho

[2021-03-23 00:53] BenHenning commented on #2971
/cc @fsharpasharp since this is pertinent to Bazel.

[2021-03-23 01:25] BenHenning commented on #2971
Note that I found a way to work around my specific issue: I traced the protobuf dependency back to a Google accessibility library that espresso-contrib depends on. That library updated its protobuf dependency a few years ago, but espresso-contrib only recently updated to the version of the accessibility library with newer protobuf. I just moved us to 3.4.0-alpha05 to get this new dependency (only

[2021-03-23 01:38] jcqli opened #2972 "Create cron job for scrubbing reports"
Create and implement a one-off cron job in the Oppia web repo that runs daily to scrub any reports that have been stored for 90 days.

[2021-03-23 01:50] #2812 closed, assigned to sakshampruthi

[2021-03-23 01:51] #2810 closed, assigned to ChiragKalra

[2021-03-23 02:12] #2883 closed, assigned to jonathanalvares9009

[2021-03-23 02:25] BenHenning opened #2973 "Classifier failures result in a broken experience in-exploration"
**Is your feature request related to a problem? Please describe.**
We need to have error handling for when something breaks in the classifier flow. For example, if a classifier type mismatches a failure is logged in the console and the submit button gets stuck, leaving the user unable to proceed. We should let the user know something is broken, and provide them some path of remediation (though the

[2021-03-23 02:27] BenHenning opened #2974 "Drag & drop is slow to respond on slow devices"
**Describe the bug**
When using drag & drop on a slow device (e.g. Nexus 5X), the user has to tap & press for several seconds before getting the haptic feedback they've selected an item and can  now drag it.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a slow device (such as a Nexus 5X)
2. Navigate to the prototype exploration in a local developer build
3. Play to the drag & drop inte

[2021-03-23 03:44] ChiragKalra commented on #2974
@BenHenning Can I work on this issue?

[2021-03-23 04:05] jonathanalvares9009 commented on #1602
@BenHenning can I start working on this issue?

[2021-03-23 04:11] anandwana001 commented on #2833
@arinarora18 any update on this?

[2021-03-23 04:13] #2815 closed, assigned to starboi02

[2021-03-23 04:33] BenHenning opened #2975 "SVG-heavy screens are laggy"
**Describe the bug**
Scrolling up/down on screens that have a lot of vector-based images can be slow on lower-end devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the alpha version of the app (debug build)
2. Play through the beginning of 'Comparing Numbers' lesson in 'Place Values' until reaching the state starting with: "But, what if the two numbers have the same number of pla

[2021-03-23 04:57] BenHenning commented on #2134
Aha, I just fixed this in my local alpha work. I actually thought I caused this--glad to see it fixed.

[2021-03-23 05:33] BenHenning opened #2976 "Add support for loading questions from protos"
This is the tracking issue for supporting downloading & loading questions in the Android app. This is primarily dependent on the content pipeline creating sufficient questions to justify bringing them into the app.

[2021-03-23 06:55] pankajpoply45 commented on #2969
@prayutsu  I want to work on this issue

[2021-03-23 06:59] prayutsu commented on #2969
@pankajpoply45 We do not recommend taking up this issue as your first issue because it is just a simple fix. You can claim to fix a file in issue #2833 as your first issue. Also, please got through our [wiki](https://github.com/oppia/oppia-android/wiki) before contributing.
Thanks!

[2021-03-23 07:31] pankajpoply45 commented on #2833
I want to work on OptionsFragmentTest File

[2021-03-23 07:54] BenHenning commented on #2944
Note that this issue is only tracking updating the lesson structure support to include localizations but not at actually finish localization support itself.

[2021-03-23 08:36] rt4914 commented on #1602
@jonathanalvares9009 I think this is blocked till we finish `Bazel Stage 1`.

[2021-03-23 12:31] ArpitShukIa commented on #2780
@anandwana001 @rt4914 Can I work on this?

[2021-03-23 12:59] anandwana001 commented on #2780
@Akshat-gour are you still working on this?

[2021-03-23 13:02] Akshat-gour commented on #2780
@anandwana001
Actually, i am not able to find the solution to it.
u can Assign it to @ArpitShukIa

[2021-03-23 13:59] jonathanalvares9009 commented on #2637
@rt4914 I would like to take this issue if it's not yet complete can I get a little more context on what I'll have to do?

[2021-03-23 14:05] jonathanalvares9009 commented on #2759
@fsharpasharp can I take this issue?

[2021-03-23 15:14] fsharpasharp commented on #2759
Yes, thanks!

[2021-03-23 16:01] ArpitShukIa commented on #2780
@anandwana001 Will it be okay to use [this](https://github.com/oppia/oppia-android/issues/2780#issuecomment-800106728) approach? (It does solve the problem)

[2021-03-23 17:57] Karanjot-singh commented on #2768
I would like to work on this issue @prayutsu

[2021-03-23 18:50] fsharpasharp opened #2989 "Create a BUILD.bazel file for the time package in the testing module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-23 19:21] BenHenning opened #2990 "Ensure all test files have Bazel test targets"
Currently, we use a glob & generation code in Bazel to ensure all test files have corresponding test targets. However, as we modularize tests and remove that glob we'll need to make sure all new tests are properly added to Bazel. To ensure this, we should build a script that runs in CI which does the following:

1. Enumerate all test files (those are files that match ``<module>/src/test/.../*Test.

[2021-03-23 19:23] BenHenning commented on #2990
Suggest making a local script that outputs all test files missing test targets, and the CI check just needs to verify that the output is empty to pass. That way people can use the script locally to figure out which test targets need to be added.

[2021-03-23 20:55] Karanjot-singh commented on #2947
I would like to work on this @prayutsu but I might need some help as I don't understand the reason for flaky tests yet

[2021-03-23 22:28] anandwana001 commented on #2780
let's have a draft pr with this approach with the test case, and will review it.

[2021-03-24 01:01] jcqli opened #2994 "Update data objects structure to sync with backend storage"
**Describe the bug**
The data objects must be updated to include a GAE object for entry point as well as the report schema version for backend storage compatibility.

[2021-03-24 07:04] jonathanalvares9009 commented on #2637
@rt4914 I'm trying to solve part 1 bug. I used the app with talkback. So when I click on something to raise it says oppia n then the name of the unit eg: What is a fraction?. I have to replace oppia with skill page right don't touch the header of the revision card n also write test for the implementation. Please correct if I've misunderstood the issue.

[2021-03-24 07:09] prayutsu commented on #2947
@Karanjot-singh If you carefully take a look at the assertion of the test -
[code]
you can see that we check that if reportedTime lies in the range [ currentTime-2, currentTime+2 ] or not, which is a very small range, although currentTime and reportedTime are initialized one after another but the difference between their actual values can vary more than that.
So, the current buffer range for the r

[2021-03-24 07:16] prayutsu commented on #2947
Also, you should verify that the test cases are always passing by running these flaky test cases about 100 times each in isolation.
E.g -
And you should also verify that these test cases also pass when the whole test file is run 100 times.
So, you need to attach 3 screenshots of passing test cases to your PR description.

To run the test case 100 times, you need to follow these steps -
When you wi

[2021-03-24 07:19] Karanjot-singh commented on #2947
@prayutsu Yes, That makes sense!

[2021-03-24 07:23] justdvnsh commented on #1383
@rt4914 Create a PR as you asked.

[2021-03-24 07:44] Karanjot-singh commented on #2768
@prayutsu  Please address the following queries as well
1. After completion of task 1 and 2 as mentioned in the issue above, The build was successful. Where am I supposed to add the deps dependency //model:voiceover_java_proto_lite (as per task 3)?

2. How do I lint check my BUILD.bazel file?

3. The following unit Tests failed in the old PR Could you help me with these so that I don't make the sa

[2021-03-24 08:25] fsharpasharp commented on #2768
@Karanjot-singh, if you link a PR, I can answer all these questions for you.

[2021-03-24 08:29] Karanjot-singh commented on #2768
Thank you @fsharpasharp I am working on a new PR... I will link it soon

[2021-03-24 09:02] Karanjot-singh commented on #2768
Kindly refer #2999

[2021-03-24 11:12] anandwana001 opened #3000 "Use Buildifier with Bazel"
**Is your feature request related to a problem? Please describe.**
Currently, on GitHub checks, we are using Buildifier by downloading the binary and checking the file formatting.

**Describe the solution you'd like**
Try to implement with Bazel on GitHub checks as well as for pre-commit.

**Additional context**
Reference - https://github.com/bazelbuild/buildtools/blob/master/buildifier/README.md#

[2021-03-24 13:09] ArpitShukIa commented on #2780
@anandwana001 Okay, but can u tell what should be the test case. Will it have to iterate over all the topics in the recycler view and assert that their thumbnails are loaded?

[2021-03-24 15:52] anandwana001 commented on #2780
I guess this is something common to all the topics. So, I guess the problem we are solving here is:
Does the thumbnail of the last item is visible or not in landscape mode!!
So this will be our test case.

[2021-03-24 16:42] ArpitShukIa commented on #2780
@anandwana001 Actually dependencies are being injected in each View independent of any other View. So, just checking for the last item won't guarantee that all thumbnails have been loaded. And it looks like the problem exists in both portrait and landscape mode.

https://user-images.githubusercontent.com/51705072/112348155-9206f780-8ced-11eb-9d92-ba6aca73b01f.mp4

https://user-images.githubusercon

[2021-03-24 19:28] BenHenning opened #3003 "Math expressions can be cut off when they're at the bottom of the card"
**Describe the bug**
Math expressions can be cut off when they're at the bottom of the card, likely due to the extra translation that we're doing.

**To Reproduce**
Steps to reproduce the behavior:
1. Play through most of 'The meaning of Equal Parts" Fractions lesson
2. Reach the state starting with "Mr. Baker chuckled"
3. Scroll to the bottom of the content card
4. Observe that the 1/2 + 1/4 is b

[2021-03-24 19:34] BenHenning opened #3004 "Oppia lesson content still includes oppia-noninteractive-link"
**Describe the bug**
Some lessons in the alpha app still include oppia-noninteractive-link. This isn't supported by the app and isn't planned to be. We should replace these with concept card links, instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Play through most of "The Meaning of Equal Parts" Fractions lesson
2. On the card that starts with "That's great!" answer with "9/2"
3. Obs

[2021-03-24 19:37] BenHenning opened #3005 "Images are cut off in revision cards"
**Describe the bug**
Images are not being properly sized to the available space and are instead being rendered at their native resolution. On some screens, this results in them being cut-off.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the "Combining Ratios" revision card
2. Observe that the graphics are cut-off when compared with the [web platform](https://www.oppia.org/lear

[2021-03-24 20:36] Karanjot-singh opened #3006 "User Perceived Jank: Previous responses menu glitches on being expanded and collapsed repeatedly"
**Describe the bug**
Previous responses glitches on being expanded and collapsed repeatedly (flaky)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Topic: Fractions'
2. Click on 'Lessons'
3. Head to "Mathew Goes to the bakery"
4. Click "Continue" thrice till you reach the question
5. Scroll down to view the options
6. Select two fifth then one fifth (select Incorrect options more tha

[2021-03-24 20:44] Karanjot-singh commented on #3006
@rt4914 Could you please verify if this issue is not duplicate?

[2021-03-25 01:06] BenHenning commented on #3006
So far as I can tell this isn't a duplicate, and probably fits under our "user-perceived jank" project.

Thanks for filing this @Karanjot-singh! This is a really nice bug report.

[2021-03-25 01:38] BenHenning opened #3007 "Update ExplorationProgressControllerTest to support protos"
#2978 is adding support for loading text protos in place of JSON, and this is going to be enabled in ExplorationDataControllerTest, TopicControllerTest, and TopicListControllerTest. As part of this work, old explorations that couldn't easily be migrated were dropped (one of which is test_exp_id_0 that ExplorationProgressControllerTest heavily depends on). Since the progress controller is primarily

[2021-03-25 02:03] anandwana001 commented on #2780
@ArpitShukIa Should we test is all dependencies injected or not?

[2021-03-25 02:58] #2631 closed, assigned to abhinav12k

[2021-03-25 03:17] #2816 closed, assigned to starboi02

[2021-03-25 04:36] Karanjot-singh opened #3008 "Audio Language preferences reset upon changing the display orientation"
**Describe the bug**
Language preferences for audio are reset to English on changing the display orientation from portrait to landscape and vice-versa

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'Topic: Fractions'
2. Click on 'Lessons'
3. Head to "Mathew Goes to the bakery"
4. Enable audio from the top and select "Hindi" or "Hinglish"
5. Rotate the device
6. Play the audio again

[2021-03-25 04:42] Karanjot-singh commented on #3008
@rt4914 Could you please verify if this issue is not duplicate?

[2021-03-25 06:09] ArpitShukIa commented on #2780
@anandwana001 In that case also we will have to check for all items in recycler views because each of them is independently requesting dependencies from Dagger.
I tried to figure out a way so that all instances of `LessonThumbnailImageView` in the recycler view can share common instances of dependencies (like passing dependencies from outside just like the way we are passing `entityId`, `entityTyp

[2021-03-25 08:07] jonathanalvares9009 commented on #2637
@rt4914 sir I wrote the code that says skill page instead of oppia. Do I have to write a test for the same or is the change is enough?

[2021-03-25 11:54] adrishyantee commented on #2767
I want to work on this issue. While I was going through the guide. I found that installing Bazel is not mentioned for Windows. But I have Windows operating system what can I do about this?

[2021-03-25 11:59] rt4914 commented on #2767
@anandwana001 Can you have a look? (Maybe something that needs to be mentioned in wiki.)

[2021-03-25 12:06] adrishyantee commented on #2767
@rt4914 Do you know how to install Bazel in Windows? I want to contribute to this section of the app but I am not getting such help from the Bazel installation guide.

[2021-03-25 12:44] anandwana001 commented on #2767
@adrishyantee If you take a look at out Bazel installation steps here - https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions#installation

Also, in the first step where you can find the install link which will take you to the official Bazel website - https://docs.bazel.build/versions/master/install.html

Then, you can follow the same commands, but keep note of the warning we

[2021-03-25 14:56] adrishyantee commented on #2767
@anandwana001 I tried building Bazel on Windows and I found that there's a need to update the ~/.bazelrc file. Hope after this, the environment will be all set.

[2021-03-25 15:48] anandwana001 commented on #2767
So, is it building correctly? `//:oppia`

[2021-03-25 17:07] adrishyantee commented on #2767
I am actually stuck after this I tried but it's not building.
 The problem now is at this point, that is, [here](https://github.com/oppia/oppia-bazel-tools) at the point where we have to

 ---
 Update your ~/.bazelrc file to override the Android tools repository to point to this new location, and enable AndroidX testing. Or, just run this command (note that this overrides your profile-level bazelr

[2021-03-25 17:08] anandwana001 commented on #2767
We had updated the wiki page a bit, could you take a look at this - https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions#installation

[2021-03-25 17:12] adrishyantee commented on #2767
Okay, I get it! Maybe switching to Linux will help to a large extent. I will install Ubuntu then and then start contributing! I will require a day for the setup and I will be back. Thanks a lot!

[2021-03-25 22:45] jcqli opened #3016 "Implement domain layer for feedback reporting"
Implement the domain layer objects used in feedback reporting.
This includes domain objects and their validators, and services that can be performed on these objects for both managing incoming reports and triaging reports in the moderator dashboard.
The controller for managing incoming feedback reports will be included in this issue.

[2021-03-25 23:48] #2967 closed, assigned to jcqli

[2021-03-26 07:06] BenHenning opened #3018 "All Bazel tests are broken"
All Bazel tests seem broken in ToT likely from #2970. See sample error: https://github.com/oppia/oppia-android/actions/runs/688282445 & https://github.com/oppia/oppia-android/runs/2197898747?check_suite_focus=true:

<details>

[code]

</details>

[2021-03-26 07:07] BenHenning commented on #3018
Since Bazel tests aren't marked as required, I'll fix this forward with another, related Bazel change.

[2021-03-26 12:03] imraghav20 commented on #3003
@BenHenning check if the issue is resolved. In my device it looks perfect both in portrait and landscape mode.

![WhatsApp Image 2021-03-26 at 5 30 39 PM](https://user-images.githubusercontent.com/59257038/112628715-45402f80-8e59-11eb-925a-ce195374dd24.jpeg)
<br>
![WhatsApp Image 2021-03-26 at 5 30 39 PM (1)](https://user-images.githubusercontent.com/59257038/112628714-440f0280-8e59-11eb-9fd0-5a94

[2021-03-26 19:42] adrishyantee commented on #2767
@anandwana001 I installed Ubuntu and reached the same state of adding the oppia-bazel-tools. Can you help me now with how to do this step where I was stuck at? I am referring to this section:

---

Update your ~/.bazelrc file to override the Android tools repository to point to this new location, and enable AndroidX testing. Or, just run this command (note that this overrides your profile-level ba

[2021-03-27 07:04] jonathanalvares9009 commented on #3008
Can I work on this issue?

[2021-03-27 07:32] jonathanalvares9009 commented on #3008
@Karanjot-singh this bug only resets the audio to the start. It doesn't change the language. I have tested it on an emulator and also on a physical device.

[2021-03-27 10:00] jonathanalvares9009 commented on #3008
@anandwana001 Can I work on this issue?

[2021-03-27 10:13] jonathanalvares9009 opened #3020 "Audio stops playing when the orientation of the device is changed"
**Describe the bug**
When the orientation is changed the audio stops playing. When you click on the play button it starts playing the audio from the beginning.

**To Reproduce**
Steps to reproduce the behavior:
1.Go to 'Topic: Fractions'
2.Click on 'Lessons'
3.Head to "Mathew Goes to the bakery"
3. Click on the audio play button
4. Rotate the phone

**Expected behavior**
The drive should keep on p

[2021-03-27 10:14] jonathanalvares9009 commented on #3020
@anandwana001 Can you assign me this issue? So that I can start working on it.

[2021-03-27 17:04] imraghav20 commented on #3008
@FareesHussain I guess this issue can be solved in #2557 itself.

Currently, [this function](https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/player/audio/AudioViewModel.kt#L82) is executed again on screen rotation and language settings are changed.

On using `onSavedInstance` method as being used in #2557 we can try saving the selected language.

[2021-03-27 17:54] FareesHussain commented on #3008
@imraghav20 Thanks for the update, if possible I would like other contributors to work on this once it is merged.
and yes this issue will be blocked on #2557 in that case.

[2021-03-27 17:58] imraghav20 commented on #3008
Sure @FareesHussain . Even I would love to take up this issue once your PR is merged.

[2021-03-28 00:07] #2768 closed, assigned to Karanjot-singh

[2021-03-28 02:35] anandwana001 commented on #3020
duplicate - https://github.com/oppia/oppia-android/issues/3008

[2021-03-28 06:52] #3020 closed, assigned to nobody

[2021-03-28 09:25] Akshat-gour commented on #3007
@BenHenning i would like to work on this

[2021-03-28 11:36] jonathanalvares9009 commented on #2975
Can I work on this issue @BenHenning ?

[2021-03-28 16:12] ArpitShukIa commented on #2833
@anandwana001 I want to work on ProfileEditActivityTest

[2021-03-29 04:33] E13ctron commented on #2093
@rt4914  just a doubt should we make the progress bar in the StoryActivity?

[2021-03-29 06:22] E13ctron commented on #2833
@anandwana001 I would like to work on TopicLessonsFragmentTest

[2021-03-29 07:52] Arnold2381 commented on #2804
@rt4914 can I work on this issue?

[2021-03-29 07:52] Arnold2381 commented on #2805
@rt4914 can I work on this issue?

[2021-03-29 11:22] adit19shah commented on #2613
@rt4914 I want to work on first and third part of this issue. i.e. "Merge Title and Description w.r.t. Talkback" and "Need Content Description for Next arrow".

[2021-03-29 13:44] E13ctron commented on #3005
@BenHenning ,I need some help to work on this, I couldn't find an activity like this in the oppia-android app.

[2021-03-29 13:50] adrishyantee commented on #2950
Even after following up on everything mentioned here, I have been always encountering errors while building that says:

---

---
Kindly help me out to solve this error if you know why exactly this error is shown. I read few issues on Github regarding artifacts that are fetched with the help of coursier and they depend on some third-party repositories that are downloaded only if a network proxy is

[2021-03-29 16:39] ArpitShukIa commented on #2809
@rt4914 Can I work on this?

[2021-03-29 17:12] BenHenning opened #3022 "Compute affected tests doesn't handle moved files correctly"
See #2970 & #3018 for context. If files are moved to a new location, compute affected tests won't properly compute affected targets since it seems to primarily use the old targets. Ideally, we should be compute the targets affecting both the old & new files, if possible.

[2021-03-29 17:13] BenHenning commented on #3022
NB: this is a nice issue to dig into for contributors interested in developing their Bazel expertise.

[2021-03-29 19:21] BenHenning opened #3024 "Add support for build tools 31.x+"
#3023 has some context, but it seems that we cannot support the newest Android build tools version due to it removing D8. Bazel is supposed to have a D8 compatibility layer embedded, but it doesn't seem to be working as expected.

That being said, we should move to R8 instead of using the D8 compatibility layer, however per #3023 this doesn't seem to work in our build because we rely on API desuga

[2021-03-29 19:21] BenHenning commented on #3024
Note that this may cause some confusion among contributors if they inadvertently update their build tools past 31.x & try to build the app using Bazel.

@fsharpasharp as FYI.

[2021-03-30 04:34] #2822 closed, assigned to E13ctron

[2021-03-30 04:41] #2880 closed, assigned to yashraj-01

[2021-03-30 04:50] #2994 closed, assigned to jcqli

[2021-03-30 04:52] #2947 closed, assigned to Karanjot-singh

[2021-03-30 05:08] anandwana001 commented on #2863
As per the discussion in a team meeting, we don't require this feature as we do need a blank template sometimes, I am closing this issue.

[2021-03-30 05:08] #2863 closed, assigned to anandwana001

[2021-03-30 05:11] anandwana001 commented on #2539
We haven't seen a Java issue so far from the contributors, so I guess we can close this issue. I will keep an eye on any issues over installations.

[2021-03-30 05:11] #2539 closed, assigned to anandwana001

[2021-03-30 05:12] anandwana001 commented on #637
unassigning myself as this might cover under GSoC this year.

[2021-03-30 05:43] anandwana001 commented on #2780
What can be a possible else case in `checkIfLoadingIsPossible`?

From the architecture view, what should we do if we don't have all the dependencies required by the dependent?
Adding @Srikanth-Kb on thoughts on this pattern.

[2021-03-30 06:26] ArpitShukIa commented on #2780
If loading is not possible right now, we need to defer it to a later time (a few milliseconds).
What we need is a listener which is invoked when a lateinit is initialized. Since we don't have such a thing, waiting for it to be initialised seems like a possible solution to me.

[2021-03-30 12:36] #2756 closed, assigned to yashraj-01

[2021-03-30 13:00] #2592 closed, assigned to chrk2205

[2021-03-30 13:22] E13ctron commented on #3005
@BenHenning , could you guide me to reproduce this issue

[2021-03-30 13:42] rt4914 commented on #2833
@ArpitShukIa done. Thanks.

[2021-03-30 13:47] rt4914 commented on #2093
@Amar-2003 Which progress bar? The mock does not contain any bar in this.

Also I think the mocks have changed slightly so will inform Chantel to update them.

@mschanteltc I think this mock needs to be updated: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/cce938d6-e079-4761-bac0-8bde22ac6348/

This should match with the text of inactive card in this mock: https://xd.

[2021-03-30 13:49] rt4914 commented on #2805
Unassigned @IAmJaishree because of no activity.

[2021-03-30 13:49] rt4914 commented on #2804
Unassigned @IAmJaishree because of no activity.

[2021-03-30 13:51] rt4914 commented on #2975
@jonathanalvares9009 I think it cannot be assigned to you as it will need alpha content for which you won't have access.

[2021-03-30 13:51] E13ctron commented on #2093
@rt4914 I didn't understand what are we meant to do for this issue. :)

[2021-03-30 13:52] rt4914 commented on #2613
@adit19shah Assigned. Thanks

[2021-03-30 13:55] rt4914 commented on #3005
@Amar-2003 I think it cannot be assigned to you as it needs access to alpha content. Suggest picking up some other issue.

[2021-03-30 13:56] E13ctron commented on #3005
@rt4914 , ok fine thanks :)

[2021-03-30 16:53] jonathanalvares9009 commented on #2975
okay @rt4914

[2021-03-30 17:01] imraghav20 commented on #2763
@fsharpasharp I would like to work on this issue but I am unable to find the "Oppia Bazel Guide" in the link you mentioned.
Please help me out.

[2021-03-30 17:13] fsharpasharp commented on #2763
@imraghav20, take another look. I've updated some of the out of date instructions.

[2021-03-30 17:14] imraghav20 commented on #2763
Thanks @fsharpasharp I will try setting up Bazel and then comment to assign the issue.

[2021-03-30 17:15] jonathanalvares9009 commented on #2430
@rt4914 I would like to work on this issue. But I didn't understand it properly

[2021-03-30 17:26] rt4914 commented on #2430
@jonathanalvares9009 Basically if you check both the linked PRs you will notice that we are facing issues because of AudioPlayer. So in simple if you can solve those issues that should solve the lifecycle issue.

[2021-03-30 20:12] rt4914 commented on #2093
Two things:
1. In this comment: https://github.com/oppia/oppia-android/issues/2093#issuecomment-809058181 you have mentioned `progress bar` but the mock link does not contact progress bar, so what is it about?
2. Mocks might change a bit so I have informed Chantel to share the latest mocks, which means you will need to wait for her reply because working on it.

[2021-03-31 02:50] #2821 closed, assigned to sakshampruthi

[2021-03-31 02:51] #2917 closed, assigned to Victor-Titan

[2021-03-31 02:51] #2969 closed, assigned to Victor-Titan

[2021-03-31 02:59] #2808 closed, assigned to justdvnsh

[2021-03-31 03:00] #2811 closed, assigned to nobody

[2021-03-31 03:05] #2809 closed, assigned to ArpitShukIa

[2021-03-31 03:05] #2825 closed, assigned to justdvnsh

[2021-03-31 03:21] anandwana001 opened #3031 "Glide loading small image"
**Describe the bug**
Earlier, we use to load drawable using `setImageResource`. Shifting to Glide, causes a bug of smaller image size in Topic Revision Screen only

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Fractions card on Home Screen
2. Go to Revision Tab

**Expected behavior**
| Currently | What it should be |
| -- | -- |
| ![](https://user-images.githubusercontent.com/7400

[2021-03-31 03:47] E13ctron commented on #2093
ok fine @rt4914

[2021-03-31 03:48] E13ctron commented on #2093
I saw a comment there in the mock saying about progress bar , thats why I asked about it . Sorry for the mistake @rt4914

[2021-03-31 04:56] jonathanalvares9009 commented on #632
@FareesHussain can you assign me StorySummaryAdapter

[2021-03-31 04:59] FareesHussain commented on #632
@anandwana001 PTAL.
@jonathanalvares9009 you can start working on this

[2021-03-31 08:08] jonathanalvares9009 commented on #3031
@anandwana001 can I work on this issue?

[2021-03-31 09:39] isarojgupta commented on #3031
@anandwana001  can I work on this issue?

[2021-03-31 09:53] jonathanalvares9009 commented on #3031
@isarojgupta I'm working on it. I almost completed it

[2021-03-31 09:54] jonathanalvares9009 commented on #3031
@anandwana001 two tests are failing before and after the changes

[2021-03-31 09:54] jonathanalvares9009 commented on #3031
@anandwana001 but the bug has been solved

[2021-03-31 17:16] mschanteltc commented on #2093
Just to make sure, are we able to create the "scroll to" action when the chapter name is tapped on? The animation can been seen in the portrait mobile [mock](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5abb0ace-19ee-48b8-8154-919154f924d2/) when "Chapter 2: The Meaning of 'Equal Parts'" is tapped on from the Chapter 3 card.

[2021-03-31 17:30] rt4914 commented on #2093
@mschanteltc Yes we can do the `scroll to` action.

[2021-03-31 17:36] mschanteltc commented on #2093
Sounds good, I update the landscape [mock](https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/cce938d6-e079-4761-bac0-8bde22ac6348/) and applied the change elsewhere in the original portrait mocks. Let me know what you think!

[2021-03-31 17:38] rt4914 commented on #2093
@Amar-2003 You can now work on this new mock.

[2021-03-31 20:34] BenHenning commented on #1861
While we still need to improve caching for Android actions, per https://github.com/actions/cache/issues/239 it seems like we might be able to get good mileage out of the GitHub actions cache by sharing a cache across all Bazel builds and benefiting greatly from Bazel's incremental building functionality. The cache will grow unbounded until we reach an established threshold, then we'll reset it (wh

[2021-03-31 21:47] BenHenning commented on #2951
/cc @jcqli

[2021-03-31 22:12] BenHenning commented on #2951
I dug into this a bit more last night and the findings are mixed.

**Good news**
Retrofit apparently leans on OkHttp for asynchronous threading management, but does perform callback invocation in background threads (which is configurable by passing in a custom ExecutorService). OkHttp lets us configure the threads used for asynchronous processing by passing in a custom dispatcher class (which uses

[2021-03-31 22:37] #1675 closed, assigned to BenHenning

[2021-03-31 22:37] #2931 closed, assigned to BenHenning

[2021-03-31 22:37] #3018 closed, assigned to BenHenning

[2021-03-31 22:37] #1600 closed, assigned to BenHenning

[2021-04-01 07:12] E13ctron commented on #2093
@rt4914 I will go through the mocks and will inform you when I am ready to do it :).

[2021-04-01 19:33] Arnold2381 commented on #2833
@rt4914 i want to work on ProfileProgressFragmentTest

[2021-04-01 20:24] BenHenning commented on #2032
New bug report:

**Describe the bug**
LogUploadWorkerTest is sometimes flaky when run with Bazel on CI. Per #2642, we observed this failure:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the repository
2. Make sure Bazel is set up locally (see [wiki page](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) for instructions)
3. Verify Bazel is worki

[2021-04-01 21:18] #2092 closed, assigned to ArpitShukIa

[2021-04-01 22:02] Karanjot-singh commented on #2833
@anandwana001 I would like to work on ImageRegionSelectionInteractionViewTest

[2021-04-02 02:50] E13ctron commented on #2093
The current screen is like this right??
![Screenshot_20210402-081717_Oppia](https://user-images.githubusercontent.com/73783193/113375041-304d2a00-938c-11eb-964a-626b4f1f6d71.jpg)
And I will have to change it into as in mock right ?? @rt4914

[2021-04-02 06:05] #2759 closed, assigned to jonathanalvares9009

[2021-04-02 15:01] Akshat-gour commented on #2764
@fsharpasharp
can i work on this

[2021-04-02 15:03] fsharpasharp commented on #2764
Yes!

[2021-04-03 00:39] BenHenning commented on #2989
@Victor-Titan are you actively working on this? I might need to take it over since it's blocking work I'm doing locally. (will self-assign if I get a PR out soon).

[2021-04-03 03:46] Victor-Titan commented on #2989
@BenHenning no issues, I've only just created a new branch for this issue till now. You can take over

[2021-04-03 05:19] E13ctron commented on #2093
@rt4914

[2021-04-03 07:58] BenHenning commented on #2989
Ack thanks!

[2021-04-03 08:18] Akshat-gour commented on #2764
@fsharpasharp
/app/src/main/java/org/oppia/android/app/player/state/answerhandling/InteractionAnswerHandler
This file import
import org.oppia.android.app.model.UserAnswer
But I tried to find the place where I need to put the dependency but could not find
**"//model:topic_java_proto_lite",**
If I am correct I need to put it inside the BUILD.bazel file of **App**
I tried to put it in every kt_androi

[2021-04-03 09:15] jonathanalvares9009 commented on #2769
@fsharpasharp can I work on this?

[2021-04-03 09:36] fsharpasharp commented on #2764
Can you link the pull request?

[2021-04-03 09:49] Akshat-gour commented on #2764
@fsharpasharp PTAL

[2021-04-03 17:48] yashraj-01 opened #3039 "No picture shown in Practice Mode"
**Describe the bug**
According to the question statement, it seems that there should have been a picture here which is not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Fractions' topic
2. Click on 'Practice' tab
3. Select 'What is a Fraction?' skill and start practice
4. See error

**Expected behavior**
There should have been a picture shown here corresponding to the que

[2021-04-03 17:48] yashraj-01 commented on #3039
@rt4914 @anandwana001 can you please confirm if this is a duplicate issue or not?

[2021-04-04 14:31] Victor-Titan commented on #3039
Hey @yashraj-iitr, I couldn't reproduce your bug after following your instructions.
![WhatsApp Image 2021-04-04 at 7 59 49 PM](https://user-images.githubusercontent.com/54766268/113512063-8f739000-9580-11eb-847a-7c1e9da64137.jpeg)
![WhatsApp Image 2021-04-04 at 8 00 38 PM](https://user-images.githubusercontent.com/54766268/113512067-939fad80-9580-11eb-94c4-fe32b850da3e.jpeg)

[2021-04-04 15:12] yashraj-01 commented on #3039
@Victor-Titan looks like this error is associated with the android version of the device as I can still reproduce this on my device even after uninstalling and reinstalling it, but this issue was not reproducible on Pixel 3 API 30 emulator.

[2021-04-04 17:17] Victor-Titan commented on #3039
@yashraj-iitr The screenshots are on Android 10 in my Poco X3. I haven't tried Pixel 3 yet.

[2021-04-04 18:07] Victor-Titan commented on #2950
I had both python 2 and 3, I set it so that on calling the python command, python3 was used and then found the path for that. Setting the path to that worked for me

[2021-04-05 04:12] ArpitShukIa commented on #2780
@anandwana001 @Srikanth-Kb
Should I create a PR using [this](https://github.com/oppia/oppia-android/issues/2780#issuecomment-800106728) method OR do you suggest any other better approach?

[2021-04-05 05:25] anandwana001 commented on #2780
Let's send a draft and will review it accordingly.

[2021-04-05 14:40] E13ctron opened #3041 "Wrong keyboard for Entering Answer"
**Describe the bug**
The type of answer to be answered is of the form x/x, but the given keyboard doesn't support.This issue happened only in this device mentioned below

**To Reproduce**
Steps to reproduce the behavior:
1.Open topic Fractions
2. Open Chapter 1
3. Check for the question shown in screenshot.

**Expected behavior**
A keyboard which will have "/" key should show up

**Screenshots**
!

[2021-04-05 16:29] MaskedCarrot commented on #3041
This is a duplicate issue https://github.com/oppia/oppia-android/issues/2290

[2021-04-05 17:07] E13ctron commented on #3041
Ok, I am closing this issue @MaskedCarrot

[2021-04-05 17:07] E13ctron commented on #3041
Closed since a duplicate Issue

[2021-04-05 17:07] #3041 closed, assigned to nobody

[2021-04-05 17:13] E13ctron commented on #2093
@rt4914

[2021-04-06 01:11] #2879 closed, assigned to Akshat-gour

[2021-04-06 02:08] #2764 closed, assigned to Akshat-gour

[2021-04-06 15:16] Arnold2381 commented on #2833
working on BindableAdapterTest!

[2021-04-06 18:17] jcqli opened #3045 "Create the frontend moderator dashboard for feedback reporting"
Fix part of #53
Create and implement a frontend dashboard on Oppia Web that allows moderators to triage incoming reports.
This includes viewing reports, create and viewing tickets, add associated Github issues to tickets, and archive tickets.
The dashboard also displays the aggregate report and ticket statistics.

[Dashboard product design](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNdd

[2021-04-06 18:20] jcqli opened #3046 "Implement Firebase authentication for verifying incoming Android messages"
Fix part of #53

Feedback reporting currently verifies Android requests in the backend by checking a secrete API key. This only validates a message and cannot safely guarantee the sender of the message. Firebase anonymous authentication allows a more secure method to safely authenticate the message sender.

[Feedback reporting design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4

[2021-04-06 19:00] fsharpasharp commented on #2769
This one is still blocked.

[2021-04-06 19:19] jonathanalvares9009 commented on #2769
@fsharpasharp can you give me some bazel issues to work on?

[2021-04-06 19:32] fsharpasharp commented on #2769
Do you want to pick up https://github.com/oppia/oppia-android/issues/2760?

I'm going to file some more issues later this week, feel free to pick those up.

[2021-04-07 01:03] #2806 closed, assigned to Pranav-Bobde

[2021-04-07 06:33] #2801 closed, assigned to jcqli

[2021-04-07 06:52] jonathanalvares9009 commented on #2760
@fsharpasharp can I take this one?

[2021-04-07 10:13] fsharpasharp commented on #2760
Yes

[2021-04-07 11:32] rt4914 commented on #2093
@Amar-2003 Yes you need to change this as per mocks.

[2021-04-07 14:05] E13ctron commented on #2093
@rt4914 I may not be able to do this as I am busy with exams, so if someone else comes you may assign this to them or if none comes I will claim later

[2021-04-07 20:59] BenHenning commented on #414
To be more clear: this is proposing that we introduce a well-tested StringToFractionParserTest class for StringToFractionParser (there are no tests for this currently).

[2021-04-07 23:08] jcqli opened #3049 "Implement domain objects and services for web reports"
The backend domain objects and services currently only process Android feedback reports. Web report domain objects will need to be defined and implemented in domain layer.

[2021-04-07 23:11] jcqli opened #3050 "Create the backend controller for the moderator dashboard"
Fix part of #53
Create the backend controller that received request from the frontend dashboard, makes the backend service requests, and passes the response back to the dashbaord.
[Dashboard product design](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?ts=602dfda3&pli=1#heading=h.jf21n1ac0i1g)

[2021-04-08 07:24] BenHenning commented on #2761
@starboi02 are you still working on this?

[2021-04-08 07:43] starboi02 commented on #2761
No @BenHenning I will unassign myself.

[2021-04-08 08:10] BenHenning opened #3052 "ktlint can break certain code by incorrectly removing semicolons"
https://github.com/oppia/oppia-android/blob/develop/testing/src/main/java/org/oppia/android/testing/TestCoroutineDispatcherRobolectricImpl.kt#L216 is supposed to have a semicolon, but I accidentally stumbled across ktlint removing it today due to a false positive "semicolon unnecessary" error. There isn't an exact match, but there have been a bunch of other [semicolon issues](https://github.com/pi

[2021-04-08 08:10] BenHenning commented on #3052
Taking this issue since it's blocking me from pushing a new PR.

[2021-04-08 08:19] BenHenning commented on #3052
Note that https://github.com/pinterest/ktlint/issues/816 indicates we can't upgrade to the latest ktlint, so I'm hoping to find a version that doesn't break continuation rules & does fix the while loop issue.

[2021-04-08 08:22] BenHenning commented on #3052
Actually oddly, it's complaining about 0.37.0 removing continuation indentation yet we're currently using 0.37.1. I am noticing locally that ktlint 0.41.0 completely breaks when trying to reformat StateRecyclerViewAssembler though.

[2021-04-08 08:27] BenHenning commented on #3052
Unfortunately, 0.39.0 avoids the indentation issues but wants to remove the semicolon, and 0.40.0 & above just simply can't fix our code anymore. We may need to workaround the immediate ktlint issue, but this might be a strong indicator to support moving off of ktlint altogether.

[2021-04-08 08:29] anandwana001 opened #3053 "Shift RichTextViewMatcher to Testing module"
**Is your feature request related to a problem? Please describe.**
Currently, `RichTextViewMatcher` is inside the `sharedTest` folder of app module.

**Describe the solution you'd like**
`RichTextViewMatcher` is a helper class. Thus, it needs ti be in the testing module.

**Additional context**
https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/android/app/parser

[2021-04-08 11:06] anandwana001 commented on #2738
@TheRealJessicaLi is this issue is now available?

[2021-04-08 11:44] jonathanalvares9009 commented on #1607
@fsharpasharp can I work on this?

[2021-04-08 11:47] fsharpasharp commented on #1607
This is not a fleshed out task yet. I will create issues that breaks down pieces of this module eventually.

[2021-04-08 14:26] fsharpasharp opened #3056 "Create a BUILD.bazel file for the logging package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-04-08 14:34] fsharpasharp opened #3057 "Create a BUILD.bazel file for the persistence package in the data module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-04-08 14:47] fsharpasharp opened #3058 "Create MIGRATED_PROD_FILES list in the domain BUILD.bazel file"
This change will create a setup for modularizing the packages in the domain module.

See https://github.com/oppia/oppia-android/blob/develop/utility/BUILD.bazel for an example of the setup.

1. Define the list using a glob of an empty list for now.

[code]

2. Update the library to exclude these files

[code]

Now, whenever somone migrates a package, they can add the package to the MIGRATED_PROD_F

[2021-04-08 17:48] Sparsh1212 commented on #3053
I would like to work on this.

[2021-04-08 21:07] rt4914 opened #3059 "Add tests for BindableAdapters in ImageViewBindingAdapters"
### Is your feature request related to a problem? Please describe.

Currently, [ImageViewBindingAdaptersTest](https://github.com/oppia/oppia-android/blob/3ffeedf7e90795ae9b23ec600a19d7cff72f1ca4/app/src/sharedTest/java/org/oppia/android/app/databinding/ImageViewBindingAdaptersTest.kt#L101) only contains tests for one bindable adapter:

[code]

However, other bindable adapters defined in [ImageView

[2021-04-08 22:08] BenHenning commented on #3052
To mitigate: I think the best we can do is just avoid the pattern for now.

@rt4914 & @anandwana001 as FYI in case you see this come up in codereview. And, Akshay, this may indicate we can't migrate to a newer version of ktlint unless they introduce a way to configure continuation indentation. Given that we'll probably move to an opinionated linter later in the year, that's probably fine.

[2021-04-08 22:41] rt4914 opened #3062 "[A11y] Add label for AdministratorControlsActivity"
## Task
Introduce label for `AdministratorControlsActivity` as `Administrator Controls`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on a

[2021-04-09 00:35] BenHenning commented on #2691
CI runtime was down substantially with #3035 making it closer to viable to enable the tests as required.

[2021-04-09 00:35] BenHenning commented on #2691
#2844 also needs to be resolved before we can enable Bazel tests, and it seems like recent changes might be working.

[2021-04-09 00:36] BenHenning commented on #2691
One of the last remaining major issues is sometimes the Bazel query output has formatting issues, resulting in invalid test targets like:

[code]

I've debugged this a bit and found out that it's due to output from Bazel query, but I've never been able to repro it locally. We might need to do a hacky workaround like detecting if there's a test target with this formatting and then manually split it

[2021-04-09 01:05] BenHenning commented on #3052
Closing this now that #3061 found a workaround: ``while (condition) {}`` instead of ``while (condition);``

[2021-04-09 01:05] #3052 closed, assigned to BenHenning

[2021-04-09 02:43] #2760 closed, assigned to jonathanalvares9009

[2021-04-09 02:44] #2767 closed, assigned to jonathanalvares9009

[2021-04-09 02:53] #2804 closed, assigned to Arnold2381

[2021-04-09 03:03] TheRealJessicaLi commented on #2738
@anandwana001 I will be implementing the testing as I write the feature, and it's currently in progress! Sorry about that

[2021-04-09 03:06] TheRealJessicaLi opened #3067 "Implement Mastery Calculations for Practice Session"
Implement mastery calculations in QuestionAssessmentCalculation, blocked by [score calculation](https://github.com/oppia/oppia-android/pull/3040) PR. This is part of the feature outlined in this [design document](https://docs.google.com/document/d/1ISuqvKs6b0xdE0-aEIHXYG7oDbCmDBcgUia0TiR9GpQ/edit?usp=sharing).

[2021-04-09 03:39] anandwana001 opened #3068 "Connect Delete API to the Download controller [BLOCKED]"

[2021-04-09 03:49] anandwana001 opened #3069 "Use Interface to call startActivity in OngoingTopicItemViewModel [Blocked on #3095]"
**Is your feature request related to a problem? Please describe.**
Currently, we are calling `startActivity` from a view model.

**Describe the solution you'd like**
We need to call `startActivity` from view models related activity/fragment

**Additional context**
https://github.com/oppia/oppia-android/blob/77c877a298c5007ded600f42b1f3e7a82f0aa696/app/src/main/java/org/oppia/android/app/ongoingtop

[2021-04-09 03:56] anandwana001 opened #3070 "Connect MyDownloads SortBy feature with the controller [BLOCKED #3010]"
[code]

[2021-04-09 05:59] anandwana001 commented on #2738
Thanks for the update. Should I assign this to you?

[2021-04-09 06:44] KartikeySharma commented on #3058
Hi. I would like to work on this issue.

[2021-04-09 07:53] anandwana001 opened #3071 "HiFi - TopicInfo"
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/45d183d0-fabf-40d9-aca9-164e55336b7e/specs/

[2021-04-09 17:36] BenHenning opened #3075 "Use default keyboard in alpha"
Fraction interaction can't be inputted properly on certain devices due to Android showing the wrong keyboard. We should disable the filtered keyboards for now while we consider next steps.

[2021-04-09 19:26] TheRealJessicaLi commented on #2738
Sure, I just self-assigned it to avoid any confusion. Thanks!

[2021-04-09 20:32] fsharpasharp commented on #3058
Thanks @KartikeySharma!

[2021-04-09 20:46] #2805 closed, assigned to Arnold2381

[2021-04-10 12:50] fsharpasharp opened #3076 "Create a BUILD.bazel file in logging/firebase [Blocked by #3056]"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-04-10 13:13] fsharpasharp opened #3077 "Create a BUILD.bazel file in the data directory of the utility module [Blocked by #3056]"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-04-10 13:14] fsharpasharp opened #3078 "Create a BUILD.bazel file in the caching directory of the utility module [Blocked by #3056]"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-04-10 20:26] viktoriias commented on #322
I tried reproducing this issue as described in https://github.com/oppia/oppia-android/pull/544:

Newly added profile **is shown** in the ProfileChooserFragment without needing to restart the app. It is also shown after the restart.

[2021-04-11 20:08] BenHenning opened #3080 "Use textproto as the format for learning structures"
We currently store all demo explorations, topics, stories, etc. as JSON that directly ties to the backend's JSON format for each of these structures. Rather than keeping a JSON dependency in the app, we want to  instead use textproto (which can be converted to binary proto during build time in Bazel & thus allow the app to only ever depend on binary protos via Java proto lite).

Initial support is

[2021-04-11 20:13] BenHenning opened #3081 "Create baseline demo structures [Blocked: #3080]"
We should have baseline demo structures that encapsulate all features of the app includes:
- All interactions (including different RTE cases--see RTE below)
- Multiple chapter/stories/topics to test progress
- Rich-text (RTE) scenarios including: italics, bold, images, LaTeX, concept card links
- Hints & solutions
- Exploration branching
- Voiceovers
- Translations
- Upcoming topics
- Test coverag

[2021-04-11 20:13] BenHenning commented on #2860
This is actually a known issue that we probably won't fix. Oppia web supports parameters which allow explorations to dynamically tweak values across states, and display them. We actually don't plan to ever support this in Oppia Android since we've discovered that parameters are difficult to maintain, and don't add much value to the learning experience.

Thanks for filing this--it gave me reason to

[2021-04-11 20:13] #2860 closed, assigned to nlok5923

[2021-04-12 05:32] KartikeySharma commented on #3058
HI. I am actually facing some error while building the project using Bazel. I am trying to fix those, but even after following the steps mentioned in #2950 , I am not able to resolve them. I am unassigning myself so that others can contribute to this issue if they want to.

[2021-04-12 11:47] anandwana001 opened #3082 "Update Topic Info screen when download database is available"
show/hide checks using `isTopicDownloaded` variable from the database.

[2021-04-12 18:31] mschanteltc commented on #2627
Updated the [mocks](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/454ed2a6-6f9d-465e-bb35-5425fd7445f0/) to reflect the new changes.

[2021-04-12 19:15] yashraj-01 commented on #3039
The issue seems genuine for lower versions of android as I was again able to reproduce it on my Micromax phone with android 5.1 running on it.
Here is the screenshot
<img width="250" height="500" src="https://user-images.githubusercontent.com/63469151/114448660-7490c380-9bf1-11eb-878f-d4c26771f9cd.png">

[2021-04-12 19:16] yashraj-01 commented on #3039
@rt4914 @anandwana001 PTAL.

[2021-04-12 19:18] rt4914 commented on #3039
@yashraj-iitr Can you try to fix this?

[2021-04-13 01:27] jcqli opened #3083 "Add backend domain services that fetch data for the frontend dashboard"
Fix part of #53
Implement the backend domain services for fetching pages of reports, the report stats data, and pages of tickets.

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-04-13 02:01] #2763 closed, assigned to jonathanalvares9009

[2021-04-13 02:12] #3057 closed, assigned to jonathanalvares9009

[2021-04-13 03:42] anandwana001 opened #3084 "Field Leaks context object"
**Describe the bug**
![](https://user-images.githubusercontent.com/9396084/114028502-2c427000-9896-11eb-8892-7fedc3a8a53d.png)

**Expected behavior**
Check `CompletedStoryItemViewModel` file. `DownloadsTopicViewModel` is not currently available in the repository.

[2021-04-13 06:01] jonathanalvares9009 commented on #2093
@rt4914 the mock is not loading

[2021-04-13 20:08] BenHenning opened #3085 "Add support for testing error messages in tests"
We currently use a real ConsoleLogger for tests, but it would be more suitable to introduce a FakeConsoleLogger & use that instead, where the fake would let us verify that certain logs are actually logged when we expect them to  be. This is important both for reaching 100% behavioral code coverage, but also to ensure important warning & error logs are actually logged when we expect them to be. Aft

[2021-04-14 00:38] #2989 closed, assigned to BenHenning

[2021-04-14 04:55] Victor-Titan commented on #3046
@jcqli I would like to work on this issue, can you please specify where in the app we're using this?

[2021-04-14 05:08] darshanhande11 commented on #2833
@rt4914 @anandwana001 I would like to work on TopicInfoFragmentTest

[2021-04-14 05:27] rt4914 commented on #2256
Closing this as per https://github.com/oppia/oppia-android/pull/3060#issuecomment-816720244

[2021-04-14 05:27] #2256 closed, assigned to rt4914

[2021-04-14 06:41] jcqli commented on #3046
We currently do not use Firebase authentication at all, and this would likely need to be implemented for all our network requests, not just feedback reporting. I don't believe this issue is ready to be started yet, @BenHenning WDYT?

[2021-04-14 07:11] justdvnsh opened #3086 "User Pin's stored in plain text - Vulnerable to information leakage."
The security pins are stored in plain text for every user, in a single file. They can be used to leak sensitive information for a user. More importantly, this can be of more concern in the prod version.

Steps to reproduce the behavior:
1. Open terminal
2. Type ```adb shell```
3. Type ```su```
4. Once root (type ```whoami``` to confirm), navigate to the app's directory. It is located in ~/data/dat

[2021-04-14 07:13] justdvnsh commented on #3086
@rt4914 @prayutsu Should I start working on this, or would it be discussed ?

[2021-04-14 09:12] Victor-Titan commented on #3084
@anandwana001 @rt4914 The issue is that the class is being used [here](https://github.com/oppia/oppia-android/blob/f9eb3cdcba174fdd78690af33ffe3c7a8b547a10/app/src/main/java/org/oppia/android/app/completedstorylist/CompletedStoryListViewModel.kt#L67) and that is causing the leaked context. One way to solve this might be creating a class object initially and using it. For this we may have to create

[2021-04-14 09:58] prayutsu commented on #3086
@BenHenning This seems like a security issue.

[2021-04-14 09:59] prayutsu commented on #3086
We should wait until it is discussed and we come up with the right solution to this.

[2021-04-14 10:36] justdvnsh commented on #3086
Sure. Let's discuss it in the next team meet maybe

[2021-04-14 10:57] anandwana001 commented on #3084
@Victor-Titan Could you send aa pr for this?

[2021-04-14 18:07] isalooo opened #3088 "Voiceovers switch from English to Hindi"
I am reporting on behalf of a user in Ghana.

When listening to the voiceovers in English, it automatically changes to Hindi.

**To Reproduce**
Steps to reproduce the behavior:
In the fractions lesson, when listening to the voiceovers in English it automatically changes at a point to Hindi I guess ( added screenshot named "Stage one " ) at that stage you don't have the options to pick English in t

[2021-04-14 20:06] BenHenning commented on #3086
Thanks for filing this @justdvnsh, and I really appreciate the very detailed report!

We actually intentionally use 3 & 5 digits for user PINs so that they aren't accidentally reused as sensitive PINs in the user's life (such as a bank PIN). To this end, PINs are just a local property that is used to get into the profile. They're not equivalent to passwords or keys, and in general don't require th

[2021-04-14 20:45] Victor-Titan commented on #3084
I'm sorry, my approach doesn't work.

[2021-04-15 05:01] anandwana001 opened #3089 "Remove context initialization in RevisionCardFragmentTest"
**Describe the bug**
In file`RevisionCardFragmentTest` context is intialising in function `setUp()` But we are also injecting it through dagger.

**Expected behavior**
As we are injecting it through dagger, no need for initialization.

### How to send a PR
1. Run test file on espresso
2. Add a screenshot in the PR description showing all the test in this file are passing.

[2021-04-15 05:03] anandwana001 opened #3090 "Remove context initialization in ExplorationActivityTest"
**Describe the bug**
In file`ExplorationActivityTest` context is intialising in function `setUp()` But we are also injecting it through dagger.

**Expected behavior**
As we are injecting it through dagger, no need for initialization.

### How to send a PR
1. Run test file on espresso
2. Add a screenshot in the PR description showing all the test in this file are passing.

[2021-04-15 08:58] yashyon commented on #2833
@rt4914 @anandwana001 I would like to work on OptionsFragmentTest.

[2021-04-15 09:27] darshanhande11 commented on #2833
@anandwana001 I would like to work on AppVersionActivityTest.

[2021-04-15 10:24] ArpitShukIa commented on #3084
@anandwana001 Is it a part of [this](https://github.com/oppia/oppia-android/issues/1051) issue?

[2021-04-15 11:29] anandwana001 commented on #3084
Yes, nice find. Closing this issue as this is a part of #1051

[2021-04-15 11:29] #3084 closed, assigned to nobody

[2021-04-15 12:14] rt4914 opened #3095 "Use protos with intent extras in RecenlyPlayedActivity"
As per [this](https://github.com/oppia/oppia-android/pull/3065#discussion_r610915653) comment and approach we should strive towards using protos in transferring information between activties.

[2021-04-15 14:18] Sparsh1212 commented on #3053
Apologies for the delay. I have my semester exams going on currently. @rt4914 Will it be okay if I finish this by the end of this week?

[2021-04-15 16:06] FareesHussain opened #3097 "Dark theme can be forced on some devices, breaking app UI"
Few devices like Xiaomi forces the system theme (dark) to the apps that don't support the dark theme.

Example
![image](https://user-images.githubusercontent.com/54740946/114901254-3d5d2500-9e32-11eb-8d49-48820e9b8926.png)

Devices with the same issue:
- Poco X3 (Android 10) @Victor-Titan
- Redmi K20 PRO (Android 10) @prayutsu
- Realme 3 (Android 10) @ARJUPTA
- Redmi note 7 pro (Android 9) @Farees

[2021-04-15 16:34] FareesHussain commented on #3097
cc\ @prayutsu @ARJUPTA @Victor-Titan

[2021-04-15 18:11] BenHenning commented on #322
Cool, I think that means that the replacement NotifiabelAsyncLiveData fixed this (or some other change).

[2021-04-15 18:11] #322 closed, assigned to viktoriias, BenHenning

[2021-04-15 18:17] BenHenning commented on #206
I think this might not be an issue anymore since we picked colors carefully to work in the few places where the profile image shows up. This issue was filed back when a lot of these flows weren't yet finalized. The dark mode consideration is probably still valid, but we can assess that as part of a separate dark mode project.

I think this was also focused on non-picture profile avatars, and so it

[2021-04-15 23:54] BenHenning commented on #3097
Thanks for filing this @FareesHussain! /cc @rt4914 as well.

[2021-04-15 23:55] BenHenning opened #3098 "Add test suite for LessonThumbnailImageView"
``LessonThumbnailImageView`` doesn't yet have dedicated tests, and should. This was discovered during #2983. A new test suite should be added to test different scenarios in the image view, including that its background opacity is correctly set.

[2021-04-15 23:57] BenHenning opened #3099 "Add test suite for DrawableBindingAdapters"
``DrawableBindingAdapters`` doesn't yet have dedicated tests, and should. This was discovered during #2983. A new test suite should be that calls each of the adapters (via databinding) to ensure each adapter method behaves correctly, including that its background opacity is correctly set.

[2021-04-16 00:04] BenHenning commented on #206
Ah, there's actually work to do here: @viktoriias can you verify that all places where there's a TODO for this issue is actually dead code now? It should be. If any places rely on the temporary darkening logic we added we will need to fix those places.

Hopefully this issue just involves removing a bunch of TODOs and dead code paths.

[2021-04-16 15:29] Victor-Titan commented on #3098
@BenHenning I'd like to work on this. Can you please tell me where I should create a file for this? Should it be the story folder in the testing module?

[2021-04-16 22:23] BenHenning commented on #3075
Related #2290. I think I'll close that issue as part of the work for this one.

[2021-04-16 22:24] BenHenning commented on #2290
Taking this issue since it's relevant to alpha: #3075.

[2021-04-16 22:24] BenHenning commented on #2290
@arjunrkaushik please let us know if you'd like to work on another issue.

[2021-04-17 01:33] #2900 closed, assigned to jcqli

[2021-04-17 11:56] justdvnsh commented on #3099
@BenHenning I'd like to take this up !!

[2021-04-18 08:28] KartikeySharma commented on #3058
Hi.. I have set up my bazel properly this time and am able to build the project using it. Could you please assign it to me again?

[2021-04-18 11:59] sambit-sankalp commented on #3062
Can I work on this issue?

[2021-04-19 04:35] rt4914 commented on #3062
Thanks for showing interest. Please, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-04-19 04:52] anandwana001 commented on #56
@rt4914 After the last gsoc, I think we had covered almost everything for landscape view.
Can we close this issue?

[2021-04-19 04:58] anandwana001 commented on #1545
Closing this issue as we are covering variety of checks in gsoc project

[2021-04-19 04:58] #1545 closed, assigned to nobody

[2021-04-19 05:12] rt4914 commented on #56
@anandwana001 Actually that project covered some of the major screen but not all. As per [this document](https://docs.google.com/spreadsheets/d/1-xjel5_Su8dTNOCS4p8QycZ9BXBvCLkyF360elvdUxM/edit#gid=0) there are multiple screens which are pending.

[2021-04-19 11:12] yashraj-01 commented on #3039
@rt4914 I was looking into this issue but I was unable to find out how the image is processed/shown here. Could you please provide any reference? Thanks.

[2021-04-20 06:52] BenHenning commented on #2844
Weighing back in: I haven't seen this crash in at least a week for both Gradle & Bazel--the earlier mitigations might actually be resolving it. I want to keep this open through the next increase in productivity, though (particularly GSoC).

[2021-04-20 07:39] rt4914 opened #3103 "Test Segregation in OptionsFragmentTest"
Currently in `OptionsFragmentTest` tests are working across multiple activities but thats not correct.
Each file should contain tests only related to that file and should not check functionalities of other activities.

Segregate tests of OptionsFragmentTest into
- OptionsFragmentTest
- AudioLanguageFragmentTest
- AppLanguageFragmentTest

Also we should add more tests to make sure that we are able

[2021-04-20 09:10] prayutsu commented on #3007
@Akshat-gour Are you working on this?

[2021-04-20 09:15] rt4914 commented on #3007
Considering that there is no progress on this issue for 23 days and also there is no PR. I am assigning this to @prayutsu

[2021-04-20 10:22] Arjupta commented on #1433
@Sarthak2601 and @vinitamurthi I would like to work on this Issue.

Just a simple question. The task which is now left is to use Oppia Logger everywhere and route the log requests according to different log command?

[2021-04-20 10:36] vinitamurthi commented on #1433
I think that's right. I beleive all other logging should be part of oppialogger now so we should just have to update callers.

[2021-04-20 12:39] Sarthak2601 commented on #1433
@ARJUPTA Yes, that's partially correct. You'll have to add public methods in the logger to ensure all other logging (currently it's just analytics that we do) via the logger, update the logging calls everywhere and then write corresponding test cases.

[2021-04-20 14:46] rt4914 commented on #2297
Closing as it was finished in #2320

[2021-04-20 14:46] #2297 closed, assigned to veena14cs

[2021-04-20 19:31] Sparsh1212 commented on #3103
@rt4914
I had a look at the `OptionsFragmentTest` file and also ran the tests.
There are a total of three tests which seems to be of other files:
- `testOptionsFragment_audioLanguage_testOnActivityResult()`
- `testOptionsFragment_appLanguage_testOnActivityResult()`
- `testOptionsFragment_readingTextSize_testOnActivityResult()`

These tests basically check the item displayed on the Options Recycler

[2021-04-21 04:49] anandwana001 opened #3106 "Move buf.yml file to model package"
Move https://github.com/oppia/oppia-android/blob/develop/buf.yaml to https://github.com/oppia/oppia-android/tree/develop/model and ensure nothing gets broken in CI check.

[2021-04-21 08:21] anandwana001 opened #3108 "Tablet Drawer UI Difference"
**Describe the bug**
The width of Navigation drawer in tablet is different.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app on a tablet
2. Open navigation drawer while on Home Menu
3. Click Help
4. Open the navigation drawer and see the drawer width is different

**Expected behavior**
The width should be the same

**Screenshots**
<img src="https://user-images.githubusercontent.c

[2021-04-21 08:26] anandwana001 opened #3109 "Tablet Story Card UI"
**Describe the bug**
The cards UI needs to fix as per the tablet

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app on a tablet
2. Click on any card on home screen
3. Go to the lesson tab
4. Click on the topic name
5. The card screen gets open

**Expected behavior**
The card size would be adequate as per the tablet

**Screenshots**
![Screenshot_1618993429](https://user-images.githu

[2021-04-21 08:32] anandwana001 opened #3110 "Tablet Profile Chooser UI"
**Describe the bug**
The add item of the profile chooser screen is incorrectly aligned

**To Reproduce**
Steps to reproduce the behavior:
1. Open app on tablet
2. Add a profile
3. check the alignment

**Expected behavior**
The items should be aligned correctly

**Screenshots**
![Screenshot_1618993856](https://user-images.githubusercontent.com/25057618/115522948-327b1800-a2aa-11eb-8260-56e08eb0d7ba

[2021-04-21 11:30] anandwana001 commented on #3053
@Sparsh1212 any update on this?

[2021-04-21 11:47] Sparsh1212 commented on #3053
@anandwana001
I was actually waiting for the other PR to get merged. (Shifting RecyclerViewMatcher) because it will result into merge conflicts because it will involve reordering of imports with this, if i start working on it now. Shall I start working on this now or wait for it to get merged?

[2021-04-21 23:30] rt4914 commented on #3039
@yashraj-iitr I don't think this is an error. If you check the screenshot, the emulator does not have access to internet and that's images are not appearing. Closing this right now, you can try to check this and if it still happens just reopen this issue with appropriate comment.

[2021-04-21 23:30] #3039 closed, assigned to nobody

[2021-04-21 23:50] #206 closed, assigned to viktoriias

[2021-04-22 01:39] rt4914 commented on #3103
You are correct that they are checking it only on `Options` file but that is getting done by visiting a new activity which is incorrect.
The ideal way to test such cases is by breaking them in two separate tests:
A. check that Options file has correct info and is sending correct intent to ActivityB.
B. check that ActivityB has correct info and is sending back correct information on finishing it.

[2021-04-22 03:14] anandwana001 commented on #3053
I think that's up to you, as both the issues are assigned to you.
For `RecyclerViewMatcher `, I suggest following https://github.com/oppia/oppia-android/wiki/Guidance-on-submitting-a-PR#clarification-regarding-assignees-and-reviewers-section to speed things up.

[2021-04-22 05:39] BenHenning commented on #3007
This is actually a really involved issue @prayutsu and I'm going to address it as part of #2985 since I need to rewrite much of ExplorationProgressControllerTest in there, anyway. Please follow up if you already dug into this--I hope not to waste any work here.

[2021-04-22 06:57] BenHenning opened #3113 "Create local test questions & re-enable questions support for development builds and tests"
#2985 is disabling questions tests, and #2986 is disabling the questions UI. Both are being done due to there not being full support for questions until the Oppia web backend has more test questions to reference to build proper download functionality. Once there are more questions, we need to both build in questions support & re-enable the questions infrastructure.

Enabling questions support for

[2021-04-22 08:20] Sparsh1212 commented on #3103
@rt4914 Thank you for the clarification. That really helped me.

This is how I am planning to approach this:

**Part-A**
- Write a test in OptionsFragmentTest to check that the correct item is displayed in the recycler view of the Options file. (Repeat this a total of three times to check for App Language, Audio Language, and ReadingTextSize)
- Repeat the above three tests for a configuration chan

[2021-04-22 10:49] Sparsh1212 commented on #3053
I think it will be better if we wait for it to get merged first. Then as soon as its completed, I'll initiate a fix for this.
Also, apologies for not assigning the reviewers for the RecyclerViewMatcher, I addressed all the comments but it just slipped from my mind to assign the reviewers and unassign myself. Will try to not to repeat it next time.

[2021-04-22 15:44] sierisimo commented on #3090
I can work on this, already created a fork and a branch for it!

[2021-04-23 02:39] darshanhande11 commented on #2833
@anandwana001 I would like to work on SplashActivityTest.

[2021-04-23 02:51] rt4914 commented on #2833
Thanks for showing interest @darshanhande11 . Please, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-04-23 03:11] darshanhande11 commented on #2833
@rt4914 I have completed all the above steps already and would be glad to fix this if assigned 😄

[2021-04-23 04:16] anandwana001 commented on #1599
@fsharpasharp Could you look into this issue if we required it or not?
Also, it will be helpful if we can update the issue description so it will help the contributor to complete the issue.

[2021-04-23 07:05] BenHenning commented on #2976
Alternatively, we could just add support for loading the current known question structure in the interim as a proof-of-concept for loading questions with protos. That seems better than the alternative which will likely lead to questions being disabled and potentially regressing once the JSON loading pipeline is deprecated.

[2021-04-23 08:02] #2941 closed, assigned to BenHenning

[2021-04-23 08:42] #2134 closed, assigned to BenHenning

[2021-04-23 09:13] #2942 closed, assigned to BenHenning

[2021-04-23 09:47] #2943 closed, assigned to BenHenning

[2021-04-23 10:25] BenHenning commented on #3075
Interactions whose keyboards will be changed and how:
- Fractions -> standard keyboard (since '/' is needed)
- Ratios -> standard keyboard (since ':' is needed)

Interactions not changing:
- Numeric input (the standard 9-digit keyboard is sufficient)
- Text input (it already uses the standard full keyboard)

[2021-04-23 10:29] #2940 closed, assigned to BenHenning

[2021-04-23 11:04] BenHenning commented on #3113
This is no longer the case. Questions support is being retained (at least via JSON).

[2021-04-23 11:04] #3113 closed, assigned to nobody

[2021-04-24 04:19] #298 closed, assigned to BenHenning

[2021-04-24 04:19] #2787 closed, assigned to BenHenning

[2021-04-24 04:19] #2944 closed, assigned to BenHenning

[2021-04-24 04:19] #3007 closed, assigned to BenHenning

[2021-04-24 05:09] #2952 closed, assigned to BenHenning

[2021-04-24 05:09] #3058 closed, assigned to KartikeySharma

[2021-04-24 06:28] #2953 closed, assigned to BenHenning

[2021-04-24 06:30] ArpitShukIa commented on #2427
@rt4914 Can I take this up?

[2021-04-24 07:44] #2290 closed, assigned to BenHenning

[2021-04-24 07:44] #3075 closed, assigned to BenHenning

[2021-04-24 17:18] Sparsh1212 commented on #3103
@rt4914
Here's the update about the Part-B work that I have initiated:
- All the previous tests in `AppLanguageFragmentTest` are removed and these four new tests are added keeping in mind the ideal practice (i.e not to launch the other Activity and only use the Test File Activity):
  1. `testAppLanguage_selectedLanguageIsEnglish()`
  2. `testAppLanguage_changeConfiguration_selectedLanguageIsEnglis

[2021-04-25 02:35] ArpitShukIa commented on #2427
@rt4914 Can u suggest which approach should be taken? Does it require a new DialogFragment or shall I just use the onSaveInstanceState() in the Activity?

[2021-04-26 04:26] rt4914 commented on #2427
@ArpitShukIa Suggest using `DialogFragment` similar to `AdminSettingsDialogFragment ` instead of AlertDialog. That will take care of lifecycle.

[2021-04-26 04:59] Victor-Titan commented on #3097
I think I've found a way to fix this. Assigning myself, will open a Pull Request shortly.

[2021-04-26 13:41] Pranav-Bobde commented on #3089
can i be assigned this issue

[2021-04-26 14:19] rt4914 commented on #3089
@Pranav-Bobde I have noticed that you have signed the CLA but haven't filled the Survey form yet. Can you please fill the survey form: https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-04-26 19:10] Pranav-Bobde commented on #3089
Sorry about that. Done now.

On Mon, Apr 26, 2021, 7:49 PM Rajat Talesra ***@***.***>
wrote:

[2021-04-27 06:30] prayutsu opened #3121 "Force first letter of the username to be uppercase"
When creating a new profile, we should force the name's first letter to be always uppercase.
![Screenshot_2021-04-27-11-29-32-386_org oppia android](https://user-images.githubusercontent.com/54636525/116195571-03542300-a750-11eb-9e62-a36d39fa1e31.jpg)

[2021-04-27 06:32] prayutsu opened #3122 "Dark theme make colors of the images distorted"
We currently do not support a dark theme but when a device enforces a dark theme on the app, then the colors of some images get distorted -
![Screenshot_2021-04-27-11-24-27-407_org oppia android](https://user-images.githubusercontent.com/54636525/116195713-34ccee80-a750-11eb-881c-1f290cfb845c.jpg)

[2021-04-27 06:52] prayutsu opened #3123 "Uneven spacing between the options"
In some cases, the spacing between options is not consistent -
<img src="https://user-images.githubusercontent.com/54636525/116198152-3f3cb780-a753-11eb-8469-eb1cea2f617b.jpg" width=230 height=450 /> <img src="https://user-images.githubusercontent.com/54636525/116198161-419f1180-a753-11eb-90fa-b226dce017e3.jpg" width=230 height=450 /> <img src="https://user-images.githubusercontent.com/54636525/11

[2021-04-27 06:55] prayutsu commented on #1540
/cc @BenHenning

When reading text size is updated, the other UI components like DialogFragment are also affected -
![Screenshot_2021-04-27-11-26-11-738_org oppia android](https://user-images.githubusercontent.com/54636525/116198448-93479c00-a753-11eb-9375-7efa6f4842fb.jpg)

[2021-04-27 07:05] anandwana001 commented on #3123
@prayutsu Let's use this format `<img src="IMAGE_URL_HERE" width=230 height=450 />`

[2021-04-27 08:34] ArpitShukIa commented on #3110
@anandwana001 Is it a duplicate of #2116?

[2021-04-27 10:44] Pranav-Bobde commented on #3089
![image](https://user-images.githubusercontent.com/66965591/116228904-820e8780-a773-11eb-8c77-8e0372a73bf5.png)

Sir, how to resolve this unresolved reference error?

[2021-04-27 15:28] fsharpasharp commented on #1599
From the current description, I don't think this issue is relevant anymore since we're not running a custom fork of Bazel. Concerning Android Studio and Bazel, we have the [databinding issue](https://github.com/oppia/oppia-android/issues/2745).

Perhaps we could close this issue to avoid confusion?

[2021-04-27 15:57] fsharpasharp opened #3125 "Remove :arguments_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel Setup Instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :arguments_java_proto_lite fr

[2021-04-27 16:02] fsharpasharp opened #3126 "Update instances of //visibility:public"
**Describe the solution you'd like**
Find each instance where [//visibility:public](https://github.com/oppia/oppia-android/search?q=%2F%2Fvisibility%3Apublic) is used and use a more apropriate [visibility](https://github.com/oppia/oppia-android/blob/develop/BUILD.bazel), if possible.

[2021-04-27 17:39] fsharpasharp opened #3127 "Modularize the parser directory of the utility module."
**Is your feature request related to a problem? Please describe.**
The parser directory consists of a lot of files, which makes it more difficult to organize and make into a Bazel package. It will also unblock parts of the Bazel migration with a split into packages that have no blocked dependencies.

**Describe the solution you'd like**
Create subdirectories to group up the files. e.g. image, html

[2021-04-27 21:18] #3090 closed, assigned to sierisimo

[2021-04-28 01:21] rt4914 opened #3128 "Hints are available automatically"
**Describe the bug**
In one of the alpha state, if you just wait for 60 sec it will make the hint available even without entering the first incorrect answer.

**To Reproduce**
Steps to reproduce the behavior:
1. Load Alpha App
2. Visit `What is a Fraction?` exploration
3. Press three times `Continue` to visit the first question.
4. Do not do anything, wait for 60 sec.
5. The hint will be available

[2021-04-28 02:27] BenHenning commented on #3123
Note that this was found while testing alpha MR2 but is determined to not be a blocker.

[2021-04-28 02:27] BenHenning commented on #3122
Note that this was found while testing alpha MR2 but is determined to not be a blocker.

[2021-04-28 02:27] BenHenning commented on #3121
Note that this was found while testing alpha MR2 but is determined to not be a blocker.

[2021-04-28 02:27] BenHenning commented on #1540
Note that this was found while testing alpha MR2 but is determined to not be a blocker.

[2021-04-28 02:44] rt4914 commented on #3110
@ArpitShukIa Yes. Closing this issue.

[2021-04-28 02:44] #3110 closed, assigned to nobody

[2021-04-28 03:39] MaskedCarrot commented on #3128
@rt4914 I think this behavior is expected according to the flowchart. When the user starts an exploration they are on `no hint released state`, without any interaction they should go to `hint available` state after 60 seconds.

[2021-04-28 03:46] rt4914 commented on #3128
@MaskedCarrot But I think that's the case only if there is 1 incorrect answer first. If there is no incorrect answer then there is no point in showing hint.

[2021-04-28 04:21] FareesHussain opened #3130 "Administrator controls toggle radio buttons by clicking on the complete item"
**Describe the bug**
Toggle Radio button by clicking on the `topic_update_on_wifi_constraint_layout` and `auto_update_topic_constraint_layout`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'
2. Click on 'Download and update only on Wifi'
3. The radio button is not changed

**Expected behavior**
To be able to toggle the radio button by clicking anywhere on the v

[2021-04-28 04:22] FareesHussain opened #3131 "Add Profile toggle radio buttons by clicking on the complete item"
**Describe the bug**
Make the radio button with text a clickable to toggle the radio button (Allow Download Access) in the Add Profile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add Profile'
2. Click on Text on the left of radio button
3. See that the radio button is not changed

**Expected behavior**
Toggle radio button by clicking on its corresponding text.
**Screenshots**

![S

[2021-04-28 04:25] FareesHussain opened #3132 "Add Edit Profile picture functionality in the Administrator Controls [Blocked on mocks]"
**Is your feature request related to a problem? Please describe.**
To add Edit Profile Picture functionality in Administrator Controls instead as it includes rename and reset pin too. So that the user (Admin) can change the profile picture for other users (non-admin) instead of Navigating to select the user and log in to the user.

[2021-04-28 04:25] FareesHussain opened #3133 "TextInputLayout text cursor is not visible when the text is empty"
**Describe the bug**
TextInputLayout in Create Pin, Add profile and other activities doesn't display cursor when there is no input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add Profile in Profile Selection Activity'
2. Click on 'Administrator's Pin (TextInputLayout)'
3. See that the cursor is not displayed.

**Expected behavior**
To show the cursor when the TextInputLayout is fo

[2021-04-28 04:26] FareesHussain opened #3134 "AdminSettingDialogFragment doesn’t show error message when the input is empty"
**Describe the bug**
Submit button doesn't show error message when the text in the AdminSettingDialogFragment is empty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a 'User profile' with pin
2. Click on 'I FORGOT MY PIN'
3. Click submit
4. No error message displayed

**Expected behavior**
Show error message describing that the input is empty

**Video**

https://user-images.githubuser

[2021-04-28 04:27] FareesHussain opened #3135 "Search in FAQs and Administrator controls doesn’t work"
**Describe the bug**
Search in FAQ is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Open navigation drawer
2. Click on 'Help'
3. Open FAQs
4. Click on search icon on top right
5. see that the search button doesn't work

**Expected behavior**
Opens a search functionality in the Action bar

[2021-04-28 04:34] FareesHussain commented on #3128
@rt4914 I agree with @MaskedCarrot as it doesn't mention any interaction as per the below Documentation.

https://github.com/oppia/oppia-android/blob/ef2920163b024db232c1a15674cb7bfc999be562/app/src/main/java/org/oppia/android/app/player/state/StatePlayerRecyclerViewAssembler.kt#L1413-L1439

Can we close this?

[2021-04-28 04:35] FareesHussain commented on #3127
@fsharpasharp Can I work on this?

[2021-04-28 06:14] FareesHussain opened #3137 "Overlapping voiceover with the background music"
**Describe the bug**
When there is background music playing in the device and start the voice over in an exploration the voice-over overlaps with the background music instead we expect the background music to stop when we start the voice over and continues when we stop the voice over.
(This case might be really rare as the users (learners) wouldn't use background music while learning but this case

[2021-04-28 06:28] MaskedCarrot opened #3138 "Answer is improperly aligned in exploration"
**Describe the bug**
A clear and concise description of what the bug is.
The correct answer is not properly aligned in an exploration.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Fractions in All topics
2. Click on the lessons tab
3. start "What is a fraction?" exploration.
4. click continue 3 times to reach the question.
5. submit option 1 ( wrong answer)
6. submit option 3 (corr

[2021-04-28 08:41] fsharpasharp commented on #3127
Sure!

[2021-04-28 17:44] rt4914 commented on #3132
@mschanteltc
What are you thoughts about this?

[2021-04-28 17:55] mschanteltc commented on #3132
I don't believe we should give Administrator's the ability to change a user's profile picture. Those are usually personalized and any inappropriate uploads should be discussed outside of the app. The administrator has the ability to delete the profile if they think it is necessary. I don't believe there are any other applications that allow Administrator-like users to change other profile pictures

[2021-04-29 00:32] #2881 closed, assigned to Arjupta

[2021-04-29 05:03] anandwana001 opened #3140 "Shift Instrumentation test written in Unit Test directory for AdministratorControlsFragmentTest"
**Describe the bug**
There are some test cases written in `src/test/java/org/oppia/android/app/testing/administratorcontrols/AdministratorControlsFragmentTest.kt` which are instrumentation test but the file exist in unit test folder. (i.e. app/src/test)

**Expected behavior**
Look for the instrumentation tests in this file and shift them to the instrumentation test directory (i.e. app/src/sharedTe

[2021-04-29 05:05] anandwana001 opened #3141 "Shift Instrumentation test written in Unit Test directory for OptionsFragmentTest"
**Describe the bug**
There are some test cases written in `src/test/java/org/oppia/android/app/testing/options/OptionsFragmentTest.kt` which are instrumentation test but the file exist in unit test folder.

**Expected behavior**
Look for the instrumentation tests in this file and shift them to the instrumentation test directory.

**Additional context**
[How to test on Espresso?](https://developer.

[2021-04-29 05:13] anandwana001 opened #3142 "No use of espresso.intent in ProfileChooserFragmentLocalTest"
**Describe the bug**
There is no use of intents in the `ProfileChooserFragmentLocalTest`.

**Expected behavior**
Remove the use on Intents.

[2021-04-29 05:39] anandwana001 opened #3143 "Add code style for YAML"
**Describe the bug**
Currently, we don't have any specific code style for our YAML files.

**Expected behavior**
Add code style for YAML.
**Before sending a PR please confirm the attributes in the issue comments.**

[code]

[2021-04-29 11:33] FareesHussain commented on #3132
@mschanteltc I just added this as a UX suggestion while testing. Shall I close this?

[2021-04-29 11:35] FareesHussain commented on #3135
@mschanteltc Can you check if this is necessary now, I checked the mocks but it seems like the search functionality is not planned yet.

[2021-04-30 04:43] ArpitShukIa opened #3144 "Lesson thumbnail is distorted"
**Describe the bug**
The lesson thumbnail for the Fractions Topic is distorted.

**To Reproduce**
Steps to reproduce the behavior:
I am not able to reproduce it anymore. I encountered it once when I opened the app. When I closed and reopened the app, the thumbnail was correctly displayed.

**Expected behavior**
The thumbnails should always be displayed properly.

**Screenshots**

https://user-imag

[2021-04-30 04:50] rt4914 opened #3145 "Audio related tests failing on espresso"
`testAudioWithNoVoiceover_openPrototypeExploration_checkAudioButtonIsHidden`
`testAudioWithNoVoiceover_openPrototypeExploration_configurationChange_checkAudioButtonIsHidden`

Above mentioned tests are failing on Espresso. The implementation should be updated such that all these tests pass.

The tests are failing mostly because of commit: https://github.com/oppia/oppia-android/commit/cb1ddc81006bc5

[2021-04-30 05:49] rt4914 commented on #3145
**Update**: For `Prototype Exploration` first card [this value](https://github.com/oppia/oppia-android/blob/3c0c8b6444319494dab82c8247a8d7117dee7643/app/src/main/java/org/oppia/android/app/player/state/StateFragmentPresenter.kt#L181) is 2 which instead should be 0.

[2021-04-30 05:49] anandwana001 opened #3146 "Create a generic utility for filtering enums"
**Is your feature request related to a problem? Please describe.**
Currently, in all our enum files, we usually use similar items filtering.

Some examples of filtering include: https://github.com/oppia/oppia-android/blob/d0c8b81566c956c6edf6a7c19c14f8c8391dd939/app/src/main/java/org/oppia/android/app/survey/surveyitemviewmodel/UserTypeItemsViewModel.kt#L146

https://github.com/oppia/oppia-android

[2021-04-30 07:18] #2780 closed, assigned to ArpitShukIa

[2021-04-30 12:39] Arnold2381 commented on #3141
I can give it a try!

[2021-04-30 19:28] ravi9607 commented on #3140
I can give it a try!

[2021-04-30 20:37] FareesHussain commented on #3140
@ravi9607 go ahead

[2021-05-01 00:28] BenHenning opened #3150 "Introduce test or static analysis check to prevent potential deadlocks when misusing Espresso's API[Blocked on #4991]"
**Is your feature request related to a problem? Please describe.**
See #3043 for context. When using Espresso functions (like onView) within a runOnUiThread block, Espresso may deadlock. This is not only ideal, it's also unexpected and difficult to debug. When developers hit these situations, they're unsure how to proceed or investigate.

**Describe the solution you'd like**
We should introduce so

[2021-05-01 00:28] BenHenning commented on #3150
NB: this might be more like a full project actually than a mini project.

[2021-05-01 00:31] BenHenning commented on #3144
Interesting. I think these are drawables, too, so they don't use our SvgPictureDrawable or Android's BitmapDrawable (I think they do use PictureDrawable internally, but I'm not sure). Let's keep this open to see if it is encountered again.

I don't *think* anything recent would have regressed this, but we have been churning a lot on the image loading pipeline over the past few weeks.

[2021-05-01 00:33] BenHenning commented on #3132
I think @mschanteltc's conclusion makes sense. @FareesHussain for context, what led you to thinking this feature should exist? Just because it's one piece of functionality that admins can't do?

[2021-05-01 00:57] #2642 closed, assigned to prayutsu

[2021-05-01 04:09] jkugsiya commented on #3062
I want to work on this issue!

[2021-05-01 04:11] jkugsiya commented on #2833
I would like to work on BindableAdapterTest.

[2021-05-01 04:21] FareesHussain commented on #3132
I was thinking of a use case where the admin wants to change all users profile pictures and as the admin can rename or change the passwords for other users, I thought It would be better to include profile picture too.

[2021-05-02 10:55] MaskedCarrot opened #3155 "Answer text box clears on orientation change"
**Describe the bug**
In an exploration, if the user types the answer in the text box and then changes the device orientation, the answer is cleared.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to First Test Topic
2. Start Prototype Exploration
2. Click on continue
3. Write anything in the text box
4. Change device orientation
5. See error

**Expected behavior**
The answer should not b

[2021-05-03 01:10] anandwana001 commented on #3155
Duplicate - https://github.com/oppia/oppia-android/issues/1594

[2021-05-03 01:10] #3155 closed, assigned to nobody

[2021-05-03 19:03] AnubhavPabby commented on #3109
Hey can i work on this issue?

[2021-05-04 01:50] anandwana001 commented on #3109
@AnubhavPabby begin here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-05-04 07:17] AnubhavPabby commented on #3109
@anandwana001 I have read the wiki and have done all the necessary setup and performed the onboarding instructions

[2021-05-04 07:42] anandwana001 opened #3157 "Bazel Build Maven Fetch Error"
**Describe the bug**
Currently, Bazel build is causing error while fetching Maven dependencies on GitHub actions as well as on local Bazel build.

**Expected behavior**
Bazel build should fetch Maven dependencies without throwing any error.

**Additional context**
[code]

[code]

Digging deep
[code]

`/private/var/tmp/_bazel_akshaynandwana/0e0a7569f455d331a530cc35527abf40/external/rules_jvm_extern

[2021-05-04 07:43] anandwana001 commented on #3157
@fsharpasharp Are you also facing this issue?

[2021-05-04 07:44] AnubhavPabby commented on #3121
@prayutsu Can I work on this issue?

[2021-05-04 07:46] anandwana001 commented on #3109
@mschanteltc could you check if we have any specific size for these cards on tablet UI?

[2021-05-04 08:39] FareesHussain commented on #3127
@fsharpasharp I have some confusion regarding this.

Among all files in the parser package, I've decided to split them as follows. As this brings up a lot of changes when I create a pr I thought I would confirm it first.

#### HTML
- BulletTagHandler
- ConceptCardTagHandler
- CustomBulletSpan
- CustomHtmlContentHandler
- ExplorationHtmlParserEntityType
- HtmlParser
- HtmlParserEntityTypeModule
- I

[2021-05-04 08:45] FareesHussain commented on #3127
I think we need to create a new subdirectory for glide

[2021-05-04 08:51] fsharpasharp commented on #3127
I think that looks good!

[2021-05-04 10:42] prayutsu commented on #3121
@BenHenning @rt4914 Is this issue available?

[2021-05-04 13:54] #3089 closed, assigned to Pranav-Bobde

[2021-05-04 18:06] rt4914 opened #3160 "Button state does not change in DragAndDrop"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Accessibility Scanner in your mobile. [Reference](https://github.com/oppia/oppia-android/wiki/Accessibility-(A11y)-Guide#using-a11y-scanner-in-android)
2. Open `Prototype Exploration` from `First Test Topic`
3. Answer correctly to reach `DragAndDropInteraction` shown

[2021-05-04 18:21] mschanteltc commented on #3132
Now that you mention it, renaming profiles from the settings is not common either, though we do not have that as an option in the [User Profile](https://xd.adobe.com/view/3dca36c2-5115-419c-b25e-0f10526b077c-6899/screen/7fb5929e-4652-4412-bf8c-64d94f4159f9/) page. We can move name editing to the User Profile page to make it consistent.

The Administrator should still be able to change PINs though,

[2021-05-04 18:30] mschanteltc commented on #3135
Search is not available yet as a feature. We probably need to revisit this as I'm not sure what would be the most optimal way to search would be. Do you have any suggestions?

[2021-05-04 19:37] mschanteltc commented on #3109
The cards should be the same size as mobile's. PTAL a this [mock](https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d70a3ade-826a-4ac6-95e6-907a24d7b896/).

[2021-05-04 19:38] fsharpasharp commented on #3157
I am also facing this issue @anandwana001.

[2021-05-04 20:28] isalooo commented on #3088
Hi, can I get an update on this?

This is a unique feature that is important for go to market efforts.

Do you have a timeline for when this will be fixed?

Thanks!

[2021-05-05 00:59] anandwana001 commented on #3109
Thanks, @mschanteltc for clearing this.

@AnubhavPabby I had assigned this issue to you.

[2021-05-05 06:51] anandwana001 commented on #2613
@yashraj-iitr are you still working on the due part of this issue?

[2021-05-05 06:56] anandwana001 commented on #2093
@jonathanalvares9009 any update on this?
The mock is opening for me.

[2021-05-05 06:57] anandwana001 commented on #1951
@priyanka0906 any update on this?

[2021-05-05 06:58] anandwana001 commented on #1468
@aggarwalpulkit596 still working on this?

[2021-05-05 07:06] yashraj-01 commented on #2613
Actually, I have completed my part of the issue in PR #3105. @adit19shah was working on one of the parts so I did not work on that. Since there is no response from @adit19shah, should I work on that part of the issue or should I unassign myself?

[2021-05-05 08:00] FareesHussain commented on #3132
Sounds good to me.

[2021-05-05 08:05] anandwana001 commented on #2613
If you work on it if you want.

[2021-05-05 08:09] FareesHussain commented on #3135
For administrator controls, we can make it similar to any other android settings search which can search the present items or within the present times. like in the search it can display all the clickables `Edit profile`, `Download and update`, `Automatically update topics`, `App version`, `Log out` and the users within the `Edit Profiles`.

Same for FAQs too but in case we are implementing the sea

[2021-05-05 08:13] priyanka0906 commented on #1951
@anandwana001 not yet..

[2021-05-05 11:37] #2606 closed, assigned to rt4914

[2021-05-05 12:50] yashraj-01 commented on #2613
Okay. I'll work on that part of the issue as well.
Also, @rt4914 I think the talkback flow part is not completed yet so you may want to uncheck it.

[2021-05-05 20:17] AnubhavPabby commented on #3109
@anandwana001 Hey I have started working on it

[2021-05-05 23:03] BenHenning opened #3164 "Restore code ownership after 24 May 2021"
I will be working at reduced hours & taking time off over the next couple weeks, and should be able to resume after 24 May.

[2021-05-05 23:19] BenHenning commented on #3157
Given that Bazel mostly guarantees a deterministic build graph, my best initial guess is that something change on the Maven repo's side that's causing our maven_install rule to fail. Unfortunately, it seems that no one has reported this yet or I'm having difficulty tracking down an issue number for it.

[2021-05-05 23:30] BenHenning commented on #3157
Hmm still not sure why this is a new issue, but it appears to be a bug with Coursier (which rules_jvm uses underneath): #1972. Need to find a version of rules_jvm to upgrade to to get that fix.

[2021-05-06 00:38] anandwana001 commented on #3157
Right now, my bazel running on below, it might work.

[code]

[code]

**update**
The above config, not giving me the fetch error. Trying on the original rules_jvm version, skipping `"https://bintray.com/bintray/jcenter",` and ` "https://maven.fabric.io/public",` from maven_install `repositories`.

[2021-05-06 05:01] rt4914 commented on #2613
@yashraj-iitr I discussed with the Ben and the final conclusion was that we should not write code to control the flow as its not a good practice and therefore we will be keeping the existing flow.

[2021-05-06 07:40] BenHenning commented on #3157
Hmm--I thought we needed jcenter for some of our dependencies per #2923. We should be also migrating Gradle off of jcenter to avoid disparity between the two (especially since some dependencies will need to be migrated to make this work).

[2021-05-06 07:46] anandwana001 commented on #3157
Checking on the list of all the dependencies for which we need JCenter:
1. https://github.com/ChaosLeung/PinView#mavencentral
2. ...
3. ...

[2021-05-06 09:06] #2427 closed, assigned to ArpitShukIa

[2021-05-06 09:47] rt4914 opened #3169 "ItemSelectionInteraction text change on selection"
**EDIT** (by @seanlip): See updated description here -- https://github.com/oppia/oppia-android/issues/3169#issuecomment-1225305069

----------------------

**Previous description**

[Mock1](https://xd.adobe.com/view/dfe8ccd4-39eb-414d-a0b2-b5674357f966-8abb/screen/722a0d0b-737d-4f07-95aa-0cfa7db06530/)

As per Mock1, by default the text is `Please select atleast one choice.`. If atleast one option

[2021-05-06 09:48] rt4914 commented on #3169
@mschanteltc Can you answer the question mentioned in the issue?

[2021-05-06 12:49] rt4914 opened #3171 "ImageRegionSelection related tests are failing on Espresso[Blocked on #4991]"
<img width="1613" alt="Screenshot 2021-05-06 at 6 00 39 PM" src="https://user-images.githubusercontent.com/9396084/117300699-70299480-ae97-11eb-92ff-0bba483d38e5.png">

Following tests are failing in `StateFragmentTest`. It was tested on `Pixel 3A API 28`.

[2021-05-06 13:00] rt4914 commented on #3109
@AnubhavPabby Actually I will have to close this issue as it was a duplicate of #1824 which I am already working on.

[2021-05-06 13:00] #3109 closed, assigned to AnubhavPabby

[2021-05-06 13:08] rt4914 commented on #2833
Closing this as the checklist is complete.

[2021-05-06 13:08] #2833 closed, assigned to nobody

[2021-05-06 13:13] rt4914 commented on #3128
I will confirm this with @BenHenning . Actually you might be right and I might be confused here but lets confirm before closing it.

[2021-05-06 13:23] rt4914 commented on #3131
@FareesHussain I think this is the desired behaviour to make only `Switch` clickable and not the test. I don't think this is a bug.

[2021-05-06 13:24] rt4914 commented on #3121
Yes. Assigned to @AnubhavPabby

[2021-05-06 13:25] rt4914 commented on #3130
@FareesHussain This is the desired behaviour. Its not a bug we should close this unless to have any compelling reason for this change.

[2021-05-06 13:31] rt4914 commented on #2093
@jonathanalvares9009 It is loading for me. Can you please retry?

[2021-05-06 13:34] FareesHussain commented on #3130
This was found in while testing aplha MR2 and I had to use the bug tracker template as per the instructions.
I will change the label now.

[2021-05-06 13:35] FareesHussain commented on #3131
This was found in while testing alpha MR2 and I had to use the bug tracker template as per the instructions.
I will change the label now.

[2021-05-06 16:27] rt4914 commented on #3132
@mschanteltc
These are some of the concerns/suggestions that came from team meeting:
1. We should shift the rename as well as reset the pin to child-profile accessible from the navigation drawer.
2. The reset pin should not be a security concern as the child has logged in via pin-verification screen which already proves that the profile is correct.
3. Concern with above solution: If we allow renam

[2021-05-06 23:55] anandwana001 commented on #3157
Bintray is no more a repository source in rules jvm - https://github.com/bazelbuild/rules_jvm_external/issues/517

[2021-05-07 00:52] BenHenning commented on #3088
@rt4914 you were looking into this. Any idea on the difficulty of fixing it? I might dig into it today/tomorrow if possible.

We haven't yet finalized the alpha MR2 branch, so we can probably cherry-pick a fix & repush with fast validation.

[2021-05-07 01:08] #3157 closed, assigned to anandwana001

[2021-05-07 04:53] #3145 closed, assigned to rt4914

[2021-05-07 04:54] #2311 closed, assigned to rt4914

[2021-05-07 04:54] #2646 closed, assigned to nobody

[2021-05-07 06:32] #2325 closed, assigned to rt4914

[2021-05-07 08:14] Sparsh1212 commented on #3053
@anandwana001 I have done the changes to fix this issue, but unfortunately I am not able to push the changes to the origin because of one ktlint issue in imports ordering. I also tried `Ctrl+Alt+O` in the file having ktlint issue but still no luck. Can you please help in identifying where import order is incorrect?
**New Import order after shifting:**

[code]
**ktlint error:**

`/home/dell/Desktop

[2021-05-07 08:45] #3103 closed, assigned to Sparsh1212

[2021-05-07 09:14] anandwana001 commented on #3053
@Sparsh1212 Have you tried this - https://github.com/oppia/oppia-android/wiki/Ktlint-Guide#macros ?

[2021-05-07 09:15] #3138 closed, assigned to rt4914

[2021-05-07 09:16] rt4914 commented on #2613
@yashraj-iitr Adit is still working on this issue and therefore I am assigning it to him.

[2021-05-07 09:16] anandwana001 commented on #3053
@Sparsh1212 Could you add the gist of the complete file `ConceptCardFragmentTest` ?

[2021-05-07 09:38] Sparsh1212 commented on #3053
Thank you! that worked.

[2021-05-07 19:33] rt4914 commented on #3088
@BenHenning I have linked the draft PR which works for correctly but there are two optimisation + testing task pending:
1. We need an OppiaLocale (or something similar which extends Locale) so that using language code we can correctly retrieve the language name. I will need to write test cases for this file too.
2. I am not sure how to write test cases for the audio player behaviour without changi

[2021-05-07 19:48] BenHenning commented on #3088
Thanks @rt4914! I might take a pass on iterating on your existing solution today based on that info.

[2021-05-07 21:07] rt4914 commented on #3088
@BenHenning Added 1 test case and added details in the PR description.

[2021-05-08 01:46] #3062 closed, assigned to jkugsiya

[2021-05-08 15:13] Pranav-Bobde commented on #3069
Which interface are you telling to use? How to do it?

[2021-05-08 15:22] BenHenning commented on #3088
Thanks @rt4914. Looking into your PR now.

Note @isalooo that this issue probably won't repro in the same way anymore since the original bug was found with older content, and the new content doesn't seem to have as many gaps. There are likely other consistency issues, though. I'll see if I can build a quick checker to find all of the gaps in the current alpha offering.

[2021-05-08 15:54] BenHenning commented on #3088
Here are my findings for all states of current alpha lessons that will run into this issue:

<details>

[code]

</details>

Edit: these are an analysis of all potential alpha explorations (only some are included in the actual alpha due to interaction compatibility).

Edit 2: I made a mistake in the logic which resulted in wrong results. Updated the list above.

[2021-05-08 16:10] Sudeep152 commented on #3142
Sir i want to fix this  but i never contribute in open source can u help i will fix this

[2021-05-08 16:18] MaskedCarrot commented on #3142
@Sudeep152 Take a look at https://github.com/oppia/oppia-android/wiki for the onboarding instruction.
Once you are ready, comment here so that someone can assign this issue to you.

[2021-05-09 02:27] anandwana001 commented on #3069
Required to create a new interface

[2021-05-09 03:08] BenHenning opened #3175 "Consolidate languages/locales to a single, strongly typed system corresponding to exactly the languages supported for audio & written translations"
The app currently uses two enums for written & audio languages, and these aren't guaranteed to be in-sync with the actual language codes supported by lessons.

The app should consolidate on a single list of supported languages (written & audio) since we plan to enforce some level of consistency within lessons before allowing users to download them (at least for written languages). To ensure type s

[2021-05-09 09:37] AnubhavPabby commented on #3121
@prayutsu Can we do that if the name entered by user contains lowercase for first character so can we directly convert it to uppercase on our side and then save?

[2021-05-09 13:26] AnubhavPabby commented on #3133
@FareesHussain Can I work on this issue?

[2021-05-09 13:27] AnubhavPabby commented on #3131
@FareesHussain Can I work on this issue?

[2021-05-09 13:34] rt4914 commented on #3131
@FareesHussain Is this issue workable? In my understanding this is not an issue and it is a desired behavior.
@mschanteltc Can you check this issue description and confirm do we need this change or we should keep only `Switch/ToggleButton` clickable and not the text?

[2021-05-09 13:35] rt4914 commented on #3131
@AnubhavPabby I have unassigned you until we finalize if its a desired change.

[2021-05-09 13:56] FareesHussain commented on #3131
I did confirm this issue with @BenHenning while filing these issues. will wait for @mschanteltc's approval to unblock this

[2021-05-10 04:54] jkugsiya commented on #3142
@anandwana001  Can I work on this?

[2021-05-10 04:57] anandwana001 commented on #3142
@jkugsiya As per my suggestion, you had worked on multiple good first issues, so I suggest looking for a bit harder issues from now. This will help you in your learning and helps you grow with the codebase too.
If you still want to work on this issue, let me know I will assign it to you.

[2021-05-10 05:04] anandwana001 commented on #2093
unassigning as no further update

[2021-05-10 05:06] anandwana001 commented on #3140
unassigning as no further update.

[2021-05-10 05:12] aggarwalpulkit596 commented on #1468
This was something a bit out of scope with the current implementation of interactions and viewmodels. It won't be possible unless we move to hilt or something better.

[2021-05-10 05:15] jkugsiya commented on #3142
Yes, I have worked on multiple starter issues, I'll look for some harder issues or you can suggest me some. Thanks!

[2021-05-10 06:30] Arnold2381 commented on #3134
Can i work on this?

[2021-05-10 11:58] #3056 closed, assigned to jonathanalvares9009

[2021-05-10 12:25] rt4914 commented on #2309
Completed in #3148

[2021-05-10 12:25] #2309 closed, assigned to rt4914

[2021-05-10 12:53] #3127 closed, assigned to FareesHussain

[2021-05-10 13:36] jonathanalvares9009 commented on #3077
Hi @fsharpasharp can I start working on this?

[2021-05-10 13:37] jonathanalvares9009 commented on #3078
Hi @fsharpasharp can I start working on this?

[2021-05-10 13:38] jonathanalvares9009 commented on #3076
@fsharpasharp Ig we should close this as the issue has been solved

[2021-05-10 13:59] #3076 closed, assigned to jonathanalvares9009

[2021-05-10 14:00] fsharpasharp commented on #3078
Yes, go ahead.

[2021-05-10 14:42] rt4914 opened #3178 "Blue background mis-alignment in Input Interactions"
<img src="https://user-images.githubusercontent.com/9396084/117677069-c108f800-b1cb-11eb-8c64-a948dd5eb27b.png" width="250" />  <img src="https://user-images.githubusercontent.com/9396084/117677077-c2d2bb80-b1cb-11eb-9ed5-51ca64b562e2.png" width="250" />

In above screenshot it looks like the error message is not aligned to the input box after the shadow appears.

[2021-05-10 15:15] rt4914 commented on #3178
@mschanteltc The blue-shadow is creating issue as per the description so can we change this to below UI:
<img src="https://user-images.githubusercontent.com/9396084/117682306-8b1a4280-b1d0-11eb-9014-f5057cab83ec.png" width="250" />

Color: `#2D4A9D` (blue)
Stroke size: `2dp` when blue and `1dp` when grey.

[2021-05-10 16:38] fsharpasharp commented on #3077
Yes.

[2021-05-10 18:49] rt4914 opened #3179 "Optimise reading_text_size_fragment.xml implementation"
We should shift the `reading_list_app_bar_layout` from `mobile` xml files to the `reading_text_size_activity` so that we can remove the `layout-sw600dp/reading_text_size_fragment`.

[2021-05-10 21:26] BenHenning commented on #1468
I think we're solving this for the other interactions using a singleton that retrieves state from the assembler. See #2514 for specifics. @FareesHussain do you think that approach could work here?

[2021-05-10 21:27] BenHenning commented on #1468
Deassigning you @aggarwalpulkit596 since it seems that you're not actively working on this.

[2021-05-10 21:36] FareesHussain commented on #1468
I'm not sure here, so far my implementation didn't give any desired result. I've completely forgotten my singleton pr. I will try once again using the setState similar to https://github.com/oppia/oppia-android/pull/2557

[2021-05-10 22:58] aggarwalpulkit596 commented on #1468
@FareesHussain let me know if i can be of any help.

[2021-05-11 05:04] jkugsiya commented on #3140
@anandwana001  Can I work on this?

[2021-05-11 06:03] rt4914 commented on #3178
Update: This has been confirmed with @mschanteltc and we can use it.

[2021-05-11 06:14] rt4914 commented on #3121
@prayutsu @AnubhavPabby This has been confirmed with @mschanteltc we should not force user to type first character capital as in some cases(/languages) the name can start from small character. Instead we can show the keyboard which starts the first character capital and rest all small but in this case too if user wants to change the first character to small they can do it.

[2021-05-11 08:12] anandwana001 commented on #3003
@rt4914 adding you if this comes under content UI part.

[2021-05-11 08:26] #3077 closed, assigned to jonathanalvares9009

[2021-05-11 08:29] #2312 closed, assigned to rt4914

[2021-05-11 08:29] #2313 closed, assigned to rt4914

[2021-05-11 09:13] #1644 closed, assigned to rt4914

[2021-05-11 21:23] mschanteltc commented on #3169
I'm thinking we should remove the "You may select more choices" altogether because it sounds awkward, and it would be contradicting to leave it there if all options were selected.

Let's keep "Please select at least one choice" there and remove it when the user selects their first choice. If the user deselects the one selected option, the label appears again. WDYT?

[2021-05-11 23:29] mschanteltc commented on #3132
Wouldn't it be a security concern if the user initially does not have a PIN set and a PIN is created through their profile? We would have no way of ensuring the user who set the PIN is that user. If we only let users who already have a PIN to change their PIN (meaning users who do not have a PIN can only be made through the Admin settings), would we also give them an option to remove a PIN?

Maybe

[2021-05-11 23:43] mschanteltc commented on #3131
If I understand correctly, we should make the whole item clickable, meaning that if the "Allow Download Access" text and description is tapped, then the toggle will change.

[2021-05-12 04:06] FareesHussain commented on #3131
Yes

[2021-05-12 06:37] prayutsu commented on #3121
@rt4914 Sounds good, thanks for the clarification.

[2021-05-12 12:42] rt4914 commented on #3132
This makes sense. We can implement it like this: (a.) if child profile does not have a pin, in [ProfileProgress page](https://xd.adobe.com/view/3dca36c2-5115-419c-b25e-0f10526b077c-6899/screen/7fb5929e-4652-4412-bf8c-64d94f4159f9/) we do not show `reset pin` option. (b.) if child profile does have a pin in ProfileProgress page we do show them `reset pin` option. Does this resonate with what you ar

[2021-05-12 12:46] rt4914 commented on #3169
@mschanteltc Sounds good. Will apply this. Thanks.

[2021-05-12 17:21] mschanteltc commented on #3131
SGTM

[2021-05-12 17:25] FareesHussain commented on #3131
@AnubhavPabby you can take this issue now.

[2021-05-12 18:08] rt4914 commented on #3131
@FareesHussain and @AnubhavPabby Actually I will have to self assign this issue as this will affect the Accessibility too.

[2021-05-12 18:20] mschanteltc commented on #3132
Yes that is correct.

I'm thinking we can change the toggle to "Kids Profile" to connote limited access and features for the user. The description can be changed to "Disable download access and profile customization (Changing PIN, profile picture, and name)." WDYT?

[2021-05-12 18:30] rt4914 commented on #3132
@mschanteltc Makes sense. Thanks. Once mocks are ready please let me know. Although this is not on high priority right now.

[2021-05-12 18:39] rt4914 opened #3188 "Use caption-with-value from <oppia-interactive-image> in RichText"
Currently `oppia-interactive-image` is used to render images in RichText.
We should use `caption-with-value` from `oppia-interactive-image` to show a caption below the image in application.

[2021-05-12 19:25] fsharpasharp opened #3189 "Create a BUILD.bazel file in each of the subdirectories of util/parser"
**Describe the solution you'd like**
We want to make each package in util/parser a buildable unit in Bazel.

**Additional context**
There will be references between the packages, so we will have to migrate all the packages together.

[2021-05-13 04:23] #3053 closed, assigned to Sparsh1212

[2021-05-13 06:59] #3178 closed, assigned to rt4914, mschanteltc

[2021-05-13 08:03] #2322 closed, assigned to rt4914

[2021-05-13 08:58] jonathanalvares9009 commented on #3189
![Screenshot 2021-05-13 at 2 25 32 PM](https://user-images.githubusercontent.com/74007627/118103184-402e4400-b3f7-11eb-8a17-527583d45541.png)

Hi @fsharpasharp , could you help me resolve this can't understand the error

[2021-05-13 09:16] fsharpasharp commented on #3189
Can you show me the pull request for more context?

[2021-05-13 09:46] jonathanalvares9009 commented on #3189
@fsharpasharp should I make a PR with my existing code as it doesn't build?

[2021-05-13 09:51] fsharpasharp commented on #3189
Yes, that's okay!

[2021-05-13 15:38] Victor-Titan opened #3193 "Opening screen distortion"
**Describe the bug**
The start screen of the app distorts when showing the Oppia logo before transitioning to the user select screen. It doesn't happen always.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear the app from the recent apps pane
2. Open the Oppia Android App

**Expected behavior**
The screen should not distort and vertically shift the logo before showing us the select user

[2021-05-17 04:19] #3078 closed, assigned to jonathanalvares9009

[2021-05-17 16:29] BenHenning opened #3195 "Introduce linter to ensure KDoc is present"
We need to ensure that KDocs are present on all non-private:
- Classes
- Values/fields
- Explicit constructors
- Companion objects
- Nested classes
- Enums
- Annotations
- Interfaces
- Extension functions

We should also make sure that the KDocs are properly formatted per the [style guide](https://developer.android.com/kotlin/style-guide#documentation). That is, the KDoc:
- Should start correctly

[2021-05-17 16:30] BenHenning commented on #970
That's fair @anandwana001. I think the main requirements that need to be met here are:
- The XML file should be valid XML & using Android's XML namespaces
- XML attributes should be ordered in a similar grouping order to Android Studio. One approach that will work: use lexicographical sorting except for "similar" items (specifically: margin, padding, layout width/height, constraint sets are import

[2021-05-18 13:05] rt4914 commented on #414
Reverted PR in #3196

[2021-05-18 13:11] rt4914 commented on #414
cc : @viktoriias

[2021-05-18 18:51] veena14cs opened #3198 "[RTL] High-fi Onboarding Screens"
**Onboading screens needs to support RTL.**
- The arrow icon needs to be reversed.
- Skip button needs to be reversed.
- The title text and sub-text needs to be reversed.

![3](https://user-images.githubusercontent.com/16301028/118802476-c814c200-b8bf-11eb-9ab5-e4b2fd6e6d85.png)
![4](https://user-images.githubusercontent.com/16301028/118802487-cba84900-b8bf-11eb-9044-456e4c5d3242.png)
![5](https:/

[2021-05-18 19:09] veena14cs opened #3199 "[RTL] High-fi Profile Chooser"
Profile chooser fix UI spacing and make sure all the texts support RTL.

![1](https://user-images.githubusercontent.com/16301028/118801939-2d1be800-b8bf-11eb-80fa-a8f5a0b10062.png)

Tablet Landscape : https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/33741ea7-89da-4e5d-b2a4-9872f6db48b4/
Tablet Portrait : https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/

[2021-05-19 02:57] #3131 closed, assigned to rt4914

[2021-05-19 05:14] anandwana001 opened #3200 "Alpha Content Parsing Error"
Trying playing exploration with Alpha content logs the error with a blank screen.

Error

Tried opening placed values first chapter
[code]

Tried opening the first chapter of multiplication
[code]

Error - Ratio

[code]

![Screenshot 2021-05-19 at 10 43 48](https://user-images.githubusercontent.com/25057618/118759677-1bbae780-b88f-11eb-8801-5a675688d1ea.png)

[2021-05-19 05:32] anandwana001 commented on #3200
@rt4914 Checked on the latest develop branch, getting these errors.

[2021-05-19 05:38] anandwana001 commented on #3200
Solution - `src/main/java/org/oppia/android/domain/util/StateRetriever.kt`

[code]

[2021-05-19 05:54] anandwana001 opened #3201 "Setup Kotlitex library to render raw latex"
[Documentation](https://docs.google.com/document/d/1xEgWGYIUgqozTv8NdFwpmTJW0u5JHo1ezRgsoqvX0Q4/edit?usp=sharing)

[2021-05-19 06:12] anandwana001 opened #3202 "Alpha Content Error"
**Describe the bug**
One of the questions from the alpha content not accepting the correct answers.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Alpha Content
2. Fractions Chapter

**Expected behavior**
It should accept the correct answer. Currently, on the latest develop branch, it is accepting answer.

**Screenshots**
<img src="https://user-images.githubusercontent.com/25057618/1187

[2021-05-19 10:53] veena14cs opened #3204 "[RTL] High-fi Authorize Add Profile"
This screen needs to support RTL
- Reverse text in toolbar title, description text and Save button text.
- Align hint text to the right.

![Authorize add profile](https://user-images.githubusercontent.com/16301028/118801701-eb8b3d00-b8be-11eb-95a6-60c0b4c0be08.png)

[2021-05-19 11:08] veena14cs opened #3205 "[RTL] High-fi Home Screen All Topics List"
All Topics List items needs to support RTL
- Spacing between the items needs to be fixed
- Texts inside the card needs to be right aligned and reversed
![6](https://user-images.githubusercontent.com/16301028/118802909-58530700-b8c0-11eb-8e27-8312404cd69d.png)

Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/eabb7da8-e5e5-418d-b3d9-d59ae0b5f585/specs/
Mob

[2021-05-20 02:40] anandwana001 opened #3206 "Hi-fi FAQ List"
Update Faq List UI for Mobile and Tablet

1. https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/69ef4e61-dd48-42de-9fb4-1ab4a5ebe996/specs/
2. https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/63a98a9c-3b46-4ba6-87d0-2f6e7c70bbe4/specs/

[2021-05-20 04:11] anandwana001 opened #3208 "Hi-Fi FAQ Single"
Update Faq Single UI for Mobile and Tablet

1. https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/77162555-41af-49a8-a171-4b3cf21a1901/
2. https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/195a7967-e7f0-4f62-a99c-8fac560e41d8/

[2021-05-20 05:19] anandwana001 opened #3210 "Less Bottom Margin"
**Describe the bug**
There is not much bottom margin

**Screenshots**
![Screenshot_1621487843](https://user-images.githubusercontent.com/25057618/118923232-d95ddd00-b958-11eb-838d-c240e4c349ca.png)
![Screenshot_1621487906](https://user-images.githubusercontent.com/25057618/118923292-eed30700-b958-11eb-816c-7e29204c7317.png)
![Screenshot_1621487900](https://user-images.githubusercontent.com/2505761

[2021-05-20 05:19] anandwana001 commented on #3210
@rt4914 PTAL
Also, when hint icon visible, the prev button hides.

[2021-05-20 06:05] anandwana001 commented on #2001
@rt4914 could you please confirm if this is similar - https://github.com/oppia/oppia-android/issues/3200

[2021-05-20 08:04] priyanka0906 commented on #3160
@rt4914 may I assign this to myself?

[2021-05-20 08:29] rt4914 commented on #3160
@priyanka0906 This might become too complicated so for now I have assigned you #3169 once that is done you can work on this issue. Thanks.

[2021-05-20 16:31] AkinchanKushwaha commented on #3106
Hi, Can I work on this issue?

[2021-05-20 16:51] anandwana001 commented on #3106
Hi @AkinchanKushwaha Start here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-05-21 07:30] #414 closed, assigned to viktoriias

[2021-05-21 07:35] #3031 closed, assigned to anandwana001

[2021-05-21 07:42] rt4914 commented on #3202
Ack @anandwana001

[2021-05-21 08:14] rt4914 commented on #2001
Looks similar.

[2021-05-21 08:37] #3206 closed, assigned to anandwana001

[2021-05-21 09:23] #3208 closed, assigned to anandwana001

[2021-05-21 10:00] AkinchanKushwaha commented on #3106
@anandwana001 I have acknowledged the Onboarding instructions and filled the survey and signed the CLA form.

[2021-05-21 12:31] anandwana001 opened #3217 "Update Flexbox dependency"
Host moved to google maven - https://github.com/google/flexbox-layout/releases/tag/3.0.0

[2021-05-21 14:08] Victor-Titan commented on #3188
@rt4914 I'd like to work on this. How should I go about it?

[2021-05-21 14:54] pravesh00 commented on #3210
Can I work on this?

[2021-05-21 15:03] anandwana001 commented on #3210
Hi @pravesh00 it is assigned to @rt4914 You can look for other good first issues.
Start here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-05-21 16:20] pravesh00 commented on #3193
Can I work on this?

[2021-05-21 16:25] pravesh00 commented on #2823
@rt4914 is this issue resolved? Can I work on this?

[2021-05-21 17:05] AkinchanKushwaha commented on #3106
![image](https://user-images.githubusercontent.com/66404345/119173273-ac0e4d80-ba84-11eb-8b6c-343895acab58.png)
@anandwana001 How can I fix this problem?
I have already tried doing "invalidate and restart" and also looked it on StackOverflow but nothing worked.

[2021-05-21 19:36] rt4914 commented on #2823
@pravesh00 Thanks for your interest. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-05-21 22:14] Victor-Titan commented on #3193
@pravesh00 sure!

[2021-05-22 02:38] anandwana001 commented on #3106
clean and rebuild might help, also keep the internet connection stable thought the process.
Also, you can discuss such errors in our gitter channel too - https://gitter.im/oppia/oppia-android

[2021-05-22 03:40] anandwana001 commented on #3098
@BenHenning Do we need more test for this - https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/android/app/customview/LessonThumbnailImageViewTest.kt

[2021-05-22 14:20] #3198 closed, assigned to veena14cs

[2021-05-22 14:23] #2268 closed, assigned to veena14cs

[2021-05-22 15:26] rt4914 commented on #3188
@Victor-Titan You can start with `ImageTagHandler` in utility module. It might be too hard at first but if you get stuck feel free to unassign.

[2021-05-22 19:40] veena14cs opened #3223 "[RTL] High-fi Edit Profile Screen."
Edit Profile Screen needs to support RTL.
- Name placement needs to fixed

![kk](https://user-images.githubusercontent.com/16301028/119238964-78562500-bb63-11eb-8c7d-e52737f974de.png)

[2021-05-23 19:44] rt4914 commented on #2531
This issue can be closed as although it is appearing as an error but thats under very specific circumstance which won't happen on screen reader and also this does pass on mobile devices.

[2021-05-23 19:44] #2531 closed, assigned to nobody

[2021-05-23 20:18] rt4914 commented on #2210
Closing as it will get solved in #2618

[2021-05-23 20:18] #2210 closed, assigned to nobody

[2021-05-23 20:28] rt4914 commented on #2807
This has already been covered in #2637

[2021-05-23 20:28] #2807 closed, assigned to nobody

[2021-05-23 20:37] rt4914 commented on #2638
Considering that this is the behaviour across other apps too I am closing this issue.
I have checked this on `Whatsapp`, `Gmail App - Settings` and also `Settings` inside android phone.

https://user-images.githubusercontent.com/9396084/119275815-cedf6400-bc34-11eb-9523-db4ad69eea87.mp4

[2021-05-23 20:37] #2638 closed, assigned to rt4914

[2021-05-23 21:24] #2817 closed, assigned to rt4914

[2021-05-23 21:24] #2326 closed, assigned to rt4914

[2021-05-23 22:02] #3223 closed, assigned to veena14cs

[2021-05-23 22:20] rt4914 opened #3231 "Button Margin Updates in Style"
All `StateButtonActive` using buttons have issues now because of introduction of `layout_margin="4dp"` in its style.

<img src="https://user-images.githubusercontent.com/9396084/119279441-723a7400-bc49-11eb-9df1-ffa455d86dd8.png" width="250" />  <img src="https://user-images.githubusercontent.com/9396084/119279443-74043780-bc49-11eb-8169-541ca1e006da.png" width="250" /> <img src="https://user-imag

[2021-05-23 22:40] #2813 closed, assigned to rt4914

[2021-05-23 22:47] #2637 closed, assigned to rt4914

[2021-05-24 00:59] anandwana001 opened #3233 "Bazel Test Error"
Currently, our Bazel Test are failing for this new file `ImageViewMatcher`, which is used at two places, `TopicInfoFragmentTest` and `TopicRevisionFragmentTest`.  Bazel is not able to access the companion object function.

**Error**

[code]

[2021-05-24 00:59] anandwana001 commented on #3233
@FareesHussain @fsharpasharp PTAL

[2021-05-24 01:05] #3233 closed, assigned to fsharpasharp, FareesHussain

[2021-05-24 01:16] anandwana001 commented on #3233
Fixing at https://github.com/oppia/oppia-android/pull/3228

[2021-05-24 05:08] anandwana001 opened #3234 "Hi-Fi Pin Verification Tablet"
Mobile Portrait : https://xd.adobe.com/view/3dca36c2-5115-419c-b25e-0f10526b077c-6899/screen/4d274b3e-c27b-438a-8c74-c0ff16134080/
Mobile Landscape : https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/327723da-a1e8-40e4-aace-9c30d663b20b/
Tablet Portrait : https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/8de829a5-fc1c-4083-b510-44c1387ed9c2/
Tablet

[2021-05-24 05:30] anandwana001 opened #3236 "Hi-Fi Add Profile Tablet"
Mobile - https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/62215bbd-1f4e-448e-b370-19c4a06fa814/

Tablet - https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/271b428d-7d98-40b4-b74e-f2a5266b0587/

**Follow this guide**: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2021-05-24 09:26] #3231 closed, assigned to rt4914

[2021-05-24 11:28] anandwana001 opened #3238 "Hi-Fi Admin Pin Tablet"
Mobile - https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/c3809dea-7afa-4905-9a93-ea4273459a68/

Tablet - https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/6876c089-6ee6-48d4-85bb-880be3b5ac35/

[2021-05-24 11:29] anandwana001 opened #3239 "Hi-Fi Admin Auth Tablet"
Mobile - https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/785546bd-b160-4d9b-b5d6-53ddc1b4a80a/

Tablet - https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/f2b8acef-b71a-40c3-a4f4-e426e6be563f/

**Follow this guide**: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2021-05-24 11:30] anandwana001 opened #3240 "Hi-Fi App Version Tablet"
Mobile - https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/79e0846d-de5c-42b7-93aa-f93d4995616d/

Tablet - https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/80d1f4d6-be84-42db-ab23-9b5e1eb6e596/

**Follow this guide**: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2021-05-24 11:30] anandwana001 opened #3241 "Hi-Fi Profile List Tablet"
Mobile - https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/ddc3dadf-10e4-45f6-aeea-eb8a330e00ff/

Tablet - https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/92134768-c62c-44f8-bbad-8429ce6e3ea0/

**Follow this guide**: https://github.com/oppia/oppia-android/wiki/Working-on-UI

## Checklist
- [ ] Implement rename screen inside a fragment
- [ ] Imple

[2021-05-24 11:31] anandwana001 opened #3242 "Hi-Fi User Profile Tablet"
Mobile - https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/1c3f250f-32e5-4299-8187-75d7c3dbe6b6/

Tablet - https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/e277771d-14bf-48a2-9974-7d48f25d3f28/

**Follow this guide**: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2021-05-25 12:28] rt4914 opened #3245 "[A11y] Enable AccessibilityChecks[blocked on #4991]"
Enable AccessibilityChecks for espresso by removing `DisableAccessibilityChecks` annotation from all Espresso tests.

Reference: https://github.com/oppia/oppia-android/pull/3087 & #4133

This PR should be done in multiple parts, ideally pick 3-5 files at a time.

Please use the linked PRs as a guide on how to solve the issue and how to structure your PR.

Make sure you add screenshot of passing es

[2021-05-25 12:40] pravesh00 opened #3247 "Language change is not working"
**Describe the bug**
In the app, we have given language change support but it is not applying to the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on menu hamburger
3. Click on options and then app language
4. Select another language

**Expected behavior**
On selecting other language radio button it should apply language changes to the whole app

**Screenshots**

[2021-05-25 12:53] rt4914 commented on #3247
@pravesh00 This is actually not an issue as this is an entire feature which is pending. Therefore closing this issue. This also getting tracked in #52

[2021-05-25 12:54] #3247 closed, assigned to nobody

[2021-05-25 13:34] rt4914 opened #3248 "[A11y] Enable A11y Tests: NavigationDrawerActivityTest"
Multiple tests are failing on #3246 with following error:

<img width="1551" alt="Screenshot 2021-05-25 at 7 02 52 PM" src="https://user-images.githubusercontent.com/9396084/119506877-f432b600-bd8b-11eb-8247-806352fd42d4.png">

[2021-05-25 13:50] anandwana001 commented on #3248
Are all these espresso or robolectric?
Also, it looks like they are failing due to accessibility.
Are they failing on develop too?

[2021-05-25 14:50] BenHenning commented on #2923
Per https://github.com/google/flexbox-layout/issues/566#issuecomment-844630491 flexbox layout is now available on Google's Maven repository, so we should be able to migrate over to it.

[2021-05-25 15:00] BenHenning commented on #2923
#3228 moved our pinview dependency over to Maven Central from JCenter/Bintray, and #3249 is doing the same for flexbox layout. I think after that one is done we will be able to remove JCenter/Bintray from our repository lists.

[2021-05-25 15:01] BenHenning commented on #2923
#3228 moved our pinview dependency over to Maven Central from JCenter/Bintray, and #3249 is doing the same for flexbox layout. I think after that one is done we will be able to remove JCenter/Bintray from our repository lists.

[2021-05-25 16:11] rt4914 opened #3251 "[A11y] Enable A11y Tests: StateFragmentTest + ExplorationActivityTest"
Multiple tests are failing on #3246 with following error:
<img width="1190" alt="Screenshot 2021-05-25 at 9 35 33 PM" src="https://user-images.githubusercontent.com/9396084/119531159-492cf700-bda1-11eb-84fc-5a2f312a7b35.png">

## Content TextView Size Error
Because `content_text_view` can have clickable links therefore the min height of the TextView should be atleast `48dp`
<img width="500" alt="S

[2021-05-25 20:06] veena14cs opened #3254 "[RTL] High-fi Hints and Solution icon on Exploration Screen"
Hints and Solution icon needs to be updated to support RTL.

![dd](https://user-images.githubusercontent.com/16301028/119561401-bc933080-bdc2-11eb-9306-76737ea483b6.png)

[2021-05-25 20:08] rt4914 commented on #3248
@anandwana001 All of these are espresso and also only when we enable `AccessibilityChecks` otherwise all of these are passing on current develop.

[2021-05-25 20:48] #2823 closed, assigned to pravesh00

[2021-05-26 07:42] #3254 closed, assigned to veena14cs

[2021-05-26 07:47] ishitaojha commented on #3210
Hey is the issue fixed or can I give it a try?

[2021-05-26 11:17] #3217 closed, assigned to BenHenning

[2021-05-26 13:46] pravesh00 commented on #3142
Can I work on this? @anandwana001

[2021-05-26 16:59] rt4914 commented on #3210
@ishitaojha This issue is already assigned to me. Can you please select some other issue from [here](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+no%3Aassignee).

Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can a

[2021-05-26 17:21] ishitaojha commented on #3210
okay thanks , and I'll surely have a look .

On Wed, May 26, 2021 at 10:30 PM Rajat Talesra ***@***.***>
wrote:

[2021-05-26 19:58] FareesHussain commented on #2746
I've tried using the latest version of bazel plugin (2021.04.27.0.0) for the to build using bazel.

I've created a [gist](https://gist.github.com/FareesHussain/2ee5749f3d4e30c03820ae9270358d85) for the errors I've encountered.

[2021-05-27 03:02] BenHenning commented on #2746
Ah, that might be a different error @FareesHussain. Could you add your .bazelproject file to a Gist & link that here? Also, which Android SDK do you have installed on your system?

[2021-05-27 03:07] FareesHussain commented on #2746
Here is the [gist](https://gist.github.com/FareesHussain/c7a2652bb23af72eb223844d37a7501b)

the plugin showed SDK 29 and 30 as available and I selected 30

[2021-05-27 20:33] BenHenning opened #3258 "Find a maintained replacement for CircularImageView"
The codebase currently depends on 2 different CircularImageView dependencies. One of them, https://github.com/sparrow007/CircularImageview, is no longer maintained and should be replaced with a dependency that's kept up-to-date. This will allow us to remove our custom fork of the library (which was needed per #2923 to remove the codebase's dependency on jcenter).

[2021-05-27 20:33] BenHenning commented on #2923
Another issue: https://github.com/sparrow007/CircularImageview is only available on jcenter. It looks like the dependency isn't really managed anymore, so I filed an issue #3258 to move to something that's maintained. We'll need to create a fork of the dependency and use jitpack to avoid jcenter.

That being said, Bazel builds without jcenter which is a bit confusing to me.

[2021-05-27 20:38] BenHenning commented on #2923
Ah. Bazel builds because we already have a fork of the circular image view repo to support Bazel builds: https://github.com/oppia/CircularImageview.

[2021-05-27 21:21] anandwana001 commented on #3258
Rajat and I discussed about using ShapeableImageView from material design library.
https://developer.android.com/reference/com/google/android/material/imageview/ShapeableImageView
Need to test if it goes similar with our mocks.

[2021-05-28 06:54] #3142 closed, assigned to pravesh00

[2021-05-28 06:57] #2613 closed, assigned to adit19shah

[2021-05-28 07:05] pravesh00 commented on #2403
@anandwana001 Can I work on this?

[2021-05-28 07:47] #2923 closed, assigned to BenHenning

[2021-05-29 14:47] jonathanalvares9009 commented on #3189
I'll create a new PR by Monday to solve this issue

[2021-05-31 07:42] pravesh00 opened #3263 "Radio button flickers when chosen a wrong option"
**Describe the bug**
The radio button in practise mode flickers or we can say all options refreshes every time we select a wrong option. Also, I think it would be good to have an immediate reflection to the user that the option was correct or wrong by highlighting the selected radio button as green or red for like 500ms to 1000ms.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Practis

[2021-05-31 22:38] viktoriias commented on #3236
@anandwana001 What needs to be done in this task? "Add profile" looks exactly like it's shown in the spec:

<img width="365" alt="Screen Shot 2021-01-06 at 12 44 00 PM" src="https://user-images.githubusercontent.com/10843277/120246629-a1427e00-c225-11eb-8d79-f6c84e39ba99.png">

[2021-06-01 02:30] FareesHussain commented on #3236
This is fixed in https://github.com/oppia/oppia-android/pull/2124

[2021-06-01 02:34] anandwana001 commented on #3236
This issue is about reducing the usage of tablet UI files.
@viktoriias Please check if we can remove the files like `sw600dp-port` or `sw600dp-land` or maybe both and achieve a similar UI or by introducing the dimension resources.

Example PRs - https://github.com/oppia/oppia-android/pull/3209/files
https://github.com/oppia/oppia-android/pull/3207/files

[2021-06-01 19:19] #2761 closed, assigned to fsharpasharp

[2021-06-01 19:19] #2769 closed, assigned to fsharpasharp

[2021-06-01 19:19] #3125 closed, assigned to fsharpasharp

[2021-06-01 22:59] BenHenning commented on #3258
SGTM if that works.

[2021-06-02 02:50] FareesHussain commented on #2746
![image](https://user-images.githubusercontent.com/54740946/120416734-40c55500-c37b-11eb-8069-0b8c5e044c04.png)

I was trying to install from disk by downloading the [build](https://github.com/hedronvision/bazelbuild-intellij/releases/download/v2021.02.03/aswb_bazel.zip) but it gives the above error

[2021-06-02 09:51] rt4914 commented on #3263
@pravesh00 That looks like a flicker but thats because on selection of incorrect answer, one item is getting added to the entire list of items.
In your video you can notice that the count in `Previous Responses` increases as soon as you click as the `SelectionInteraction` gets added again at bottom.

[2021-06-02 09:51] #3263 closed, assigned to nobody

[2021-06-03 03:02] #2403 closed, assigned to pravesh00

[2021-06-03 07:39] pravesh00 commented on #2480
@anandwana001 Can I work on this issue?

[2021-06-03 07:53] AkinchanKushwaha commented on #3258
Hi, Please check out https://github.com/hdodenhof/CircleImageView. It has 13.9k stars on GitHub.

[2021-06-03 08:14] anandwana001 commented on #3258
@AkinchanKushwaha Currently, we are using this library only, but we are looking forward to move to `ShapeableImageView `.

[2021-06-03 08:16] anandwana001 commented on #2480
@pravesh00 Before assigning, have you check the above comments?
Also, I suggest commenting on what approach you will use to solve this issue before sending out the PR.
Comment 1 - https://github.com/oppia/oppia-android/issues/2480#issuecomment-782000972
Comment 2 - https://github.com/oppia/oppia-android/issues/2480#issuecomment-784854352

[2021-06-03 15:00] Victor-Titan commented on #3188
@rt4914 I can not find `ImageTagHandler` in any kotlin files in the project. Can you please help.

[2021-06-04 08:55] #3199 closed, assigned to veena14cs

[2021-06-05 14:53] adit19shah commented on #3137
@FareesHussain I want to work on this issue. I'm self-assigning it.

[2021-06-06 15:43] vrajdesai78 commented on #2732
Can I work on this issue? I can add animation to it.

[2021-06-06 16:16] veena14cs opened #3266 "[RTL] High-fi Exploration images to be center aligned"
The image inside the rich text needs to be in the centre.

![screenshot](https://user-images.githubusercontent.com/16301028/120931707-64d4bd80-c710-11eb-8d08-b66160ac6e61.png)

[2021-06-07 06:03] prayutsu opened #3268 "Introduce Pinning Arifacts Mechanism for Maven dependencies"
Integrate Maven artifacts pinning to generate maven_install.json, the new source of truth for the Maven dependencies used in the repo.

**Target PR date**: 2021-06-09
**Target completion date**: 2021-06-13

[2021-06-07 08:38] rt4914 commented on #2732
@vrajdesai78 Sure. I am assigning it to you.

[2021-06-08 11:19] fsharpasharp opened #3276 "Create a BUILD.bazel file for domain/onboarding"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-06-08 11:22] fsharpasharp opened #3277 "Create a BUILD.bazel file for domain/state"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-06-08 11:25] fsharpasharp opened #3278 "Create a BUILD.bazel file for domain/testing/oppialogger/loguploader/"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-06-08 11:27] fsharpasharp opened #3279 "Create a BUILD.bazel file for domain/feedbackreporting/"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-06-08 11:29] fsharpasharp opened #3280 "Create a BUILD.bazel file for domain/util"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-06-09 19:22] #2628 closed, assigned to Arjupta

[2021-06-10 13:32] MaskedCarrot opened #3283 "Story card does not collapse when the topic is opened from promoted topics lists"
**Describe the bug**
A clear and concise description of what the bug is.

The Story card in Topic Lessons fragment does not collapse when the topic is opened from promoted stories.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the "What is Fractions?" topic from the promoted stories.
2. Click on the upward-facing arrow in the Story card
3. See error

**Expected behavior**
The story c

[2021-06-11 06:48] prayutsu opened #3284 "Update Wiki to include instructions for updating Maven dependencies in the repository"
The process of updating Maven dependencies will slightly be changed after #3270 is merged. Add the instructions for the same in the wiki.

**Target PR date**: 2021-06-10
**Target completion date**: 2021-06-13

[2021-06-11 06:54] prayutsu opened #3285 "Create a script to generate the list of Maven dependencies, versions, and license links"
Create a Kotlin script that will contain a complete list of Maven dependencies (direct + transitive) for which the licenses will be extracted.

**Target PR date**: 2021-06-19
**Target completion date**: 2021-06-24

[2021-06-11 06:59] prayutsu opened #3286 "Update Wiki to include complete instructions for updating any Maven dependencies"
Update wiki to reflect changes in the procedure of updating Maven Dependencies in the repository.

**Target PR date**: 2021-06-24
**Target completion date**: 2021-06-26

[2021-06-11 07:03] prayutsu opened #3287 "Create a Kotlin script to extract the licenses for the Maven dependencies"
Create a Kotlin script that will extract the license texts for all the Maven dependencies and also generate resource XML files that will be used to display the actual license texts.

**Target PR date**: 2021-06-30
**Target completion date**: 2021-07-06

[2021-06-11 08:12] MaskedCarrot opened #3288 "Create model layer for checkpointing"
Create new and modify existing protobufs to implement lightweight checkpointing.
Target | Date
--|--
**PR creation:** | 2021-06-08
**PR completion:** | 2021-06-11

[2021-06-11 11:08] Arjupta opened #3289 "New Protos for the Platform Parameter Project"
Add new protos for the platform parameter project. Namely
- PlatformParameter
- PlatformParameterWithName
- PlatformParameterDatabase
- PlatformParameterMap

Target PR date: 7 June 2021
Target completion date: 11 June 2021

[2021-06-11 14:18] Sparsh1212 opened #3290 "Add support for generic regex pattern matching against filename patterns and file contents."
Integrate the base for the future regex pattern checking against file name patterns and file contents.

**Target PR date:** 2021-06-15
**Target completion date:** 2021-06-19