[2022-02-01 17:22] rt4914 commented on #3602
Opening this issue as one thing is pending: https://github.com/oppia/oppia-android/pull/4126

[2022-02-01 17:45] vrajdesai78 opened #4148 "Espresso Test failing in PinPasswordActivityTest"
**`testPinPassword_user_forgot_adminPinAndNullPin_configChange_imeAction_errorIsDisplayed`** Espresso test is failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Run **`testPinPassword_user_forgot_adminPinAndNullPin_configChange_imeAction_errorIsDisplayed`** test

**Expected behavior**
Testcase should pass without any error.

**Demonstration**
![Screenshot from 2022-02-01 23-13-08](http

[2022-02-01 17:49] vrajdesai78 opened #4149 "ImageViewBindingAdaptersTest is taking more than 50 minutes and then crashed[Blocked on #4991]"
**Describe the bug**
ImageViewBindingAdpatersTest file is crashing after taking long time.

**Expected behavior**
Test case should pass within 10 minutes.

**Environment**
- Device/emulator being used: Pixel 5
- Android or SDK version (e.g. Android 5 or SDK 21): Android 9

[2022-02-01 18:09] viktoriias commented on #3892
No problem, I'm having trouble with Android Studio permissions on my work laptop.

[2022-02-01 22:13] rishidyno opened #4150 "Add DrawableBindingAdaptersTestActivity to `accessibility_label_exemptions`."

[2022-02-02 05:13] bhaktideshmukh commented on #4135
@BenHenning Hey can I work on this?
And also please do suggest which PR i should consider as reference to solve this issue.

[2022-02-02 05:19] yashbansal130 commented on #4075
@yash10019coder can i try this one?

[2022-02-02 07:11] rt4914 commented on #3345
@TheSwarnim This has been explained in meeting but for reference adding it here too.

1. The issue is that images are cut-off and it can be because of two reasons (a.) the images are two big (b.) the images are the last thing in rich text. I think (b.) might be the reason because all the above screenshots show that the images are last part of rich-text.
2. The screenshots displayed above are from

[2022-02-02 07:14] rt4914 commented on #3069
No this is not required because in practice we will change this entire thing to use protos and a central file to route to different activities.

[2022-02-02 07:14] #3069 closed, assigned to rt4914

[2022-02-02 07:20] rt4914 commented on #3722
@shubhanshu-coder You can find CLA here: https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android#onboarding-instructions

[2022-02-02 07:23] rt4914 commented on #2824
@bkaur-bkj Actually no. I just removed good-first-issue label from it.

[2022-02-02 07:26] TheSwarnim commented on #3345
Thanks, Rajat for your reference. It will help me a lot.

[2022-02-02 07:45] rt4914 commented on #3579
Closing this PR as this issue cannot be solved. All four combinations of the UI are quite different and therefore we cannot merge them.

[2022-02-02 07:45] #3579 closed, assigned to vivaansahai

[2022-02-02 08:00] #3534 closed, assigned to Akshatkamboj14

[2022-02-02 08:38] #3572 closed, assigned to ArchitJain1201

[2022-02-02 08:56] shubhanshu-coder commented on #3722
I have filled it now

[2022-02-02 10:32] ArchitJain1201 commented on #1951
@bkaur-bkj  Can you please assign me this issue?

[2022-02-02 10:48] bkaur-bkj commented on #2824
okay

[2022-02-02 11:12] #3544 closed, assigned to xpandeyed

[2022-02-02 13:04] Akshatkamboj14 commented on #3411
hey @rt4914 can you assign me this?

[2022-02-02 13:21] #3540 closed, assigned to aayushimathur6

[2022-02-02 19:19] yash10019coder commented on #4075
ya sure

[2022-02-03 04:52] yashbansal130 commented on #4075
@yash10019coder it is working fine in my emulator both on Pixel 3 and Nexus 10 API 30

[2022-02-03 09:41] ArchitJain1201 commented on #1951
@rt4914 Can I also merge all the four files together?

[2022-02-03 10:31] rt4914 commented on #1951
@ArchitJain1201 If the before/after output is exactly same than you can. Basically we aim at merging all files to one but the output UI should not change.

[2022-02-03 10:55] ArchitJain1201 commented on #1951
@rt4914 Can you please check the Heading4 textSize is defined as 18sp but it should be 16sp. ( should I make the necessary changes )

[2022-02-03 15:34] bhaktideshmukh commented on #4017
Hey @rt4914 @BenHenning I would like to give this issue a try but do not have an experience in UI design.
So it will be great help if someone would guide a little.

[2022-02-03 17:07] addy-zero commented on #3537
@ArchitJain1201 I was already assigned to this.

[2022-02-03 17:13] ArchitJain1201 commented on #3537
I am really sorry @adizcode, this issue was aligned with my issue. Can you please pick a new one?
PTAL @rt4914

[2022-02-03 18:54] adizcode commented on #3535
@rt4914 I have a small query

The portrait files (for phone and tablet) both have an identical AppBarLayout that wraps the Toolbar, whereas both the landscape files just have a Toolbar.

In order to merge all files into one, I'll need to add the same AppBarLayout to the other two files as well. So should I open another issue for that?

[2022-02-03 22:03] Manikant25 opened #4154 "Enhancing onboarding experience"
**Is your feature request related to a problem? Please describe.**
Its not related to problem but enhancement.  In onborarding fragment we can add feature like clicking on left and right its view changes like an instagram or whatapp story.

**Describe the solution you'd like**
We can add touch listeners which will detect and do the action

**Describe alternatives you've considered**
No other

**Ad

[2022-02-03 22:04] Manikant25 commented on #4154
Please assign me, if you feel its  good to add. @rt4914

[2022-02-04 05:01] #4150 closed, assigned to rishidyno

[2022-02-04 13:41] Akshatkamboj14 commented on #2546
can you assign me this issue?

[2022-02-04 13:41] Akshatkamboj14 commented on #2546
@rishidyno

[2022-02-04 13:44] pandayed commented on #2546
Can you please assign this to me? Thanks.

[2022-02-04 13:58] Akshatkamboj14 commented on #3602
can you assign me this?

[2022-02-04 14:00] rishidyno commented on #2546
Assigned this to @xpandeyed.

[2022-02-05 06:54] yash10019coder commented on #4075
try to run it on Android 9

[2022-02-05 13:25] kritigupta45 commented on #3458
Hi @rt4914,
I would like to work on this issue, kindly assign it to me if possible. Also, your guidance on getting started with this would be of much help.
Thanks.

[2022-02-05 13:36] yashbansal130 commented on #4075
@yash10019coder working fine on Android 9 API 28

[2022-02-05 18:21] yash10019coder commented on #4075
@srushtirk can you please confirm that the issue still exists?

[2022-02-05 18:32] yash10019coder commented on #4075
@srushtirk I just tried it in my phone with the latest develop and it works.

https://user-images.githubusercontent.com/76404817/152654341-dd4e3892-0db8-4355-bc7a-913c3198a5c7.mp4

[2022-02-06 05:22] yashbansal130 commented on #3930
@rt4914 can i work on this?

[2022-02-08 05:05] srushtirk commented on #4075
Hi @yash10019coder thanks for checking, looks like the issue still exists on the specific device listed in the issue, but is working fine on other devices (I tested on Pixel 5, android 12).

[2022-02-08 13:41] rishidyno commented on #4106
@deepanshu731 are you working on this issue?

[2022-02-08 14:58] FareesHussain opened #4165 "Add e2e tests for TopicActivity"
Add End-to-End tests for the TopicActivity using Bazel + UiAutomator.

Test case should include the flow of
- Opening a topic.
- Exploration all the features of the topic.

To pick this issue you need:
- [Bazel setup](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions)
- to be able to run a [E2E test](https://github.com/oppia/oppia-android/wiki/End-to-End-Testing-Guide#how-

[2022-02-08 15:02] FareesHussain opened #4166 "Add e2e tests for AddProfileActivity"
Add End-to-End tests for the AddProfileActivity using Bazel + UiAutomator.

Test case should include the flow of
- Opening AddProfileActivity.
- Create a set of profiles with different attributes (like with and without password, long name).

To pick this issue you need:
- [Bazel setup](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions)
- to be able to run a [E2E test](http

[2022-02-08 16:18] Rohit1173 commented on #3245
I want to work on this issue

[2022-02-08 16:39] deepanshu731 commented on #4106
yeah , i am working on this

[2022-02-08 18:07] veena14cs commented on #2698
This issue was assigned to me, as I was working on supporting nested list tags (`<ul>` &`<li>`) that weren't handled correctly in SDK 19 and was causing crash. I have found the fix for it [reference](https://docs.google.com/document/d/1VqvDSxlWJkLfxknOa2nmcVeuXIbCcKQTFGUFoz3GOrk/edit?usp=sharing).
We assumed that the solution proposed for list tags, would also fix this issue but it didn't reflect

[2022-02-08 18:32] yashbansal130 commented on #4075
@yash10019coder what should i do then?

[2022-02-08 18:33] yashbansal130 commented on #3930
@yash10019coder can i work on this

[2022-02-08 18:42] yashbansal130 commented on #3930
@rishidyno can you guide like what exactly i have to do in this one

[2022-02-08 18:53] rishidyno commented on #3930
@yashbansal130 did you read the description of the issue? [Description](https://github.com/oppia/oppia-android/issues/3930#issue-1026630209)

[2022-02-08 19:12] rishidyno commented on #4093
@BenHenning @srushtirk  I also think full view zoom would be difficult to implement and will have to face many difficulties, but I think we should go for this approach as this would give users a good experience overall. As I will start working on this issue, I wanted to confirm which approach are we going here for?

[2022-02-08 19:44] rishidyno commented on #4166
@FareesHussain I am interested, but please guide me how to proceed in this issue?

[2022-02-08 19:58] FareesHussain commented on #4166
I suggest referring to the existing e2e tests, and going through the wiki page mentioned in the description

[2022-02-08 20:34] rishidyno commented on #4166
Thanks, @FareesHussain.

[2022-02-09 04:01] yashbansal130 commented on #3930
like in #3902 it appears in the toast message that there are two "," but in the layout its showing only one, why is that happening, why is the extra "," not appearing in textview but in Toast messsage it is appearing?

[2022-02-09 09:24] yashbansal130 commented on #3930
@rishidyno
I found out that there are two separate textview for greeting message and the message of the user.

![Screenshot from 2022-02-09 14-48-08](https://user-images.githubusercontent.com/66557534/153164344-eeaf23c1-531c-42ed-a048-f05e09bdc1b1.png)

since both of the texts are databinded i can use a single textview, so either i have to remove first textview of the greetings message or the seco

[2022-02-09 11:01] ayush0402 opened #4169 "Topic name text is cut off in topic_info_fragment for ratios and proportional reasoning"
**Describe the bug**
Text in `topic_name_text_view` under topic_info_fragment for `Ratios and Proportional Reasoning` is extending outside screen borders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to All Topics.
2. Click on Ratios and Proportional Reasoning.
3. See error

**Expected behavior**
Topic name should be completely visible.

**Demonstration**
If applicable, add screenshots

[2022-02-09 18:35] rishidyno commented on #3930
It does not matter which one you remove, basically you have to find out a solution such that the functionality remains same as earlier. If we merge these two text view it will work better in RTL and we can also get rid of double commas when screen reader is on. Just manage the string resource which we are getting from view model in a singel textview. I hope this makes sense.

[2022-02-10 04:12] BenHenning commented on #3981
FYI @anandwana001 this will require updating the target SDK everywhere for Gradle & Bazel, and playing through the app to make sure that nothing breaks on an API 30 device (since it changes Android SDK behavior). We should also look at all the SDK changes between our current target and 30 via Android docs to see what the difference is.

[2022-02-10 04:36] yashbansal130 commented on #3930
@rishidyno functionality will remain same after removing the first textview and it does not have much of usages, but it has usages in androidTests so those tests would no longer pass.
what to do with them?

[2022-02-10 04:51] rishidyno commented on #3930
I think the test will have to modify accordingly. Can you please link the test file here.

[2022-02-10 04:59] yashbansal130 commented on #3930
ya sure
https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/android/app/home/HomeActivityTest.kt

[2022-02-10 05:12] rishidyno commented on #3930
So looking at it you will have to combine the test which says the user name which is Admin in our case and the greetings text. I can see that there are 3 different timestamps for which we are checking. So you will have to modify all the tests related to it accordingly.

[2022-02-10 05:17] ArchitJain1201 commented on #3722
@shubhanshu-coder Are you still working on this issue or Can I take it?

[2022-02-10 05:18] yashbansal130 commented on #3930
also the string resource of greeting message is in 3 languages i guess and they contain "," from the string resource itself
![Screenshot from 2022-02-10 10-45-55](https://user-images.githubusercontent.com/66557534/153342282-48b9b75a-adac-4515-b13c-234e5251f1bd.png)
![Screenshot from 2022-02-10 10-47-33](https://user-images.githubusercontent.com/66557534/153342323-712c310e-1399-4ebe-a486-89d5483d73

[2022-02-10 05:31] BenHenning opened #4170 "Fix vertical alignment for locally rendered and cached LaTeX"
#4068 introduced support for locally rendering and caching LaTeX expressions. Unfortunately, the local cached LaTeX uses an image span for rendering a bitmap representation of the LaTeX and doesn't seem to be center-alignable. Android only supports bottom and baseline alignment in ImageSpans, and custom translation doesn't seem to fix it. The closest I was able to get was using a negative top boun

[2022-02-10 05:32] yashbansal130 commented on #3930
u mean to say i have to edit the test  such that the textview is tested with both the greeting message + username in a single test

[2022-02-10 05:49] yash10019coder commented on #4075
you can try to run on all devices from android 6 or 7 to android 12 and can check whether they are working or not.

[2022-02-10 06:10] rishidyno commented on #3930
Yes @yashbansal130 I mean ones the textviews are merged we will also have to merge the tests which were initially written seperately.

[2022-02-10 06:10] yash10019coder commented on #2423
you can start from domain/java/test(that green folder)/classify/rules/fractionalinput/
[link](https://github.com/oppia/oppia-android/tree/5801df02317cc3f052d79a3dea8b3becd06bc60d/domain/src/test/java/org/oppia/android/domain/classify/rules/fractioninput)

In this you can find some classes try to find the names which seems odd mathematically
like an whole number integer in this the thing wrong is i

[2022-02-10 06:55] rt4914 commented on #3366
Un-assigned because of inactivity.

[2022-02-10 07:08] yashbansal130 commented on #4075
working fine on API 25 to 32

[2022-02-10 07:13] yash10019coder commented on #4075
@yashbansal130 can you try to check this on Samsung Galaxy8 Andorid 9
you can download the hardware profile for the device

[2022-02-10 07:15] yashbansal130 commented on #4075
@yash10019coder how can i do that?

[2022-02-10 07:17] yash10019coder commented on #4075
https://developer.samsung.com/galaxy-emulator-skin/guide.html

[2022-02-10 07:18] yash10019coder commented on #4075
on creating the new emulator you can use new hardware profile and then import the profile you are going to download

[2022-02-10 07:31] yashbansal130 commented on #4075
@srushtirk samsung galaxy s8?

[2022-02-10 10:17] yashbansal130 commented on #3930
@rishidyno the textview for header of profile progres fragment and home fragment have same id, should i change that?

[2022-02-10 12:05] yashbansal130 commented on #4075
@yash10019coder
![Screenshot from 2022-02-10 17-34-42](https://user-images.githubusercontent.com/66557534/153405424-6e697483-cd54-4069-857b-767cc82a42ef.png)
error while launching device

[2022-02-10 12:44] rishidyno commented on #2824
@rt4914 @BenHenning can I work on this issue, as I am quite interested?

[2022-02-10 13:16] rishidyno commented on #4093
@BenHenning @srushtirk I also need guidance on how to approach this issue. Please suggest how to begin with this project

[2022-02-10 13:38] rishidyno commented on #3930
@yashbansal130 can you please share SS or link these files here. Thanks!

[2022-02-10 13:39] rishidyno commented on #3930
I think we can just keep the commas here.

[2022-02-10 13:41] rishidyno commented on #4166
@FareesHussain do we have any e2e test written where I can take reference from? If yes please link then here. Thanks!

[2022-02-10 13:54] FareesHussain commented on #4166
https://github.com/oppia/oppia-android/blob/develop/instrumentation/src/javatests/org/oppia/android/instrumentation/player/ExplorationPlayerTest.kt

FYI architecture is mentioned in the [End to End Testing Guide](https://github.com/oppia/oppia-android/wiki/End-to-End-Testing-Guide#how-to-run-an-end-to-end-test) wiki

[2022-02-10 14:00] rishidyno commented on #4166
Oh! Sorry, my bad, I didn't look at it properly.

[2022-02-10 14:21] yashbansal130 commented on #3930
https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/welcome.xml
https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/profile_progress_header.xml

[2022-02-10 14:21] yashbansal130 commented on #3930
ok

[2022-02-10 15:10] rishidyno commented on #3930
@rt4914 Will have to take a look at this as I am not quite sure how to approach this. @rt4914 PTAL.

[2022-02-10 18:44] shubhanshu-coder commented on #3722
@ArchitJain1201
Yes I am working on it.

[2022-02-10 18:46] rishidyno commented on #3895
Unassigning myself as this needs more discussion.

[2022-02-11 04:25] BenHenning commented on #4149
@vrajdesai78 does this occur when you are running the test on Robolectric or Espresso? Also, could you include the stack trace that you see when it crashes for reference?

[2022-02-11 05:07] BenHenning commented on #4154
Thanks for submitting this @Manikant25. Note that we're currently in the process of determining what changes we should be making to the onboarding flow, so I'm sending this over to @srushtirk who's spearheading that design work.

[2022-02-11 05:42] anandwana001 commented on #3821
@BenHenning Currently, there is no Portuguese language data in any JSON file.
Example - `src/main/assets/umPkwp0L1M0-.json`

Could you please provide me with some Portuguese mp3 files?

[2022-02-11 05:45] #3334 closed, assigned to rishidyno

[2022-02-11 05:59] BenHenning commented on #3821
@anandwana001 can you try loading the alpha assets via the script in the assets repository? I think many of the production lessons do have Portuguese voiceovers.

[2022-02-11 06:03] BenHenning commented on #3930
It'd probably be nice to change the ID to keep them separate (practically it shouldn't ever cause issues, but it's better to keep IDs generally unique).

[2022-02-11 06:06] BenHenning commented on #4093
@srushtirk can you weigh in here? My inclination is to go with the alternative option of using a dialog that opens from the image to provide zoom functionality, though I'm not exactly sure what that would be like.

[2022-02-11 06:37] BenHenning commented on #4017
@bhaktideshmukh since this is fairly urgent time wise, I've assigned it to @anandwana001 to work on. However, if you get to this before him, feel free to send a PR for it.

A good place to start is https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/player/state/itemviewmodel/SelectionInteractionViewModel.kt. You should read through that view model to see ho

[2022-02-11 06:40] BenHenning commented on #4135
Sure @bhaktideshmukh. For reference, you can look at InputInteractionViewTestActivity to see how we currently set up the fraction tests, though that suite isn't a good example of well-written tests themselves. For those, I suggest looking at the few tests in StateFragmentTest and StateFragmentLocalTest that verify fractions functionality (though a dedicated FractionInputInteractionViewTest should

[2022-02-11 06:43] anandwana001 commented on #3821
@BenHenning Looks like https://github.com/oppia/oppia-android-assets/pull/7 does not contain any Portuguese data.

[2022-02-11 08:43] vrajdesai78 commented on #4149
@BenHenning I have tried to run this test on Espresso and it took more than 4 hours to run and still didn't show any output.l
![Screenshot from 2022-02-11 14-12-16](https://user-images.githubusercontent.com/43074241/153561221-25b5a48a-e129-4848-910b-fa848cc0ea27.png)

[2022-02-11 12:48] rishidyno commented on #3842
@BenHenning `fun ensureTimestampIsInMilliseconds` convert the given time into ms only if `lastVisitedTimestamp < 1000000000000L`. While working on #3846 I realized that the time which we are passing is the function `setProfileLastVisitedText` is already taken in ms/s in all the test cases written for `TextViewBindingAdapters` and we are using `FakeOppiaClock` and setting fake time mode as fixed wi

[2022-02-11 13:03] rishidyno commented on #3930
Agreed!

[2022-02-12 05:10] anandwana001 opened #4174 "[Needs investigation] Shared ViewPool for Nested RecyclerView"
**Is your feature request related to a problem? Please describe.**
This issue is a suggestion for optimizing and improving recycler view performance.

**Describe the solution you'd like**
One of the approaches using which we can improve the scrolling/loading of our nested RecyclerView is to use a shared view pool with all our nested recycler views as well apparent recycler view.

**Additional cont

[2022-02-12 09:28] addy-zero commented on #2698
I would like to give this a shot :)

[2022-02-12 16:00] yashbansal130 commented on #3930
should i make a different issue for this?

[2022-02-13 05:16] yashbansal130 commented on #4075
@yash10019coder any idea about it?

[2022-02-13 20:45] ayush0402 opened #4176 "Add dark mode support to ProfileEditActivity, ProfileListActivity, ProfileRenameActivity, ProfileResetPinActivity and AppVersionActivity."
Add dark mode support to ProfileEditActivity, ProfileListActivity, ProfileRenameActivity, ProfileResetPinActivity and AppVersionActivity.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

#### Location in the app
1. Open the app
2. Go to Administrator Controls
3. Go to edit profile
4. These activities can be found navigated to through there.

[2022-02-13 20:53] ayush0402 opened #4177 "Add dark mode support to TopicActivity"
Add dark mode support to TopicActivity and contained views/fragment.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

#### Location in the app
1. Open the app
2. Go to All Topics
3. Open any topic

For on tasks in following order:
- Toolbar + Tabs in first PR
- Info tab in second PR
- Revision Card tab in third PR
- Practice tab in fourth PR
- Finally

[2022-02-13 22:29] ayush0402 opened #4178 "Add dark mode support to OnboardingActivity and PinPasswordActivity"
Add dark mode support to OnboardingActivity and PinPasswordActivity.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 06:22] yashbansal130 commented on #3930
@rishidyno can i change the name of the test functions since they wont follow the naming convention after i make the changes

[2022-02-14 08:14] rishidyno commented on #3930
Ya sure take reference from https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing

[2022-02-14 09:59] ayush0402 opened #4182 "Add dark mode support to OptionActivity and OptionWithoutDrawerActivity"
Add dark mode support to OptionActivity and OptionWithoutDrawerActivity as well as the contained views.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 10:47] ayush0402 opened #4184 "Add dark mode support to ThirdPartyDependencyListActivity, LicenseListActivity and LicenseTextViewerActivity"
Add dark mode support to ThirdPartyDependencyListActivity, LicenseListActivity and LicenseTextViewerActivity

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 11:00] ayush0402 opened #4185 "Add dark mode support to HelpActivity, FaqListActivity and FaqSingleActivity"
Add dark mode support to HelpActivity, FaqListActivity and FaqSingleActivity including the contained views.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 11:05] anandwana001 opened #4186 "Unselect All option in Developer Options not working"
**Describe the bug**
The Developer options have three items, Mark Chapters, Mart Stories, and Mark Topic. Inside each item, there is an option to select all at once.
But, unselecting the all option didn't work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin profile
2. Swipe left from the Home screen and click on Developer options
3. Open any item of the three-item (Mar

[2022-02-14 11:06] anandwana001 commented on #4186
@rt4914 If you have any thoughts on this or any context I am missing.

[2022-02-14 11:24] anandwana001 commented on #4017
Deferring to @rt4914 as he is already working on this.

[2022-02-14 11:35] rt4914 commented on #2698
@adizcode Its a bit complicated and we are currently unaware of the solution. You can try this out but I suggest that not to give a lot of time. If you think you are unable to find solution, please un-assign yourself and leave a comment mentioning what all things you have tried and why it did not work.

[2022-02-14 11:42] rt4914 commented on #3895
@rishidyno What more discussion does this need? If I remember correctly, the solution was to update the content to something meaningful so that the error is disabled. Is there something that I am missing ?

[2022-02-14 11:50] rt4914 commented on #2824
@rishidyno Suggest doing following things:
1. Play with current app to see what is the behaviour of screen-reader on this screen under various cases where title changes for the toolbar.
2. Check this PR https://github.com/oppia/oppia-android/pull/3065
3. Once you have understand the problem and the PR that I had worked on, please mention the approach that you will be following to solve this issue.

[2022-02-14 11:58] adizcode commented on #2698
@rt4914 Got it 👍

[2022-02-14 11:59] rt4914 commented on #4186
@anandwana001 No. This is a bug as per explanation. Shifting it to good-first-issue.

[2022-02-14 12:04] Akshatkamboj14 commented on #4186
can you assign me this?

[2022-02-14 12:08] rt4914 commented on #3458
@kritigupta45 To get started have a look at this repo https://github.com/oppia/oppiabot and navigate to understand the basic code structure of oppia-bot and then we can discuss about the solution in more detail.

[2022-02-14 12:12] #3561 closed, assigned to Aakash1121

[2022-02-14 12:15] rt4914 commented on #4017
I will push my local code which is some missing pieces but does work upto an extent. As per discussion @anandwana001 will continue on that branch.

[2022-02-14 13:55] #3535 closed, assigned to adizcode

[2022-02-14 15:46] Akshatkamboj14 commented on #4182
can you assign me this?

[2022-02-14 15:48] pandayed commented on #4178
Please assign this to me.

[2022-02-14 17:48] ayush0402 commented on #4178
@xpandeyed Assigned.

[2022-02-14 20:01] ayush0402 opened #4191 "Add dark mode support to DevloperOptionsActivity, ViewEventsLogsActivity and ForceNetworkTypeActivity"
Add dark mode support to DevloperOptionsActivity, ViewEventsLogsActivity and ForceNetworkTypeActivity and contained views.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 20:19] ayush0402 opened #4192 "Add dark mode support to MarkChaptersCompletedActivity, MarkStoriesCompletedActivity, MarkTopicsCompletedActivity and ProfilePictureActivity"
Add dark mode support to MarkChaptersCompletedActivity, MarkStoriesCompletedActivity, MarkTopicsCompletedActivity and ProfilePictureActivity

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 21:46] ayush0402 opened #4193 "Add dark mode support to ProfileProgressActivity, RecentlyPlayedActivity, CompletedStoryListActivity and OngoingTopicListActivity"
Add dark mode support to ProfileProgressActivity, RecentlyPlayedActivity, CompletedStoryListActivity and OngoingTopicListActivity.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 22:15] ayush0402 opened #4194 "Add dark mode support to HomeActivity, DrawerFragment, RevisionCardActivity, ConceptCardFragment and AudioFragment"
Add dark mode support to HomeActivity, DrawerFragment, RevisionCardActivity, ConceptCardFragment and AudioFragment

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 22:19] ayush0402 opened #4195 "Add dark mode support to QuestionPlayerActivity and ExplorationActivity"
Add dark mode support to QuestionPlayerActivity and ExplorationActivity (includes state fragment).

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-14 22:31] ayush0402 opened #4196 "Add dark mode support for StoryActivity, ResumeLessonActivity and HintsAndSolutionFragment"
Add dark mode support for StoryActivity, ResumeLessonActivity and HintsAndSolutionFragment including the contained views.

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-15 03:55] anandwana001 commented on #4026
@BenHenning @rt4914 Could you help me by giving me access to this alpha data?

[2022-02-15 05:48] rt4914 commented on #4026
@BenHenning Will be able to help in that.

[2022-02-15 10:08] yashbansal130 commented on #3930
@rishidyno i made changes to the tests and they are working fine for english but skipping for brazilian and arabic languages.

[2022-02-15 10:09] yashbansal130 commented on #4075
@srushtirk should we close this one?

[2022-02-15 11:47] #3846 closed, assigned to rishidyno

[2022-02-15 16:58] Rohit1173 commented on #3927
I want to work on this issue

[2022-02-15 17:05] srushtirk opened #4197 "Update Hints icon"
**Is your feature request related to a problem? Please describe.**
We have received feedback from our users that the hint bulb is not clearly discoverable in the app.

**Describe the solution you'd like**
Update the hint icon to display the word "Hint" before the bulb and make it bounce up and down thrice every time a hint is available. Whenever a new hint is available, an additional banner saying

[2022-02-15 18:44] rishidyno commented on #3895
@rt4914  I don't actually remember much about what we discussed earlier but you mentioned that that you will discuss it with Ben and will take another round of look on it.

[2022-02-15 19:37] rishidyno commented on #4093
@srushtirk I think if we go for alternative option then we can definitely find some external libraries which might be helpful and can directly be used in our app WDYT?

[2022-02-15 20:00] srushtirk commented on #4093
Hi @rishidyno, I do not have any issue with the alternative option of opening a dialog box with an image for zooming in the image as suggested initially. Below is the PRD for specs on how the image zoom should work (refer to the short term solution under Solution Proposal). Feel free to comment in the doc if you have any questions or need further clarity on anything.
https://docs.google.com/docume

[2022-02-15 23:05] srushtirk commented on #4076
Per chat with Chantel (UXD), we agree on removing the 'Please continue' message altogether and have the user rely on forward and backward arrows.

[2022-02-16 05:20] rt4914 commented on #3895
@rt4914 No worries. I will check and get back to you about this.

[2022-02-16 08:50] rishidyno commented on #3234
As discussed assigning this to @deepanshu731.

[2022-02-16 10:25] ayush0402 opened #4200 "Add dark mode support to AudioLanguageActivity, ReadingTextSizeActivity, AppLanguageActivity and dialog views."
Add dark mode support to AudioLanguageActivity, ReadingTextSizeActivity, AppLanguageActivity and dialog views.
Dialog views include:
- profile_picture_edit_dialog
- cellular_data_dialog
- etc.
and the system AlertDialog. (look at OppiaAlertDialogTheme)

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

[2022-02-16 19:20] BenHenning commented on #4197
Some thoughts:
- Will it be confusing that 'Hint' may correspond to more than one hint, and that it could also correspond to a solution?
- Is the 'new' banner behaving the same as the old yellow dot (i.e. it only shows up when there's a hint to show that hasn't been seen yet)?
- Do you have a reference for the bouncing animations?
- Do you have any references for how to style the text and 'new' ba

[2022-02-17 07:33] BenHenning commented on #474
Confirming that this works as expected per when I tested RTL support.

[2022-02-17 07:33] #474 closed, assigned to nobody

[2022-02-17 07:41] BenHenning commented on #2001
This was fixed in #3796.

[2022-02-17 07:41] #2001 closed, assigned to nobody

[2022-02-17 09:33] anandwana001 commented on #3821
In corresponding to this issue, another issue we have is that if the device language is Portuguese then the language settings show English as the default language.

<img src="https://user-images.githubusercontent.com/25057618/154447085-e842014c-31c5-4e37-8102-7c3df001b694.png" width=230 height=450/>

Similar to https://github.com/oppia/oppia-android/issues/3828

[2022-02-17 09:42] anandwana001 commented on #3821
@BenHenning Just wanted to check if the issue - https://github.com/oppia/oppia-android/issues/3791
is affecting somehow this issue in terms of fixing it?

[2022-02-17 10:07] anandwana001 opened #4202 "Fraction type JSONObject Parsing Error"
**Describe the bug**
Fraction's rule type `HasIntegerPartEqualTo` is not parsing correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Chapter 6 - Mixed Numbers and the Number line (Alpha Data only)
2. Nothing will show on screen

**Expected behavior**
The data should be parsed correctly.

**Demonstration**
<img src="https://user-images.githubusercontent.com/25057618/154453282-9df

[2022-02-17 10:19] anandwana001 commented on #4202
Adding a check in `StateRetriver` for this rule type will fix the issue
[code]

[2022-02-17 11:23] anandwana001 commented on #4026
<img src="https://user-images.githubusercontent.com/25057618/154471532-03b9a25b-09b0-46a3-830e-efabc181079c.png" width=230 height=450/>

@BenHenning  This is working for me correctly.
@srushtirk  I guess due to an internet issue, I image didn't load for you.

[2022-02-17 15:33] rishidyno commented on #3930
@yashbansal130 please create a PR so that we can see your changes.

[2022-02-17 15:41] yashbansal130 commented on #3930
sure

[2022-02-17 17:41] ayush0402 opened #4203 "Add CI checks to validate various non-layout color files properties."
Add CI check to validate various color properties including :

- Ensuring no colors in component_colors.xml or color_palette.xml directly define colors
- Ensuring all colors in component_colors.xml only reference colors from color_palette.xml
- Ensuring that all colors from color_palette.xml only reference colors from color_defs.xml
- Ensuring that all colors in color_defs.xml are raw colors (e.g.

[2022-02-17 17:41] ayush0402 commented on #4203
Assigning this to myself.

[2022-02-17 20:34] srushtirk commented on #4075
Hi @yashbansal130 has this issue been tested on Samsung Galaxy S8 and is working fine? I'm not able to understand clearly from the previous comments.

[2022-02-17 20:45] srushtirk commented on #4026
Hi @anandwana001, This issue was experienced by other user(s) in Nigeria as well.
Device/emulator being used: Samsung Galaxy 8
Android or SDK version (e.g. Android 5 or SDK 21): Android 9
App version: 0.6-alpha-908d57b2b1

Understand the internet issue, but can we ensure that this doesn't happen with other users while using the app?

[2022-02-18 02:32] BenHenning commented on #4202
This seems reasonable to add, though FWIW this won't affect alpha since we don't use the JSON loader for those lessons.

De-assigning and marking as a good first issue for someone to pick up.

[2022-02-18 05:29] yashbansal130 commented on #4075
I am having error launching samsung galaxy 8 since I had to download the skin for this one

[2022-02-18 05:34] BenHenning commented on #4109
So a problem that #4136 exposed when trying to implement this is that there actually isn't a good way to disable LDPI. In particular, per https://developer.android.com/guide/topics/manifest/compatible-screens-element:
- Android requires apps to define an allowlist for display densities (this isn't ideal since we only want to remove one: LDPI; an allowlist means we might miss new densities that cou

[2022-02-18 05:44] BenHenning commented on #4026
We've seen cases where Glide sometimes just doesn't load images.

@srushtirk are you able to consistently hit this? I'm curious what the app logs might be if there's a Glide issue.

@anandwana001 have you tried reproing the issue in difficult network conditions (which I think might be possible to simulate, but I'm not sure).

[2022-02-18 05:53] BenHenning commented on #3821
It's relevant, but this bug probably won't be fixed by moving to the shared locale (since that would localize the names according to that language). I think the issue is that we're hardcoding the English names for the languages. We should be displaying the localized name of each language in that language, instead (which wouldn't change based on the user's locale, and I think will result in potenti

[2022-02-18 06:24] BenHenning opened #4206 "Replace MathExpressionParserViewModel html parser usage with better factory function"
#2173 introduces a new MathExpressionParserViewModel that uses html parser factory in a context where images shouldn't be loaded. This flow was simplified in #3852, so this issue tracks updating the model to use the new factory method.

Create a new factory method in HtmlParser, just like the [policies one](https://github.com/oppia/oppia-android/blob/6fec2e27244274e5e23a93f5051f5862218bc21c/utilit

[2022-02-18 13:46] yashbansal130 commented on #3930
@rishidyno  getting this error while pushing changes
![Screenshot from 2022-02-18 19-15-22](https://user-images.githubusercontent.com/66557534/154694222-0d1a6a42-ff47-4220-801a-4709152d8866.png)

[2022-02-18 23:35] BenHenning commented on #3895
I believe all that's needed here is an update to the revision card's "Learn more" link to add additional context so that the scanner doesn't think it's too short. I think I explained this & provided an example in earlier comments--was there another issue that prevented proceeding with this @rishidyno?

Also, we should re-run the accessibility scanner before and after the fix to verify that:
1. It'

[2022-02-19 02:14] BenHenning commented on #3842
I think you're right that it isn't needed @rishidyno, however before we remove it could you first look through the blame history for it to see if there's any context on why this is needed? You may need to go all the way back to the PR that introduced it and that PR's description and/or conversation threads to get this context.

[2022-02-19 02:16] BenHenning commented on #4149
Interesting. I'm not sure why this would be hanging. This will require investigation. Thanks for the additional context @vrajdesai78!

[2022-02-19 02:36] BenHenning commented on #4174
At first glance this seems potentially really difficult to solve generically, but it probably depends on the context. @anandwana001 can you point out the cases where we're using nested recycler views to better help contextualize the problem space?

[2022-02-19 06:25] rishidyno commented on #3930
@yashbansal130 In Oppia we follow particular style guide for code formatting and one of the rules in style guide is to not exceed more that 100 char in a line so you will just neet to format the code. Well most of the time all these issues can be fixed automatically while pushing the code but sometimes we have to do it manually. Take refrence from `code style guide` in wiki.

[2022-02-19 07:44] kritigupta45 commented on #3458
Sure, thanks.

[2022-02-20 06:19] bhaktideshmukh commented on #632
Hey @anandwana001 currently if you are not working on MyDownloadsViewPagerAdapter can I take this up?

[2022-02-21 12:20] yashbansal130 commented on #4075
@srushtirk please help me in this one

[2022-02-21 12:30] vrajdesai78 opened #4209 "Testcase failing in PinPasswordActivityTest using Espresso[Blocked on #4991]"
I have tried to run `testPinPassword_withUser_forgot_inputAdminPinAndNullPin_imeAction_errorIsDisplayed` test in Espresso and it is failing. According to logs, expected error text is not matching with selected view.

Steps to reproduce the behavior:
1. Run `testPinPassword_withUser_forgot_inputAdminPinAndNullPin_imeAction_errorIsDisplayed` test in Espresso.

**Expected behavior**
A test case shoul

[2022-02-21 16:23] #3411 closed, assigned to Akshatkamboj14

[2022-02-21 17:20] #3565 closed, assigned to yashbansal130

[2022-02-21 17:24] vrajdesai78 opened #4212 "Testcases failing in StoryFragmentTest in Espresso[Blocked on #4991]"
The common error for all test cases:
- **Only the original thread that created a view hierarchy can touch its views**
- **No views in hierarchy found matching: with id: org.oppia.android:id/story_chapter_list**

Following test cases are failing in StoryFragmentTest with above mentioned errors:
- `testStoryFragment_toolbarTitle_marqueeInRtl_isDisplayedCorrectly`
- `testStoryFragment_completedChapte

[2022-02-21 17:36] addy-zero commented on #2698
@rt4914 Un-assigning myself as it's taking me a lot of time in understanding the many moving parts involved. You can assign this to someone else.

[2022-02-22 00:44] addy-zero commented on #4202
Interested!

[2022-02-22 04:42] #3927 closed, assigned to BenHenning, Rohit1173

[2022-02-22 07:26] deepanshu731 commented on #4109
any updates @rt4914 @isalooo @srushtirk ??

[2022-02-22 08:20] rt4914 commented on #2698
@adizcode Thanks. You can pick any other issue by commenting on it.

[2022-02-22 08:28] #4123 closed, assigned to nobody

[2022-02-22 13:38] #4148 closed, assigned to nobody

[2022-02-22 16:49] rt4914 commented on #4109
@BenHenning @deepanshu731 I recently tried the same thing and based on my experience I do agree that what Ben has suggested sounds good.

Just one suggestion: We should do one full audit again and make sure that it does work fully (even if UI is bad).

[2022-02-22 21:13] anandwana001 commented on #632
@bhaktideshmukh Sure, also assign yourself in description

[2022-02-23 02:15] BenHenning commented on #4109
Another option might be to show a UI prompt specifically for LDPI devices upon opening the app that it isn't available. I can try to figure out the list of possible LDPI devices that the app "could be" installed on if that helps.

@isalooo and @srushtirk it would be nice to get your thoughts on this.

[2022-02-23 03:48] BenHenning commented on #4075
@yashbansal130 what error are you encountering? We can't provide suggestions without better understanding what you've tried, and what issue you ran into trying that.

[2022-02-23 04:56] yashbansal130 commented on #4075
here is the screenshot of the error I am getting

![Screenshot from 2022-02-23 10-25-29](https://user-images.githubusercontent.com/66557534/155263803-79afcad5-6581-49f1-8cce-8c470faed4c3.png)

[2022-02-23 13:11] isalooo commented on #4109
@srushtirk and I will discuss later today and provide an update shortly.

[2022-02-24 00:28] srushtirk commented on #4197
I don't think it will be confusing for more than one hints, for solutions yes. Can we update the icon title to say 'Solution' once all hints have been exhausted and solutions are being provided? If not, we should be ok to proceed with the risk of confusion for 'solution' for the current version. The button will still bounce and indicate 'new' on a new solution available and we will have the user r

[2022-02-24 00:38] srushtirk commented on #4109
Agree with Ben's approach and reasoning on not disabling LDPI. However, can we have a list of all the affected devices (if any non-watches) so that we can share with the partners to make them aware of this issue - and they can avoid using those devices for user study and research temporarily until a permanent solution is implemented. Additionally like Ben mentioned, an UI prompt for users will be

[2022-02-24 01:56] srushtirk commented on #4040
Video for demonstration here: https://drive.google.com/file/d/1cjjD9ub8P6UGPcDf2dxi55X2KEwWDW5n/view

[2022-02-24 01:57] srushtirk commented on #4026
Video for demonstration here: https://drive.google.com/file/d/12GOIRzxMeajCZ6q886MqzEO3X4t3IeMd/view

[2022-02-24 02:25] anandwana001 commented on #4026
Yes, I tried with multiple options like GSM(poor strength) and others and Yes, the image doesn't load.
and increasing the network quality to LTE and soo the image displayed.

[2022-02-24 03:05] BenHenning commented on #4109
There are 53 devices per the Android device catalog that our app supports and would be classified as under MDPI (i.e. LDPI). Once we eliminate KitKat support from that list, only 23 devices remain (see [this sheet](https://docs.google.com/spreadsheets/d/1ZnoLGZp9sGRCVG3IMh7pu6XixzMgAK8jVCupB1cn69I/edit?usp=sharing)).

I do want to clarify one thing @srushtirk, I think we should be making a final d

[2022-02-24 03:51] BenHenning commented on #4040
The video definitely looks like a crash; looking at the report logs.

[2022-02-24 04:02] BenHenning commented on #4040
Stack traces from the bug report:
[code]

The second bit also showed up in Play Console (deobfuscated):

[code]

So it looks like we're running into a problem where the progress controller is causing the app to crash when it encounters progress for a lesson that is no longer on the device. I'm not actually sure which topic vfJDB3JAdwIx corresponds to or how Srushti managed to get progress for it.

[2022-02-24 05:22] BenHenning commented on #4197
I'll have to look into whether renaming the button conditionally with 'Solution' will be easy, but I'll lean on 'Hint' as a fallback. Re: font and coloring, I'll need to play with those and follow up with you once I start working on this.

My only remaining question for right now: is the button supposed to include that bulb icon? If so, can you point to a material icon that we should use for this

[2022-02-24 05:24] BenHenning commented on #4075
@yash10019coder have you done any searching on whether others have faced this same problem for Samsung emulators?

[2022-02-24 05:24] BenHenning commented on #4075
@yashbansal130 have you done any searching on whether others have faced this same problem for Samsung emulators?

[2022-02-24 07:08] yashbansal130 commented on #4075
not everybody have a samsung emulator because the skin has to be downloaded separately and I tried for different API versions and @yash10019coder also tried for some versions. No I have not done any research on other users.

[2022-02-24 08:11] ayush0402 commented on #3097
Closing this as merging dark mode [starter issues](https://github.com/oppia/oppia-android/issues?q=is%3Aissue+in%3Atitle+add+dark+mode+is%3Aopen) will fix this for particular screens.
MIUI forces their own color in case of colors not being separated by day/night files but starter issues will fix this.

Screenshot of AddProfileActivity fixed with above approach:
(Tested on Redmi K20 Pro running MIU

[2022-02-24 08:11] #3097 closed, assigned to nobody

[2022-02-24 13:53] TheSwarnim commented on #4193
Hi, @rt4914 @ayush0402 will every component have to be added for the color in activity. For eg: if textview color is the same in all activities then will it be convenient if we just take color from shared text view text color style?

[2022-02-24 14:43] ayush0402 commented on #4193
@TheSwarnim Every component should be added separately for that activity. `shared_` prefix is used for colors which affect globally or to many layouts for example through a style defined in `styles.xml`.

[2022-02-24 21:03] srushtirk commented on #4109
Makes sense, these devices mostly look like tablets in vehicles and also a very small number as compared to widely used devices in the community. Let's exclude these devices as a final solution.

[2022-02-24 22:34] srushtirk commented on #4075
FYI - I have requested the POC who reported it to share a video recording of this issue. It will likely be available by mid next week.

[2022-02-24 22:36] srushtirk commented on #4197
Yes please, the bulb icon should be included in the hint and it can be the same as existing icon.

Also FYI - I am meeting with the design team tomorrow and hope to have a hi-fi mock next week. Will keep you posted.

[2022-02-25 05:51] BenHenning commented on #4109
Based on that @srushtirk what should we do if a new LDPI device is introduced in the catalog (which happens from time to time). It may go unnoticed for a while; is it fine that the app experience may be broken for these situations or should we still add a notice for such users?

[2022-02-25 06:42] BenHenning commented on #4075
Thanks @srushtirk and @yashbansal130. This might be a case where we need to first see the video to try and guess what's going on. We may be able to hack something in the app to force the same scenario to reproduce once we can see what it looks like, and that would allow for an investigation to begin.

[2022-02-25 18:43] srushtirk commented on #4109
Please add a notice for the users. This can avoid any unknown surprises for our users and can also help us build trust by proactively communicating this issue to them.

[2022-02-25 20:38] adizcode commented on #4212
I'd like to work on this :)

[2022-02-25 20:39] adizcode commented on #4209
Can I pick up this issue?

[2022-02-26 01:20] srushtirk commented on #4197
@BenHenning Met with the design team today and after discussion, we have come to a consensus to simplify and revise the hints button a little bit.

- Hint icon (which looks like a strip) should display the word "Hint" after the bulb.
- There should be an arrow available on the right of this strip, which navigates to the ‘Reveal Hint’ card on tap.
- When a new hint is available, the bulb should tur

[2022-02-26 04:01] BenHenning commented on #4197
That should be more doable @srushtirk. I'm not sure on the exact sizes or spacing yet, but I'll try to use other points in the app to reference in order to figure these out. I'll follow up if I have any further questions--thanks to you & the design team for providing this.

I'm also assuming that:
- There's no animation for the bar appearing
- The bar never disappears for that state
- There's no c

[2022-02-26 04:02] BenHenning commented on #4109
Can you provide details on what that flow should be @srushtirk?

[2022-02-26 10:52] addy-zero commented on #3384
I would like to work on this.

[2022-02-26 10:56] addy-zero commented on #3366
@rt4914 This seems like a good issue for me. Can you give me some pointers to get started?

[2022-02-26 17:16] rishidyno commented on #3842
@BenHenning [this](https://github.com/oppia/oppia-android/pull/3795/files#diff-371693b16cf621a91c9874554d4ab3fe8f10f5c41057ed3aa26dfbd667a3e2c4R97) fun was introduced of one of your PR #3795. I tried to find any context on why this fun was introduced, but could not find any. Either way, as I explained earlier, this fun will just mess up things if we wrote a hypothetical test for time 18 years ago,

[2022-02-26 20:36] ayush0402 commented on #4202
@adizcode Assigned.

[2022-02-26 23:56] srushtirk commented on #4197
**Correct.**

**Correct.**

**Yes, the bar should float up from bottom.**

**Yes.**

**Yes, this workflow sounds correct.**

[2022-02-27 21:34] srushtirk commented on #4109
I'd need to understand the user journey better and would like to schedule some time to discuss this.
I see that this is an issue for the GA version. When is the latest that you need a decision on this?

[2022-02-28 08:09] srushtirk opened #4224 "Add all pt-br translations"
**Is your feature request related to a problem? Please describe.**
The classroom web page at oppia.org/learn/math is fully translated to Brazilian Portuguese. Please add these translations including title and description into the Android app.

Current issues:
"Currently, the current solution is a fragile, temporary one. It will break for a bit if we change the titles of anything"

Context: Email t

[2022-02-28 08:10] srushtirk commented on #4224
@isalooo Filing issue in github for tracking purposes

[2022-02-28 08:50] rt4914 commented on #3895
@rishidyno PTAL, Thanks.

[2022-02-28 09:50] rishidyno commented on #3895
@rt4914 ack. Thanks.

[2022-02-28 10:45] anandwana001 commented on #3821
@srushtirk For this specific release where we need the Portuguese language, will it be fine if we make our app default language to Portuguese in place of English?
Doing this will make our app language and app's audio language to Portuguese as default.

Implementing the part where the audio language gets updated as per the device language will need some time, so by the time this gets fixed, could w

[2022-02-28 15:21] rishidyno commented on #3842
I have just created a pr.
If the final verdict is to remove the fun, we can just simply merge this pr. Thanks!

[2022-02-28 17:54] srushtirk commented on #3821
@anandwana001 This release will be focusing on users in Kenya who are not familiar with Portuguese. Changing the default app language to Portuguese would result into a bad user experience for our primary users for this release; and therefore this approach is not recommended.

@isalooo FYI

[2022-02-28 18:14] ShivanshGoel221B commented on #4177
I am currently working on it. Can you assign it to me?

[2022-03-01 04:36] BenHenning commented on #3821
I don't think this is what we discussed, actually @anandwana001. We always want the app default to be English. I think the consideration here is whether we should add Portuguese as an option in the language selection prompt, and if not tying together the written and audio languages is okay for now (since that's the thing that's difficult).

@srushtirk do you have thoughts on the above (that is, wh

[2022-03-01 04:58] BenHenning commented on #3842
@rishidyno it actually wasn't introduced in that PR, the utility was just moved (original file: https://github.com/oppia/oppia-android/blob/713584ae1d7d5a9edce6c9838f9c0301c96febbd/utility/src/main/java/org/oppia/android/util/system/OppiaDateTimeFormatter.kt). That was originally located at https://github.com/oppia/oppia-android/blob/44cf7871feeaeb16cbec4584caaa0f74fb17af12/utility/src/main/java/o

[2022-03-01 05:00] BenHenning commented on #4109
@srushtirk It's not imminently blocking, but it'd be good to get a decision on this in the next few weeks if possible.

[2022-03-01 09:28] ayush0402 commented on #4177
@ShivanshGoel221B Assigned.

[2022-03-01 10:37] ShivanshGoel221B commented on #4177
@ayush0402
There is a color `<color name="oppia_secondary_text">#666666</color>` in color_migrating.xml that is being used in fragments.
Though this can be used as secondary_text_color in colors_def.xml. What color should I use for its night mode counterpart?
Can you tell me the HEX code for that or should I create it according to what looks fine?

[2022-03-01 13:12] rt4914 commented on #3366
@adizcode I don't have more information apart from this failure. Can you investigate the reasons of failure and create PR based on that and if thats not possible can you discuss this with your mentor? Thanks.

[2022-03-01 13:46] addy-zero commented on #3366
@rt4914 Actually I've just been assigned to a couple other issues, so I prefer picking this up at a later date.

[2022-03-01 20:22] indresh149 commented on #4200
Do I work on this?

[2022-03-01 21:00] ayush0402 commented on #4200
@indresh149 Assigned.

[2022-03-02 03:52] srushtirk commented on #3821
@anandwana001 Can you share an approximate ETC for the complete resolution on this issue?
@BenHenning If the full resolution can be incorporated by additional 2 weeks of extension for the code complete, then can we try to achieve that? If not, then let's move this issue to possibly an Alpha MR4.1 as discussed earlier today or Beta MR1 .

[2022-03-02 09:04] #3551 closed, assigned to shankarpriyank

[2022-03-02 10:04] anandwana001 commented on #3861
The steps to reproduce has a nit change for me

1. Open the prototype exploration
2. Navigate to the fraction input state (second state)
3. Input "1/" and click submit
4. Observe the submit-time error (Error log in logcat)
5. Now, try to input "1/2"
**6. The submission button goes green**
**7. Click on submit and nothing happen and then it goes to gray.**
8. Observe that the submit button goes gra

[2022-03-02 18:13] addy-zero commented on #3384
@rt4914 It would be very helpful if you can clarify these doubts before I get started:

1. What comments do we put over Strings that are used nowhere but only declared?
2. What comments do we put over Strings that are only used in a resource XML like menu? Do we create separate Strings if they are repeated in several resource files?
3. For Activities and Fragments, do we put both XML and Kotlin St

[2022-03-02 20:21] ayush0402 commented on #4177
@ShivanshGoel221B You can look at the mocks for its dark mode counterpart at https://xd.adobe.com/view/c05e9343-60f6-4c11-84ac-c756b75b940f-950d/screen/33f22169-7db1-4a28-84e3-8a6cb3be2f4d/specs/ , its the white color already defined in color_defs.xml. Go through each views individually in the dark mode mocks. You can create a new color for #666666 in color_defs.xml with an actual color name.

[2022-03-02 20:55] addy-zero commented on #4202
@anandwana001 @ayush0402

I'm unable to find any Chapter 6 within the app. There's only 4 topics and none of them have the mentioned chapter. What am I missing?

[2022-03-02 22:55] srushtirk commented on #4086
![Revision_icon](https://user-images.githubusercontent.com/27875087/156463578-fec7c3b1-880c-4a20-b12c-c13275c92def.svg)

@BenHenning here is the material icon.

[2022-03-03 05:08] BenHenning opened #4231 "Add support for svgz images"
**Is your feature request related to a problem? Please describe.**
Oppia web is planning to add support for svgz images (which are just svg images with gzip compression) in order to reduce bandwidth and storage requirements for images.

**Describe the solution you'd like**
The Android app should be updated to support images ending with svgz by first decompressing them using built-in Android gzip u

[2022-03-03 06:47] shankarpriyank commented on #3581
Could you please assign this issue to me @bkaur-bkj

[2022-03-03 09:55] anandwana001 commented on #3821
I think this can be achievable within 2 weeks unless there is some requirement that comes under the domain/data module. I will inclined towards the @BenHenning thoughts on this.

[2022-03-03 10:03] anandwana001 commented on #4040
@BenHenning  Here is the file https://github.com/oppia/oppia-android-assets/blob/master/vfJDB3JAdwIx.json

The file `C4fqwrvqWpRm.json` consists of the id `vfJDB3JAdwIx`.
The PR - https://github.com/oppia/oppia-android-assets/pull/7 consists of both the files.

I am currently, looking at why uninstalling and again installing the APK doesn't setUp the local assets.

[2022-03-03 15:38] Akshatkamboj14 commented on #4182
hey @ayush0402 can you suggest me some PRs that I cant take reference from

[2022-03-04 00:57] shankarpriyank commented on #3473
I would like to work on this issue can you please assign this to me @bkaur-bkj

[2022-03-04 02:03] bkaur-bkj commented on #3473
done

[2022-03-04 02:04] bkaur-bkj commented on #3581
@shankarpriyank as you have been already working on 2 other merging issues, try picking a different domain once you complete them

[2022-03-04 05:48] #3460 closed, assigned to bhaktideshmukh

[2022-03-04 17:02] shankarpriyank commented on #3473
Hey @bkaur-bkj this issue seems a bit complex , I am  not sure if we can merge these files , there are a lot of differences , I would like to work on issue no  #3581 first

[2022-03-04 17:02] shankarpriyank commented on #3581
I would really like to work on this issue first then on other issues

[2022-03-04 18:27] Akshatkamboj14 commented on #4182
@ayush0402 can*

[2022-03-04 18:55] ayush0402 commented on #4182
@Akshatkamboj14 You can take a look at some parts of this PR #4032.

[2022-03-06 11:06] rishidyno commented on #4186
@Akshatkamboj14 Unassigning you due to inactivity. If you are working on this, please reassign yourself.

[2022-03-07 06:49] anandwana001 commented on #4040
@BenHenning My initial thoughts to fix this error is what if we never throw the error that says assets don't exist and in place of that we return the default instance.

[code]

I didn't check if it work on not, just an initial thought.

[2022-03-07 13:32] shankarpriyank commented on #4186
I would like to work on this @bkaur-bkj

[2022-03-07 13:54] kritigupta45 commented on #3458
Unassigning this issue so that others can work on it. Won't be able to work on it for now.

[2022-03-07 18:38] rt4914 opened #4235 "[A11Y] Fix accessibility issues for ClickableSpan"
### Is your feature request related to a problem? Please describe.

Currently, Oppia Android relies on ClickableSpan in multiple places (e.g., Concept Cards, Revision Cards, Exploration, Question Player, etc.) for handling in-text interactions within HTML content parsed by [HtmlParser](https://github.com/oppia/oppia-android/blob/3ffeedf7e90795ae9b23ec600a19d7cff72f1ca4/utility/src/main/java/org/op

[2022-03-07 18:40] #3362 closed, assigned to vrajdesai78

[2022-03-08 01:35] BenHenning opened #4236 "Add remaining tests for AsyncResultSubject."
### Is your feature request related to a problem? Please describe.

The class [AsyncResultSubject](https://github.com/oppia/oppia-android/blob/3ffeedf7e90795ae9b23ec600a19d7cff72f1ca4/testing/src/main/java/org/oppia/android/testing/data/AsyncResultSubject.kt#L28) (in `org.oppia.android.testing.data`) provides custom Truth subjects for verifying properties of `AsyncResult`. While a good number of t

[2022-03-08 04:34] #3456 closed, assigned to aayushimathur6

[2022-03-08 04:38] rt4914 commented on #3384
If a string is not getting used anywhere, it should be removed.

Don't create separate strings right now. If its needed I will mention in PR. Comments can be related to menu file where they are getting used.

Yes, a list of strings should be combined based on screen/feature and not on file-to-file basis.

It would be great if they start with `test_` prefix.

The replies might change in PR because

[2022-03-08 05:22] anandwana001 commented on #4202
@adizcode Chapter 6 mentioned in the issue is a part of the alpha production app so the data can't be shared.
I had added the steps in PR description.

[2022-03-08 06:37] BenHenning commented on #3821
Is an extension still on the table? It was my understanding per the ETH folks that they'd prefer to get MR4 earlier.

[2022-03-08 06:51] BenHenning commented on #4040
Ah, I'm wondering if this actually happened since we dropped lessons in MR3--is the ``vfJDB3JAdwIx`` ID available in the latest downloaded assets?

Regarding the fix, I'm not keen on that since the app doesn't do well with the default exploration instance. It would avoid the crash, but at the expense of a significantly degraded experience.

[2022-03-08 11:29] ShivamMadlani commented on #3591
Hello there, I would like to work on this issue.Also I am a beginner at this stuff. I would be great if you brief me on how to approach the above mentioned issue... Thanks!!

[2022-03-08 11:41] rishidyno commented on #3591
Thanks @ShivamMadlani assigned this to you. Take reference from [here](https://github.com/oppia/oppia-android/pull/4181)

[2022-03-08 12:29] visheshkadian commented on #4202
@anandwana001 hey! can I work on this??

[2022-03-08 12:51] visheshkadian commented on #4202
@anandwana001 hey can you elaborate more on Steps to reproduce the behaviour issue because I couldn't find where this error is ??

[2022-03-08 12:56] adizcode commented on #4202
@visheshkadian hey this issue is already assigned to me. Kindly pick another one from the unsolved ones.

[2022-03-08 12:59] anandwana001 commented on #4202
Did you follow the given steps?
Which step you are stuck on?

[2022-03-08 14:04] ShivamMadlani commented on #3591
I am facing layout issues...
This image does not have the same layout as what is supposed to be there is landscape mode.
![image](https://user-images.githubusercontent.com/94903454/157253131-43dead84-9185-4c5c-b5f3-ce37b8603855.png)

The below image is how its supposed to look
![image](https://user-images.githubusercontent.com/94903454/157253181-4438ee94-746b-4394-a027-ee5e9c8b5d01.png)

How do I

[2022-03-08 14:41] visheshkadian commented on #4202
@anandwana001 I found the file where we have to make the changes but I couldn't find any option to open chapter 6 to get the error
can you tell me the steps to get this error!!

[2022-03-08 14:51] anandwana001 commented on #4202
No, As I mentioned, chapter 6 is a part of alpha data that is not available publically, that's why we need to fix this issue using the currently available data only.

Check 5th Step, you have to use the `First Test Topic` exploration which you get when you open the application on the home screen.

[2022-03-08 22:36] BenHenning opened #4238 "StateFragmentTest is flaky due to ExplorationProgressController deadlock"
I noticed while developing #2173. StateFragmentTest can't succeed a single run on Espresso today and it's due to a deadlock in ExplorationProgressController that was caused with the introduction of the domain-side hint handler. The deadlock can occur since ExplorationProgressController calls down into the hint handler which can synchronously call back to ExplorationProgressController. Since both t

[2022-03-08 22:36] BenHenning commented on #4238
Note that this issue can hit users in production, but I'm not sure of the exact repro steps. I do suspect that some of our ANRs have been caused by this deadlock, though.

[2022-03-08 23:21] BenHenning commented on #4075
@srushtirk I recommend deprioritizing this issue until we have video demonstrating it since otherwise it's difficult to make progress on it since we can't easily reproduce it.

[2022-03-08 23:56] srushtirk commented on #4075
Agreed, let's deprioritize this one. I also haven't received the video from the POC yet.

[2022-03-09 03:03] BenHenning commented on #4040
I found a way to easily repro this:
1. Load the app with test assets
2. Play some or all of the assets (e.g. using the developer options menu)
3. Replace the assets in the binary with production assets & reload the app
4. Try to access admin controls or login

It crashes at this point with a similar stack to the above since it seems to be trying to load the topic corresponding to past progress. We

[2022-03-09 03:03] BenHenning commented on #4040
(Taking this since I need to fix it, anyway, to make progress on some of the other issues).

[2022-03-09 04:03] BenHenning commented on #4027
Taking this due to the time sensitivity.

@srushtirk FYI that I mainly plan to focus on image size & being cut-off, and only short-term fixes (if possible). Other issues such as long-term zooming or contrast problems should be filed as separate issues since otherwise it's difficult to understand when this problem is actually fixed, and which parts are essential for MR4.

[2022-03-09 10:16] ShivamMadlani commented on #3591
@rishidyno There are layout issues. How do I solve this...

[2022-03-09 17:25] rishidyno commented on #3591
@ShivamMadlani I think this might be merged into single file as we have different layouts for port and land.

@rt4914 PTAL at this issue, I think we might not be able to merge `walkthrough_welcome_fragment`. Left some suggestions, not so sure but just in case if that possible please let us know, thanks.

Not so sure if this is possible, but there might be one way to do it by making ids.xml for dif

[2022-03-09 17:28] rishidyno commented on #3591
@ShivamMadlani Suggest looking at some other good first issues for the time being once we get clarification from @rt4914

[2022-03-10 01:45] #4017 closed, assigned to rt4914, anandwana001

[2022-03-10 03:00] BenHenning commented on #4027
From investigations:
1. It seems using dp instead of sp for block drawables seems to work really well for SVGs & PNGs alike, though there's a separate SVG problem (see (3))
2. The cutoff is happening from the image alignment logic not properly accounting for the TextView's own padding. Adjusting for this leads to what appears to be perfectly centered & sized image. There may be other cases that I'

[2022-03-10 03:03] BenHenning commented on #4027
Hmm, it seems like the filenames can actually be wrong. See:

![image](https://user-images.githubusercontent.com/12983742/157580257-964d7618-eb1e-4784-94a8-e27002b6aee9.png)

The filename indicates this image's size is 200x150 (img_20210918_224300_myiu2mrtj5_height_150_width_200.svg) but per the viewbox it's actually 248.14x186.01. @seanlip is this expected (specifically that the sizes in image fi

[2022-03-10 03:13] seanlip commented on #4027
On the website, that SVG is displayed in a 200 x 150 container, so I think the sizing for it is just incorrect. Given that, I think it should still be OK to use the dimensions in the filename...

[2022-03-10 03:27] seanlip commented on #4027
As an update -- I've updated the relevant image in the Oppia website.

[2022-03-10 05:36] BenHenning commented on #4027
Thanks @seanlip. It actually isn't okay for us to use those dimensions since these are the actual width/height of the picture to render (since we pre-render the SVG to a bitmap, we need to know the exact size). Since the dimensions are wrong, the image gets cut off as indicated in the screenshot above. I suppose we could use the file dimensions as a signal, but it seems that we'll also need to use

[2022-03-10 05:42] seanlip commented on #4027
Hm -- the size of the SVG on web is defined only by the filename dimensions, and not by the viewbox dimensions at all, AFAIK.

[2022-03-10 05:48] seanlip commented on #4027
Also, just as a data point -- on Web, when I change the height/width of the image tag to be smaller than the viewbox dimensions, the image just rescales accordingly (and isn't cut off). From an aspect ratio perspective it ends up being bounded in a rectangle whose height/width is based on the most constrained dimension (height/width) of the img tag.

[2022-03-10 05:48] BenHenning commented on #4027
@seanlip I think you don't run into this problem on web since I'm assuming you're not actually responsible for setting the dimensions of the SVG to render, only the dimensions you want to scale it to. The browser presumably parses the SVG to determine what size it expects to be rendered at.

[2022-03-10 05:48] seanlip commented on #4027
Yup I think that's right. See [comment above](https://github.com/oppia/oppia-android/issues/4027#issuecomment-1063688228).

[2022-03-10 11:31] ShivamMadlani commented on #3591
@rishidyno Sure!! Thanks!!

[2022-03-10 22:55] BenHenning commented on #4027
So the screenshot above indicates we can use the view box as a source of information if the document width isn't available. However, this actually breaks thumbnails that seem to have some sort of rendering inconsistency:

![image](https://user-images.githubusercontent.com/12983742/157768737-c96be8f2-5962-4751-ba10-2c3246439f10.png)

The local size of the SVG when rendered and the size of the viewb

[2022-03-11 01:51] anandwana001 commented on #4013
Duplicate - https://github.com/oppia/oppia-android/issues/3861

[2022-03-11 18:11] visheshkadian commented on #4186
@anandwana001 @rt4914 I would like to work on this bug can you assign me this

[2022-03-12 16:59] visheshkadian commented on #4186
@anandwana001 @rt4914 Hey! I have fixed the issue, can you review my PR??

[2022-03-13 08:11] Akshatkamboj14 commented on #4182
@ayush0402 hey Ayush, in my PR there is no use of color in my PR's Activities.....so what I am supposed to do?

[2022-03-13 14:30] ayush0402 commented on #4182
@Akshatkamboj14 You might have to look into the contained fragments and other contained view's layout. Check `options_fragment.xml`, `options_story_text_size.xml` and other contained layouts.

[2022-03-13 19:03] Akshatkamboj14 commented on #4182
hey @ayush0402, I am a bit confused I have to add dark mode support to **option_activity.xml** and **option
_without_drawer_activity.xml**, right?

[2022-03-14 04:50] MnCSSJ4x commented on #4231
can i contribute to this ?

[2022-03-14 08:49] ayush0402 commented on #4182
@Akshatkamboj14 It applies to everything you see when you open OptionsActivity in the app. Including the contained layouts and views.

[2022-03-14 21:12] BenHenning commented on #4027
Unfortunately, I lost my draft from last week and didn't post it. The fix here was updating AndroidSVG to use the viewbox dimensions for the rendering canvas if no dimensions are provided, and when no document dimensions are defined (before, it would default to 512x512 which is why the image ended up being cropped). The result (note that this includes some additional resizing logic to make the ima

[2022-03-14 21:22] BenHenning commented on #4027
Scaling and using an adaptive technique for finding image sizes seems to work well:

![image](https://user-images.githubusercontent.com/12983742/158263497-33939e5b-40a9-4ab2-af65-e3a3ac9827b0.png)

We now source the size from several different locations to try and determine the correct size.

[2022-03-14 21:32] BenHenning opened #4246 "Fix SVG image performance & scaling"
The fix in #4027 introduces DP-based scaling for images, and fixes some alignment/sizing issues. Unfortunately, these exposes a few problems:
1. Sometimes upscaling SVGs on Android seems to result in a blurry image (which suggests rasterization happening under the surface). Since we use AndroidX for SVG rendering internally, it seems likely that this is happening (though I didn't confirm). Trying

[2022-03-15 03:13] BenHenning opened #4249 "Update SyncStatusManagerImpl and LoggingIdentifierController to use StateFlow instead of AtomicReference"
SyncStatusManagerImpl and LoggingIdentifierController (introduced as part of fixing #4064) need to track thread-safe state. Doing this correctly without running into ordering problems in its fake requires leveraging a StateFlow property (which can't be introduced until coroutines are updated which is being done as part of #4239.

[2022-03-15 06:11] #3981 closed, assigned to BenHenning, anandwana001

[2022-03-15 15:53] anamansari062 commented on #3560
@rt4914 I would like to work on this issue!

[2022-03-17 20:39] BenHenning commented on #4064
Copying the remaining tasks from https://github.com/oppia/oppia-android/pull/4247#issuecomment-1070877735 to the PR description.

Beyond that, I think I'm going to use the following branch structure to try and keep the reviews smaller and hopefully easier:
- learner-analytics-pt4-domain-components
- learner-analytics-pt5-new-events
- learner-analytics-pt6-new-ui
- learner-analytics-pt7-integration

[2022-03-17 20:46] BenHenning opened #4251 "Alpha MR4 release tracking issue"
We're preparing to cut the alpha MR4 release. The following work items are scheduled to be included:
- #3861 (at least a mitigation, but potentially the whole fix if math expressions is included)
- #4026
- #4027 (some images may be slightly blurry, but still legible)
- #4040
- #4064

The following items are tentatively planned to be included, but may be cut last minute:
- #4044
- #4076
- #4197
- #

[2022-03-17 20:46] BenHenning commented on #4251
/cc @srushtirk @isalooo @anandwana001 @seanlip

[2022-03-18 12:02] BenHenning opened #4254 "Follow-up functional & documentation changes to math expressions"
#2173 introduced the minimal necessary support for numeric expressions, algebraic expressions, and math equations. It did, however, not include a bunch of suggestions that came toward the end of the project from other members of the community. While these changes weren't deemed blocking for the broader feature, they're still important and thus are being cataloged below to ensure they get completed

[2022-03-18 12:10] BenHenning commented on #4135
Note also that #2173 adds a new MathExpressionInteractionsViewTest that can probably serve as a good reference for future interaction test suites (I haven't looked at your PR yet @bhaktideshmukh it may be worth looking at MathExpressionInteractionsViewTest and seeing if anything from that test suite is worth basing changes to the new FractionInputInteractionViewTest).

[2022-03-18 14:36] anamansari062 commented on #3591
i would like to be assigned to this issue! @rt4914

[2022-03-18 14:37] cdhiraj40 commented on #3543
hey @rt4914 @BenHenning, I would like to give it a try on this :)

[2022-03-18 19:56] BenHenning commented on #3926
Setting this up seems really straightforward: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/using-a-merge-queue. Unfortunately, it only supports standard merging & rebase/merge currently, not squash & merge (which we use). We'll need to wait until squash support is added before opting into queue support (plus, it's in bet

[2022-03-18 20:10] BenHenning opened #4255 "Gradle app module tests frequently fail in CI"
This has been an ongoing problem for a few weeks now. From investigation, it seems that Gradle app module tests have reached a point where they consume too much memory and can sometimes be killed by the host CI environment, causing the whole suite to fail. Given that the run takes 40-60 minutes to run, this is really painful (especially when one needs to retry the workflow several times to reach a

[2022-03-19 06:50] atharvashirdhankar commented on #4197
Can I try working on this issue if it's still open?

[2022-03-19 07:01] seanlip commented on #4197
@StarTrooper08 Welcome to Oppia! It looks like you might not have seen our "getting started" instructions yet. Please read and follow the instructions for new contributors here, to start with: https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android#onboarding-instructions.

[2022-03-19 07:10] atharvashirdhankar commented on #4194
Can I work on this issue?

[2022-03-19 07:11] atharvashirdhankar commented on #4197
Ok 👍

[2022-03-20 01:24] BenHenning commented on #4076
Taking this since it's time sensitive and it seems like any progress that's been completed for it hasn't been pushed.

[2022-03-20 14:28] bhaktideshmukh commented on #3179
@rt4914
Since there is no active PR for this issue. Can I take this up?

[2022-03-24 03:40] BenHenning commented on #4013
This is a duplicate of #3861 as @anandwana001 mentioned, so closing this.

[2022-03-24 03:40] #4013 closed, assigned to jashasweejena

[2022-03-24 13:56] #3552 closed, assigned to shankarpriyank

[2022-03-24 14:07] vrajdesai78 commented on #3712
Blocked on [#9924](https://github.com/oppia/oppia/issues/9924#issuecomment-1077043567)

[2022-03-24 14:27] rt4914 commented on #3560
@anamansari062 @anamansari062
Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-03-24 14:28] rt4914 commented on #3543
@cdhiraj40
Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-03-24 14:31] rt4914 commented on #3897
@Rohit1173 Any updates on this?

[2022-03-24 14:32] rt4914 commented on #2627
@yash10019coder Any updates on this?

[2022-03-24 14:49] rt4914 commented on #3895
@rishidyno Any updates?

[2022-03-25 14:09] ayush0402 commented on #4194
@StarTrooper08 Assigned.

[2022-03-26 01:47] BenHenning opened #4264 "Move I/O operations to dedicated coroutine dispatcher"
We have a few places throughout the codebase that synchronously perform I/O on either our background or blocking dispatchers. This isn't ideal since it causes the running coroutine to essentially devolve to thread-like behavior (i.e. blocking until the operation completes) which ruins parallel performance.

``Dispatchers.IO``, on the other hand, is a large queue of threads (I think 64) whose only

[2022-03-26 02:05] BenHenning opened #4265 "To review: PRs requiring Vinita approval"
The following PRs require post-merging PR approval from ~@vinitamurthi~ (@BenHenning):
- [x] #4049
- [x] #4239
- [x] #2173

Note that these were force-merged due to the sensitive timeline they're part of.

~Reviewer: please review the above PRs & check them off once complete. Assign back to me once all have been addressed. Comments can be left directly on the original PRs, and I'll follow up with

[2022-03-27 05:43] #92 closed, assigned to nobody

[2022-03-27 05:43] #3813 closed, assigned to nobody

[2022-03-27 06:59] #3622 closed, assigned to nobody

[2022-03-27 06:59] #3861 closed, assigned to anandwana001

[2022-03-27 06:59] #4238 closed, assigned to BenHenning

[2022-03-27 07:07] BenHenning opened #4266 "To review: PRs requiring Rajat approval"
The following PRs require post-merging PR approval from @rt4914:
- [x] #2173
- [x] #4267
- [x] #4269
- [x] #4274
- [x] #4307
- [x] #4271
- [x] #4259

Note that these were force-merged due to the sensitive timeline they're part of.

Reviewer: please review the above PRs & check them off once complete. Assign back to me once all have been addressed. Comments can be left directly on the original PRs,

[2022-03-27 22:52] #4044 closed, assigned to BenHenning

[2022-03-28 14:07] ShivamMadlani commented on #3591
Can you assign me this issue?

[2022-03-28 14:07] ayush0402 commented on #4176
@mukulasija Assigning due to inactivity. You can ask to re-assign this to you if you are still working on it.

[2022-03-28 15:48] rt4914 commented on #3591
@ShivamMadlani Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-03-28 15:53] ShivamMadlani commented on #3591
@rt4914 I already checked out the wiki page and have signed the CLA.

[2022-03-28 20:40] BenHenning commented on #4098
Note that #4049 is now merged, so this & other subject test-related issues should now be available to work on.

[2022-03-28 20:40] BenHenning opened #4272 "Add tests for EventLogSubject"
#4267 introduces a new custom Truth test subject: EventLogSubject. It would be advantageous to add thorough tests for this to ensure that:
- Each of the subject & comparator methods correctly allow users to test specific properties of the protos each subject helps verify
- Each of the subject & comparator methods are verified to fail when expected (i.e. when used with an incompatible proto propert

[2022-03-29 07:35] UvrajSB commented on #4192
Can you assign this issue to me, please

[2022-03-29 11:34] ayush0402 commented on #4192
@UvrajSB Assigned.

[2022-03-29 18:14] ShivamMadlani commented on #3591
@rt4914 As I mentioned earlier, there are different layouts for portrait and landscape files. These cannot be merged in a single file, so we will have to keep both the files.
Attaching the screenshots for your refernce.
![image](https://user-images.githubusercontent.com/94903454/160677758-373482d9-4396-4058-8de0-0bb081362968.png)
![image](https://user-images.githubusercontent.com/94903454/16067776

[2022-03-30 05:07] ShivamMadlani commented on #3559
Please assign me this issue.

[2022-03-30 05:29] srushtirk opened #4276 "Disable copying for empty Profile IDs"
**Describe the bug**
Multiple profile IDs are being copied on copying just a single Profile ID.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin controls
2. Click on Profile Learner IDs & Sync Status
3. Copy profile IDs for the profiles with no ID available
4. See error

**Expected behavior**
Disable copy button for empty profile IDs

**Demonstration**
<img width="368" alt="image"

[2022-03-30 05:37] srushtirk opened #4277 "Remove empty answer box in "The Commutative and Associative Laws" chapter's first card"
**Describe the bug**
An empty answer box appears on the first card when returned to the first card after visiting other cards in the chapter "The Commutative and Associative Laws"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Expressions & Equations
2. Visit the first and second card
3. Go back to the first card from the second card
4. See error

**Expected behavior**
The empty box s

[2022-03-30 05:41] srushtirk opened #4278 "Previous Profile IDs show "Copied" checkmark after leaving and returning to Profile IDs screen"
**Describe the bug**
Previous Profile IDs show "Copied" checkmark after leaving and returning to Profile IDs screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile Learner IDs & Sync Status
2. Click "Copy" for one of the Profile IDs
3. Leave the screen and come back to it
4. See error

**Expected behavior**
"Copied" checkmark should disappear in 3 sec.

**Demonstration**
[If a

[2022-03-30 08:05] ShivamMadlani commented on #3559
I would like to work on this. Please assign this to me.

[2022-03-30 18:36] Umesh-01 commented on #4276
@srushtirk I want to work on this issue, if you can guide me a little bit.

[2022-03-31 02:23] prince02765 commented on #4277
I would like to work on this issue.

[2022-03-31 09:52] ShivamMadlani commented on #3559
@yash10019coder Hello, I am getting issues in pushing my commit. The error is given in the screenshot below.
![image](https://user-images.githubusercontent.com/94903454/161028298-03b790a0-15c5-4ef0-b48a-932fc94b8ada.png)

[2022-03-31 10:46] ShivamMadlani commented on #3559
------------------I resolved the above issue.----------------------

[2022-03-31 20:23] srushtirk opened #4281 ""Copy" function misaligned in the UI"
**Describe the bug**
Copy function next to the device ID is misaligned in the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administrator Controls
2. Click on Profile Learner IDs & Sync Status
3. See error next to Device ID

**Expected behavior**
"Copy" icon and text should be horizontally aligned after the Device ID. This possibly means reducing the font for "Device ID"

**Demons

[2022-03-31 21:42] UvrajSB commented on #4192
For the text color of checkboxes in different states ( selected, enabled but not selected, disabled), I cant find any fit from palette.
Should I create references in palette like "color_palette_selected_check_box_text_color"
Is this approach fine?

[2022-03-31 22:45] UvrajSB commented on #1723
I would like to work on this!
Can you please assign it to me?

[2022-04-01 09:11] UvrajSB commented on #4192
For the disabled checkbox, the text has been assigned black color with alpha = 0.38
but it is better if we assign it some color code according to the designs it should be "color_def_oppia_grayish_black" but that is hardly visible on the background.
There is no color code in color_defs that matches the requirement.

I suggest to use some lighter shade of gray like #5CB8B8B8

[2022-04-01 15:07] ShivamMadlani commented on #3560
Please assign me this issue.

[2022-04-01 18:32] yash37158 commented on #4281
can I work on this issue?

[2022-04-02 06:08] ShivamMadlani commented on #3557
I would like to work on this issue. Plz assign it to me

[2022-04-02 08:54] yash37158 commented on #4281
I can't see profile learners' id and sync status options in administrative control, can you please guide me through this issue? @srushtirk

[2022-04-02 08:58] yash37158 commented on #4281
![administrative-controls](https://user-images.githubusercontent.com/68152307/161375766-9159062e-3367-42ba-b5e3-b181cd350cda.jpg)

[2022-04-02 18:12] pravesh00 commented on #4278
Can I work on this @srushtirk @rt4914 @anandwana001

[2022-04-02 18:14] pravesh00 commented on #4196
Can I work on this @ayush0402

[2022-04-03 21:33] rajattrehan-oppia opened #4285 "Text size does not change in-exploration"
If you change the text size from the 3 dot menu during an exploration the text size does not change for the current exploration.  The text size change happens when the next exploration is played.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the three dot menu in any exploration card.
2. Set 'Reading Text Size' to a different size than currently selected (e.g. change from Small to Ex

[2022-04-03 21:50] rajattrehan-oppia opened #4286 "Profile Learner IDs & Sync Status overlaid on Edit Profile tab"
**Describe the bug**
In administrator controls, when going from 'Edit profiles' to 'Profile Learner IDs & Sync Status' the IDs the latter tab's content is overlaid on the former. The copy button nevertheless works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administrator Controls
2. Click on Profile Learner IDs & Sync Status
3. The Profile Learner IDs & Sync Status context is over

[2022-04-03 22:22] rajattrehan-oppia opened #4287 "Additional white box added to cards when navigating backwards"
**Describe the bug**
When navigating backwards from the card where a question in answered by manual input, an extra white box appears on all cards above the forward arrow button

**To Reproduce**
Steps to reproduce the behavior:
1. Start an exploration and move forward through all cards till a question comes up which requires manual entry
2. Provide input to text field and press submit
3. Navigate

[2022-04-05 16:31] visheshkadian commented on #4186
@anandwana001 sir, I wanted to ask you that since I made a PR for this issue which only solves the issue for Mark Topic Completed but the same issue is there for Mark Chapters and Mark Stories so should I make a new PR for both of them or push it in the same PR?

[2022-04-07 03:51] #3998 closed, assigned to BenHenning

[2022-04-07 13:09] ShivamMadlani opened #4288 "Edit Account button in Administrator Controls screen not responding."
**Describe the bug**
"Edit Account" button in the "Administrator Controls" activity gives no response on clicking.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'.
2. Click on 'Edit Account'.
3. See error

**Expected behavior**
The user should be able to edit the account details on clicking the "Edit Account" button.

**Demonstration**
<img src="https://user-im

[2022-04-07 13:16] seanlip commented on #4288
Hi @ShivamMadlani, thanks for reporting! Note that this is tracked in https://github.com/oppia/oppia-android/issues/4006 too, so we might want to merge both issues.

[2022-04-07 13:20] seanlip commented on #4288
Actually, to avoid confusion: closing this as a duplicate of #4006.

[2022-04-07 13:20] #4288 closed, assigned to nobody

[2022-04-12 04:41] BenHenning commented on #4109
@seanlip this is a pending product question that needs resolution--can we catalog it?

[2022-04-12 04:50] BenHenning commented on #1723
@UvrajSB I think that this issue might need some revising before it can be divided up.

@MaskedCarrot do we have a more updated list for documentation work items?

[2022-04-12 04:57] BenHenning commented on #4231
Hi @MnCSSJ4x. Welcome to Oppia! Apologies for missing this. It looks like you haven't contributed to the project before. Please follow [these steps] to begin onboarding where we'll match you to an onboarding mentor and help find an issue for you to get started (which could be this one since it's marked as a starter issue).

[2022-04-12 05:15] BenHenning commented on #4278
The screen that this is corresponding to isn't actually checked into the develop branch yet @pravesh00, so it isn't available to work on. Sorry for the confusion.

Assigning to myself to avoid further confusion.

[2022-04-12 05:16] BenHenning commented on #4281
Apologies @yash37158 this issue corresponds to UI functionality that's not yet checked in. Assigning to myself to avoid further confusion.

[2022-04-12 05:17] BenHenning commented on #4277
This issue is currently being worked on @prince02765, apologies for the confusion.

[2022-04-12 05:30] BenHenning commented on #4235
A quick thought I had seeing this again: we could introduce an application singleton class that utilizes a request command-queue (similar to the one used in ExplorationProgressController) with generated request IDs that can be called by the HTML parser to generate clicking on specific URLs. The singleton would create the necessary intents for broadcasting. We'd then have a generic broadcast receiv

[2022-04-12 06:38] MaskedCarrot commented on #1723
@BenHenning The dev-workflow team has a [documentation tracker](https://docs.google.com/spreadsheets/d/1iBQUyr5_qHT8gzpTEIY9dnxv6xKsNdfopZT_SY5MjG8/edit#gid=0) that contains wiki pages and their progress.

[2022-04-12 06:46] BenHenning commented on #1723
@MaskedCarrot are all of the above accounted for in the tracker (and, if not, should they be?)? It'd be nice to have a single source of truth so that we don't have potential confusion around where to look for things.

That being said, there probably ought to be a tracking issue on GitHub for the work (even if it just points to the tracker). Does one exist?

[2022-04-12 07:16] seanlip commented on #4109
Yup, thanks for flagging! This was actually already on my list to chat with you about when we next meet -- let's discuss it then.

[2022-04-12 09:02] KolliAnitha opened #4290 "Audio Play button is not working in the lesson: Evaluating Expressions [Blocked: #4291]"
**Describe the bug**
The play button is not working in the lesson: Evaluating Expressions

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Admin
2. Scroll down to All Topics
3. Click on Expressions and Equations
4. Click on 1st Chapter- Evaluating Expressions
5. Click on Continue
6. In the Order of Operations page, click on the Audio symbol
7. Click on Play button

**Expected behavio

[2022-04-12 13:30] KolliAnitha opened #4291 "No Audio languages are displayed in the chapter Evaluating Expressions"
**Describe the bug**
No Audio languages are displayed in the chapter Evaluating Expressions

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Admin
2. Scroll down to All Topics
3. Click on Expressions and Equations
4. Click on 1st Chapter- Evaluating Expressions
5. Click on Continue
6. In the Order of Operations page, click on the Audio symbol
7. Click on Language icon displayed
8.
**

[2022-04-12 16:15] #3585 closed, assigned to ishant904

[2022-04-12 17:49] BenHenning commented on #4291
Ah interesting. This definitely exposes an issue with cases when no audio languages are available. This is a good edge case to address since we do expect the app to handle cases when audio languages are missing (though perhaps in a more cohesive way once we have the notion of audio language packs).

@seanlip is it a known issue that these lessons don't have any available audio languages currently?

[2022-04-12 17:51] BenHenning commented on #4290
Probably related to #4291. Marking this as blocked on that one as they may be able to be decided together.

[2022-04-12 17:59] seanlip commented on #4291
This can definitely happen for some lessons and we should definitely design to account for this use case.

We should account for this use case in a reasonable way. Unfortunately the UX team doesn't have bandwidth to take this on. Can we just disable the audio button in the case where there are no languages, and if the user clicks on it, show a popup saying "sorry no voiceovers are available for th

[2022-04-12 18:00] seanlip commented on #4291
Also @BenHenning I note that "[Blocked on product]" is added to the issue title. Is the suggestion I gave above sufficient to unblock it?

[2022-04-12 18:01] BenHenning commented on #4291
We can show a message or disable the button, but not both (it's an antipattern to react to pressing a disabled button as it can result in inconsistencies in screenreaders).

I'm not sure how we would do this since the labels can change over time, and as I understand templates they can only assign a fixed label. We could add it as an instruction item, though (though we don't have any extra instruct

[2022-04-12 18:05] BenHenning opened #4293 "Learner analytics label stays on 'not connected' even when an internet connection is established but uploading hasn't yet been scheduled"

[2022-04-12 18:12] seanlip commented on #4291
Ack, thanks. Let's disable the button. If this causes confusion, we'll revisit.

In my mind, the template wouldn't assign a label. It would just have instructions to say "please add this label (creating it if necessary)". Alternatively it could have a space to say what the version is and someone else who's looking at incoming issues could add it.

I would also suggest updating the labels to 0.6, 0

[2022-04-13 05:14] KolliAnitha opened #4294 "After deleting a profile, Deleted successfully message should be displayed"
**Describe the bug**
After deleting a profile, Deleted successfully notification should be displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Oppia as Administrator
2. Click on Administrator Controls- Enter PIN
3. Click on Edit Profiles
4. Select a profile to delete - Click on Profile Deletion
5. A confirmation dialog appears- Click on Delete

**Expected behavior**
After clic

[2022-04-13 16:26] rt4914 opened #4296 "Replace BenHenning with rt4914 after 25-04-2021."
Replace BenHenning with rt4914 after 25-04-2021.

[2022-04-14 03:11] MaskedCarrot commented on #1723
@BenHenning No, not all of them are in the tracker. I will discuss this with the welfare and the dev-workflow teams and file issues for all the wiki pages that need to be updated.

[2022-04-14 08:07] KolliAnitha opened #4298 "Hyperlink for 'concept card' in the revision card 'Naming Numbers' is shown as 'this concept card' instead of 'concept card'"
**Describe the bug**
Hyperlink for 'concept card' in the revision card 'Naming Numbers' is shown as 'this concept card' instead of 'concept card'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Topic: Place Values'
2. Click on 'Revision' tab- Select 'Naming Numbers'
3. Check for the Concept Card link
4. See error

**Expected behavior**
hyperlink should be seen for text concept card on

[2022-04-14 09:31] KolliAnitha opened #4299 "The solution displayed is incorrect for the lesson 'What are the place values'"
**Describe the bug**
Solution displayed is incorrect for the lesson 'What is place value'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Place Values'
2. Click on 'Lessons'- Select '1. What are the place values'
3. Click on Continue to get to the question page
4. Enter the wrong answer and get the hint
5. Enter wrong answer and wait for sometime to get solution
6. Click on Reveal Sol

[2022-04-14 19:16] BenHenning opened #4300 "Introduce beta notice"
**Is your feature request related to a problem? Please describe.**
Users need to be aware of when they're changing to a beta version of the app.

**Describe the solution you'd like**
See [PRD](https://docs.google.com/document/d/1vnD20MuZ8JVr6ZuA40p5c2GRiJrCpbodMghqHJSeMHg/edit?usp=sharing) and [mocks](https://xd.adobe.com/view/3dca36c2-5115-419c-b25e-0f10526b077c-6899/screen/d92286cb-e0d8-4687-b6a

[2022-04-14 19:28] BenHenning opened #4301 "Update Play Store description for beta"
As part of introducing explicit beta notices (e.g. #4300), the Play Store description also needs to be updated to have beta-specific messaging. The messaging provided by the UX team is:

[code]

However, we should make sure this change is done in an easy-to-maintain way. In particular, we should find a way to:
- Ensure Play Store descriptions can exist inside the local repository
- Play Store desc

[2022-04-14 19:57] BenHenning commented on #4299
Thanks @KolliAnitha.

Marking this as a duplicate of #3956 since I think both are numeric interaction cases (and the broader tracking issue is #1050).

[2022-04-14 19:57] #4299 closed, assigned to nobody

[2022-04-14 20:40] BenHenning opened #4302 "Introduce a JUnit annotation & rule for managing & enumerating platform parameter states"
Arranging tests to have the correct platform parameter state is essential for testing app behavior in cases that are potentially very difficult to test manually (particularly because one needs to manually set up a platform parameter module, override all platform parameters needed by downstream dependencies, and then change the current parameter before injection).

#4204 lays the foundation for muc

[2022-04-14 20:52] BenHenning opened #4303 "Introduce developer options screen for overriding platform parameters [Blocked: #3506]"
Platform parameters currently can only be overwritten at compile-time which makes feature testing much more difficult (as multiple binaries need to be provided to QA). While we still want to gate features compile-time, when they're ready for feature testing they should be added to the corresponding flavor and be disabled at runtime, by default.

This requires introducing a new developer options sc

[2022-04-14 20:53] BenHenning commented on #4302
Related issue: #4303 (as it might share some of the production-side implementation), and either issue can be implemented (there's no specific expected order between this & that one).

[2022-04-14 20:56] BenHenning opened #4304 "Change platform parameter definitions to be multi-module [Blocked: #4302, #1720]"
Keeping all platform parameters in one module has two main disadvantages:
1. It becomes onerous to manage as more parameters are added over time.
2. It's organizationally confusing since it leads to parameters not being defined in close code proximity to where they're needed in the app.

Instead, it seems cleaner to define feature or infrastructure specific modules that define any platform paramet

[2022-04-14 20:59] BenHenning commented on #1723
Thanks @MaskedCarrot! Can you update this task once that's completed? (Either by linking to the new issues & tracker and closing this, or by updating it and mentioning that it's the source of truth for changes).

[2022-04-14 21:01] BenHenning commented on #1723
@UvrajSB You should work with your onboarding mentor to find technical work to do. Documentation can be really difficult to write if you don't have the needed technical context for the project, so I suggest submitting a few PRs before working on documentation changes (however, once the PRs are merged, you can reach out to @MaskedCarrot to see what's available).

[2022-04-15 00:51] kemicky commented on #3591
**Hello,
I have Finished the getting started, please may you kindly assign me this issue or any UI merge issue. thank you**

[2022-04-15 00:54] seanlip commented on #4109
Based on discussion with @BenHenning, let's do the following:

- For now, individually prohibit the LDPI devices (like watches) that we're aware of from installing the app. (If a new LDPI device comes out subsequently, we can add it to the denylist.)
- For such cases, we'll add a notice in the app along the lines of "Oppia is not supported on small-screen devices. Please use a different device to

[2022-04-15 01:15] BenHenning opened #4305 "Add support for Swahili translations"

[2022-04-15 01:41] BenHenning opened #4306 "Add support for pulling in raw content translations from Oppia web"
Title & outline translations exist in Oppia web and can theoretically be imported into the app (with some changes in proto structures).

[2022-04-15 07:11] BenHenning commented on #4287
Interestingly, this only seems to happen after state changes. If you navigate back from the next card immediately after pressing 'continue', the box isn't there. However, once whatever triggers it occurs it stays broken from that point onward.

[2022-04-15 07:51] BenHenning commented on #4287
Ah I see. This is being caused by the view model being recycled from a previous card and not correctly reset (since there's nothing to bind). I more or less did the original implementation incorrectly. It's better to avoid creating a model to bind in the first place rather than trying to condition what is bound to the specific view.

[2022-04-15 17:10] seanlip commented on #4109
Actually, I'm going to just suggest this message, since this is more of a tangential use case which shouldn't require a lot of additional deliberation on our part. Let's go with:

"Sorry, Oppia is not supported on small-screen devices. Please use another device to install Oppia."

[2022-04-17 12:48] kemicky commented on #3541
Hello Sir,
I have taken look at this , Looking at the layout, I noticed the onboarding_fragment. xml & onboarding_fragment.xml(sw600dp-port) are the same orientation and may be merge .
May you please sir assign this issue to me and let me try and see if I may succeed in merging them using text-compare.com are recommended, sir

[2022-04-17 13:00] kemicky commented on #3541
And Sir, After comparing the code with text-compare , there are a few difference in constraints, background color and onboarding_fragment.xml horizontal constraint is missing.

[2022-04-17 16:42] rt4914 commented on #3541
@kemicky Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-04-17 23:28] kemicky commented on #3541
Hi Rajat,
Yes sir I already filed the CLA , and I am using the wiki site  as well as
I already fixed the port , on the land.

On Sun, 17 Apr 2022, 6:42 pm Rajat Talesra, ***@***.***>
wrote:

[2022-04-18 00:38] seanlip commented on #4298
This is now fixed in the original content, and will be updated in the Android app during the next content pull. Thanks @KolliAnitha!

[2022-04-19 14:07] KolliAnitha opened #4311 "Talkback is reading <p> while reading a hint in What are the Place values story"
**Describe the bug**
Talk back is reading <p> while reading hints in What are the Place values

PreCondition:
Enable Talk back

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on Place Values
2. Go to 'What are Place Values' story
3. Click on 'Continue'
4. Go to the question page
5. Give wrong answers to get hints
6. Click on Reveal Hint

**Expected behavior**
Talk back is reading '<p> To

[2022-04-19 14:11] KolliAnitha opened #4312 "Talk back is not reading Arabic language in Audio Language dialog box"
**Describe the bug**
Talk back is not reading Arabic language in Audio Language dialog box

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Place Values'
2. Double tap on 'What are place values'
3. Double tap on 'Audio' button
4. Double tap on 'Change language' icon
5. Audio Language dialog box appears
6. Swipe across the various languages

**Expected behavior**
Talk back to read all t

[2022-04-19 16:48] ShivamMadlani commented on #4288
I reported this issue on Gitter when I came across it. I was told to create an issue for this by Apoorv. Also, I didnt know this issue already existed. Sorry for the inconvinience caused.

[2022-04-19 16:53] seanlip commented on #4288
Not an issue! Closing duplicates is a regular thing we do to keep the issue tracker clean, so please don't worry -- you did the right thing.

[2022-04-19 22:00] BenHenning commented on #4298
Reopening to track pulling in the fix in data so that @KolliAnitha can verify it.

[2022-04-19 22:43] BenHenning commented on #4255
It's still happening, albeit less often. I'm going to try tuning the shard count to see if that helps.

[2022-04-24 09:46] gtfrans2re opened #4314 "Replace numbers with digits in the "Place Values" chapter one lesson"
**Describe the bug**
In the "Place Values" chapter one lesson, there is a need to replace numbers by digits indicating Jaime's score at the arcade game. In fact, the score is a number made up of digits. As a result, instead of stating "Jaime's score has a lot of numbers in it," it should rather be "Jaime's score has a lot of digits in it."

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2022-04-25 02:52] KolliAnitha opened #4315 "Automatically Update Topics options doesn't do anything in Administrator Controls"
**Describe the bug**
Automatically Update Topics options doesn't do anything in Administrator Controls

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'
2. Click on 'Automatically Update Topics'

**Expected behavior**
On turning on this control whenever there is an update to a topic it should be auto updated
![Screenshot 2022-04-25 8 21 23 AM](https://user-images

[2022-04-25 09:12] KolliAnitha opened #4316 "Contrast ratio for Oppia icon is not as per the standards"
**Describe the bug**
The Contrast ratio for Oppia icon is not as per the standards

**To Reproduce**
Steps to reproduce the behavior:
1. Install Oppia Android application
2. Go to Home and enable accessibility scanner
3. Verify the results

**Expected behavior**
The contrast ratio should be 4.5:1

Actual behavior:
The contrast ratio for icon is 4.15:1
![Screenshot 2022-04-25 2 42 13 PM](https://us

[2022-04-25 11:31] KolliAnitha opened #4317 "Talk back is reading Good Afternoon twice when the focus is on it for the first time"
**Describe the bug**
Talk back is reading Good Afternoon twice when the focus is on it for the first time

Pre-requisite: Enable Talk back on

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Oppia as Admin
2. Get to label 'Good Afternoon, Admin'

**Expected behavior**
Talk back should read Good Afternoon Admin

Actual Result: Talk back is reading Good Afternoon Admin, Good Afternoon

[2022-04-25 13:35] KolliAnitha opened #4318 "[A11Y] Unable to scroll down the home page when magnification is turned on"
**Describe the bug**
Unable to scroll down the home page when magnification is turned on

Pre-Requisite: Turn on magnification mode

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Oppia as Admin
2. Scroll down the page to view All Topics

**Expected behavior**
Users should be able to scroll down the page when magnification is turned on

Actual Result:
Unable to scroll down the page

[2022-04-26 08:46] KolliAnitha opened #4319 "Unable to complete the topic Addition & Subtraction, as chapter 4 is getting crashed while trying to complete it"
**Describe the bug**
Unable to complete the topic Addition & Subtraction, as chapter 4 is getting crashed while trying to complete it

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Admin
2. Go to 'Addition & Subtraction
3. Complete chapters 1,2,3
4. Try to complete chapter 4

**Expected behavior**
Admin should be able to complete chapter 4 to proceed further and complete the topic

[2022-04-26 16:10] #4296 closed, assigned to nobody

[2022-04-26 21:50] #4255 closed, assigned to BenHenning

[2022-04-26 22:10] BenHenning commented on #4319
How odd. I was able to repro this (I think) by fully finishing lesson 4, and then noticing it crashes. I'll need to check the logcat logs to see what the actual stacktrace is.

[2022-04-26 22:12] BenHenning commented on #4318
Interesting. My first thought is that this must have something to do with RecyclerView scrolling, but then I'd expect other apps to have the issue.

@KolliAnitha could you check apps like Google News (that have a list of items to scroll similar to Oppia's home screen) with magnification mode on the same device to see if it has the same problem? It might also be nice to get a video of what "correct

[2022-04-26 22:18] BenHenning commented on #4317
This seems like a good first issue to work on.

Assignees: I suggest enabling speech output for TalkBack so that you don't need to rely on hearing it (this can be set via TalkBack developer settings). You should first verify you can repro the exact issue on your local device/emulator. After that, a good place to start is HomeActivity (which is where the greeting is set up), and investigating the v

[2022-04-26 22:20] BenHenning commented on #4319
I see this stacktrace when reproed locally:

[code]

I suspect this will be fixed by #3852 since a bunch of improvements were added around paragraph handling, but it's interesting because something specific must be happening in the EndExploration card content to trigger this. I'm going to see if I can find the content HTML.

[2022-04-26 22:21] BenHenning commented on #4316
The icon isn't finalized yet, but this is a good item to catalog as part of beta/GA.

[2022-04-26 22:23] BenHenning commented on #4315
The solution for this is to introduce a new platform parameter (see [this wiki page](https://github.com/oppia/oppia-android/wiki/Platform-Parameters-&-Feature-Flags)) and hide the 'download permissions' section entirely (similar to what's being done in #4204 minus the extra testing work since that PR is fixing a few general issues with how we change platform parameters in tests).

[2022-04-26 22:25] BenHenning commented on #4319
The content for this state is:

[code]

I can't be sure, but I suspect the issue has something to  do with the paragraph tags surrounding the interactive image. It's probably an edge case that we just haven't noticed until now. I think Veena's fix in the PR above for paragraph handling might address this, and given that it's blocking a likely topic for the upcoming study I'm going to try and fix t

[2022-04-26 22:28] BenHenning commented on #4314
@seanlip since this is a content issue, could you follow-up or delegate to someone on the content team? If there's an actual action item here, I'm happy to keep this issue open to track the content being changed (since I know content issues are tracked separately).

[2022-04-26 22:29] BenHenning commented on #4314
Hi @gtfrans2re. Thanks for filing the issue! We'll be following up on the specific content change request once we have someone from the lesson content team take a look at the details you've provided.

[2022-04-27 08:15] KolliAnitha commented on #4318
@BenHenning, As per the standards to scroll down the page we should drag 2 fingers. Please check the link below.
https://support.google.com/accessibility/android/answer/6006949?hl=en
However if i drag with 1 finger I am able to scroll down the page and view all topics.

Even in Google News app it is the same behavior i.e on dragging with 1 finger I am able to scroll down and view the topics.

http

[2022-04-27 11:15] KolliAnitha opened #4322 "Talkback is reading astreisk for required fields"
**Describe the bug**
Talkback is reading astreisk for required fields

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Add Profile
2. Enable Talk back
3. Navigate across page
4. See error

**Expected behavior**
Talk back should read required or mandatory as a label for mandatory fields instead of astreisk

**Environment**
Device name: One plus Nord2 5G
Android version : Android 11
Ap

[2022-04-27 11:31] KolliAnitha opened #4323 "App doesn't open on every alternate tap on the icon"
**Describe the bug**
App doesn't open on every alternate tap on the icon

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page
2. Tap on Oppia
3. Page blinks and app doesnt open
4. Tap on Oppia icon again
5. App opens properly

**Expected behavior**
App should open when the user tries to open it

Actual Result:
App doesn't open and page blinks on every 1st, 3rd and 5th tap on the O

[2022-04-27 12:05] KolliAnitha opened #4324 "After clicking on logout user is taken to profile selection page"
**Describe the bug**
After clicking on logout user is taken to profile selection page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'
2. Go to Account Actions
3. Tap on Log Out

**Expected behavior**
  If the user logs out of the application login page should be seen

Actual Result:
On clicking the log out button user is taken to profile selection page

**Envir

[2022-04-27 13:08] gtfrans2re commented on #4314
Hello, @BenHenning. Thank you for your comment.
I hope to see the change soon. Thanks again !

[2022-04-27 18:33] Sarthak2601 opened #4326 "Add Platform Parameters for Performance Metrics Collection"
This issue tracks the implementation of platform parameters to gate the functionality of performance metrics collection. It also tracks the implementation of parameter flags for configuring the time intervals of metric collection and upload to remote service.

- [ ] Feature gating
- [ ] time interval for log upload
- [ ] time interval for frequent metric collection
- [ ] time interval for regular

[2022-04-27 21:24] Sarthak2601 opened #4328 "Add Proto Definitions for Performance Metrics collection"
This issue tracks the implementation of protocol buffer definitions for the process of Performance Metrics collection. These definitions would play a key role while logging these metrics. We'll be defining the following metrics:

- Timestamp
- Priority
- a boolean to know whether app is in foreground or not
- Memory tier of the device [ =<1GB, =<2GB && >1GB, >2GB ]
- Storage tier of the device [ =

[2022-04-28 05:06] KolliAnitha opened #4329 "Unable to complete chapter 'What is Division'"
**Describe the bug**
Unable to complete chapter 'What is Division'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'All Topics'
2. Click on 'Division'
3. Select Chapter 1 'What is Division'
4. Click on Continue until you get to the cookies question
5. Enter 6/2 as answer and submit

**Expected behavior**
On giving 6/2 as answer it should display correct and continue button should be en

[2022-04-28 05:50] KolliAnitha opened #4330 "A question and the options do not match in chapter 'The Commutative and Associative Laws'"
**Describe the bug**
A question and the options do not match in chapter 'The Commutative and Associative Laws'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'All Topics' - Expressions and Equations
2. Complete 1st Chapter
3. In the 2nd chapter- The Commutative and Associative Laws' click on Continue till you get to the question
"Choose all the choices that are equivalent to the follo

[2022-04-28 06:03] KolliAnitha opened #4331 "Answers in the options are displayed incorrectly but on submitting answers they are displayed correctly"
**Describe the bug**
Answers in the options are displayed incorrectly but on selecting they are displayed correctly in The commutative and associative laws

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'All Topics' - Expressions and Equations
2. Complete 1st Chapter
3. In the 2nd chapter- The Commutative and Associative Laws' go to question 5*3*2+7
4. Verify the options displayed

**

[2022-04-28 08:17] vrajdesai78 commented on #4317
@BenHenning I have tried to reproduce this error on my device but I didn't get this issue of reading Good Afternoon twice. I am attaching screen recording of my device.

https://user-images.githubusercontent.com/43074241/165708909-520dc592-e095-49fa-9acc-c2670d0cd953.mp4

[2022-04-29 05:57] BenHenning commented on #4317
@vrajdesai78 it's a bit hard to tell from your video because the second 'Good afternoon' comes after the first one disappears. When I repro this locally, I see the following output:
- 'Good afternoon, Admin!'
- 'Good afternoon'

(in succession)

Do you not see this? If not, what device are you using? Also, could you try this on an emulator running Android 11? It would also be a good idea to try ve

[2022-04-29 06:09] BenHenning commented on #4322
I suspect this is probably a good second issue and will likely involve splitting up the strings coming from strings.xml such that the asterisk isn't part of the string, and is instead concatenated onto it.

[2022-04-29 06:10] BenHenning commented on #4323
Interesting. This looks like a crash; further investigation is needed to see if it can be reproed locally or if it's specific to @KolliAnitha's device.

[2022-04-29 06:11] BenHenning commented on #4323
Adding this tentatively to beta MR1 & assigning it to myself as it may be indicating a much worse issue that we'll want to be aware of.

[2022-04-29 06:12] BenHenning commented on #4324
Since we don't yet have an actual registration or login flow built yet, this is actually the intended behavior @KolliAnitha. I think you can go ahead and update the regression test cases to match this as the expected outcome, and follow-up once done so that I can close this. Does this sound good or do you have any doubts?

[2022-04-29 06:13] BenHenning commented on #4329
This requires more investigation and may indicate a serious issue with the math expressions implementation. Going to take this to dig into it.

[2022-04-29 06:16] BenHenning commented on #4330
Nice catch @KolliAnitha!

@seanlip sending this to you to triage re: content. Do you know how quickly this can get fixed & published (so that we can verify it's fixed after repulling the lessons)? Please assign back to me once it's fixed, or if this actually isn't an issue (though it does seem incorrect either in the content or answers).

[2022-04-29 06:16] BenHenning commented on #4330
(Adding this to MR4 as an opportunistic fix since we don't actually expect study participants to be playing these lessons, though if they do this may cause significant confusion).

[2022-04-29 06:17] BenHenning commented on #4331
Ah, I'm curious how this'll change with #3852 merged in as it's making a lot of changes to the bullet list.

Either way, this seems like a low-priority fix as the content isn't actually wrong. I think we'd be fine shipping this in beta.

[2022-04-29 06:18] BenHenning commented on #4331
I think we can wait until #3852 is merged before investigating this.

[2022-04-29 11:11] KolliAnitha commented on #4324
If that's the intended behavior we can close this issue i will update the test cases as per this behavior

[2022-04-29 12:37] KolliAnitha opened #4332 "On clicking a number line image, the region label is displayed and this is confusing for learners"
**Describe the bug**
On entering a mixed fraction as answer it is displayed in text and numbers after submitting

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic 'Fractions'
2. Click on 'Mixed numbers and the number line 1'
3. Goto exploration page Which point on this number line represents 2 1/4
4. Select the point and submit

**Expected behavior**
After submitting the answer, it

[2022-04-29 12:57] KolliAnitha opened #4333 "In one of the options for an exploration, the denominator is not seen clearly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic 'Fractions'
2. Click on 'Mixed numbers and the number line 1'
3. Goto exploration page It looks like 3 3/4 and 3 9/12 represent the same number
4. Check the 4th option

**Expected behavior**
The denominator 12 should be seen clearly

Actual Result:
The denomina

[2022-04-29 20:06] Sarthak2601 opened #4334 "Add log report creation support for performance metrics collection"
This issue tracks the implementation of functionality to record performance metrics and package them into log reports for uploading to the remote service or storing on device.

Performance Metrics to be recorded are-

1. AppStartupMetrics [Metrics recorded on app startup]
- APK size
- Startup Latency
- Storage Usage

2. PeriodicMetrics [Metrics recorded periodically]
- CPU Usage
- Network Usage

3

[2022-04-29 20:23] Sarthak2601 opened #4335 "Add log upload support for performance metrics collection"
This issue tracks the implementation of support for uploading log reports related to performance metrics collection to the remote service.

[2022-04-30 09:50] julietugo opened #4337 "Voiceovers don't continue playing in English"
Describe the bug
Talkback is not reading the English Language

To Reproduce
Steps to reproduce the behavior:

1. Login to Oppia as Admin
2. Get to Fraction, Lessons
3. Go to Chapter One
4. Enable talkback
5. Navigate page
6. See error (watch video from 8.50 - 9.10)

Expected behavior
Talkback should continue to read the English Language instead of a different language

Actual Result: Talkback is r

[2022-05-01 23:30] Sarthak2601 opened #4340 "Add performance metrics logging during critical user journeys"
This issue tracks the implementation of metric logging during critical user journeys in the application.

[2022-05-02 21:10] BenHenning commented on #4276
Notes on reproing this: you need to create the profile with a version of the app where the feature is disabled, and not log into it (otherwise a learner ID will be generated).

[2022-05-02 21:12] BenHenning commented on #4278
Given that no confusion has come up during the dry-run, going to close this as an issue we're not going to fix. I think the current UX is probably fine, and we can revisit changing this if there's observed confusion.

[2022-05-02 21:12] #4278 closed, assigned to BenHenning

[2022-05-02 21:28] BenHenning commented on #4281
This problem is fairly easy to reproduce by maximizing device zoom. It actually gets exacerbated by:
- Very long profile names (completely cuts off the copy button)
- Display + font zoom (which completely cuts off the installation ID copy button)

Note that the above was tested on a Nexus 5X which has a smaller screen to start with, so that exact behavior may not be observed on larger screen densi

[2022-05-02 23:18] BenHenning commented on #4293
Ah, I think I might not bother to fix this, actually. It automatically fixes itself when another event is scheduled, or after the upload kicks-in, so it seems a bit unlikely that facilitators will even encounter this.

Closing as "not important enough to prioritize."

[2022-05-02 23:18] #4293 closed, assigned to BenHenning

[2022-05-03 02:19] BenHenning commented on #4329
I've been able to debug this. I believe it's coming from the fact that rule inputs on Oppia might fail some of the new validation checks (such as redundant parentheses). In particular, the answer above is checking against ``(6)/(2)`` which fails the optional parentheses validation error. I'll remove the extra validation for web-provided values, though this is an interesting edge case since web rul

[2022-05-03 02:24] seanlip commented on #4329
Noted -- thanks @BenHenning. Copying @iamprayush too for info.

[2022-05-03 15:10] KolliAnitha opened #4341 "Mismatch with the option selected and the description shown after submitting it in chapter The Importance of Order"
**Describe the bug**
Mismatch with the option selected and the description after submitting it in chapter The Importance of Order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic "Ratios and Proportions"
2. Open Chapter "Importance of Order"
3. Get to the question "What is a shorter way to correctly state the ratio of ingredients needed for the mango smoothie"
4. Submit the answer

[2022-05-03 17:02] #3179 closed, assigned to bhaktideshmukh

[2022-05-03 20:34] BenHenning commented on #4341
@seanlip this appears to be a content error. Are you aware of it?

[2022-05-03 20:38] BenHenning commented on #4337
Thanks for filing this @julietugo! This looks to be another example of #3088 where voiceovers don't continue in English if one of the states is missing English voiceovers.

Marking as a duplicate, but it's helpful to have other examples of this occurring.

[2022-05-03 20:38] #4337 closed, assigned to nobody

[2022-05-03 20:39] BenHenning commented on #4333
Nice find. I think we can avoid prioritizing this in MR4 if it's the only occurrence so far, but this definitely looks like a case where we need to investigate why the sizing estimation is failing for that LaTeX expression.

[2022-05-03 20:42] BenHenning commented on #4332
This is a limitation in the image selection interaction, and the ideal way to solve it would be to introduce a dedicated number line interaction (which we've talked about before).

Out of curiosity, @KolliAnitha how does this behave on web?

[2022-05-03 21:26] BenHenning commented on #4324
Thanks @KolliAnitha. In that case, closing this issue.

[2022-05-03 21:26] #4324 closed, assigned to KolliAnitha

[2022-05-03 21:47] BenHenning commented on #4318
That's helpful--thanks @KolliAnitha.

This actually seems potentially bad since it'll make it hard for TalkBack users to start a specific topic. Sending this over to the CLaM team for a11y triage.

[2022-05-04 14:06] vrajdesai78 commented on #4317
@BenHenning I have tested on Android 11.0 as well as on v0.6 also but still, I am not able to produce the same issue. On my device it's showing Good Afternoon, Admin one time only.
![untitled](https://user-images.githubusercontent.com/43074241/166698597-4941c40c-a2e6-4915-a6f7-c1d191fcf127.gif)
This video is taken from Pixel 2 Android 11 and App version 0.6

[2022-05-04 16:27] KolliAnitha commented on #4332
@BenHenning, below is the behavior on the web.

![Screenshot 2022-05-04 9 56 27 PM](https://user-images.githubusercontent.com/101634267/166727057-55e3f82c-0ff1-45a7-b68a-8d7b121c784c.png)

[2022-05-04 16:31] KolliAnitha commented on #4333
Below are other pages where the same issue is seen
![Screenshot_2022-04-29-16-00-41-35_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/166727676-e745c3ae-5ec2-490c-a58c-34e29d45c74e.jpg)![Screenshot_2022-04-29-14-45-48-22_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/166727722-1c8ab956-01cb-4700-9565-7737c0cfbc1a

[2022-05-05 01:54] #4249 closed, assigned to nobody

[2022-05-05 12:50] KolliAnitha opened #4343 "For few of the questions in explorations the hints provided are numbered randomly"
**Describe the bug**
For few of the questions in explorations the hints provided are numbered randomly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ratios'
2. Click on 'Multiplication'
3. Click on Continue to get to the question page 'how many petals there are on the flowers'
4. Wait for hint

**Expected behavior*
Hint 1 should be displayed instead of hint 6

Actual Result:
Hint 6

[2022-05-05 15:58] #3581 closed, assigned to shankarpriyank

[2022-05-06 06:24] rt4914 commented on #4317
I have checked this too and I am unable to reproduce this on current develop.

[2022-05-06 07:25] BenHenning opened #4344 "To review: PRs requiring Akshay approval"
The following PRs require post-merging PR approval from @anandwana001 :
- [x] #4307
- [x] #4271

Note that these were force-merged due to the sensitive timeline they're part of.

Reviewer: please review the above PRs & check them off once complete. Assign back to me once all have been addressed. Comments can be left directly on the original PRs, and I'll follow up with one PR to address all of the

[2022-05-06 07:25] BenHenning opened #4345 "Fast-follow MR4 work items (writing tests)"
This issue is tracking smaller work items that were intentionally postponed to expedite the MR4 release given tight scheduling and resourcing constraints. As a result, there may be cases when some tests weren't added. We should add those tests.

The open work items are tracked below:

- [x] Address all TODOs attached to this issue.
- [x] Make sure PR #4274 has good testing coverage.
- [x] Make sur

[2022-05-06 07:39] BenHenning opened #4346 "Remove reviewer unavailability check after 23 May"

[2022-05-06 07:44] BenHenning opened #4348 "Increment version codes +1 for next release"

[2022-05-06 07:48] #4197 closed, assigned to BenHenning

[2022-05-06 08:45] #4305 closed, assigned to BenHenning

[2022-05-06 08:48] #4064 closed, assigned to BenHenning

[2022-05-06 08:49] #4281 closed, assigned to BenHenning

[2022-05-06 09:01] #4026 closed, assigned to BenHenning, anandwana001

[2022-05-06 09:01] #4027 closed, assigned to BenHenning

[2022-05-06 09:01] #4040 closed, assigned to BenHenning

[2022-05-06 09:01] #4076 closed, assigned to BenHenning

[2022-05-06 09:01] #4287 closed, assigned to BenHenning

[2022-05-06 09:01] #4319 closed, assigned to BenHenning

[2022-05-06 09:01] #4329 closed, assigned to BenHenning

[2022-05-06 09:02] BenHenning commented on #4276
This was fixed in #4064.

[2022-05-06 09:02] #4276 closed, assigned to BenHenning

[2022-05-06 09:02] BenHenning commented on #4286
This was fixed in #4064.

[2022-05-06 09:02] #4286 closed, assigned to BenHenning

[2022-05-06 09:03] BenHenning commented on #4306
This wasn't completed in time, so deferring it.

[2022-05-06 09:03] BenHenning commented on #4298
This wasn't completed in time, so deferring it.

[2022-05-06 09:04] BenHenning commented on #4330
This wasn't completed in time, so deferring it.

[2022-05-06 10:14] BenHenning commented on #4317
@KolliAnitha can you check this again on the latest version of 0.7 MR4 (it should be going out to the test track in a few hours--I'll send a mail once it's available). It's possible this issue has gone away on its own due to other changes.

[2022-05-06 10:17] KolliAnitha commented on #4317
Sure @BenHenning, I will check it in the latest version

[2022-05-06 17:18] latifatakin opened #4350 "Lessons not displaying fully in portrait mode."
Student unable to view some parts of the screen content until the student rotated the phone into Landscape mode.
![Screenshot_20220402-203631~2](https://user-images.githubusercontent.com/102434385/167181285-2cdc5b24-990a-4eba-ac6a-f441c4ca7200.png)
![Screenshot_20220403-051145~2](https://user-images.githubusercontent.com/102434385/167181307-e5b2cf33-2745-4a90-b59b-3513750eb880.png)

The informatio

[2022-05-06 20:14] BenHenning commented on #4350
Hi @latifatakin.

Thanks for filing this issue! Fortunately, we're aware of this (see #4027) and have recently fixed it. The fix will be available in the next alpha release of the app (which should be available on Play Store sometime next week).

Closing this in the meantime as we already have an issue to track it, and it's been closed due to being fixed.

[2022-05-06 20:14] #4350 closed, assigned to nobody

[2022-05-06 20:16] BenHenning commented on #4343
Ah, I was aware of this but I don't think we had an issue to track it--thanks @KolliAnitha.

The problem here is that we're currently use the content ID of the hint as its header which is incorrect. We should instead be numbering the headers in a localization-friendly way.

I think this is a good starter issue material, but marking it as a 'second issue' since the APIs for localization can be a bi

[2022-05-06 20:17] BenHenning commented on #4332
Thanks @KolliAnitha!

So perhaps the fix here is to use a similar formatting as web.

@seanlip do you have any suggestions on the product side for how this should be addressed?

[2022-05-06 20:23] BenHenning commented on #4344
@anandwana001 could you please review the above merged PRs per the instructions in the opening comment?

[2022-05-06 20:23] BenHenning commented on #4266
@rt4914 could you please review the above merged PRs per the instructions in the opening comment?

[2022-05-06 20:24] BenHenning commented on #4265
Since I authored these PRs and now have @vinitamurthi's codeowners, I'm considering this done by virtue of me self-reviewing my code as I go along (and because I can't approve my own PRs).

[2022-05-06 20:24] #4265 closed, assigned to BenHenning

[2022-05-06 22:05] latifatakin commented on #4350
Hello Ben,

The User studies was conducted with the alpha version of the Oppia app. I
was granted early access because I am an Outreachy applicant contributing
to Oppia.

On Fri, 6 May 2022 at 9:14 PM, Ben Henning ***@***.***> wrote:

[2022-05-07 00:11] anandwana001 commented on #4344
Done

[2022-05-07 00:28] anandwana001 commented on #4344
Closing this issue as both the PRs I had reviewed and extra follow-up is needed.

[2022-05-07 00:28] #4344 closed, assigned to anandwana001

[2022-05-09 10:25] KolliAnitha opened #4351 "Incomplete sentence is displayed in response for one of the questions in an exploration"
**Describe the bug**
Incomplete sentence is displayed in response for one of the questions in an exploration

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fractions'
2. Click on 'Subtracting Fractions'
3. Click on Continue
4. In the first question page enter 2 wrong answers
5. For the 2nd wrong attempt verify the response displayed

**Expected behavior**
'No, that's not right. You m

[2022-05-10 07:10] KolliAnitha opened #4352 "Spelling mistake is seen while setting up pin in 'Enter a New Pin' dialog box"
**Describe the bug**
Spelling mistake is seen while setting up pin in 'Enter a New Pin' dialog box

**To Reproduce**
Steps to reproduce the behavior:
1. Select a learner to login
2. Click on 'I forgot my PIN'
3. Enter admin pin
4. Enter a new pin dialog box will be seen
5. Verify the dialog box

**Expected behavior**
This PIN will be <users> new PIN and will be required when signing in. should be

[2022-05-10 15:34] KolliAnitha commented on #4317
Verified in 0.7 MR4, I am not able to reproduce the issue now
Environment
Device name: One plus Nord2 5G
Android version : Android 11
App version : 0.7-alpha-d1b2827517

[2022-05-10 15:39] KolliAnitha opened #4353 "Unable to complete exploration 'The Distributive Law'"
**Describe the bug**
Unable to complete exploration 'The Distributive Law'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic: Expressions and Equations
2. Open Distributive Law
3. Go to Question " Apply the distributive law to (21+3*36/4-3)*5

**Expected behavior**
User should be able to get to next pages after answering this question

Actual Result:
Unable to proceed to next pages

[2022-05-10 23:12] seanlip commented on #4314
Sorry for the late reply -- I just realized I had a bunch of issues assigned to me on the Android repo.

As discussed on https://github.com/oppia/oppia/issues/15392, we are not going to fix this. Please see that issue for the rationale.

[2022-05-10 23:12] #4314 closed, assigned to seanlip

[2022-05-10 23:17] seanlip commented on #4330
Sorry -- I didn't realize this issue was assigned to me. This has now been fixed on the Oppia.org website, so reassigning back to @BenHenning per instructions. (There was a typo in the question -- 8 should be 18.)

[2022-05-11 04:19] seanlip commented on #4332
I think, for a start, let's at least follow the formatting on Web, with the parentheses and quotation marks, so we have a bit of consistency.

Longer term ... this is a hard problem. I think what I lean most towards is to have a snippet of the part of the image that was clicked, with a circle around the clicked point. /cc @dianakc for thoughts as well since this should probably be consistent on bo

[2022-05-11 12:23] rt4914 commented on #3547
Closing this as it has already been solved.

[2022-05-11 12:23] #3547 closed, assigned to priyatanu

[2022-05-11 12:25] rt4914 commented on #3591
Closing this as we cannot merge files for this layout considering both the layouts are designed differently.

[2022-05-11 12:25] #3591 closed, assigned to ShivamMadlani

[2022-05-11 12:25] rt4914 commented on #3570
Closing as this has already been solved.

[2022-05-11 12:25] #3570 closed, assigned to mukulasija

[2022-05-11 12:38] rt4914 commented on #3575
The files for this layout cannot be merged further as all three designs are different.

[2022-05-11 12:38] #3575 closed, assigned to ArchitJain1201

[2022-05-11 12:44] rt4914 commented on #3543
Files for this layout cannot (rather should not be) be merged as the designs for all screen is different.

[2022-05-11 12:44] #3543 closed, assigned to nobody

[2022-05-11 12:45] rt4914 commented on #3542
Layouts of this file should not be merged as the designs are different for all configurations.

[2022-05-11 12:45] #3542 closed, assigned to ShreyanshJain2674

[2022-05-11 17:34] gtfrans2re commented on #4314
Thank you so much, Sean.

[2022-05-12 18:19] #3453 closed, assigned to nobody

[2022-05-12 18:19] #3454 closed, assigned to ishant904

[2022-05-13 09:48] KolliAnitha opened #4356 "In Profile selection page, accessibility scanner shows an error for a profile status"
**Describe the bug**
In Profile selection page, accessibility scanner shows an error for a profile status

**To Reproduce**
Steps to reproduce the behavior:
1. Open Oppia
2. Have multiple profiles with last seen status
3. Enable Accessibility scanner
4. See error

**Expected behavior**
No errors must be seen in the page

Actual behabior:
 An error for text contrast is seen for Last seen recently s

[2022-05-13 12:33] saudAnwar786 commented on #4352
hey ! I can solve this issue very quickly

[2022-05-14 01:31] BenHenning commented on #4353
I suspect this has the same root cause as #4329 which means it should be fixed in tip-of-tree and in MR4. Closing this so that it can be verified (please reopen if it is still occurs in MR4).

[2022-05-14 11:20] #4182 closed, assigned to Akshatkamboj14

[2022-05-14 13:27] KolliAnitha commented on #4353
Unable to complete this question. Please find the below screenshot for the same.
![Screenshot_2022-05-14-18-55-23-79_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/168427820-214aa1c9-3ccd-46ca-ac2a-83482ff60c3b.jpg)

[2022-05-15 00:42] seanlip commented on #4341
Sorry for the late reply. I wasn't aware of this before, but it is now fixed on the server. (It seems to have been introduced during an edit to the lessons based on learner feedback, but the edit was done incorrectly.)

Thanks @KolliAnitha for finding this!

[2022-05-16 01:14] KolliAnitha commented on #4017
Verified in 0.7-alpha-6c08d882d3. Submit button is enabled after selecting a radio button.

[2022-05-16 01:20] KolliAnitha commented on #4329
Verified in 0.7-alpha-6c08d882d3. Completed the chapter by submitting the answer as 6/2

[2022-05-16 01:21] KolliAnitha commented on #4287
No whitebox is seen while navigating to previous pages in alpha build 0.7-alpha-6c08d882d3.

[2022-05-16 01:23] KolliAnitha commented on #4319
Completed chapter 4 in Addition and Subtraction topic in alpha build 0.7-alpha-6c08d882d3.

[2022-05-16 01:25] KolliAnitha commented on #4076
Verified in 0.7-alpha-6c08d882d3. No conversation message is seen on navigating back in a chapter.

[2022-05-16 01:26] KolliAnitha commented on #4040
Verified in 0.7-alpha-6c08d882d3. Admin profile and controls are accessible now.

[2022-05-16 01:32] KolliAnitha commented on #4026
Verified in 0.7-alpha-6c08d882d3. Number line is now seen with 2g data

[2022-05-16 01:42] KolliAnitha commented on #4027
Verified in 0.7-alpha-6c08d882d3. No errors are seen in the images.

[2022-05-16 01:43] KolliAnitha commented on #4197
Verified in 0.7-alpha-6c08d882d3. The bulb icon turns yellow when there is a new hint.

[2022-05-16 01:47] KolliAnitha commented on #3861
Verified in 0.7-alpha-6c08d882d3. Feedback is seen after entering a fraction in the edit box.

[2022-05-16 10:05] KolliAnitha opened #4359 "With talkback enabled, on navigating to next pages in an exploration the focus is going to Continue/submit buttons"
**Describe the bug**
With talkback enabled, on navigating to next pages in an exploration the focus is going to Continue/submit buttons

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Place Values
2. Open 'Comparing numbers'
3. Click on the Continue button
4. Go to Question page submit answer
5. In the next page check where the focus is on

**Expected behavior**
On moving to the next p

[2022-05-16 10:33] KolliAnitha opened #4360 "For talkback users it is difficult to understand if the question has a table, as it doesnt read the table content"
**Describe the bug**
For talkback users it is difficult to understand if the question has a table as it doesnt read the table content

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Place Values'
2. Click on 'Comparing Numbers'
3. Click on Continue to go to the question page
This is the table for a high score for Whac-a-mole. What number does this table represent

**Expected behavior*

[2022-05-16 11:01] KolliAnitha opened #4361 "Continue button is not aligned properly when reading text size is extra large"
**Describe the bug**
Continue button is not aligned properly when reading text size is extra large

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Navigation menu'- Select Options
2. Click on 'Reading text size'- Change to Extra Large
3. Open any exploration
4. Scroll down to click on Continue

**Expected behavior**
Continue button should be aligned properly

![Screenshot_2022-05-16-1

[2022-05-16 11:15] KolliAnitha opened #4362 "When reading text size is extra large, resume lesson page and revision tabs content is seen in normal size"
**Describe the bug**
When reading text size is extra large, resume lesson page and revision tabs content is seen in normal size

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Navigation menu'
2. Click on 'Options'- Change Reading text size to Extra large
3. Open any exploration which is in progress
4. The Resume page will be seen in normal text size

**Expected behavior**
Resume less

[2022-05-16 12:23] KolliAnitha opened #4363 "Talkback is not reading the disabled chapter names in the lessons tab"
**Describe the bug**
Talkback is not reading the disabled chapter names in the lessons tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'All Topics' - Select any topic
2. Go to Lessons tab
3. Expand to view the chapters
4. Enable talkback
5. On swiping next talkback reads only enabled chapter names

**Expected behavior**
Talkback should read the chapter name as disabled so that talk

[2022-05-16 12:55] KolliAnitha opened #4364 "Able to access the app after expiry date if app is accessed through recent apps"
**Describe the bug**
Able to access the app after expiry date if app isnt closed before changing date

**To Reproduce**
Steps to reproduce the behavior:
1. Open Oppia
2. Login as admin and open any exploration
3. Donot close the app. Go to home page
4. Open settings- Change date time to Jan 1st 2023
5. Open app from recent apps

**Expected behavior**
User should not be able to access the app after

[2022-05-17 02:17] rishidyno commented on #4352
Hey, @saudAnwar786 I have assigned this to you.

[2022-05-17 08:30] rt4914 commented on #3559
Closing this issue as over-optimisation can make code less readable here. There are currently 2 files and they are fine to keep because of strategy difference in how the layout has been created.

[2022-05-17 08:30] #3559 closed, assigned to ShivamMadlani

[2022-05-17 10:39] #3560 closed, assigned to nobody

[2022-05-17 12:13] rt4914 commented on #3541
Closing this as merging files for this layout can make the code less readable.

[2022-05-17 12:13] #3541 closed, assigned to nobody

[2022-05-17 12:21] rt4914 commented on #3473
This issue is already optimised. Further optimisation will only make the code less readable.

[2022-05-17 12:27] kemicky commented on #3591
I left it when I heard no response from you.
Nobody reached out to me or communicate to me on how to proceed.
So I left it. I did it already but when I wasn't get any form of response I
thought maybe it's not needed anymore.

On Wed, 11 May 2022, 2:25 pm Rajat Talesra, ***@***.***>
wrote:

[2022-05-17 18:43] duttabhishek0 commented on #4356
Hey, I tested it, but there was no suggestion. Any other way to reproduce the error?
Environment
Device name: Samsung A50
Android version : Android 11
App version : 0.7-alpha-d1b2827517

[2022-05-17 18:47] saudAnwar786 commented on #4352
I will resolve it by tomorrow .
Thanks for assigning the task

On Tue, 17 May, 2022, 7:47 am rishidyno, ***@***.***> wrote:

[2022-05-18 03:22] saudAnwar786 commented on #4361
@KolliAnitha  I can do this by changin text size

[2022-05-18 08:29] BenHenning commented on #4359
This isn't a new issue in MR4, and seems to be part of the broader accessibility focus/ordering problems in the exploration player. Moving it to the CLAM team for triaging.

[2022-05-18 08:31] BenHenning commented on #4360
This is a nice find. The issue is definitely how to represent complex graphic visuals with alternate text. We don't currently integrate alternate text for embedded images, but this problem may still exist even after that part is fixed if the alternate text isn't sufficiently clear.

[2022-05-18 08:34] BenHenning commented on #4361
Thanks for showing interest @saudAnwar786. I suggest addressing #4352 before tackling a second issue, though I think this is a good candidate.

Please note that this isn't quite as simple as changing text size. We want components like buttons to have consistent sizes throughout the app, so it's instead necessary to figure out how ensure the button is large enough to fit the text rather than shrink

[2022-05-18 08:34] BenHenning commented on #4362
This is a known issue, though I don't think there's anything tracking it currently. Adding to the CLAM team's board for triaging.

[2022-05-18 08:37] BenHenning commented on #4363
Nice find. This one will require some expert guidance, I think. The general recommendation is to not change the default Android/Talkback behaviors in cases when elements are disabled (to ensure consistency between screenreader & non-screenreader users), but disabled buttons and list items sometimes come up as exceptions. We'll need guidance to figure out how to best proceed.

Taking this so that I

[2022-05-18 08:38] BenHenning commented on #4364
This is an expected limitation in the current expiration mechanism. The app will eventually close and then the mechanism will kick-in. I think this edge case is fine to keep in.

[2022-05-18 08:38] #4364 closed, assigned to nobody

[2022-05-18 09:08] BenHenning commented on #4353
Looks like this is a separate problem.

After investigating, I found that the matched input is ``21*5+(3*36)/(4)*5-3*5`` even though the expected correct answer is ``21×5+3×36÷4×5-3×5``. This feels like an incorrect input since 'MatchesExactly' SHOULD be verifying the parentheses. With the fix for #4329 the app now treats ``(4)`` as just '4', but it can't trivially simplify the ``(3*36)`` group si

[2022-05-18 09:43] KolliAnitha opened #4366 "On trying to change admin password, it is asking to uninstall and reinstall the app. Even after doing it unable to change the pin"
**Describe the bug**
On trying to change admin password, it is asking to uninstall and reinstall the app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile selection page'
2. Click on 'Admin'
3. In the Enter PIN dialog box click on I forgot my pin link
4. Uninstall and Install the app
5. The PIN is not changed

**Expected behavior**
Admin should be able to change the PIN

https:/

[2022-05-18 10:02] BenHenning commented on #4366
This is a known issue that comes from two separate problems working in concert: (1) no remote profiles (which makes resetting reliably difficult), and (2) automatic app backups via the Android system making the reinstall flow not actually fix the problem.

You can work around the issue by going into app system settings and clearing data (which also forces the app to reset). This is, unfortunately,

[2022-05-19 21:26] BenHenning commented on #4251
Alpha MR4 is now live on the Play Store. See the release notes here: https://github.com/oppia/oppia-android/releases/tag/v0.7.

[2022-05-19 21:26] #4251 closed, assigned to BenHenning

[2022-05-23 09:05] KolliAnitha opened #4368 "With talkback on, unable to click on the Concept card in Revision tab"
**Describe the bug**
With talkback on, unable to click on the Concept card in Revision tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Addition and Subtraction'
2. Click on Revision tab
3. Double tap on 'Estimation'
4. With talkback on, try to click on the concept card link
5. Unable to select the concept card link

**Expected behavior**
With talkback on the user should be able to

[2022-05-23 09:28] KolliAnitha opened #4369 "With talkback on unable to change profile picture for a learner"
**Describe the bug**
With talkback on unable to change profile picture for a learner

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Oppia as a learner
2. Tap on Navigation menu
3. Click on Profile picture
4. Tap on edit icon - Choose from Gallery
5. Select a picture

Actual Result:
With talkback on unable to select a picture

https://user-images.githubusercontent.com/101634267/1697

[2022-05-23 11:05] KolliAnitha opened #4370 "In the chapter What is Addition, when talkback is turned on along with the comments a sound is heard in question page"
**Describe the bug**
In the chapter What is Addition, when talkback is turned on along with the comments a sound is heard in question page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Addition and Subtraction' - What is Addition
2. Click on Continue to go to the next pages
3. In the question page Which of the following pictures shows a total of seven people 'Choose all the possible

[2022-05-23 11:41] KolliAnitha opened #4371 "When Reading text size is extra large, Previous responses are not aligned properly in the question page"
**Describe the bug**
When Reading text size is extra large, Previous responses are not aligned properly in the question page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Options'- Select Reading text size as Extra Large
2. Open any chapter say 'Order of Operations
3. Go to Question page- Enter multiple incorrect answers
4. See the Previous Responses bar displayed

**Expected behavi

[2022-05-23 11:46] KolliAnitha opened #4372 "When Reading text size is changed from in lesson options it is not reflected immediately"
**Describe the bug**
When Reading text size is changed from in lesson options it is not reflected immediately

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Expressions and Equations- Open Evaluating Expressions
2. Click on Continue
3. Click on more options and select Reading Text size
4. Change it from medium to small
5. Navigate back to the lesson page
6. The text size is not change

[2022-05-23 12:57] KolliAnitha opened #4373 "Audio language is auto changed to English after selecting Default audio language"
**Describe the bug**
Audio language is auto changed to English after selecting Default audio language

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'What is a Ratio?' Chapter
2. Click on audio symbol- Change the language to Hindi
3. Now click on Options- Default Audio Language- Set to No Audio
4. Now open the Audio language options
5. English is selected as the Audio language instead

[2022-05-24 17:19] rt4914 commented on #4169
In this while creating PR please create screenshots for all the below mentioned cases:
1. LTR(English) Mobile Portrait
2. LTR(English) Mobile Landscape
3. LTR(English) Tablet Portrait
4. LTR(English) Tablet Landscape
5. RTL(Arabic) Mobile Portrait
6. RTL(Arabic) Mobile Landscape
7. RTL(Arabic) Tablet Portrait
8. RTL(Arabic) Tablet Landscape

https://github.com/oppia/oppia-android/wiki/RTL-Guidelin

[2022-05-24 17:21] MohitGupta121 commented on #4169
I want to work on this issue can you please assign me

[2022-05-25 04:49] #4196 closed, assigned to Akshatkamboj14

[2022-05-25 05:57] #3473 closed, assigned to rt4914

[2022-05-25 05:57] #3545 closed, assigned to rt4914

[2022-05-25 05:57] #3588 closed, assigned to rt4914

[2022-05-25 06:09] rt4914 commented on #2546
Removing it from good-first-issue because it actually requires a lot of context about the project to rename things correctly.

[2022-05-27 17:42] #4185 closed, assigned to bhaktideshmukh

[2022-05-27 17:57] rt4914 commented on #3234
Closing this as it has been solved in https://github.com/oppia/oppia-android/pull/4355

[2022-05-27 17:57] #3234 closed, assigned to nobody

[2022-05-27 18:18] rt4914 commented on #3624
Duplicate https://github.com/oppia/oppia-android/issues/3169

[2022-05-27 20:30] #4184 closed, assigned to aayushimathur6

[2022-05-28 00:32] BenHenning commented on #4368
It's my understanding that normally one would open the link context menu for this sort of thing. See the 'Testing' section at https://support.google.com/accessibility/android/answer/6378148?hl=en. Does this work as documented @KolliAnitha or is the link completely inaccessible?

[2022-05-28 00:44] BenHenning commented on #4317
Ah, thanks for following back up @KolliAnitha. Glad to see 0.7 has a fix, though it's not great that we don't know exactly why it's fixed. Either way, closing this since it isn't reproducible. Please reopen if it comes up again.

[2022-05-28 00:44] #4317 closed, assigned to KolliAnitha

[2022-05-28 00:46] BenHenning commented on #4350
@latifatakin there were 2 versions of the alpha app (confusingly) shared with Outreachy applicants. Do you know which version of the app this issue corresponds to? If it's 0.6, then it's likely fixed. If it's 0.7, this is a new issue that we should reopen and investigate.

[2022-05-28 00:54] BenHenning commented on #4344
Sorry, to double check @anandwana001, did you mean to say that no extra follow-up is needed? Otherwise, I'd expect this issue to remain open until such items are addressed. Could you please clarify?

[2022-05-28 01:00] #4346 closed, assigned to BenHenning

[2022-05-28 05:38] anandwana001 commented on #4344
I didn't saw any extra follow-up is required.

[2022-05-30 02:00] KolliAnitha commented on #4368
Yes @BenHenning. It is accessible via the link context menu. We can close the issue

[2022-05-30 02:15] KolliAnitha commented on #4356
Hi Abhishek, Create around 9 profiles and login with all the users so that we can see the last seen status for each user and then take a screenshot in the accessibility scanner.

[2022-06-01 02:06] BenHenning commented on #4368
Sounds good--thanks for confirming @KolliAnitha!

[2022-06-01 02:06] #4368 closed, assigned to KolliAnitha

[2022-06-01 02:07] BenHenning commented on #4344
Thanks for confirming @anandwana001!

[2022-06-01 03:01] KolliAnitha opened #4378 "Hindi Audio is very low in the middle of What is a Fraction chapter"
**Describe the bug**
Hindi Audio is very low in the middle of What is a Fraction chapter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic: Fractions
2. Tap on What is a Fraction
3. Navigate across pages
4. In the middle of the lesson enable audio and change to Hindi
5. Click on Continue and in the page "Yes, that's right! said Mr. Baker"
6. Listen to the audio played. The audio vo

[2022-06-01 03:51] vrajdesai78 commented on #3892
I am un-assigning it for now. In the future, if someone takes this issue, they can look at my closed PR #4201 in which I am sending focus to the toolbar instead of the first chapter story using sendAccessibilityEvent

[2022-06-01 03:56] vrajdesai78 commented on #3906
I am un-assigning this issue for now as it is blocked on #3852. Will continue work on this once #3852 will merge

[2022-06-01 23:26] #4191 closed, assigned to Akshatkamboj14

[2022-06-02 01:35] BenHenning commented on #4378
This sounds like a content issue wherein audio levels aren't being normalized across the platform (and for this particular audio clip).

@seanlip are you aware of this issue?

[2022-06-04 04:52] bhaktideshmukh opened #4381 "Different shades of fillColor used in portrait and landscape of ic_onboarding_2.xml"
**Describe the bug**
In Onboarding Screens the color codes / slide images are not consistent. The images use different color codes for different screen/mode/orientation. This is not just limited to one single slide but infact extends to all slides. Check slide-3 for reference:

### Example: Download icon color
[Mobile Portrait](https://xd.adobe.com/view/3dca36c2-5115-419c-b25e-0f10526b077c-6899/sc

[2022-06-07 00:03] #3242 closed, assigned to yash10019coder

[2022-06-07 00:03] #4007 closed, assigned to yash10019coder

[2022-06-07 00:03] #4028 closed, assigned to yash10019coder

[2022-06-08 21:44] BenHenning opened #4387 "Rename & restructure event analytics and event names for the long-term"

[2022-06-09 02:48] #4326 closed, assigned to Sarthak2601

[2022-06-09 03:35] BenHenning opened #4389 "Future-proof metrics infrastructure"
After a discussion with Sean today, it became clear that a number of changes would really help future-proof the maintainability of metrics logged in the app. Specifically:
- We should introduce a new proto enum to define all possible event IDs.
- We should introduce a property for all events that provides an integer-based ordinal of the event's proto enum property. This will act as a long-term, im

[2022-06-09 03:35] BenHenning commented on #4389
Note that it's probably important to get this in for beta MR1 so that the first time we start receiving production metrics will be in a way suitable for long-term querying and aggregation (i.e. using the new, forward-compatible ordinal).

[2022-06-09 03:41] BenHenning opened #4390 "Introduce developer-only UI for data collection acknowledgement"
Currently, data collection is off by default on the local develop branch. However, developers are welcome to turn on data collection, and metrics will be uploaded to the Oppia Android developer Firebase project.

In order to ensure developers are aware of this, we should introduce a new UI that confirms with the developer that they're okay with metrics being collected. However, this dialog only ne

[2022-06-09 10:45] Sarthak2601 commented on #4390
@BenHenning can't we introduce this as a check instead of just acknowledgement -- The user can choose if they want to have analytics (and crashlytics) turned off/on at the start and then we can alter the settings accordingly.

More context -- currently we control the flags via the manifest file but we can also control the values via firebase APIs.

[2022-06-09 22:31] BenHenning commented on #4390
@Sarthak2601 is it possible to have analytics off by default in the manifest and enable it programmatically on startup? That might be an interesting way to go. Normally, I'd be concerned about us limiting our ability to log early app events, but since we abstracted Firebase we can still do that as all we'd be delaying is the actual upload, not the creation of the events.

If we can programmaticall

[2022-06-10 01:26] BenHenning commented on #3596
For searching context, this issue was found in 0.5-alpha (MR2).

[2022-06-10 01:26] BenHenning commented on #3346
For searching context, this issue was found in 0.5-alpha (MR2).

[2022-06-10 01:26] BenHenning commented on #3345
For searching context, this issue was found in 0.5-alpha (MR2).

[2022-06-10 01:26] BenHenning commented on #3088
For searching context, this issue was found in 0.5-alpha (MR2).

[2022-06-10 01:28] BenHenning commented on #4337
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4086
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4085
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4076
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4075
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4040
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4027
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #4026
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3961
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3956
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3946
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3939
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3938
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3937
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3887
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3861
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3833
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:29] BenHenning commented on #3832
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3828
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3827
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3826
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3825
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3824
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3823
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3822
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3820
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3812
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3810
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3804
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3803
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3800
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3781
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3780
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3778
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3777
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 01:30] BenHenning commented on #3765
For searching context, this issue was found in 0.6-alpha (MR3).

[2022-06-10 07:11] rt4914 commented on #4318
For me it is working very differently. This is how I used the magnification:

1. Turn on the magnification
2. Tap on the screen (This is needed to make sure that we are using permanent mode, if we do not tap and directly start using then magnification is in temporary mode in which case as soon as we lift of the finger the magnification turns off.)

_(At this point the magnification tool will just

[2022-06-10 08:27] KevinGitonga opened #4391 "Bazel 4.0 not building project correctly on macOs Monterrey version 12.4"
**Describe the bug**
Building project with bazel using macOs Monterrey version 12.4 on terminal fails see logs below for context

` Generating JavaLite proto_library //model/src/main/proto:event_logger_proto failed: (Segmentation fault): protoc failed: error executing command bazel-out/darwin-opt-exec-2B5CBBC6/bin/external/com_google_protobuf/protoc '--proto_path=bazel-out/android-armeabi-v7a-fast

[2022-06-10 11:14] Sarthak2601 commented on #4390
@BenHenning to do this we'd have to change the existing flag that's present in the manifest. Current flag permanently turns off analytics collection but we can switch it with the temporary flag that disables collection until re-enabled programmatically. We can even turn analytics on/off again and again as per user's preference -- so maybe we can also look into providing an option to the user to tu

[2022-06-10 14:08] vrajdesai78 commented on #4318
I would agree with @rt4914. I have checked on my device and it works the same for me if I have to scroll within magnified content then I can use two fingers and if I want to scroll outside that I can use a single finger. This works the same for other applications also like google news.

https://user-images.githubusercontent.com/43074241/173082896-41cc0b96-f491-4f12-a5d1-c68516095970.mp4

[2022-06-10 17:17] BenHenning commented on #4378
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:17] BenHenning commented on #4364
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:17] BenHenning commented on #4363
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4362
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4361
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4360
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4359
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4356
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4353
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4352
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4351
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4343
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4341
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4333
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4332
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4331
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4330
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:18] BenHenning commented on #4329
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:21] BenHenning commented on #4324
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:21] BenHenning commented on #4322
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:21] BenHenning commented on #4319
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:21] BenHenning commented on #4318
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:21] BenHenning commented on #4317
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:21] BenHenning commented on #4316
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4315
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4312
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4311
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4294
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4293
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4291
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4290
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4287
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4286
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4285
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4281
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4278
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:24] BenHenning commented on #4277
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:25] BenHenning commented on #4276
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-10 17:25] BenHenning commented on #4246
For searching context, this issue was found in 0.7-alpha (MR4).

[2022-06-11 01:57] BenHenning commented on #4391
Thanks for filing this @KevinGitonga.

This issue will be blocked on us being able to upgrade to Bazel 5.0 (which is the recommendation in the reference Bazel bug above). We can't do that until Bazel is moved over to using the new D8 tool (since it forces using build tools 31+ which removes the desugar compatibility tool that Bazel expects--see https://github.com/bazelbuild/bazel/issues/13989). I'

[2022-06-11 02:15] BenHenning commented on #4318
Thanks @rt4914 and @vrajdesai78 for the context.

@KolliAnitha does two-finger scrolling work in your original repro conditions?

[2022-06-11 02:18] BenHenning commented on #4390
Perfect--thanks @Sarthak2601. Is there also a similar property for Crashlytics?

[2022-06-11 02:27] BenHenning commented on #4387
This has been replaced by #4389.

[2022-06-11 02:27] #4387 closed, assigned to BenHenning

[2022-06-11 03:18] BenHenning commented on #352
Shouldn't this be corresponding to revision cards?

[2022-06-11 03:25] BenHenning commented on #1725
This was fixed in #3292.

[2022-06-11 03:25] #1725 closed, assigned to nobody

[2022-06-11 03:31] BenHenning commented on #1834
For an update: we now build the app automatically (#1688), but haven't yet updated the wiki.

[2022-06-11 03:34] BenHenning commented on #2437
This has been completed since this version of the app has been shipped.

[2022-06-11 03:34] #2437 closed, assigned to BenHenning

[2022-06-11 03:46] BenHenning commented on #3201
This was resolved in #4068.

[2022-06-11 03:46] #3201 closed, assigned to nobody

[2022-06-11 03:53] BenHenning commented on #3599
GitHub solved this. :)

https://docs.github.com/en/actions/managing-workflow-runs/re-running-workflows-and-jobs#re-running-a-specific-job-in-a-workflow

[2022-06-11 03:53] #3599 closed, assigned to nobody

[2022-06-13 10:38] vrajdesai78 commented on #3897
I think this issue is now solved in the latest update.

https://user-images.githubusercontent.com/43074241/173336068-52fac59a-2a78-40a9-9a84-c1aedc7a8ad2.mp4

[2022-06-13 15:34] KolliAnitha commented on #4318
Hi @BenHenning, With two-finger scrolling i am unable to scroll down the page completely. Please refer to the below attachment.
https://user-images.githubusercontent.com/101634267/173391310-1cf7257b-8511-4123-9d51-e815c62dd5ec.mp4

[2022-06-13 15:37] vrajdesai78 commented on #4318
@KolliAnitha according to my observation with two fingers you can just scroll to the current magnified area and to scroll outside it you have to scroll using one finger.

[2022-06-13 19:16] #4169 closed, assigned to MohitGupta121

[2022-06-13 23:00] Sarthak2601 commented on #4390
Yes -- [Enable opt-in reporting](https://firebase.google.com/docs/crashlytics/customize-crash-reports?platform=android#enable-reporting).

[2022-06-13 23:04] BenHenning commented on #4390
Thanks @Sarthak2601.

In that case, I agree that this issue should instead track introducing an opt-in analytics flow for developers and introducing an acknowledgement flow for turning on analytics. This should be set up such that a tag can permanently enabled analytics, as well.

[2022-06-13 23:22] BenHenning commented on #4318
@KolliAnitha I think your video is showing the same behavior as @rt4914 described in his comment above, or am I missing an important part of the video? Specifically, that 2 fingers can be used to move within the zoomed region, and one finger can be used to move the region itself (thereby allowing scrolling).

[2022-06-13 23:25] BenHenning commented on #3897
It's possible this was fixed with the math expressions project since a few issues with the answer handling were addressed. @rt4914 does it look correct now to you per @vrajdesai78's video?

[2022-06-14 16:50] MohitGupta121 commented on #4200
I want to work on this issue can you please assign me

[2022-06-14 17:04] yash10019coder commented on #3241
1. Created and implemented ProfileRenameFragment for opening in its nested activities in mobile [PR](https://github.com/oppia/oppia-android/pull/3947) [Issue](https://github.com/oppia/oppia-android/issues/3968)
2. Created and implemented ProfileResetPinFragment for opening in its nested activities in mobile [PR](https://github.com/oppia/oppia-android/pull/4011) [Issue](https://github.com/oppia/opp

[2022-06-14 19:10] rt4914 commented on #3897
@BenHenning @vrajdesai78 I have checked it on my device too with latest develop and it has been solved. Also the "Please Continue" related accessibility issue has also been solved.

Closing this issue now.

[2022-06-14 19:10] #3897 closed, assigned to nobody

[2022-06-14 23:43] BenHenning commented on #2571
Another idea that maybe ties a bit better to UI components (and needs some thinking in how it interoperates with systems like Jetpack Compose and databinding): if we have assurances that all mutable data only exists in view models (though some thinking needs to be done for temporary references to activities, fragments, views, etc. since these can't go in view models) with proper view models implem

[2022-06-15 13:07] MohitGupta121 commented on #4200
I unable to navigate to App Language Activity.
As I not find it on options menu, where is that activity?

[2022-06-15 23:40] BenHenning commented on #4200
@MohitGupta121 the app language feature is currently disabled, but you can enable it in a local build by setting [this parameter](https://github.com/oppia/oppia-android/blob/develop/utility/src/main/java/org/oppia/android/util/platformparameter/PlatformParameterConstants.kt#L63) to true.

[2022-06-16 01:48] MohitGupta121 commented on #4200
Okay thanks you

[2022-06-16 15:15] BenHenning commented on #4002
From feedback on the current Kenya research project, fixing this issue could help a lot with students being able to uniquely identify their profiles while using the app.

Bumping this to an earlier release milestone since it can have a nice positive impact with the app.

[2022-06-16 17:35] MohitGupta121 commented on #4200
How I'll find my dark mode mocks as in Abode xd there are 500+ mocks.
Is there any searching in that?

[2022-06-16 20:22] BenHenning commented on #4285
This is causing issues with the Kenya research project, so bumping it up to investigate.

[2022-06-16 20:23] BenHenning commented on #4285
(Note that I'm distinguishing this from #4372 where sometimes the text doesn't change at all which is what this issue is tracking).

[2022-06-16 20:23] BenHenning commented on #4285
Actually, I misread the original description. This actually is the same as #4372. I'm going to investigate trying to fix the problem fully, anyway.

[2022-06-16 20:24] BenHenning commented on #4372
Duplicate of #4285.

[2022-06-16 20:24] #4372 closed, assigned to nobody

[2022-06-16 20:59] BenHenning opened #4394 "Text doesn't change when using non-English languages"
**Describe the bug**
In-lesson reading text size doesn't change when selecting different sizes when using a language other than English.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a non-English language at the system level (e.g. Swahili)
2. Open a lesson and navigate to a chapter
3. Open the options overflow and navigate to reading text size
4. Select a text size & navigate back

[2022-06-16 20:59] BenHenning commented on #4285
So it turns out that this feature does fully break sometimes, but it's tied to internationalization. I filed #4394 to track.

[2022-06-16 21:00] BenHenning commented on #4394
(Adding this to the Alpha MR5 milestone since this is actually a bit important to try and fix, especially since it's hopefully relatively straightforward).

[2022-06-16 21:01] BenHenning commented on #4394
@KolliAnitha this might indicate that we aren't testing internationalization cases in our test matrix. Are we ensuring that different features are tested (at least occasionally) with non-English?

/cc @seanlip as FYI

[2022-06-16 21:04] BenHenning commented on #4394
/cc @isalooo and @dika1osune as FYI.

[2022-06-16 22:08] BenHenning commented on #4200
@MohitGupta121 I think there's a magnifying glass on the upper right of the Adobe XD view (at least on a laptop) that provides access to a search bar.

[2022-06-17 01:30] MohitGupta121 commented on #4200
Okay thanks you

[2022-06-17 10:19] KolliAnitha commented on #4394
Hi Ben, I will add localization cases in the test matrix and ensure to cover them going forward.

[2022-06-17 18:57] BenHenning commented on #3893
FYI that this is blocked on #171.

[2022-06-19 22:02] ayush0402 opened #4396 "Add CI checks to ensure layout xml files are only referencing colors from component_colors.xml"
According to newer color conventions, all layout files should only access colors from `component_colors.xml`.
Add a CI check ensuring the same.

Reference: #4203, #4205

[2022-06-20 20:12] rt4914 opened #4397 "[A11Y] Content description for close icon is not consistent."
While checking this PR https://github.com/oppia/oppia-android/pull/4274/files I noticed two things:

1. When we enable screen-reader for `Concept Card` the output for close-icon is `Clicking on this will close the concept card, Button`
2. When we enable screen-reader for `Hints & Solution` the output for close-icon is `Navigate Up, Button`

This needs to be consistent across both screens.
https://

[2022-06-21 17:36] Chandra-Sekhar-Bala commented on #4361
Hey @BenHenning  can I work on this?

[2022-06-22 02:22] BenHenning opened #4400 "Enforce style ordering via static analysis check for Kotlin files"
One of the often debated topics when writing Java & Kotlin files is how to order members. While this team hasn't historically had strong opinions on this, we try to enforce some general semblance of consistency. However, it's not always obvious how to do this. For example, there are two main methods for organizing helper methods:
- "Appendix" (i.e. helpers appear at the end)
- "Footnote" (i.e. hel

[2022-06-22 02:32] BenHenning commented on #4361
Hi @Chandra-Sekhar-Bala! Thanks for showing interest in Oppia!

I see that you're a first-time contributor. I suggest heading over to our [onboarding wiki page](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android#onboarding-instructions) for instructions on how to get started with contributing on Oppia. Once done, this issue is definitely available to be worked on.

[2022-06-22 02:34] BenHenning commented on #4266
Findings (so far that I've noticed): https://github.com/oppia/oppia-android/pull/4274#pullrequestreview-1012710889

[2022-06-22 03:21] saudAnwar786 commented on #3558
hello @rishidyno assign this to me

[2022-06-22 11:39] Chandra-Sekhar-Bala commented on #4361
Thanks for the reference @BenHenning. Successfully submitted CLA from and Oppia contributor survey form and read all docs.
Think I'm ready to get started with this issue. I'll be needing more help in future steps, as I am just a beginner at open source.

[2022-06-22 13:07] oyeraghib commented on #4351
Hey can I work on this issue ?

[2022-06-22 20:42] BenHenning commented on #4351
Hi @oyeraghib. This issue might be a bit harder than other starter issues. You're welcome to work on it if you're interested, but I suggest looking for other issues marked as good starter issues as they may be a simpler introduction to the codebase.

[2022-06-22 20:43] BenHenning commented on #4361
Sounds good @Chandra-Sekhar-Bala. In that case, I suggest mentioning that you'd like to work on this issue to your onboarding mentor once they reach out to you. Welcome to Oppia. :)

[2022-06-22 20:48] Chandra-Sekhar-Bala commented on #4361
@BenHenning , Okay will do that and also thanks for that welcome too ☺️

[2022-06-22 20:49] Chandra-Sekhar-Bala commented on #4361
Hey @yash10019coder , I'd like to start with this one  🦾

[2022-06-23 03:41] yash10019coder commented on #4361
Assigned @Chandra-Sekhar-Bala thanks

[2022-06-23 17:01] #4203 closed, assigned to ayush0402

[2022-06-23 18:39] Chandra-Sekhar-Bala commented on #4361
I think the issue is solved, what should I do now ?

[2022-06-23 18:42] yash10019coder commented on #4361
@Chandra-Sekhar-Bala you can now make a pull request by following this [guide](https://github.com/oppia/oppia-android/wiki/Guidance-on-submitting-a-PR).

[2022-06-24 07:41] oyeraghib commented on #4351
Okay, thanks I will look into the good first issues first.

[2022-06-27 05:11] KolliAnitha opened #4403 "[Localization]: After changing the system language to Portugese, content in Revision and concept cards are seen in English"
**Describe the bug**
After changing the system language to Portugese, content in Revision and concept cards are seen in English

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings- Additional Settings- Language & Region- Add Brazil Portugese as system language
2. Restart the device
3. Login to Oppia
4. Open any topic- Addition and Subtraction
5. Select What is subtraction- Click o

[2022-06-27 17:28] Sarthak2601 opened #4405 "Renaming EventLogger to AnalyticsEventLogger"
Since we're moving towards more specific event loggers like the PerformanceMetricsEventLogger, the existing EventLogger has become too generic and hence, it must be refactored.

Potential checklist:
- [ ] changes in all the production files where eventLogger is used,
- [ ] changes in test files.
- [ ] changes in dagger modules.
- [ ] refactoring of fakeEventlogger to fakeAnalyticsEventLogger

[2022-06-28 18:52] BenHenning opened #4406 "Prototype TTS engine for audio voiceover failover"

[2022-06-28 18:52] BenHenning commented on #4406
Technical reference: https://developer.android.com/reference/android/speech/tts/TextToSpeech.

[2022-06-28 20:56] BenHenning opened #4407 "Make sure analytics include Android version"

[2022-06-30 14:41] rt4914 opened #4409 "Dark Mode support for Confetti"
As per [this](https://github.com/oppia/oppia-android/pull/4404#issuecomment-1168046385) comment we should see if confetti requires dark-mode support or not.

This issue still need discussion to finalise the decision.

**Where is this confetti shown?**
Whenever user answers correctly in Question/Exploration player the confetti is show as below images.
And whenever the exploration / question player

[2022-06-30 18:59] BenHenning commented on #4361
Sorry, this is actually being worked on by @Ryggs. I forgot to assign it before.

[2022-07-01 04:05] BenHenning opened #4410 "Create Kenya study-specific build flavor & version codes"
This is needed for two reasons:
1. We need to release another version of alpha for the Kenya study (which means again dealing with the version code confusion since that build had a never-in-GitHub-tracked version code)
2. Flavors change the version name (which helps avoid the Kenya & standard alpha versions having conflated version names which led to some confusion when investigating whether the c

[2022-07-01 06:23] BenHenning commented on #4323
@KolliAnitha can you try this on a device other than the Nord2? I'm not able to repro on my Pixel 4 or Nexus 5X (a fast and slow device, respectively), though I did see this in a video from one of our user study coordinators. It'd be nice to try and figure out the subset of affected devices so that I can successfully repro it.

Also, if you can after reproing the issue create a bug report & send i

[2022-07-01 14:13] Ryggs commented on #3537
Hello, id like to work on this issue

[2022-07-01 14:17] ma-za-kpe commented on #3537
Hello, id like to work on this

[2022-07-01 23:49] BenHenning opened #4413 "Update Oppia logo (app icon) for beta"
The current logo is a placeholder and should be updated for beta.

[2022-07-02 01:15] BenHenning commented on #4323
I haven't yet received system logs to analyze, but in developing a separate issue I encountered this issue when I intentionally kept the splash open:

[code]

This is a known crash from when localization was introduced. I wonder if the situation here is that the splash screen is taking a bit to advance so tapping a second time is triggering the above crash. I'll need to see system logs to confirm,

[2022-07-02 18:31] pratyaksh1610 commented on #4361
I would like to work on this issue. @BenHenning

[2022-07-03 03:26] BenHenning commented on #4323
I noticed the crash in my previous comment can also reproed by using the system back button from the profile screen & reopening the app. Still not clear if this is the same issue observed in the opening comment.

[2022-07-03 23:31] BenHenning opened #4419 "Remove Kenya user study specific constructs once study is over"
See TODO locations in code for this issue for places that need cleanup.

[2022-07-04 03:21] BenHenning commented on #4389
Note a couple of things:
1. The Kenya study-specific flavor is being introduced as part of #4410
2. I decided to go with a code approach to this to both simplify things (can use the existing oneof typecase enum rather than creating a new enum altogether) and so that Kotlin can enforce comprehension on the enum constants in case a new one is added

[2022-07-04 04:05] BenHenning commented on #4224
Per a discussion with @isalooo for the beta release, this will include restricting the app to only lessons with 100% pt-BR written translations.

[2022-07-06 05:37] pratyaksh1610 commented on #4361
I am unable to find good first issue that i can resolve. Can u help me out @BenHenning

[2022-07-06 10:34] Ryggs commented on #4361
This issue is being worked on @pratyaksh1610

[2022-07-06 11:53] rt4914 commented on #4266
@BenHenning I have reviewed all PRs. Thanks.

[2022-07-07 04:27] BenHenning commented on #4266
Thanks much @rt4914! I really appreciate it.

It looks like there's just one comment to address. I'll follow up with addressing that comment to finish up this issue.

[2022-07-07 04:31] BenHenning commented on #4361
Hi @pratyaksh1610. You can find available starter issues [here](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+no%3Aassignee). That being said, it looks like this is your first time contributing to the codebase, You should head over to the [onboarding instructions on the wiki](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-and

[2022-07-07 06:21] pratyaksh1610 commented on #4361
Thanks for the reference @BenHenning. Successfully submitted CLA from and Oppia contributor survey form and read all docs.
Think I'm ready to get started with open source.

[2022-07-07 06:24] pratyaksh1610 commented on #4352
@BenHenning Pls assign this issue to me , if it is not assigned yet, I would love to contribute.

[2022-07-07 10:00] pratyaksh1610 commented on #4352
@rishidyno I have resolved this issue. Pls assign this issue to me.

[2022-07-08 08:26] vrajdesai78 commented on #4352
@saudAnwar786 unassiging you from this issue due to inactivity from last 2 months.

[2022-07-08 09:15] pratyaksh1610 commented on #4352
@vrajdesai78 I have made a PR.

[2022-07-09 04:48] ritece commented on #4192
is this issue available? I'd like to start working on this.

[2022-07-09 05:49] UvrajSB commented on #4192
Yeah you can go ahead

[2022-07-09 12:22] ritece commented on #3557
I'm working on this! Please assign.

[2022-07-12 02:22] BenHenning opened #4427 "Fix build on tip-of-tree"
It seems #4395 broke the develop branch due to an out-of-sync merge. Unfortunately, this is something that #3926 would help prevent, but I don't think we can integrate with those yet.

I'll be sending a revert PR shortly.

[2022-07-12 10:20] bhaktideshmukh commented on #4192
Are you still working on it?

[2022-07-12 14:06] addy-zero commented on #3384
Hi, I'm unassigning myself from this issue for now, so anyone else interested can pick it up.

[2022-07-12 16:06] #4427 closed, assigned to nobody

[2022-07-13 13:29] MihirShirgaonkar commented on #4381
hello @bhaktideshmukh
I'm intrested to contribute in this project and also im beginner to open source
can u please help me to start with?

[2022-07-13 16:18] bhaktideshmukh commented on #4381
Welcome to Oppia @MihirShirgaonkar, you firstly need to sign the CLA to proceed with the contributions.
You can follow the instructions mentioned [here](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android#onboarding-instructions) to sign the CLA and fill out the contributor survey.

[2022-07-13 21:00] JishnuGoyal opened #4431 "Refactor LearnerStudyAnalytics to EnableLearnerStudyAnalytics"
For consistency, refactor the name of the platform parameter LearnerStudyAnalytics to EnableLearnerStudyAnalytics.
This will make it similar in nomenclature to platform parameters that are enabling a specific functionality (whose value may also be affected from inside tests such as EnableEditAccountsOptionsUi and EnableLanguageSelectionUi).

The file to be changed is PlatformParameterConstants.kt

[2022-07-15 14:57] isalooo commented on #4413
I updated the app icon already. Do we have a separate issue for the adaptive icon or should that be tracked here as well?

[2022-07-15 15:05] isalooo opened #4435 "Update topics for beta"
Topics for beta include:

1. Places Values
2. Addition and Subtraction
3. Multiplication
4. Division
5. Fractions
6. Ratios

***Not included***

1. Expressions and Equations
2. Percentages

[2022-07-16 00:39] BenHenning commented on #4413
Ah, I forgot I filed this issue. Let's track the adaptive icon here, too @isalooo.

Please upload resources here once they're ready.

[2022-07-18 00:36] BenHenning commented on #4085
This will be completed as part of @JishnuGoyal's onboarding fixes project.

[2022-07-18 05:10] BenHenning opened #4437 "[Cleanup] Migrate all fragment arguments & activity parameters to proto values"

[2022-07-20 16:21] JishnuGoyal opened #4438 "Add profile login counter"
**Is your feature request related to a problem? Please describe.**
This issue is a part of the GSoC project: Interactive Onboarding Flow.
We are planning to introduce certain onboarding flows in order to make the experience of a new user effortless in terms of having to decide which button to click next; and to make sure they are able to start learning quickly and take advantage of all the feature

[2022-07-20 16:41] JishnuGoyal commented on #4438
@BenHenning could you please assign this to me?

[2022-07-20 18:06] JishnuGoyal opened #4439 "Change speaker icon to headphones icon"
**Is your feature request related to a problem? Please describe.**

According to the user reports, some users do not understand what the speaker button on the exploration screen does. Change it to a headphones button instead. Make sure that the button has both on and off states displayed correctly. This issue is a part of the GSoC Interactive Onboarding Flow project.

[2022-07-20 18:06] JishnuGoyal commented on #4439
Please assign this to me @BenHenning

[2022-07-20 21:21] BenHenning commented on #4439
Done @JishnuGoyal. FYI that you'll be able to self-assign once your onboarding is complete.

[2022-07-21 17:18] BenHenning commented on #4174
Next steps: we need to dig into this with a specific nested recycler view example to get a sense of:
- Will this introduce any performance benefits? If so, what are these benefits (in quantified metrics)?
- How complex is integrating view pool with our existing bindable adapter pattern?

[2022-07-22 07:05] vrajdesai78 opened #4443 "Talkback reader reads blank on empty resume lesson summary"
**Describe the bug**
When we open the Ratios and Proportional reasoning story, the resume lesson summary is empty. So for such situation talkback reader is reading it blank instead of ignoring it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ratios and Proportional Reasoning'
2. Click on any lesson
3. Turn on the screen reader
4. Navigate to all components on the screen using a scr

[2022-07-22 19:20] JishnuGoyal opened #4445 "Add scaling animation for Continue button"
**Is your feature request related to a problem? Please describe.**
Some users do not understand what to do when they first start a chapter. There isn't a clear CTA and some users do not understand that they have to click the 'Continue' button.

**Describe the solution you'd like**
Add an animation to the button to get the user's attention. This animation should be a scaling animation where the but

[2022-07-22 19:26] JishnuGoyal opened #4446 "Add placeholders for text based interactions"
**Is your feature request related to a problem? Please describe.**
In the app interactions where the user is expected to type an input as an answer, some users do not understand that they are supposed to type inside the white text box.

**Describe the solution you'd like**
Add appropriate placeholder text or hints. These placeholders should be similar to the ones shown on the oppia website.

[2022-07-22 19:29] JishnuGoyal opened #4447 "Hide Info tab"
**Is your feature request related to a problem? Please describe.**
According to the recent user studies, the info tab does not provide much information to the user. Some users do not understand what to do on this screen and keep on clicking on the 'topic downloaded' button hoping to start a lesson.

**Describe the solution you'd like**
Remove the info tab and make the lessons tab as the default la

[2022-07-22 19:34] JishnuGoyal opened #4448 "Hide promoted story section for the first time user"
**Is your feature request related to a problem? Please describe.**
The recent user reports suggest that there isn't a clear CTA on the home screen. The users cannot decide what to do next.

**Describe the solution you'd like**
We need to minimize the amount of information presented to a user at a particular time. This can be achieved by hiding the promoted story section when the user logs in for t

[2022-07-22 19:39] JishnuGoyal opened #4449 "Modify the design of the chapter list in lessons tab"
**Is your feature request related to a problem? Please describe.**
The chapters (recycler items) on the lessons tab do not look clickable. Users do not get an idea of how to start a chapter from that screen.

**Describe the solution you'd like**
Modify the design of the chapter list so that it clearly shows chapters that are completed, ready to start and locked. Also, make sure that the chapter li