[2022-07-22 19:43] JishnuGoyal opened #4450 "Add next and previous card options on revision screen"
**Is your feature request related to a problem? Please describe.**
On the revision screen, the users need to exit to the topic page and re-select the next revision card.

**Describe the solution you'd like**
Add option to navigate to the next and previous cards from within the revision screen. In order for the users to better understand  the usage of the revision and lesson screen (and to differen

[2022-07-22 19:48] JishnuGoyal opened #4451 "Add domain level functionality for spotlights"
**Is your feature request related to a problem? Please describe.**
As a part of the GSoC project: Interactive Onboarding Flow which focusses on making the initial user experience more engaging and smooth, the plan is to introduce spotlights into the app.

**Describe the solution you'd like**
As an initial part of this plan, implement the domain level functionality for spotlights. This should cover

[2022-07-23 06:03] MihirShirgaonkar commented on #4447
@JishnuGoyal  can u assign me this task? i have solution for this task.

[2022-07-23 15:00] MihirShirgaonkar commented on #4448
I have a doubts.
does promoted story mean recommended story provision and i have to hide it and show only All Topics provision at 1st launch?

[2022-07-23 15:47] JishnuGoyal opened #4452 "Add spotlight functionality"
**Is your feature request related to a problem? Please describe.**
In order to highlight certain UI elements on the screen to get user focus in the initial onboarding stage for new users, we need to implement [this](https://github.com/TakuSemba/Spotlight)  library in order to 'spotlight' the UI.

**Describe the solution you'd like**
Find a way to make this library automatically display spotlight o

[2022-07-23 15:49] JishnuGoyal opened #4453 "Add RTL capabilities to the spotlight screens"
**Is your feature request related to a problem? Please describe.**
The spotlight screens do not properly handle RTL correctly. The arrow placement is not correct and the spotlight overlay hint overflows out of the screen.

[2022-07-23 15:52] JishnuGoyal opened #4454 "Add spotlights on Lesson Screen"
Use the spotlight API to spotlight the 'headphones' and 'back' (X) button.

[2022-07-23 15:55] JishnuGoyal opened #4455 "Add spotlight to first chapter on lessons tab"
In order to augment the initial user experience, add a spotlight to the first chapter under lessons tab, hinting the user to tap there to start their first lesson.

[2022-07-23 15:56] JishnuGoyal opened #4456 "Add spotlight to home screen"
Spotlight the promoted stories when they are first shown to the user. Add a suitable hint to describe its usage to the user.

[2022-07-23 16:00] JishnuGoyal opened #4457 "Add spotlight to the topic screen"
Add spotlight experience to the lessons and revision tab by highlighting them, and describing their usage to the user. When the user first enters the topic screen, show a spotlight on the lessons tab. When the user makes some progress in their lesson, i.e., after they complete at least three cards, show a spotlight on the revision screen when they re-enter the topic screen.

[2022-07-23 16:01] JishnuGoyal opened #4458 "Add spotlight to audio fragment"
Add a spotlight to the voiceover language button describing its usage to the user.

[2022-07-23 16:06] JishnuGoyal opened #4459 "Add A11y improvements for spotlight experience"
**Is your feature request related to a problem? Please describe.**
Spotlight is completely a visual tool that tells the user “where on the screen a particular element is that should be used now”. And for people using talkback, who can’t see what a spotlight is, are only annoyed/slowed by the spotlight flow, which is totally opposite to what the goal is.

**Describe the solution you'd like**
Instea

[2022-07-23 16:07] JishnuGoyal opened #4460 "Add Wiki documentation for adding the spotlight experience to any element"

[2022-07-23 17:20] MihirShirgaonkar opened #4461 "TextView & Toolbar color changes in Topic screen"
****TextView & Toolbar color changes in Topic screen in Info , Lesson and Practice fragments when switched from light mode to dark mode****

To Reproduce
Steps to reproduce the behavior:

Open the app
Click on any lesson
Keep dark mode on

![3](https://user-images.githubusercontent.com/62711294/180615018-9cfb2396-4dea-411f-80e4-873392dc4ca9.jpeg)     ![4](https://user-images.githubusercontent.com/

[2022-07-24 01:59] BenHenning commented on #1274
This is being expanded to include the new executors being introduced as part of fixing #3715.

[2022-07-24 05:02] BenHenning opened #4463 "Determine proper timeout value for background workers"
Background workers like LogUploadWorker use a SettableFuture to pass an execution result back to WorkManager, but SettableFutures can cause permanent hanging on threads blocking on them if they are never completed. To mitigate this, we ought to have a reasonable timeout for such futures. It's not obvious at first glance what this should be. This issue includes:
- Finding a reasonable timeout for b

[2022-07-25 14:44] vrajdesai78 commented on #3892
I have tried various combinations of stories to check what is the exact problem. While debugging I have found that this issue is happening due to rendering content on screen. If I increase the size of fonts then the talkback reader is working completely fine as shown below.

https://user-images.githubusercontent.com/43074241/180804703-84a6c115-4360-469a-a840-4d5075a8a495.mp4

[2022-07-25 20:29] Sarthak2601 opened #4466 "Introduce CPU Usage performance metrics logging"
This issue tracks the implementation and logging of CPU Usage performance metrics.
Things to do for marking this issue as complete:

- [x] Correct proto definitions + comments.
- [x] Correct log creation support.
- [x] Correct logging flow.
- [x] Appropriate tests for cpu usage logging.

[2022-07-26 01:54] seanlip opened #4467 "Add analytics for answers"
Per discussion with @BenHenning, the aim of this feature request is to log incorrect answers so that weak points in the lessons can be identified and fixes made for them.

**Describe the solution you'd like**

Exploration ID and state name should be collected, but no user-identifying information.

Proposed (temporary) format:
- Multiple choice: the index or content ID
- Numeric: the text represent

[2022-07-26 07:10] #4328 closed, assigned to Sarthak2601

[2022-07-27 01:27] BenHenning commented on #4461
Thanks @MihirShirgaonkar.

I'm assuming that this is because the topic activity hasn't yet been migrated to support dark mode, but the toolbar and some headings have. Can you confirm @ayush0402 @rt4914?

[2022-07-27 01:28] BenHenning commented on #4448
Yep @MihirShirgaonkar that is the intention for this task. This is meant to address a point of user onboarding confusion that we observed in past user studies.

[2022-07-27 01:29] BenHenning commented on #4447
@MihirShirgaonkar sorry this is actually being worked on by @JishnuGoyal as part of a broader project (he just wasn't able to self-assign before).

[2022-07-27 01:59] #4438 closed, assigned to JishnuGoyal

[2022-07-27 02:13] BenHenning commented on #4467
Thanks for filing this @seanlip!

[2022-07-27 05:48] vrajdesai78 opened #4469 "Create a gating parameter for configuration change"
Need to create a platform parameter to enable and disable configuration change for all InputInteractions. This is required to implement because to make configuration change fully working for all interactions it required 4-5 PRs. So, while doing this we need to put our changes behind the feature flag such that if that feature flag is enabled then only our changes will be reflected using a platform

[2022-07-27 05:57] vrajdesai78 opened #4470 "Handle configuration change using onSavedInstance"
**Problem**
For all interactions in exploration player and question player when we rotate our device, selected or entered answer doesn't persist.

**Solution**
To solve this problem of configuration change we use onSavedInstance method to store the last entered user answer.

**Alternatives**
- **Singleton Class Approach**: Complextiy of code will be increased if we use this approach as we have to

[2022-07-27 06:04] vrajdesai78 opened #4471 "Handle configuration change for text input based interactions"
Handle configuration change for following text input based interactions in exploration player and question player:
- FractionInputInteraction
- NumericInputInteraction
- TextInputInteraction
- MathExpressionInteraction
- RatioExpressionInteraction

**Steps to reproduce the bug**:

1. Open app and visit `Prototype Exploration`
2. Answer first question (or any question where you have enter value in

[2022-07-27 06:06] vrajdesai78 opened #4472 "Handle configuration change for ImageRegionSelectionInteraction"
Handle configuration change for ImageRegionSelectionInteraction such that if screen is rotated, last selected image region should be retained.

**Steps to Reproduce**
1. Open app and visit `ImageRegionSelection` based exploration in `Test Topic 1`
2. Click continue
3. Select some area in the given image (DO NOT SUBMIT THE ANSWER)
4. Now rotate the app
5. Notice that the selection is cleared.

**Ex

[2022-07-27 06:09] vrajdesai78 opened #4473 "Handle configuration change for DragAndDropInteraction"
Configuration change should be handled for DragAndDropInteraction such that when device is rotated, last selected answer of user persist.

**Steps to reproduce the bug**:

1. Open app and visit `Prototype Exploration`
2. Answer questions until you reach DragAndDropInteraction (mostly last second question in this exploration)
3. In DragAndDropInteraction, change the order of options (DO NOT SUBMIT

[2022-07-27 06:13] vrajdesai78 opened #4474 "Handle configuration change for SelectionInputInteraction [Blocked on #4470]"
Handle configuration change for SelectionInputInteraction such that when user rotates the device, last selected answer of user persists.

**Steps to reproduce the bug**:

1. Open app and visit `Prototype Exploration`
2. Answer first question with 1/2
3. In multiple selection question, select any option (do not click SUBMIT)
4. Now rotate your screen
5. Notice that the selection has been cleared.

[2022-07-27 06:24] vrajdesai78 opened #4475 "Improve accessibility for custom text-based interactions"
**Describe the bug**
For InputInteractions like FractionInputInteraction, NumericInputInteraction, TextInputInteraction, MathExpressionInteraction, and
RatioExpressionInteraction content description is not set. So, when talkback is turned on it will read hint, but when we click on editbox and press back hint will disappeared and after that there is no content description for these interactions.

*

[2022-07-27 07:37] JishnuGoyal commented on #4448
#4430

[2022-07-27 17:51] vrajdesai78 opened #4476 "Create documentation for Accessibility audit"
Make detailed documentation for Accessibility audit

[2022-07-27 20:03] #4192 closed, assigned to bhaktideshmukh

[2022-07-28 06:48] Joaquin144 commented on #4381
Hi. I am interested to work on this issue.

[2022-07-28 06:48] #4439 closed, assigned to JishnuGoyal

[2022-07-28 08:41] bhaktideshmukh commented on #4381
Sure go ahead, but you need to sign the CLA to proceed further if you haven't filled it yet then you can follow [these](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android#onboarding-instructions) instructions and if you have already filled you are good to go, I see you are already assigned.

[2022-07-28 08:50] BenHenning commented on #1737
I think we want to close this as 'Not planned' since it's being replaced by #4470 (which is a different solution) @vrajdesai78.

[2022-07-28 08:50] #1737 closed, assigned to nobody

[2022-07-28 16:45] MihirShirgaonkar opened #4477 "Crash Dectected in Math Expressions/Equations Screen"
**Crash Dectected in Math Expressions/Equations Screen on taping editext**

**To Reproduce**
Steps to reproduce the behavior:
1. Open oppia app
2. open navigation drawer
3. open Developer options
4. tap on Math Expressions/Equations
5. tap on Expressions/Equations EditText present on top

**Demonstration**

https://user-images.githubusercontent.com/62711294/181587950-f44ded4f-9f31-4e85-b996-6936e6

[2022-07-29 08:26] BenHenning commented on #4477
Thanks for filing this @MihirShirgaonkar! I tried reproing on the tip-of-tree APK built by CI, and I actually encountered a crash upon opening the screen:

[code]

This could be due to the dark mode changes, but an investigation will be needed.

[2022-07-29 08:36] BenHenning commented on #4477
Verified that this breaks on commit 3496373d2342cad53b19067ff057f43c7758460b and works on commit 517964cdc16a79f6e3a2b238253bf001f599d42a (where dark mode was introduced for that screen).

There aren't many commits to check, and only a few tied to dark mode so I'm just checking them sort of in reverse order:
- c3b42a4c573e21d368d76d18b3b0584e351340aa (issue repros)
- eeafdf58535854d5080ccfff89b9bc

[2022-07-29 09:11] #4477 closed, assigned to BenHenning

[2022-07-29 15:27] Joaquin144 commented on #4381
Yes I have signed the CLA few days before.

[2022-08-01 19:58] BenHenning opened #4483 "Add Bazel build smoke tests for Espresso builds to catch build failures[Blocked on #4991]"

[2022-08-02 16:20] #3895 closed, assigned to vrajdesai78

[2022-08-02 19:31] rt4914 commented on #3558
Unassigned because of inactivity.

[2022-08-02 19:31] rt4914 commented on #3557
Unassigned because of inactivity.

[2022-08-02 20:15] rt4914 commented on #4105
This issue has been solved by me in #4355

For reference I have taken this screenshot in `2.7 QVGA Device`

![Screenshot_20220803_014425](https://user-images.githubusercontent.com/9396084/182465099-635e1b48-4d35-43fa-a31a-2b8154b7fa7b.png)

[2022-08-02 20:15] #4105 closed, assigned to nobody

[2022-08-02 20:21] rt4914 commented on #980
Closing this issue because of two points:

1. The shadow of profile-picture does look correct in latest develop.
2. The shadow of edit-icon needs to be updated in https://github.com/oppia/oppia-android/issues/4104 too and therefore I have merged both the issues so that they can be tested/solved together.

Check screenshots in issue description of https://github.com/oppia/oppia-android/issues/4104

[2022-08-02 20:21] #980 closed, assigned to nobody

[2022-08-03 13:35] #4443 closed, assigned to vrajdesai78

[2022-08-03 22:50] BenHenning opened #4490 "Introduce PR chaining tool & CI support"
I think there's a way to streamline PR chaining by:
1. Introducing a means to chain fork PRs via CI infrastructure
2. Implementing a tool which handles the local repo operations for chained PRs automatically (since it's otherwise a bit cumbersome)

I think that (1) is possible by maintaining a copy of the base branch in the local repository. However, to make sure this is handled correctly:
- We wo

[2022-08-04 06:19] seanlip commented on #4446
Noting that this needs to be done for Alpha MR5, for at least TextInput and NumericExpressionInput. It is vital for making the lessons understandable and playable.

[2022-08-04 06:26] seanlip opened #4491 "Fix ItemSelectionInput instruction to be clearer to students."
**Describe the bug**
The text for ItemSelectionInput is not clear to students.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an item selection interaction (see e.g. Multiplication 1). See screenshot below.

**Observed behavior**
The wording "Please select at least one choice." is confusing to students. They keep on choosing just one right answer and leaving the other right answers on

[2022-08-04 06:48] seanlip opened #4492 "Improve presentation of hints for the student."
**Is your feature request related to a problem? Please describe.**
The current hints design is not intuitive, and students don't intuitively understand how to use it.

**Describe the solution you'd like**

Here are @mschanteltc's updated designs for the hints screen. Generally, there are 3 states of the Hint Card -- Unrevealed, Expanded, and Collapsed. (Note: open the links in an incognito window

[2022-08-04 22:24] seanlip opened #4494 "Make the hint button animate."
**Is your feature request related to a problem? Please describe.**
From researcher feedback, students do not realize when a hint is available (or when a new hint is available that's different from one that they've already seen). They've also seemed fairly reticent to click on the hint button.

**Describe the solution you'd like**
Make the light bulb on the Hints button bounce up and down (possibly

[2022-08-04 22:25] seanlip commented on #4494
@JishnuGoyal Do you think it would be possible to prioritize this for Alpha MR5, please? This would solve an issue that's currently being faced in the Kenya study.

/cc @BenHenning

[2022-08-04 22:38] seanlip opened #4495 "Wrong voiceover language is being played when the student selects English."
**Describe the bug**
When students select English as the voiceover language, the wrong voiceover plays.

From the Kenya research team: "Most of the students had chosen English but the application was speaking a language that they were not understanding."

**To Reproduce**
Steps to reproduce the behavior:
1. Open lesson 1 of Multiplication.
2. Switch voiceover language to English.
3. Play the lesso

[2022-08-04 22:39] seanlip commented on #4495
Note: Assigning this to Alpha MR5, but note that it's lower priority than [the other MR5 issues](https://github.com/oppia/oppia-android/milestone/43).

[2022-08-04 22:40] seanlip commented on #4495
This might also be related to #3088 (not sure if it's close enough to be a duplicate, though). To be clear, the aim of this issue (as far as Alpha MR5 is concerned) is to fix just this specific bug and not necessarily any other issues with voiceovers.

[2022-08-05 06:07] seanlip commented on #4494
Ah sorry, I think I missed that this wasn't in your project Jishnu. I took you off the assignee list!

[2022-08-05 08:08] JishnuGoyal commented on #4494
Thanks @seanlip, let me know if any other input is needed from my side.

[2022-08-05 21:40] BenHenning opened #4496 "Introduce mechanism for translation fallbacks from Translatewiki"
When a string's content is changed and its name is changed, we completely lose the context to the string (even though it may have a valid fallback until it's fully translated). Translatewiki doesn't support this out-of-the-box, and we could consider reaching out to them to ask if it's something that they'd be interested in supporting. Otherwise, we might be able to support it by introducing a mech

[2022-08-05 21:42] seanlip commented on #4496
In general, shouldn't we be keeping the translation key/name the same (even though we change the content of the English string)?

[2022-08-05 23:43] BenHenning commented on #4496
Not necessarily. In some cases we do UI redesigns which may result in different designations for the same UI element, along with an updated string. I think the process to do this today would be to rename the string (without changing its content), checking that in, waiting for Translatewiki to pick it up & push updates, merge that, then update the translation contents so that the translations can b

[2022-08-05 23:48] seanlip commented on #4496
Ah ok. But then the context should change too, right (if the element now fulfills a different purpose in the updated UI redesign)?

[2022-08-05 23:51] BenHenning commented on #4496
The context does change, but it's sometimes the case that the old string is reasonable as a stop-gap rather than reverting back to English while we wait for translations.

@JishnuGoyal's recent PR is a good example of this. We're renaming the 'All Topics' header to be 'Select a Topic' (or similar--might not be exact wording). In this case, it's quite nice to defer back to "All Topics", but the con

[2022-08-07 20:56] seanlip commented on #4496
Ah, I see, interesting, so the idea is to link to another string as the fallback.

Hm I don't know, it feels a bit like niche functionality and I imagine this case shouldn't really happen that often (and, as you mention, the clarity of the string name that plays into this as well). But I guess we could check. Alternatively, I imagine we could do this on our end as well during build time; that migh

[2022-08-08 18:53] rt4914 commented on #3892
To add more details: if there are more items or if each item has more content in that case also the screen-reader does work correctly.

[2022-08-09 22:07] seanlip commented on #4002
Note that for Alpha MR5 this should support letters + numbers only.

For Beta it should support letters in various languages, but not numbers. @BenHenning -- I think @JishnuGoyal's PR supports this but not the Alpha MR5 requirement?

[2022-08-10 10:26] JishnuGoyal commented on #4002
Hi @seanlip , you are right -- confirming my PR supports all letters (english + international) while rejecting all the numbers (it also rejects all symbols except `.` , `'`, `-`).

[2022-08-10 22:09] mahmoodAtSemaai commented on #4403
So the app language is not in sync with the system language ?
Is this happening only for portuguese or other languages too?

[2022-08-11 08:14] AjayMaheshwari23 commented on #4202
Please assign this issue to me .

[2022-08-13 21:53] #3896 closed, assigned to vrajdesai78

[2022-08-13 21:57] #4361 closed, assigned to Ryggs

[2022-08-16 04:53] seanlip opened #4502 "Implement custom math keyboard for math expression input interactions."
**Is your feature request related to a problem? Please describe.**

In math expression contexts, when a student types * in the Android app, the character * is displayed, and similarly for -. However, this causes confusion because students are used to using × and − instead (and in fact this is what they see when entering similar things in the corresponding interaction fields on Oppia Web).

**Descr

[2022-08-16 20:12] Chandra-Sekhar-Bala opened #4504 "No enough padding on Continue button style"
**Describe the bug**
Continue has not enough padding when reading size changed to ``` Extra Large```

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Navigation menu' -> Select Option
2. Click on 'Reading text size' -> Select Extra Large
3. Open any lesson
4.  Scroll down to click on Continue

**Expected behavior**
Continue button should have good padding from both ends.

**Demonstrati

[2022-08-17 00:19] #4491 closed, assigned to KevinGitonga

[2022-08-17 02:16] BenHenning opened #4505 "Profile names with numbers are needed in Kenya user study"

[2022-08-17 02:16] BenHenning commented on #4505
This replaces #4002 as the priority for Alpha MR5.

[2022-08-17 02:17] BenHenning commented on #4002
Deferring to beta since #4505 is implementing the specifically needed functionality for the user study (which will just be conditionally disabling the profile name validity check for the study).

[2022-08-17 03:29] BenHenning commented on #4298
Confirming this has been fixed in the latest alpha data, so marking this as closed so that Anitha can verify as part of the Alpha MR5 test pass.

[2022-08-17 03:29] #4298 closed, assigned to BenHenning

[2022-08-17 03:40] BenHenning commented on #4495
I did repro this issue once when try to get toward the end, but didn't encounter it on the state in the opening comment. This does seem different from #3088 as that one is covering the case when English isn't available at all, whereas the issue here seems tied to the voiceover unexpectedly switching to non-English when English is both selected and available.

[2022-08-17 06:26] BenHenning commented on #4502
I actually took a look at this and it seems that Android *does* use the correct characters in the represented answer (since the app renders the expression to LaTeX and, as part of that, replaces the characters). I don't think any additional work is needed here.

[2022-08-17 06:30] seanlip commented on #4502
@BenHenning To be clear, I'm talking about in the _input field_ just after the student has typed the character (but not yet submitted), rather than in the represented answer after the student has submitted. Could you please confirm that the former is the case?

[2022-08-17 07:17] BenHenning commented on #4502
Ah, I didn't realize that's what you mean. Switching out characters from underneath the student is not a trivial task @seanlip and not something I'd want to risk here. FWIW, the Android keyboard already lets you input × and − directly, so I'm also not sure that the same use case is as necessary here.

[2022-08-17 07:47] seanlip commented on #4502
OK, yup -- that was what I was referring to in our call. I was surprised that it seemed easy; thanks for looking into this.

I want to check what you mean by "the Android keyboard already lets you input × and − directly", though? The keyboard looks like the standard one. Here is a screenshot that I got from @rt4914 for numeric expression input -- note that there's only a * and no ×. (Which is fine

[2022-08-17 09:13] BenHenning commented on #4446
I've investigated this further and verified that:
- All text-based interactions except text input correctly fall back to a built-in placeholder even if the creator overrides the interaction's placeholder with an empty string
- All text-based interactions have placeholder support except numeric input which uses an always-present hint text
- The importer hasn't changed since April, and the latest ex

[2022-08-17 09:21] BenHenning commented on #4502
You need to open up the number keyboard (via ?123) and then another button appears where the caps button shows now with symbols. Opening the symbols will show various math operators include multiplication and division.

[2022-08-17 09:23] BenHenning commented on #4446
Also to clarify one thing: I am going to go ahead and add a default text input placeholder to bring it into conformance with the other text input interactions (just so that the user never sees an empty box except in the keyboard scenario). This is a departure from web behavior, but it's a simple change that seems reasonable.

[2022-08-17 09:43] BenHenning commented on #4446
Correcting one thing from above: per chatting with Sean, we do want to try and get the multi-line hint working since that at least helps mitigate a big part of the problem (as the hint text includes vital information per Sean's earlier comment).

[2022-08-17 10:34] seanlip commented on #4502
OK, thanks.

As discussed I think the correct long-term solution here is to have a custom math keyboard for numeric expression input that has the multiplication symbol. In the short term we can leave the current behaviour as-is.

[2022-08-17 17:44] JishnuGoyal commented on #4446
Thanks for confirming this Ben! I have added the latest code to my PR to handle folding of lines the way we want for our current implementation. Please let me know what are your thoughts! @BenHenning

[2022-08-19 04:26] #4410 closed, assigned to BenHenning

[2022-08-19 06:43] BenHenning opened #4509 "Text-based interaction EditText hints sometimes disappear when the keyboard is closed"
**Describe the bug**
As part of fixing #4446 in #4506, I found that some text-based interaction EditTexts will continue to show their hint text upon closing the keyboard, but others won't.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the prototype exploration.
2. Play to the numeric input interaction, open the keyboard, then close it. Notice that the hint text is still showing.
3. Pl

[2022-08-19 06:48] BenHenning opened #4510 "Fast-follow work items from MR5 (mainly reviews and open comments)"
PRs that need to be post-merge reviewed:
- #4506
- #4507
- #4501
- #4500
- #4414

PRs that have open comments to resolve:
- #4501
- #4500

**Note**:
- Some follow-up tests also need to be written. These are detailed in https://github.com/oppia/oppia-android/issues/5036.
- A bug with hint timers still needs to be fixed. This is detailed in https://github.com/oppia/oppia-android/issues/5037.

[2022-08-19 07:10] BenHenning opened #4512 "Upgrade CI to Ubuntu 20.04"
Per https://github.com/actions/runner-images/issues/6002, Ubuntu 18.04 is now deprecated on GitHub Actions and will be fully turned down before EOY. Given the upcoming planned brownouts, it would be nice to avoid these periodic failures by migrating first.

This migration should be done in one PR for all workflows, and the PR should re-run the full workflow suites **ten** times to ensure there are

[2022-08-19 07:16] seanlip commented on #4512
Just an FYI, I think @gp201 just looked into this for Oppia-Web. It seems to have gone smoothly. See https://github.com/oppia/oppia/pull/15879

/cc @U8NWXD

[2022-08-19 08:21] vrajdesai78 opened #4513 "Add Dark Mode support for BottomSheetFragment (Exploration + Revision Card)"
Add Dark Mode support for BottomSheetFragment in both Exploration and Revision Card.

### Current UI

https://user-images.githubusercontent.com/43074241/185469039-24e440da-69f9-4885-938c-688e3ff3ecf6.mp4

[2022-08-19 09:26] #4494 closed, assigned to rt4914, BenHenning

[2022-08-19 10:10] BenHenning commented on #4504
@Chandra-Sekhar-Bala have you checked whether this issue repros on the latest develop? Given the recent work on this exact issue, I'd expect this to not be an issue anymore.

[2022-08-19 10:15] #3537 closed, assigned to ma-za-kpe

[2022-08-19 10:15] #4492 closed, assigned to rt4914, BenHenning

[2022-08-19 10:17] BenHenning commented on #4502
Given that we don't yet have a tracking issue for the custom math keyboard, let's keep this one open.

I'm moving it out of the MR5 blocker list since the main mitigation (supporting multi-line placeholder hints for text-based interactions) is being implemented as part of #4506).

[2022-08-19 11:10] #4467 closed, assigned to BenHenning

[2022-08-19 11:10] #4495 closed, assigned to nobody

[2022-08-19 11:10] #4266 closed, assigned to BenHenning

[2022-08-19 11:10] #4446 closed, assigned to BenHenning, JishnuGoyal

[2022-08-20 10:12] KolliAnitha opened #4515 "Concept card is blank for a question in chapter Multiplying by multiples of ten"
**Describe the bug**
Concept card is empty for a question in chapter Multiplying by multiples of ten

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Multiplication - Multiplying by multiples of ten
2. Click on Continue till you reach the page "What is 3264*10"
3. Enter wrong answer to get the concept card link
4. Click on Conceptc card
5. See the page

**Expected behavior**
Concept car

[2022-08-20 10:20] seanlip commented on #4515
Thanks for catching this, @KolliAnitha! The link was pointing to the wrong concept card. I have fixed it on the Oppia website.

@BenHenning -- just letting you know that the content is updated, and assigning you so that this issue can be resolved when the new content is pulled.

[2022-08-20 16:03] KolliAnitha commented on #4515
@seanlip, observed the same behavior on clicking divide a decimal by a power of 10 link in What is a percentage chapter in Percentages.
![Screenshot_2022-08-20-21-17-27-24_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/185755991-06ce5d96-597b-4e73-8cae-32d3c84b1b18.jpg)
![Screenshot_2022-08-20-21-15-12-09_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user

[2022-08-20 16:12] KolliAnitha opened #4516 "Bullet points are not aligned properly in Naming Numbers and Rounding Numbers Revision card"
**Describe the bug**
Bullet points are not aligned properly in Naming Numbers Revision card

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic 'Place Values'
2. Click on 'Revision'
3. Select 'Naming Numbers
4. Scroll down

**Expected behavior**
All the bullet points should be properly aligned

**Demonstration**
![Screenshot_2022-08-20-21-23-12-59_943a62cb4c6fb83e010e1c2e82766a17.jpg

[2022-08-21 04:46] pratyaksh1610 commented on #4351
@KolliAnitha I am unable to reproduce the issue , and I have checked the assets in `domain`, string is not present as a response.

[2022-08-21 04:58] KolliAnitha opened #4517 "In concept cards, the separation line is not similar in all the cards"
**Describe the bug**
In concept cards, the separation line is not similar in all the cards

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Percentages'- Open What is a Percentage
2. Click on 'add', subtract
3. Scroll down to view the separation lines in between

**Expected behavior**
The separation line should be same in all the cards

**Demonstration**

**Environment**
Device name: O

[2022-08-21 05:06] KolliAnitha commented on #4351
@pratyaksh1610 Please follow the repro steps to check this issue. I am still able to repro the issue in 0.8-alpha-091b45a188. Attaching video for same.
https://user-images.githubusercontent.com/101634267/185776395-edf1efd9-a08e-425e-a108-1946aeac8f5c.mp4

[2022-08-21 05:10] pratyaksh1610 commented on #4351
@KolliAnitha In mine, I can only see 2 chapters in Fractions and chapter-2 is locked as of now.

[2022-08-21 05:24] KolliAnitha opened #4518 "Even after deleting cache and data, uninstalling and reinstalling the app has the deleted data"
**Describe the bug**
Even after deleting cache and data, uninstalling and reinstalling the app has the deleted data

**To Reproduce**
Steps to reproduce the behavior:
1. Open Oppia with profiles
2. Now go to settings- App management- Oppia- Click on Storage usage- Clear cache and Clear data
3. Open Oppia and click on Next and Get started
4. Create admin pin- Create a profile- and open a few topics

[2022-08-21 05:27] pratyaksh1610 commented on #4351
@KolliAnitha Is it like we need to first open all chapters by submitting.

[2022-08-21 05:27] seanlip commented on #4351
Hi, this is a content issue; I am not sure why this was characterized as a coding one. The data in the Android app repo is different from the data on the Android app for release testing since the latter uses the data from the Oppia website.

I have now fixed the content issue, so this just needs a re-pull of the content. The issue here was that the feedback was using an external link component as

[2022-08-21 05:27] seanlip commented on #4351
Assigning @BenHenning for doing the content pull and moving this to the Beta MR1 milestone.

[2022-08-21 05:36] seanlip commented on #4517
This is a content issue.

However, the screenshots indicate a problem which is related to the Android app: links to concept cards do not seem to display in concept cards -- notice the missing text after "(i.e., changing it to its ..."). This probably needs to be fixed, /cc @BenHenning.

[2022-08-21 06:01] KolliAnitha opened #4519 "Concept card link is not showing up in hints."
**Describe the bug**
Content issue is seen for one of the hints in a question in Multi digit multiplication Part 1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Multiplication'
2. Click on 'Multi-Digit Multiplication, Part 1'
3. Click on Continue till you reach the question 'There are 3829 people in our small town'
4. Enter wrong answers to get 5hints

**Expected behavior**
If you n

[2022-08-21 06:08] seanlip commented on #4519
@BenHenning Confirming this is an Android platform issue and is actually quite important because we do this a lot. Can the concept card be enabled in the hints display?

[2022-08-21 09:25] KolliAnitha commented on #4006
@BenHenning, I am still seeing the Edit account option in Administrator Controls in 0.8-alpha-091b45a188
![Screenshot_2022-08-21-14-54-37-15_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/185786132-b0ea3690-80e9-4460-b8a6-819b12fd50d5.jpg)

[2022-08-21 09:43] KolliAnitha commented on #4491
Verified the issue in 0.8-alpha-091b45a188. 'Please select all correct choices' is displayed for multi selection inputs.
![Screenshot_2022-08-21-15-41-38-73_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/185786233-173c9a3f-12f9-4e14-a010-83ce34faa6a7.jpg)

[2022-08-21 09:57] KolliAnitha commented on #4298
Verified in 0.8-alpha-091b45a188 and its working fine.
![Screenshot_2022-08-21-15-37-24-83_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/185786071-a91d1cb4-4854-4181-be0c-8d4da73eebd3.jpg)

[2022-08-21 10:06] KolliAnitha commented on #4494
Hint button is animated. Verified and working fine in 0.8-alpha-091b45a188.
![Screenshot_2022-08-21-15-34-39-29_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/185786009-54dce5e4-5ded-4089-ba11-990f81f3173e.jpg)

[2022-08-21 10:25] KolliAnitha commented on #4492
Hints UI is changed and all the hints are properly aligned and expanded. Verified in 0.8-alpha-091b45a188.
![Screenshot_2022-08-20-18-26-09-40_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/185786673-9a3aa58b-f3f8-426c-ab7d-cf71638bb8c9.jpg)

[2022-08-21 11:32] KolliAnitha commented on #4495
Voiceover is playing in english language till the end of the lesson except for those cards where there is no audio language in it.
Verified in 0.8-alpha-091b45a188

[2022-08-21 15:15] JishnuGoyal commented on #4006
This is happening because the default value for the parameter enableEditAccountsOptionsUi is set to true.
@BenHenning should I set it to false?

[2022-08-21 20:13] BenHenning commented on #4519
So it seems like we simply never enabled concept cards in hints. Seems like an oversight that is, fortunately, trivial to fix. We simply need to:
- Update https://github.com/oppia/oppia-android/blob/6bab4820176496c1497321ef4e8c251ced40ad5a/app/src/main/java/org/oppia/android/app/hintsandsolution/HintsAndSolutionDialogFragmentPresenter.kt#L222 to set supportsConceptCards to true (per https://github

[2022-08-21 21:15] Chandra-Sekhar-Bala commented on #4504
Yes, I have checked it is on the latest version. Steps are mentioned to reproduce the bug, you can verify.

[2022-08-21 21:16] Chandra-Sekhar-Bala commented on #4504
Hey @BenHenning Yes, I have checked it is on the latest version. Steps are mentioned to reproduce the bug, you can verify.

[2022-08-22 03:50] KolliAnitha opened #4520 "Concept card link is missing for one of the questions in fractions"
**Describe the bug**
Concept card link is missing for one of the questions in fractions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fractions' - Fractions of a group
2. Click on 'Continue' till you reach the question "Very good! Last one to remind you about fractions!"
3. Enter the wrong answer
4. See error

**Expected behavior**
'Take a look at the <link> to see what that is' sho

[2022-08-22 04:21] seanlip commented on #4520
Thanks for reporting @KolliAnitha. This was a content issue (it was pointing to a refresher exploration ID) and has now been fixed on the website. It should be corrected in the next pull of content to the app.

[2022-08-22 04:21] #4520 closed, assigned to nobody

[2022-08-22 04:22] seanlip commented on #4515
Thanks @KolliAnitha. I think that, unfortunately, this last one will remain a bit broken until Decimals is published, since that is the topic that the concept card link is pointing to.

[2022-08-22 04:27] KolliAnitha opened #4521 "Unknown indication box size is large in Problem solving Revision card in Topic division"
**Describe the bug**
Unknown indication box size is large in Problem solving Revision card in Topic division

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Division'
2. Click on 'Revision' - Select Problem Solving
3. Scroll down to 'Finding unknowns in equations'
4. See error

**Expected behavior**
Unknown indication box should be in same size as the other text

**Demonstration**
![S

[2022-08-22 04:27] BenHenning commented on #4504
@Ryggs can you look into this since #4385 was supposed to fix this issue?

[2022-08-22 04:28] BenHenning commented on #4006
Ah I missed that @JishnuGoyal. Yes, it should be off by default.

Reopening until that's addressed.

[2022-08-22 04:30] seanlip commented on #4521
@BenHenning Is this an Android rendering issue, or do you need the box to be changed to a different character on Web here?

[2022-08-22 04:32] seanlip commented on #4516
@BenHenning just a note, I think this is an Android HTML rendering issue. It looks fine on Web (apart from some spacing issues):

![Screenshot from 2022-08-21 21-31-38](https://user-images.githubusercontent.com/10575562/185840065-47681d74-80d6-40c9-8e9b-1d58d186c696.png)

[2022-08-22 04:33] seanlip commented on #4502
Thanks, sounds good. I renamed the issue accordingly.

[2022-08-22 04:37] BenHenning commented on #4521
@seanlip do you know if that box is a unicode symbol or LaTeX?

[2022-08-22 04:51] seanlip commented on #4521
Unicode, specifically  ⃞. Though looking at it on Web, it's not rendering correctly there as well
![Screenshot from 2022-08-21 21-47-43](https://user-images.githubusercontent.com/10575562/185841459-9f5c9d92-568c-497c-bbab-3036242ec32e.png)

I think I'm going to replace it with this one instead, let's see if that works: [▢](https://en.wikipedia.org/wiki/%E2%96%A2)

[2022-08-22 04:52] seanlip commented on #4521
(Note: The original square wasn't a square, it was the "Combining Diacritical Marks for Symbols" symbol, so it's probably no surprise it didn't render correctly. Unfortunately the standard unicode white square looks too small in the context so I opted for U+25A2 instead.)

[2022-08-22 04:54] seanlip commented on #4517
I'm going to keep this one assigned to me and file a new issue for "links to concept cards do not seem to display in concept cards", since that's a separate issue that's related to #4519.

[2022-08-22 04:57] seanlip opened #4522 "Concept card link is not showing up in concept cards (possibly revision cards, too)."
**Describe the bug**
Concept card links do not show up in concept cards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Percentages'- Open What is a Percentage
2. Click on 'add', subtract

**Expected behavior**
There should be a concept card after "(i.e., changing it to its ..."). This indicates a missing concept card.

**Note**:
- This is likely related to #4519.
- Additionally, for

[2022-08-22 04:58] seanlip commented on #4522
@BenHenning  Flagging this for Alpha MR5, though it is slightly less serious than #4519 and can be deprioritized if needed.

[2022-08-22 04:59] seanlip commented on #4517
Filed #4522 for the "missing concept cards" issue.

[2022-08-22 05:04] Ryggs commented on #4504
Hey @BenHenning taking a look

[2022-08-22 05:23] Chandra-Sekhar-Bala commented on #4504
@BenHenning @Ryggs  let me give my view on this,
Yes #4385 solved the alignment issue. But if you look into the style named ```@style/StateButtonActive``` you'll see padding attribute is missing. And that is the reason of this bug.
I hope it helps :)

[2022-08-22 05:29] Ryggs commented on #4504
@Chandra-Sekhar-Bala The padding attribute is global as we are using a wrap_content and got rid of setting a max_width, hence the button behavior

[2022-08-22 06:17] Ryggs commented on #4504
Hi @BenHenning Just checked this out and this was the fix accepted by C/O @rt4914 . What would be the workaround here? The text fits overlay when in text size LARGE on phone.
Here's the tablet view
![image](https://user-images.githubusercontent.com/31986629/185851944-22fa0bc4-8741-4928-b229-5f46ba52c214.png)

[2022-08-22 16:43] KolliAnitha opened #4524 "User icon is not seen for image while opening add profile page for the second time"
**Describe the bug**
User icon is not seen for image while creating a profile on opening it for the second time

**To Reproduce**
Steps to reproduce the behavior:
1. Click on + icon to create profile
2. Enter admin pin then add profile page opens with user icon
4. Go back to the user login page and click on + icon to create profile
5. See the image icon

**Expected behavior**
User icon should be s

[2022-08-22 17:50] JishnuGoyal commented on #4006
Added a PR: #4523 . The failing test should be green after a re-run. @BenHenning

[2022-08-23 14:34] Ryggs commented on #4343
For developers, here are instructions for reproducing the bug on the develop branch ( or any branch you're working on based off develop)
Steps to reproduce blocker issue:

1. Click Topic Ratios and Proportions.
2. Click to Expand topic.
3. Click and work exercises in “Order is important”

[2022-08-23 15:29] KolliAnitha opened #4525 "Place holder is not seen in a textbox after tapping outside the textbox in Fractions"
**Describe the bug**
Place holder is not seen in a textbox after tapping outside the textbox in Fractions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fractions' - Open What is a Fraction
2. Click on 'Continue' till you reach the page 'What fraction is shown by the shaded part of this drawing'
3. Tap on the textbox to enter, now tap outside the textbox or go back
4. Focus on the te

[2022-08-23 18:44] Chandra-Sekhar-Bala commented on #4504
So do you prefer adding padding attribute to the style?

[2022-08-23 19:12] Chandra-Sekhar-Bala commented on #4504
I've added padding attribute which tends to solve this one I guess
Here's an example, when padding is enabled with text size as ```Medium``` and ```Extra large```.

<img width="202" alt="M" src="https://user-images.githubusercontent.com/57448981/186243728-5f5706e0-7a73-4577-bbe4-4520d6687979.png">

<img width="202" alt="XL" src="https://user-images.githubusercontent.com/57448981/186243804-59cdc444

[2022-08-24 06:27] #4448 closed, assigned to JishnuGoyal

[2022-08-24 07:24] seanlip commented on #3169
We changed how we display this in https://github.com/oppia/oppia-android/issues/4491 per learner/partner feedback. So, let's leave the text as-is until we get more feedback that the new version isn't suitable. /cc @BenHenning

However I have a question. When the user selects the max number of choices, can we disable the rest? I think that's probably the only thing we need to do here.

[2022-08-24 07:26] seanlip commented on #3169
Also, @Akshatkamboj14, with this clarification, would you be comfortable working on this?

[2022-08-24 07:28] BenHenning commented on #4522
FWIW concept cards definitely show up from revision cards if they're present, but are broken for regular concept cards.

[2022-08-24 07:34] BenHenning commented on #4345
This needs to be bumped back to help expedite the initial beta release.

[2022-08-24 10:58] JishnuGoyal commented on #4006
Hi, @KolliAnitha @BenHenning.
Closing this again as #4523 was merged.

[2022-08-24 10:58] #4006 closed, assigned to BenHenning

[2022-08-24 14:16] KolliAnitha opened #4527 "Improper sentence framing is observed in FAQs"
**Describe the bug**
Improper sentence framing is observed in FAQs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home' - Click on menu - Select Help
2. Click on 'FAQs'
3. Select How can I change my email/phone number?
4. See steps to change phone number

**Expected behavior**
'If you want to change your phone number' should be seen instead of 'If changing your phone number'

**Demon

[2022-08-24 20:21] pratyaksh1610 commented on #4527
@KolliAnitha
I would like to work on this issue,
Please assign this issue to me.
Thanks.

[2022-08-25 04:25] KolliAnitha opened #4530 "Units place value is not clearly visible in Rounding Numbers Revision card"
**Describe the bug**
Units place value is not clearly visible in Rounding Numbers Revision card #4530

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Place Values' - Revision - Select Rounding Numbers
2. Scroll down to 'Example 1' Lets round the number 95382..
3. See error

**Expected behavior**
2 in 95382 should be visible

**Demonstration**
![Screenshot_2022-08-25-09-52-05-50_943a62

[2022-08-25 04:43] KolliAnitha opened #4531 "Unwanted character observed in Revision card- Representing Unknowns with variables"
**Describe the bug**
Unwanted character observed in Revision card- Representing Unknowns with variables

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Expressions and Equations' - Revision card
2. Click on 'Representing Unknowns with variables'
3. Scroll down to 'Representing unknowns with variables' section
4. See the line ' The problem is, we don't know what number it is - yet.'

*

[2022-08-25 05:00] seanlip commented on #4531
Thanks @KolliAnitha! The "--" was meant to convey "...", but I can see how it's confusing, and I've removed it.

This is now fixed on the web server and should be fixed in the Android app on the next content pull. We already have other issues open that depend on the next content pull (and therefore "track" it), so I will close this.

[2022-08-25 05:00] #4531 closed, assigned to nobody

[2022-08-25 05:04] KolliAnitha opened #4532 "Multiple tabs are opening on clicking the concept cards link thrice"
**Describe the bug**
Multiple tabs are opening on clicking the concept cards link thrice

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Percentages' - Revision
2. Click on 'Converting Percentages to Decimals'
3. Scroll down to click on equicalent fraction link multiple times
4. See the no.of tabs opened

**Expected behavior**
Since the same link is clicked multiple times, single tab

[2022-08-25 05:08] seanlip commented on #4532
@BenHenning Just noting this since you might want to take a look if you're looking at concept cards currently.

Feel free to deassign if you don't think it's a quick fix.

[2022-08-25 05:41] BenHenning commented on #4532
This is a known problem, though I don't think there's an issue filed for it yet.

The work I'm doing with concept cards is mostly unrelated to this. I think the fix is to not open the concept card dialog if it's already open, but that's a bit tricky in the new world where multiple concept cards can be opened at once (i.e. for cases when a concept card links to another). We will have to look into i

[2022-08-25 05:43] BenHenning commented on #4527
I think we need to consider reworking the entire FAQ content since this specific point (& likely others) don't even apply to the current version of the app.

@seanlip sending this over to you since this is likely something that the product team would be interested in tackling.

[2022-08-25 05:44] BenHenning commented on #4527
@pratyaksh1610 unfortunately I don't think this issue will involve an easy fix as it will depend on the product team following up with how we should be revising the FAQ. I suggest looking at other open issues, instead, and maybe circling back once we have a clearer product plan here. :)

[2022-08-25 05:49] seanlip commented on #4527
Added to backlog. However: @BenHenning, for now, could you please remove the parts of the FAQ that are inaccurate? I'm fine with showing fewer Q&A than expected but I don't think our FAQ should be actively wrong.

[2022-08-25 05:52] BenHenning commented on #3169
Disabling checkboxes should indeed be possible, though we'll need to test how Talkback behaves for those checkboxes to make sure the experience is equally seamless (or we may need to refine the instructional language to accommodate both screenreader & non-screenreader users).

[2022-08-25 05:55] BenHenning commented on #4504
I haven't been as involved with the nature of this particular issue or the different solutions considered. @rt4914 since you have more context, could you share your thoughts on the ongoing discussion here?

[2022-08-25 06:03] pratyaksh1610 commented on #4527
In this my approach was to look for a particular `faq answer` and update it in strings, and add a suitable test for it.

[2022-08-25 06:07] seanlip commented on #4527
@pratyaksh1610 To clarify, I think Ben is saying that this issue cannot be worked on because we need to clarify its definition before deciding to fix it. The technical part is not the problem.

Please consider picking another issue. You might like to check out https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android#finding-something-to-do for a list of starter projects.

[2022-08-25 07:14] pratyaksh1610 commented on #4086
@BenHenning I would like to work on this issue .
Since it is inactive.
Can I be assigned ?
Thanks.

[2022-08-26 02:45] KolliAnitha commented on #4505
@BenHenning, Unable to create a profile with numbers in it.

https://user-images.githubusercontent.com/101634267/186805562-14b595c1-d5c6-473a-99a5-d752e40ac8d9.mp4

[2022-08-26 05:05] seanlip commented on #4505
Hi @KolliAnitha -- I just had a chat with Ben about this. It seems that the app you tested is a different "flavour" than the one used for the Kenya study, so everything should be fine here after all.

Thanks for filing and checking though -- we should have mentioned this at the point of kicking off the test run, but forgot!

[2022-08-26 05:05] #4505 closed, assigned to BenHenning

[2022-08-26 05:10] #1022 closed, assigned to BenHenning

[2022-08-26 05:10] #1390 closed, assigned to veena14cs

[2022-08-26 05:10] #2193 closed, assigned to BenHenning

[2022-08-26 15:50] rt4914 commented on #3892
## Expected Behaviour
When screen-reader is on, and there is no progress in the topic, in such scenario if user navigates to chapter-2 (locked) and click on `Complete Chapter 1 :..... to unlock this chapter` then the screen-reader should get shifted to chapter 1. Similarly if user clicks on same text in `Chapter 3 card` which shows `Complete Chapter 2: ... to unlock ...` then screen-reader should

[2022-08-27 10:54] JishnuGoyal opened #4538 "Update wiki for platform parameters to include functionality introduced by TestPlatformParameter module"
Since the merger of #4204, it is worth updating the wiki for Platform parameters, the functionality introduced by the TestPlatformParameterModule - a class which helps to affect the platform parameter values from inside the tests.

[2022-08-29 06:55] Ryggs opened #4539 "Submit button is not enabled after inputting the answer"
**Describe the bug**
The Submit button highlight is not enabled after user inputs answer instead throws exception..

Exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Topic Ratios and Proportions - Lessons Tab'
2. Click on 'Expand Ratios: Part 1.'
3. Scroll down to 'exercises in “Order is important”'
4. See error

https://user-images.githubusercontent.com/31986629/1871

[2022-08-29 09:12] BenHenning commented on #4285
FYI @KevinGitonga I actually do have a fix for this issue that I plan to submit as part of beta (see #4411).

[2022-08-29 09:17] BenHenning commented on #3892
@rt4914 what mechanism are we using to try and focus on the specific card when the link is clicked?

[2022-08-29 13:27] rt4914 commented on #3892
@BenHenning There are only three things for this functionality:

1. The [clickableSpan](https://github.com/oppia/oppia-android/blob/1ca0a4ae238a8075fb552ef4ccb66ef60a8459f0/app/src/main/java/org/oppia/android/app/story/StoryFragmentPresenter.kt#L186) - This makes sure that the text is clickable.
2. [LinkMovement](https://github.com/oppia/oppia-android/blob/1ca0a4ae238a8075fb552ef4ccb66ef60a8459f0/

[2022-08-29 18:17] BenHenning opened #4542 "Introduce build-time conversion of SVGs to XML drawables, and replace drawables with SVG alternatives"
This occurred to me while reviewing a recent PR. The process for introducing vector drawables in an Android app generally involves converting these to XML drawables, then referencing them as such where needed. The Gradle build pipeline takes this one step further by rendering the SVGs to bitmaps (I think PNGs) for specific display densities for better loading performance.

As we migrate to Bazel,

[2022-08-29 20:19] BenHenning commented on #3712
Looks like a TODO wasn't removed @vrajdesai78.

[2022-08-29 20:23] BenHenning commented on #3892
@rt4914 this might be a case where we need to specialize the behavior for a11y users. Just thinking about this from a UX perspective, it's generally not a good pattern to move a screenreader's focus since it can be really disorienting. Simply telling them that another chapter needs to be completed first should be sufficient since they can navigate to the other one themselves.

There's also the pri

[2022-08-29 20:51] rt4914 commented on #4200
@MohitGupta121 What all is pending in this issue?

[2022-08-30 08:55] BenHenning commented on #4539
This is being caused by old test data that hasn't been migrated with the latest structure changes from Oppia web (the app was updated to no longer use CaseSensitiveEquals, but the test data wasn't). This will only affect developers, and the fix requires updating the test explorations to migrate CaseSensitiveEquals per https://github.com/oppia/oppia/blob/bb0ecf6867242b6d40a57feb4ca74c79f94e86c1/cor

[2022-08-30 09:00] vrajdesai78 commented on #3712
@BenHenning will I have to create a new pull request to remove this TODO ?

[2022-08-30 09:02] BenHenning commented on #3712
In order to close the issue, yes @vrajdesai78. Since it's trivial, you could add it to another ongoing PR to avoid creating a new PR (either approach is fine, and is up to you).

[2022-08-30 09:09] vrajdesai78 commented on #3712
@BenHenning created new PR #4543

[2022-08-30 09:12] BenHenning commented on #4086
@pratyaksh1610 this is available to work on--happy to assign it to you.

[2022-08-30 09:13] BenHenning commented on #4086
Actually scratch that, we need to verify that the new icon will solve the original concern for the issue. @seanlip it would be nice to have product feedback on this.

[2022-08-30 10:02] MohitGupta121 commented on #4200
@rt4914 All completed in this issue. No issue left now according to me.

[2022-08-30 10:14] MohitGupta121 commented on #1590
@rt4914 Is this issue is still open?

[2022-08-30 10:22] MohitGupta121 commented on #4177
@rt4914 is this issue is still open?

[2022-08-30 11:33] KolliAnitha opened #4544 "The audio is taking time to play if we stopped audio in the previous page"
**Describe the bug**
The audio is taking time to play if we stopped audio in the previous page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Multiplication' - Open Parts of Multiplication Expressions
2. Click on 'Audio' symbol
3. Click on Play - Play for sometime and then click on Continue
4. Play Audio

**Expected behavior**
Audio should start playing after clicking Continue

**Dem

[2022-08-30 17:17] Akshatkamboj14 commented on #4194
Hey, @bhaktideshmukh actually in today's meeting sean and I were confused about this PR actually, I think we both were working on it and we were supposed to split the 5 parts in this PR into 3 and 2, am I Right?
and if you are working on this PR, please let me know. and if not then also, so that we can write in the description of this PR and also make it clear on the clam team.

[2022-08-30 17:36] bhaktideshmukh commented on #4194
I'll cover the other two parts -- HomeActivity and RevisionCardActivity

[2022-08-30 17:38] Akshatkamboj14 commented on #4194
Thanks @bhaktideshmukh.

[2022-08-30 18:23] seanlip commented on #4086
I just chatted with @om-khandade, and here are some updates to what is currently in this thread:

- The revision icon proposed in the original comment was created by @om-khandade and is a non-material icon.
- "Format List Bulleted" seems like the closest alternative in the Material Icon list (when Om last checked it), but it's not clear that it would be intuitive. https://fonts.google.com/icons?ic

[2022-08-30 18:24] seanlip commented on #4086
Based on a discussion between @om-khandade and I, here is what we propose:

- If the icon needs to be a material icon (or if that is strongly preferred), we can go with list-alt: https://fonts.google.com/icons?icon.query=list+alt&icon.style=Outlined
- If it doesn't need to be a material icon, then @om-khandade can make a version of list-alt with an arrow in the bottom right, and we can use that.

[2022-08-30 18:29] Akshatkamboj14 commented on #3169
@seanlip yes, I am comfortable working on this.

[2022-08-30 18:55] seanlip commented on #3169
OK, thanks! Feel free to ask if any questions come up.

[2022-08-30 22:58] BenHenning commented on #4086
@seanlip a Material icon isn't strictly needed (though it *can* simplify things slightly since we can pull it in through third-party dependencies rather than including our own icon). I'm happy to go with our own icon so long as it's a vector graphic and matches the aesthetic of other Material icons used in the app. Besides that, we should go with whatever icon works best with learners.

[2022-08-30 23:09] BenHenning commented on #4544
@KolliAnitha does it seem inconsistently slow or is it consistent (i.e. playing audio always has a delay)?

I suspect this is a side effect of always streaming and never caching audio.

[2022-08-30 23:11] BenHenning commented on #4496
A build time translation of keys is an interesting idea, and might more or less achieve the same thing. More technical design is needed here.

[2022-08-30 23:26] BenHenning opened #4546 "ListItemLeadingMarginSpanTest is broken when built with Espresso"
Originally found by @KevinGitonga.

ListItemLeadingMarginSpanTest breaks when built on Espresso since it's referencing Robolectric shadows. We need to update it to either work without shadows, or move the tests which require shadows to a ListItemLeadingMarginSpanLocalTest that's not under sharedTest.

[2022-08-30 23:27] BenHenning commented on #4546
@veena14cs can you PTAL at this since it is a breakage that was introduced as part of the TOS PR? Also, have you verified all of the sharedTests that were changed via Espresso to make sure they still work correctly?

[2022-08-31 09:43] rt4914 commented on #4178
This has been finished. The related PRs are https://github.com/oppia/oppia-android/pull/4379 & https://github.com/oppia/oppia-android/pull/4380

[2022-08-31 09:43] #4178 closed, assigned to nobody

[2022-08-31 09:46] rt4914 commented on #3892
@BenHenning Makes complete sense. I will try to see what best solution can be implemented for non-sighted users.

[2022-08-31 11:02] rt4914 commented on #1590
@BenHenning Can this issue be worked on, or it needs more product details ? cc: @seanlip

[2022-08-31 11:02] rt4914 commented on #4200
Great. Closing this now.

[2022-08-31 11:02] #4200 closed, assigned to MohitGupta121

[2022-08-31 11:06] rt4914 commented on #4504
@Chandra-Sekhar-Bala Yes adding padding is a better way to solve this. Basically follow these guidelines:
- Avoid giving fixed width/height
- Add padding to all sides of text -- inside button
- Use `sp` for textsize and dp for everything else.

These guidelines should be sufficient to solve this issue.

[2022-08-31 13:26] Akshatkamboj14 commented on #3169
Hey, @seanlip I want to confirm that we need to change the default text to `"Please select all correct choices"` instead of `"Please select one or more choices."` and we need to disable the other options after selecting the max number of choices, is that all? or there are other things as well?

[2022-08-31 17:56] seanlip commented on #3169
This is correct, but the first one is done already right? See https://github.com/oppia/oppia-android/pull/4493.

[2022-08-31 17:59] seanlip commented on #1590
I'm not particularly convinced that it needs to be done -- I think this is really a design question. I haven't actually seen many apps that do this though.

@rt4914 You mention that this is "to ensure the UI does not look bad". Could you please provide some examples of what the "bad UI" looks like? Then I can help take this forward.

[2022-08-31 18:03] MohitGupta121 commented on #1590
@seanlip actually I implemented shimmer effect in one project. So I share recording of that just for example.

https://user-images.githubusercontent.com/76530270/158065537-8558a79d-c9f4-40ee-a304-807034d7de84.mp4

@rt4914 you thinking about this type or something else?

[2022-08-31 18:06] seanlip commented on #1590
Thanks -- to clarify though, I know what the shimmer effect looks like! My main question is what the alternative is (i.e. what does not doing it look like).

[2022-08-31 18:09] MohitGupta121 commented on #1590
Okay that.

[2022-08-31 20:54] seanlip commented on #4086
Thanks @BenHenning! Sounds good -- assigning to @om-khandade to supply the icon so that it can be replaced.

[2022-09-01 00:47] findimue commented on #4409
Yes, I think the colors of the confetti in dark mode need to be changed/lightened up.

[2022-09-01 03:00] KolliAnitha commented on #4544
@BenHenning, audio seems to be consistently slow across the pages in the chapter. Earlier on clicking continue the audio played instantly, but now it is taking time and as a user I am not aware of it and clicking on the play button to start the audio.

[2022-09-01 05:45] findimue commented on #4409
I suggest changing the colors in dark mode to these accent colors from our Oppia Design Guide.
The yellow would be changed to #EFCF24.
The red would be changed to #EA6390.
The blue would be changed to #49A9E5.
![Swatches for Confetti in Dark Mode](https://user-images.githubusercontent.com/34294292/187840440-83f09110-8be8-4741-8892-1cb3cdffd245.svg)

[2022-09-01 06:38] seanlip commented on #4409
Thanks @findimue!

@MohitGupta121 -- would you like to take this up, per our discussion in the meeting?

[2022-09-01 06:43] MohitGupta121 commented on #4409
Okay sure @seanlip I start working on this also.

[2022-09-01 16:16] rt4914 commented on #4030
All these instructions with more details have been mentioned on wiki https://github.com/oppia/oppia-android/wiki/Dark-Mode

[2022-09-01 16:16] #4030 closed, assigned to ayush0402

[2022-09-01 16:26] seanlip commented on #3457
@rt4914 is taking a look at this and will provide an update after 15 Sept -- we might want to revise our plans here now that the whole app is fully RTL'd.

[2022-09-01 16:57] rt4914 commented on #4360
This looks like a duplicate of https://github.com/oppia/oppia-android/issues/3432

@BenHenning Can I close this issue?

[2022-09-01 17:00] rt4914 commented on #4359
Duplicate https://github.com/oppia/oppia-android/issues/3893

[2022-09-01 17:00] #4359 closed, assigned to nobody

[2022-09-01 18:02] Akshatkamboj14 commented on #3169
Okay, @seanlip is there anything else except this?

[2022-09-01 18:07] seanlip commented on #3169
No, that's all (assuming that by "this" you mean the second thing you mentioned, i.e. disabling the other options).

[2022-09-01 18:10] Akshatkamboj14 commented on #3169
Okay thanks @seanlip

[2022-09-01 22:10] rt4914 commented on #1812
The topic size is getting correctly displayed in `Info` tab. Tested on `0.8-alpha-091b45a188`

[2022-09-01 22:10] #1812 closed, assigned to nobody

[2022-09-01 22:23] rt4914 commented on #2962
I have checked this with alpha app on following screen and the images do fit correctly.
- Home screen-topics & promoted stories
- Recently Played screen
- Profile Chooser
- OngoingTopicList
- CompletedTopicList
- RevisionCard Tab
- StoryActivity
- ResumeLesson

Closing this now.

[2022-09-01 22:23] #2962 closed, assigned to nobody

[2022-09-01 22:24] rt4914 commented on #3283
Tested this on latest `0.8-alpha` and works correctly. Closing this now.

[2022-09-01 22:24] #3283 closed, assigned to nobody

[2022-09-02 00:01] BenHenning commented on #4360
SGTM. Closing as a duplicate.

[2022-09-02 00:01] #4360 closed, assigned to nobody

[2022-09-02 00:13] BenHenning commented on #1590
@seanlip Essentially all data that shows up on screens in the app is technically asynchronous. For most devices, this loads fast enough that the user doesn't notice any abrupt UI changes. On slower devices (or with artificial delays, which is something we could consider adding) it's much more noticeable. While we're not particularly attached to adding a shimmer in particular, having a general way

[2022-09-02 04:08] seanlip commented on #1590
Thanks for the detailed explanation, Ben. Sounds good -- I have updated the priority and labels accordingly. I also agree with the assessment that this is not a high-priority task and that more design work is needed here.

[2022-09-02 06:32] #4334 closed, assigned to Sarthak2601

[2022-09-02 08:25] om-khandade commented on #4086
![Group 1(5)](https://user-images.githubusercontent.com/63059690/188097377-51b4ca25-6ed7-45f0-b2a1-6a29fac6beaa.svg)
Here is the icon to be used.

[2022-09-02 19:43] seanlip commented on #4086
Thanks, @om-khandade!

@pratyaksh1610 -- I think you can now go ahead with this, if you'd like to. Thanks!

[2022-09-03 07:14] pratyaksh1610 commented on #4086
@seanlip  Thankyou for assigning me, I am working on it.

[2022-09-04 05:51] saudAnwar786 commented on #3558
hello @rishidyno assign this to me

[2022-09-04 19:39] Chandra-Sekhar-Bala commented on #4504
@rt4914 Got it, thanks. I will make a PR :-)

[2022-09-05 09:52] #4546 closed, assigned to veena14cs

[2022-09-05 16:05] #4335 closed, assigned to Sarthak2601

[2022-09-06 07:05] Sarthak2601 opened #4557 "Introduction of a robust approach to verify proper screen name usage in activities."
Per the new analytics implementation, every activity must have a dedicated screen name. After merging of #4462, we have a hacky approach to verify the presence of a test that verifies the presence of a screen name for the activity. However, this check doesn't verify the correctness of the screen name value -- hence, we must introduce a robust approach to solving this problem.

[2022-09-06 16:01] Akshatkamboj14 opened #4561 "Doesn't have Dark Mode Mock for the newly implemented Text view in audio_fragment.xml."
**Newly Implemented TextView doesn't have Dark Mode Mock in the audio_fragment.xml.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `audio_fragment.xml`
2. Scroll down to Bottom, there you will find the newly implemented TextView.

![image](https://user-images.githubusercontent.com/92685493/188682379-ac6ff6ce-9718-4ed9-8496-8d0a02d39048.png)

[2022-09-07 07:30] BenHenning opened #4562 "Add comprehensive internationalization and localization validation checks"
TODO: fill in this description from my original WIP TDD.

-----

Notes from @seanlip: We should implement at least the checks that we do on Web. We have found breaking changes due to incorrectly-formatted translatewiki strings that result in last-minute release delays (see e.g. #5034) so this issue is bumped to high priority and is now being treated as a bug. Here are the checks that we currently

[2022-09-07 07:37] BenHenning opened #4564 "Introduce support for dynamic DataProvider transformations"
There are various places in the codebase that require creating a DataProvider from the input of another. This isn't possible today with existing DataProvider transformations or combinations and actually requires a new API altogether of the form:

[code]

Interestingly, this results in subscriptions that change over time. I think in order to have predictability, the following behaviors should exist

[2022-09-07 09:06] KevinGitonga commented on #2391
@BenHenning @veena14cs Not able to reproduce this on google pixel emulator, please see on attached video. What Android API is this happening on. Or was fixed by some of the previously merged commits?

https://user-images.githubusercontent.com/20886444/188838406-92cc79c2-1d31-46db-adac-07d1933afdbf.mp4

[2022-09-07 09:22] BenHenning commented on #2391
Thanks @KevinGitonga. Per the recent work @veena14cs and I completed in separate PRs and the nature of the error, I think it's quite likely this issue has already been resolved. The verification is helpful--marking this as closed since it seems to now be fixed.

[2022-09-07 09:22] #2391 closed, assigned to BenHenning, veena14cs

[2022-09-07 11:43] BenHenning opened #4567 "Fast-follow items from Beta MR1 (mainly reviews and PR descriptions)"
PRs that need to be post-merge reviewed:
- #4566
- #4418
- #4417
- #4563
- #4421
- #4555
- #4411
- #4081
- #4556
- #4575
- #4576
- #4565

PRs that have additional work items to complete:
- #4418: Check Espresso tests in follow-up PR, and include those in the PR description
- #4417: The PR description needs to be finished (particularly around screenshots/videos).
- #4555: Finish the PR description

[2022-09-07 12:45] #3611 closed, assigned to BenHenning

[2022-09-07 12:45] #4366 closed, assigned to BenHenning

[2022-09-07 12:45] #4323 closed, assigned to BenHenning, KolliAnitha

[2022-09-08 05:40] #2432 closed, assigned to BenHenning

[2022-09-08 05:40] #4300 closed, assigned to BenHenning

[2022-09-08 07:40] #4389 closed, assigned to BenHenning

[2022-09-08 07:40] #4407 closed, assigned to BenHenning

[2022-09-08 09:39] BenHenning commented on #4435
It seems multiplication will also be excluded due to missing pt-BR translations (as of now), but the other 5 topics should be good to go. I've pulled them and have them standing by for when the beta release can be cut.

[2022-09-08 10:06] #4224 closed, assigned to BenHenning

[2022-09-08 10:06] #4306 closed, assigned to BenHenning

[2022-09-08 12:01] #4285 closed, assigned to BenHenning, KevinGitonga

[2022-09-08 12:01] #4394 closed, assigned to BenHenning

[2022-09-08 13:55] MohitGupta121 commented on #4177
@rt4914 In **Revision Card tab in third PR** also add dark_mode in Revision Card Fragment (after clicking on card Fragment) ? Or only Revision Card Tab Activity ?

[2022-09-08 23:46] JishnuGoyal opened #4574 "Add tests to verify hints on custom input interaction views show up correctly [blocked on #1815]"
Test the functionality fixed post #4556 merger using screenshot testing. This will be possible when the support for screenshot testing is added.

[2022-09-09 00:51] #4002 closed, assigned to BenHenning, JishnuGoyal

[2022-09-09 08:43] #4409 closed, assigned to MohitGupta121

[2022-09-09 08:54] #4509 closed, assigned to JishnuGoyal

[2022-09-09 09:13] BenHenning commented on #4435
Confirming that the assets script has been updated successfully to pull in the following (expected) topics for Beta MR1:
- Place Values
- Addition and Subtraction
- Division
- Fractions
- Ratios and Proportional Reasoning

Verification screenshot:

![image](https://user-images.githubusercontent.com/12983742/189315547-efc383e8-9188-418e-97dd-9cecd5f83a33.png)

[2022-09-09 09:13] #4435 closed, assigned to BenHenning

[2022-09-09 09:43] BenHenning commented on #4301
Confirming that the Play Store description is not yet updated. Specifically, the feature graphic and screenshots need updating before I think we can release.

I don't plan to do any of the generic work listed above during this release, but it's being considered as part of the broader release automation work.

[2022-09-09 09:47] BenHenning commented on #4351
Confirming this has been fixed in the latest pull of content:

https://user-images.githubusercontent.com/12983742/189322540-26a2c832-651e-4600-bae4-46d78e08226e.mp4

[2022-09-09 09:47] #4351 closed, assigned to BenHenning

[2022-09-09 13:30] #3821 closed, assigned to BenHenning, srushtirk

[2022-09-09 14:03] #4413 closed, assigned to BenHenning, isalooo

[2022-09-09 14:26] #4348 closed, assigned to BenHenning

[2022-09-10 03:07] BenHenning opened #4578 "Update app to target SDK 31"
We won't be able to deploy to Play Store after November until we start targeting SDK 31.

Here's the initial changelog of things to audit in the app: https://developer.android.com/google/play/requirements/target-sdk.

[2022-09-10 03:12] BenHenning commented on #4301
It seems the description is now fully updated on Play Console and is just waiting for Google approval. Marking this as fixed.

[2022-09-10 03:12] #4301 closed, assigned to BenHenning, isalooo

[2022-09-10 04:21] KolliAnitha commented on #4301
Unable to verify the message as the app is not yet moved to LIVE.
![Screenshot_2022-09-10-09-14-18-90_b5a5c5cb02ca09c784c5d88160e2ec24](https://user-images.githubusercontent.com/101634267/189468801-12286b0a-92f2-4f9f-af46-dd7e902ff65a.jpg)

[2022-09-10 04:32] KolliAnitha commented on #4413
Oppia logo is now changed below.
![Screenshot_2022-09-10-09-58-58-80_3f76808b89d2117205aad87459958156](https://user-images.githubusercontent.com/101634267/189468767-3b4ed788-c921-4f46-a00a-0bd49a8c0c2e.jpg)

[2022-09-10 04:48] KolliAnitha opened #4579 "The home screen is blank on opening beta app"
**Describe the bug**
The home screen is blank on opening beta app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Playstore'
2. Install Oppia
3. Open Oppia app
4. See error

**Expected behavior**
Home page should open with Explorations

**Demonstration**
![Screenshot_2022-09-10-10-14-59-71_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/189469

[2022-09-10 04:53] BenHenning commented on #4579
I'm aware of this issue, and beta users shouldn't hit it unless they're upgrading from alpha (which I don't think we're expecting anyone to, but this is a good FYI @isalooo).

This will happen if you have saved progress for the one topic we had to drop from the release (Multiplication), so it's more likely to affect you @KolliAnitha. You can work around it by either clear data for the app, or by a

[2022-09-10 05:02] BenHenning opened #4580 "Audio voiceovers continue to play when quickly dismissing the audio bar"
**Describe the bug**
It's possible for audio to continue playing even when the audio bar is hidden.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a lesson that has voiceovers.
2. Click the headphone icon to bring up the audio bar.
3. Right before autoplay starts, click the headphone icon to collapse the audio bar.
4. Observe that audio still starts playing despite the bar no longer be

[2022-09-10 05:12] KolliAnitha commented on #4544
The Audio is working properly, there is no pause as earlier in beta version of the app

[2022-09-10 05:12] #4544 closed, assigned to nobody

[2022-09-10 05:33] KolliAnitha commented on #3611
On uninstalling and reinstalling the app we see issue #4518. To reset admin PIN now on clicking Forgot PIN, Reset oppia button is seen which deletes data. On reopening the data user can set the pin.

[2022-09-10 05:39] KolliAnitha commented on #1390
Terms of service and Privacy policy is seen on logging in for the first time, Navigation bar
![Screenshot_2022-09-10-11-08-42-43_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/189470808-7135024e-993e-4dfb-9e55-84742573622e.jpg)
![Screenshot_2022-09-10-11-05-01-83_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/189470811-a

[2022-09-10 05:45] KolliAnitha opened #4581 "Privacy policy hyperlink is not opening in Terms of Service"
**Describe the bug**
Privacy policy hyperlink is not opening in Terms of Service

**To Reproduce**
Steps to reproduce the behavior:
1. Install Oppia and Open it
2. Click on Next to get to the last page where Terms of Service link is present
3. Click on Terms of Service
4. Scroll down and click on Privacy policy link

**Expected behavior**
On clicking Privacy policy link it should open the privacy

[2022-09-10 12:38] pratyaksh1610 commented on #4581
@KolliAnitha It should open the web page of privacy policy on the web or the privacy policy page which is in the app itself ?

[2022-09-10 15:35] KolliAnitha opened #4582 "Incorrect number is read by voiceover for a question in What is the placevalue"
**Describe the bug**
Incorrect number is read by voiceover for a question in What is the placevalue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Place Values' - What is the Placevalue
2. Click on 'Continue' till you reach the question 'In the number 5971 which number is in tens place'
3. Tap on the Audio button
4. Listen to the Audio

**Expected behavior**
The voiceover should read

[2022-09-10 17:12] Smarshal21 opened #4583 "Deprecated protobuf version"
**Describe the bug**
Could not resolve all files for configuration ":model:protobufToolsLocator_protoc'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the oppia android repository
2. Clone the project to your system
3. Try Running the app on your physical device/emulator
4. See error

**Expected behavior**
The app should run perfectly with the updated protobuf version

**Demonstratio

[2022-09-10 17:34] Smarshal21 commented on #4583
Hi @BenHenning,

I have found the solution of this bug for mac m1 chip.
Basically it's like for the older versions of the protobuf there is no executable jars for the mac m1 arm architecture so we need to update the protobuf version for the project so that we can also support arm based architecture chips.

Shall I make a Pull Request for this issue or do you like to further discuss about the solut

[2022-09-11 05:40] KolliAnitha commented on #4323
App opens properly on every tap on the icon in the beta version.

[2022-09-11 05:43] KolliAnitha commented on #4300
beta notice is seen on upgrading from alpha to beta.
![4f00931b-df7e-409d-88ca-775964cfe81c](https://user-images.githubusercontent.com/101634267/189514214-4c937f00-c2ce-446d-be4f-00d266ce2d59.jpg)

[2022-09-11 19:04] vrajdesai78 opened #4586 "Improve text scaling according to accessibility scanner"
**Describe the bug**
In Android 12, accessibility scanner is showing suggestion to improve text scaling for cases in which we have set fixed width or height of view group which will create a problem in scaling test.

**Expected behavior**
Accessibility scanner should not show any improvements for text scaling

**Demonstration**
![image](https://user-images.githubusercontent.com/43074241/189544669-

[2022-09-12 01:35] KolliAnitha commented on #4285
Reading text size and audio are applied in the exploration in beta version

[2022-09-12 01:38] KolliAnitha commented on #4435
Beta version has only the below chapters. Working as expected.
Place Values
Addition and Subtraction
Division
Fractions
Ratios and Proportional Reasoning

[2022-09-12 02:09] KolliAnitha commented on #4002
Profiles with internationalized names can be created now in beta version.

[2022-09-12 02:13] KolliAnitha commented on #4394
User is able to change the reading text size in non-english language(Portugese) in beta version.

[2022-09-12 04:50] KolliAnitha opened #4588 "On logging in for the first time, Recommended stories are not displayed in the home page"
**Describe the bug**
On logging in for the first time, Recommended stories are not displayed in the home page

**To Reproduce**
Steps to reproduce the behavior:
1. Install Oppia and open it
2. Login as Admin and create a profile
3. In the Home page under Good morning, <user name> verify that Recommended story is displayed
4. See error

**Expected behavior**
As earlier Recommended story section wit

[2022-09-12 06:30] KolliAnitha opened #4589 "Select a Topic to Start is seen instead of All Stories in the Home page"
**Describe the bug**
Select a Topic to Start is seen instead of All Stories in the Home page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Oppia'
2. Login as Admin
3. Scroll down to 'Select a Topic to start'

**Expected behavior**
All Topics must be displayed

**Demonstration**
![Screenshot_2022-09-12-10-17-41-78_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubuserconten

[2022-09-12 07:07] KolliAnitha opened #4590 "Suggestion: In Equivalent fractions exploration, for a question it is better to suggest users to enter fraction instead of number"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fractions' - Equivalent Fractions
2. Click on 'Continue' till you reach the question 'Can you write 2/3 as a fraction in the form x/12?'
3. Enter 8 as solution

Suggestion:
On entering number No, That's not right. Let's practice this skill again is displayed. Instea

[2022-09-12 07:21] KolliAnitha opened #4591 "Incorrect answer responses are not displayed for a question in Mixed numbers and the Number Line 1"
**Describe the bug**
Incorrect answer responses are not displayed for a question in Mixed numbers and the Number Line 1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fractions' - Mixed numbers and the Number Line 1
2. Click on 'Continue' till you reach the question 'In this picture how many squaers are red?
3. Enter 5 1/12
4. See error

**Actual behavior**
Submit button is disabled

[2022-09-12 18:41] #3892 closed, assigned to vrajdesai78

[2022-09-12 19:43] #4504 closed, assigned to Ryggs

[2022-09-13 04:21] KolliAnitha commented on #4351
Working fine in beta version.
![Screenshot_2022-09-13-09-49-31-61_943a62cb4c6fb83e010e1c2e82766a17](https://user-images.githubusercontent.com/101634267/189807997-992c3735-a1a9-4dc3-9e82-5239122fdd3a.jpg)

[2022-09-13 15:11] dika1osune commented on #4579
Experienced the same issue but only on admin profile. I was upgrading from alpha. The other user displays all 5 Topics

[2022-09-14 04:54] BenHenning commented on #4591
This is definitely a serious issue that could warrant a re-release of beta since it permanently breaks the player flow. I'll need to investigate this.

[2022-09-14 04:57] BenHenning commented on #4590
@seanlip assigning to you since this is a content suggestion (or is there a board I can add it to?).

[2022-09-14 04:58] BenHenning commented on #4589
This is the new behavior, so we can update the corresponding test case. "Select a Topic to Start" is the new header to replace the old "All Topics" wording.

[2022-09-14 04:58] #4589 closed, assigned to nobody

[2022-09-14 04:58] BenHenning commented on #4588
This is the new, expected behavior so we can update the corresponding test case. Recommended stories only appear after the first visit by a profile (so they should show up in all subsequent visits).

[2022-09-14 04:58] #4588 closed, assigned to nobody

[2022-09-14 05:00] BenHenning commented on #4583
Nice find @Samanwith21. Sure, we can try to update protoc, though it may cause issues with the Gradle build since that protoc setup has historically been finicky when we change versions.

[2022-09-14 05:02] BenHenning commented on #4582
Hmm, this is rather odd. I'm not sure why Talkback would read the wrong number, so we'll need to try and repro this locally to investigate it.

[2022-09-14 05:04] BenHenning commented on #4581
Thanks @KolliAnitha, this is a good catch.

The link in this case should open in the app.

@veena14cs this looks like a bug with your recent PR--can you PTAL?

[2022-09-14 05:08] seanlip commented on #4590
Please use this board: https://github.com/orgs/oppia/projects/25/views/1 . Thanks!

[2022-09-14 05:12] BenHenning commented on #4579
Thanks @dika1osune.

It looks per another issue that was filed that we may need to release another version of MR1, so I'll take this to see if I can opportunistically fix it.

[2022-09-14 05:20] BenHenning commented on #4544
Interesting. I'm not sure why the beta changes affected this. It may be worth checking this behavior in future releases of the app, too, just to make sure that it isn't an environment issue (e.g. temporary poor network connectivity, or the like).

[2022-09-14 11:28] Smarshal21 commented on #4583
@BenHenning
i have tried updating the protobuf and the app is running fine,
shall i create a PR depicting the solution ???

[2022-09-14 12:38] rt4914 commented on #3457
**Suggested New Approach**
1. Static Check for all non-RTL supportive attributes, this includes attributes like `marginLeft`, `marginRight`, `paddingLeft`, `paddingRight`, `gravity-left`, `gravity-right`, `layout-gravity-left`, `layout-gravity-right`, etc.

So basically if any xml file or data binding file ends up having `left`, `Left`, `right` or `Right` keywords, in that case the static check sh

[2022-09-14 18:00] rt4914 commented on #3457
@BenHenning Any thoughts on the above comment.

[2022-09-14 20:15] BenHenning commented on #3457
@rt4914 we already have checks for (1) I think, but they may need more cases added. See: https://github.com/oppia/oppia-android/blob/f99fa1d8653e23f8d22e1584a9fb1793aaa19acd/scripts/assets/file_content_validation_checks.textproto#L61

For (2), is it true we always set marginStart and marginEnd together? I'm not as sure about that since marginStart should automatically flip in RTL cases, so I could

[2022-09-14 23:46] BenHenning commented on #4583
Yep @Samanwith21. CI will help indicate if everything is working as expected (particularly since we use both Gradle and Bazel for building, and both will need to be updated to move off of the old protoc version).

[2022-09-15 00:02] BenHenning commented on #4525
This is a duplicate of #4509, so it should be fixed now.

[2022-09-15 00:02] #4525 closed, assigned to nobody

[2022-09-15 00:10] BenHenning commented on #4516
Now that #1390 is completed, can you re-check this @KolliAnitha? We've fixed nested alignment issues generally, so I'm hoping that this looks correct now.

[2022-09-15 00:11] BenHenning commented on #4515
Per @seanlip's comment above, this should be fixed in the latest beta since it contains newly pulled content. Please verify.

[2022-09-15 00:11] #4515 closed, assigned to BenHenning

[2022-09-15 00:27] KolliAnitha commented on #4516
@BenHenning, I have rechecked the issue in beta version, it looks the same. Please find the below screenshot.
![Screenshot_2022-09-15-05-54-34-30_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/190285694-a7e33841-ada0-4976-9fde-f04863d87556.jpg)

[2022-09-15 01:12] BenHenning commented on #4353
This actually slipped my radar since we were expecting to release another alpha before beta. This is actually pretty important to try and address for the in-flight beta version as it's another indicator that some lessons cannot be completed outright.

[2022-09-15 01:15] BenHenning commented on #4341
This should be fixed given Sean's earlier comment. @KolliAnitha could you please verify in the latest beta version?

[2022-09-15 01:15] #4341 closed, assigned to BenHenning

[2022-09-15 01:16] BenHenning commented on #4331
Now that #3852 has been merged, can you check this again @KolliAnitha to see if it's still an issue?

[2022-09-15 01:18] BenHenning commented on #4330
Per Sean's comment above, this should now be fixed. Could you please verify @KolliAnitha with the latest beta release?

[2022-09-15 01:19] BenHenning commented on #4316
@KolliAnitha does this still happen with the latest beta version of the icon?

[2022-09-15 01:47] KolliAnitha commented on #4316
@BenHenning, tested the contrast ratio. It still fails
![Screenshot_2022-09-15-07-16-11-89_80a9469f53bfe75dbc6e8989be28e2f0.jpg](https://user-images.githubusercontent.com/101634267/190293974-dab7ec0d-0056-44a5-add6-b53aa28d8fbb.jpg)

[2022-09-15 01:51] KolliAnitha commented on #4330
@BenHenning, Topic: Expressions and Equations is not available in the beta version as per #4435

[2022-09-15 01:56] KolliAnitha commented on #4331
@BenHenning, Topic: Expressions and Equations is not available in the beta version as per https://github.com/oppia/oppia-android/issues/4435

[2022-09-15 03:35] seanlip commented on #4353
I think this is a content issue and that the rule is supposed to be "matches up to commutativity and associativity". However I can't test it because of https://github.com/oppia/oppia/issues/16058.

Added to the content tracker, let's keep it assigned to me. Note however that this exploration isn't in the beta.

[2022-09-15 03:53] BenHenning opened #4594 "Implement triaging helper"
**Is your feature request related to a problem? Please describe.**
When triaging, there are specific criteria that must be met to ensure that the issue is properly triaged. Furthermore, it's nice to get quick acknowledgement after filing an issue.

**Describe the solution you'd like**
A GitHub Action that automatically replies to incoming issues with a message like: "Thanks for filing the issue, w

[2022-09-15 04:51] BenHenning commented on #1266
E2e testing was technically completed during 2021 GSoC. We still need to incorporate these in our CI workflow, and determine how to expand them to cover all the cases that we're interested in, but I think that's worth filing as new issues once we want that.

[2022-09-15 04:51] #1266 closed, assigned to nobody

[2022-09-15 04:52] BenHenning commented on #1129
Note that an enum was introduced recently for many of the existing backflow cases, so the next steps are auditing what else remains.

[2022-09-15 04:54] BenHenning commented on #1069
So for the sake of managing long-term projects, closing this now that lightweight checkpointing has been fully implementing. We may want to implement "full checkpointing" for parity with web in the future, but it's not currently on our roadmap.

[2022-09-15 04:54] #1069 closed, assigned to nobody

[2022-09-15 05:01] BenHenning commented on #562
NB: Considering this part of developer workflow since it could be a nice case study for screenshot testing once that infrastructure is introduced.

[2022-09-15 05:24] BenHenning commented on #2249
Considering this part of dev workflow since we're likely going to need to introduce custom infra in order to test this correctly.

[2022-09-15 05:34] BenHenning commented on #3828
So looking at this again, I don't actually think this is a bug. The audio language is selected independently of the device language, and we don't currently have support for automatically populating the audio language based on the device language.

[2022-09-15 05:34] #3828 closed, assigned to nobody

[2022-09-15 05:35] BenHenning commented on #3825
Per Rajat's comment, this is a duplicate of #4006.

[2022-09-15 05:35] #3825 closed, assigned to nobody

[2022-09-15 05:41] BenHenning commented on #3708
I'm taking this to mean fixing the content descriptions in the test exploration that includes an image region selection instance.

[2022-09-15 05:44] BenHenning commented on #3135
The search icon was removed in #3736 as we're not planning to introduce search functionality for the foreseeable future.

[2022-09-15 05:44] #3135 closed, assigned to nobody

[2022-09-15 06:16] BenHenning commented on #3481
@TheDutchDevil this fell off my radar, but I'm revisiting all issues in the repository as part of a full-scale triage operation. Is this research project still ongoing? If the overhead for the team is minimal, I'm not opposed to joining the study.

[2022-09-15 07:25] BenHenning commented on #1746
Closing this in favor of #1815 tracking the overall effort.

[2022-09-15 07:25] #1746 closed, assigned to nobody

[2022-09-15 07:28] BenHenning commented on #1407
I think we've done all of these at this point (though the last point we could do more of, but the current same-repo actions are very limited so there's not a lot we can do there at the moment).

[2022-09-15 07:28] #1407 closed, assigned to vinitamurthi

[2022-09-15 07:31] BenHenning commented on #762
I think this isn't quite worth tracking at this point since remote profile support is not on the team's planned roadmap. Once it is, we'll need to revisit the integration with the entire app, including ProfileChooserActivity.

[2022-09-15 07:34] BenHenning commented on #762
Ah, we'll need to remove that TODO. Triaging for now.

[2022-09-15 07:42] BenHenning commented on #3933
NB: Keeping the impact as high since the current apply-based approach that we use can actually result in incorrect code at runtime (that's actually caused more more than one investigation headache).

[2022-09-15 09:29] Smarshal21 commented on #4583
@BenHenning can i get the access to push the changes into a new branch ?

[2022-09-15 09:34] BenHenning commented on #55
At this point, it doesn't seem particularly important to support this since the number of topics is small. We can revisit this as a feature once there's an observed error to solve.

[2022-09-15 09:37] seanlip commented on #4583
You can make a PR the standard way. See instructions [here](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android).

[2022-09-15 23:29] BenHenning opened #4597 "Generate routine report for release automation, including supported embeddable assets"
**Is your feature request related to a problem? Please describe.**
Right now, it's difficult for the content team to have a clear sense of which changes will be making it into a particular release.

**Describe the solution you'd like**
A regularly generated report detailing the exact content (including versions) that would be included in the next release, if it were cut then, available on the wiki

[2022-09-16 04:39] BenHenning commented on #1834
I think it may not make sense to update the wiki per the original plan of this issue. Artifacts from CI are only kept available for a limited amount of time, and I'm not sure it's worth going through the effort of having a permanent place for development builds. Developers can just build the app.

Instead, we should move to a model where Play Store can be easily accessed for non-developer team mem

[2022-09-16 04:39] #1834 closed, assigned to BenHenning

[2022-09-16 04:42] BenHenning commented on #1126
This is no longer needed. Per https://github.com/oppia/oppia/blob/develop/core/android_validation_constants.py#L44 it's not valid to save Android-targeting lessons that include noninteractive links. That being said, some existing lessons _do_ have these links, but they're being actively phased out.

[2022-09-16 04:42] #1126 closed, assigned to nobody

[2022-09-16 04:47] BenHenning commented on #502
While this may be a desirable feature, we should reaudit the entirety of the question player ahead of a future project to revamp question flows based on identified needs. At the moment, questions are disabled for production builds and are planned to be for the foreseeable future since the team is currently focusing on core lessons.

[2022-09-16 04:48] BenHenning commented on #501
See https://github.com/oppia/oppia-android/issues/502#issuecomment-1248915147.

[2022-09-16 04:50] BenHenning commented on #248
@rt4914 is correct that this is a duplicate of #501.

[2022-09-16 04:51] BenHenning commented on #247
Given that questions are on hold, closing this for now. Much of the calculation work has been checked in and I suspect it will be relevant when we revisit assessments & mastery in the future.

[2022-09-16 04:53] BenHenning commented on #207
Neither of these are needed right now, and we can revisit this if statistical classification is needed in the future.

[2022-09-16 04:53] BenHenning commented on #191
FWIW I think this problem still exists, though injecting custom ViewModel factories (which we now do in a few places) might be the solution.

[2022-09-16 04:56] BenHenning commented on #186
So we've moved more toward this type of a structure, though part of it will depend on moving to more structured protos (which is planned as part of downloads). Other than that, we are also planning on having a proto abstraction layer above web's normal JSON data so that the client doesn't need to reason about what sorts of schema structures it supports (since it will be operating with separate pro

[2022-09-16 05:08] BenHenning commented on #420
I think this is less of a concern now that we have regular QA testing, and it'll be better once we have screenshot tests.

[2022-09-16 05:08] #420 closed, assigned to nobody

[2022-09-16 05:11] BenHenning commented on #370
I actually think this issue changed meanings over time. We'll organically move to a hybrid model of embedded & downloadable lessons, even for developers. Per the original intention of this issue, we don't hardcode anything in the app anymore (as demonstrated by multiple user-facing releases that rely on different lesson data than what's available locally for developers).

[2022-09-16 05:11] #370 closed, assigned to BenHenning

[2022-09-16 05:16] BenHenning commented on #3970
I actually haven't seen this issue in some time. Locally, the only problem I have with these tests is them timing out, but the SIGSEGV doesn't seem to occur when using Java 9+.

[2022-09-16 05:25] BenHenning commented on #48
This is essentially complete now (we have an options page from which we can add more settings in the future).

[2022-09-16 05:25] #48 closed

[2022-09-16 05:31] BenHenning commented on #39
This has been replaced with the new proto API which will account for this.

[2022-09-16 05:31] #39 closed

[2022-09-16 05:32] BenHenning commented on #37
#38 obviates the need for this since there won't be web-specific payloads in the proto versions.

[2022-09-16 05:32] #37 closed

[2022-09-16 05:34] BenHenning commented on #36
I think these principles have been developed organically, but now that we have thousands of tests such strategy is less relevant. We're moving toward a well-structured approach with the introduction of requiring test files, and the later requirement of meeting specific testing code coverage.

[2022-09-16 05:34] #36 closed

[2022-09-16 06:31] BenHenning commented on #1760
Duplicate of, and replaced by, #2641.

[2022-09-16 06:31] #1760 closed, assigned to nobody

[2022-09-16 06:50] BenHenning commented on #1131
NB: The requirements outlined here need to be updated to reflect the modern triage process.

[2022-09-16 06:52] BenHenning commented on #179
Per the comment above, closing this since it's unlikely that we'll actually need it (and haven't so far). Plus, once the new proto APIs are introduced in Oppia web to facilitate downloads we'll be able to explicitly prohibit allowing the client to have access to explorations with parameters.

[2022-09-16 08:36] #3822 closed, assigned to nobody

[2022-09-16 09:30] BenHenning commented on #179
The AI here is to remove the TODO from code so that the issue can be closed.

[2022-09-16 09:31] BenHenning commented on #3970
Hmm, I think we might want to keep the retrying logic long-term as it really improves test stability without a noticeable major impact on CI time. I think that, based on this, we should remove the TODOs and close this issue.

[2022-09-16 09:32] BenHenning commented on #186
Ah, let's resolve this TODO properly once the proto structures are available to use.

[2022-09-16 09:33] BenHenning commented on #207
The AI here is to remove that TODO and close this issue.

[2022-09-16 09:35] BenHenning commented on #247
Per the TODO, let's finish the rest of the project; that does seem reasonable.

[2022-09-16 09:36] BenHenning commented on #248
The AI here is to remove the TODO & close this issue.

[2022-09-16 09:36] BenHenning commented on #501
The AI here is the remove the TODO and close this issue.

[2022-09-16 09:37] BenHenning commented on #502
I mentioned this in a related issue, but let's finish this project since it's already in-flight.

[2022-09-16 09:53] BenHenning commented on #4353
Good catch re: E+E @seanlip. I assumed this arose from some of the rules not having valid inputs and hence failing to be interpreted by the app. Is that not the case here?

[2022-09-16 09:53] BenHenning commented on #4331
Ah good catch. We'll need to check this with the next alpha push.

[2022-09-16 09:54] BenHenning commented on #4330
Ditto here. Reopening until we can verify this in the next alpha push.

[2022-09-16 09:55] BenHenning commented on #4316
Thanks for checking @KolliAnitha.

This will need UX guidance for how to proceed. We may need to consider alternate colors at this point to ensure correct contrast.

[2022-09-16 09:56] seanlip commented on #4353
Er, sorry, not sure what you mean by "clean input". Can you rephrase that?

My take that it's due to us using a "matches exactly" rule rather than one that allows commutativity and associativity, but I have not been able to check that yet.

[2022-09-16 09:56] BenHenning commented on #4516
Thanks @KolliAnitha! It looks like the horizontal spacing is fixed now, but there appears to be extra vertical spacing (maybe from extra tags).

[2022-09-16 10:01] BenHenning commented on #4353
Sorry, by "clean input" I mean input which would pass the extra submit-time validation checks we impose in the app on these types of expressions (such as having redundant parentheses, among others). That being said, I think we lifted the requirement that rule inputs need to follow those checks, so it may not be that issue.

[2022-09-17 18:42] JishnuGoyal opened #4599 "Add dark mode for Topic lessons tab"
Add dark mode support for the new recycler view design introduced in #4535.

[2022-09-18 05:13] MohitGupta121 commented on #4147
@rt4914 or @BenHenning Can I take this issue or wait till all dark mode complete ?

[2022-09-19 04:28] bhaktideshmukh opened #4600 "Doesn't have dark mode mock for promoted story cards"
Need to add dark mode mock for `Promoted Story Cards`.

**To reproduce**
Once logged in, home activity comes under view and promoted story cards.

[2022-09-19 21:01] #4194 closed, assigned to bhaktideshmukh, Akshatkamboj14

[2022-09-20 13:05] #4340 closed, assigned to Sarthak2601

[2022-09-20 17:57] BenHenning commented on #2133
Note: whoever works on this should double check that these are still problems that need to be solved.

[2022-09-20 18:14] BenHenning commented on #4582
Ah I misunderstood the issue. This seems like a content issue.

[2022-09-20 18:45] BenHenning commented on #4594
Another feature that would be nice to have: automatically move issues into "In progress" when someone self-assigns.

[2022-09-20 19:57] BenHenning opened #4602 "Develop branch is broken"
**Describe the bug**
Two PRs were merged in succession that led to develop breaking, despite no conflicts.

**To Reproduce**
See develop branch.

**Expected behavior**
Develop shouldn't be broken.

**Demonstration**
N/A

**Environment**
N/A

**Additional context**
N/A

[2022-09-21 07:58] KevinGitonga commented on #4602
@BenHenning Had updated my branch and came across this error that might be causing the breakage https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/values/color_defs.xml
<color name="color_def_bright_green">#009C8A</color> has two entries causing error during build

[2022-09-21 08:07] seanlip commented on #4602
Great catch, @KevinGitonga -- thanks!

@JishnuGoyal @Akshatkamboj14 Per the blame file, it looks like this relates to both your PRs colliding: https://github.com/oppia/oppia-android/blame/develop/app/src/main/res/values/color_defs.xml. Would one of you be able to fix it, please?

[2022-09-21 17:16] Ryggs commented on #4343
@BenHenning ,
- I have downloaded the release assets as per the directions in this
"Downloading production assets for testing release bugs" document.

- Successfully build and run the app, as shown.
https://user-images.githubusercontent.com/31986629/191573742-48cafb41-5987-4b19-a54b-7fb0c7d45310.mp4

- Completed all the exercises under ratios, and have not come across any flower/petal-related ques

[2022-09-21 17:32] BenHenning commented on #4449
Reopening since #4535 was reverted in #4603.

[2022-09-21 17:33] BenHenning commented on #4449
#4604 may be helpful when looking into fixing the issues.

[2022-09-22 01:01] JishnuGoyal commented on #4449
Thanks, I'll be following up on this.

[2022-09-22 08:05] rolandbellerud opened #4606 "Language Selector Implementation Request"
**Is your feature request related to a problem? Please describe.**
This feature is a core functionality for users, so that they are able to use the app in a language that they understand.

**Describe the solution you'd like**
A language selector that will be part of the initial onboarding flow, for when the user first downloads the app.
PRD: https://docs.google.com/document/d/14HUwpUev9N3_njg_mjxB

[2022-09-22 09:37] rt4914 opened #4607 "[Developer Video] How to use an Accessibility Scanner?"
We should create a youtube video for `How to use an Accessibility Scanner?` so that contributors can easily follow the video for better understanding.

- [ ] Create a script for the video @MohitGupta121
- [ ] Create slides for the video @MohitGupta121
- [ ] Review/edit script and slides - Ben
- [ ] Record the video

Reference:
- https://dev.to/rajatt/accessibility-scanner-in-android-4mb1

[2022-09-22 09:37] rt4914 opened #4608 "[Developer Video] How to use Talkback - screen reader and what does its output mean?"
We should create a youtube video for `How to use Talkback - screen reader and what does its output mean?` so that contributors can easily follow the video for better understanding.

- [x] Create a script for the video
- [x] Create slides for the video
- [x] Review/edit script and slides - Ben
- [x] Record the video

Some references:
- https://youtu.be/1fMGURSVp0g
- https://dev.to/rajatt/talkback-s

[2022-09-22 09:38] rt4914 opened #4609 "[Developer Video] How to enable RTL and check for issues in the app?"
We should create a youtube video for `How to enable RTL and check for issues in the app?` so that contributors can easily follow the video for better understanding.

[2022-09-22 09:38] rt4914 opened #4610 "[Developer Video] Understanding CI check failures"
We should create a youtube video for `[Developer Video] Understanding CI check failures` so that contributors can easily follow the video for better understanding.

[2022-09-22 09:39] rt4914 opened #4611 "[Developer Video] Visiting Concept Card, Hints & Solution, Completed Stories, Ongoing Topics."
We should create a youtube video for ` Visiting Concept Card, Hints & Solution, Completed Stories, Ongoing Topics.` so that contributors can easily follow the video for better understanding.

[2022-09-22 12:12] vrajdesai78 opened #4613 "[A11YS] Increase color contrast ratio between foreground and background in profile_avatar_img"
**Describe the bug**
In accessibility scanner, it is suggesting to improve color contrast ratio between foreground and background in profile_avatar_img

**Expected behavior**
Accessibility scanner should not show any improvements.

**Demonstration**
![image](https://user-images.githubusercontent.com/43074241/191743100-b442bfdb-9b90-4d75-9a67-91b743eb0c16.png)

**Environment**
- Device used: Realme

[2022-09-22 12:14] vrajdesai78 opened #4614 "[A11YS] Increase color contrast ratio between foreground and background in thumbnail image"
**Describe the bug**
In accessibility scanner, it is suggesting to improve color contrast ratio between foreground and background in thumbnail image

**Expected behavior**
Accessibility scanner should not show any improvements.

**Demonstration**
<img src="https://user-images.githubusercontent.com/43074241/191743827-c2798515-fc3e-437d-ae06-4e492b97454a.png" width="250" />  <img src="https://user-i

[2022-09-22 12:15] vrajdesai78 opened #4615 "[A11YS] Increase color contrast ratio between foreground and background in design_menu_item_text"
**Describe the bug**
In accessibility scanner, it is suggesting to improve color contrast ratio between foreground and background in design_menu_item_text.

**Expected behavior**
Accessibility scanner should not show any improvements.

**Demonstration**
![image](https://user-images.githubusercontent.com/43074241/191744164-6777efdf-5906-4af0-a830-b17d11284f37.png)

**Environment**
- Device used: Re

[2022-09-22 20:05] BenHenning commented on #4602
This was fixed in #4603.

[2022-09-22 20:05] #4602 closed, assigned to BenHenning

[2022-09-22 20:09] BenHenning commented on #4343
@Ryggs this issue isn't fine the way it is because learners will encounter hint numbers that don't make sense to them. This comes from the fact that we're using the content IDs today for the hint name header, but content IDs are never meant to be shown to the user (so there's nothing to actually change in the lessons themselves). We should, instead, be displaying the hint number based on _which_ h

[2022-09-23 15:06] #4615 closed, assigned to nobody

[2022-09-23 17:37] ma-za-kpe commented on #4343
This makes things much clear, thank you.

[2022-09-24 17:22] #4449 closed, assigned to JishnuGoyal

[2022-09-24 17:24] #4451 closed, assigned to JishnuGoyal

[2022-09-25 17:14] U8NWXD opened #4622 "Migrate Android wiki to store source files in oppia-android repository"

[2022-09-25 17:16] U8NWXD commented on #4622
@BenHenning I don't have permission to edit the assignees of this issue. Since it's being handled by the welfare team, which spans the oppia-web and oppia-android projects, could you give me triage access so I can manage issues in oppia-android that are being handled by the welfare team?

[2022-09-26 17:27] #4613 closed, assigned to nobody

[2022-09-27 14:59] MohitGupta121 commented on #4177
As all the parts mentioned in this issue I have completed now. Only Part 5 Lesson Tab is left for that we have to make a new dark mode mockup which is not ready yet. So for the particular Lesson Tab, I am opening a new Issue.

[2022-09-27 14:59] #4177 closed, assigned to MohitGupta121

[2022-09-27 15:05] MohitGupta121 opened #4624 "Add dark mode support to Lesson Tab"
Add dark mode support to Lesson Tab.

**This issue is part of #4177 but Blocked due to the new design of Lesson Tab and the Dark mode mockups for Lesson Tab are not prepared yet.**

Go through this [wiki](https://github.com/oppia/oppia-android/wiki/Dark-Mode) to get started.

Location in the app

1. Open the app
2. Go to All Topics
3. Open any topic
4. Go to Lesson Tab

[2022-09-27 17:18] #4447 closed, assigned to JishnuGoyal

[2022-09-27 17:29] rt4914 opened #4625 "Restore codeowner @rt4914 after 2nd October 2022"
I will be on leave from 28th Sep to 1st October. Currently I am transferring my code-owners file to @BenHenning

Will restore my code-owners by 2nd Oct.

[2022-09-28 02:10] BenHenning opened #4627 "Profile onboarding experience is especially confusing for single-person device users, rendering the app not especially self-service"
**Is your feature request related to a problem? Please describe.**
Yes: two users that I asked to install the app both ran into confusion issues after the onboarding flow and at the profile screen:
- The first user reported that they weren't sure if the default 'Administrator' account was meant to be in the release, and if they should be using it.
- The second user proceeded to immediately add a n

[2022-09-28 02:10] BenHenning commented on #4627
/cc @seanlip for PM.

[2022-09-28 02:16] seanlip commented on #4627
Current version of updated flows (PTAL): https://docs.google.com/presentation/d/1cdvX9HUXuqJsV53odRM0TZlPA1EHOW3tpjK_tGpR73U/edit

[2022-09-28 05:10] BenHenning opened #4628 "Beta version of the app should only include fully available languages"
App & content strings must only be available in the fully translated languages (English & Brazilian Portuguese), but only for beta.

[2022-09-29 01:27] BenHenning commented on #4580
Duplicate of #1801.

[2022-09-29 01:27] #4580 closed, assigned to nobody

[2022-09-29 01:33] BenHenning commented on #4622
Apologies @U8NWXD I forgot to do that after our meeting--it should be done now. Please let me know if you run into any problems, though.

[2022-09-29 01:43] #2581 closed, assigned to KevinGitonga

[2022-09-29 09:40] JishnuGoyal opened #4631 "Enable a11y checks in RevisionCardFragmentTest [Blocked on #4235]"
The tests under RevisionCardFragmentTest have accessibility checks ignored using the annotation `@DisableAccessibilityChecks` which should be removed once #4235 is resolved.

As we remove `DisableAccessibilityChecks` and run Espresso tests we might notice some more test failures because of accessibility which will need to be tackled and fixed.

[2022-09-29 21:53] partha-basu opened #4632 "App learning progress reset when app moved from alpha to beta"
**Describe the bug**
The learning progress - Story/Lesson completion - was lost when the app moved from alpha to beta channel.
I received a notification that I've been upgraded and then taken to the home/landing screen with profile selection options.
Once the profile is chosen it shows the Learning Home Screen.
Generally when I go to a topic/Lesson I have a "continue" option but it went back to th

[2022-09-29 21:59] BenHenning commented on #4632
Thanks for filing @partha-basu. For clarity on a couple of points: do you still see a 'Continue' button for the lesson that you tried to continue playing? If so, does it successfully resume the lesson for you?

Also, are any complete lessons no longer marked as completed?

[2022-09-29 22:01] partha-basu commented on #4632
@BenHenning - I restarted the journey. Now the behavior is same as before - able to leave lesson midway and then continue from drop-off point. The progress reset was a one-time thing post update. Flagging as wanted to make sure it doesn't happen with each update.

[2022-09-29 22:05] partha-basu opened #4633 "Forgetting Admin PIN implies losing learner progress"
**Describe the bug**
I have forgotten the Admin 5 digit pin and can no longer log into my Admin profile of the Oppia android app.
I tried to reset (choosing Forgot PIN option) but wasn't able to. See attached screenshot.
The prompt warns that we need to uninstall and reinstall the app - also would lead to loss of progress across ALL profiles.

I'd still be OK if only Admin profile is reset but thi

[2022-09-29 22:09] partha-basu opened #4634 "Learner Content Feedback - Comma use in number place values"
**Describe the bug**
We should explain that comma can be used in different ways.
1 - To differentiate the place values - 1000s, 1000000s (US system), 1000s, 100000s (Indian/British systems)
2 - To show decimal places (in some european countries)

Attached screenshot where this learning happens

![Screenshot_20220929-150554](https://user-images.githubusercontent.com/7567211/193150866-2ac9a8d5-33ca-

[2022-09-30 09:16] KevinGitonga commented on #4075
@srushtirk @rt4914 @BenHenning not able to reproduce this on current develop branch as of now PTAL on attached video below.

https://user-images.githubusercontent.com/20886444/193236616-245c4bbb-cdc5-49c4-a9e7-37ddfa7e6022.mp4

[2022-09-30 19:55] BenHenning commented on #1051
One idea I just had: we could automatically generate a true view model by annotating compatible fields with something like ``@RetainAcrossConfigChanges``. We could also similarly have a ``@RetainAcrossAppDeath``, but perhaps we should just do both right away? I'm not sure since the former could be any non-lifecycle object, but latter has to be serializable (so it must be a proto).

This may go wel

[2022-10-01 02:52] BenHenning commented on #4634
@seanlip PTAL & triage for curated lessons.

[2022-10-01 02:55] BenHenning commented on #4633
Thanks for filing this @partha-basu. I agree that the experience is frustrating, and it's useful to capture that this scenario is actually affecting people.

For some context, the problem here is that resetting only the admin account would allow other profiles on the device to "circumvent" the admin PIN by simply resetting the admin flow and creating a new PIN for it.

That being said, one approac

[2022-10-01 02:57] BenHenning commented on #4632
Thanks for clarifying @partha-basu. This is actually expected for partially completed lessons (fully completed lessons should never reset). It's something that we definitely want to fix by introducing manual downloading support in the app, but perhaps we should investigate stop-gaps in the meantime.

Sending this over to @seanlip for product weigh-in, and since he's also looking through the origin

[2022-10-01 02:59] #3894 closed, assigned to vrajdesai78

[2022-10-01 03:05] BenHenning commented on #4075
Thanks for checking @KevinGitonga. Given that the original issue no longer seems reproducible, closing this.

[2022-10-01 03:05] #4075 closed, assigned to rt4914, BenHenning, srushtirk

[2022-10-01 04:20] mukulasija commented on #3557
i would like to work on this issue

[2022-10-02 11:43] aayushimathur6 commented on #4539
@BenHenning I m trying this issue and it's really new for me, and finding it a bit difficult just to solve. I have understood the issue but can you please explain where do I learn more to get it solved? So can you please send me similar PR links for that as this is my first good second issue

[2022-10-03 00:08] #4450 closed, assigned to JishnuGoyal

[2022-10-03 03:42] MohitGupta121 commented on #3823
|Menu|Profile|
|:----------------------------------------:|:-----------------------------------------:|
| ![](https://user-images.githubusercontent.com/76530270/193497097-8c3b3a60-11c7-4bc0-97ad-d3845168f753.png) | ![](https://user-images.githubusercontent.com/76530270/193497101-f4b0e43d-630f-4c7b-8d68-7ca36d9484a0.png) |

@BenHenning I am unable to reproduce this issue in my emulator.

Environmen

[2022-10-03 08:47] chetanmuliya commented on #632
can I work on this -> OngoingListAdapter ?

[2022-10-03 08:52] chetanmuliya commented on #4624
can you assign me this task?

[2022-10-03 09:05] MohitGupta121 commented on #4624
@chetanmuliya actually this issue is blocked due to dark mode mockups, which is not prepared yet.

[2022-10-03 09:36] chetanmuliya commented on #4624
okay

[2022-10-03 20:24] partha-basu commented on #4632
@BenHenning - thanks for the confirmation. If that is the expected behavior for all updates - having some kind of call-out/warning (something like - partially completed lesson progress would be lost!)  in the playstore page or before updating would help (I did get a pop-up that I'm being upgraded to beta channel but that did not call out what would specifically change for me).

[2022-10-03 22:17] partha-basu commented on #4633
@BenHenning - I wonder what is the point of the admin profile here.
The Admin use-cases top of mind I could think of are:
1) Gate keep access to a learner account (to keep a class at a certain pace of learning)
2) Aggregated view of all learner progress (# of attempts, % completion of chapters/lessons etc., time spent) as teacher or a parent.

Current "Admin profile" is almost exactly like any oth

[2022-10-04 06:40] #2658 closed, assigned to KevinGitonga

[2022-10-04 06:40] #299 closed, assigned to nobody

[2022-10-04 06:41] #4315 closed, assigned to Ryggs

[2022-10-04 06:54] BenHenning commented on #4614
Hmm. Why is this even being triggered? It seems to be inconsistent in which thumbnails are actually triggering the scanner. Is this a case where the scanner is reading a foreground or background color that's not actually being used?

[2022-10-04 07:01] BenHenning commented on #4614
Also @pratyaksh1610 is working on this.

[2022-10-04 07:05] vrajdesai78 commented on #4614
@BenHenning even I don't know why scanner is triggering this may be because we have created our own thumbnail with xml instead of getting it as a image from backend.

[2022-10-04 08:19] BenHenning commented on #4614
@vrajdesai78 that describes the environment, but not why that environment causes the issue. I think whoever works on this will need to figure out why it's happening before we can introduce a sensible fix.

[2022-10-04 08:24] BenHenning commented on #4633
@partha-basu the original design of profiles was making the assumption that the administrator would be a parent or guardian, and that profiles would be children sharing the device. That concept has since extended such that the administrator may also be the learner in a single-user-device scenario, and that the administrator may be a teacher in a classroom setting.

This distinction is important be

[2022-10-04 08:26] BenHenning commented on #4633
Also one follow-up: PIN recovery is inherently difficult without a remote profile syncing system in place because anyone on the device could recover any account (including for OTP). We need a way to validate one's identity which we can't actually do without a remote record of that individual. The best that I think we could do short of remote profile syncing is recovery questions (since those can h

[2022-10-04 08:27] BenHenning commented on #4632
Well noted @partha-basu. I'm not sure if Play Store description is correct place for this, or if we need to consider other options (such as bundling multiple lesson versions within the app).

[2022-10-04 08:29] BenHenning commented on #3823
Hmm, not sure when this would've been fixed actually but thanks for checking @MohitGupta121! I think we can close this as not reproducible at this point.

[2022-10-04 08:29] #3823 closed, assigned to nobody

[2022-10-04 08:31] MohitGupta121 commented on #3823
Okay thanks you @BenHenning for acknowledge me.

[2022-10-04 08:35] BenHenning commented on #4539
@aayushimathur6 the first place to start is to make sure that you can consistently reproduce the issue. Have you done that?

Once done, you can use log statements and breakpoint/step debugging to trace what's happening leading up to the failure. The best place to start looking code-wise is wherever is "closest" to the observed failure (which may be a UI, or perhaps a message that's included in an

[2022-10-04 08:57] vrajdesai78 opened #4638 "Build fail while running end-to-end tests"
**Describe the bug**
End-to-end tests are not running and it's giving error that Please install system image through Android SDK manager.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `bazel build //instrumentation:oppia_test && bazel build //instrumentation/src/javatests/org/oppia/android/instrumentation/player:ExplorationPlayerTest`

**Expected behavior**
Above mentioned command shou

[2022-10-04 16:27] vrajdesai78 opened #4639 "Use content description to fetch image region in end-to-end tests"
**Description**
In `instrumentation/src/javatests/org/oppia/android/instrumentation/player/ExplorationPlayerTest.kt` test, we need to fetch image region from content description.

**Video to show what end-to-end should verify**

https://user-images.githubusercontent.com/43074241/183263993-d981cd7e-1a3d-4b1e-aaac-a9d08f6a8c06.mp4

[2022-10-04 21:38] seanlip commented on #4632
Had an offline discussion with @BenHenning and noting that this is important to fix (but let's try to fix with as minimal contortions as possible). We don't want users to be scared of updating the app due to possible loss of progress.

[2022-10-05 02:47] #4352 closed, assigned to pratyaksh1610

[2022-10-05 04:31] #3712 closed, assigned to vrajdesai78

[2022-10-05 12:42] KevinGitonga commented on #3832
@BenHenning @srushtirk not able to repro this on pixel 3xl even while using Microsoft swiftkey keyboard as input method.

https://user-images.githubusercontent.com/20886444/194062060-3cefe070-347d-4d53-bb66-1a4be8e3c684.mp4

[2022-10-05 20:16] #2824 closed, assigned to vrajdesai78

[2022-10-05 20:16] #3095 closed, assigned to nobody

[2022-10-06 03:46] #4086 closed, assigned to pratyaksh1610

[2022-10-06 03:54] #4193 closed, assigned to bhaktideshmukh

[2022-10-06 04:01] BenHenning commented on #4186
This shouldn't have been closed earlier.

[2022-10-06 08:26] pratyaksh1610 commented on #4524
@BenHenning I would like to work on this, please assign this issue to me.
Thanks .

[2022-10-06 18:08] vrajdesai78 opened #4640 "[A11YS] Improve Text scaling of Marquee text in toolbar title"
**Describe the bug**
Accessibility scanner is showing suggestion to improve text scaling of Marquee text i.e. toolbar title as it has fixed width and scalable text. Here, Marquee library is creating issue as, marquee library is changing the width of text. This [line](https://github.com/ened/Android-MarqueeView/blob/master/library/src/main/java/asia/ivity/android/marqueeview/MarqueeView.java#L335)

[2022-10-06 20:54] partha-basu opened #4641 "Terms of Use needs updating"
**Describe the bug**
The Terms of Use need to be updated.
I assume the same Terms are applicable for android app as well.

**To Reproduce**
Navigate to https://www.oppia.org/terms

**Expected behavior**
The terms shouldn't disallow children from using the app/site

**Demonstration**
_IF YOU DO NOT AGREE TO THE TERMS, OR IF YOU ARE UNDER THE AGE OF 13 YEARS OLD AND DO NOT HAVE THE APPROVAL OF A LEG

[2022-10-07 09:28] KevinGitonga commented on #4640
@vrajdesai78 not able to reproduce this on my devices. Getting no suggestions in regards to this issue. I am not sure if this accessibility scanner suggestions may be specific to your device specs. This is on my Google pixel 3XL and Samsung galaxy s9 plus. @BenHenning any thought on this.

| Image           |  scanner results |
:-------------------------:|:-------------------------:
<img src="http

[2022-10-07 10:43] vrajdesai78 commented on #4640
@KevinGitonga What is your Android version. I have checked on Android 12

[2022-10-07 11:43] KevinGitonga commented on #4640
@vrajdesai78 i have checked on both Android 10 and 12.

[2022-10-08 01:12] BenHenning commented on #4641
I think the solution here is just to strike that phrasing from the app TOS. @seanlip do you have any concerns with that?

[2022-10-08 01:14] BenHenning opened #4642 "TextInputLayout can cause Robolectric to hang in a few situations"
#4468 is the main context (primarily https://github.com/oppia/oppia-android/pull/4468#issuecomment-1269268256, https://github.com/oppia/oppia-android/pull/4468#issuecomment-1272046717, and https://github.com/oppia/oppia-android/pull/4468#issuecomment-1272184519).

Robolectric can hang in at least the following cases when using TextInputLayout:
- When attempting to use advanceUntilIdle() (the EditT

[2022-10-08 01:15] BenHenning commented on #4642
Note: this is high impact because without a mitigation it's impossible for developers to test TextInputLayout's error text in some situations on Robolectric.

[2022-10-09 18:17] Yashsomalkar commented on #4530
@BenHenning  I am having a very bad time serching for this part of the code and file this issue is targeting can u help me with that. Is beta version of the app accessible.

[2022-10-10 11:40] Yashsomalkar commented on #4530
I cant reproduce this locally from my forked  develop branch . Why is it so ?
@BenHenning @Rajat

[2022-10-10 17:02] Busayo-ojo opened #4643 "Incorrect audio translation"
**Describe the bug**
All of the available English translations under Place value in the list of topics do not correspond to the original texts. The translator is saying something different, and the text reads completely differently.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Home, select a topic to start'
2. Click on 'Place Values'
3. Start a lesson 'Chapter 1'
4. Click on the au

[2022-10-10 23:31] #4186 closed, assigned to KevinGitonga

[2022-10-10 23:34] #4176 closed, assigned to aayushimathur6

[2022-10-10 23:39] #4343 closed, assigned to Ryggs

[2022-10-11 00:57] seanlip commented on #4641
Discussed this with Ben and he'll update the app terms. Thanks!

[2022-10-11 02:00] BenHenning commented on #4643
Thanks for filing this @Busayo-ojo! FWIW, we don't make guarantees that the audio and text will line up, but large differences could introduce comprehension issues, or even lead to the wrong thing being taught. Sending this over to the content team to prioritize accordingly.

[2022-10-11 02:01] BenHenning commented on #4640
What versions of the a11y scanner are you both using @vrajdesai78 and @KevinGitonga? Perhaps there's a difference in the scanner itself.

[2022-10-11 02:05] BenHenning commented on #4530
Hi @Yashsomalkar. This should be reproducible via the beta version of the app (which can be installed by searching for 'Oppia' on the Play Store). That being said, this issue is likely on the harder side, so you may want to consider looking for a different issue to work on if you aren't yet familiar with the codebase.

If you're happy working on this, I can provide some code pointers.

[2022-10-11 02:07] BenHenning commented on #4524
Done @pratyaksh1610.

[2022-10-11 02:08] BenHenning commented on #3832
Thanks @KevinGitonga. I'll need to see if I can still repro the issue locally as it may be tied to device size.

[2022-10-11 02:48] vrajdesai78 commented on #4640
I am using the latest version of Accessibility Scanner

![Screenshot_2022-10-11-08-16-49-36_f7aa348215f5d566f9e4ca860f474209.jpg](https://user-images.githubusercontent.com/43074241/194985668-4bbcffcd-d41c-414b-affa-88c83a0ac8fc.jpg)

[2022-10-11 03:41] Yashsomalkar commented on #4530
Ok i'll find some easier one ig.

[2022-10-11 06:37] Busayo-ojo commented on #4643
Alright @BenHenning Thank you!

[2022-10-11 07:35] KevinGitonga commented on #4640
Using the latest version of Accessibility scanner on my devices.

| Pixel 3xl            |  Samsung galaxy s9 plus |
:-------------------------:|:-------------------------:
<img src="https://user-images.githubusercontent.com/20886444/195024027-a5e09d5a-39d5-4f53-a4a9-79333db3cbcc.png" width="300"/> | <img src="https://user-images.githubusercontent.com/20886444/195024085-716d23d2-3dd8-464a-aa44-52c

[2022-10-11 10:00] Maryann-01 opened #4956 "Text overlapping with image"
The text is placed on the image and no space between them.

To Reproduce
Steps to reproduce the behavior:
 1. Go to "Place Values"
 2. Click on "Place Values 5 Lessons"
 3. See error

Observed behavior
There is no space between the image and the text "Place Values"

Expected behavior
There should be spacing between the image and the text and no overlap.

Screenshots / Videos
![Screenshot_20221011-

[2022-10-11 12:25] Ryggs commented on #4539
Hi @BenHenning what is the progress on this? Asking this for reference

[2022-10-11 14:15] MohitGupta121 commented on #1540
@BenHenning I'm try to reproduce this issue but for `LessonFragment` text size is changing as soon as we update, we need this as solution?

But for the `RevisionFragment` even Text Size is not changing from all ways. Text size changing is not implement for `RevisionFragment` or it's an issue?

https://user-images.githubusercontent.com/76530270/195115459-ce9a6b18-8c91-429d-8e6d-ae53d495945c.mp4

[2022-10-11 16:34] aaryan-verma commented on #4956
I can fix this issue. Pls assign it to me

[2022-10-11 16:42] BenHenning commented on #1540
Thanks @MohitGupta121. I think this was fixed in #4411 so we can close this.

[2022-10-11 16:42] #1540 closed, assigned to nobody

[2022-10-11 19:12] seanlip commented on #4606
Assigning @KevinGitonga -- he will be looking into the **non-onboarding** flow part of this, i.e. the language selector within the app after the learner is onboarded.

[2022-10-12 09:02] BenHenning commented on #4539
@Ryggs I believe this is actively being worked on, but @aayushimathur6 can you confirm?

[2022-10-12 09:04] BenHenning commented on #4640
Interesting. @vrajdesai78 are you able to repro the issue only on a real device, or also on an emulator? I wonder whether we can find a way to isolate the problem to an environment both of you can see it on. Though, at this point, I also really want to understand where the discrepancy is coming in.

[2022-10-12 10:49] antonmagnus opened #4644 "Does not build with the default setup on M1."
The project does not build with the default setup.
Running macOS Monterey 12.1 M1 building for pixel3a API 29

Following the setup for mac [here](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android)
Install oppia-android and Run the app from Android Studio.

`Execution failed for task ':model:generateProto'.

     Searched in the following locations:
         https://repo.mav

[2022-10-12 11:42] JishnuGoyal opened #4645 ""Continue Studying" texts keeps showing even when there is no next revision card"
In the revision card fragment, the continue button header is shown even when there is no next/previous revision navigation card.

[2022-10-12 13:07] aayushimathur6 commented on #4539
@Ryggs @BenHenning  Actually I am working on it, this issue is new to me so currently I am learning about the things and can do this by the 20th of this month

[2022-10-12 16:34] vrajdesai78 opened #4647 "Add navigation buttons at the end onboarding screen"
**Describe the bug**
In the last screen of onboarding screen (where we have to click Get Started), there should be navigation buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Start App from fresh (If app is already installed clear data)'
2. Navigate to the end screen of Onboarding

**Expected behavior**
In the end screen of onboarding screen we should have navigation button to

[2022-10-12 18:14] vrajdesai78 opened #4648 "No differentiation between completed lessons and locked lessons in topics tab"
**Describe the bug**
In topic lessons tab, when we use screen reader there is not differentiation between completed lessons and locked lessons. Also, locked lessons are having content description as "lessons in progress" which should be locked lessons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Any Story
2. Click on Lessons Tab
3. Turn on talkback reader
4. Navigate to the list of

[2022-10-12 18:30] JishnuGoyal commented on #4648
Hi @vrajdesai78! Nice find! Although the TalkBack should have automatically worked as expected correctly, as there weren't any specific changes introduced to that part, but I'll investigate on this and work on a fix.

Thanks!

[2022-10-12 18:57] vrajdesai78 opened #4649 "Change option name for "Default Audio" to "Preferred Audio Language""
**Describe the bug**
Change the "Default audio" text in the Options menu to be clearer.

**To Reproduce**
Steps to reproduce the behavior:
1. Open exploration player
2. Click on Options

**Expected behavior**
The "default audio" text should be changed to "Preferred Audio Language".

**Current Screen**
![image](https://user-images.githubusercontent.com/43074241/200877586-0fd49422-5f3c-47d5-902f-78d

[2022-10-12 19:26] vrajdesai78 commented on #3893
Need to improve the experience for A11Y users by handling state in recycler view for the following screens:

1. Onboarding Screen
2. Admin Controls
3. Home Screen
5. Revision Card
6. Exploration Player
7. Question Player

[2022-10-12 19:36] vrajdesai78 opened #4650 "Focus is lost on double clicking toggle switch"
**Describe the bug**
When we double-click on the "download and update only on Wifi" toggle switch it is losing focus of talkback reader

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'.
2. Turn on the Talkback reader.
3. Double-click on the "Download and update only on Wifi" toggle switch.

**Expected behavior**
The toggle switch should not lose focus on double-

[2022-10-13 08:06] BenHenning opened #4652 "Show learner progress while playing through a lesson"
### Discussed in https://github.com/oppia/oppia-android/discussions/4646

<div type='discussions-op-text'>

<sup>Originally posted by **Ronnie-Mercy** October 12, 2022</sup>
I'd like to share an idea I came up with while using the Oppia app recently. Simple pagination below the continue/submit button will help the user know how many more lessons they have left and also a clear indication of what p

[2022-10-13 08:08] BenHenning commented on #4644
Thanks @antonmagnus for the context, and the notes on remediation. This should be straightforward for someone to address.

[2022-10-13 08:10] BenHenning commented on #4539
Thanks for the update @aayushimathur6!

[2022-10-13 08:14] antonmagnus commented on #4644
@BenHenning I have a fix now! Just gonna make a PR and have it tested on different OS

[2022-10-13 17:59] vrajdesai78 opened #4654 "Talkback auto select to header text or edit text inconsistently"
**Describe the bug**
When we open Authorize to add profiles screen or forgot pin dialog, talkback reader auto-selects focus inconsistently i.e. in some device it selects header text and in some devices it select edit text which is inconsistent.

**To Reproduce**
Steps to reproduce the behavior (For Authorize to add profile screen):
1. Turn on talkback reader
2. Click on Set Up Multiple Profile Sel

[2022-10-13 18:16] vrajdesai78 opened #4655 "Improve flow in onboarding screen"
**Describe the bug**
When we click next button in onboarding screen, focus will remain in next button instead of announcing current screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear app's data if Oppia app is already installed
2. Turn on Talkback.
3. Click on 'Next Button'.

**Expected behavior**
When we click next button, talkback reader should read screen name.

**Demonstration

[2022-10-13 20:10] Maryann-01 commented on #4956
Hi @aaryan-verma ,I do not think I am the one to assign issues. I think you should ask @seanlip ,our mentor.

[2022-10-16 10:37] Chidindu06F opened #4657 "Error in answers blocking learners' progress during lessons"
**Describe the bug**
Some of the answers provided by the app are wrong. So even even when a user provides a right answer, the app marks it wrong thereby blocking the progress of the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home screen'
2. Click on 'Ratio and proportional reasoning'
3. Click on the 'Lesson' tab
4. Click on the lesson card
5. Select Chapter 1
6. Progress th

[2022-10-16 10:47] Chidindu06F opened #4658 "Unavailability of English voice over in some lessons"
**Describe the bug**
English voice over was not available for some lesson. Some of the users became less interested in the lessons

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home screen'
2. Scroll down to 'Select a lesson (fraction)'
3. Click on the lesson tab to start a lesson
4. Progress through the lesson
5. See error

**Expected behavior**
English voice over becomes unavailab

[2022-10-16 23:24] seanlip commented on #4657
Hi @Chidindu06F, I think this needs a bit more clarification. Could you please show the full question that is getting a wrong answer, and explain why the answer 3:2:1:2 is correct? Thanks.

[2022-10-17 01:29] Chidindu06F commented on #4657
Hi @seanlip, The question says "What will be ratio of milk to blueberry puree to strawberry puree to mango puree be?"
From the image, milk=3, blueberry=2, strawberry=1, mango=2
So the answer is 3:2:1:2

[2022-10-17 01:48] seanlip commented on #4657
For the question in which you are answering 3:2:1:2, could you please provide a screenshot of the whole question? It is cut off at the top.

The image seems to be for the previous question.

[2022-10-17 02:12] Chidindu06F commented on #4657
Hi Sean Lip,

I have gone back to replay the lesson and I just realized that the question
isn't related to the image in the previous question. I'm sorry about that. I
will be more careful next time.

Thanks.

On Mon, Oct 17, 2022, 2:48 AM Sean Lip ***@***.***> wrote:

[2022-10-17 02:40] seanlip commented on #4657
That's fine. Thanks for confirming. I'm closing this issue as invalid, then.

[2022-10-17 02:40] #4657 closed, assigned to Chidindu06F

[2022-10-17 07:58] Ronnie-Mercy opened #4659 "Hints screen content contrast is low"
The hints page content contrast is low so words are not easy to read

Go to the home page on the Oppia app, click on place values lesson, scroll to pick a chapter, start the lesson, during the lesson, click on the "hints tab" below, and see low contrast issues with content.

Contents are supposed to be very visible with a contrast of PassMark 5:0 so kids can easily read the contents and continue w

[2022-10-17 09:20] Uche-Clare opened #4661 "Misplaced audio in the wrong lessons and Unavailable of English audio in some Lessons"
- Go to the first lesson; Place values,
- Play the first 3 audio version of the lessons, notice how the audios and the descriptions do not correlate.

Environment
- A325F Samsung Galaxy

Device Android Version
- Android 12

Oppia Version
- 0.9-beta-3f935261e0

[2022-10-17 09:23] #4661 closed, assigned to nobody

[2022-10-17 10:29] Uche-Clare opened #4662 "Audios and Description of some lessons in Place Value topic doesn't correlate"
- Go to the first lesson; Place values,
- Play the first 3 audio version of the lessons, notice how the audios and the descriptions do not correlate.

Environment
- A325F Samsung Galaxy

Device Android Version
- Android 12

Oppia Version
- 0.9-beta-3f935261e0

[2022-10-17 17:41] #4625 closed, assigned to rt4914

[2022-10-18 07:29] vrajdesai78 commented on #4475
@rt4914 I think this issue is solved now, as with current develop branch the input interaction is holding the hint text even when we press back. You can watch attached video for reference.

### Video (Current Develop)

https://user-images.githubusercontent.com/43074241/196364804-1abdfc81-499f-4e52-bc42-cfc985d4f1d9.mp4

 So, if you agree we can close this issue.

[2022-10-18 09:51] BenHenning commented on #4662
Thanks for filing this @Uche-Clare! Sending this over to our content team to triage.

[2022-10-18 09:56] BenHenning commented on #4659
Thanks @Ronnie-Mercy. I suspect that this is an artifact from us recently changing the hint screen & being mid-migration for dark mode.

@rt4914 could you confirm?

[2022-10-18 09:58] BenHenning commented on #4658
Thanks @Chidindu06F! This is a known issue, but the new context here is that it's directly led to an observed problem with learners. That increases the importance of addressing this problem better than we have so far.

[2022-10-18 10:05] BenHenning commented on #4475
Ah, this was probably fixed with #4556 by @JishnuGoyal. That's actually quite nice to see--one less PR is needed here. I agree that we can close this. Per your video, the latest behavior looks correct.

[2022-10-18 10:05] #4475 closed, assigned to vrajdesai78

[2022-10-18 11:53] vrajdesai78 commented on #4640
Sorry for the late response @BenHenning, I have checked in emulator (Pixel 2) with Android 12 and it's showing a suggestion to improve text scaling. For reference you can check out the below screenshot which I have taken from emulator.

I have also checked on Emulator with Android 9 and in that accessibility scanner is not showing any improvement, so I guess this issue is specific to Android 12 de

[2022-10-18 20:36] #4469 closed, assigned to vrajdesai78

[2022-10-18 20:37] Ronnie-Mercy commented on #4659
@BenHenning I figured it while conducting a user test study and I decided to further the contribution with an idea. I hope this helps!

[2022-10-19 00:19] BenHenning commented on #388
@MohitGupta121 will be working on auditing existing tests between StateFragmentTest, StateFragmentLocalTest, ExplorationActivityTest, and ExplorationActivityLocalTest to determine what gaps currently exist.

[2022-10-19 07:56] BenHenning commented on #4640
Thanks @vrajdesai78.

@KevinGitonga can you confirm that you also see this warning on Android 12 with the latest version of Talkback?

[2022-10-19 08:16] BenHenning commented on #4640
Ah, actually I just realized that Kevin has already tried with Android 12. @KevinGitonga and @vrajdesai78 could you chat to figure out what the difference is between your two Android 12 devices? I think we need to further isolate to understand what specifically is different.

[2022-10-19 08:28] BenHenning commented on #3832
Confirming I also cannot repro this anymore, so I think we can close this. Thanks @KevinGitonga!

[2022-10-19 08:28] #3832 closed, assigned to BenHenning

[2022-10-19 08:58] KevinGitonga commented on #4640
@BenHenning @vrajdesai78 I am now able to reproduce this on my Android 12 device for Android 9 still not able even after using .apk from the related branch directly.

![Screenshot (Oct 19, 2022 11_51_18)](https://user-images.githubusercontent.com/20886444/196644758-dfaa2aed-d7c6-4276-9bf9-b3ff5fc2e32f.png)

[2022-10-19 09:45] BenHenning opened #4667 "Translated content images aren't loading in Portuguese lessons"
This is due to an issue with the lesson importer where it doesn't properly catalog non-English images prior to downloading. This has resulted in ~2k images being omitted from the release.

[2022-10-19 10:01] KevinGitonga commented on #4640
@BenHenning this Android 12 accessibility issue still comes to play even after changing the width parameters to MATCH_PARENT on the library itself.

[2022-10-20 07:42] BenHenning commented on #4640
Ah, really glad to hear you can repro it now @KevinGitonga.

@vrajdesai78 do you have a suggestion for how @KevinGitonga can fix this per his comment above?

[2022-10-22 10:10] BenHenning commented on #3738
To clarify point (1), we'd need to load texts into a .pb file and load that from the app's assets directory. That could work as a drop-in replacement for using string resources in a way that avoids the limit, though we'd need some additional piping through the domain layer.

[2022-10-23 21:46] Adefeyisayo opened #4671 "Hint screen contrast should be improved"
**Describe the bug**
The contrast of the text and background color on the hint screen prevented the learner from having the best experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Home, "select a topic to start"
2. Click on "Place Values"
3. Start a lesson "Chapter 2"
4. To see error "Click on the hint icon"

**Expected behavior**
The contrast of the text and background color

[2022-10-23 21:51] Adefeyisayo opened #4672 "Chapters 2,3 and 4 under the Topic lesson place values have different texts from the voice over."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Demonstration**
If applicable, add screenshots or videos to help explain your problem.

**Environment**
- Device/e

[2022-10-23 21:56] Adefeyisayo opened #4673 "The answer options for some of the questions in Chapter 3(Comparing Numbers) of the Lesson Place Values are wrong which can confuse learners."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Demonstration**
If applicable, add screenshots or videos to help explain your problem.

**Environment**
- Device/e

[2022-10-25 10:59] #4524 closed, assigned to pratyaksh1610

[2022-10-25 16:09] rt4914 commented on #4649
@vrajdesai78 not part of GSoC

[2022-10-25 16:10] rt4914 commented on #4654
@vrajdesai78 not part of GSoC

[2022-10-26 05:52] #4581 closed, assigned to veena14cs

[2022-10-26 06:03] BenHenning commented on #4673
@Adefeyisayo could you perhaps fill in some of the fields in the opening comment template to provide additional context? Without that, it's hard to actually triage and work on this issue.

[2022-10-26 06:03] BenHenning commented on #4672
@Adefeyisayo could you perhaps fill in some of the fields in the opening comment template to provide additional context? Without that, it's hard to actually triage and work on this issue.

[2022-10-26 06:04] BenHenning commented on #4671
@Adefeyisayo could you perhaps update your main comment to follow our normal bug issue template & full fill it out? Without that, it's hard to actually triage and work on this issue.

[2022-10-26 21:56] BenHenning opened #4674 "Hide all downloads options behind downloads flag"

[2022-10-26 22:06] BenHenning commented on #3956
Duplicate of #1050.

[2022-10-26 22:06] #3956 closed, assigned to nobody

[2022-10-28 06:18] BenHenning commented on #4512
Thanks @seanlip. I'll probably fast track this and just keep an eye out for flakes rather than waiting on getting it merged (since it seems to be affecting folks broadly in the community).

[2022-10-28 11:25] #3906 closed, assigned to vrajdesai78

[2022-10-29 03:09] #4512 closed, assigned to BenHenning

[2022-10-31 09:09] vrajdesai78 opened #4681 "Unable to run tests in ImageRegionSelectionInteractionViewTest [Espresso Tests][Blocked on #4991]"
**Describe the bug**
When I tried to run tests of ImageRegionSelectionInteractionViewTest in espresso it crashed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ImageRegionSelectionInteractionViewTest.kt'
2. Click on 'run test'

**Expected behavior**
Tests should run without crashing.

**Demonstration**
![image](https://user-images.githubusercontent.com/43074241/198972082-a4bb1182-4e

[2022-10-31 21:15] #4644 closed, assigned to adhiamboperes

[2022-10-31 21:37] BenHenning commented on #4579
Hmm I am actually unable to repro this issue locally, so now I'm wondering if I was wrong about the root cause here.

[2022-10-31 21:42] BenHenning commented on #4579
Aha, this is a more specific situation than I expected. One needs to have progress in a topic that was switched from a fully available topic to an upcoming one. I suspect that's because we make certain assumptions when a topic exists and there's progress for that topic which, in light of the possibility of "unpublishing" a topic, is probably wrong.

[2022-10-31 22:32] BenHenning opened #4684 "Promoted story cards fit images rather than constraining them"
**Describe the bug**
Promoted story thumbnail cards do not consistently size thumbnail image sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a tip-of-tree version of the app with production assets.
2. Navigate to the home screen
3. Ensure that "What is Addition?" shows up in the top recommended stories.
4. Observe that the "What is Addition?" thumbnail is much larger than others.

[2022-10-31 22:33] BenHenning commented on #4684
91014af586eb0f27f71b8af260fabf5f5f91bdac from #4587 seems suspicious since it changes promoted_story_card to wrap_content instead of match_parent.

[2022-10-31 22:34] BenHenning commented on #4684
NB: This is a really significant visual regression, so we should fix this before the next beta release.

[2022-10-31 22:37] BenHenning commented on #4591
Stack trace from a local repro:

[code]

[2022-10-31 22:42] BenHenning commented on #4591
Per https://github.com/oppia/oppia/blob/907734acd09af4720a3f0a2127ac7ee456c347c4/extensions/interactions/rule_templates.json#L75 HasIntegerPart should accept a signed int, not an unsigned int. This isn't a recent change in Oppia web, it's an incorrect implementation in Oppia Android. Fortunately, it should be easy to fix & test.

Edit: The correct answer still works if one doesn't break the state.

[2022-10-31 22:43] BenHenning commented on #4591
Also unexpectedly, I noticed that a correct answer _can_ be entered if one leaves the exploration and returns with continued progress. Not quite sure why that is (maybe something changes about the classifier order? This could be an intermittent problem).

[2022-11-01 01:30] #4322 closed, assigned to Ryggs

[2022-11-01 03:43] #4466 closed, assigned to Sarthak2601

[2022-11-01 07:57] #4684 closed, assigned to BenHenning

[2022-11-01 09:58] BenHenning commented on #4632
So thinking about this a bit more, I suspect the most correct and reliable way to attempt this would be to, upon attempting to load a checkpoint, "replay" that checkpoint against the newest version of the exploration (only if the version doesn't match). There are some properties of the current checkpoint that we would unconditionally overwrite:
- Exploration title & version would be updated to the

[2022-11-01 12:20] adhiamboperes commented on #3123
I am not able to reproduce this issue on a physical device or an emulator.
Tested with a 6.67” physical device, 5.6” Pixel 3a emulator, 5.0” Pixel 2 emulator @BenHenning

[2022-11-01 15:34] adhiamboperes opened #4688 "Truncated display of correct answer image in Fractions"
**Describe the bug**
In the denominators of three screen where a user is asked to select all answers that are correct, there are two correct answers.
Issue 1: Only one of the two selected ansswers is shown as the correct answer.
Issue 2: The image displayed is truncated on the right hand side.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'home' on the development version
2. Click on

[2022-11-01 18:01] BenHenning commented on #3123
@adhiamboperes do you have a screenshot to show that this isn't an issue any longer?

[2022-11-01 18:25] adhiamboperes commented on #3123
@BenHenning , here are some screenshots:

|Physical Device, 6.67", Android 11|Emulator, 5.6", Android 10|Emulator, 5.0", Android 10|
|---|---|---|
|![Screenshot_2022-11-01-11-45-23-654_org oppia android](https://user-images.githubusercontent.com/59600948/199308992-fb9b3d05-fbae-4077-8951-f4babebd9b7e.jpg)|![Screenshot_1667299286](https://user-images.githubusercontent.com/59600948/199308462-670ad3a

[2022-11-01 21:30] BenHenning opened #4689 "Prohibit post/postDelayed via a new regex check"
**Is your feature request related to a problem? Please describe.**
post/postDelayed are difficult to use correctly, and likely always have a better alternative possible per https://betterprogramming.pub/stop-using-post-postdelayed-in-your-android-views-9d1c8eeaadf2.

**Describe the solution you'd like**
These functions should be prohibited using regex checks with alternatives mentioned, such as us

[2022-11-01 21:30] BenHenning commented on #4689
/cc @JishnuGoyal as FYI since we were chatting about this today.

[2022-11-02 01:23] BenHenning commented on #4681
@vrajdesai78 this doesn't include the failure for the actual test--please update.

[2022-11-02 03:26] BenHenning commented on #3123
Thanks @adhiamboperes! It's possible the content was fixed in lessons, but I suspect this was fixed in #3852 when we cleaned up spacing around bullet list HTML. I think we can close this as not reproducible until we see it again.

[2022-11-02 03:26] #3123 closed, assigned to adhiamboperes

[2022-11-02 03:29] BenHenning commented on #4586
Reopening due to #4587 being reverted in #4686.

[2022-11-02 03:34] BenHenning commented on #4688
Ah nice find. I suspect this may be due to us not letting the image go below a certain size, and we're not providing adequate space for the bullet list to extend leftward. This will require some changes to the feedback view & how much space it's allowed to extend to.

While image cutting off is generally believed to be a high-impact problem, I suspect this one is less likely to be one due to it ne

[2022-11-02 18:13] AbhaySota commented on #4202
Could you please assign this to me ?

[2022-11-02 18:33] JishnuGoyal commented on #4202
Please make sure to fill the CLA before you start contributing @AbhaySota

[2022-11-02 18:39] AbhaySota commented on #4202
I have filled the CLA form @JishnuGoyal .

[2022-11-02 18:46] JishnuGoyal commented on #4202
Assigning you this issue @AbhaySota

[2022-11-03 14:05] AbhaySota commented on #4645
Please assign this to me. I think I can solve this.
@JishnuGoyal

[2022-11-03 19:21] vrajdesai78 opened #4692 "Robolectric tests not working on screen rotation for input interactions"
**Describe the bug**
In robolectric tests, when we rotate the screen for input interaction it won't work, means it is not rotating screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'StateFragmentTest.kt'
2. Run any test related to config change retention.

**Expected behavior**
Robolectric tests should rotate the screen for input interactions.

**Environment**
- Device/emulator b

[2022-11-03 19:39] vrajdesai78 commented on #3893
#4650 is also a part of this issue

[2022-11-04 07:33] vrajdesai78 commented on #4586
@BenHenning @rt4914 for this particular issue only in promotes story card we are getting text scaling issues, other than that almost all of the issues are already solved in this #4686 PR.

For promoted story card I get following suggestion from accessibility scanner.
![image](https://user-images.githubusercontent.com/43074241/199917710-4ac01d5a-eb23-40d4-8d35-c19e43f1362a.png)

The suggestion show

[2022-11-04 19:10] rt4914 commented on #4586
@BenHenning @vrajdesai78 I have tried solving this issue and so far using `sp` instead of `dp` for fixed width is the only solution that looks best to me. Have a look at below screenshots (smallest text vs largest text)

<img src="https://user-images.githubusercontent.com/9396084/200055938-bd95f207-fa23-42b5-9f59-6844653c8f06.png" width="250" /> <img src="https://user-images.githubusercontent.com/

[2022-11-04 19:13] vrajdesai78 commented on #4586
@rt4914 I agree with your solution, but if we make the fontsize in dp then accessibility scanner will give another suggestion that fontsize should in sp instead of dp. So any approach we take, we have to compromise to atleast one problem either accessibility or inconsistent size of card. I think we can't keep the size of card inconsistent and also doing dp will give another suggestion of changing

[2022-11-04 19:24] rt4914 commented on #4586
Just to be clear I have not used dp for font size. Instead I have used sp for the card width. Also, notice that the width/height of card is different in above screenshots that's because of using sp, if it was dp then it would have been fixed width/height.

[2022-11-06 09:39] #2627 closed, assigned to vrajdesai78

[2022-11-06 21:23] BenHenning commented on #4645
Thanks for your interest @AbhaySota. This issue is already assigned to @JishnuGoyal so you should pick another issue that's not yet assigned from among our starter issues.

[2022-11-07 07:22] adhiamboperes opened #4697 "Standardize the wording around ' the shaded area' in the fractions lessons"
**Is your feature request related to a problem? Please describe.**
I found out through sampling with random people that when asked to give the fraction represented by the shaded area, there was confusion about it referring to the darker parts, or the part with the overlay.

**Describe the solution you'd like**
Some of the lessons ask for 'the fraction represented by the darker part' which is prett

[2022-11-07 08:01] vrajdesai78 commented on #4476
Created document for accessibility audit. [Doc Link](https://docs.google.com/document/d/1ahw1-isEJe96Ni3Yx6l9QOHrtHFi72buBElsJAoq9pY/edit?usp=sharing)

[2022-11-07 11:07] #3432 closed, assigned to vrajdesai78

[2022-11-07 21:51] sorinmircea commented on #3557
I do want to take this task.

[2022-11-07 21:51] sorinmircea commented on #1951
I do want to take this task.

[2022-11-07 22:38] seanlip commented on #1951
@msorins Go for it! I've assigned you :)

[2022-11-07 22:39] seanlip commented on #3557
@msorins Go for it! I've assigned you :)

[2022-11-08 05:32] vrajdesai78 opened #4700 "Espresso test not working with font scaling[Blocked on #4991]"
**Describe the bug**
When we scale font size in espresso tests, it's not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'HomeActivityTest.kt'
2. Run `testHomeActivity_promotedStoryHasScalableWidth` in Espresso

**Expected behavior**
Font scaling should when we run test in espresso.

**Screenshot of Failed Test**

![image](https://user-images.githubusercontent.com/43074241/200

[2022-11-08 06:19] #3746 closed, assigned to Ryggs

[2022-11-08 10:17] mahmood199 commented on #4647
Hi @vrajdesai78
Can i pick up this issue?

[2022-11-08 10:23] mahmood199 commented on #4647
My concern is that when user is on the second last screen but both skip and arrow button will redirect to last onboarding screen.
But what should be the icon and message that we need to show if the user is on the last screen?

[2022-11-08 10:25] mahmood199 commented on #4647
Wouldn;t it be nice if we show left and right navigation and skip button below the dots indicator?
Left right can be used for navigating across onboarding screens and skip would just redirect to last screen where right button will be hidden but left button will be visible

[2022-11-08 14:29] mahmood199 commented on #4513
Would like to work on this
can I be assigned to this?

[2022-11-08 16:17] vrajdesai78 opened #4701 "[A11YS] - Improve accessibility for confetti text"
**Describe the bug**
Accessibility scanner is showing suggestions to improve text scaling and color contrast ratio for confetti text.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on accessibility scanner
2. Play exploration
3. Submit correct answer

**Expected behavior**
Accessibility scanner should not show any improvement

**Screenshot**
![image](https://user-images.githubuserconte

[2022-11-08 19:28] vrajdesai78 opened #4703 "[A11Y] Improve text scaling in promoted story card"
**Describe the bug**
With current implementation of promoted story card, accessibility scanner shows suggestion to improve text scaling as the container inside which scalable text is used has a fixed width (though we might have used sp to make it scalable). We need to introduce a new design for promoted story card such that it will pass accessibility scanner also doesn't produce #4684 issue again.

[2022-11-08 20:50] rishujam commented on #4532
Hey, I am new to this project. I can't find the percentage revision

[2022-11-09 00:40] BenHenning commented on #3779
Taking this since I can easily address it as part of #4696 (since I'm changing related code, anyway).

I think we can just use default instance here, no need for the oneof (though we could certainly move to that in a binary compatible way in the future).

[2022-11-09 06:17] #4701 closed, assigned to nobody

[2022-11-09 08:17] antonmagnus commented on #3366
Can I be assigned this issue?

[2022-11-09 09:17] BenHenning commented on #4532
Hi @rishujam, welcome!

The Percentages lessons are production-only, so they aren't available in the local developer build of the app. That being said, you could try to repro this issue by using concept cards that _are_ available in the local app. Concept cards can be accessed via the revision cards in the "first test topic" topic that you can open from the local developer build of the app.

You c

[2022-11-09 09:24] BenHenning commented on #4697
Thanks @adhiamboperes! Routing this over to the lessons team to triage.

[2022-11-09 12:56] vishisht-dubey commented on #4703
Hii i would like to contribute in this issue
please assign me with this one

[2022-11-09 17:10] #4586 closed, assigned to vrajdesai78

[2022-11-10 13:51] #4641 closed, assigned to BenHenning

[2022-11-10 13:51] #4674 closed, assigned to BenHenning

[2022-11-10 13:51] #4579 closed, assigned to BenHenning

[2022-11-10 13:51] #4591 closed, assigned to BenHenning

[2022-11-10 16:33] rishujam commented on #4532
?

[2022-11-10 16:39] seanlip commented on #4532
Hi Subhanshu, can you give a brief description of how you are tackling
this? What files have you changed, what is the actual cause of the issue,
do you have a screenshot or video showing that your fix works?

Feel free to post any of the above here and if it looks like it is in the
right direction, we can assign this to you. Thanks!

[2022-11-10 16:50] rishujam commented on #4532
This is the result after multiple clicks it only opens once.

https://user-images.githubusercontent.com/74773876/201156398-6697e0c9-c583-444d-9b1f-04b346806562.mp4

Approach:
I made a state class for the card (open, close, or default) and after the first click, I set that state to opened and checks the state on the click listener before opening the dialog.

[2022-11-10 16:56] seanlip commented on #4532
Thanks! One question -- will your fix work in the case where a concept card contains an interior link to a different concept card?

[2022-11-10 16:58] rishujam commented on #4532
Yes, but I have to write this state code there also (everywhere this issue is occurring). If you could list where are these occurring I can fix those all.

[2022-11-10 17:07] seanlip commented on #4532
Actually, _any_ concept card can have a link to a different concept card. So you'd need to write a fix to handle this case such that it would automatically work anywhere concept cards are used (including new additions to the codebase later). I think this is why Ben said it's a bit tricky to fix this.

If you have an idea how to do this, that's great, but if not, you might want to tackle a differen

[2022-11-10 17:51] rishujam commented on #4532
So, I need to find a way that ConceptCardFragment knows that I am already open without communicating with its parent fragment or any global ViewModel. Right? (Basically, a feature of dialog itself that he must open once).

[2022-11-10 18:18] rishujam commented on #4458
Hey, do we need to add something like this? https://www.geeksforgeeks.org/spotlight-in-android/
If yes where can I find text, design, and animation?

[2022-11-10 18:30] rishujam commented on #4333
Hey, Is the exploration page not visible to all?

[2022-11-10 19:23] seanlip commented on #4532
Yes, I think so -- @BenHenning may be able to provide more colour here, but I think that that is the basic idea.

Though, thinking about it, this gets a bit complex -- what if concept card A references B, which in turn references A again? So some product design might be needed here. To start with, I think we can just stack them: open each card "in front" of the previous one, and the user has to cl

[2022-11-10 19:26] rishujam commented on #4532
Not for now but will try.

[2022-11-10 19:28] seanlip commented on #4532
OK, thanks! Feel free to ping this thread with a video and description of your approach when you have an update.

[2022-11-11 00:11] #4628 closed, assigned to BenHenning

[2022-11-11 02:11] #4632 closed, assigned to BenHenning

[2022-11-11 02:11] #3779 closed, assigned to BenHenning

[2022-11-11 07:41] rishujam commented on #4532
Hey, how about this?
We can maintain a stack<ConceptCard>. See if the top of the stack is the same as the Card we are going to add then we do not open it. If it's different then only we open it.

[2022-11-11 07:52] seanlip commented on #4532
In the case where you don't open it, what is the experience like for the
user?

On Thu, Nov 10, 2022, 11:41 PM Sudhanshu Kumar ***@***.***>
wrote:

[2022-11-12 00:05] vrajdesai78 opened #4708 "Fragment returns null view on config change in submit time error"
**Describe the bug**
Whenever we compute submit time error, rotates screen and again submits answer [without error] the app crashes and in log it shows that fragment is returning null view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MathInputInteraction'
2. Submit answer with error
3. Rotate screen
4. Remove '?' from fragment.view? in hideKeyboard method in StateFragmentPresenter

[2022-11-12 01:44] #4405 closed, assigned to adhiamboperes

[2022-11-12 10:47] rishujam commented on #4532
The only case we do not open the card is those extra clicks done by mistake. Which is our goal to neglect right?

Example:
A -> B  are 2 Cards that need to be opened on top of each other. First card A opens (add card A to stack) and now to open card B user clicked 3 times. Now for the first click, B will be added to the stack and the card will open. The rest 2 clicks will be neglected as we will c

[2022-11-12 11:42] BenHenning opened #4709 "Exploration titles aren't showing up"
**Describe the bug**
Exploration titles are no longer showing up correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Prototype exploration
2. Observe that the title bar is blank.

**Expected behavior**
Exploration titles should show.
A clear and concise description of what you expected to happen.

**Demonstration**
Here's an example of this behavior on the latest beta version

[2022-11-12 17:03] seanlip commented on #4532
Oh, I see. Yup that sounds fine! Thanks!

I'll assign you, feel free to make a PR.

[2022-11-12 19:24] iampradeep-hr commented on #4561
can i work on this feature ?

[2022-11-12 20:17] iampradeep-hr commented on #4655
Hi Can I work on this issue ?

[2022-11-12 20:25] iampradeep-hr commented on #4652
Hi can I work on this feature ?

[2022-11-12 20:48] vrajdesai78 opened #4710 "Improve support for scaling in resume lesson screen"
**Describe the bug**
When we increase the font size to very large and open resume lesson screen the button's won't scaled properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Increase font size to very large (largest)
2. Open resume lesson's screen

**Expected behavior**
Buttons in resume lesson screen should scale properly when we have maximum font size.

**Demonstration**
![image](htt

[2022-11-12 21:24] iampradeep-hr opened #4711 "Dark Mode support not working in Lessons Fragments"
**Describe the bug**
Dark Mode Support for the Lessons Fragment not working

**To Reproduce**
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/81664507/201495052-338af93e-4fbe-4727-b0ca-6a37117593d5.mp4

**Expected behavior**
Dark mode not working in topic_lessons_fragment

**Environment**
- Device/emulator being used: <Xiaomi Redmi Note 11>
- Android or SDK version (And

[2022-11-12 21:25] iampradeep-hr commented on #4711
I would like to work on this issue.

[2022-11-12 21:26] iampradeep-hr commented on #4710
I would like to work on this issue.

[2022-11-13 03:39] KolliAnitha opened #4712 "App crashes when trying to access In-lesson options"
**Describe the bug**
In-Lesson options are not working
**To Reproduce**
Steps to reproduce the behavior:
1. Login to Oppia App
2. Click on any Topic say 'Place Values'
3. Open 1st Chapter 'What are the Place Values'
4. Click on more options
5. See error

**Expected behavior**
Reading text size and Default Audio options must be seen

Actual behavior:
App crashes or reopens the lesson page

**Enviro

[2022-11-13 08:11] iampradeep-hr commented on #4712
Can I work on this please ?

[2022-11-13 08:20] KolliAnitha opened #4713 "Info tab is not seen on opening a Topic"
**Describe the bug**
Info tab is not seen on opening a Topic

**To Reproduce**
Steps to reproduce the behavior:
1. Open any Topic 'Place Values'
2. See error

**Expected behavior**
Info tab with a short description of chapter and an image, Topic Downloaded and size of the story should be displayed

**Demonstration**
If applicable, add screenshots or videos to help explain your problem.
![Screensho

[2022-11-13 08:22] KolliAnitha commented on #4169
Unable to test this because of issue #4713 as Info tab is no longer seen

[2022-11-13 08:23] KolliAnitha commented on #4372
Unable to test this as In-lesson options are not Opening #4712

[2022-11-13 08:37] KolliAnitha commented on #3283
Working fine in beta build 0.10-beta-5e64fae55e.

[2022-11-14 03:27] KolliAnitha opened #4714 "After changing the Reading text size to Extra large in Options and on opening a chapter the first page is still seen in Medium size"
**Describe the bug**
After changing the Reading text size to Extra large in Options and on opening a chapter the first page is still seen in Medium size

**To Reproduce**
Steps to reproduce the behavior:
1. Click on menu bar options in Home page- Select Options
3. Click on Reading Text size - select Extra Large
4. Open any Topic- Ratios and Proportional Reasoning
5. See the text is displayed in Me

[2022-11-14 03:36] KolliAnitha opened #4715 "[Suggestion]: Even after submitting around 12 incorrect responses, user is not given a hint or taken back to go through the chapter"
**Describe the bug**
[Suggestion]: Even after submitting around 12 incorrect responses, user is not given a hint or taken back to go through the chapter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Topic- Ratios and Proportional Reasoning
2. Click on Continue to go to the page with the question 'What is the ratio of marbles to strawberries in this trade'
3. Provide Incorrect answers

[2022-11-14 03:50] KolliAnitha commented on #4667
Working fine in beta build 0.10-beta-5e64fae55e
![screenshot](https://user-images.githubusercontent.com/101634267/201571434-b117e1b1-23fa-4286-8aa6-81a52c401176.jpeg)

[2022-11-14 03:53] KolliAnitha commented on #4579
Working fine in the latest beta build 0.10-beta-5e64fae55e

[2022-11-14 06:03] KolliAnitha commented on #4641
Terms of service content updated in 0.10-beta-5e64fae55e. refer below screenshot.
![terms of service](https://user-images.githubusercontent.com/101634267/201586810-43b65fbe-01c0-47ff-805d-529f94949eac.jpg)

[2022-11-14 06:38] KolliAnitha commented on #4581
Working fine in 0.10-beta-5e64fae55e

[2022-11-14 06:45] KolliAnitha commented on #3832
Unable to repro this issue in beta 0.10-beta-5e64fae55e

[2022-11-14 06:48] KolliAnitha commented on #4315
Download permissions section is no loger available in beta build 0.10-beta-5e64fae55e
![Screenshot_20221114-092351](https://user-images.githubusercontent.com/101634267/201593364-f08e2aea-bf75-4961-8dc1-cafc12496a31.jpg)

[2022-11-14 06:55] KolliAnitha commented on #4341
Verified in latest beta build 0.10-beta-5e64fae55e. Working fine, please refer to the below screenshot.

![Screenshot (Nov 14, 2022 12_23_40 PM)](https://user-images.githubusercontent.com/101634267/201594489-395ebc30-4eed-4c34-be0f-1bb2ecd3e1b7.jpg)

[2022-11-14 07:09] KolliAnitha commented on #3828
As the audio language is independent of device language, after changing device language to Protugese any audio language can be d
![Screenshot_20221114-123150](https://user-images.githubusercontent.com/101634267/201596699-b5ca82ab-e90b-41b8-88d3-934d7f13196b.jpg)
isplayed and now english is displayed

[2022-11-14 07:44] KolliAnitha commented on #3822
Working fine in beta build 0.10-beta-5e64fae55e.
![Screenshot_20221114-130642](https://user-images.githubusercontent.com/101634267/201603037-911df09e-0927-4a3a-831d-bcc752f101a2.jpg)

[2022-11-14 08:17] rishujam commented on #4532
Need help
What I thought: We need something that lives as long as all the cards in order to maintain the stack.
1. Parent fragment from where the first card was opened- Thought this way is not good for testing as we will need to write that code in every parent fragment from where cards are being created.
2. Can't add in ConceptCardFrag too as the different cards will have a different instance of C

[2022-11-14 09:56] KolliAnitha commented on #4343
Verified in beta build 0.10-beta-5e64fae55e. Observed for couple of questions the hints are numbered orderly
![Screenshot (Nov 14, 2022 2_38_05 PM)](https://user-images.githubusercontent.com/101634267/201630360-5978ca70-6865-4c4e-9ed9-847f1c4027ff.jpg)

[2022-11-14 10:27] KolliAnitha commented on #4591
Verified in beta build 0.10-beta-5e64fae55e. Working fine.
![Screenshot_20221114-155246](https://user-images.githubusercontent.com/101634267/201636965-ac1aa58c-6825-4252-8a3a-c7dfac5c911e.jpg)

[2022-11-14 10:36] rishujam commented on #4532
Implemented a solution. Will create PR once I go through PR guidance and code style.

[2022-11-14 17:18] Subhadiptech opened #4720 "Does not build with the default setup on M2"
The project does not build with the default setup.
Running macOS Ventura M2 building for pixel3a API 29

Following the setup for mac [here](https://github.com/oppia/oppia-android/wiki/Contributing-to-Oppia-android)
Install oppia-android and Run the app from Android Studio.

`Execution failed for task ':model:generateProto'.

Could not resolve all files for configuration ':model:protobufToolsLocato

[2022-11-15 00:03] BenHenning commented on #4532
Hmm, concept card already stacks by default since it's a dialog fragment. We usually manage cross-activity state using domain-level controllers (that can live for the lifetime of the application), but that's tricky here since we don't have an easy way to associate backend state with showing/hiding dialog fragments.

I think your working approach in #4719 could be made to be a robust solution, but

[2022-11-15 00:29] BenHenning commented on #4652
Hi @iampradeep-hr. This is actually a trickier issue to work on as Oppia's lessons are dynamic in nature (so what "progress" means could be different for each play session). Given that, I suggest starting with some starter issues, first. If, after those are done, you're still interested in working on this then we can explore a solution.

[2022-11-15 00:32] BenHenning commented on #4333
Hi @rishujam. The exploration player should be available both in the beta version of the app (installed via Play Store) and local development builds. You can navigate to it by selecting a chapter in any topic's story. Note that the lessons will be different between local development builds & production versions like beta and alpha, but most issues that we find with production issues can generally

[2022-11-15 00:34] BenHenning commented on #4720
Thanks for reporting this @Subhadiptech.

Moving this over to be a discussion so that we can investigate where the gap is here.

[2022-11-15 00:34] #4720 closed, assigned to nobody

[2022-11-15 00:36] BenHenning commented on #4715
I'm assuming this is a case where we simply don't have hints for this state, but @seanlip could you confirm?

[2022-11-15 00:38] BenHenning commented on #4714
@KolliAnitha I'm slightly confused here. The issue description & title makes it sound like changing the reading text size to extra large doesn't resize the lesson text, but from the video it does seem to be doing that. Is the actual issue that non-lesson text isn't also being resized, or am I misunderstanding the problem being reported here?

[2022-11-15 00:39] BenHenning commented on #4169
Ah, we may need to wait on being able to verify this until we can conditionally enable features in-app (which will happen on the order of months, so I think we can skip requiring verification for this issue as part of the next beta release).

[2022-11-15 00:40] BenHenning commented on #4713
Thanks for filing @KolliAnitha. Confirming this is working as intended--please update corresponding tests in the test matrix (the info tab is no longer part of the app).

[2022-11-15 00:40] #4713 closed, assigned to nobody

[2022-11-15 00:41] MohitGupta121 commented on #4169
Yes sure no problem for now. Please consider release on the priority.

[2022-11-15 00:41] BenHenning commented on #4712
Thanks @iampradeep-hr. While this would normally be a great issue to start working on, it's time sensitive since it's blocking a real that's about to go out so unfortunately it may not be the best problem to work on right now. I suggest looking at other issues which aren't part of a release milestone (which you can see on the right side of the issue's details under "Milestone").

[2022-11-15 00:42] BenHenning commented on #4710
@rt4914 are you actively working on this or is it something @iampradeep-hr could look into?

[2022-11-15 00:43] BenHenning commented on #4711
Thanks for filing this @iampradeep-hr. I suspect this is fine to go ahead and start working on, but we should also check: @rt4914 is there already an issue tracking this work?

[2022-11-15 00:44] BenHenning commented on #4655
This is actually a really challenging problem @iampradeep-hr as it's an issue with view pager, not Oppia code. I suggest looking at other open issues, instead.

[2022-11-15 00:45] BenHenning commented on #4561
This seems to be available to work on @iampradeep-hr if you're still interested (given that you asked on other issue threads--you should start with one issue rather than multiple).

[2022-11-15 00:45] BenHenning commented on #4708
This can also be seen by playing up to fractions in the test prototype exploration and introducing a submit-time error (e.g. by typing "1/" and tapping 'Submit'), then rotating the screen.

[2022-11-15 00:46] KolliAnitha commented on #4714
@BenHenning, In the video it is seen that the first page after opening the lesson is not resized to extra large. The other pages in the lesson are resized correctly.

[2022-11-15 00:47] BenHenning commented on #4703
This is more of a feature and will require a lot of familiarity with the app in order to work on it @vishisht08. Might I suggest one of our other issues, instead? They may be more approachable in helping you get up-to-speed with the app before trying to tackle this issue.

[2022-11-15 00:49] BenHenning commented on #4647
Apologies for the delayed response.

You bring up good points @mahmood199. This may require some consulting with our design team. That being said, would you be willing to create a simple mock demonstrating what you're thinking? Seeing an actual visual can better help explain one's ideas, and it generally leads to more productive discussion when trying to determine what solution to go with.

[2022-11-15 00:50] BenHenning commented on #4714
Just to clarify @KolliAnitha is "first page" the page shown at 0:35 in the video or 0:38 in the video?

[2022-11-15 01:14] KolliAnitha commented on #4714
The page shown at 00:35 is in medium size.

[2022-11-15 01:20] BenHenning commented on #4714
Ah okay, thanks for clarifying! The resume lesson screen isn't actually part of the player itself, so this fits under #1491 as the eventual goal is to allow general text resizing broadly in the app.

Considering this to be a duplicate of that issue.

[2022-11-15 01:20] #4714 closed, assigned to nobody

[2022-11-15 01:50] BenHenning commented on #4715
From what I can tell from the downloaded asset for this lesson, it doesn't seem to have any hints (state "Fruit purees" in exploration 2mzzFVDLuAj8).

[2022-11-15 02:00] BenHenning commented on #4712
Okay, so it seems this only repros on Proguarded-builds. Stack trace:

[code]

I think this is the same issue the monkey tests found on our pre-launch report. It's definitely tied to the new options bottom sheet--I suspect something is relying on a direct name being present & Proguard is obfuscating it.

[2022-11-15 02:02] BenHenning commented on #4712
This makes me sad: https://cs.android.com/androidx/platform/frameworks/support/+/androidx-main:coordinatorlayout/coordinatorlayout/src/main/java/androidx/coordinatorlayout/widget/CoordinatorLayout.java;l=678?q=coordinatorlayout. It seems Jetpack relies on reflection for Behavior subclasses. :(

[2022-11-15 02:20] BenHenning commented on #4712
Confirming that keeping subclasses of androidx.coordinatorlayout.widget.CoordinatorLayout/Behavior from being renamed fixes the problem (and ensuring subclass constructors are never removed). Unfortunately, we can't test this without end-to-end tests, so we'll need rely on manual testing for verification & continued regression testing.

[2022-11-15 02:20] iampradeep-hr commented on #4561
Ok Thanks, I would take this issue up.

[2022-11-15 02:29] iampradeep-hr commented on #4655
@BenHenning I have worked with ViewPager2 and I have some experience.
I had commented on all the issues which i guess i able to solve.

[2022-11-15 02:32] iampradeep-hr commented on #4711
@BenHenning I have fixed it.Should I have to create a seperate git branch and push the code?

[2022-11-15 02:44] BenHenning commented on #4709
It looks like this regressed in 87f0e981245229f894dcbf85db190391f7f08ed8 per git bisect, introduced in #4482.

[2022-11-15 02:49] KolliAnitha commented on #4667
One of the image in Place values isn't loading. Please find the below screenshot.
![portugues](https://user-images.githubusercontent.com/101634267/201814423-6063a147-6d00-4c8a-8a0d-8792e9cbdfb2.jpg)

Also the below image is taking time to load

![Screenshot_20221115-081648](https://user-images.githubusercontent.com/101634267/201814436-a31ad0b6-cb54-4752-9346-67bf4163c6ea.jpg)

[2022-11-15 03:12] iampradeep-hr commented on #4711
The issue is with the color resource specified for background attribute in topic_lessons_fragment.xml

[2022-11-15 03:28] KolliAnitha opened #4722 "Portugese: In edit profile page the created date is not seen completely"
**Describe the bug**
Portugese: In edit profile page the created date is not seen completely

Pre-Requisite:
Change system language to Portugese

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administrator Controls
2. Click on Edit Profiles
3. Select any profile
4. See Created date time and year

**Expected behavior**
The year 2022 should also be seen completely

**Demonstration**
If

[2022-11-15 06:09] BenHenning commented on #4709
Oddly, this might be caused by a combination of #4482 and #4392, it's a bit tricky to understand exactly what the toolbar is doing here. I'll explain in more details in my PR once it's ready.

[2022-11-15 09:13] antonmagnus commented on #4722
Can I be assigned this issue?

[2022-11-16 08:31] KolliAnitha opened #4727 "letters overlapped in an image in Placevalues topic"
**Describe the bug**
letters overlapped in an image in Placevalues topic

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Topic - Placevalues'
2. Click on 'Finding the Value of a Number'
3. Click on Continue till you get to page wit question 'What place is the digit 7 in for the high score of Spin-The-Wheel: 64972'
4. See the Image

**Expected behavior**
Text in the image should be cle

[2022-11-16 10:55] KolliAnitha opened #4728 "Grammatical mistake seen in a question in Rounding Numbers Part 1- Place Values"
**Describe the bug**
Grammatical mistake seen in a question in Rounding Numbers Part 1- Place Values

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Topic- Place Values'
2. Click on 'Rounding numbers part 1'
3. Click on Continue till you get to the page 'Ok said Jaime. We're rounding to the tens place...'
4. See that So when we round down 172, we leave the the tens place alone.

**Exp

[2022-11-16 13:42] dmdbilal commented on #3366
Can i work on this issue ?

[2022-11-16 13:44] dmdbilal commented on #3558
Can i work on this issue ?

[2022-11-16 13:51] dmdbilal commented on #3557
Can i work on this issue ?

[2022-11-16 19:23] adhiamboperes commented on #3345
@BenHenning, I have tried several means to reproduce this, to no avail. I don't think this is still an issue.

Steps taken to reproduce:
1. Created a virtual device that simulates the reported device, _Galaxy S9+_ - 6.2", Oreo, 1440x2960px, 4GB RAM.
2. Created a virtual device with a small screen - 4"
3. Used a 6.7" physical device
4. Used the quoted instructions to simulate the conditions for ima

[2022-11-16 19:38] adhiamboperes commented on #4688
I have retested this, at the current head of develop, this is nolonger happening.

|4"|6.2"|
| --- | --- |
|![Screenshot_1668627038](https://user-images.githubusercontent.com/59600948/202276572-ccb840b6-9500-4fd6-a7c3-65f0058e754a.png)|![Screenshot_1668625757](https://user-images.githubusercontent.com/59600948/202276597-57c2e706-998f-4f90-b090-453015857f9f.png)|

[2022-11-16 21:15] sorinmircea commented on #3557
I did open: https://github.com/oppia/oppia-android/pull/4729

I do have a question regarding sw600dp-land and port files. The only difference that puzzles me is:

- ` app:layoutMarginTop="@{hasProfileEverBeenAddedValue ? @dimen/space_0dp: @dimen/profile_chooser_margin_top_profile_not_added}"`
- ` app:layoutMarginTop="@{hasProfileEverBeenAddedValue ? @dimen/profile_chooser_fragment_margin_top_profi

[2022-11-17 01:12] BenHenning commented on #4728
Routing to the curated lessons team to confirm whether this wording is correct and fix accordingly.

[2022-11-17 01:14] BenHenning commented on #4727
Interesting. This very much looks to be a content issue. Sending over to the content team.

[2022-11-17 01:17] BenHenning commented on #4722
I think we don’t need to block MR2 on this issue.

Feel free to work on this @antonmagnus! I’ve assigned you.

[2022-11-17 01:19] BenHenning commented on #4667
@KolliAnitha are you able to consistently repro the image not loading issue? What are the steps to do so?

[2022-11-17 01:22] BenHenning commented on #3557
@dmdbilal it looks like this issue is being actively worked on, so you’ll need to find another one to work on.

[2022-11-17 01:25] BenHenning commented on #3557
@msorins is the difference between those two based on a qualifier (like sw600dp or land)? If so, you could make sure that profile_chooser_fragment_margin_top_profile_already_added is defined as 0 in its dimens.xml file corresponding to whichever qualifier is used the 0dp code today. Could that work?

I’m also not sure what is meant by “no code changes”—could you clarify?

[2022-11-17 01:28] BenHenning commented on #4688
Hmm that’s actually a bit suspicious. @adhiamboperes can you recheck that you can still repro the original issue with the build you tried two weeks ago? If you can, can you track down which commit caused the fix (eg by checking each commit on develop with a rebuild and manual check)? I want to be sure this isn’t an intermittent issue.

[2022-11-17 01:31] BenHenning commented on #3345
Thanks @adhiamboperes. This may not actually be an issue anymore as we’ve made changes to image handling since it was filed. However, I want to be sure the related issue that you filed is not a flake as that might mean this is still sometimes a problem.

[2022-11-17 01:32] BenHenning commented on #3558
Hi @dmdbilal. It looks like this issue is indeed available—assigning it to you.

[2022-11-17 01:34] BenHenning commented on #3366
@dmdbilal I think you’re assigned another issue. I suggest focusing on that one, first, then you can take another issue to work on.

[2022-11-17 01:36] BenHenning commented on #4655
@iampradeep-hr before I assign this to you, I think it’d be helpful to get an idea on how you’d approach it. Could you provide your thoughts on how this issue might be fixed?

[2022-11-17 01:47] KolliAnitha commented on #4667
Yes Ben even in English the image is not loading in place values topic
![Screenshot_2022-11-17-07-16-17-41_943a62cb4c6fb83e010e1c2e82766a17.jpg](https://user-images.githubusercontent.com/101634267/202333844-25363a45-2d33-4734-9b0a-030c2b59bdee.jpg)

[2022-11-17 02:31] BenHenning commented on #4709
So I've spent quite a bit of time mulling this one over and investigating at various potential solutions. As I see it, here's the situation:
- #2581 describes the state of marquee view handled by default in Android. Sometimes marquee restarts in cases when it isn't desired, and could be potentially confusing to users. We aimed to try and fix this.
- Android's TextView provides no obvious way to ov

[2022-11-17 03:17] BenHenning commented on #4667
Confirming that state does seem to have an issue. When in Portuguese:

[code]

It looks like something is incompatible with this SVG. This may be a problem as we don't currently have a filter for knowing which SVGs are incompatible, so I think I'll need to somehow add that to the asset pipeline.

That being said, I'm not actually sure what to do about this yet as it's an issue in AndroidSVG (the l

[2022-11-17 06:26] iampradeep-hr commented on #4655
Ok Thanks, @BenHenning So I think we need to send AccessibilityEvents manually whenever the page is scrolled.
The focus is not going to the next screen viewPager instead staying on next button itself.
So in the onPageScrolled() callback I need to add the code which sends AccessiblityEvents focus changes to the system. This would solve it i guess.

[2022-11-17 07:47] KolliAnitha opened #4732 "Missing images in Place values"
**Describe the bug**
Missing some images in Place values

- State with content: "<p>Jaime&nbsp;is a boy wh..." in exploration titled: "What are the Place Values?"
- State with content: "<p>Jaime is still at the ..." in exploration titled: "The Value of a Number"
- State with content: "<p>Which place is occupie..." in exploration titled: "The Value of a Number"
- State with content: "<p>Which digit

[2022-11-17 09:24] sorinmircea commented on #3557
Thank you for the tip, I was able to solve this and amended the PR with another commit.

[2022-11-17 09:38] adhiamboperes commented on #4688
@BenHenning, I was able to reproduce the issue with the build where I had discovered it(commit `ac68f842d3f9c1816f0e0c1ff3e5e9b9ea165774`). I also ran through succeeding commits manually and found the issue was fixed in #4669 by @vrajdesai78. I found [this conversation thread](https://github.com/oppia/oppia-android/pull/4669#discussion_r1012109119) on the PR that may explain why this is resolved.

[2022-11-17 10:01] BenHenning commented on #4688
Ah, well found @adhiamboperes. I think you may be right. This could be a happy side effect of making the alignment computation more robust for images. I think based on that, I'm happy to close this & the other issue as no longer reproducible. This is great to see. :)

[2022-11-17 10:01] #4688 closed, assigned to adhiamboperes

[2022-11-17 10:02] BenHenning commented on #3345
See https://github.com/oppia/oppia-android/issues/4688#issuecomment-1318382684. I think per @adhiamboperes's findings, there isn't actually anything more to do here.

[2022-11-17 12:36] JishnuGoyal opened #4734 "Contrast issue in show/hide password icon"
**Describe the bug**
A clear and concise description of what the bug is.

The show/hide button on the user profile pin page has a contrast issue in dark mode when run through the accessibility scanner.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a user profile which has a pin
2. In dark mode, the show/hide button has contrast issues

**Environment**
- Device/emulator being used: <V

[2022-11-17 13:47] JishnuGoyal opened #4735 "Text unit is set in dp instead of sp"
**Describe the bug**

The text unit is dp instead sp which results in an accessibility error.

<img src="https://user-images.githubusercontent.com/64526117/202462510-225b5d6f-017b-4f99-9e67-26fadf732e68.png" width="250" />

**To Reproduce**
Steps to reproduce the behavior:
1. On profiles page, click on add user profile option
2. Toolbar text has accessibility issue

**Suggested Solution**:
If you

[2022-11-17 14:02] JishnuGoyal opened #4736 "[a11y] TextView has fixed width and scalable text"
**Describe the bug**

On revision screen, the toolbar text and navigation cards have accessibility issues: TextViews have fixed width and scalable text. Attaching a screenshot of the accessibility scanner output for reference.

<img src="https://user-images.githubusercontent.com/64526117/202466320-4b5ddb97-d004-4c70-9841-810c8552e3dd.png" width="250" /> <img src="https://user-images.githubusercont

[2022-11-17 14:07] JishnuGoyal opened #4737 "No meaningful label of the revision screen navigation cards during talkback"
**Describe the bug**

Talkback should have better description for the navigation cards. The talkback is expected to read out an appropriate description for the navigation cards on the revision screen (such as "navigation button"). Currently, the talkback only reads the title text of this nav cards. Add an appropriate description for the navigation cards.

**To Reproduce**
Steps to reproduce the be

[2022-11-17 14:15] JishnuGoyal opened #4738 "Some views have very low visibility on add user profile screen in dark mode [A11y]"
**Describe the bug**

The "Required" text below name text input field and the info icon on add new user profile screen have very low visibility. They are also result in text and image contrast issues when run under an accessibility scanner. Attaching a screenshot for reference.

![image](https://user-images.githubusercontent.com/64526117/202469542-f93e75c8-3cd3-4ac2-b0b0-c084bded03b6.png)

**To Re

[2022-11-17 14:25] JishnuGoyal opened #4739 "Talkback does not read the expected text"
**Describe the bug**

On the enter pin page on a user profile, the talkback directly reads the enter pin text. Expectation: It should start from Hi, (user name), Please enter your pin.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a user profile which has a pin with talkback turned on
2. Talkback directly is focussed on text input field and reads "Pin verification".

**Environment**

[2022-11-17 14:34] JishnuGoyal opened #4740 "Cannot access concept card hyper links during talkback"
**Describe the bug**

While using talkback, the hyperlinks inside concept cards are not accessible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Place values topic
2. Click on revision tab
3. Select naming numbers
4. Hyperlink "concept card" cannot be accessed during talkback.

**Expected behavior**
Users should be able to click and navigate to concept card hyperlinks

**Demonstrati

[2022-11-17 14:38] JishnuGoyal opened #4741 "Contrast issue in Continue Studying text on revision screen"
**Describe the bug**

The "Continue Studying"  text on the revision screen contrast issue in dark mode when run through the accessibility scanner.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home screen and select any topic
2. Go to revision tab
3. Start any revision card in dark mode.
4. Scroll to the bottom. Continue Studying text has very low visibility.

**Environment**
- Devic