[2021-02-03 08:03] FareesHussain commented on #2602
@kartikeysaran before creating a PR please drop a comment on the issue ("I am working on this").

[2021-02-03 08:05] kartikeysaran commented on #2602
From next time I will make sure that I do comment before working on an issue , Thankyou !

[2021-02-03 08:08] #2551 closed, assigned to KartikeySharma

[2021-02-03 08:52] anandwana001 commented on #388
@kartikeysaran
Few points to get start:
1. Write down all the edges case which needs to get tested.
2. Don't include end to end test, example like opening and activity and the checking any view. Robolectric doesn't support end to end test.
3. All the test should pass on both espresso and robolectric

How you can send a pr for this:
1. After writing all the points what we need to test, create a com

[2021-02-03 08:57] #2529 closed, assigned to khushal1707

[2021-02-03 09:53] MaskedCarrot commented on #632
@rt4914 if TopicPlay/Lessons is still open I would like to work on it

[2021-02-03 09:59] FareesHussain commented on #632
I think TopicPlay/Lessons is the same as StorySummaryAdapter. I'm working on StorySummaryAdapter (https://github.com/oppia/oppia-android/pull/2447) now.

[2021-02-03 10:19] #2132 closed, assigned to viktoriias

[2021-02-03 10:22] rt4914 commented on #2258
Opening because it was closed incorrectly because of github bug.

[2021-02-03 10:36] #1873 closed, assigned to prayutsu

[2021-02-03 10:36] #2194 closed, assigned to prayutsu

[2021-02-03 11:18] rt4914 commented on #1069
@viktoriias  This will need discussion with @BenHenning and need to come up with possible solutions. Overall its almost a mini-project. You can start an email thread to start gathering information if interested.

[2021-02-03 11:20] Victor-Titan commented on #1069
@rt4914 I think you meant to tag @viktoriias ?

[2021-02-03 11:21] rt4914 commented on #2592
@chrk2205 Nice catch. I can reproduce this error.

[2021-02-03 11:23] kartikeysaran commented on #2399
I am working on this issue

[2021-02-03 11:23] rt4914 commented on #2530
@Mehul-Bisht Assigned you

[2021-02-03 11:24] rt4914 commented on #1069
Thanks @Victor-Titan . Updating my above comment for clarification.

[2021-02-03 13:07] GowthamGoush commented on #2427
I tried my best but I couldn't figure it out. Could you help with the step by step procedure?

[2021-02-03 13:11] kartikeysaran commented on #388
Thankyou @anandwana001 for your help .

[2021-02-03 13:18] kartikeysaran commented on #2571
@BenHenning Can I work on this project if no one working on this !

[2021-02-03 13:19] rt4914 opened #2606 "High-fi Content-Item"
High-fi Content-Item fixes for below mentioned cases:
- Exploration View Mobile Portrait
- Exploration Split View Mobile Portrait
- Exploration View Tablet Portrait
- Exploration Split View Tablet Portrait
- Exploration View Mobile Landscape
- Exploration Split View Mobile Landscape
- Exploration View Tablet Landscape
- Exploration Split View Tablet Landscape

- Question View Mobile Portrait
- Que

[2021-02-03 13:28] kartikeysaran commented on #2564
I am working on this issue

[2021-02-03 15:07] rt4914 commented on #2564
@kartikeysaran Please don't work on this. I was currently working on some other issue and coincidently it got fixed in my PR so I am assigning it to myself.

[2021-02-03 15:11] rt4914 commented on #2564
@kartikeysaran For you reference: https://github.com/oppia/oppia-android/pull/2608#discussion_r569493500

[2021-02-03 15:36] rt4914 commented on #2571
@prayutsu Can you please confirm if you are working on this or not, else it can be assigned to @kartikeysaran

[2021-02-03 16:06] prayutsu commented on #2571
I think I would not be able to work on this as I already have some other issues. So, we can assign this to
@kartikeysaran.

[2021-02-03 16:37] FareesHussain opened #2610 "Bazel mobile-install crashes for Real devices"
**Describe the bug**
Bazel mobile-install crashes for real devices (works for emulator)

**To Reproduce**
Steps to reproduce the behavior:
1. Build and install the app using [bazel](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions)
2. Open the app
3. It crashes after splash screen

**Expected behavior**
To work similar to gradle build

**Device**
- Redmi note 7 pro
- SDK

[2021-02-03 16:45] chrk2205 commented on #503
there are some test cases already present in the `QuestionPlayerActivityTest.kt`
Do I need to write test cases apart from them ??
@anandwana001
thanks

[2021-02-03 16:52] kartikeysaran commented on #2564
@rt4914 Okay , I will work on some other issue

[2021-02-03 17:00] kartikeysaran commented on #2610
Can this https://stackoverflow.com/a/60291944 be a solution to this issue ?

[2021-02-03 17:04] FareesHussain commented on #2610
This issue is related to Bazel build

[2021-02-03 18:12] BenHenning commented on #2610
Odd, I don't see this. Will try a fresh build again later this week and see if I can repro it.

[2021-02-03 18:13] chrk2205 commented on #2592
` activity.findViewById<DrawerLayout>(R.id.options_activity_drawer_layout).setDrawerLockMode(DrawerLayout.LOCK_MODE_LOCKED_CLOSED);`
adding this in the `OptonActivityPresenter`  will  remove the bug
should i write test case for this bug??
@rt4914

[2021-02-03 18:17] BenHenning commented on #2297
@veena14cs checking, are you actively working on this?

[2021-02-03 18:21] BenHenning commented on #1769
Note that this issue is actually happening in production builds so far as I can remember.

[2021-02-03 18:25] yurilev commented on #1769
Hi, can I work on this?

[2021-02-03 18:32] BenHenning commented on #1675
Taking this. I was able to get Moshi to work in a separate Kotlin project that's going to download backend JSON structures & encode them in proto for the app. We either will outright remove Moshi, or update it to work based on that project (haven't decided yet).

[2021-02-03 18:37] BenHenning commented on #1069
We don't have a label for this at the moment, but this is actually a full project that will need a design document.

[2021-02-03 18:39] chrk2205 commented on #2427
@GowthamGoush
maybe you can start writing with a test case which fails for this bug??
for reference https://github.com/oppia/oppia-android/pull/2458/files#r555591990

[2021-02-03 18:42] rt4914 commented on #2592
@chrk2205 yes . Bugs should always contain test cases such that if the implementation fails the test case should fail.

[2021-02-03 19:38] prayutsu commented on #2610
@FareesHussain Did you try uninstalling the app from your real device completely and then re-running the app?
Like some android phones also have a "Second Space", so you must ensure that it gets uninstalled from there too.

[2021-02-03 19:40] chrk2205 commented on #503
@anandwana001
for test cases should I include this??

- OnBackPressed and its respective cases
- toolbar title display
-

thanks

[2021-02-03 21:10] anandwana001 commented on #503
Yes, for both comments above

[2021-02-04 01:40] FareesHussain commented on #2610
Yes, I tried it.
I've also tried to install the app using
- Bazel mobile-installl
- adb install app-incremental.apk
- Directly installing the apk through mobile

[2021-02-04 03:53] anandwana001 opened #2611 "[Documentation] Create a Directed Acyclic Graph (DAG) for our Bazel Targets"
**Is your feature request related to a problem? Please describe.**
Bazel workflow can be more understandable with a visual representation.

**Describe the solution you'd like**
Create a Directed Acyclic Graph (DAG) which is commonly called a dependency graph for our Bazel targets.

**Additional context**
Oppia Bazel Guide - https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide
Visualize Ba

[2021-02-04 03:58] aggarwalpulkit596 commented on #171
@anandwana001 didn't we solved this earlier ?

[2021-02-04 03:59] anandwana001 commented on #171
No, the linking thing in drag and drop doesn't work with the diffing.

[2021-02-04 04:00] aggarwalpulkit596 commented on #171
I'll take a look at it today i believe i have a solution for this

[2021-02-04 04:01] anandwana001 commented on #171
Thanks, this will be helpful.

[2021-02-04 04:38] prayutsu commented on #2571
@rt4914 As I am busy with other issues, I may not be able to prioritize this, so @kartikeysaran can take it. Thanks!

[2021-02-04 04:42] anandwana001 commented on #2610
It's working for me, tried on pixel 3a XL real device.

[2021-02-04 06:08] veena14cs commented on #2297
I have already done as we had discussed this earlier in one of our meetings.
For a combination of Recently-Played and Recommended Stories we show a
label as "Stories For You" on the Home Page.
On Recently-Played Activity we are diving the screen into Recently-Played
and Recommended Stories. If there are OlderStories then it is divided into
3 section accordingly. #2320 covers this issue.

On Thu, F

[2021-02-04 06:26] #2580 closed, assigned to Prince-kushwaha

[2021-02-04 09:07] kartikeysaran commented on #2571
@rt4914 , I am working on this issue

[2021-02-04 10:46] rt4914 opened #2613 "[A11y] Onboarding Flow"
## Current Output
https://user-images.githubusercontent.com/9396084/106880604-8f7f1d00-6702-11eb-81fd-975a8c4238ad.mp4

## Issues Identified
- [ ] Merge Title and Description w.r.t. Talkback
Talkback first outputs the heading "Welcome to Oppia!" and then leaner goes to next action and it outputs the subtitle "Learn anything you want in an effective and enjoyable way.", but instead it should be don

[2021-02-04 10:47] rt4914 commented on #2613
Waiting for response on above blocked items from @mschanteltc

[2021-02-04 11:43] rt4914 opened #2614 "[A11y] Profile Chooser First Time Flow"
## Current Output

https://user-images.githubusercontent.com/9396084/106887527-48495a00-670b-11eb-8727-6b3b37917e29.mp4

## Issues Identified
- [ ] Talkback does not read the "Profile Image". Mark it as **not** importantForAccessibility.
- [ ] Talkback does not read the "+" image. Mark it as **not** importantForAccessibility.
- [ ] Mark Settings icon as **not** importantForAccessibility.

All thes

[2021-02-04 12:04] rt4914 opened #2615 "[A11y] Admin Add Pin Screen"
## Current Output

https://user-images.githubusercontent.com/9396084/106889293-cf97cd00-670d-11eb-96ba-9834145cc169.mp4

https://user-images.githubusercontent.com/9396084/106889297-d1fa2700-670d-11eb-8ad5-a28f9801d2cb.mp4

## Issues Identified
- [x] There are two texts at top and learner requires two separate actions to output both. Confirmed: Current implementation is already correct.
- [x] There

[2021-02-04 12:09] rt4914 opened #2616 "[A11y] Admin Auth Screen"
## Current Output
https://user-images.githubusercontent.com/9396084/106889301-d4f51780-670d-11eb-90f7-7d0968c6e9d9.mp4

## Issues Identified
- [x] Inconsistency in output of **Close** button
In case of **Admin Add Pin** screen the close button outputs "Navigate Up, Button" and in **Admin Auth Pin** screen the output is "Close, Button". Use "Close, Button" for both cases. (Assigned to @Sparsh1212)

[2021-02-04 12:12] FareesHussain commented on #2611
@anandwana001 I tried to the visualize query here and it generated a `graph.in` file of 6685 lines (took 5mins)
using the command
[code]

but I'm unable to generate the png for this (command is still running not sure if it will complete). I tried this in the online converters too (Graphviz) but they give an error when I add the graph.in code.

Is there any other way to check this?

[2021-02-04 12:50] FareesHussain commented on #2611
It finally completed and gave the message
`dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.119348 to fit`

and the output image is not clear and too much confusing

![image](https://user-images.githubusercontent.com/54740946/106894837-7a5fb980-6715-11eb-87cd-1a58ea2ee064.png)
*above screenshot is a part of the actual image*

[2021-02-04 13:05] FareesHussain commented on #2611
I was able to extract it into a pdf(readable) but it is really complicated for the Documentation.
![image](https://user-images.githubusercontent.com/54740946/106896414-86e51180-6717-11eb-9131-3786c2fa3503.png)

How do we proceed from this?

[2021-02-04 13:21] rt4914 opened #2617 "[A11y] Add Profile Flow"
## Current Output

https://user-images.githubusercontent.com/9396084/106892736-8138fd00-6712-11eb-82c4-236e793136a8.mp4

## Issues Identified
- [x] Profile Image is not labelled. Add `contentDescription` as : `Current profile picture` (Assigned to @yashraj-iitr)
- [x] Edit Image is not labelled. Add `contentDescription` as : `Edit profile picture` (Assigned to @yashraj-iitr)
- [x] ***Required** te

[2021-02-04 13:39] anandwana001 commented on #2611
Visualization is for reference only. What I think of first step here is to figure out all the leaf nodes manually, then we can gradually go up to the root.

[2021-02-04 13:39] rt4914 opened #2618 "[A11y] Administrator Controls"
## Current Output

https://user-images.githubusercontent.com/9396084/106899922-f1984c00-671b-11eb-8cbe-43bb2a431709.mp4

## Issues Identified
- [x] Overall structure of items output is incorrect. Need to find the correct way. Expected output format: `Profile Management, 2 of 5` → `Edit Profiles, Double tap to activate`
- [x] Merged Switch Compact Output
Expected Output Format: Download Permissions

[2021-02-04 13:41] rt4914 opened #2619 "[A11y] During activity transitions the talkback outputs Oppia first [BLOCKED]"
During activity transitions the talkback outputs Oppia first. Instead it should be something more meaningful.

Blocked because we need more context about how others app handle activity transitions and what should be the correct format.

[2021-02-04 13:44] FareesHussain commented on #2611
@anandwana001 what do you mean by leaf nodes ( [Activities and viewmodels] or [dependencies] )

[2021-02-04 13:57] rt4914 opened #2620 "[A11y] Profile Edit Screen"
## Current Output

https://user-images.githubusercontent.com/9396084/106901966-4dfc6b00-671e-11eb-9305-0532a38acdfc.mp4

## Issues Identified
- [x] User name is repetitive
Whenever talkback shifts to new screen the talkback by default outputs the title of the screen (Example: "Rajat"), then once learner swipes it will again say the title because that item is selected explicitly (Example: "Rajat").

[2021-02-04 14:05] rt4914 opened #2621 "[A11y] Profile Rename Screen"
## Current Output
<img src="https://user-images.githubusercontent.com/9396084/106902812-3e315680-671f-11eb-8d6e-2303122f045a.png" width= "250" />

## Issues Identified
The talkback outputs "Save, Button" instead it should output "Save, Button, disabled"

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping it on and that will gi

[2021-02-04 14:09] rt4914 opened #2623 "[A11y] Profile Reset PIN Screen"
## Current Output
<img src="https://user-images.githubusercontent.com/9396084/106904039-b51b1f00-6720-11eb-828e-c6bdb3dd7af0.png" width= "250" />

## Issues Identified
The talkback outputs "Save, Button" instead it should output "Save, Button, disabled"

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping it on and that will gi

[2021-02-04 14:25] anandwana001 commented on #2611
Leaf node is like those Bazel targets which don't have much dependency and can be built independently.

[2021-02-04 15:46] Arjupta commented on #2326
@Mehul-Bisht as you are now able to run Tablet Emulators , you can test and create a new PR for this part of the issue you were assigned to https://github.com/oppia/oppia-android/pull/2525#issuecomment-766391600

[2021-02-04 16:04] Mehul-Bisht commented on #2326
Does it require a separate branch to be created or I can make a PR to the same branch also?

[2021-02-04 16:14] ARJUPTA commented on #2326
Make a new branch, it won't actually make a difference.

[2021-02-04 16:15] Arjupta commented on #2326
Make a new branch, it won't actually make a difference as your code is already merged

[2021-02-04 16:46] rt4914 commented on #2206
@mschanteltc
The below image shows the contrast color error for border of the editexts. What should be the border color to fix this?

<img src="https://user-images.githubusercontent.com/9396084/106925834-77c18c00-6736-11eb-9b05-d1033c46d278.png" width="250" />

[2021-02-04 17:29] rt4914 commented on #2592
Summary:
Two solutions discussed:
Solution 1:
[code]

Solution 2:
Create separate xml file like `options_without_drawer_activity.xml` and control this file and the original xml from presenter using `isFromNavigationDrawer`.

Need to check which solution is better for A11y. @rt4914

[2021-02-04 20:20] #2579 closed, assigned to jcqli

[2021-02-04 20:20] #2545 closed, assigned to jcqli

[2021-02-04 20:43] BenHenning commented on #12
Proto DataStore is probably a viable replacement for PersistentCacheStore, but that may take some time for us to make the move. :) Probably better to wait.

@PrarabdhGarg we would definitely use Room if we went with Sqlite. However it seems more clear at this point that a relational system would be a substantial amount of work for little gain. This is no longer the plan for download storage, so cl

[2021-02-04 20:43] #12 closed

[2021-02-04 20:44] BenHenning commented on #14
This is finished: https://github.com/oppia/oppia-android/blob/develop/data/src/main/java/org/oppia/android/data/persistence/PersistentCacheStore.kt#L308.

[2021-02-04 20:44] #14 closed

[2021-02-04 20:45] BenHenning commented on #169
Note that this is changing slightly. We're going to build a version of this system out of the app so that we can properly bundle topics with the app (though the alpha actually does support downloading relevant assets today). For new topics & topic updates, the backend will be responsible for collecting assets.

I'm working on the first part, @Srikanth-Kb will be working on the second part.

[2021-02-04 22:41] mschanteltc commented on #2206
Let's make the border #666666.

[2021-02-04 22:49] mschanteltc commented on #2615
- Both texts should be separate. It's best to keep them in small chunks so the user can easily navigate between blocks of text.
- Error should be the same in both cases.
- Use "Close, Button"

[2021-02-04 22:49] mschanteltc commented on #2616
- Both texts should be separate. Heading and description serve different purposes, thus it would be better to have them to have their own output.
- Use "Close, Button"

[2021-02-04 23:07] mschanteltc commented on #2617
- Profile picture in the "Profile page" should be labelled "Current profile picture"
- The edit image button should be labeled "Edit profile picture, Button"
- For the asterisk description, use "Fields marked with an asterisk (*) are required."
- For the info button, use "More information on 3-digit PINs, Button"

[2021-02-04 23:11] anandwana001 commented on #2611
Also, I will try to add couple of sub parts this weekend, to get a starter reference.

[2021-02-05 00:26] mschanteltc commented on #2614
Correct, talkback does not need to read the "Profile Image" or the "+" image but information regarding the user's profile or the action would be [redundant](https://webaim.org/techniques/alttext/). So, no description here is needed.

[2021-02-05 05:23] khushal1707 commented on #171
@anandwana001 So the problem which I understood is that grouping items doesn't invoke DiffUtil, whereas on dragging and dropping it refreshes and shows the the grouped item. I haven't found any function in DiffUtil to solve this issue but there is a workaround which invoke DiffUtil to refresh list i.e. to call function `onItemMoved()` in `DragAndDropSortInteractionViewModel` twice such that its ef

[2021-02-05 05:46] anandwana001 commented on #171
let's have. a draft pr, which solves this issue and will discuss more on this. Also, keeping @aggarwalpulkit596 in loop for drag and drop feature.

[2021-02-05 05:54] khushal1707 commented on #171
Sure!

[2021-02-05 05:54] aggarwalpulkit596 commented on #171
OnItemMoved won't work correctly if i remember what i did while trying to fix this.

[2021-02-05 06:00] khushal1707 commented on #171
Yes, it didn't refresh when there is only one item on list and also cashes app sometimes.
Is there any other way to invoke DiffUtil when grouping occurs @aggarwalpulkit596 ?

[2021-02-05 06:03] aggarwalpulkit596 commented on #171
I'd have to try it out myself first it's been quite some time 😅

[2021-02-05 06:05] khushal1707 commented on #171
Okay, till then I also try to figure out something and if something works I'll make a draft PR and notify.

[2021-02-05 06:31] anandwana001 commented on #2611
Could you share the pdf link here? @FareesHussain

[2021-02-05 06:40] rt4914 commented on #2614
Updated the overall issue.

[2021-02-05 06:45] rt4914 commented on #2615
Thanks @mschanteltc . Updated overall issue.

[2021-02-05 06:49] #2206 closed, assigned to Arjupta

[2021-02-05 06:54] rt4914 commented on #2617
Thanks @mschanteltc Updated the overall issue. Note for `Fields marked with an asterisk (*) are required.` I have used `Fields marked with an * are required.` as the talkback with read `*` as `asterisk` and it because easy to localise to other languages too.

[2021-02-05 06:54] FareesHussain commented on #2611
@anandwana001 generated two pdf based on the two different commands given in the blog

Using `bazel query 'deps(//:oppia)' --output graph > graph.in`

https://drive.google.com/file/d/148lSyXZBY56bG6nOhYJL6DmiwCBySo9q/view?usp=sharing

Using `bazel query --noimplicit_deps 'deps(//:main)' --output graph > simplified_graph.in`

https://drive.google.com/file/d/1nX4o4jtUSnn8ixj21_ieIaYmlQcysokg/view?us

[2021-02-05 07:04] anandwana001 commented on #2611
doesn't seems like the pdf's are correect.

[2021-02-05 07:15] FareesHussain commented on #2611
I don't even understand them though.
Can we use the graph.in file for the documentation

[2021-02-05 07:38] rt4914 opened #2627 "[A11y] Pin Verification Screen"
## Current Output

https://user-images.githubusercontent.com/9396084/107003150-543c2700-67b2-11eb-97f0-636b2bd4db10.mp4

## Issues Identified
- [ ] If there is incorrect PIN the talkback does not shift to error and does not say that it was incorrect therefore the learner won't know what went wrong. Ideally as soon as error is show it should get highlighted. (For reference: In this [video](https://

[2021-02-05 07:51] Sparsh1212 commented on #2616
@mschanteltc  I would like to work on this issue. Please assign this to me if it is up for grab.

[2021-02-05 07:53] yashraj-01 commented on #2617
@mschanteltc if this issue is up for grab then I would love to work on it. Please assign this to me.

[2021-02-05 07:56] anandwana001 commented on #2611
For documentation we will go the manual way. Will update you in next week regarding this.

[2021-02-05 08:04] rt4914 opened #2628 "[A11y] Reading Text Size"
## Current Output

https://user-images.githubusercontent.com/9396084/107005369-a03c9b00-67b5-11eb-97b9-e6e2c96a830d.mp4

## Issues Identified
- [ ] The talkback reads this screen as **Oppia** at start, instead it should be **Reading Text Size**
- [ ] Seekbar should be replaced with simple options list like: "Small", "Medium", "Large", "Extra Large".  [Mock](https://xd.adobe.com/view/e8aa4198-3940-

[2021-02-05 08:10] rt4914 commented on #2617
@yashraj-iitr

Yes but suggest you checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

Once this is done. Comment again so that I can assign you this issue. Thanks.

[2021-02-05 08:11] rt4914 commented on #2616
@Sparsh1212

Yes but suggest you checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

Once this is done. Comment again so that I can assign you this issue. Thanks.

[2021-02-05 08:49] Sparsh1212 commented on #2616
I have signed the CLA, filled the survey form, and have read the wiki too. Please assign this to me.

[2021-02-05 08:50] yashraj-01 commented on #2617
I have signed the CLA and also filled the survey form. I have also read the wiki and I am ready to contribute.

[2021-02-05 08:58] rt4914 commented on #2617
@FareesHussain This issue contains a checklist so I will be assigning @yashraj-iitr to only parts of this issue. Also, this will be followed in all A11y related issues so I will take care of assigning them the issues. Thanks.

[2021-02-05 08:59] rt4914 commented on #2617
@yashraj-iitr Please take a look at the issue description, I have assigned you 4 tasks and not all, so suggest finish these four first. You can do that in a single Pr. https://github.com/oppia/oppia-android/issues/2617#issue-801277785

[2021-02-05 09:01] rt4914 commented on #2616
@Sparsh1212 I have updated the description. I have assigned you only the first part of this issue. Second part will get done by Arjun in his current PRs.

[2021-02-05 09:04] FareesHussain commented on #2617
Sure thanks

[2021-02-05 12:03] rt4914 opened #2630 "Topic Progress Logic Update: getOngoingTopicList (TopicController)"
<img src="https://user-images.githubusercontent.com/9396084/107030388-970ff600-67d6-11eb-8942-82586b69f6f5.png" width="200" />
<img src="https://user-images.githubusercontent.com/9396084/107030394-99725000-67d6-11eb-9c62-b623c3cbbacc.png" width="200" />

If learner finishes one story of a topic, then that topic should be considered as **Finished** but it is still considered as **In Progress** in c

[2021-02-05 12:05] rt4914 commented on #2630
@BenHenning @mschanteltc Does this issue + logic makes sense?
The main problem is even if learner finishes atleast one story in each topic, some topics are still considered as **In Progress** because in those topics their other stories are pending.

[2021-02-05 12:26] rt4914 opened #2631 "[A11y] Options Language Screen"
## Current Output

https://user-images.githubusercontent.com/9396084/107033302-1a334b00-67db-11eb-94aa-6a77dd318e78.mp4

## Issues Identified
- [ ] The talkback reads this screen as **Oppia** at start, instead it should be either **Default Audio Language** or **App Language**
- [ ] When any particular item is selected the output should be : **French, checked, 2 of 4** or **French, 2 of 4, checked*

[2021-02-05 12:32] rt4914 opened #2632 "[A11y] FAQ Single"
## Current Output

https://user-images.githubusercontent.com/9396084/107034119-43a0a680-67dc-11eb-8b8d-3601ae5e4428.mp4

## Issues Identified
- [ ] The talkback reads this screen as **Oppia** at start, instead it should be **FAQs**

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping it on and that will give you better context.

[2021-02-05 12:34] rt4914 opened #2633 "[A11y] FAQ List"
## Current Output

https://user-images.githubusercontent.com/9396084/107034128-469b9700-67dc-11eb-854c-c589df95510d.mp4

## Issues Identified
The talkback reads this screen as **Oppia** at start, instead it should be **FAQs** . Please add tests for this. (Assigned @Splash1212).

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keepi

[2021-02-05 12:39] rt4914 opened #2634 "[A11y] Topic Info Tab"
## Current Output

https://user-images.githubusercontent.com/9396084/107034739-24564900-67dd-11eb-9d87-b671a28ed6f5.mp4

## Issues Identified
The talkback reads this screen as **Oppia** at start, instead it should be **Topic: Fractions** (Assigned to @Sparsh1212)

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping it on and th

[2021-02-05 12:41] rt4914 opened #2635 "[A11y] Topic Lessons [Blocked]"
## Current Output

https://user-images.githubusercontent.com/9396084/107034981-7e570e80-67dd-11eb-9aba-d4200312da59.mp4

## Issues Identified
- [ ] The collapsed version needs a better output.
- [ ] In expanded view make sure that blocked chapters are also read out correctly.

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping

[2021-02-05 12:46] rt4914 opened #2636 "[A11y] Topic Practice [Blocked]"
## Current Output
https://user-images.githubusercontent.com/9396084/107035243-e4dc2c80-67dd-11eb-8fdf-7106d30008dc.mp4

## Issues Identified
Needs to be filled

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping it on and that will give you better context.

**Accessibility Guide**: https://github.com/oppia/oppia-android/wiki/A

[2021-02-05 12:49] rt4914 opened #2637 "[A11y] Revision Card"
## Current Output
https://user-images.githubusercontent.com/9396084/107035557-587e3980-67de-11eb-92de-57b503f78d18.mp4

## Issues Identified
- [x] The talkback reads this screen as **Oppia** at start, instead it should be **Skill page**. Also please add test for the same. (Assigned to @jonathanalvares9009)
- [ ] After back arrow, overflow menu is selected and "What is a Fraction?" is never selecte

[2021-02-05 12:52] rt4914 opened #2638 "[A11y] Overflow Menu [Blocked]"
## Current Output
https://user-images.githubusercontent.com/9396084/107036003-f70a9a80-67de-11eb-94d7-fb7f6d38f4d7.mp4

## Issues Identified
Overflow menu gets stuck between two options and learner is unable to cancel the popup.

Overflow menu is present in following screens: Revision Card, Exploration, Question Player

Note: To understand the above issue(s) completely, it is recommended that you

[2021-02-05 12:56] Arjupta commented on #2628
@rt4914 while going through this screen with the help of talkback it is very hard to understand the correct purpose of seekbar so it is better to give four variants of textsize in a group of radio button.

[2021-02-05 12:58] rt4914 opened #2639 "[A11y] Story Activity : Chapter List Screen"
## Current Output

https://user-images.githubusercontent.com/9396084/107036609-ea3a7680-67df-11eb-9ff5-a9e033cd5a6e.mp4

Note: To understand the above issue(s) completely, it is recommended that you setup Talkback and play with the app keeping it on and that will give you better context.

**Accessibility Guide**: https://github.com/oppia/oppia-android/wiki/Accessibility-(A11y)-Guide

[2021-02-05 16:17] Prince-kushwaha commented on #2637
i want to work on this issue

[2021-02-05 16:29] Prince-kushwaha commented on #2632
I want to work on this issue

[2021-02-05 16:30] Prince-kushwaha commented on #2631
I want to work on this issue

[2021-02-05 16:31] Prince-kushwaha commented on #2633
I want to work on this issue

[2021-02-05 16:32] Prince-kushwaha commented on #2638
I want to work on this issue

[2021-02-05 17:42] BenHenning commented on #2297
Thanks @veena14cs. Can you update #2320  to mark this issue as fixed also?

[2021-02-05 18:05] #2623 closed, assigned to rt4914

[2021-02-05 18:07] #2621 closed, assigned to rt4914

[2021-02-05 20:01] som23ya commented on #2403
#2640 Drafted a pull request for player package.

[2021-02-05 20:14] mschanteltc commented on #2630
I agree with all the cases. Even though the fourth point (one story is finished and another story has started -> **In Progress**) might be confusing, labeling it as "In Progress" is a better indicator than "Completed" since there is unfinished material that the learner might want to pick back up on.

[2021-02-05 20:24] som23ya commented on #2632
@rt4914 can i work on this?

[2021-02-05 20:27] som23ya commented on #2615
@rt4914 can i work on this?

[2021-02-05 20:28] som23ya commented on #2614
@rt4914 can i work on this?

[2021-02-05 20:28] BenHenning opened #2641 "Introduce CI test flake finder"
**Is your feature request related to a problem? Please describe.**
It's sometimes hard to know a change is introducing a flake if tests pass during development & review. It's not always reasonable to expect to developers to run their tests ~10-100 times to ensure they're stable.

**Describe the solution you'd like**
_Minimally:_ A CI workflow that runs periodically on Cron & rotates through the en

[2021-02-05 20:33] BenHenning opened #2642 "Fix data module tests & add them to CI"
At some point, we deleted the TestMessage proto that was used specifically in tests without updating PersistentCacheStoreTest. That means that test is currently failing, and needs to be fixed. This also illustrates the need to add our data module tests to our CI workflow. This issue is tracking:
1. Running all [data](https://github.com/oppia/oppia-android/tree/develop/data) module tests locally &

[2021-02-05 20:54] nskirkey commented on #2615
@rt4914 I would like to work on this if som23ya ends up working on one of the other issues he asked to work on.

[2021-02-05 21:00] rt4914 commented on #2633
@Prince-kushwaha Assigned you part of it.

[2021-02-05 21:02] rt4914 commented on #2637
@Prince-kushwaha I have assigned you two issues right now. So not assigning you this issue for now. Let's wait for your other PRs to get merged.

[2021-02-05 21:02] rt4914 commented on #2638
@Prince-kushwaha I have assigned you two issues right now. So not assigning you this issue for now. Let's wait for your other PRs to get merged.

[2021-02-05 21:03] rt4914 commented on #2632
Assigning this to @som23ya considering I have just assigned two issues to @Prince-kushwaha

[2021-02-05 21:04] rt4914 commented on #2615
@som23ya Assigned you two other PRs. Assigning this one to @nskirkey

[2021-02-05 21:06] #2602 closed, assigned to kartikeysaran

[2021-02-05 21:22] fsharpasharp opened #2643 "Create a BUILD file for accessibility/"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more of what it does.

Create a BUILD.bazel file in

`src/main/java/org/oppia/android/util/accessibility/`

This packa

[2021-02-05 21:39] FareesHussain commented on #2585
@fsharpasharp can I work on this? I've created the Bazel environment and I'm able to build and install the Oppia app using Bazel

[2021-02-06 00:46] mschanteltc commented on #2618
Order it as so (each new line represents its own navigation):

- List heading, then number of listing (ex: "General, 1 of 5 items in list")

   - If no toggle switch, then read out item name, then option to navigate (ex: "Edit profiles, double-tap to activate")

   - If toggle switch available, read out item name, description, state (ex: "Automatically update topics; Download topics that have new

[2021-02-06 00:46] mschanteltc commented on #2620
@rt4914 Updated:
- No label for the profile picture in this instance.
- Skip repeated name.

[2021-02-06 00:46] rioX432 commented on #2637
@rt4914  I want to work on this issue.
If it is ok, please assign this task to me.

[2021-02-06 01:57] mschanteltc commented on #2613
- Let's merge the heading and description. It would be a better experience for both to be read at the same time because it takes a single action from the user.
- I agree that the four dots should be read as "Slide 1 of 4" but add "double-tap to activate" if the user wants to navigate to a certain slide on the screen. Would this be possible?
- Yes "Next, Button" would work best.
- Let's have the fo

[2021-02-06 08:18] rt4914 commented on #2637
@omooooori Thanks for showing interest. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-02-06 08:34] rt4914 commented on #2613
@mschanteltc Regarding: `I agree that the four dots should be read as "Slide 1 of 4" but add "double-tap to activate" if the user wants to navigate to a certain slide on the screen. Would this be possible?`
Making it clickable will create following issues:
(a.) Currently its not doable for regular learners too and therefore there will be a big inconsistency. Note: That left/right swipe of slides c

[2021-02-06 08:35] rt4914 commented on #2620
@mschanteltc Second item is also blocked in this list.

[2021-02-06 09:55] #2564 closed, assigned to rt4914

[2021-02-06 12:55] priyanka0906 commented on #2637
@rt4914  may I work on this?

[2021-02-06 18:16] Mehul-Bisht opened #2646 "High-fi Feedback-Item"
High-fi Content-Item fixes for below-mentioned cases:

- Exploration View Mobile Portrait

- Exploration Split View Mobile Portrait

- Exploration View Tablet Portrait

- Exploration Split View Tablet Portrait

- Exploration View Mobile Landscape

- Exploration Split View Mobile Landscape

- Exploration View Tablet Landscape

- Exploration Split View Tablet Landscape

- Question View Mobile Portra

[2021-02-06 20:04] fsharpasharp commented on #2585
Of course, let me know if you run into any problems. Any feedback will be helpful for creating future issues as well.

[2021-02-06 20:21] mschanteltc commented on #2627
- Let's leave it as a keyboard because in most cases, users would want to put in their PIN instead of reading the description. If a user has a PIN, they would need to set it up beforehand, so it's possible that they may be more understanding of why this screen exists and why a keyboard is immediately available.
- I prefer the first suggestion "Show/Hide password icon, [STATE]" because it's similar

[2021-02-06 20:21] FareesHussain commented on #2585
Thanks @fsharpasharp I have few doubts regarding this issue
the artifacts i need to add are the dependencies from which the imports are derived in a viewmodel right?

[2021-02-06 22:26] mschanteltc commented on #2628
I agree that it would be better to label each option as a word description like "Small," Medium," "Large," and "Extra Large." Numbers/Percentage might skew the user's perception on how it affects the text size.

[2021-02-06 22:57] mschanteltc commented on #2634
The "See More" button should still be available to learners, even though talkback reads the entire topic description when it's collapsed. This can help users who have mobility issues but not visibility issues, so those who want to read the full description (instead of having it momentarily on the talkback reader).

[2021-02-07 06:29] Sparsh1212 commented on #2634
@rt4914 I would love to work on the first part of this issue. If possible, then please assign this to me.

[2021-02-07 06:42] Arjupta commented on #2628
@rt4914 doing this would include changes in both layout and kotlin files. Can I work on this? will be needing some guidance though.

[2021-02-07 06:50] rt4914 commented on #2628
@mschanteltc can you prepare mocks for this case so that it's easier for Arjun to work on it ?

[2021-02-07 06:50] rt4914 commented on #2628
@ARJUPTA assigned to you but wait for Chantel's mocks.

[2021-02-07 11:04] fsharpasharp commented on #2585
@FareesHussain. To clarify, we're going to add a BUILD file in

`app\src\main\java\org\oppia\android\app\viewmodel`

You'll have to look at the imports of a file to decide which `artifact("...")` dependencies you need to have for the target in question. You'll know if you have all of them when the target builds and finds all the imports they require.

[2021-02-07 11:14] FareesHussain commented on #2585
Thanks, @fsharpasharp I've created a PR #2648 I'm not sure how to add the kt_android_libraries for each file and I don't know how it works Please have a look

https://github.com/oppia/oppia-android/pull/2648#issuecomment-774548755

[2021-02-07 11:22] prayutsu opened #2650 "`Switch Profile` NavDrawer Menu Item gets unchecked on changing Configuration"
**Describe the bug**
When the exit profile dialog appears via checking `Switch Profile` from Navigation Drawer, on changing the configuration of the device,  `Switch Profile` gets unchecked, and `Administrator Controls` gets checked in the Navigation Drawer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administrator Controls
2. Open Navigation Drawer and Click on `Switch Profile`
3.

[2021-02-07 11:23] prayutsu commented on #2650
Consider claiming this issue when #1816 gets merged.

[2021-02-07 13:50] rioX432 commented on #2637
@rt4914  I signed CLA and answered survey. So if it is ok, could you please assign this task to me.

[2021-02-07 14:29] anshbajpai opened #2652 "Splash Screen Stretched"
**Describe the bug**
 Splash screen is displayed when a user opens the app, on small screen devices the splash screen is working as expected, but on large screen devices, the splash screen is getting stretched and doesn't work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Oppia app
2. Click on the icon
3. If your device screen is more than 6 inch
4. See  splash scree

[2021-02-07 14:30] anshbajpai commented on #2652
Hi , i want to work on this issue

[2021-02-07 17:40] Akshat-gour commented on #2637
@rt4914 I tested this app on physical device (Samsung C7 pro API 26)  as well as on emulator(Pixel 2 API 29)
Talkback works in this order Oppia ,back-arrow, "Title" and overflow menu.

But Only Read Oppia once when we open the what is fraction under Revision Card .

Here is One More Issue when this Sound icon is tapped talkback says Unlabelled
![Capture 1](https://user-images.githubusercontent.com

[2021-02-07 19:21] chrk2205 commented on #2652
@anshbajpai
did you signed the CLA??
https://github.com/oppia/oppia-android/wiki

[2021-02-08 04:03] anandwana001 commented on #632
@imraghav20 any update?

[2021-02-08 04:07] anshbajpai commented on #2652
Yeah, I have signed the CLA now.

[2021-02-08 04:15] anandwana001 commented on #2652
@anshbajpai Suggesting to fill the Contributor survey as well to get an onboarding mentor assigned to get started with the contribution.
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-02-08 04:38] imraghav20 commented on #632
I have figured out the code and where are the necessary changes to be made. My exams have started from today (8 Feb) and will continue till 14 Feb. So, I might take bit more time.

[2021-02-08 05:09] anshbajpai commented on #2652
@anandwana001 I have completed the survey now

[2021-02-08 05:22] anandwana001 commented on #2650
@prayutsu I think we should fix this in https://github.com/oppia/oppia-android/pull/1816 itself.

[2021-02-08 05:23] #2650 closed, assigned to nobody

[2021-02-08 05:36] Akshat-gour commented on #2355
@anandwana001 can i work on this

[2021-02-08 06:14] anandwana001 commented on #2610
is this issue still exist? @FareesHussain

[2021-02-08 06:16] FareesHussain commented on #2610
Yeah for my device. There is also the same issue when I tried to install the example app (from documentation).

[2021-02-08 06:37] rt4914 commented on #2637
@omooooori Assigned you one part of the issue.

[2021-02-08 06:37] rt4914 commented on #2637
@priyanka0906 Assigned you one part of the issue.

[2021-02-08 06:39] rt4914 commented on #2637
@Akshat-gour Thanks for checking. What you are trying out is an exploration and this issue is related to `Revision Card`. You can reach revision card by following these steps: Home Screen → Select Fractions → Select `Revision` tab → Select first card.

[2021-02-08 06:39] Akshat-gour commented on #2637
I tried Revision also
![1](https://user-images.githubusercontent.com/60266468/107184517-b8efbf80-6a06-11eb-8bad-49a2c91e3fe1.PNG)

[2021-02-08 06:46] rt4914 commented on #2637
@Akshat-gour It should not read Oppia at all instead it should read only the title of the screen.

[2021-02-08 06:48] rt4914 commented on #2634
Sound correct. Updated the description.

[2021-02-08 06:57] rt4914 commented on #2627
@mschanteltc Actually we cannot control the `Double Tap` related statement as it is controlled by `Talkback` directly.

[2021-02-08 06:57] rt4914 commented on #2627
@mschanteltc Actually we cannot control the `Double Tap` related statement as it is controlled by `Talkback` directly.

[2021-02-08 08:03] chrk2205 commented on #2427
@GowthamGoush
https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/administratorcontrols/administratorcontrolsitemviewmodel/AdministratorControlsAccountActionsViewModel.kt
This is the View Model responsible for showing the  Logout dialog
This being called from `AdministratorControlsFragment`  for this maybe you can use `onPause` and state to check if the dial

[2021-02-08 08:06] chrk2205 commented on #2427
@rt4914
@FareesHussain
@BenHenning
for this, we should the function inside ViewModel so the dialog still shows up after orientation change.
So I am not sure if we can trigger the function of ViewModel from the fragment Presenter.?
thanks

[2021-02-08 08:52] Mehul-Bisht commented on #2646
@rt4914 I think this issue should be completely solved now, may I close this issue?

[2021-02-08 08:56] rt4914 commented on #2646
@Mehul-Bisht Actually this is not solved. `High-Fi` means that final UI is pixel perfect. So therefore we will need to check these values in previous PR with the correct mocks. P.S.: https://github.com/oppia/oppia-android/pull/2647#pullrequestreview-585237387

[2021-02-08 11:43] FareesHussain commented on #2643
@fsharpasharp How do I add an artifact that is related to Android SDK
For Example `AndroidAccessibilityMangaer.kt` uses a import
[code]
Which is related to Android SDK

[2021-02-08 12:26] yashraj-01 commented on #2632
@rt4914 can I work on this issue? If it is still available then please assign it to me.

[2021-02-08 14:04] rt4914 commented on #2632
@yashraj-iitr Already assigned. Please make sure that issue is not assigned to anyone else before commenting so that you can be assigned to an issue quickly.

[2021-02-08 14:25] fsharpasharp commented on #2643
@FareesHussain I think that import would not require an explicit dependency since it's part of the Android SDK, as you say.

[2021-02-08 14:32] yashraj-01 commented on #2632
okay.

[2021-02-08 14:50] Arjupta commented on #2310
Reopening it as it got closed mistakenly by github bug

[2021-02-08 15:00] Arjupta commented on #2326
@Mehul-Bisht any update?

[2021-02-08 17:18] ayan-biswas0412 commented on #2449
@anandwana001 is there anyone working on this issue ? Can I take this ? if yes can you elaborate what to do actually

[2021-02-08 17:23] ayan-biswas0412 commented on #2536
@anandwana001 Can you elaborate more ? I want to work in this issue . this seems interesting but don't know how to proceed

[2021-02-08 17:56] Scarlet0103 commented on #2092
@rt4914  can I work on this?

[2021-02-08 17:59] rawlin commented on #2642
Hi @BenHenning, could you assign me this issue

[2021-02-08 18:32] Akshat-gour commented on #2355
@anandwana001 There is no file named EditInputAction . Do you mean EditTextInputAction .
Actually I don't know how can i  access **_context** and **TextInputLayout_** inside **_EditTextInputAction_**
![2](https://user-images.githubusercontent.com/60266468/107266193-2df4e080-6a6b-11eb-884c-97b9a64bd673.PNG)

[2021-02-08 20:07] khushal1707 commented on #171
Hi @anandwana001 @aggarwalpulkit596, can we use `notifyDataSetChanged()` for nested recyclerview of `DragAndDropSortInteraction` only after merging in `DragAndDropSortInteractionViewModel` and use Diffing in main and other recyclerviews. Merging works fine with this approach.

[2021-02-08 20:16] fsharpasharp opened #2657 "Create a BUILD.bazel file in utility/src/main/java/org/oppia/android/util/system"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more of what it does.

Create a BUILD.bazel file in

`utility/src/main/java/org/oppia/android/util/system`

This packa

[2021-02-08 20:50] BenHenning commented on #2535
@prayutsu can you clarify here what you've tried? I'd be surprised that closing the navigation drawer in the same way we open it  doesn't work.

[2021-02-08 21:13] #2570 closed, assigned to riturajjain2000

[2021-02-08 21:34] BenHenning opened #2658 "Enable Dagger graph access for BindableAdapter"
[BindableAdapter](https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/recyclerview/BindableAdapter.kt)s are created using one of two builders (single type & multi type), each of which has its own ``newBuilder`` function:
- https://github.com/oppia/oppia-android/blob/eb137fb/app/src/main/java/org/oppia/android/app/recyclerview/BindableAdapter.kt#L247
- https:

[2021-02-08 22:24] anandwana001 commented on #2355
Adding @prayutsu for helping here.

[2021-02-08 22:31] anandwana001 commented on #2536
Thanks @ayan-biswas0412 for showing interest.
Please complete the onboarding and installation steps before starting
https://github.com/oppia/oppia-android/wiki

If you see test files in the app Module, one file referenced in the description above, we use to test alot about if the item is visible on the particular index in RecyclerView. So instead of writing this multiple times, we need a new file,

[2021-02-08 22:48] ayan-biswas0412 commented on #2536
sure I will complete the onboarding first

[2021-02-09 00:07] BenHenning opened #2659 "Migrate all third party dependencies to a dedicated top-level third_party folder"
In order to simplify third-party dependency management, we should migrate all of our Maven artifacts to dedicated third party wrapper libraries with a shared list for versions. This has the following benefits:
1. It lets us centralize versions in a single file to make upgrading easier
2. It keeps all dependencies queryable through a third party folder
3. This aligns with Bazel [best practices](htt

[2021-02-09 00:09] BenHenning commented on #2659
I will be following up with an example PR before opening this for public contribution.

/cc @fsharpasharp in case you have any thoughts on this. This came up as part of a project @prayutsu is working on.

@prayutsu can you add a link to the part of your design document explaining this to the main comment thread? While that project isn't finished being designed yet, I think we can go ahead and prov

[2021-02-09 00:10] BenHenning commented on #1861
Haven't followed up, but it seems that this is just something that's been missed in the Android build pipeline for Bazel & something we can probably fix ourselves once we have time. Hopefully later in the year. :)

[2021-02-09 04:08] BenHenning commented on #2659
Welp I just went ahead and fixed this in its entirety. :) Creating a generally usable library made more sense, and the changes after that were pretty quick.

[2021-02-09 04:36] prayutsu commented on #2535
@BenHenning Actually, I guess we are unable to close the navigation drawer once opened on robolectric, so ultimately we are unable to open it multiple times (if we want to test some behavior that includes the opening of NavDrawer multiple times then it is not possible presently).

[2021-02-09 04:44] anandwana001 commented on #2657
![Screenshot 2021-02-09 at 10 14 25](https://user-images.githubusercontent.com/25057618/107316907-9cfc2480-6abf-11eb-963e-6bb6c99b8d86.png)

[2021-02-09 04:56] anandwana001 commented on #2657
![Screenshot 2021-02-09 at 10 14 25](https://user-images.githubusercontent.com/25057618/107317724-35df6f80-6ac1-11eb-8739-da9d90d02fc6.png)

![Screenshot 2021-02-09 at 10 24 31](https://user-images.githubusercontent.com/25057618/107317730-3972f680-6ac1-11eb-9579-17c350c41d7b.png)

@fsharpasharp How we can exclude these kotlin file from `srcs = glob(["src/main/java/org/oppia/android/util/**/*.kt"])

[2021-02-09 05:18] prayutsu commented on #2355
I believe we can bring in the `context` by passing it as a parameter in the constructor of the `EditTextInputAction` Class itself. @anandwana001 But I am not sure why we are unable to import the `TextInputLayout` in the file? Can we only import the widgets from AndroidX?

[2021-02-09 05:21] prayutsu commented on #2659
I guess I will not be able to edit the main comment as I am only a collaborator, so mentioning the link to the design doc here - https://docs.google.com/document/d/11QlvnWqyJMu0MmuJ57ZwT0nM0kYc2HX65zvN96oSWas/

[2021-02-09 05:27] anandwana001 commented on #2657
did a mistake in the above screenshot, cleaning in this one with building an app.
@fsharpasharp Let me know if this looks good to you?

![Screenshot 2021-02-09 at 10 54 53](https://user-images.githubusercontent.com/25057618/107319770-7d67fa80-6ac5-11eb-825e-16918f0ab2a6.png)

![Screenshot 2021-02-09 at 10 58 41](https://user-images.githubusercontent.com/25057618/107320019-e3ed1880-6ac5-11eb-851e-a

[2021-02-09 05:33] mschanteltc commented on #2613
If the feature wasn't available when talkback was disabled, then let's scrap the idea of tapping to a certain slide altogether.

[2021-02-09 05:43] anandwana001 commented on #2355
a constructor can be injected.

[code]

importing `TextInputLayout` issue is more of Gradle sync issue.

[2021-02-09 05:44] mschanteltc commented on #2627
How would the user know that the 'Show/Hide' button is clickable? If there is no label for this button or to show that it can be toggled, is there any way that we can?

[2021-02-09 06:27] FareesHussain commented on #2657
@anandwana001 You can try this Reference - https://docs.bazel.build/versions/master/be/functions.html#glob
![image](https://user-images.githubusercontent.com/54740946/107324212-ac826a00-6acd-11eb-921d-2bce77c0c262.png)

[2021-02-09 06:30] anandwana001 commented on #2657
Awesome, will send a pr.

[2021-02-09 06:46] Sparsh1212 commented on #2658
@anandwana001 @BenHenning
I would love to work on this. Also, if possible then please guide me on how to get started with this issue.

[2021-02-09 07:03] anshbajpai commented on #1001
@rt4914 can i work on this ?

[2021-02-09 08:09] Akshat-gour commented on #2355
importing **TextInputLayout** issue is not solve even after Gradle sync , so how can i solve this

@prayutsu
@anandwana001

[2021-02-09 08:11] anandwana001 commented on #2355
multiple options:
1. invalidate cache and restart
2. clean and rebuild
3. Gradle sync

if Gradle creates a lot of problems, then cloning is the last option

[2021-02-09 08:14] khushal1707 commented on #171
@anandwana001 @aggarwalpulkit596 PTAL: https://github.com/oppia/oppia-android/pull/2666
Haven't added tests yet, will be adding as soon as issue with diffing resolves.
Thanks!

[2021-02-09 08:56] Akshat-gour commented on #2355
@anandwana001 I tried all 3 options but doesn't help .
what's cloning here means .

[2021-02-09 09:22] anandwana001 commented on #2355
try clone the repo again.

[2021-02-09 09:52] fsharpasharp commented on #2657
Thanks @FareesHussain for providing the reference and @anandwana001 for working on this.

[2021-02-09 10:25] MaskedCarrot opened #2667 "Wrong Tab selected on configuration change in TopicFragment"
**Describe the bug**
A clear and concise description of what the bug is.
Lesson Tab is selected on configuration change without changing the fragment of the viewpager

**To Reproduce**
Steps to reproduce the behavior:

1.Select First Test Topic from Home Carousel.
2. Select the practice tab
3. change the orientation
4. See the error

**Expected behavior**
The fragment should remain what it was bef

[2021-02-09 10:56] Akshat-gour commented on #2355
@anandwana001
@prayutsu
No, that doesn't helps after cloning the repo again i tried invalidate cache and restart , clean and rebuild
and Gradle sync and also tried with newer gradle version 4.1.2 .

[2021-02-09 11:08] MaskedCarrot opened #2669 "Profile name is not properly aligned"
**Describe the bug**
username is not properly aligned on the profile page.

**To Reproduce**
Steps to reproduce the behavior:
1. click on the navigation drawer icon
2. Click on the profile picture
3. See the error

**Expected behavior**
The username should be correctly aligned in the center.

**Screenshots**

<img src="https://user-images.githubusercontent.com/53645584/107355062-fcc0f280-6af4-11eb

[2021-02-09 11:23] prayutsu commented on #2669
@rt4914 Do we need the username in the center?

[2021-02-09 12:01] harsh-hash commented on #2667
Can i work on this?

[2021-02-09 12:05] MaskedCarrot commented on #2667
@harsh-hash I am already working on this. I forgot to assign this to myself.

[2021-02-09 12:13] yashraj-01 commented on #2669
@MaskedCarrot can I work on this issue?

[2021-02-09 12:14] MaskedCarrot commented on #2669
@yashraj-iitr Please wait for @rt4914's review on this.

[2021-02-09 12:17] yashraj-01 commented on #2669
sure. thanks.

[2021-02-09 13:18] rt4914 commented on #2669
As per mocks it should be in centre. Thanks @MaskedCarrot . Assigning this to @yashraj-iitr

https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/7fb5929e-4652-4412-bf8c-64d94f4159f9/

[2021-02-09 13:23] rt4914 commented on #2667
@MaskedCarrot I am unable to reproduce this error. Can you check if you are checking this on latest develop code?

[2021-02-09 13:37] MaskedCarrot commented on #2667
@rt4914 I checked and i am still able to reproduce this error. My develop branch is even with oppia's.

[2021-02-09 14:24] rt4914 commented on #2667
Actually in the steps just add one more step first:
Select `First Test Topic` from Home Carousel.

Only then we can reproduce this error otherwise select `First Test Topic` from `All Topics` section does not produce this error.

[2021-02-09 15:26] MaskedCarrot commented on #2667
accidentally closed so reopening

[2021-02-09 16:32] anandwana001 commented on #2669
Before fixing this issue, could anyone please check the commit history of this file and see which PR cause this issue, because as far as I remember there exist no such issue earlier.

[2021-02-09 17:04] yashraj-01 commented on #2669
I found out that the related code was modified in PR #2556. So maybe this was the cause.

[2021-02-09 17:26] yashraj-01 commented on #2669
<img width="270" height="555" src="https://user-images.githubusercontent.com/63469151/107400748-221b2400-6b28-11eb-80de-ffdf312ab11d.png">

@rt4914 @MaskedCarrot @anandwana001 I think username displayed here is not so good. We should restrict it to a single line, at least in portrait mode. What are your thoughts?

Also, I have centre aligned username in `profile_progress_header.xml`. I'll be makin

[2021-02-09 17:36] yashraj-01 commented on #2669
@rt4914 is the username is centred aligned in other layouts as well i.e, `layout-land`, `layout-sw600dp-port` and `layout-sw600dp-land`?

[2021-02-09 17:46] anandwana001 commented on #2669
We cannot restrict them in one line, what if the name is long enough to not fit in one line.
Name reference - https://github.com/oppia/oppia-android/pull/2556#issuecomment-768023638

Try using similar example in your pr to see if all the names are fitting and looking correctly or not.

[2021-02-09 17:56] yashraj-01 commented on #2669
we can ellipsize it if it exceeds one line. I'm talking about the Home screen only. Rest everywhere it can display full names.

What do you think?

[2021-02-09 21:58] fsharpasharp opened #2673 "Remove :event_logger_java_proto_lite export from the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :event_logger_java_p

[2021-02-10 03:56] anandwana001 opened #2675 "Pre push not terminating correctly with multiple results"
**Describe the bug**
If ktlint fail, then checkstyle will run and if it passes, then the push action happens due to exit 0 from the last script.

**Expected behavior**
Need to terminate pre-push correctly if any check gets failed

[2021-02-10 05:11] Sparsh1212 commented on #2673
I would love to work on this. Please assign this to me.

[2021-02-10 05:44] anshbajpai commented on #1001
@rt4914 should this toolbar file also work for the home screen?

[2021-02-10 07:42] rt4914 commented on #1001
@anshbajpai Not exactly. The aim is to use this toolbar at maximum places. But considering that this issue is almost 1 year old please check and see will this issue make our codebase better to not.

[2021-02-10 07:49] rt4914 commented on #2669
@yashraj-iitr This was verified by our designer and we came to conclusion that the username should be shown fully except at `ProfileChooser` screen.

[2021-02-10 07:51] rt4914 commented on #2669
@yashraj-iitr We need username to be in centre only for `mobile-portrait` screen i.e. `layout` only.

[2021-02-10 08:09] yashraj-01 commented on #2669
okay. then that's not an issue. thanks.

[2021-02-10 08:31] anshbajpai commented on #1001
@rt4914 yeah, I did go through the code and observed that. a common toolbar file already exists and is being used in respective activity and fragments

[2021-02-10 09:15] yashraj-01 commented on #2324
@ARJUPTA can I work on this issue?

[2021-02-10 09:23] Arjupta commented on #2324
@yashraj-iitr you can work on this, but before proceeding further we will be needing some views from @mschanteltc too. Till then you can propose the way ( in a comment ) you will solve it and then wait for any review you get over it.

[2021-02-10 10:23] anshbajpai commented on #2093
@rt4914 can you please assign this to me?

[2021-02-10 10:42] anandwana001 commented on #1769
Hi, @yurilev any update on this?

[2021-02-10 10:43] anandwana001 commented on #388
Hi, @kartikeysaran any update on this?

[2021-02-10 11:01] anandwana001 commented on #2568
@soamOne any update on this?

[2021-02-10 11:18] FareesHussain opened #2677 "[Documentation] Added sublinks for the wiki as a summary for Android-UI-based github workflow"
1. Add sublinks to the titles in the wiki [Android-UI-based github workflow](https://github.com/oppia/oppia-android/wiki/Android-Studio-UI-based-Github-workflow)

Example -
 ### Summary
  - [Clone Oppia-Android using Android Studio](https://github.com/oppia/oppia-android/wiki/Android-Studio-UI-based-Github-workflow)
  - [Create new branch](https://github.com/oppia/oppia-android/wiki/Android-Studio

[2021-02-10 11:24] anandwana001 commented on #2532
@dipu989 any update on this?

[2021-02-10 11:25] kartikeysaran commented on #388
I was little busy with college work, will try to add tests asap

[2021-02-10 11:27] anandwana001 commented on #2667
@MaskedCarrot Could you please confirm is this issue exist in the latest the develop branch. I cannot repro this issue.

[2021-02-10 11:31] MaskedCarrot commented on #2667
@anandwana001 Yes this issue exists in the latest develop branch. This issue can be reproduced by selecting `First Test Topic` from the Home Carousel.

[2021-02-10 11:36] anandwana001 commented on #629
@MaskedCarrot Any update on this?

[2021-02-10 11:39] MaskedCarrot commented on #629
@anandwana001 I have not been able to figure out the cause of this behavior.

[2021-02-10 11:57] anandwana001 commented on #388
@kartikeysaran Thanks for the update, do follow the steps above mentioned

https://github.com/oppia/oppia-android/issues/388#issuecomment-772343108

[2021-02-10 12:16] anandwana001 commented on #629
Looking into this, will send a starter pr, and you can follow after that.

[2021-02-10 12:28] anandwana001 commented on #2667
This is weird, it's working correctly for me.
@Srikanth-Kb @prayutsu Could you please confirm this?

[2021-02-10 12:32] anandwana001 commented on #1407
@BenHenning I din't remember the PR, but I think we do have `Auto cancel redundant builds` in one of your ongoing PR?

[2021-02-10 12:33] #295 closed, assigned to vinitamurthi, BenHenning

[2021-02-10 12:34] anandwana001 commented on #1233
@Sarthak2601 Could you help me understand here how we are taking this issue forward?
Can we add more details and open this issue for community?

[2021-02-10 12:50] prayutsu commented on #2667
@anandwana001 I am unable to repro the issue.

https://user-images.githubusercontent.com/54636525/107512285-9c9d7f80-6bcc-11eb-8742-8995c90b5b57.mp4

[2021-02-10 12:57] MaskedCarrot commented on #2667
@prayutsu @anandwana001  @Srikanth-Kb Please note this issue can only be reproduced when the topic is chosen from the `Recently-played stories` and not from `all topics`

[2021-02-10 13:02] FareesHussain commented on #2667
I tried navigating through Promoted stories and I was able to reproduce this.

[2021-02-10 13:16] prayutsu commented on #2667
Noted, I am also able to repro this now.

[2021-02-10 13:51] srikanthkb commented on #2667
Yes, able to reproduce this issue with this procedure.

[2021-02-10 14:26] dipu989 commented on #2532
@anandwana001 I might get this done by the beginning of the next week. Sorry for blocking this for quite a long time.

[2021-02-10 14:52] anandwana001 commented on #2667
Ah, got the error. Can we check why it is happening, as we are landing on the same page either from Topic or from recently played, what's creating a difference here?

[2021-02-10 16:35] fsharpasharp opened #2679 "Remove :exploration_java_proto_lite from the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :exploration_java_pr

[2021-02-10 16:37] fsharpasharp opened #2680 "Remove :interaction_object_java_proto_lite from the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :interaction_object_

[2021-02-10 16:37] fsharpasharp opened #2681 "Remove :onboarding_java_proto_lite export from the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :onboarding_java_pro

[2021-02-10 17:43] BenHenning commented on #182
I think this was going away in favor of concept cards, but it needs confirmation with Sean.

[2021-02-10 17:45] seanlip commented on #182
It is going away in favour of concept cards.

[2021-02-10 17:45] BenHenning commented on #182
Ninja response. :) Thanks @seanlip. In that case, we can drop this.

[2021-02-10 17:45] #182 closed, assigned to nobody

[2021-02-10 18:51] viktoriias commented on #206
@rt4914 @mschanteltc What are the latest requirements for this task?

[2021-02-10 19:16] yurilev commented on #1612
Possibly relevant: https://github.com/oppia/oppia-android/issues/1769#issuecomment-738056830

[2021-02-10 19:19] BenHenning commented on #1769
@yurilev are you sure these are related? From my experience it seems like the auto-closing happens on real Android devices (& potentially not on emulators--I forget). #1612 is describing an issue that only occurs in Robolectric due to missing functionality in the Robolectric test framework.

[2021-02-10 19:20] yurilev commented on #1769
One sec, I'm writing the full reply with the context.

[2021-02-10 19:21] yurilev commented on #1769
Hi @anandwana001 and @BenHenning,

I've tried reproducing again (looked at #1767 as well), unsuccessfully. I tested on:
* About 4 mobile emulators, all running API 29. In case screen size could be related, with screens ranging from 2.7" 240x320 to 6.3" Pixel 4 XL. And one tablet.
* Physical Pixel 2 running API 29 and Nexus 5 running API 23.

Per [this comment](https://github.com/oppia/oppia-androi

[2021-02-10 19:37] yurilev commented on #1735
After syncing, pushes fail with the following message:
[code]

Something somewhere is still looking for the old filename, but I can't find it in the codebaes.

[2021-02-10 19:52] yurilev commented on #1735
Reopening. Paraphrasing @BenHenning + adding detail:

Devs who ran `scripts/setup.sh` before `ktlint_lint_check.sh` was renamed have the older version of `pre-push.sh` in `.git/hooks/pre-push`, and it still points to `scripts/kotlin-lint-check.sh`.

Workaround:
[code]

Then `cd` back to `oppia-android` (the last step switches directories)

[2021-02-10 19:52] yurilev commented on #1735
Reopening.

[2021-02-10 19:54] BenHenning commented on #1735
Thanks @yurilev.

@anandwana001 can you send out an announcement to the mailing list & Gitter explaining how to work around this issue? It seems simple re-running setup.sh is the correct approach.

[2021-02-10 21:11] #2669 closed, assigned to yashraj-01

[2021-02-10 21:24] Sparsh1212 commented on #2673
@fsharpasharp When I am building the app with Bazel, the build is failing with these errors. Can you please tell,  how should I resolve them?
![image](https://user-images.githubusercontent.com/55937724/107574097-4fdd9700-6c14-11eb-95fb-ca49ec9d71f2.png)

[2021-02-10 21:48] fsharpasharp commented on #2673
Hey @Sparsh1212, is this after you made the changes? In that case you seem to be on step 3, try building again with --verbose_failures to see which libraries you will have to update.

[2021-02-10 23:56] BenHenning opened #2684 "Finish community profile"
This came up in a discussion within #2682. Our [community page](https://github.com/oppia/oppia-android/community) is currently missing the following (checkboxes indicate whether it's been fixed):
- [ ] README (this is intermittently missing)
- [ ] Code of conduct (see https://github.com/oppia/oppia-android/pull/2770#issuecomment-784829036 for plan)
- [ ] Contributing guidelines
- [ ] Pull request

[2021-02-10 23:59] BenHenning commented on #2684
https://github.community/t/community-profile-items-not-recognized/160414 is tracking the issue. It seems GitHub staff is aware of the issue & is looking into it.

[2021-02-11 00:04] BenHenning commented on #2641
One alternative approach may be to somehow track how "green" (passing) a test is over time and, if any tests exceed a predefined failure rate, it is then moved to a flaky target until it can be fixed.

[2021-02-11 00:56] anandwana001 commented on #1735
Yes, I was about to sent an announcement, once this little fix get's merged
https://github.com/oppia/oppia-android/pull/2674
@BenHenning

[2021-02-11 00:58] anandwana001 commented on #1735
After discussing with multiple contributors yesterday I found very few are there who had setup the script till now. Will send a detail email.

[2021-02-11 01:15] BenHenning commented on #1769
Nice findings @yurilev. Confirming that I also can't repro the issue anymore. Bit surprised to hear that the fix correlates to #1630 since I recall reproing this after that PR, but maybe something else later on fixed the problem in conjunction with that PR.

[2021-02-11 01:57] #2675 closed, assigned to anandwana001

[2021-02-11 03:27] #2599 closed, assigned to veena14cs

[2021-02-11 03:31] #2659 closed, assigned to BenHenning

[2021-02-11 03:53] anandwana001 commented on #1735
Closing this issue.
Sent an email update to all with all the required steps. Also, update on Gitter channel.
https://gitter.im/oppia/oppia-android

[2021-02-11 03:53] #1735 closed, assigned to anandwana001

[2021-02-11 04:14] aggarwalpulkit596 commented on #2250
https://docs.google.com/document/d/1RRmmH7Zrk_Mda9a67KBjFV5Odz2OzGfbYFFP_fPI_2c/edit

[2021-02-11 05:47] Sparsh1212 commented on #2673
@fsharpasharp No, I am actually trying to build the app using Bazel. I am on the prerequisite step. I haven't made any changes to the model.
Can this error be because of using the wrong version of Bazel? I am currently using the 3.7.2 version. Please tell me if this version is inappropriate for this use case.

[2021-02-11 06:24] yashraj-01 commented on #2679
I would like to work on this issue. Please assign this to me.

[2021-02-11 10:27] rt4914 commented on #1001
Ack. Closing this issue now.

[2021-02-11 10:27] #1001 closed, assigned to anshbajpai

[2021-02-11 11:50] prayutsu opened #2686 "Recently played story item not aligned in landscape mode"
**Describe the bug**
A clear and concise description of what the bug is.
The recently played story item is not properly aligned for landscape layout.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to HomeActivity
2. Change configuration to landscape
3. Observe that there's a little extra space before the recently played story item

**Expected behavior**
There should be no extra space bef

[2021-02-11 11:50] prayutsu commented on #2686
@rt4914 Please confirm this.

[2021-02-11 12:00] anandwana001 commented on #2684
As we have issue template folder and template inside it, can we have a similar folder for pull request too, it might catch in community profile!!
https://github.com/oppia/oppia-android/tree/develop/.github/ISSUE_TEMPLATE

[2021-02-11 13:54] yurilev commented on #1769
The bit about #1630 was conjecture on my part – the changes made seemed like they could fix it, and the timeline fits. I can try and test with the version prior if you want me to confirm.

[2021-02-11 15:21] Mehul-Bisht commented on #76
Is this issue still blocked?

[2021-02-11 15:44] rt4914 commented on #2686
@prayutsu Issue is correct. They should been aligned.

[2021-02-11 16:32] veena14cs opened #2689 "Not able to submit answer in Second Test Topic."
**Describe the bug**
There is one option missing in the exploration` test_exp_id_4` of `test_topic_id_1`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Second Test Topic on HomeScreen.
2. Click on First chapter
3. Re-arrange the correct options and submit the answer
4. See error

**Expected behavior**
There is a need to add all the correct options in `test_exp_id_4.json` file in `IsEqu

[2021-02-11 16:51] anshbajpai commented on #2689
@rt4914 can you please assign this to me?

[2021-02-11 17:58] fsharpasharp commented on #2673
Check out the instructions here

https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions

[2021-02-11 20:28] prayutsu commented on #2686
@rt4914 Thanks for confirming.

[2021-02-11 20:55] jcqli commented on #2610
Builds and runs on Pixel 4a fine

[2021-02-11 21:55] #1769 closed, assigned to yurilev

[2021-02-11 23:01] BenHenning opened #2691 "Verify Bazel CI test changes are working as expected"
From #1904:

- [x] Verify that the workflows behave correctly on forks where caching has to be disabled
- [x] Verify that the automatic at-head builds on develop work correctly with the new workflow changes
- [x] Verify that manual workflow runs work correctly with the changes
- [ ] (Once 1-3 are completed) Set the new 'Run test' workflow as required
- [ ] (After 4) Verify that the requirement doe

[2021-02-11 23:03] BenHenning opened #2692 "Investigate sharing shared workflow functionality across workflows/jobs in GitHub Actions"
For context: https://github.com/oppia/oppia-android/pull/1904#discussion_r535946585. Per https://github.blog/changelog/2020-08-07-github-actions-composite-run-steps/ there are ways to create custom actions that can be run in a GitHub Actions workflow to share functionality across jobs. We should investigate what this might look like & implement a sensible solution since after #1904 our workflows h

[2021-02-12 05:39] BenHenning commented on #2691
Running on develop: https://github.com/oppia/oppia-android/actions/runs/559499045 (strange JVM crash failure, but tests otherwise look operational).

[2021-02-12 05:40] BenHenning commented on #2691
Manual run kicked off: https://github.com/oppia/oppia-android/actions/runs/560109387. Seems to be working, but I'll check in just to make sure before checking the above.

[2021-02-12 05:40] BenHenning commented on #2691
For the fork test, will need to wait for a new PR to be created to check.

[2021-02-12 06:03] BenHenning commented on #2691
Ugh, looks like the check might be failing when no targets are computed: https://github.com/oppia/oppia-android/actions/runs/560112155.

[2021-02-12 06:13] BenHenning commented on #2691
I think we can conclude that manually triggering the workflows does work, and that the no affected targets check is NOT working. I'm fairly confident once the underlying issue is fixed that the conclusion task should pass & thus work when its required, so I may preemptively check that once #2696 is verified as working & merged in.

[2021-02-12 06:14] BenHenning commented on #2691
/cc @fsharpasharp in case you're interested in following along on this.

[2021-02-12 07:02] BenHenning commented on #1683
Bazel 4.0 is out, and in conjunction with https://github.com/oppia/oppia-bazel-tools this seems to work quite well.

[2021-02-12 08:03] BenHenning commented on #2691
Another issue: https://github.com/oppia/oppia-android/pull/2695.

[2021-02-12 08:37] yashraj-01 commented on #2679
@fsharpasharp please tell me the appropriate bazel version to use. I am currently using the latest version of bazel and it is causing some errors.

[2021-02-12 08:39] MaskedCarrot opened #2698 "Answer is not displayed on sdk 19"
**Describe the bug**
The answer is not displayed in First Topic Test

**To Reproduce**
Steps to reproduce the behavior:
1. Click on First Test Topic
2. go to the lessons tab
3. Answer till you reach `what are the primary colors of light?`
4. Answer correctly (green, blue, red)
5. see the error

**Expected behavior**
The answer should be displayed.

**Screenshots**

<img src="https://user-images.gi

[2021-02-12 09:23] Akshat-gour commented on #2686
@prayutsu assign me

[2021-02-12 09:26] #1839 closed, assigned to aishapervin

[2021-02-12 09:34] Akshat-gour commented on #2686
@prayutsu
can i work on this

[2021-02-12 09:37] prayutsu commented on #2686
@Akshat-gour Assigned this to you, please go ahead :)

[2021-02-12 10:10] Sparsh1212 commented on #2681
I would love to work on this. Please assign this to me.

[2021-02-12 10:44] yashraj-01 commented on #2680
I would like to work on this issue. Please assign this to me.

[2021-02-12 13:45] varunvjha commented on #2698
Can I work on this issue?

[2021-02-12 14:10] rt4914 opened #2704 "Incorrect highlighting in Drawer items"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home
2. Open Navigation Drawer
3. Click on `Admin Controls`
4. Click default back button
5. Open Navigation Drawer

Notice that both `Home` and `Admin Controls` are highlighted.

**Expected behavior**
Only `Home` screen should remain highlighted in this case.
The sim

[2021-02-12 14:34] harsh-hash commented on #2704
can i work on this issue?

[2021-02-12 14:37] rt4914 commented on #2704
@harsh-hash Thanks for showing interest. This is actually something similar to what @prayutsu is working on therefore assigning it to him.
Also before we can assign you issues please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-02-12 16:43] prayutsu commented on #2704
@rt4914 Should we update the issue description (e.g we face this issue for all the menu items)?

[2021-02-12 17:34] BenHenning commented on #2691
Confirming forks fail at least due to the key management piece: https://github.com/oppia/oppia-android/pull/2690. There's probably a check missing here.

[2021-02-12 17:36] BenHenning commented on #2691
Per https://github.com/oppia/oppia-android/pull/2690/checks?check_run_id=1885145971 it looks like the fork check is failing unexpectedly. Those actions weren't supposed to run which is why they're failing.

[2021-02-12 17:37] BenHenning commented on #2691
Interestingly https://github.com/oppia/oppia-android/pull/2320/checks?check_run_id=1886178465 ran successfully so the computed affected tests bit is not yet reliable.

[2021-02-12 17:45] BenHenning opened #2706 "CI checks are blocked due to Bazel build check failing on forks"
See https://github.com/oppia/oppia-android/issues/2691#issuecomment-778337053 for context. This was caused by #1904, and I'm going do 1 attempt at fix-forwarding it for timeliness. If that doesn't work, I'll be reverting the original change.

[2021-02-12 17:45] BenHenning commented on #2706
Note that I'm choosing fix forward here despite the reversion policy because we can trivially verify correctness in CI (there's no risk for unexpected failures--it either works or doesn't). I'm also making the change on a fork to verify it works now.

[2021-02-12 18:20] #2706 closed, assigned to nobody

[2021-02-12 19:39] #2689 closed, assigned to veena14cs

[2021-02-12 20:00] Akshat-gour commented on #2355
@anandwana001
@prayutsu
cannot import TextInputLayout in EditTextInputAction.
tried doing **invalidate cache and restart**, **clean and rebuild**, **Gradle sync**
and also cloning the repo again and also tried with newer gradle version 4.1.2

[2021-02-12 20:23] prayutsu commented on #2355
@anandwana001 I am also unable to import the TextInputLayout. It is really weird, can you try this once?

[2021-02-12 20:28] prayutsu commented on #2355
@Akshat-gour @anandwana001 Got the issue, we are unable to import this in the testing module because we don't have the material dependency in the BUILD.bazel and and build.gradle files of testing modules.
So, you'll need to add the dependencies there.

[2021-02-12 23:55] anandwana001 commented on #2355
Ah, I thought it was added, hard to catch such things without pr.
@Akshat-gour I hope things will work fine from here now.

[2021-02-13 00:37] anandwana001 commented on #2704
Aren't we fixing this in #2671 ?
https://github.com/oppia/oppia-android/pull/2671#issuecomment-777409385 ?

[2021-02-13 01:20] mschanteltc commented on #2628
Let's show the options as radio buttons, with `Small` as default. Each selection's font size should be reflected in their respective options so users have a visual reference for which size suits them best. WDYT? ([mock](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2eaf085a-c2a7-4b1d-b515-5b32f8642669/))

![OP (Reading Display Size)](https://user-images.githubuserconte

[2021-02-13 03:55] #1736 closed, assigned to anandwana001

[2021-02-13 03:58] BenHenning opened #2711 "Workflow canceller doesn't seem to work for dynamic jobs"
We kick-off >130 jobs for Bazel tests due to sharding, but it seems that subsequent pushes to a branch triggering the workflow canceller does not cancel previous jobs if those jobs are started due to a dynamic matrix strategy. This is especially troubling since the number of jobs (130) will quickly overwhelm GitHub Actions resources even with #2710 checked in.

[2021-02-13 04:22] #936 closed, assigned to veena14cs

[2021-02-13 05:32] Sparsh1212 commented on #2633
@rt4914 There is no activity on this issue from the past 7 days. If this issue is still up for grab, then I would love to fix the first part. Please assign it to me.

[2021-02-13 06:33] Akshat-gour commented on #2355
@prayutsu
i have updated dependency in build.gradle file its working now but I cannot find Build.bazel file
Do I have to setup bazel for that .

[2021-02-13 06:55] anandwana001 commented on #2355
You have to mention the dependency in the Build.bazel file which is in the testing module directly, as we are adding dependency in the gradle file of testing module.

[2021-02-13 07:22] Akshat-gour commented on #2355
@anandwana001
@prayutsu
like this  i have to write the dependency inside **BUILD.bazel** in block of **deps** = **artifact("com.google.android.material:material:1.2.0-alpha02")**

do I have to add this in **TEST_DEPS** block also.

[2021-02-13 07:31] anandwana001 commented on #2355
I don't think so, because we are not using text input layout in any of the test files of testing module, so we don't need to add the dependency into the test deps.

[2021-02-13 08:18] mschanteltc commented on #2324
From my understanding, does it not pass the accessibility checker because 0.35 is shown twice? (once in the submitted answer, again in the drag & drop interaction)

[2021-02-13 11:44] rioX432 commented on #2637
@rt4914 Sorry. I have simple question.
How can we put the talkback on button ?
I would like to switch talkback on/off by on click.

![image](https://user-images.githubusercontent.com/34413373/107849097-3a4ab600-6e3c-11eb-8e75-d6f8adbc28d3.png)

[2021-02-14 04:38] #2408 closed, assigned to nobody

[2021-02-14 04:48] anandwana001 opened #2715 "Resolve ktlint max line in OptionsFragmentPresenter"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the line of code under 100 char length.

Where to Start?
1. Complete all installation steps before starting with this issue - https://github.com/oppia/oppia-android/wiki#installation
2.
https://github

[2021-02-14 04:56] anandwana001 opened #2716 "Resolve ktlint max line in ImageRegionSelectionInteractionView"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the line of code under 100 char length.

Where to start?
1. Complete all installation steps before starting with this issue - https://github.com/oppia/oppia-android/wiki#installation
2.
https://github

[2021-02-14 04:59] anandwana001 opened #2717 "Resolve ktlint max line in DragAndDropItemFacilitator"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the line of code under 100 char length.

Where to start?
1. Complete all installation steps before starting with this issue - https://github.com/oppia/oppia-android/wiki#installation
2.
https://github

[2021-02-14 05:01] anandwana001 opened #2718 "Resolve ktlint max line in DragDropTestActivity"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the line of code under 100 char length.

Where to start?
1. Complete all installation steps before starting with this issue - https://github.com/oppia/oppia-android/wiki#installation
2.
https://github

[2021-02-14 05:06] anandwana001 opened #2719 "Resolve ktlint max line in ViewModelBridgeFactory"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the line of code under 100 char length.

Where to start?
1. Complete all installation steps before starting with this issue - https://github.com/oppia/oppia-android/wiki#installation
2.
https://github

[2021-02-14 07:32] Sparsh1212 commented on #2719
I would like to work on this issue. Please assign it to me.

[2021-02-14 08:55] yashraj-01 commented on #2718
I would like to work on this issue. Please assign this to me.

[2021-02-14 10:57] Sparsh1212 commented on #2717
If this is up for grab, then please assign it to me.

[2021-02-14 11:46] adit19shah commented on #2717
I'm interested in working on this issue.

[2021-02-14 12:01] adit19shah commented on #2715
I'm interested in working on this issue.

[2021-02-14 12:10] FareesHussain commented on #2715
@adit19shah Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-02-14 13:19] Akshat-gour commented on #2716
@anandwana001
can i work on this

[2021-02-14 14:19] varunvjha commented on #2698
I was able to reproduce the bug, but would you be able to help me navigate to the issue and maybe give some suggestions, if possible.

[2021-02-14 14:33] adit19shah commented on #2715
@FareesHussain Done.

[2021-02-14 14:43] Arjupta commented on #2628
Looks good to me

[2021-02-14 14:59] FareesHussain commented on #2715
@adit19shah Please fill the CLA too.

[2021-02-14 15:12] adit19shah commented on #2715
@FareesHussain I've already filled it.

[2021-02-14 15:14] FareesHussain commented on #2715
It doesn't show here can you please re-check if you've filled the CLA,
I think you've only filled the survey

[2021-02-14 15:47] adit19shah commented on #2715
![image](https://user-images.githubusercontent.com/58650668/107881213-66803880-6f09-11eb-93b4-f19fba8b44f8.png)

Yupp, I rechecked it, it's showing me this message "You've already responded". Just to clarify, I had filled both these forms back in December 2020 but wasn't able to continue at that time owing to some personal reasons. Since the survey form was editable, I edited it again today but CL

[2021-02-14 17:12] dipu989 commented on #2532
@BenHenning @anandwana001 Local tests are passing but the instrumentation ones are giving this error. Any pointers to resolve this? Running on Realme device as well as emulator gives this error.

![Screenshot from 2021-02-14 22-39-48](https://user-images.githubusercontent.com/31280303/107883575-bfee6480-6f15-11eb-8574-4cbaf20cd3bc.png)

[2021-02-14 18:40] abhinav12k commented on #2716
Hi @anandwana001, Can I work on this issue if it's available?

[2021-02-14 20:21] Arjupta commented on #2324
Yes , this is a part of a broader issue related to failing content description tests. If we do not take care of these descriptions on our own then the screen readers will take up the value of the text inside that view. This might not cause error in some cases but for cases like same **text value** or multiple **checkboxes at same state** will fail the test

[2021-02-14 20:25] Arjupta commented on #2637
@omooooori the instructions varies for different devices. You can search about enabling TalkBack in a device which you use. There are some shortcuts combination of volume and power button also( again specific for different devices)

[2021-02-14 23:14] anandwana001 commented on #2716
@Akshat-gour I don't suggest you this issue because it's a good first issue and you already working on 3 good first issues. We recommend to go for bit harder issues to work on.

[2021-02-14 23:16] anandwana001 commented on #2532
Gradle sync, invalid cache and restart, clean and rebuild project helps here. Take pull from latest develop branch.

[2021-02-14 23:23] anandwana001 commented on #2717
@Sparsh1212 I don't recommend this issue to you because you had already assigned 3 good first issues and we recommend to go for bit harder issues.

[2021-02-14 23:53] #2600 closed, assigned to prayutsu

[2021-02-15 04:12] #2718 closed, assigned to yashraj-01

[2021-02-15 10:11] Akshat-gour commented on #2658
@BenHenning is it still available, please assign me

[2021-02-15 10:49] Akshat-gour commented on #2642
@BenHenning
@anandwana001
can you assign me this issue

[2021-02-15 12:01] #2715 closed, assigned to adit19shah

[2021-02-15 12:51] rt4914 opened #2728 "Issues with Administrator Controls"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home`
2. Open navigation drawer
3. Click `Options`
4. Open navigation drawer
5. Click `Admin Controls`
6. Click back
7. `Home` screen is visible

**Expected behavior**
Whatever is last screen that should be opened in this case `Options`

**Screenshots**
![untitled](

[2021-02-15 12:52] rt4914 commented on #2728
@mschanteltc PTAL and confirm if this is actually a bug or the current behaviour is correct.

[2021-02-15 13:10] prayutsu commented on #2728
@rt4914 So, ideally we may want to return to the Options Fragment after pressing back from Admin Controls?

[2021-02-15 13:18] Arjupta commented on #2327
@rt4914 I think we can close this issue?

[2021-02-15 13:22] Arjupta commented on #2325
@mschanteltc PTAL at Issue 1 and Issue 2 mentioned here

[2021-02-15 14:33] rt4914 commented on #2327
Closing this issue as the UI has been updated.

[2021-02-15 14:33] #2327 closed, assigned to nobody

[2021-02-15 14:34] rt4914 commented on #2728
@prayutsu Actually I am not sure.

[2021-02-15 14:40] rt4914 commented on #2628
@mschanteltc This mock is really nice and to the point. Thanks.

[2021-02-15 14:46] rt4914 commented on #2637
@omooooori I have just updated the assigned issue which makes it much simple. You just need a static label instead of a dynamic label.

[2021-02-15 14:47] rt4914 commented on #2698
@varunvjha Not sure but you can start by looking at `HtmlParser` in `utility` module.

[2021-02-15 14:50] Arjupta commented on #2321
@mschanteltc PTAL at Issue 2 mentioned here

[2021-02-15 14:50] rt4914 commented on #2633
Unassigned @Prince-kushwaha because of inactivity for 10 days and assigning it to @Sparsh1212

[2021-02-15 14:52] rt4914 commented on #2321
@ARJUPTA You can remove `Issue 2` because labels will be provided by json files / backend. This is dummy state which does not have a label and thats fine.

[2021-02-15 14:53] ARJUPTA commented on #2314
@mschanteltc PTAL at Issue 1 mentioned here

[2021-02-15 14:54] Arjupta commented on #2321
Oh! ok

[2021-02-15 14:54] Arjupta commented on #2321
@rt4914 then this issue can be closed

[2021-02-15 14:54] rt4914 commented on #2704
@prayutsu Done

[2021-02-15 14:54] rt4914 commented on #2704
Yes.

[2021-02-15 14:55] rt4914 commented on #2321
@ARJUPTA Update the description to mention only the issue which you have solved and then we can close this.

[2021-02-15 14:56] Arjupta commented on #2314
@rt4914 we can close this issue too as the label are going to be presented in the prod app

[2021-02-15 14:57] Sparsh1212 commented on #2633
@rt4914 Shall I follow the same process as we did in the case of [#2656](https://github.com/oppia/oppia-android/pull/2656#issuecomment-776508648)
Also, please tell the value of `label`  for this case.

[2021-02-15 14:57] Arjupta commented on #2321
@rt4914 Done

[2021-02-15 15:00] rt4914 commented on #2314
@ARJUPTA please update the description and then we can close. Also remove `BLOCKED` from title

[2021-02-15 15:02] Arjupta commented on #2310
@rt4914 same explanation can be applied here for closing this issue as we have done with Ratio Input Interaction

[2021-02-15 15:04] Arjupta commented on #2314
@rt4914 Done

[2021-02-15 15:10] #2321 closed, assigned to Arjupta

[2021-02-15 15:10] #2314 closed, assigned to nobody

[2021-02-15 15:10] rt4914 commented on #2310
@ARJUPTA yes.

[2021-02-15 15:10] #2310 closed, assigned to nobody

[2021-02-15 15:13] Arjupta commented on #2295
@rt4914 should we solve the Issue 4 by marking it not important for accessibility if the recycler view is empty?

[2021-02-15 15:14] rt4914 commented on #2633
@Sparsh1212 Yes but suggest to wait for that PR to get merge first.

[2021-02-15 15:15] rt4914 commented on #2295
@ARJUPTA No, infact this issue is obsolete and won't happen. This is happening just because of dummy data else we will have subtopics in correct data.

[2021-02-15 15:16] Arjupta commented on #2219
@rt4914 do we also have something for the content description here in the app or we should ask @mschanteltc

[2021-02-15 15:17] rt4914 commented on #2219
@ARJUPTA Please update the issue with latest develop code because `ProfileInputView` has been removed from the code now.

[2021-02-15 15:18] Arjupta commented on #2295
@rt4914 Updated the description and heading

[2021-02-15 15:19] Arjupta commented on #2219
Okay I will.

[2021-02-15 15:27] Arjupta commented on #2728
@rt4914 I faced a similar bug.
Steps -
- Enter admin profile
- Open drawer
- Click on Administrator Controls
- Press Back
- Open Drawer again

you will see both home and administer control to be highlighted in yellow like they both are selected

[2021-02-15 15:31] prayutsu commented on #2728
This is fixed in PR #2671.

[2021-02-15 15:53] yashraj-01 commented on #2632
@rt4914 there is no response on this issue. I would like to work on this issue if it is still available. Please assign it to me.

[2021-02-15 16:10] rawlin commented on #1042
Hey, can I be assigned this issue please

[2021-02-15 16:47] rt4914 commented on #2295
Closing this issue as issue 4th is obsolete. Thanks @ARJUPTA . Also please verify that we can close this issue.

[2021-02-15 16:47] #2295 closed, assigned to Arjupta

[2021-02-15 16:52] yashraj-01 commented on #2324
@ARJUPTA I scanned the app using Accessibility Scanner before submitting the answer and after submitting the answer. I found that this error was only coming after submitting. I think the reason is same as mentioned by @mschanteltc . So, how do you propose I should move forward?

[2021-02-15 17:23] Arjupta commented on #2728
This is latest fetch from develop
![Screenshot_1613409618](https://user-images.githubusercontent.com/64064110/107977092-91898b80-6fe0-11eb-8d1d-1f5bb3894453.png)

[2021-02-16 05:48] Arjupta commented on #2324
@rt4914 @yashraj-iitr Is this content description issue reproduceable by you on Pixel 3A emulator. I am able to reproduce only in Real Device

[2021-02-16 05:57] Arjupta commented on #2295
Tested it on Pixel 3A (API 29) and Nexus 9A (API 29) emulator for both landscape and portrait orientation. It can be closed

[2021-02-16 06:53] Arjupta commented on #2219
@rt4914 this issue is not reproduceable on both emulator and real device so we can close this issue now

[2021-02-16 09:01] kartikeysaran commented on #388
@anandwana001  I am busy with my college projects this week if you want you can assign someone else to this issue

[2021-02-16 09:11] khushal1707 commented on #2417
@anandwana001 Is `TODO(#388): Add more test-cases` available now ?  Can I work on this?

[2021-02-16 09:32] anandwana001 commented on #2417
@khushal1707 done

[2021-02-16 09:52] yashraj-01 commented on #2324
No, I also reproduced it on a real device.

[2021-02-16 10:14] veena14cs commented on #2546
@priyanka0906 since #2320 is merged, this is unblocked and you can work on this.

[2021-02-16 11:43] prayutsu commented on #2728
@ARJUPTA Actually the PR has not been merged yet, it has been approved by all the code owners and it will be merged soon.

[2021-02-16 14:37] MaskedCarrot commented on #1497
May I work on this?

[2021-02-16 14:59] peculiaruc commented on #1497
Thanks for showing interest to work on this task but it already assigned.

[2021-02-16 15:38] rt4914 commented on #2219
This issue is obsolete.

[2021-02-16 15:38] #2219 closed, assigned to Arjupta

[2021-02-16 20:26] dipu989 commented on #2532
@anandwana001 Tried with all the steps above and getting same result.
Switched to logcat and saw AndroidOrchestration failed error having below errors

e/androidx test orchestrator: fatal exception when setting up

attempt to invoke virtual method 'android.content.context android.app.instrumentation.getcontext()' on a null object reference.

Is it my device related issue?

[2021-02-16 22:05] anandwana001 commented on #2532
Have you tried with fresh emulator?

[2021-02-16 22:15] #2717 closed, assigned to adit19shah

[2021-02-16 23:12] BenHenning commented on #2539
@anandwana001 are those Java instructions correct for Linux, too?

[2021-02-16 23:30] BenHenning commented on #1723
Reaffirming the need especially for clear instructions on how to run tests.

[2021-02-16 23:52] mschanteltc commented on #2728
The selected page should change in the background first before the menu slides back.

So from the Home Page, if I as a user tap the hamburger menu and select "Options," the page that is a layer below the side menu should change/fade to  the Options page, and then the side menu hides. ([mock](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/d47aa8de-a7a8-4d25-b011-5baefc7b

[2021-02-17 03:51] anandwana001 commented on #2539
Yes, I think,
There are only two steps:
1. Java must be installed
2. If a contributor is on Windows they need to set environment path too.

And good to go.

@FareesHussain Could you please confirm if you performed any extra steps to set up Java on Linux?

[2021-02-17 03:56] FareesHussain commented on #2539
@anandwana001 No, I just installed the android studio and cloned the project as soon as I setup linux and it was working.
I had no issues with Java.

[2021-02-17 03:58] anandwana001 opened #2731 "Can we automatically re-run the setup script whenever it gets updated?"
**Describe the bug**
Whenever we add new things in the setup script, the script needs to re-run on the local machine to get the advantage of all the new things introduced. Connecting with all the contributors to tell them to re-run the script is a bit cumbersome task.

**Expected behaviour**
How can we run the script locally just by pulling the latest code from the develop branch?

[2021-02-17 04:03] FareesHussain commented on #2731
Can we add this in the pre-merge-commit to run the setup.sh.
as there is no pre-pull hook.

[2021-02-17 04:05] anandwana001 commented on #2731
this way we are running script at two points:
1. Before merging
2. Before pushing

[2021-02-17 04:13] FareesHussain commented on #2731
Can we try [post-merge](https://git-scm.com/docs/githooks#_post_merge) this would be only before pushing right

[2021-02-17 04:17] Akshat-gour commented on #2658
@BenHenning
@anandwana001
If this issue is available. please assign to me.

[2021-02-17 05:06] prayutsu commented on #2731
@FareesHussain I also believe a post-merge hook can help here.

[2021-02-17 05:13] #1762 closed, assigned to prayutsu

[2021-02-17 05:13] #2704 closed, assigned to prayutsu

[2021-02-17 05:26] rt4914 commented on #2324
@ARJUPTA I am unable to run A11y on emulator as it is taking too much resources. I will have to do the setup process again. But I tried this on real device Pixel 3 and it is reproducible.

[2021-02-17 05:29] rt4914 opened #2732 "Navigation Drawer screen transition animation fix"
As per [this](https://github.com/oppia/oppia-android/issues/2728#issuecomment-780193599) comment:

The selected page should change in the background first before the menu slides back.

So from the Home Page, if I as a user tap the hamburger menu and select "Options," the page that is a layer below the side menu should change/fade to the Options page, and then the side menu hides. ([mock](https://x

[2021-02-17 05:30] rt4914 commented on #2728
@mschanteltc The issue that you have mentioned is different and I have filed a new issue for the same.
In this issue as mentioned in the description, its about the screens which should be shown under different scenarios.

[2021-02-17 05:44] mschanteltc commented on #2325
1. The screen reader should say 'Audio, OFF, Double-tap to activate'
2. Can we add 4 dp top and bottom padding?

[2021-02-17 05:52] Arjupta commented on #2324
I also tried using TalkBack here, it read 3/5 as Three-fifths and also other decimal values were read correctly as the text inside them is unique (Still the scans fail in real device). @yashraj-iitr try to keep this checks in mind while solving this. This issue might be hard for you so feel free to draft a PR and assign us for discussion.

[2021-02-17 05:54] #2716 closed, assigned to abhinav12k

[2021-02-17 05:54] Arjupta commented on #2325
@mschanteltc pardon me , i meant to say look over Issue 1 and Issue 3

[2021-02-17 05:57] rt4914 commented on #2324
@ARJUPTA `Talkback` and `A11y Scanner` can be independent of each other. `A11y Scanner` fails because `3/5` in `submitted answer` and `3/5` in `DragAndDropInteraction` on screen are same that's why.

[2021-02-17 06:02] Arjupta commented on #2324
@rt4914 in that case we should be able to differentiate between both of these. I believe we should change the description programmatically after the user submits a wrong answer. This new description should mention that the wrong answer you gave is this and the right answer is this. Just a vague plan. WDYT?

[2021-02-17 06:15] prayutsu commented on #2731
@FareesHussain @anandwana001 We could design the post-merge hook in such a way that it only gets executed when there are changes in our script.

[2021-02-17 06:16] harsh-hash commented on #2732
Can i work on this issue?

[2021-02-17 06:17] FareesHussain commented on #2731
Yes, post-merge seems to be perfect here.
@anandwana001 WDYT?

[2021-02-17 09:36] anandwana001 commented on #2658
Assigning to @Sparsh1212 as he has asked it earlier.
You can start by creating a dependency - dependent graph, look for what are the dependencies for `BindableAdapter` and dependent of `BindableAdapter`. The five points mentioned above are good to start with.

[2021-02-17 09:39] Sparsh1212 commented on #2658
Okay thankyou. I will start working on this ASAP.

[2021-02-17 09:54] anandwana001 commented on #2728
Is this blocked?

[2021-02-17 11:01] anandwana001 opened #2734 "JCenter Migration"
**Describe the bug**
JCenter deprecation and end of service.

**Expected behavior**
https://developer.android.com/studio/build/jcenter-migration

[2021-02-17 11:03] anandwana001 opened #2735 "Remove once shifted to MavenCentral"
**Is your feature request related to a problem? Please describe.**
Currently, few libraries are not shifted to MavenCentral.

**Describe the solution you'd like**
Remove the modules to fetch from JCenter, once it will be available from MavenCental.

[2021-02-17 12:49] #2719 closed, assigned to Sparsh1212

[2021-02-17 16:12] rt4914 commented on #2613
@mschanteltc Thanks. Updated.

[2021-02-17 16:45] dipu989 commented on #2532
Created an emulator and tried running tests. This error comes - (No tests were found). I tried Invalidating cache restart and clean rebuild.
![Screenshot from 2021-02-17 22-13-40](https://user-images.githubusercontent.com/31280303/108237040-86b03180-716d-11eb-85d8-a619995cc28a.png)

[2021-02-17 17:30] rt4914 commented on #2618
@mschanteltc For `Download Permissions` switch related options I am unable to customise as per the steps you mentioned. Also technically we can do that but we don't want to write any custom code as it should be something which can easily be controlled by any app-reader.

I was able to produce following output. Focus on Download Permissions section only:

https://user-images.githubusercontent.com/9

[2021-02-17 18:36] priyanka0906 commented on #2637
@rt4914  in my emulator ,talkback is not navigating to all the items, as shown in the video.

https://user-images.githubusercontent.com/56197993/108250998-ef52da80-717c-11eb-9939-0ee408d10553.mp4

[2021-02-17 18:48] Akshat-gour commented on #2637
@priyanka0906
Talkback Does not Automatically Read the next text.
Take a look at this to know how navigation works.
https://support.google.com/accessibility/android/answer/6006598
also
https://github.com/oppia/oppia-android/wiki/Accessibility-(A11y)-Guide

[2021-02-17 18:53] priyanka0906 commented on #2637
okay...thankyou

[2021-02-17 19:28] rt4914 commented on #2728
@anandwana001 Yes. Waiting for another reply from @mschanteltc

[2021-02-17 19:30] rt4914 commented on #2324
@ARJUPTA Sounds good. But I will investigate in more detail about how other apps does this and then we can finalise how to solve this.

[2021-02-17 19:33] BenHenning commented on #2324
Ah. I don't think it's wrong as-is (since the two copies have different contexts), but the interesting bit here is that we might not be providing very much context that the submitted answer is actually the submitted answer. We rely on a visual indication for that today (e.g. box color/alignment) which is a violation of that particular accessibility guideline. I don't think adding an 'answer' text

[2021-02-17 19:45] mschanteltc commented on #2325
3. Audio scrub, STATE (ex: Audio scrub, PAUSED)

Is there a document keeping track of all these unique item labels?

[2021-02-17 19:53] rt4914 commented on #2614
Unassigned @som23ya because of inactivity.

[2021-02-17 20:00] rt4914 commented on #2631
@Prince-kushwaha Any updates on this?

[2021-02-17 20:12] rt4914 commented on #2627
It would read like this:
`Show/Hide password icon, SHOW, Double-tap to activate`. @mschanteltc

[2021-02-17 20:19] rt4914 commented on #2615
Any updates on this @nskirkey  ?

[2021-02-17 20:23] rt4914 commented on #2218
Closing this issue as it is obsolete now.

[2021-02-17 20:23] #2218 closed, assigned to nobody

[2021-02-17 20:32] TheRealJessicaLi opened #2738 "Add tests for score and mastery calculations"
Need to write tests for [score and mastery calculation feature](https://docs.google.com/document/d/1ISuqvKs6b0xdE0-aEIHXYG7oDbCmDBcgUia0TiR9GpQ/edit?usp=sharing) after the calculation portion has been implemented. Tests should be checking the correctness of the final score and mastery degrees, since those are the only things relevant to the UI.

[2021-02-17 20:51] mschanteltc commented on #2627
Is it possible we can use "Double-tap to hide" (or show)? Or is "Double-tap to activate" the default we must use?

[2021-02-17 21:01] BenHenning commented on #2618
@mschanteltc if we want those extra details for buttons & options, should we maybe include them as explicit labels in the UI so that sighted users also get that context? In general I think the recommended pattern is to try to keep the information presented to sighted & accessible users essentially the same so much as possible. TalkBack is actually designed under this assumption, and we often don't

[2021-02-17 21:14] mschanteltc commented on #2324
I agree, adding a description before the submitted answer would provide better context for the learner. We can use "Incorrect submitted answer" and "Correct submitted answer" for more clarity.

[2021-02-17 21:20] mschanteltc commented on #2728
Ah I see, yes this flow is correct. If the app is on a navigation drawer page that is not the Home Page, tapping the 'back' button navigates the learner to the Home Page.

[2021-02-17 22:07] nskirkey commented on #2615
Yes. Just got it. I'll start making a PR.

[2021-02-18 00:55] anandwana001 commented on #2532
Did you cloning the repo again?

[2021-02-18 01:45] mschanteltc commented on #2618
Let's not add extra labels in the UI because it would crowd the page with too much information. The extra details I suggested for TalkBack were meant to assist those who are visually impaired, which is why I thought it would be clearer to describe what 'double-tapping' the switch would do instead of mentioning that a switch is present. If we assume that users with TalkBack enabled are aware of how

[2021-02-18 04:05] rt4914 commented on #2618
@mschanteltc Just sharing another video for confirmation which shows "Double tap to toggle".
Download Permissions, 3 of 5 → Download and update only on Wifi; Topics will be download...queued. → checked, Download and update only on Wifi (**Or any custom description that we want**), Switch → Double tap to toggle

https://user-images.githubusercontent.com/9396084/108303672-56e44680-71cc-11eb-9587-15e

[2021-02-18 04:45] Arjupta commented on #2325
@rt4914 PTAL

[2021-02-18 04:56] anandwana001 commented on #2657
unassigning myself as I will not be available to work on this for one or two week, making it available if any other contributor wants to work on this issue.

[2021-02-18 05:38] Arjupta commented on #2627
@rt4914
- Why can't we just go with `Show Password, Button` as a response because by default the Pin is in hidden state.
 - We can make the Show/Hide Icon to be a Button with that image and a textview just below showing the current state (ie HIDE or SHOW) and mark this textview not important for accessibility. WDYT?
- The Show hide icon is read after forgot pin because it is mentioned after the Fo

[2021-02-18 05:53] rt4914 opened #2743 "[A11y] Add labels for different screens for Talkback reader"
When `Talkback` is on, whenever we click on any option which leads to new screen the reader will automatically read the `label` associated with that screen first. If in case label in not present then it will read app name i.e. `Oppia`.

We need correct labels for following screens:
- [ ] [Onboarding Flow]() → `Onboarding Flow`
- [x] [Profile Chooser Screen](https://xd.adobe.com/view/e8aa4198-3940-

[2021-02-18 16:36] rt4914 commented on #2324
@ARJUPTA Can you please update the description to mention the improvements suggested by Ben and Chantel.

[2021-02-18 16:39] rt4914 commented on #2627
@mschanteltc So basically there are three parts to this:
(a.) `Show/Hide password icon`
(b.) `SHOW`
(c.) `Double-tap to activate`

So in this we can control only (a.) and (b.). Part (c.) is controlled by readers and therefore we cannot control it.

[2021-02-18 16:40] rt4914 commented on #2627
Okay so in that case what would be the final output from talkback? @ARJUPTA

[2021-02-18 16:42] rt4914 commented on #2325
@mschanteltc No actually because everything is getting tracked in issues only.

[2021-02-18 16:43] rt4914 commented on #2728
Okay. Thanks @mschanteltc
Closing this issues considering this is the expected behaviour of the app.

[2021-02-18 16:43] #2728 closed, assigned to mschanteltc

[2021-02-18 16:58] BenHenning commented on #2610
I suggest switching the top-level build to use legacy multidex & use 3 shards and see if that works--this might be a bug with the device's Multidex loader.

[2021-02-18 21:53] mschanteltc commented on #2627
Current, Adobe XD mock (with confusing icon and label):
![PC NP (Filled)](https://user-images.githubusercontent.com/22177674/108423251-7be8b180-71ec-11eb-986c-dbac1f385fb4.png)

Looking at the current output, the current Adobe XD mock (above image), and the screenshot in the [PRD](https://docs.google.com/document/d/1Ae587Q1ggfoca0j5j44LO3VFx_Z35oklyTcPZbz2w3I/edit?ts=5d02d804#heading=h.bt837l6gv2b

[2021-02-19 00:13] mschanteltc commented on #2618
The order sounds good. I would change "check"/"not checked" to "On"/"Off" since toggle switches are usually described with those states.

[2021-02-19 03:59] #2207 closed, assigned to rt4914

[2021-02-19 07:21] rt4914 commented on #2592
@chrk2205 Let's go with solution 2 as it seems to be more readable and maintainable.

[2021-02-19 07:24] rt4914 commented on #2636
Closing this as we will not be manipulating the A11y information for MultiType RecyclerView because this is something which is not supported by the `recyclerview` library and users must be having a similar experience in other apps which have MultiType RecyclerView.

[2021-02-19 07:24] #2636 closed, assigned to rt4914

[2021-02-19 07:54] #2614 closed, assigned to rt4914

[2021-02-19 09:24] prayutsu commented on #2610
I tried installing it through bazel, it got installed successfully and SplashActivity appeared for a second and it got crashed.
Device - Redmi K20 Pro
API - 29

[2021-02-19 09:43] priyanka0906 commented on #2637
@rt4914  I have tried   android:accessibilityTraversalAfter="@id/revision_card_toolbar"  but it didn't work....would you please provide any hint or something which would help me.

[2021-02-19 10:57] srikanthkb commented on #2480
I took a look at this issue for the **first** test case `testAudioWithWifi_openRatioExploration_clickAudioIcon_checkAudioFragmentHasDefaultLanguageAndAutoPlays()`, here's what I think:
- When the audio player button is clicked, the audio player UI is loaded and it immediately starts playing the audio. The audio player plays the audio on the main thread, which blocks the `testCoroutineDispatchers`

[2021-02-19 16:09] rt4914 commented on #2637
@priyanka0906 Suggest checking out `Topic` and `StoryActivity` toolbar and how it is implemented if we follow similar approach. It should work in `Revision Card `too.

[2021-02-19 16:12] rt4914 commented on #2627
@mschanteltc Sounds good. We can implement this.

[2021-02-19 17:04] BenHenning commented on #1601
This is completed minus #1600. Keeping that one open to track.

[2021-02-19 17:04] #1601 closed, assigned to miaboloix

[2021-02-19 17:05] BenHenning commented on #1598
This seems like a good start--we can continue to refine the documentation during the migration. Since this issue didn't clearly outline what work we intended, considering it done.

[2021-02-19 17:05] #1598 closed, assigned to miaboloix

[2021-02-19 17:06] BenHenning commented on #1598
Per https://docs.google.com/document/d/1_S27YFIwwMMX7kwEbXPK3nEbf4rcJF4tFVFSQsMChDc/edit# I think we cover most of the original intended documentation, sans Android Studio. I'll file a separate for AS.

[2021-02-19 17:07] BenHenning opened #2745 "Databinding has visual errors in Android Studio with Bazel"
When syncing the project in Android Studio using Bazel (rather than Gradle), all databinding mapping files are shown as if they don't exist despite the project working correctly. This needs investigation & potential fixes to the plugin,

[2021-02-19 17:08] BenHenning opened #2746 "Add documentation for Android Studio with Bazel on all OS's"
We should expand our Bazel documentation to include:

- [x] - Installing the Bazel plugin in Android Studio https://github.com/oppia/oppia-android/pull/5723
- [x] - Importing the project as a Bazel project https://github.com/oppia/oppia-android/pull/5723
- [x] - Syncing (& partial syncing)
- [x] - Building the app https://github.com/oppia/oppia-android/pull/5723
- [x] - Building & running tests th

[2021-02-19 17:08] BenHenning commented on #1598
This is now tracked in #2746.

[2021-02-19 17:09] BenHenning opened #2747 "Move off of Gradle [Blocked: #2746]"
This is the official tracking issue for moving people over to Bazel. What primarily blocks is:
- Excellent proven documentation for using Android Studio & changing Bazel files
- Full modularization of Bazel
- Complete parity in both test functionality and CI between Bazel & Gradle

--------------

More detail:

Oppia Android is currently built using Gradle, but Gradle falls short of the team's nee

[2021-02-19 17:10] BenHenning commented on #1519
Assigning this to you @fsharpasharp to decide what to do with.

[2021-02-19 17:11] BenHenning commented on #1284
This has been completed since stage 1 of the Bazel migration is done.

[2021-02-19 17:11] #1284 closed, assigned to miaboloix

[2021-02-19 17:11] BenHenning commented on #59
This is the primary tracking issue for overall migration. Assigning to you @fsharpasharp.

[2021-02-20 01:46] BenHenning commented on #2691
#2648 seems to show that Bazel file changes are causing the compute affected targets to hang: https://github.com/oppia/oppia-android/runs/1925361182. Adding this as another TODO.

[2021-02-20 04:50] priyanka0906 commented on #2637
okay thankyou

[2021-02-20 05:39] priyanka0906 commented on #2637
@rt4914 in this also title is not selected after back arrow

https://user-images.githubusercontent.com/56197993/108584880-bed09380-736a-11eb-80b6-fe735ac78df5.mp4

[2021-02-20 15:09] ARJUPTA commented on #2324
agree, adding a description before the submitted answer would provide better context for the learner. We can use "Incorrect submitted answer" and "Correct submitted answer" for more clarity.

[2021-02-20 15:32] Arjupta commented on #2324
Done.
@rt4914 @mschanteltc @BenHenning
this solution will only work if we have only one incorrect response, when we will have two or more incorrect responses then there will be no difference between those two incorrect submissions.

|||
|:-:|:-:|
|![Screenshot_2021-02-20-20-51-47-65_80a9469f53bfe75dbc6e8989be28e2f0](https://user-images.githubusercontent.com/64064110/108600746-ebae9600-73be-11eb-94

[2021-02-20 15:35] Arjupta commented on #2325
@rt4914 i think this is mentioned in the excel sheet i shared with you earlier

[2021-02-20 15:57] Arjupta commented on #2743
@rt4914 the links provided in the description point to this same issue

[2021-02-21 01:49] yashraj-01 commented on #2324
@ARJUPTA is it necessary to show all the submitted answers? I mean showing only the last submitted answer would be sufficient in my opinion. WDYT?

[2021-02-21 04:59] Arjupta commented on #2324
@yashraj-iitr yes, in current implementation we show the latest submitted answer only. But there is a feature of previous answer. By clicking on that you can view all your previous answers, so this is something we should also handle

[2021-02-21 11:10] yashraj-01 commented on #2324
Okay. But there should be a way to differentiate between previous responses and the last submitted one. As of now, all the responses are followed by the text "Not quite. Try again." I think we should group all the previous responses under one heading to differentiate it from the last submitted response. WDYT @ARJUPTA ?

[2021-02-21 20:23] rt4914 commented on #206
@BenHenning Can you provide some screenshots for this? I am unable to understand what is the exact issue here.

[2021-02-22 06:28] dipu989 commented on #2532
Will try this and check if the tests are working.

[2021-02-22 06:40] kartikeysaran commented on #2738
Can i work on this issue

[2021-02-22 08:47] FareesHussain commented on #2532
@dipu989 Can you try installing the app and then running the Espresso tests.

[2021-02-22 18:38] rt4914 commented on #2738
cc: @BenHenning and @TheRealJessicaLi

[2021-02-22 18:39] rt4914 commented on #2324
@ARJUPTA That's fine. For repetition this failure can be avoided.

[2021-02-22 18:40] rt4914 commented on #2743
@ARJUPTA This issue is not finished yet. I will add more information to this soon.

[2021-02-22 18:46] rt4914 commented on #2325
@ARJUPTA In that sheet we haven't mentioned the solutions for the content description that we are doing in issues only.

[2021-02-22 18:47] rt4914 commented on #2637
@priyanka0906 Thanks for providing the video. I think I will have to try to solve this and then only I can confirm the exact reason for the issue.

[2021-02-22 18:47] TheRealJessicaLi commented on #2738
This issue is blocked and won't be ready until the calculations portion of the feature has been done (which will probably be in April), so I'd recommend picking up something else!

[2021-02-22 19:09] priyanka0906 commented on #2637
okay sir

[2021-02-22 19:25] rt4914 opened #2749 "Home Topic Card UI Regression"
The Home screen topic cards look weird in various devices and that's because of following reasons:
1. Span count is not dynamic.
2. If the extreme end margins of the screen is large then it's because of span count and the cards look really bad. Because span count divides the entire screen in equal parts.
3. We have to keep the inner margins consistent too which is not easy with span count.

Overal

[2021-02-22 19:25] rt4914 commented on #2749
@BenHenning PTAL

[2021-02-22 19:39] FareesHussain commented on #2571
@kartikeysaran any updates on this?

[2021-02-23 02:59] khushal1707 commented on #2417
I'm having exams this week and I'll try to make pull request by the end of the week for TODO:(#388)

[2021-02-23 03:05] kartikeysaran commented on #2571
Was working on other issues will work on this

[2021-02-23 05:25] rt4914 commented on #2633
@Sparsh1212 You can work on this PR as your original PR has almost been approved.

[2021-02-23 05:25] rt4914 commented on #2632
@yashraj-iitr Any updates on this issue?

[2021-02-23 05:26] rt4914 commented on #2632
On second thought, can you please work on some other issue which is not related to A11y as I might have to prioritise this issue. I am assigning this to myself.

[2021-02-23 05:28] rt4914 commented on #2619
Duplicate #2743

[2021-02-23 05:28] #2619 closed, assigned to nobody

[2021-02-23 05:28] Sparsh1212 commented on #2633
Please tell the value of `label` for this case.

[2021-02-23 05:32] yashraj-01 commented on #2632
actually I saw a PR which was very similar to this one. So, I was waiting for it to get merged. Then, I would have followed a similar approach.

[2021-02-23 05:37] abhinav12k commented on #2631
@rt4914 Can i work on this issue?

[2021-02-23 05:39] rt4914 commented on #2743
@mschanteltc You can directly edit the description to edit and approve things.

[2021-02-23 05:41] rt4914 commented on #2631
@abhinav12k I am assigning this to you but currently this issue is under time constraint. So if you are unable to make progress by Friday, I will have to self assign. Apologies for this inconvenience but I have to finish this project this month thats why.

[2021-02-23 05:41] rt4914 commented on #2632
No issues. It might take time. I will just create and merge this. Thanks.

[2021-02-23 05:42] rt4914 commented on #2633
`FAQs`

[2021-02-23 06:13] Sparsh1212 commented on #2658
@anandwana001 I tried working hard on this but I am facing some trouble understanding this, so that might take some more time. So, if it is urgent, then you can assign this to any other contributor.

[2021-02-23 07:22] #2585 closed, assigned to nobody

[2021-02-23 07:49] #2634 closed, assigned to Sparsh1212

[2021-02-23 08:11] abhinav12k commented on #2631
I will inform you if I am not able to make any further progress.

[2021-02-23 08:28] rt4914 commented on #2631
@abhinav12k Thanks a lot.

[2021-02-23 08:45] priyanka0906 commented on #1951
may I work on this?

[2021-02-23 09:20] rt4914 commented on #1951
@priyanka0906 Assigning you this. For your reference to test this PR once you have made changes follow these steps: https://www.youtube.com/watch?v=iRzGOj1RWoQ&feature=youtu.be

[2021-02-23 10:04] rt4914 opened #2751 "Add ComponentGuide to Wiki"
Add ComponentGuide to Wiki

https://xd.adobe.com/view/dfe8ccd4-39eb-414d-a0b2-b5674357f966-8abb/grid

[2021-02-23 10:08] rt4914 opened #2752 "[A11y] Add test to AdminAuth for close button"
Add test to AdminAuth for close button content description check.

[2021-02-23 10:30] rt4914 opened #2754 "Add Admin Pin Screen Content"
Currently `Add Admin Pin` screen is visible from two different places.

### Flow 1
1. Install fresh copy of app so that it contains only admin profile without any PIN.
2. Click on `Add Profiles` in Profile Chooser screen.
3. You will see below mentioned screenshot.

### Flow 2
1. Install fresh copy of app so that it contains only admin profile without any PIN.
2. Click on `Admin Controls` in Profi

[2021-02-23 11:32] Sparsh1212 commented on #2637
@rt4914 If the first part of the issue is still available, then please assign it to me. Also,  please tell the static `label` for this screen.

[2021-02-23 11:38] Sparsh1212 commented on #2630
I would love to work on this issue. Please assign it to me. Also, if possible guide me a bit on how to start working on this.

[2021-02-23 11:43] Sparsh1212 commented on #2581
If this is still up for grab then please assign it to me @FareesHussain .

[2021-02-23 11:49] Sparsh1212 commented on #2450
@anandwana001 Please assign this to me if it is available.

[2021-02-23 12:06] FareesHussain commented on #2581
@Prince-kushwaha any updates on this?

[2021-02-23 12:16] FareesHussain commented on #2450
@Sparsh1212 as you are assigned to [4 other issues](https://github.com/oppia/oppia-android/issues/assigned/Sparsh1212). I would recommend you to wait for those to get merged first.

[2021-02-23 12:17] FareesHussain commented on #2581
@Sparsh1212 as you are assigned to [4 other issues](https://github.com/oppia/oppia-android/issues/assigned/Sparsh1212). I would recommend you to wait for those to get merged first.

[2021-02-23 12:26] Sparsh1212 commented on #2581
Actually, I have initiated the PRs for the first two issues. @fsharpasharp  has asked to wait for a while ([comment](https://github.com/oppia/oppia-android/pull/2700#issuecomment-780822120)) for these Bazel-related issues because some more research has to be done on them, so I think that will take some time to get reviewed.  And I have unassigned myself from the 3rd issue. So, I currently have onl

[2021-02-23 13:57] priyanka0906 commented on #1951
okay.. thankyou

[2021-02-23 14:18] dipu989 commented on #2532
@anandwana001 I tried cloning again and the issue is still there.
@FareesHussain I installed the app on my device and tried running tests on it and it failed.
I am attaching a gif for reference -
![oppia](https://user-images.githubusercontent.com/31280303/108856293-eac07300-760f-11eb-89bd-38a63f92b7e1.gif)

Tried turning off the animations as well but didn't help.

[2021-02-23 14:21] #2752 closed, assigned to rt4914

[2021-02-23 14:25] FareesHussain commented on #2532
@dipu989 I'm not sure how to fix this. Can you try running any other Espresso tests?

[2021-02-23 14:41] rt4914 opened #2756 "High fi StoryActivity Inactive Card"
The mock for inactive card in `StoryActivity` has been updated to include clickable text to start the previous chapter.

https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5abb0ace-19ee-48b8-8154-919154f924d2/

[2021-02-23 14:44] rt4914 commented on #2637
@Sparsh1212 First part needs confirmation on another issue from Chantel. Also, I suggest not picking these issues as you have already finished multiple issues where you are adding label. Instead try to pick something new.

[2021-02-23 14:47] Sparsh1212 commented on #2637
Sure, I have commented on other different issues as well, will start working on them as assigned.

[2021-02-23 14:48] dipu989 commented on #2532
@FareesHussain Same issue with other tests.
Do we have to enable/disable any feature in developer mode for these Espresso tests to run?

[2021-02-23 14:54] rt4914 opened #2757 "Update back button content description"
Currently back button content description is following on various screens: `Go to previous screens.`
Though it seems correct, it would be better to replace this with `Navigate up` as most of other apps using this `Navigate up` as content description and therefore learners who use `Screen readers` will have consistent experience.

[2021-02-23 16:11] FareesHussain commented on #2532
No, there is no such option.

[2021-02-23 16:35] #2217 closed, assigned to rt4914

[2021-02-23 16:44] fsharpasharp opened #2759 "Remove :profile_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :profile_java_proto_

[2021-02-23 16:47] fsharpasharp opened #2760 "Remove :question_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-02-23 16:49] fsharpasharp opened #2761 "Remove :subtitled_unicode_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :subtitled_unicode_j

[2021-02-23 16:51] fsharpasharp opened #2762 "Remove :subtitled_html_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :subtitled_html_java

[2021-02-23 16:52] fsharpasharp opened #2763 "Remove :thumbnail_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-02-23 16:52] BenHenning commented on #2684
Ah interesting. Per https://github.blog/2018-01-25-multiple-issue-and-pull-request-templates/ it is possible to create multiple PR templates. Seems worthwhile to try that, at least. Will send out a PR soon.

[2021-02-23 16:53] fsharpasharp opened #2764 "Remove :topic_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-02-23 16:56] fsharpasharp opened #2767 "Remove :translation_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :translation_java_pr

[2021-02-23 16:57] fsharpasharp opened #2768 "Remove :voiceover_java_proto_lite from the list of exports in the model library"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more on what Bazel does.

## 1. Remove the export

In

`/oppia-android/model/BUILD.bazel`

Remove :voiceover_java_prot

[2021-02-23 16:59] fsharpasharp opened #2769 "Remove model library from model/BUILD.bazel [BLOCKED]"
This model library is now redundant since it does not export any libraries.

[2021-02-23 17:20] dipu989 commented on #2532
@FareesHussain @anandwana001 Tried a workaround from StackOverflow where it was suggested to create an emulator with API less than equal to 28. Did the same and espresso tests are now running successfully.
It was not running on an emulator with API level 30 but worked on 28.
So should I run the tests after refactor on the new emulator (API 28) itself?

[2021-02-23 17:44] FareesHussain commented on #2532
That's great. I haven't tested running the app or Espresso on API 30.
But it is not recommended to use API 30 as the targetSdkVersion is 29 and this might be causing the issue here.
https://github.com/oppia/oppia-android/blob/0213cdf50c3abcd39ef588fb5560242e391f0ecc/app/build.gradle#L14

[2021-02-23 18:58] BenHenning commented on #2610
So interestingly, I noticed the LoadedApk error myself locally. It seems like an unrelated issue since the app wasn't crashing for me. We should still dig into why it's happening, but the crash might be due to something else.

[2021-02-23 21:25] BenHenning opened #2773 "Make testing visibility more specific [Blocked]"
We should make the ``oppia_testing_visibility`` package group specifically limit visibility to all test targets, but this requires:

1. Splitting away all tests into their own package-specific BUILD files
2. Rearranging the overall package directory structure to have proper test/non-test separations

[2021-02-23 21:56] rt4914 commented on #2618
@mschanteltc and @BenHenning I have found following proofs because of which I think that `checked` and `not-checked` is something new and is common.
1. By default `Talkback` outputs `checked` and `not-checked` which means the `Talkback` must had been configured to output this.
2. Whatsapp, Instagram and Truecaller are some famous apps which uses `checked/not-checked` instead of `ON/OFF`
3.
https:/

[2021-02-23 22:02] mschanteltc commented on #2743
I updated the original post and have questions/comments for the following:

- **Onboarding Flow**: Does this need to have a label even though there is no heading or label that reads "Onboarding Flow"?
- **Admin Auth**: For these pages, my concern is that if we label them to be "Admin Authorization", it might confuse the users who tapped on it with the intention of creating a new profile. I believe

[2021-02-23 22:10] rt4914 commented on #2743
If we do not introduce any label it will output `Oppia` by default. We can mention any thing in label like `Onboarding process started`, etc.

Same for this too. If we do not add label it will output `Oppia` by default. Does this make sense: `Authorize to add profiles` and `Authorize to access Administrator Controls` ?

Do you mean that we should label it as `Matthew Goes to Bakery` or `Fractions

[2021-02-23 22:14] BenHenning commented on #2643
Taking this per #2775.

[2021-02-23 22:22] mschanteltc commented on #2743
I see, let's stick with "Onboarding Flow" then. I approved this in the original post.

Yes those would work better. Would there be any issues since the heading does not match with the Talkback description?

I'm opened to doing a combination of both. So for example, "Topic page: Decimals". This gives a description on what kind of page it is and specifics on what the page is about.

Let's do `FAQs (

[2021-02-23 22:29] rt4914 commented on #2743
Thanks.

No. Its completely fine to have label and title different.

Okay. Then in this case I will clarify one thing with Ben.
@BenHenning For dynamic title we need static labels or the labels should be ready in advances because we cannot wait for loading of data. So to do that I have one solution. When learner clicks on `Topic Card` on home screen we already have topic name available. We can sen

[2021-02-23 22:31] rt4914 commented on #2743
@mschanteltc Can you update the description for 4 pending items `Admin Auth` (2), `Pin Verification` and `Add Profile` ?

[2021-02-23 22:42] mschanteltc commented on #2743
Updated.

[2021-02-23 22:43] #2615 closed, assigned to nskirkey

[2021-02-24 00:12] mschanteltc commented on #2618
Thanks for doing this research Rajat. Since it's prevalent in other apps, let's use `checked/not checked` instead of 'ON/OFF`. By the way, do all of these apps use `not-checked` with a hyphen?

[2021-02-24 04:47] yashraj-01 commented on #2756
@rt4914 I would like to work on this issue. Please assign this to me.

[2021-02-24 05:32] yashraj-01 commented on #2324
From what I have learnt so far, I believe that we need to add `contentDescription` to `submitted_answer_container` mentioning whether the submitted answer was correct or incorrect.

@rt4914 @ARJUPTA please tell me if I'm thinking in the right direction or not.

[2021-02-24 05:53] rt4914 commented on #2324
@yashraj-iitr Check [this](https://github.com/oppia/oppia-android/issues/2324#issuecomment-780799146) and its below content. Basically you have to append contentDescription to the entire UI in such cases. Also, this apply not only to this interaction but other interactions too.

[2021-02-24 05:56] rt4914 commented on #2756
I am assigning you this and un-assigning you from #2324 as that issue will need more context.

[2021-02-24 05:58] rt4914 commented on #2618
Apologies for `hyphen`. It does not show hyphen.

[2021-02-24 06:57] BenHenning commented on #2618
Thanks for the added artifact @rt4914. That really helps. It does seem like making the whole box clickable should work fine if it's a known artifact of other apps (plus I suppose it is easy to undo mistakes if one is made, and these aren't destructive actions). Given that it simplifies the TalkBack solution, this seems reasonable.

[2021-02-24 07:22] srikanthkb commented on #2480
On more deeper investigation, I found that there are two issues with this test:
1. In the following line
https://github.com/oppia/oppia-android/blob/6107ecd0b74eeb2c59fff3585d93db545ff9cb67/app/src/sharedTest/java/org/oppia/android/app/player/exploration/ExplorationActivityTest.kt#L549
The error observed is as follows:
![image](https://user-images.githubusercontent.com/36214903/108962386-adef8d00-

[2021-02-24 07:57] #2673 closed, assigned to Sparsh1212

[2021-02-24 07:57] #2681 closed, assigned to Sparsh1212

[2021-02-24 08:04] yashraj-01 commented on #2756
@rt4914 in the mock, this feature works on clicking on the entire card. So, do I need to make the whole card clickable or just the text?

[2021-02-24 10:43] rt4914 commented on #2756
Only the text. @yashraj-iitr . For reference you can check how `Concept Cards` work in our app.

[2021-02-24 10:45] #2757 closed, assigned to rt4914

[2021-02-24 12:41] #2679 closed, assigned to yashraj-01

[2021-02-24 18:10] BenHenning commented on #2743
@mschanteltc one concern I have around making the topic/story/etc. activities dynamic is we're now introducing redundancy for screenreader users. They will be hearing the topic title twice: once for the activity label, and second when they swipe through the toolbar. What benefit do we gain from having this redundancy? In general, I think we should aim to reduce the amount of information we need to

[2021-02-24 19:25] mschanteltc commented on #2743
Thanks for your input Ben! I think as long as the Topic/Story/Revision names are mentioned at some point, we can use the static labels so we can eliminate the redundancies like you mentioned. Should I go ahead and edit the post to reflect this?

[2021-02-24 19:31] rt4914 commented on #2743
@mschanteltc Yes, you can edit the description and add correct labels to reflect correct labels.

[2021-02-25 00:37] mschanteltc commented on #2743
Updated. One last thing that is **PENDING** is the Revision Card which was originally `Subtopic Page`. However since "Subtopic" is not a term used in the app and is commonly replaced with "Skill", `Skill Page` is used instead. WDYT?

[2021-02-25 02:32] BenHenning commented on #2684
@2765 did not solve the issue. :( I suspect, then, that the PR template flake is also due to the other bugs GitHub seems to have around community profile. We'll just need to wait and see if their fixes address our issues.

[2021-02-25 05:55] Sparsh1212 commented on #2581
@rt4914
https://stackoverflow.com/a/44795525
As per the above StackOverflow answer, it seems that the Marquee effect is restarting because TextView loses its focus.
There were two approaches to fix this and I tried both of them:
1. By wrapping the TextView inside a Linear Layout ([Ref](https://stackoverflow.com/a/21570570))
2. By setting fixed dimensions (instead of `wrap_content` or `fill_parent`

[2021-02-25 08:30] rt4914 commented on #2743
@mschanteltc Makes sense. I am updating the description.

[2021-02-25 08:34] #2617 closed, assigned to rt4914

[2021-02-25 08:35] #2258 closed, assigned to rt4914

[2021-02-25 08:39] anandwana001 commented on #2754
@rt4914 Just to understand, what if a learner(not admin) is on the profile chooser screen, they can enter into admin controls too!! right? because When we are on the Profile Chooser, we don't know the user is an admin or learner?

[2021-02-25 08:54] anandwana001 opened #2780 "Thumbnail not visible"
**Describe the bug**
Ratios and Proportional Reasoning Thumbnail is not visible on landscape

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home Screen
2. Landscape Orientation
3. Scroll to the bottom
4. last card, the `Ratios and Proportional Reasoning` image is not visible

**Expected behavior**
The image should be visible no matter which orientation

**Screenshots**
https://photos.

[2021-02-25 08:55] chrk2205 commented on #2592
@rt4914  we should do the same for the help fragment too!!
so totally 3 files for `options_activity` and 2 files for `help_activity` will be added!!

[2021-02-25 08:55] rt4914 commented on #2754
@anandwana001 They cannot use `Admin Controls`. Only the admin who has never added a PIN (means never created any profile too) can access `Admin Controls` directly. Otherwise in every other situation authentication is needed.

[2021-02-25 09:00] anandwana001 commented on #2754
just a use case:
1. fresh copy, on Profile Chooser screen
2. click on the admin profile
3. home screen visible

close the app.

till here we always have a possibility that anyone can enter into the admin controls!! right?

[2021-02-25 09:25] rt4914 commented on #2754
Yes. but its not **anyone** its actually **admin** because that is the only available profile.

[2021-02-25 10:50] #2633 closed, assigned to Sparsh1212

[2021-02-25 12:04] rioX432 commented on #2637
@rt4914 I tried to resolve according to your commnet.

I think `RevisionCardActivityPresenter::subscribeToSubtopicTitle()` is creating sub topic title dynamically.
But if I change not to use this and set static sub topic title, all revision card sub topic title will be changed.
You mean that we should change to set static label we got from json file to `revisionCardToolbarTitle.text` ?

Or you mea

[2021-02-25 15:03] Sparsh1212 commented on #2630
@rt4914 I had a look at the `TopicController` file but I am unable to figure out where exactly the logic has to be updated so that it reflects in the entire codebase. Can you please give me an idea on how to start working on this?

[2021-02-25 16:02] yashraj-01 commented on #2756
@rt4914 I explored the app, and I think that I need to update the logic in the function `onExplorationClicked()` inside `StoryChapterSummaryViewModel.kt`.

Please tell me if I am thinking right. If not, then please guide me where to look. Thanks.

[2021-02-25 16:17] #2754 closed, assigned to rt4914

[2021-02-25 18:35] rt4914 opened #2785 "Optimise test case and use ActivityScenarioRule in AdminControls and AppVersion"
Optimise test case and use ActivityScenarioRule in AdministratorControlsActivity and AppVersionActivityTest

Advantages of using `ActivityScenarioRule` is that we don't need to launch the activity in each test case and thus reducing one level of nesting as well as reducing the code.

[2021-02-25 19:13] priyanka0906 commented on #2546
@jcqli  all instances of ongoingStory has to be changed in promotedStory like ongoingStoryClickListener and ongoingListAdapter?

[2021-02-25 19:23] jcqli commented on #2546
Yes, for clarity and consistency that would be best.

[2021-02-25 19:25] priyanka0906 commented on #2546
okay. Thankyou

[2021-02-26 03:02] BenHenning commented on #2571
@kartikeysaran I suggest starting with a starter or second issue before working on this. This project involves changing a lot of files across the codebase, and is likely going to be quite a bit trickier than starter issues. If after completing a few more issues you still want to work on this, please let us know. :)

[2021-02-26 07:24] BenHenning opened #2787 "Update app to support newest lesson structures"
The app needs to be updated to support the latest exploration structures, and re-tested to ensure it properly supports:
- Place values
- Multiplication
- Fractions
- Ratios

[2021-02-26 10:49] kartikeysaran commented on #2571
Okay i will work on some started issues , Yes i want to still work on this issue

[2021-02-26 12:51] anandwana001 commented on #2611
@fsharpasharp Could you add some points here as you had already figured out the leaf nodes so that we can have a helpful visual representation of dependencies?

[2021-02-26 13:15] rt4914 commented on #2632
Closing this as it will get fixes in #2743

[2021-02-26 13:15] #2632 closed, assigned to rt4914

[2021-02-26 13:31] rt4914 commented on #2616
Closing this as both the issues have been solved in parts.

[2021-02-26 13:31] #2616 closed, assigned to Arjupta

[2021-02-26 14:42] #2620 closed, assigned to rt4914

[2021-02-26 14:58] rt4914 commented on #2637
@omooooori I have made this issue simpler. You can introduce a static string which reads `Skill page` instead of dynamic string.

[2021-02-26 21:35] jcqli opened #2790 "Create user feedback reporting feature"
**Is your feature request related to a problem? Please describe.**
Users should have a reliable outlet for providing feedback on the app to assist in iteration and app reliability.

**Describe the solution you'd like**
Create a feedback reporting feature that connects to the web backend storage to be able to review and address issues reported. This will require changes to both the Android and web

[2021-02-26 23:20] jcqli opened #2791 "Create Android model layer objects for feedback reporting"
Implement part of #53
Implements the model layer objects needed for Android feedback reporting.
This includes the proto objects as well as Retrofit data objects and service class that sends HTTP requests.

Design doc: [User Feedback Reporting](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-02-26 23:50] jcqli opened #2792 "Create Android data layer for feedback reporting"
Fix part of #53
Implements the data layer layer needed for feedback reporting (data class objects & HTTP service)

Design doc: [User Feedback Reporting](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-02-27 12:34] FareesHussain commented on #2746
Regarding this, I've followed these steps.

 - Downloaded plugin from [jetbrains](https://plugins.jetbrains.com/plugin/9185-bazel/versions) Version: 2021.01.06.0.1 (Latest versions gives errors)
 - Open Files -> settings -> plugin -> select the preferences icon on the top right -> install from disk -> select the downloaded plugin -> Restart IDE

But on selecting the bazel on the option disappears.

[2021-02-27 12:59] FareesHussain commented on #2746
To fix this I've replaced the installed bazel with oppia-bazel and then when I try to sync the project I get this error
*tried with both check and uncheck Expand Sync to Working Set*

Created a [gist](https://gist.github.com/FareesHussain/2763b717b7b571bb8671dacc3cf9c38e) of the targets which gives the error (errors encountered while analyzing target)
[code]

[2021-02-27 15:49] anandwana001 commented on #2684
https://github.com/oppia/oppia-android/community

Community Page detects all of the things except Pull Request Template, I guess reverting our earlier PR template folder moving might fix this. Looks like this detection working is correcting from the GitHub side.

[2021-02-28 07:33] Akshat-gour commented on #2780
@anandwana001
Assign me

[2021-02-28 10:17] Akshat-gour commented on #2780
@anandwana001
I cannot reproduce the error
I tested it on physical device(C7 pro API 26) and on Emulator(pixel XL API 30)
the thumbnail is visible

![image](https://user-images.githubusercontent.com/60266468/109414950-e0b9be00-79db-11eb-9054-b9021f377159.png)

[2021-02-28 11:52] MaskedCarrot commented on #2780
@Akshat-gour I checked this and I was able to produce the error. Though the error appeared irregularly on some of the orientation change when I performed multiple orientation changes.

[2021-02-28 19:15] #2667 closed, assigned to MaskedCarrot

[2021-03-01 10:55] Mehul-Bisht commented on #2326
@ARJUPTA I have made a PR for tablet layouts here: #2797
Kindly confirm with Rajat once and notify me about any required changes.

[2021-03-01 14:50] rt4914 commented on #2581
@Sparsh1212 That's exactly the issue. I tried to find solution but nothing seems to work for this. Me, Akash and few more contributors have tried solving this issue in past too and we haven't been able to fix it yet. I am afraid this might need more research from your side. Also, if this really becomes hard its completely fine to un-assign yourself and move on to some other issue.

[2021-03-01 15:15] rt4914 commented on #2630
@Sparsh1212 Any topic can have multiple stories. But if a learner finishes one story that means we can consider that topic as finished.
Try this out:
1. Install fresh copy.
2. Finish `First Story` in `First Test Topic`.
Now at this point as per our definition, because one story is finished we can consider that topic as finished. Therefore the navigation drawer should show `1 Story Completed | 0 To

[2021-03-01 15:25] rt4914 commented on #2756
@yashraj-iitr Actually thats not correct.

1. You don't have to update the `onExplorationClicked ` logic because for inactive/locked cards this function won't work.
2. Also, as per UI, you only need to make the text clickable and that too not entirely, just the `Chapter 2: The Meaning of “Equal Parts”` which is in green color.

This is similar to `Concept Card` that we use in Exploration.
You can

[2021-03-01 18:16] fsharpasharp commented on #2611
I'll take a more thorough look as soon as I can. For now, we could try to look at smaller subsets of the entire graph. I would start with querying the dependencies of individual libraries, maybe even going up to the smaller modules.

[2021-03-01 22:20] #2790 closed, assigned to jcqli

[2021-03-01 22:20] jcqli commented on #2790
Closed this issue as it's a duplicate of #53

[2021-03-01 22:35] BenHenning opened #2799 "Integrate with ktfmt"
https://github.com/facebookincubator/ktfmt is an opinionated pretty-print auto-formatter for Kotlin. It's currently got some known issues (especially with regards to generating code that violates ktlint checks), but once these are in a better place we should include instructions for integrating ktfmt during onboarding. In fact, we may actually want to introduce a second Kotlin lint check which spe

[2021-03-01 22:35] BenHenning commented on #2799
/cc @anandwana001

[2021-03-01 22:45] jcqli commented on #53
**Design Doc**
[User Feedback Reporting Design Doc
](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit)

**Milestones**
Tasks will be broken down into individual PRs as follows:

**Android Repo**
1. Create Android model layer objects #2791
2. Create Android data layer objects & service
3. Create Android domain controller & implement logic for creating protobufs #

[2021-03-02 02:04] jcqli opened #2801 "Create backend storage models for feedback reporting"
Create the storage models used for feedback reporting backend storage

[2021-03-02 05:32] rt4914 opened #2803 "Dynamic for RecentlyPlayedActivity"
In home screen the text above the carousel is dynamic and when clicked on `View All` it opens `RecentlyPlayedActivity` in which currently the title is constant. Instead the title should be dynamic similar to text in home screen.

The title in `RecentlyPlayedActivity` can show following texts:
1. Stories for you
2. Recently played stories

In case of `Recommended stories` and `Upcoming topics` we d

[2021-03-02 08:31] #2450 closed, assigned to nobody

[2021-03-02 08:46] rt4914 opened #2804 "[A11y] Add label for OnboardingActivity"
## Task
Introduce label for `OnboardingActivity` as `Onboarding Flow`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which le

[2021-03-02 08:48] rt4914 opened #2805 "[A11y] Add label for PinPasswordActivity"
## Task
Introduce label for `PinPasswordActivity` as `PIN verification`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which

[2021-03-02 08:51] rt4914 opened #2806 "[A11y] Add label for QuestionPlayerActivity"
## Task
Introduce label for `QuestionPlayerActivity` as `Practice Mode`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which

[2021-03-02 08:51] rt4914 opened #2807 "[A11y] Add label for RevisionCardActivity"
## Task
Introduce label for `RevisionCardActivity` as `Skill Page`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads

[2021-03-02 08:52] rt4914 opened #2808 "[A11y] Add label for StoryActivity"
## Task
Introduce label for `StoryActivity` as `Chapter List`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads to n

[2021-03-02 08:53] rt4914 opened #2809 "[A11y] Add label for AddProfileActivity"
## Task
Introduce label for `AddProfileActivity` as `Add Profile`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads

[2021-03-02 08:57] rt4914 opened #2810 "[A11y] Add label for CompletedStoryListActivity"
## Task
Introduce label for `CompletedStoryListActivity` as `Stories Completed`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any optio

[2021-03-02 08:57] rt4914 opened #2811 "[A11y] Add label for OngoingTopicListActivity"
## Task
Introduce label for `OngoingTopicListActivity` as `Topics in Progress`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option

[2021-03-02 08:58] rt4914 opened #2812 "[A11y] Add label for ProfileProgressActivity"
## Task
Introduce label for `ProfileProgressActivity` as `Profile`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads

[2021-03-02 08:58] rt4914 opened #2813 "[A11y] Add label for ExplorationPlayerActivity"
## Task
Introduce label for `ExplorationPlayerActivity` as `Exploration Player`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any optio

[2021-03-02 09:01] rt4914 opened #2814 "[A11y] Add label for AdminAuthActivity"
## Task
Introduce label for `AdminAuthActivity` as `Authorise to add profiles` when enum is `AdminAuthEnum.PROFILE_ADD_PROFILE` and set label as `Authorise to access Administrator Controls` when enum is `AdminAuthEnum.PROFILE_ADMIN_CONTROLS`

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, sugge

[2021-03-02 09:02] rt4914 opened #2815 "[A11y] Add label for AdminPinActivity"
## Task
Introduce label for `AdminPinActivity` as `Authorise to add profiles`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option

[2021-03-02 09:04] rt4914 opened #2816 "[A11y] Add label for OptionsActivity"
## Task
Introduce label for `OptionsActivity` as `Options`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads to new

[2021-03-02 09:05] rt4914 opened #2817 "[A11y] Add label for ReadingTextSizeActivity"
## Task
Introduce label for `ReadingTextSizeActivity` as `Reading Text Size`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option w

[2021-03-02 09:08] rt4914 opened #2818 "[A11y] Add label for AppLanguageActivity"
## Task
Introduce label for `AppLanguageActivity` as `App Language`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which lead

[2021-03-02 09:08] rt4914 opened #2819 "[A11y] Add label for AudioLanguageActivity"
## Task
Introduce label for `AudioLanguageActivity` as `Default Audio Language`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any optio

[2021-03-02 09:11] rt4914 opened #2820 "[A11y] Add label for FAQSingleActivity"
## Task
Introduce label for `FAQSingleActivity` as `FAQs (Frequently Asked Questions)`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on an

[2021-03-02 09:16] Sparsh1212 commented on #2581
Thank you. I will try to do a bit more research on this once again and if I will still not be able to find any fix for this, then will unassign myself.

[2021-03-02 09:18] rt4914 opened #2821 "[A11y] Add label for HelpActivity"
## Task
Introduce label for `HelpActivity` as `Help`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads to new screen

[2021-03-02 09:18] rt4914 opened #2822 "[A11y] Add label for AppVersionActivity"
## Task
Introduce label for `AppVersionActivity` as `App Version`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads

[2021-03-02 09:18] rt4914 opened #2823 "[A11y] Add label for ProfileListActivity"
## Task
Introduce label for `ProfileListActivity` as `Profile List`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which lead

[2021-03-02 09:21] rt4914 opened #2824 "[A11y] Add label for RecentlyPlayedActivity [Blocked on #3095]"
## Task
Introduce label for `RecentlyPlayedActivity` as either `Stories for you` or `Recently played stories`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on,

[2021-03-02 09:24] rt4914 opened #2825 "[A11y] Add label for ProfileRenameActivity"
## Task
Introduce label for `ProfileRenameActivity` as `Rename Profile`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which

[2021-03-02 09:24] rt4914 opened #2826 "[A11y] Add label for ProfileResetActivity"
## Task
Introduce label for `ProfileResetActivity` as `Reset PIN`.

Reference PR: https://github.com/oppia/oppia-android/pull/2750

When you create a PR for this, make sure you add test to check the functionality. Also, suggest working on this PR only if its your first or second PR to Oppia-Android project.

## General Explanation
When `Talkback` is on, whenever we click on any option which leads

[2021-03-02 09:27] rt4914 commented on #2743
Closing this issue as it has been broken down into following issues:
#2804 #2805 #2806 #2807 #2808 #2809 #2810 #2811 #2812 #2813 #2814 #2815 #2816 #2817 #2818 #2819 #2820 #2821 #2822 #2823 #2824 #2825 #2826

[2021-03-02 09:27] #2743 closed, assigned to rt4914

[2021-03-02 09:36] rt4914 opened #2827 "Update var to val in AdministratorControlsDownloadPermissionsViewModel"
Inside `AdministratorControlsDownloadPermissionsViewModel` we are using `var` but we should be using `val` for following values:

`isTopicWifiUpdatePermission` and `isTopicAutoUpdatePermission`

[2021-03-02 09:38] rt4914 opened #2828 "Remove unused paramater in AppVersionViewModel"
In `AppVersionViewModel` `fragment` is unused. Remove it.

[2021-03-02 09:42] rt4914 opened #2829 "Update comment in RouteToAppVersionListener"
Update comment in RouteToAppVersionListener

Update to: `/** Listener for when an activity should route to [AppVersionActivity]. */`

[2021-03-02 13:49] adit19shah commented on #2827
I'm interested in working on this issue.

[2021-03-02 13:54] MaskedCarrot commented on #2827
@adit19shah assigning this to you.

[2021-03-02 15:04] rt4914 commented on #2827
Thanks @MaskedCarrot

[2021-03-02 15:05] rt4914 commented on #2827
@adit19shah
Thanks for showing interest. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-03-02 15:18] #2686 closed, assigned to Akshat-gour

[2021-03-02 18:21] Akshat-gour commented on #2749
@rt4914
is it available
can i work on it

[2021-03-02 20:39] adit19shah commented on #2827
@rt4914 already done !

[2021-03-02 23:34] BenHenning commented on #1131
https://github.com/marketplace/actions/check-base-branch I think actually can at least prevent chained PRs from being merged which is kind of nice.

[2021-03-03 00:24] BenHenning commented on #2642
@rawlin are you currently working on this?

[2021-03-03 00:53] FareesHussain commented on #1042
@rawlin any updates on this?

[2021-03-03 03:41] #2097 closed, assigned to anandwana001

[2021-03-03 04:31] anandwana001 commented on #2652
@anshbajpai any update on this?

[2021-03-03 04:33] anandwana001 commented on #2652
unassigning as no further update.

[2021-03-03 04:38] anandwana001 commented on #2093
@anshbajpai any update on this?

[2021-03-03 04:55] anandwana001 commented on #2799
@BenHenning Can we make this issue available as a mini project for non-gsoc contributors?

[2021-03-03 05:56] rt4914 commented on #2749
@Akshat-gour Apologies for inconvenience. I will assign it to me and Ben.

[2021-03-03 06:18] anandwana001 commented on #2449
Closing this issue as it is something we had covered in the App module testing for UI.

[2021-03-03 06:18] #2449 closed, assigned to nobody

[2021-03-03 06:44] anandwana001 opened #2833 "Add missing named argument"
**Describe the bug**
We are passing arguments without specifying their names.

**Expected behavior**
Look for the below-mentioned test files and add all the missing named arguments

- [x] AdministratorControlsActivityTest (@dishantvyas15 )
- [x] AppVersionActivityTest (@darshanhande11)
- [x] CompletedStoryListActivityTest (@techjd)
- [x] FAQListFragmentTest (@ksog66)
- [x] HelpFragmentTest (@ravi9

[2021-03-03 06:44] anandwana001 opened #2834 "Add correct lambda function argument name"
**Describe the bug**
In most of the places we are using `it` for the lambda function argument. `it` is not readable and not helps to understand what it represents.

**Expected behavior**
Look for the below-mentioned test files and Replace `it` with the correct names

- [x] PromotedStoryListViewModelTest (@Abhinavtdk )
- [x] PromotedStoryViewModelTest (@jonathanalvares9009)
- [x] TopicSummaryViewMo

[2021-03-03 06:53] Sparsh1212 commented on #2799
If this is available, then I would love to work on this. Also, please guide me on how to get started.

[2021-03-03 07:45] YashKr01 commented on #2828
Can i work on this issue @rt4914 @FareesHussain ?

[2021-03-03 16:47] #2827 closed, assigned to adit19shah

[2021-03-03 17:39] adit19shah commented on #2834
I am interested in working on "WelcomeViewModelTest" for this issue.

[2021-03-03 17:49] Abhinavtdk commented on #2834
I want to work on "PromotedStoryListViewModelTest"

[2021-03-03 19:05] nskirkey commented on #2834
I would like to work on TopicSummaryViewModelTest.

[2021-03-03 20:10] nskirkey commented on #2834
I would like a bit more information on what would be correct as far as what we are renaming `it` to. Is there an objective correct name or is this something that we're coming up with?

[2021-03-04 01:04] anandwana001 commented on #2834
It looks like you already solved 3 Good-First_issues, so I recommend you to look for bit harder issues. Let me know if you are interested in any other issue to work on.

[2021-03-04 01:05] anandwana001 commented on #2834
Start from here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-03-04 01:15] anandwana001 commented on #2834
@nskirkey Taking an example from `TopicSummaryViewModelTest`
https://github.com/oppia/oppia-android/blob/1711a35d59b3fed1a9a16903360b502e58bca8fb/app/src/sharedTest/java/org/oppia/android/app/home/TopicSummaryViewModelTest.kt#L99
It's not readable just reading this line of code that what we are passing in the function, but if we look this code in the Android Studio we  get the suggestions
<img wid

[2021-03-04 09:47] anandwana001 commented on #2684
@BenHenning  All seems done in the community profile. good to close.

[2021-03-04 12:26] #2828 closed, assigned to YashKr01

[2021-03-04 13:04] #2530 closed, assigned to Mehul-Bisht

[2021-03-04 16:38] BenHenning commented on #39
@anandwana001 I think my comment above is now out-of-date. Let's follow the PRD for the thing we build.

[2021-03-05 11:26] dishantvyas15 commented on #2833
Hello!
I want to work on the 'AdministratorControlsActivityTest' file.

[2021-03-05 19:59] ravi9607 commented on #2834
I want to work on "WelcomeViewModelTest"

[2021-03-05 20:28] ravi9607 commented on #2834
I want to work on "WelcomeViewModelTest"

[2021-03-05 20:56] techjd commented on #2833
I want to work on "CompletedStoryListActivityTest"

[2021-03-06 13:05] Akshat-gour commented on #2780
@anandwana001
Can U give me guidence were can be the error
I looked but could not find the file in which error could be

[2021-03-06 20:15] ravi9607 commented on #2833
I want to work on the 'HelpFragmentTest'

[2021-03-06 21:09] BenHenning opened #2844 "Flaky OpenJDK crashes (Gradle & Bazel)"
There's no clear reproduction of this issue, but we're occasionally seeing SIGSEGV failures when running tests:
- https://github.com/oppia/oppia-android/runs/2031235243?check_suite_focus=true
- https://github.com/oppia/oppia-android/pull/2830/checks?check_run_id=2037294748 from #2830

& others. While the above are Gradle-specific, I believe we've seen this with Bazel as well. Here's one failure re

[2021-03-06 21:20] BenHenning commented on #2844
https://github.com/oppia/oppia-android/runs/2047741338?check_suite_focus=true re-running seems to be the main workaround at the moment.

[2021-03-06 21:26] BenHenning commented on #2844
Potentially unrelated issue in Bazel: https://github.com/oppia/oppia-android/runs/2037301521?check_suite_focus=true. Logs:

[code]

Some things to note: this is running with JDK 11 (which should actually be 9: https://github.com/oppia/oppia-android/blob/move-ci-to-java-9/.github/workflows/unit_tests.yml#L68), and seems related to https://github.com/bazelbuild/bazel/issues/3236 (maybe because GitHu

[2021-03-06 21:45] #2803 closed, assigned to veena14cs

[2021-03-06 22:45] BenHenning commented on #2844
Ah, per https://docs.bazel.build/versions/master/bazel-and-java.html#configuring-the-jdk the issue above seems to specifically happen during build time. Bazel uses a preset JDK for building (in this case it seems to be using JDK 11) and a different one for running (local which is configured using $JAVA_HOME). Bazel *should* be using JDK 9 for running since that's what's being setup in CI, but it n

[2021-03-07 01:40] BenHenning commented on #2691
#2775 has another example of the affected targets issue: https://github.com/oppia/oppia-android/pull/2775/checks?check_run_id=2036846344:

<details>

[code]

</details>

Running the script locally did not yield issues, yet we see failures like the above happening on occasion. Seems to be a CI issue, so adding additional diagnostics to try and figure out why this is happening.

[2021-03-07 01:45] BenHenning commented on #2691
Forks are now verified as working. Some tweaks have been made, but both forks & non-forks have been working well for the last few weeks.

[2021-03-07 01:48] BenHenning commented on #2691
Also another update: CI should no longer hang on the compute affects tests issue since the empty matrix issue was fixed in #2696.

[2021-03-07 01:52] anandwana001 commented on #2780
@MaskedCarrot Could you help here? Also, If you could mention the steps you had done to produce this error as mentioned in your earlier comment will be helpful.

[2021-03-07 03:09] #2643 closed, assigned to BenHenning

[2021-03-07 05:18] mrwhoknows55 commented on #2833
I want to work on "ProfileChooserFragmentTest"

[2021-03-07 08:13] MaskedCarrot commented on #2780
@Akshat-gour you can start by looking into `topicSummaryViewModel` and `topic_info_fragment.xml` because we set the thumbnail in `topic_info_fragment.xml`

[2021-03-07 08:19] MaskedCarrot commented on #2780
Steps to reproduce this issue:
1. Go to the home screen
2. change device orientation to landscape
3. scroll down to all topic to see the error in topic `Ratio and Proportional Reasoning`
4. if  the error is not reproduced, change orientation to portrait and go back to step 2

[2021-03-07 15:47] nlok5923 commented on #2829
@rt4914 i would like to work on it please assign it to me

[2021-03-07 15:49] FareesHussain commented on #2829
@nlok5923  Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the *CLA* and fill the *survey form* we can assign you issues to work on.

[2021-03-07 16:03] nlok5923 commented on #2829
@FareesHussain i had already signed CLA and filled survey form.

[2021-03-07 16:26] nlok5923 commented on #2833
@anandwana001 i would like to work on "OngoingTopicListActivityTest" please assign it to me.

[2021-03-07 19:04] Naman-1234 commented on #2833
I want to work on "ProfileListFragmentTest".

[2021-03-08 01:55] viktoriias commented on #247
Can I work on this?

[2021-03-08 09:02] anandwana001 commented on #2630
@Sparsh1212 Any update on this?

[2021-03-08 09:04] anandwana001 commented on #2427
unassigning, as no further update.

[2021-03-08 09:08] anandwana001 commented on #2193
@ForgottenProgramme any update on this?

[2021-03-08 09:13] #2829 closed, assigned to nlok5923

[2021-03-08 09:15] rt4914 commented on #2833
Reopening this as it was incorrectly closed by #2842

[2021-03-08 09:15] anandwana001 commented on #1273
@MaskedCarrot Few points on how to tackle this issue:
1. List out all the things we need to test.
2. Check if we require any extra files/custom activities or layout files to test.
2. Once, all the cases are covered, Write tests for them.
3. All the tests should pass on espresso and robolectric, both.

How to list all the test?
You can send a draft PR with a block on a comment in the file where we

[2021-03-08 09:19] Sparsh1212 commented on #2630
I was able to reproduce the issue. But I am facing trouble in getting started on this, I had a look at the `TopicController.kt` file but was unable to figure out, where exactly should I update the logic so that we get the desired output that we want. If you can guide me a bit on this, then that will be of much help to me.
 Thanks.

[2021-03-08 09:23] anandwana001 commented on #2630
Keeping @rt4914 in continue with the above discussion and for guidance too.

[2021-03-08 09:35] rt4914 commented on #2630
@Sparsh1212 You can start with `getOngoingTopicList` as this is the public function getting used in `app` module. If you traverse in this function you will end up at `checkIfTopicIsOngoing`. This function is responsible to given information whether a topic is ongoing or not. You will need to update the logic in this function.

[2021-03-08 09:36] rt4914 commented on #2193
@anandwana001 The contributor has not been active lately. So un-assigning her.

[2021-03-08 09:39] Sparsh1212 commented on #2427
I would like to work on this.

[2021-03-08 09:39] rt4914 commented on #247
@BenHenning PTAL.

[2021-03-08 09:48] anandwana001 commented on #2427
@Sparsh1212 As you had already solved multiple Good First Issue, I suggest you look for a bit harder issues. It helps you grow learning towards codebase too.

[2021-03-08 10:09] Sparsh1212 commented on #2427
Sure! I will look for harder issues.

[2021-03-08 11:42] techjd commented on #2833
I want to work on "RecentlyPlayedFragmentTest"

[2021-03-08 13:41] rt4914 commented on #2833
@techjd It has been assigned to you. Thanks.

[2021-03-08 14:40] Victor-Titan commented on #2762
@anandwana001 I'd like to work on this issue

[2021-03-08 15:19] nlok5923 commented on #2833
@rt4914  @anandwana001 i would like to work on `TopicTestActivityForStoryTest` please assign it to me

[2021-03-08 17:25] nskirkey commented on #2833
I was hoping to work on `FAQListFragmentTest`.

[2021-03-08 18:04] Sparsh1212 opened #2860 "Variable name is displayed instead of actual incorrect answer"
**Describe the bug**
When an incorrect answer is given, the output displays `{{answer}}` instead of the actual incorrect input provided.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'First Test Topic'
2. Select the 'Second Story' lesson.
3. Give the 'Third Exploration' test.
4. Give any random input (say 'abcde') as the answer to the 'In fact, the word Oppia means ...' question.
5.

[2021-03-08 18:10] Sparsh1212 commented on #2860
@rt4914 Can you please confirm if this is a valid issue and not a duplicate of any other previous issue.

[2021-03-08 20:06] Victor-Titan commented on #2833
I want to work on `DragDropTestActivityTest`

[2021-03-08 22:47] mschanteltc commented on #474
The text in the blue container and the heading "What is a Fraction?" should be right-aligned.

[2021-03-09 00:51] anandwana001 commented on #2833
@Victor-Titan as you had already worked on multiple good first issues, we suggest you to look for much harder issues.

[2021-03-09 07:25] #2657 closed, assigned to FareesHussain

[2021-03-09 07:33] FareesHussain commented on #474
I guess this is blocked on localization support.

[2021-03-09 07:43] yashraj-01 commented on #2756
As per https://github.com/oppia/oppia-android/pull/1637#issue-467120880 , I think that using `clickableSpan` would make part of the text clickable. But I couldn't figure out where to implement this.

@rt4914 could you guide me further or may be provide a reference?

[2021-03-09 10:17] anandwana001 opened #2863 "Introduce Configuration File for Issue Template"
**Is your feature request related to a problem? Please describe.**
GitHub by default allows having a blanked issue.

**Describe the solution you'd like**
We need to prevent the blank issue from filing.

`.github/ISSUE_TEMPLATE/config.yml`
[code]

[2021-03-09 10:17] anandwana001 commented on #2863
@vinitamurthi Are you in favour of this or any thoughts on this?

[2021-03-09 14:52] nskirkey commented on #2833
Was I going to be assigned this, or should I look for something else? @anandwana001

[2021-03-09 15:04] vinitamurthi commented on #2863
I like this idea!

[2021-03-09 16:43] fsharpasharp opened #2866 "Create a BUILD.bazel file for the datetime package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-09 17:04] FareesHussain commented on #2866
@fsharpasharp Can I work on this?

[2021-03-09 17:18] Naman-1234 commented on #2833
I want to work on 'DragDropTestActivityTest'.

[2021-03-09 17:20] fsharpasharp commented on #2866
Of course @FareesHussain .

[2021-03-09 22:18] rt4914 commented on #2860
@Sparsh1212 Thanks for filing this. I am able to reproduce it but its `Third Exploration` not `Second Exploration`. Please update the description.

[2021-03-10 00:31] BenHenning commented on #247
Deferring to @vinitamurthi to determine; she's managing the questions work.

[2021-03-10 01:24] BenHenning commented on #2684
Ah, just noticed that @anandwana001. It seems GitHub fixed their issue. :)

[2021-03-10 01:24] #2684 closed, assigned to BenHenning

[2021-03-10 01:24] BenHenning opened #2870 "Data tests are flaky"
See #2800 and specifically https://github.com/oppia/oppia-android/pull/2800/checks?check_run_id=2071587159. Specific failure:

[code]

and stack trace:

<details>

[code]

</details>

[2021-03-10 01:27] BenHenning commented on #2642
Reopening due to #2871. @prayutsu when creating a new PR that reintroduces the tests, please make sure to verify that the tests aren't flaky & introduce proof (e.g. a screenshot of running them ~100 times without a failure). You will need to dig into what the underlying cause is as the flake is a blocker for introducing data module tests into CI.

[2021-03-10 01:28] BenHenning commented on #2642
Also removing the 'good second issue' label since this has become harder now.

[2021-03-10 01:44] anandwana001 commented on #2833
It looks like you already worked on two Good first issues, so we suggest you look for bit harder issues in the bucket list. This helps you in learning and more understanding towards the codebase.

[2021-03-10 02:09] BenHenning commented on #2844
#2845 didn't fix the Gradle issue: this reoccurred in #2871.

[2021-03-10 02:09] BenHenning commented on #2844
Also, this shouldn't have been closed earlier.

[2021-03-10 02:30] nlok5923 commented on #2863
@anandwana001 sir i would like to work on it.

[2021-03-10 02:39] #2870 closed, assigned to BenHenning, prayutsu

[2021-03-10 02:44] FareesHussain commented on #2642
Reopening as this was accidentally closed with https://github.com/oppia/oppia-android/pull/2871.

[2021-03-10 03:19] anandwana001 commented on #2863
Hi @nlok5923 as you had already worked on a few Good First Issues, I suggest looking for a bit harder issues. This will help you in learning and get to know more about the codebase.

https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+milestone%3ABeta+no%3Aassignee+-label%3A%22good+first+issue%22+NOT+a11y+NOT+blocked

[2021-03-10 04:33] prayutsu commented on #2642
Actually, I ran all the tests 3 times and then took the screenshots, so I assumed they were not flaky but will look into this today and make a fresh PR to avoid the flakiness.

[2021-03-10 05:17] #2791 closed, assigned to jcqli

[2021-03-10 05:32] Sparsh1212 commented on #2860
Yeah, sorry it is `Third Exploration`.
I have edited the description now.

[2021-03-10 05:32] jonathanalvares9009 commented on #2834
I would like to work on PromotedStoryViewModelTest. Can I start with it?

[2021-03-10 06:33] ksog66 commented on #2833
I want to work FAQListFragmentTest

[2021-03-10 06:43] anandwana001 commented on #2833
@ksog66 Start from here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-03-10 07:50] rt4914 commented on #2860
@Sparsh1212 Thanks a lot.

[2021-03-10 09:59] 4shutosh commented on #2826
Hello @rt4914,
I think the activity mentioned here is `ProfileResetPinActivity`.
I would like to work on this issue.

[2021-03-10 10:33] HeySitam commented on #2863
Sir I am new to open source and want to contribute.... May I start with this issue?

[2021-03-10 10:41] anandwana001 commented on #2863
@sitamadex11 You can start here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

Update me when you are done, I will assign you this issue.

[2021-03-10 12:51] Sparsh1212 commented on #2628
@rt4914 Can I work on this issue, if @ARJUPTA is not working currently on this.

[2021-03-10 14:32] rt4914 commented on #2628
@ARJUPTA Have a look and if you are not working assign it to @Sparsh1212

[2021-03-10 17:31] nlok5923 commented on #2860
@rt4914 please can you assign this issue to me.

[2021-03-10 18:25] Akshat-gour commented on #2780
@anandwana001
@MaskedCarrot
**topic_info_fragment.xml** is this layout(Screen Shot) but we need home screen layout of **all topic**
I found this **topic_summary_view.xml** file in which one topic view is created and image is set.
But not able to find how these each card view is placed on **home Screen**
**I think Problem Could be there.**
I also Found the Custom view used to set image **LessonThum

[2021-03-10 19:41] jcqli opened #2876 "Create feedback reporting management controller"
Fix part of #53
Create the controller that will manage storing and uploading the feedback reports, stubbing portions that require connections between the app layer and the domain service

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-10 19:53] jcqli opened #2877 "Create & implement upload worker for feedback reports"
Fix part of #53
Create and implement the upload worker that sends feedback reports to remote storage when it detects a network reconnection.

[Design doc](https://docs.google.com/document/d/1_RTzad6u4m-ZFn0VTWNddp4bc0fCYrMk-ABIVYVJ7gU/edit?usp=sharing)

[2021-03-10 21:40] fsharpasharp opened #2879 "Create a BUILD.bazel file for the gcsresource package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-10 21:52] fsharpasharp opened #2880 "Create a BUILD.bazel file for the threading package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-10 21:58] fsharpasharp opened #2881 "Create a BUILD.bazel file for the statusbar package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-10 21:58] fsharpasharp opened #2882 "Create a BUILD.bazel file for the profile package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-10 21:59] fsharpasharp opened #2883 "Create a BUILD.bazel file for the networking package in the utility module"
This task is part of the build system migration from Gradle to Bazel.

## Prerequesites

- Make sure you are able to build Oppia using Bazel
- Follow the [Oppia Bazel Setup instructions](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Setup-Instructions) to setup Bazel and learn the terminology.
- Read the [Gradle Bazel Migration Best Practies and FAQ](https://github.com/oppia/oppia-androi

[2021-03-11 00:39] nskirkey commented on #2698
Was hoping to be assigned this issue.

[2021-03-11 01:07] FareesHussain commented on #2698
@varunvjha Are you working on this?

[2021-03-11 04:55] Arjupta commented on #2628
@rt4914 pardon for the delay I will be resolving this issue by the end of this week, hope this doesn't block your work.

[2021-03-11 06:36] vinitamurthi commented on #247
I believe @TheRealJessicaLi is already working on this.
I think this should be art end up being part of the results page that @TheRealJessicaLi  and @mschanteltc  are working on. Jessica can you take a look at this feature and work with chantel?

[2021-03-11 06:56] Sparsh1212 commented on #2882
Can I work on this?

[2021-03-11 07:32] Akshat-gour commented on #2171
@anandwana001
I would like to work on this issue and will require your Guidance as I am new to this thing.

[2021-03-11 07:37] TheRealJessicaLi commented on #247
Yep, this will be part of the question scoring feature, and it's blocked by the score/mastery calculation logic. @vinitamurthi I'll be setting up a meeting with Chantel to discuss the UI, so I'll make sure to bring this up then!

[2021-03-11 07:40] ArpitShukIa commented on #2860
Hi,
I am also trying to solve this issue.
While trying to find the root cause of this issue, I found the json `test_exp_id_3.json` corresponding to `Third Exploration`.

![Screenshot](https://user-images.githubusercontent.com/51705072/110752031-b208d680-826a-11eb-8567-3d1a54753f87.png)

The `param_changes` JSONArray  in the `default_outcome` JSONObject is empty.
Can you please verify if this is th

[2021-03-11 08:00] Sparsh1212 commented on #637
@anandwana001 I would like to work on the pre-submit checks for the `XML` files. Please assign this to me if possible and also, your guidance on how to get started on this will be much help. Thanks!

[2021-03-11 09:53] Victor-Titan commented on #2762
I made the necessary changes in the BUILD.bazel file, and when I built the app using ` bazel build //:oppia` I got no errors or failures except a lot of warnings that said `Application attribute for the following namespace <some file location> will be ignored`. Does this mean I don't have to add the `//model:subtitled_html_java_proto_lite,` dependency anywhere?

[2021-03-11 13:09] FareesHussain commented on #2610
@fsharpasharp can you check if you can reproduce this

also mention the device in which you've installed

[2021-03-11 13:25] fsharpasharp commented on #2762
Yes, you should be done now. This is because the proto is indirectly exported by the exploration library.

[2021-03-11 14:50] ArpitShukIa commented on #2780
How to reproduce :

https://user-images.githubusercontent.com/51705072/110802625-5fe4a700-82a4-11eb-9cdb-e22160a50296.mp4

I added some extra items in the list. Clearly, as the list grows in size, more and more thumbnails will start disappearing.

From what I found, the bug lies in the `checkIfLoadingIsPossible` function of `LessonThumbnailImageView`.
[code]
This function is called after initialis

[2021-03-11 15:02] ArpitShukIa commented on #2780
One possible solution can be to wait for the dependencies to be injected by Dagger after the first 3 items are initialized.

@anandwana001 Any suggestions on how this can be achieved?

[2021-03-11 17:56] ArpitShukIa commented on #2732
I checked in a lot of apps (Gmail, Amazon, CamScanner and a few others)
When user selects an item from navigation drawer, all these apps first close the drawer and then navigate to the selected destination.
I too feel that the drawer should first close and then (or simultaneously) the screen should fade (not slide) to next one.

Now, just to confirm once, we want our app to behave as stated in the

[2021-03-11 23:31] TheRealJessicaLi opened #2891 "Update AnswerGroup proto to parse misconception ID into object rather than string"
In our current AnswerGroup proto structure, we have a string field called 'tagged_skill_misconception_id'. This is because the misconception ID is formatted such that it is '<skill ID>-<misconception ID>'. This introduces the [stringly typed antipattern](https://wiki.c2.com/?StringlyTyped), so we want to instead store the misconception ID as an object that more clearly indicates its constituent pa

[2021-03-12 02:36] anandwana001 commented on #2883
@fsharpasharp could you please put some required labels on these issues, also please follow the issue template to keep consistency for contributors.

[2021-03-12 03:43] anandwana001 commented on #637
@Sparsh1212 PTAL https://github.com/oppia/oppia-android/issues/970
and let me know if you want to work on this, it's a separate issue for this XML one mentioned in this issue.

The tricky part is we have to lint XML file without using Gradle.

[2021-03-12 03:45] anandwana001 commented on #2171
@Akshat-gour IT's a bit long and tricky issue, I suggest to complete the already assigned issue first as this issue might be a month-long stuff. Let me know if you still want to work on this.

[2021-03-12 04:08] Victor-Titan commented on #2882
@fsharpasharp I'd like to work on this issue

[2021-03-12 05:25] ksog66 opened #2893 "Audio is being played even after hiding The audio icon in exploration"
**Describe the bug**
In Exploration activity while listening to the audio, if we double click the hide audio icon within 2 second , audio will still play even after icon is hidden.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Any lesson of any topic and play the chapter
2. Click on audio icon on top of toolbar twice within 2 second.
3. See it will play the audio, even the audio frag

[2021-03-12 05:49] ArpitShukIa commented on #2652
I would like to work on this. Assign to me plz.

[2021-03-12 06:19] yashraj-01 commented on #2820
@rt4914 I would like to work on this issue. It will provide me with experience in writing tests. Please assign this to me.

[2021-03-12 06:52] Sparsh1212 commented on #637
Yes, I would like to work on this. Please guide me on how to approach this. Any references or anything will be of great help to me.  Also, I had a look at the discussion on #970, but I see, that no conclusion was made regarding the finalization of the approach. Please clear that too.
Thanks!

[2021-03-12 13:21] ArpitShukIa commented on #2893
Assign to me, I would like to work on this.

[2021-03-12 15:35] AnubhavPabby commented on #2823
@rt4914 Hey can you assign this issue to me

[2021-03-12 15:42] ArpitShukIa opened #2896 "Repeated line in installation section of Wiki"
There is a repeated line in the [Installation](https://github.com/oppia/oppia-android/wiki#installation) section of Wiki.

![Repeated Line](https://user-images.githubusercontent.com/51705072/110962921-80316600-8377-11eb-95b7-6a640227bb8d.png)

Consider removing it.

[2021-03-12 15:46] fsharpasharp commented on #2882
@Victor-Titan sounds good, thanks!

[2021-03-12 16:51] arinarora18 commented on #2833
I want to work on "CustomBulletSpanTest"

[2021-03-12 17:16] #2792 closed, assigned to jcqli

[2021-03-12 17:20] BenHenning commented on #970
I believe this is part of our static analyses GSoC project. @anandwana001 can you confirm?

[2021-03-12 17:28] anandwana001 commented on #970
Yes, I guess.

`Ensure all XML files follow our XML style guide`.

I am bit worry on this here, as this is something which require Bazel support, and not be done using Gradle, is it ok under the project timeline? @BenHenning

[2021-03-12 18:53] justdvnsh commented on #2863
@anandwana001 Hi. I'd like to take up this issue. I am new to this organisation. I have already read an completed the on-boarding instructions. I also have the project setup locally ready to contribute.

[2021-03-12 19:26] justdvnsh commented on #2833
@anandwana001 I want to work on TopicRevisionFragmentTest

[2021-03-12 19:29] justdvnsh commented on #2825
@rt4914 I'd like to take up this issue. This is my first time contributing to oppia

[2021-03-13 02:55] anandwana001 commented on #2896
Done, Thanks @ArpitShukIa for bringing this into light.

[2021-03-13 02:55] #2896 closed, assigned to anandwana001

[2021-03-13 02:57] anandwana001 commented on #2893
@ksog66 is this a similar issue - https://github.com/oppia/oppia-android/issues/1801
Please confirm

[2021-03-13 04:42] ksog66 commented on #2893
@anandwana001 looks like the same issue but step to reproduce are not very clear, should i close this issue then.