[2019-08-01 15:50] BenHenning opened #4 "Project introduction"
The initial Android Studio project structure should be introduced with each of the 5 modules described in the technical design document, with some interactions between them. These modules comprise of:
- [x] App module: this contains the frontend Android code & UIs
- [x] Data-specification module: this contains protos to be used in other modules as the domain model
- [x] Domain module: this contain

[2019-08-02 05:03] BenHenning opened #5 "Abstraction on top of Oppia GAE [Blocked: #88]"
The Oppia GAE backend needs to have an abstraction from which the rest of the app can interact. Since the prototype and MVPs are not expected to support push notifications, this interface will be entirely RESTful with async/future responses with error handling support. This implementation should support RPC retry for appropriate 5xx errors.

Work items:
- [x] Identify among all existing GAE endpoi

[2019-08-02 05:04] BenHenning commented on #5
Design document: https://docs.google.com/document/d/1Ppnr-cph-Y0E2kGlHmYlCM6VWsPn2lGDlLGhcYeflgU/edit?usp=sharing

[2019-08-02 05:05] BenHenning opened #6 "Generic data provider infrastructure"
There needs to be a general-purpose data provider system that can be used to observe asynchronous data that can possibly change over time. Subscriptions to these data providers should either be only in background threads with no lifecycle dependencies, or should be transformed to LiveData for UI-bound subscriptions. The data provider system should be used for network, database, and cache I/O, as w

[2019-08-02 05:06] BenHenning commented on #6
This also needs to interop with Retrofit to allow bridging with #5 and downstream domain services.

[2019-08-02 05:06] BenHenning commented on #6
This is blocked on #4.

[2019-08-02 05:07] BenHenning commented on #5
This is blocked on #4 for implementation.

[2019-08-02 05:07] BenHenning opened #7 "Persistent cache system [Blocked: #6]"
A replacement is needed to SharedPreferences for storing settings and generally caching data since SharedPreferences executes on the main thread which can block the UI rendering and cause ANRs. It's instead recommended to use a proto-backed storage mechanism that relies on background threads (likely via the threading library described below) to perform the I/O. Using proto allows the data structur

[2019-08-02 05:07] BenHenning commented on #7
This is blocked on #4.

[2019-08-02 05:08] BenHenning commented on #7
Also: we intend to use this system for storing the topic list rather than moving it to sqlite (for now) to keep things simpler. For later topic searching, we may want to move these structures to sqlite.

[2019-08-02 05:08] BenHenning commented on #7
Open question: will this solution be sufficient for a no-sql-esque storage for the prototype and maybe even the MVP?

[2019-08-02 05:09] BenHenning opened #8 "Logging system"
There should be an easy-to-use (preferable via fluent pattern) logging system on top of logcat that will be used throughout the app. This should log to a local file specific for the app so that app-level logs can be uploaded with user feedback reports. It's highly preferable to use an existing logging API if one is available rather than building this from scratch.

[2019-08-02 05:09] BenHenning commented on #8
This is blocked on #4.

[2019-08-02 05:10] BenHenning opened #9 "Implement TopicListController"
A management system is needed for the list of topics available to the user, including tracking when this list needs to be updated and replaced with a new copy downloaded from the Oppia backend.

Consumers of this system will want to enumerate the list of topics available to the user, slice that by the user's own activity and progress on those topics, and jump to the topic viewer for a specific top

[2019-08-02 05:11] BenHenning commented on #9
This is blocked on #5, #6, and #7.

[2019-08-02 05:12] BenHenning opened #10 "Final UI: Introduce topic list on home screen [Blocked: #9, #134]"
The Oppia home screen should follow the requirements listed in the Oppia PRD. It should have access to the navigation drawer, and be accessible from the splash screen if there is already a logged in profile. The home screen should be able to navigate directly to topics, stories, and skill training pages. It should be navigable back from each of those if the user uses the system back button.

Mock

[2019-08-02 05:13] BenHenning commented on #10
This is blocked on #9.

[2019-08-02 05:14] BenHenning commented on #10
Note that the profile part of the navigation description above will be the eventual behavior, but not the implemented behavior in the proof of concept.

[2019-08-02 05:14] BenHenning opened #11 "Full UI: Oppia SplashFragment/Activity"
The Oppia splash screen should be shown for the duration required for the profile to be loaded and the app fully initialized (database upgrading can block this screen). This is nice-to-have for the proof-of-concept to help introduce a proper app loading flow.

[2019-08-02 05:15] BenHenning commented on #11
This is blocked on #4.

[2019-08-02 05:18] BenHenning opened #12 "Sqlite abstraction"
Sqlite is the database storage option of choice, and given the large variety of data being stored in the Oppia app this is an ideal database system to use. However, the relational and join/query-based nature of the RDBMS should be abstracted into a simple RESTful interface that only exposes the shared data models used in higher layers of the app (see section 4.5 of the app architecture design docu

[2019-08-02 05:20] BenHenning commented on #12
This is blocked on #4 and #6.

[2019-08-02 05:23] BenHenning opened #13 "Threading library"
A threading library should be provided to encourage developers to use it rather than relying on other mechanisms (e.g. raw threads and AsyncTask) which, when used improperly, could result in crashes and other issues. This implementation should provide interop with Retrofit, and integrate well with other async mechanisms deemed safe (e.g. Kotlin coroutines with work managers or mechanisms provided

[2019-08-02 05:23] BenHenning commented on #13
This is blocked on #4.

[2019-08-02 05:24] BenHenning opened #14 "Per-profile data storage system"
Individual profiles will need to have data associated with them directly. Such data requires a system to organize other file I/O systems based on the current profile that's selected. This system should interop directly with the other I/O systems described above rather than reimplement them. One possible manifestation of this might be a series of providers for the other I/O systems based on profile

[2019-08-02 05:29] BenHenning commented on #14
This involves changing the sqlite and the persistent cache system. For that reason, this is blocked by #12 and #7.

[2019-08-02 05:33] BenHenning opened #15 "Implement TopicController"
Users will make progress on individual topics based on the corresponding stories and skills completed/practices. There should be a system that easily consolidates and reports this information based on the specific topic and profile IDs. This system also needs to download and maintain the individual topics the user has chosen to keep on the local device.

This system is also responsible for managin

[2019-08-02 05:34] BenHenning commented on #15
This is blocked by #5, #14, and #6.

[2019-08-02 05:35] BenHenning opened #16 "Implement multi-user profile management system [Blocked: #14, #167]"
A profile system needs to be implemented satisfying the requirements described in the Oppia PRD. This system should support storing a context of the currently logged-in profile, and support logging out that profile or logging in another profile. This system is responsible for the pin-based authentication described in the PRD.

Other systems might need to be updated to rely on this context rather t

[2019-08-02 05:38] BenHenning commented on #16
This is blocked on #14.

[2019-08-02 05:39] BenHenning opened #17 "Full UI: AudioFragment [Blocked: #162]"
## Explanation
There needs to be a system for streaming and playing audio packs selected for a specific chapter by the user, leveraging the default audio language set for the current user's profile.

## Low-fi Checklist
- [x] Basic audio player UI
- [x] Alert dialog for cellular network warning (https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/d74f0571-471f-4ea6-a3a5-32e1

[2019-08-02 05:40] BenHenning commented on #17
This is blocked on #5.

[2019-08-02 05:41] BenHenning opened #18 "User activity tracking system"
A general system should exist to track the user's activity/inactivity in the app. Callers into this system are responsible for determining what is a user action. This system will have a timer that will keep track of when the last user action occurred. If that was longer than a fixed time ago (30 minutes), then the user should automatically be logged out.

[2019-08-02 05:41] BenHenning commented on #18
This is blocked on #4.

[2019-08-02 05:42] BenHenning opened #19 "Per-lesson language selection system [Blocked: #14, #15]"
There needs to be a system that supports enumerating the list of supported languages for a specific exploration/chapter, and allow the user to select that language to localize the lesson. This should be per-chapter and be independent of the app-wide language selection system (see below).

[2019-08-02 05:42] BenHenning commented on #19
This is blocked on #4 and #14.

[2019-08-02 05:43] BenHenning commented on #18
This is also blocked on #7.

[2019-08-02 05:44] BenHenning commented on #17
It's not yet clear if we'll actually be persisting the audio files on disk, or if this will use the data source interface to expose the audio data.

[2019-08-02 05:45] BenHenning commented on #19
This is also blocked on #15.

[2019-08-02 05:46] BenHenning commented on #15
This includes introducing all of the interfaces for each of the structures contained within a single topic.

[2019-08-02 05:46] BenHenning opened #20 "Language selection system [Blocked: #14]"
There needs to be a system that supports enumerating the list of supported languages by the app, and switching the app into that language without changing the entire system language. This should be a setting stored per-profile, and restored upon logging into that profile. There should also be support for temporarily changing the language (e.g. for the profile selection page). Retrieval/updating th

[2019-08-02 05:47] BenHenning commented on #20
This is blocked on #4, #14, and #6.

[2019-08-02 05:48] BenHenning commented on #7
This is also blocked on #6.

[2019-08-02 05:51] BenHenning opened #21 "Implement StoryProgressController"
Users will make progress on individual stories when they play them. There should be a system that can be used to record and retrieve this state based on the story being played (by ID) and profile ID of the user playing it. Note that this system is storing based on individual exploration being played in the context of a story.

The actual storage necessary here is just completed exploration IDs tha

[2019-08-02 05:51] BenHenning commented on #21
This depends on #15 and #14.

[2019-08-02 05:51] BenHenning commented on #15
This also depends on #12.

[2019-08-02 16:35] BenHenning opened #22 "Full UI: NavigationDrawerFragment"
The navigation drawer should provide navigation options to the home screen, profile selection page (by logging out), settings page, and admin settings page (if the logged in user is an admin). See the PRD for specifics.

[2019-08-02 16:37] BenHenning commented on #22
This is blocked on #10 to provide an initial page to navigate to. If it is implemented before other pages are available, it will be extended to include routes to those pages once they are available.

This should be designed in an extensible way to trivially allow for new pages to be added.

[2019-08-02 16:39] BenHenning opened #23 "Final UI: Topic activity/fragment [Blocked: #15]"
The topic page should provide background information on the topic, skills corresponding to the topic (which link to the concept card for that skill), navigation to training on skills in the topic, the progress of stories the user has played in that topic, and links to stories (with preference for in-progress/immediately upcoming stories, though all stories should be viewable). See the PRD for spec

[2019-08-02 16:39] BenHenning commented on #23
This is blocked on #15.

[2019-08-02 16:41] BenHenning opened #24 "Final UI: ConceptCardFragment [Blocked: #15, #160]"
The concept card should provide background information on the skill it corresponds to, including worked examples. It should also provide the option for the user to work through practice questions to learn more about that skill. See the PRD for specifics.

Note: from the mocks, this is an inline component within the content card view, though it can also be viewed when reviewing concepts from the to

[2019-08-02 16:41] BenHenning commented on #24
This is blocked on #15.

[2019-08-02 16:42] BenHenning opened #25 "Skill training page [Blocked: #15]"
The skill training page works similarly to the exploration player, except it's seeded from a set of skills based on where the page is opened from. See the PRD for specifics. This should also behave similarly to the Oppia backend controller that generates a practice session.

[2019-08-02 16:42] BenHenning commented on #25
This is blocked by #15.

[2019-08-02 16:43] BenHenning opened #26 "Full UI: ContentCardView [Blocked: #161]"
In various locations, content cards will need to be displayed with rich-text. Android TextViews support rendering a subset HTML, though the default rich-text provided by the Oppia backend may need to be processed before simply being passed to the TextView. See the web rich-text component for specifics.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-

[2019-08-02 16:44] BenHenning commented on #26
This is blocked by #15 to retrieve exploration content data, but it can be designed & mostly built as soon as #4 is completed.

[2019-08-02 16:45] BenHenning opened #27 "Full UI: QuestionFragment [Blocked: #15, #28, #110, #111, #158]"
Content cards can be paired with questions that hold an interaction for the purpose of quizzing the learner on a particular concept. Questions are used when reviewing concepts, training skills, or within an exploration as part of a story. See 3.2.4 of the technical architecture document for the interactions that will be supported in the prototype.

[2019-08-02 16:46] BenHenning opened #28 "Full UI: TextInputInteractionView [Blocked: #15, #150]"
This is tracking implementing the fully polished UI version of the text input interaction.

See the web frontend for details on how the text input interaction works. This is the first interaction that will be implemented, so it includes designing the general interaction architecture that will be leveraged by other interactions.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-

[2019-08-02 16:47] BenHenning commented on #28
This is blocked on #4.

[2019-08-02 16:48] BenHenning opened #29 "Full UI: NumericInputInteractionView [Blocked: #15, #151]"
This is tracking implementing the fully polished UI version of the numeric input interaction.

See the web frontend for details on how the numeric input interaction works.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

## Checklist
- [ ] Numeric Text Input (similar to this mock)
<img width="324" alt="Scree

[2019-08-02 16:48] BenHenning commented on #29
This is blocked on #28 to introduce the general interaction architecture.

[2019-08-02 16:49] BenHenning opened #30 "Full UI: NumberWithUnitsInteractionView [Blocked: #152]"
This is tracking implementing the fully polished UI version of the number with units interaction.

See the web frontend for details on how the number with units interaction works.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

## Checklist
- [ ] NumerWithUnits (similar to this mock)
<img width="324" alt="S

[2019-08-02 16:49] BenHenning commented on #30
This is blocked on #28 to introduce the general interaction architecture.

[2019-08-02 16:50] BenHenning opened #31 "Full UI: MultipleChoiceInteractionView [Blocked: #15, #153]"
This is tracking implementing the fully polished UI version of the multiple choice interaction.

See the web frontend for details on how the multiple choice interaction works.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

## Checklist
- [ ] Radio Buttons along with text and entire background
<img width="3

[2019-08-02 16:50] BenHenning commented on #31
This is blocked on #28 to introduce the general interaction architecture.

[2019-08-02 16:50] BenHenning opened #32 "Full UI: ItemSelectionInteractionView [Blocked: #15, #154]"
This is tracking implementing the fully polished UI version of the item selection interaction.

See the web frontend for details on how the item selection interaction works. Note that when explorations are downloaded, their item selection assets also need to be downloaded (e.g. images) to ensure that these work properly offline.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14

[2019-08-02 16:51] BenHenning commented on #32
This is blocked on #28 to introduce the general interaction architecture.

[2019-08-02 16:52] BenHenning commented on #27
This is blocked by #15 and interactions architecture work: #28. Other interactions do not need to be completed for this work to begin.

Note that this should be architected such that it can be easily reused in both practice session and exploration contexts.

[2019-08-02 16:52] BenHenning opened #33 "Full UI: FractionsInteractionView [Blocked: #15, #155]"
This is tracking implementing the fully polished UI version of the fractions interaction.

See the web frontend for details on how the fractions interaction works.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

## Checklist
- [ ] FractionInput (similar to this mock)
<img width="324" alt="Screenshot 2019-11

[2019-08-02 16:52] BenHenning commented on #33
This is blocked on #28 to introduce the general interaction architecture.

[2019-08-02 16:53] BenHenning opened #34 "Full UI: ContinueInteractionView [Blocked: #15, #156]"
This is tracking implementing the fully polished UI version of the continue interaction.

See the web frontend for details on how the continue button interaction works.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

## Checklist
- [ ] Continue Button
<img width="323" alt="Screenshot 2019-11-08 at 3 49 33 P

[2019-08-02 16:53] BenHenning commented on #34
This is blocked on #28 to introduce the general interaction architecture.

[2019-08-02 16:54] BenHenning opened #35 "Full UI: EndExplorationInteractionView [Blocked: #15, #157]"
This is tracking implementing the fully polished UI version of the end exploration interaction.

See the web frontend for details on how the end exploration interaction works.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

## Checklist
- [ ] Return to Topic Button
<img width="328" alt="Screenshot 2019-11-0

[2019-08-02 16:54] BenHenning commented on #35
This is blocked on #28 to introduce the general interaction architecture. This also likely is not needed for practice sessions since it's exploration-specific, or it needs to be generalized to handle the end of both explorations and practice sessions (or we need a separate interaction to handle the practice sessions case).

[2019-08-02 16:55] BenHenning commented on #28
This is also blocked on #15 for the domain models that will be introduced to represent exploration & questions structures.

[2019-08-02 16:55] BenHenning commented on #15
This work may be parallelizable since it's introducing support for multiple lesson structures.

[2019-08-02 16:57] BenHenning opened #36 "Strategy for writing & organizing Robolectric tests"
Robolectric tests are a critically important aspect for the development of the app. Such tests will directly impact the velocity at which the prototype can be developed since they will allow for quick refactors late in the development process with minimal risk of regression. This level of flexibility is essential to ensure late requirements can be incorporated without paying significant long-term

[2019-08-02 16:59] BenHenning commented on #36
This is blocked on #4 since it's introducing the first tests of the project. This should also discuss which tests should be shared between Robolectric & Emulators, and why/how.

[2019-08-02 17:01] BenHenning opened #37 "Update Oppia GAE backend to remove web-specific payloads"
Oppia has a bunch of web-specific data being populated in GAE response payloads, many of which are difficult to consume by the Android app (e.g. hex colors or relative URLs to avatars). These endpoints need to be updated to be more platform-agnostic.

This requires filing and tracking corresponding work items in https://github.com/oppia/oppia.

[2019-08-02 17:02] BenHenning opened #38 "Migrate Oppia GAE backend over to using protobuf"
Currently, Oppia relies on JSON blobs when sending content to the web frontend. These JSON structures contain various data representing backend data, and also web-specific items (e.g. category colors or names of icon resources). Although this works nicely for the web, two key changes will help majorly simplify app development and establish long-term precedence for clean backend API design:
1. Abst

[2019-08-02 17:02] BenHenning commented on #37
This is blocked on #5.

[2019-08-02 17:04] BenHenning opened #39 "Update Oppia GAE backend to provide download byte lengths"
The Oppia GAE backend needs to provide download payload lengths to the frontend to enable progress-based downloads. This needs to be investigated since it's not clear whether large payloads can be downloaded in one stream, or if the backend needs a streaming service. Also, it's not clear whether the HTTP content length header is sufficient for this purpose, or if a custom length header needs to be

[2019-08-02 17:04] BenHenning commented on #39
This is blocked on #5 since it will require extending that abstraction to include a way to retrieve payload sizes.

[2019-08-02 18:03] BenHenning opened #40 "Full UI: Question training interface [Blocked: #110, #27, #159]"
Learners should be able to assemble a random assortment of questions based on preselected skills to train and review those skills.

Specific things to complete (from #500):
- [ ] End of question player has weird scrolling
- [ ] Not following mocks (initial implementation is closer to the exploration player and doesn't follow the non-conversational flow of the mocks)
- [ ] Add hints & solutions sup

[2019-08-02 18:04] BenHenning commented on #40
This is blocked on #27 and #15.

[2019-08-02 18:04] BenHenning opened #41 "Full UI: StoryFragment/Activity"
The story page should show the user their current progress through the story, and provide links to the corresponding explorations that they can play.

Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5abb0ace-19ee-48b8-8154-919154f924d2/TP-CL-Chapter-List-/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/cce938d6-e079-4761-bac0-8bde22ac63

[2019-08-02 18:05] BenHenning commented on #41
This is blocked on #15.

[2019-08-02 18:07] BenHenning opened #42 "Full UI: ExplorationPlayerFragment/Activity"
The exploration player should be functionally close to the reactive exploration player in the web frontend, though with mobile-specific considerations. At a high level, this player should:

- Displaying cards (see #26)
- Playing audio tracks (see #17)
- Support back-and-forth navigation
- Submitting answers (see #27)
- Tying into skills when questions are answered
- Linking to concept cards
- Reco

[2019-08-02 18:10] BenHenning commented on #42
This is blocked on #15, #17, #26, and #27. Design should start before that work is done since this is encapsulating a large portion of the prototype. This issue should be split into constituent pieces and parallelized across multiple individuals. This can also be built before being hooked up to #41.

[2019-08-02 18:11] BenHenning commented on #42
This is blocked on #15, #17, #26, and #27. Design should start before that work is done since this is encapsulating a large portion of the prototype. This issue should be split into constituent pieces and parallelized across multiple individuals. This can also be built before being hooked up to #41.

[2019-08-02 18:12] BenHenning commented on #41
This is also blocked on #42.

[2019-08-02 18:13] BenHenning opened #43 "Fragment & activity navigation guidelines"
Guidelines should be established for how all activities should interact with each other, and how fragments should leverage the back-stack for specific desired navigation. These guidelines should include any existing activities, and may result in changes to those activities. All future activities/fragments should consider these guidelines in their design to ensure that the Oppia app has clear and c

[2019-08-02 18:14] BenHenning commented on #43
This is blocked on #4 and #10 since both are required for a preliminary API to be introduced from which these guidelines can be derived.

[2019-08-02 18:14] BenHenning commented on #22
This is blocked on #43.

[2019-08-02 18:16] BenHenning opened #44 "Full UI: ProfileSelectionFragment/Activity [Blocked: #11, #16, #168]"
The profile selection page may require a lot of custom UI that's not broadly available in the Google material design component libraries. See the PRD for specifics.

## Work Items:

## Auth Screen
- [ ] Auth Screen: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/a841330e-efe5-4bdb-acdd-4d6e52a59571/PC-MP-Admin-Authorization-Empty-
 (@rt4914 )
- [ ] Submit Button active/

[2019-08-02 18:17] BenHenning commented on #44
This is blocked on #4, #11, and #16.

[2019-08-02 18:18] BenHenning opened #45 "Topic download flow"
There needs to be support for downloading topics. This does not need confirmation based on what network the user is currently on for the purpose of the prototype, but does in later milestones. This also does not require queuing the download; it can be downloaded immediately.

[2019-08-02 18:19] BenHenning commented on #45
This is blocked on #14, #23, and #15.

[2019-08-02 18:20] BenHenning opened #46 "Developer menu"
It's important that a developer-only menu exist in the navigation drawer to provide a variety of debugging utilities, including:

- Switching the Oppia backend (e.g. between production, testing, and local)
- Force crashing the app
- Force restart the app
- Dumping the database to the sdcard so that it can be pulled off the device
- Viewing recent user interactions from the user activity tracker
-

[2019-08-02 18:25] BenHenning commented on #46
This is blocked on #22 for the nav drawer, #16 for profile interaction, #5 for network endpoint selection, #12 for dumping the database, #18 for activity tracking logs, and #8 for viewing recent app logs. This is also blocked on #23, #24, #27, #40, #41, and #42 for direct jumping into Oppia activities.

Note that this work item can be built in multiple pieces when downstream work is completed and

[2019-08-02 18:26] BenHenning opened #47 "Gravitars/avatar rendering [Blocked: #44]"
Gravitar & user avatar rendering requires special considerations (and likely Glide integration), and is important for the profile selection page.

[2019-08-02 18:26] BenHenning commented on #47
This work item includes introducing Glide, and is blocked on #44.

[2019-08-02 18:27] BenHenning opened #48 "Settings page [Blocked: #15, #20, #22]"
There needs to be a settings page where the user can configure various aspects of their Oppia experience, including viewing and deleting topics that are not frequently used. The user should also be able to change the app language from this page. See the PRD and mocks for specifics.

[2019-08-02 18:27] BenHenning commented on #48
This is blocked on #15, #20, and #22.

[2019-08-02 18:28] BenHenning commented on #42
This is also blocked on #19 for lesson language selection.

[2019-08-02 18:29] BenHenning opened #49 "Admin login dialog"
There needs to be a dialog that shows when a user attempts to perform a restrictive action (such as downloading a topic) when they are not the admin. This should prompt the user to give the phone to the admin, and the admin can enter their password to authenticate. The dialog also needs an option to silence the prompt for a 5 minute interval.

[2019-08-02 18:30] BenHenning opened #50 "Permission management system [Blocked: #14, #16]"
There are various actions in the app (such as trying to download a topic) which require privileged (adminstrative) access. There needs to be a system to allowing user actions to be protected by the administrator account, or overwritten with per-profile settings.

[2019-08-02 18:31] BenHenning commented on #50
This is blocked on #14 and #16.

[2019-08-02 18:31] BenHenning commented on #49
This is blocked on #16 and #50.

[2019-08-02 18:36] BenHenning opened #51 "Admin settings page"
There needs to be an admin settings page for permissions that may not be enabled for individual profiles, and for settings that can be enabled for individual profiles (e.g. such as whether users are allowed to delete topics from the device). See the PRD for specifics.

[2019-08-02 18:36] BenHenning commented on #51
This is blocked on #16 and #49.

[2019-08-02 18:37] BenHenning opened #52 "Language selection screen [Blocked: #20, #44]"
There needs to be a page where the user can view all languages that the Oppia app supports and select which on it should be displayed in. This should be a per-profile setting that sets the language for the app, but not for the whole system. It should be easy to navigate to this screen. It should also be possible for the user to change the language only for the profile selection page temporarily as

[2019-08-02 18:38] BenHenning commented on #52
This is blocked by #20 and #44 (for where the language selection screen will be displayed).

[2019-08-02 18:39] BenHenning opened #53 "App user feedback reporting"
It's important that users have the ability to report issues they observe in the app. This should include both free-form text and optionally a screenshot. System logs and other useful debug information should be included, and these reports should be stored securely in Oppia's backend with an easy way to view them to investigate the issues.

[2019-08-02 18:41] BenHenning commented on #53
This is blocked on #8 and #22 for placement in the UI. This feature requires a design document and approval from an Oppia data owner due to the sensitivity of the data being stored in these feedback reports.

[2019-08-02 18:42] BenHenning commented on #8
NB: Logs also need to be retrievable (e.g. for user feedback reporting & for displaying in the developer menu).

Although not explicitly blocking, all downstream work will likely introduce logs using this system so it should be implemented as early in the project as possible.

[2019-08-02 18:44] BenHenning opened #54 "Animation explaining Oppia"
It would be nice to have an animation in the prototype explaining how Oppia works (e.g. for parents who need to set up Oppia profiles for their children). Although this requires a lot of UI work, one solution to minimize complexity and maximize design iteration (and changes in the future using a tool like Illustrator) would be to integrate Lottie which seems designed for this type of use case. See

[2019-08-02 18:45] BenHenning commented on #54
This is blocked on #22 for a place to hold the animation, and maybe #44 & #14 for showing this for the first time a new profile is logged into.

[2019-08-02 18:45] BenHenning commented on #54
This is blocked on #48 for a place from which to initiate the animation, and maybe #44 & #14 for showing this for the first time a new profile is logged into.

[2019-08-02 18:47] BenHenning opened #55 "Topic search"
It would be nice to have a page from which the user can search all available topics that they can play. This needs to be both a local and remote search since the user may have lessons downloaded, but no internet connectivity. Or, conversely, the user may have internet connectivity and no lessons downloaded.

[2019-08-02 18:49] BenHenning commented on #55
This is blocked on #22 for a place from which to open the topic search page, #15 and #12 for local searching, and #5 for the core architecture of endpoints that needs to be extended to include topic searching. This may also require a utility for checking whether the user has internet access--this is likely infrastructure work that will be completed as part of earlier projects. This also may requir

[2019-08-02 18:50] BenHenning opened #56 "Landscape layouts"
Many users prefer to use landscape mode in apps, and Oppia's player view has good potential to better leverage landscape (e.g. having the content & interactions side-by-side rather than top-on-bottom). Although not a specific necessity for the prototype, supporting landscape layouts would go a long way toward demonstrating a well-rounded and polished user experience.

If this is not completed for

[2019-08-02 18:53] BenHenning commented on #56
Since this affects all screens in the app, it's blocked by #51, #32, #53, #54, #55, #48, #46, #44, #42, #41, #40, #27, #28, #29, #30, #31, #32, #33, #34, #35, #26, #25, #24, #23, and #22. There may be future UI work that require landscape layouts work not linked here, and not all of the above layouts will require landscape-specific work. This can also be done during the development of those featur

[2019-08-02 18:54] BenHenning commented on #13
Although not specifically called out, this work may block downstream work that isn't identified until that work is in the design phase. For that reason, this work should be done as early as possible once its specific technical details are better understood.

[2019-08-14 16:15] BenHenning commented on #11
https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/

[2019-08-16 17:12] BenHenning opened #59 "Migrate from Gradle to Bazel"
This isn't an immediate priority, but Gradle has many pitfalls which makes development more challenging:
- There's no control over which resources/manifests are included in the final binary beyond production/test dependencies on modules (which makes creating test modules/libraries more challenging)
- Replacing component implementations (e.g. for test mocks/fakes) is non-trivial with Gradle
- Gradl

[2019-08-16 17:12] BenHenning commented on #59
NB: This is currently targeting proof of concept, but it might get pushed back to the prototype milestone.

[2019-08-16 17:12] BenHenning commented on #59
This is blocked on #4.

[2019-08-16 17:14] BenHenning commented on #59
One other benefit: we can structure the project more granularly by directory rather than thinking about module-level separation, or needing to fit a specific structure enforced by Gradle.

[2019-08-16 17:17] BenHenning commented on #59
Another benefit: Bazel allows you to force libraries/targets to be test only, making it impossible to accidentally include them in user-facing binaries.

[2019-08-16 18:29] BenHenning commented on #59
Another benefit is easier integration with Java proto lite without requiring the hacky proto module workaround that we're currently using. This will be especially nice since it lets us keep the proto files we use close to the code that uses it, rather than having to keep all protos together in their own proto-only module.

[2019-08-22 02:22] BenHenning commented on #11
Design document: https://docs.google.com/document/d/1m9Y5bIdEE8iDM9gElGRYW6PxNuESfHU3EODuZ0z4cJY/edit?usp=sharing.

[2019-08-22 06:53] BenHenning commented on #8
@veena14cs can you document your findings here about why you chose the logging solution that you did? Also, note that one requirement in this issue is to find a fluent logger (https://dzone.com/articles/fluent-builder-pattern). Flogger (https://google.github.io/flogger/) is one such example, but I believe it's not compatible with Android  (this may require further investigation on your part if Flo

[2019-08-22 07:39] rt4914 opened #65 "Nullability check in GAE Models [Blocked #5]"
For all the models in GAE check whether the objects can be null or not. For example "exploration_id" in ExplorationContainer cannot be null but "correctness_feedback_enabled" can be null.
Add kotlin null support with "?" wherever null data is allowed.
This is important because if a particular object is not in null model and the JSON data gives null value for that object, then complete model will f

[2019-08-22 12:23] veena14cs commented on #8
I am going through flogger. I will let you know about it once I get enough
information.

And also I want to know that whether we need to have only specific logs?

On Wed, Aug 21, 2019 at 11:54 PM Ben Henning <notifications@github.com>
wrote:

[2019-08-23 01:39] BenHenning commented on #8
What do you mean by specific logs? I'm not sure that I understand.

[2019-08-23 01:41] BenHenning commented on #59
Although we should try to get this done soon, it's not a strict requirement for proof-of-concept and we're a bit time constrained for that milestone. Let's work on this on a best-effort basis in the prototype milestone.

[2019-08-23 01:42] BenHenning commented on #59
NB: keeping this as an important priority for the prototype.

[2019-08-23 02:28] BenHenning commented on #65
I agree that going with optional by default seems reasonable since we're eventually moving to protobuf and everything in proto3 is optional.

However, I think we should solve this immediately with the GAE abstraction rather than waiting to solve it.

[2019-08-23 04:07] veena14cs commented on #8
I mean to say messages that we add to the app with the Log
<https://developer.android.com/reference/android/util/Log.html> class.

On Thu, Aug 22, 2019 at 6:39 PM Ben Henning <notifications@github.com>
wrote:

[2019-08-23 05:16] BenHenning opened #70 "Mark that the user opened the app in early demo"
The WIP Android app shows a label indicating whether the user opened the app yet, but this is not persisted to disk to survive across multiple instances of the app. It should be to demonstrate the persistence system.

[2019-08-23 05:19] BenHenning opened #71 "Reconcile the final location of NotifiableAsyncLiveData [Blocked: #6]"
``NotifiableAsyncLiveData`` was introduced in #64, and it's located in a domain controller. It seems to better fit in the future data sources module that will be introduced as part of resolving #4, except it's unclear whether it should be replaced by a separate structure. This needs to be determined as part of #6.

[2019-08-23 05:20] BenHenning commented on #71
This is blocked on #6.

[2019-08-23 05:22] BenHenning opened #72 "Replace custom CoroutineLiveData with AndroidX's CoroutineLiveData"
#64 introduced a custom CoroutineLiveData due to issues with AndroidX's (see PR description for details). Long-term, we do not want to ship with this custom solution as it likely has various lifecycle implications.

There's not yet a bug filed against the AndroidX team to fix this, but one will be filed soon. This issue is also tracking filing that bug, and following along with its progress until

[2019-08-23 05:22] BenHenning commented on #72
NB: This is blocked on the AndroidX bug that hasn't yet been filed.

Also, we may want to fix this in the prototype or MVP stages if the custom solution results in stability issues.

[2019-08-23 05:23] BenHenning commented on #70
NB: This issue also includes actually persisting the state to disk as part of demonstrating working data sources per #4.

[2019-08-23 05:42] BenHenning opened #73 "Introduce continuous integration testing"
#64 broke the build due to a last minute Gradle file change that wasn't identified during review. This could have been prevented by running tests in a CI environment and blocking the PR on those tests passing. To prevent situations like this from occurring, we should set up a blocking CI environment to build the app & run tests.

We may want to wait until #59 is completed since it may be challengi

[2019-08-26 04:58] BenHenning commented on #8
@veena14cs per our meeting last week, what's your proposed solution for logging? Please document your thoughts in this issue.

[2019-08-26 05:08] BenHenning opened #74 "Introduce dependency injection support"
DI provides a lot of benefits, most notably easy switching between dependencies for tests and production targets. It also simplifies ensuring that objects don't get recreated with lifecycle-bound objects.

Dagger2 is an ideal choice for DI support, but other options include Kodein and Koin.

[2019-08-26 05:08] BenHenning commented on #74
NB: This is blocked on #4, but the PR for that issue will introduce initial DI support. We should think through the long-term design of the DI graph, and ensure the right infrastructure is implemented to support it. This issue is tracking that effort.

[2019-08-27 10:56] rt4914 commented on #65
This will be fixed within GAE PRs therefore closing this issue now.

[2019-08-27 10:56] #65 closed

[2019-08-27 14:30] rt4914 opened #76 "Retry Policy for Retrofit"
The data module is responsible for all the API calls and there should be a retry policy when API call fails. Retrofit does not have retry policy by default. We should probably use OkHttp interceptor to solve this issue. We will be handling standard error codes centrally and the error codes 408-Request Timeout, 502-Bad Gateway, 503-Service Unavailable and 504-Gateway Timeout will result in exponent

[2019-08-27 14:39] rt4914 opened #77 "Testing Strategy for GAE Abstraction [Blocked #76]"
Implement the testing strategy for all the retrofit interfaces.
Fake versions of each retrofit interface will be introduced which can check the corresponding interface. Fakes should be able to check the retrypolicy, XSSI_PREFIX removal and correct deserialisation of response.
This is blocked on #5 , #76

[2019-08-28 02:00] BenHenning opened #79 "Investigate integration with Android Go devices"
See https://developer.android.com/docs/quality-guidelines/building-for-billions-device-capacity#androidgo for app criteria.

We should figure out what work is needed, and spec it out accordingly. This is a nice-to-have for the prototype, but is essential for MVP.

[2019-08-29 19:31] BenHenning commented on #12
Recommend looking at introduce-data-module for the basis of infrastructure that we should use when designing this.

[2019-08-29 19:37] BenHenning commented on #12
From meeting, we need a design document here that includes:
1. How we will be abstracting sqlite behind the data source infrastructure being introduced in introduce-data-module
2. An initial schema & CRUD API representing the new data objects being introduced in @rt4914's GAE abstractions

[2019-09-01 21:24] BenHenning commented on #8
Pushing this back to the prototype milestone. We can live with Android's Log class in the meantime.

[2019-09-01 21:24] BenHenning commented on #8
Similarly, we can probably live without this until MVP or GA when deeper investigations become more important.

[2019-09-01 21:26] BenHenning opened #86 "Introduce sample persistent cache system"
This is pre-work for #7: we should introduce a basic proto-based on-disk cache system that interops with the data source system to investigate pros and cons of different approaches.

This PR involves actually introducing an initial system, whereas #7 is about fleshing it out fully with a design document.

[2019-09-01 21:27] BenHenning commented on #7
Because of #86, this can be pushed back to prototype. The initial iteration of this will be done as part of proof-of-concept.

[2019-09-01 21:28] BenHenning opened #87 "Introduce initial data provider implementation"
This involves introducing an initial implementation of #6 for investigations and to test out different architectural strategies.

This is tracking implementing an initial iteration of the system, whereas #6 is tracking solving this generically with a thought-out design document.

[2019-09-01 21:29] BenHenning commented on #6
This is blocked on #87.

[2019-09-01 21:29] BenHenning commented on #6
Also: consider data & error channel elision after configuration changes for LiveData-converted providers.

[2019-09-01 21:30] BenHenning commented on #6
RxJava could probably satisfy all of this, but the initial introduction for #87 seems reasonable so we'll probably continue with that approach for at least the prototype.

[2019-09-01 21:30] BenHenning commented on #7
This is blocked on #86.

[2019-09-01 21:31] BenHenning commented on #6
This is now part of the prototype milestone since #87 is introducing an initial version of it for proof-of-concept.

[2019-09-01 21:33] BenHenning opened #88 "Introduce Retrofit abstraction for a single Oppia endpoint"
This effort involves introducing a single endpoint (topics) to demonstrate a complete Retrofit integration with the Oppia Android app.

See #5 for details on the complete integration effort that follows from this work.

[2019-09-01 21:33] BenHenning commented on #5
I split out the Retrofit bits to #88, so this is now blocked on that. #88 is targeting proof-of-concept and the rest of this really should be part of prototype.

[2019-09-02 18:56] BenHenning opened #89 "Properly handle background thread processing in AndroidX tests"
tl;dr: The project needs a way to consistently test operations which require background processing in a way that's consistent with production environments,

UI-centric AndroidX tests can run on both Robolectric and Espresso. Both Robolectric and Espresso have their own ways to block on background tasks completing.

Robolectric running in legacy mode can deterministically advance the system clock a

[2019-09-02 18:57] BenHenning commented on #89
This is actually blocked on #59 since this partially requires support for testing libraries in order to have shared testing infrastructure.

[2019-09-02 19:11] BenHenning opened #90 "Introduce thread-safe MediatorLiveData or alternative"
See AsyncDataSubscriptionManager and NotifiableAsyncLiveData for context. NotifiableAsyncLiveData currently relies on MediatorLiveData to chain CoroutineLiveDatas together to properly pipe coroutine-fed data to the UI. However, adding and removing sources from MediatorLiveData must be done on the main thread since the internal sources data structure is not thread-safe, and it calls through to Live

[2019-09-02 19:12] BenHenning commented on #90
This is related to #72 and is blocked on #6.

[2019-09-02 20:03] BenHenning opened #91 "Introduce thread-safe subscription queue for DataProviders"
This is a constituent piece of #6.

The subscription queue system introduced in #87 is essentially a concurrent map of concurrent queues, but this has drawbacks:
1. Queue removal from the map cannot be done atomically with other operations
2. No support for atomizing multiple sequential operations (e.g. two for-each loops across the same queue could result in hard-to-track-down disparities due to

[2019-09-02 20:35] BenHenning opened #92 "Introduce custom Truth subject for AsyncResult"
If AsyncResult from #87 sticks around long-term, we should introduce a custom Truth subject to simplify testing these results. Right now, testing them is a bit awkward:

[code]

These could be largely simplified using a custom subject:

[code]

[2019-09-02 23:11] BenHenning commented on #89
NB: https://github.com/Kotlin/kotlinx.coroutines/issues/242 might be an interesting solution to this if it becomes available.

[2019-09-03 17:34] #4 closed

[2019-09-05 06:20] BenHenning commented on #13
This was partially implemented in #85. We should resolve the remaining data source work and then determine what's needed here. At the moment, I suspect all we need is a way to easily schedule tasks on a background thread using coroutines and in a way that's interoperable with tests (#89 is related here).

[2019-09-05 06:25] BenHenning commented on #59
@droidizer is looking into what an integration with Bazel would look like.

Sowmya: let me know if you'd like me to provide more guidance on how Bazel projects are laid out, and how we might be able to translate our existing project over. Initially, I suggest considering:
1. Gradle modules don't need to have parity with Bazel structures (and probably shouldn't--Bazel does a better job at represent

[2019-09-05 06:26] BenHenning commented on #74
This was partially solved in #85, though we should consider the long-term structure of how DI should work with a formal design in place.

[2019-09-05 06:39] BenHenning commented on #13
Also, consider something like #8. In both Logger and InMemoryBlockingCache, we want a sequential executor for the lifetime of that object, but isolated to that object. However, we also want to be able to carefully control total execution throughput in the app to avoid issues with low-performing devices per the work in #79.

[2019-09-05 06:43] BenHenning commented on #70
This was fixed as part of #85.

[2019-09-05 06:43] #70 closed

[2019-09-05 06:43] BenHenning commented on #71
This was fixed as part of #85.

[2019-09-05 06:43] #71 closed

[2019-09-05 06:43] BenHenning commented on #86
This was fixed as part of #85.

[2019-09-05 06:43] #86 closed, assigned to BenHenning

[2019-09-05 06:43] BenHenning commented on #87
This was fixed as part of #85.

[2019-09-05 06:43] #87 closed, assigned to BenHenning

[2019-09-05 06:45] BenHenning commented on #9
This is actually blocked on #88, and was blocked on #86 and #87.

[2019-09-06 06:24] BenHenning opened #96 "Design a compatibility & upgrade flow for lesson content"
This issue is intending to solve two specific issues:

1. Lessons can change in schema and no longer be compatible with deployed versions of the app

2. The app needs an upgrade path to migrate cached lessons to newer schema versions without disrupting the user's local progress

We need to find reasonable solutions to these problems that's consistent with the upgrade flow mocks.

[2019-09-06 06:24] BenHenning commented on #96
NB: this is essentially blocked on the prototype milestone.

[2019-09-06 07:53] rt4914 opened #97 "Keep test dependencies separate from production dependencies [Blocked: #59]"
We should keep test dependencies separate from production dependencies.

This issue was first seen in `data/build.gradle` with `retrofit-mock` dependency in `api`. If we remove `retrofit-mock` dependency from `api` then test-cases are not able to use `retrofit-mock` from `testImplementation`.

Reference: #78

Check all build.gradle files and keep test dependencies separate from production dependen

[2019-09-09 20:20] BenHenning commented on #97
Will this be solved as part of #59 or do we need to do this more imminently/is this blocking anything else?

[2019-09-09 23:24] BenHenning commented on #26
To simplify, this only needs to support basic HTML elements (li/b/etc.) + images.

[2019-09-09 23:29] BenHenning commented on #42
Consider skipping hints & solutions.

[2019-09-09 23:33] seanlip commented on #26
Note: links as well. (This includes links to other lessons within the app.)

[2019-09-10 02:56] rt4914 commented on #97
It can be solved as a part of #59 or it can be solved separately also. This issue is not blocking something.
I suggest to keep this issue open and once #59 is finished and then if this issue is covered in that, we can close it then.

[2019-09-10 02:58] rt4914 commented on #26
@veena14cs @nikitamarysolomanpvt Check the comments here.

[2019-09-10 15:33] #5 closed

[2019-09-12 21:19] jamesxu0 commented on #17
https://medium.com/androiddevelopers/building-a-simple-audio-app-in-android-part-1-3-c14d1a66e0f1

I found this articles for building a simple media player, which I'm going to base my implementation off of. I guess I'm confused on how to structure the code because the audio player should be a reusable component since it's used in a lot of places. It should be constructed with an audio source then

[2019-09-13 07:30] #8 closed

[2019-09-13 08:36] rt4914 commented on #88
@BenHenning Can this issue be closed? We have already finished the TopicService Retrofit integration along with test cases.

[2019-09-13 08:50] BenHenning opened #101 "Implement replay tracking system for testing [Blocked: #59]"
We should consider implementing a tester-only tracking system for user actions that can be replayed. If we do this exhaustively (maybe via a tracing system) and robustly (such as ensuring recent actions during a crash are saved via a crash handler) we may be able to replay a tester’s experience verbatim to hit the same broken state they observed, allowing for much quicker bug fixes.

This can be c

[2019-09-13 18:00] BenHenning commented on #27
Corresponds to the [training tab](https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/3088dfe8-937a-4fa4-8260-4ee531503844/Home-Page-1-Start-Learning-Pre-Scroll-17) and [question page](https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/8fbb663a-39aa-4be1-83bd-73bde6f85dcc/Lesson-1-a-i-Exploration-Player-Fraction-Input-No-). We should figure out how in

[2019-09-13 18:55] BenHenning opened #103 "Implement network cache utility with proper offline support"
We're missing a general utility that caches results from a network and properly handles the offline cases. From a user perspective, all downloads fall into two buckets: automatic and manual. For each of these, there are three potential scenarios: the user does not yet have the data, the user has the data cached locally but it's out of date, and the user has the data cached locally and it's the lat

[2019-09-13 20:03] BenHenning commented on #103
So I think what we want is a simple core NetworkCache that can have multiple behaviors attached to it for more granular configuration.

This base NetworkCache will be a DataProvider that always downloads the value from the network with additional behaviors that can be attached:
- Download policy: automatic (default), manual
- Caching strategy: in-memory (default), on-disk with persistent data stor

[2019-09-13 20:25] BenHenning commented on #103
That being said, the two primary GAE-based downloads we need to support are the topic list and topics. We don't need this more generic infrastructure right now. The topic downloader will be a bit tricky since it actually needs to batch a lot of downloads together. The topic list downloader can just have a simple timestamp-based expiration policy with eviction-upon-upgrade.

[2019-09-17 01:58] BenHenning commented on #97
Sounds good. Marking this as blocked on #59. Also, sending this over to you @droidizer since we should solve this with the Bazel migration work.

[2019-09-17 02:00] BenHenning commented on #101
Targeting MVP as a nice-to-have, but if we can build it sooner (e.g. for prototype) it can help play a significant role in quickly stabilizing the app.

[2019-09-17 02:01] BenHenning commented on #101
Also, this is blocked on #59 for privacy reasons: we must make sure that such a tracking system is not accidentally shipped on prod versions of the app.

[2019-09-17 02:02] BenHenning commented on #103
Although this system may be nice to build, it may be completely unnecessary. Scoping to MVP to see as we get closer to shipping the app whether we can get worthwhile gains from a utility like this.

[2019-09-17 05:32] BenHenning opened #109 "Lock screen to portrait"
In order to avoid poor landscape layouts without #56 being completed, we should force the app to remain in portrait mode for the prototype milestone.

Although not ideal, we can implement this via the base injectable activity class given that it's a temporary state that will be removed during the MVP work.

[2019-09-17 05:37] BenHenning commented on #47
This isn't needed for the prototype. If we end up getting profile support done, we can just use a standard profile image as a placeholder.

/cc @jamesxu0.

[2019-09-17 06:15] BenHenning commented on #25
This is made obsolete by #40 which is the canonical page for playing practice sessions to review topic skills.

[2019-09-17 06:15] #25 closed

[2019-09-17 06:23] BenHenning commented on #53
The prototype does not require user feedback reporting since it will only be available to controlled and supervised audiences.

[2019-09-17 06:25] BenHenning commented on #45
This is not needed in the prototype since per #15 topics will be automatically downloaded onto the device for now, not requiring explicit user action. For this reason, we can still demonstrate offline play in the app which is the requirement for the prototype.

[2019-09-17 06:26] BenHenning commented on #39
As mentioned in #45 this does not need to block the prototype since we don't need to show a download indicator for topics.

[2019-09-17 06:32] BenHenning commented on #74
Considering this effectively complete per #85. This has undergone some level of review with a [recent presentation](https://docs.google.com/presentation/d/1lLLjWRJB-mqDuNlhX5LoL87yBj5Tes0UUlvsLsbwH30/edit) of the system, and its patterns are now being replicated throughout the codebase.

[2019-09-17 06:33] #74 closed, assigned to BenHenning

[2019-09-17 06:33] BenHenning commented on #13
This issue is too ambiguous to keep open. We now have a threading library under the util module, and per comments above it's likely to be expanded as needed. No explicit threading support has been identified that requires its own tracking issue, so closing this.

[2019-09-17 06:33] #13 closed

[2019-09-17 06:34] BenHenning commented on #7
This is essentially complete. There are improvements that can be made (many of which are noted as an extension to add network support per #103), but the core utility works reasonably well and will need to be stabilized in the coming months.

[2019-09-17 06:34] #7 closed

[2019-09-17 06:35] BenHenning commented on #6
The core system has now been in place for a while, so considering this work item done rather than keeping it open. There will be a presentation to the team later explaining how this system works, and how to effectively use it in conjunction with Kotlin Coroutines. Adjustments to the system may be made over the next few months, and there are certainly improvements that will be needed (#89 and #90).

[2019-09-17 06:35] #6 closed

[2019-09-17 06:42] BenHenning commented on #12
We decided to push this to MVP since we can just use #7 for local storage instead of a heavier weight sqlite solution.

[2019-09-17 06:42] BenHenning commented on #15
NB: This is no longer blocked on #12 since we're going to use the proto-based cache store for storing topics rather than sqlite.

[2019-09-17 06:43] BenHenning commented on #14
NB: This is not blocked on #12 since for the prototype only the proto-based cache store is used for storage, so only that needs to be made per-profile.

[2019-09-17 06:44] BenHenning commented on #15
#14 will need to add support for per-profile storage generically for all structures to automatically add support for topics.

[2019-09-17 06:45] BenHenning commented on #14
This issue includes adding per-profile support for existing essential data stores, such as #14 and #15.

[2019-09-17 06:47] BenHenning commented on #88
Yep, this has been resolved with your PRs. Thanks @rt4914!

[2019-09-17 06:47] #88 closed, assigned to rt4914, BenHenning

[2019-09-17 06:53] BenHenning commented on #21
This does not block on #14 since profiles may not be implemented in the prototype. #14 will need to add profile support to this data store after it's completed.

[2019-09-17 06:55] BenHenning opened #110 "Implement QuestionTrainingController [Blocked: #112, #120]"
A controller is needed to generate new practice sessions from a list of skill IDs. This controller is responsible for initializing #111 with a new practice session, and providing the necessary details for the UI to display the question training interface.

[2019-09-17 06:56] BenHenning opened #111 "Implement QuestionAssessmentProgressController [Blocked: #112]"
There needs to be a controller that monitors the progress of a user on a question assessment generated by #110. This is ephemeral progress and not cached on-disk. This progress is just to determine when the user completes the assessment, and to report progress to the UI.

[2019-09-17 06:57] BenHenning commented on #110
This is blocked on #112 (or maybe #111 if controlling the progress state requires shared utilities between the implementation).

[2019-09-17 06:57] BenHenning opened #112 "Introduce interface for QuestionAssessmentProgressController"
This is tracking introducing a stubbed interface for #111 without the real implementation being complete.

[2019-09-17 07:00] BenHenning opened #113 "Implement ExplorationDataController [Blocked: #115]"
There needs to be a controller that retrieves, caches, and reports the structure of an exploration for the exploration player to access and render. This controller may provide additional UI-specific functionality, as needed, to the UI.

[2019-09-17 07:02] BenHenning opened #114 "Implement AnswerClassificationController"
There needs to be a controller that can fulfill the rule specifications of a state for a given answer submitted by the user. This classification is only using non-ML classification options.

The frontend classification service should be used as a reference for modeling this.

[2019-09-17 07:02] BenHenning opened #115 "Implement ExplorationProgressController [Blocked: #114, #122]"
There needs to be a controller that owns tracking the progress of a user through an exploration. This more or less requires following the state graph based on the outcome of an answer classified by #114. This progress is ephemeral, and not stored on disk. Its lifetime is managed by #113.

This controller is also responsible for updating #21 with the completed exploration so that it can be reported

[2019-09-17 07:03] BenHenning commented on #113
This is responsible for resetting #115 for new explorations being played.

[2019-09-17 07:03] BenHenning commented on #113
This is blocked on #115.

[2019-09-17 07:03] BenHenning commented on #115
This is blocked on #114.

[2019-09-17 07:04] BenHenning opened #116 "Implement AudioPlayerController"
There needs to be a controller for streaming and playing & pausing audio. This controller should include selecting a specific language whose audio should be played.

[2019-09-17 07:04] BenHenning commented on #111
This is blocked on #112.

[2019-09-17 07:05] BenHenning opened #117 "Introduce interface for TopicListController"
This is tracking introducing a stubbed interface for #9 without the real implementation being complete.

[2019-09-17 07:05] BenHenning commented on #9
This is blocked on #117.

[2019-09-17 07:05] BenHenning opened #118 "Introduce interface for TopicController"
This is tracking introducing a stubbed interface for #15 without the real implementation being complete.

[2019-09-17 07:06] BenHenning commented on #15
This is blocked on #118.

[2019-09-17 07:06] BenHenning opened #119 "Introduce interface for StoryProgressController"
This is tracking introducing a stubbed interface for #21 without the real implementation being complete.

[2019-09-17 07:06] BenHenning commented on #21
This is blocked on #119.

[2019-09-17 07:07] BenHenning opened #120 "Introduce interface for QuestionTrainingController"
This is tracking introducing a stubbed interface for #110 without the real implementation being complete.

[2019-09-17 07:07] BenHenning commented on #110
This is also blocked on #120.

[2019-09-17 07:08] BenHenning opened #121 "Introduce interface for ExplorationDataController"
This is tracking introducing a stubbed interface for #113 without the real implementation being complete.

[2019-09-17 07:08] BenHenning commented on #113
This is also blocked on #121.

[2019-09-17 07:09] BenHenning opened #122 "Introduce interface for ExplorationProgressController"
This is tracking introducing a stubbed interface for #115 without the real implementation being complete.

[2019-09-17 07:09] BenHenning commented on #115
This is also blocked on #122.

[2019-09-17 07:09] BenHenning opened #123 "Introduce interface for AudioPlayerController"
This is tracking introducing a stubbed interface for #116 without the real implementation being complete.

[2019-09-17 07:10] BenHenning commented on #116
This is blocked on #123.

[2019-09-17 07:10] BenHenning opened #124 "Introduce interface for AnswerClassificationController"
This is tracking introducing a stubbed interface for #114 without the real implementation being complete.

[2019-09-17 07:10] BenHenning commented on #114
This is blocked on: #124.

[2019-09-18 07:27] BenHenning opened #129 "Fix Robolectric tests on Android Studio 3.5+"
For some reason starting with Android Studio 3.5, all Robolectric tests appear to fail pulling in key generated classpath elements such as protobuf classes. Robolectric seems to be the same, so this appears to be a change in how Android Studio/bundled Gradle handle the classpath when running these tests.

#59 may circumvent this problem by avoiding Gradle, and given the time I've put into investig

[2019-09-18 07:43] BenHenning opened #130 "UI Structure: AudioFragment"
This is tracking implementing the low-fidelity structures for #17.

[2019-09-18 07:43] BenHenning commented on #130
/cc @jamesxu0

[2019-09-19 06:42] BenHenning opened #134 "UI structure: Introduce topic list on home screen"
This is tracking introducing the activity/fragment/view structures to hook up #117 to prepare for #10.

Two things needs to done in this:

- [x] Make promoted story a caraousel https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/d47aa8de-a7a8-4d25-b011-5baefc7b7098/HP-Home-Page-
(Filed a issue #389 )
- [x] Currently "All Topics" text is not visible below promoted stories - a

[2019-09-19 06:42] BenHenning commented on #134
This is blocked on #117.

[2019-09-19 06:44] BenHenning commented on #10
This is also blocked on #134.

[2019-09-19 06:46] BenHenning opened #135 "UI Structure: Topic activity/fragment"
This is tracking introducing the UI structure for the topic page, including constituent tabs: train, play, overview, and review. This does not track introducing the UIs for each tab. See later in this issue for issues blocking this (4 of them should be the corresponding structure issues for each tab).

See #23 for the issue corresponding to the high-fidelity topic page work.

- [ ] Basic implement

[2019-09-19 06:47] BenHenning commented on #135
This is blocked on #118 since the UI structure can't be built until there's a domain interface to consume.

[2019-09-19 06:49] BenHenning opened #136 "UI Structure: Topic overview tab fragment [Blocked: #135]"
This is tracking introducing the UI structure for the topic overview tab.

[2019-09-19 06:49] BenHenning commented on #136
This is blocked on #118 and #135 (since the topic activity and fragment need to be introduced before this tab can be filled out).

[2019-09-19 06:51] BenHenning opened #137 "UI Structure: Topic play tab fragment [Blocked: #135]"
This is tracking introducing the UI structure for the topic play tab.

[2019-09-19 06:51] BenHenning commented on #137
This is blocked on #118 and #135 (since the topic activity and fragment need to be introduced before this tab can be filled out).

[2019-09-19 06:51] BenHenning opened #138 "UI Structure: Topic train tab fragment [Blocked: #135]"
This is tracking introducing the UI structure for the topic train tab.

[2019-09-19 06:51] BenHenning commented on #138
This is blocked on #118 and #135 (since the topic activity and fragment need to be introduced before this tab can be filled out).

[2019-09-19 06:53] BenHenning opened #139 "Final UI: Topic train tab fragment [Blocked: #15, #138]"
This is tracking implementing the high fidelity UI for the topic train tab.

- [ ] Final integration and final touch-up

- [ ] Accessibility Scanner is working correctly (https://support.google.com/accessibility/android/answer/6376570?hl=en)

[2019-09-19 06:53] BenHenning commented on #139
This is blocked on #138 for structure and #15 for full domain functionality.

[2019-09-19 06:54] BenHenning opened #140 "Final UI: Topic play tab fragment [Blocked: #15, #137]"
This is tracking implementing the high fidelity UI for the topic play tab.

Mock Link: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/94a5f38c-e475-4514-8784-0e42cf70c25e/TP-Play-Scrolled-Up-

## Task Checklist

- [ ] `Stories You Can Play` text, along with line separators in between story-items (Assigned to @rt4914 )
<img width="329" alt="Screenshot 2019-11-07 at 4 00

[2019-09-19 06:54] BenHenning commented on #140
This is blocked on #137 for structure and #15 for full domain functionality.

[2019-09-19 06:55] BenHenning opened #141 "Final UI: Topic overview tab fragment [Blocked: #15, #136]"
This is tracking implementing the high fidelity UI for the topic overview tab.

https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/19cfbacf-854c-4c7d-8691-3b3d117e1866/TP-Overview-

## Task List

- [x] Topic thumbnail (Image) with gradient over image (without topic-name) (Assigned to @veena14cs )
<img width="327" alt="Screenshot 2019-10-31 at 6 17 29 PM" src="https://user-i

[2019-09-19 06:55] BenHenning commented on #141
This is blocked on #136 for structure and #15 for full domain functionality.

[2019-09-19 06:56] BenHenning opened #142 "UI Structure: Topic review tab fragment [Blocked: #135]"
This is tracking introducing the UI structure for the topic review tab.

[2019-09-19 06:56] BenHenning commented on #142
This is blocked on #118 and #135 (since the topic activity and fragment need to be introduced before this tab can be filled out).

[2019-09-19 06:57] BenHenning opened #143 "Final UI: Topic review tab fragment [Blocked: #15, #142]"
This is tracking implementing the high fidelity UI for the topic review tab.

https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/1adacef0-f245-4115-a0e0-d1c2e7d5a0bb/TP-Revision-/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/dad2a9ff-ce33-4f00-894a-ec07dbb12797/TP-Revision-

[2019-09-19 06:57] BenHenning commented on #143
This is blocked on #142 for structure and #15 for full domain functionality.

[2019-09-19 06:59] BenHenning opened #144 "Final UI: ReturnToTopicDialogFragment"
There needs to be a dialog fragment that's used to confirm that the user really wants to return to the topic from various locations within the topic. This dialog work can be done at any time, but it needs to be hooked up in all the correct places per the mocks.

Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-

[2019-09-19 10:08] rt4914 opened #145 "Highlight content-card as per current Audio Recording [Blocked: #116, #130, #17]"
## Explanation
Each audio (voiceover) is connected to some `content-card` via `content_id`, so given the case that there are multiple `content-cards` on the screen and if the learner plays the audio then user should get the feedback about the current-content-card-audio by highlighting that particular `content-card`.

## Example UI:
Check the yellow-border which indicates which content-card audio i

[2019-09-19 19:30] BenHenning opened #147 "Create system for safe event propagation between views, fragments, and activities"
Rather than introducing fragment interfaces for view->fragment event propagation, it would be nice to come up with a type-safe and proguard-safe propagation system. This also allows for safer data handling between UI components, and ought to mimick Android's own UI event propagation rules except in reverse (similar to how touch events are parent -> child, data events should only be child -> parent

[2019-09-20 06:00] BenHenning opened #150 "UI Structure: TextInputInteractionView"
This is tracking implementing the initial UI structure of the text input interaction being fully implemented in #28.

[2019-09-20 06:01] BenHenning commented on #150
This is blocked on #118.

[2019-09-20 06:01] BenHenning commented on #28
This is also blocked on #150 for the initial structure introduction for this interaction.

[2019-09-20 06:03] BenHenning opened #151 "UI Structure: NumericInputInteractionView [Blocked: #150]"
This is tracking implementing the initial UI structure of the text input interaction being fully implemented in #29.

[2019-09-20 06:03] BenHenning commented on #151
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:05] BenHenning commented on #29
This is blocked on #15 for a full domain controller implementation and #151 for the initial structure introduction for this interaction.

[2019-09-20 06:06] BenHenning opened #152 "UI Structure: NumberWithUnitsInteractionView"
This is tracking implementing the initial UI structure of the number with units interaction being fully implemented in #30.

[2019-09-20 06:06] BenHenning commented on #152
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:07] BenHenning commented on #30
This is blocked on #15 for a full domain controller implementation and #152 for the initial structure introduction for this interaction.

[2019-09-20 06:08] BenHenning opened #153 "UI Structure: MultipleChoiceInteractionView [Blocked: #150]"
This is tracking implementing the initial UI structure of the multiple choice interaction being fully implemented in #31.

[2019-09-20 06:08] BenHenning commented on #153
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:09] BenHenning commented on #31
This is blocked on #15 for a full domain controller implementation and #153 for the initial structure introduction for this interaction.

[2019-09-20 06:10] BenHenning opened #154 "UI Structure: ItemSelectionInteractionView [Blocked: #150]"
This is tracking implementing the initial UI structure of the item selection interaction being fully implemented in #32.

[2019-09-20 06:10] BenHenning commented on #154
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:12] BenHenning commented on #32
This is blocked on #15 for a full domain controller implementation and #154 for the initial structure introduction for this interaction.

[2019-09-20 06:13] BenHenning opened #155 "UI Structure: FractionsInteractionView [Blocked: #150]"
This is tracking implementing the initial UI structure of the fractions interaction being fully implemented in #33.

[2019-09-20 06:13] BenHenning commented on #155
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:14] BenHenning commented on #33
This is blocked on #15 for a full domain controller implementation and #155 for the initial structure introduction for this interaction.

[2019-09-20 06:14] BenHenning opened #156 "UI Structure: ContinueInteractionView [Blocked: #150]"
This is tracking implementing the initial UI structure of the continue interaction being fully implemented in #34.

[2019-09-20 06:15] BenHenning commented on #156
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:15] BenHenning commented on #34
This is blocked on #15 for a full domain controller implementation and #156 for the initial structure introduction for this interaction.

[2019-09-20 06:16] BenHenning opened #157 "UI Structure: EndExplorationInteractionView [Blocked: #150]"
This is tracking implementing the initial UI structure of the continue interaction being fully implemented in #35.

[2019-09-20 06:16] BenHenning commented on #157
This is blocked on #118 for interaction with the domain layer, and #150 for the initial interaction UI structure.

[2019-09-20 06:17] BenHenning commented on #35
This is blocked on #15 for a full domain controller implementation and #157 for the initial structure introduction for this interaction.

[2019-09-20 06:24] BenHenning opened #158 "UI Structure: QuestionFragment [Blocked: #112, #120, #150]"
This is tracking implementing the low-fidelity version of the QuestionFragment whose full implementation is tracked in #27.

[2019-09-20 06:24] BenHenning commented on #158
This is blocked on #112, #118, #120, and #150.

[2019-09-20 06:25] BenHenning commented on #27
This is also blocked by #110, #111, and #158.

[2019-09-20 06:27] BenHenning opened #159 "UI Structure: QuestionTrainingFragment [Blocked: #120, #158]"
This may overlap some with #138, and may even be done together with that issue if a separate fragment from the tab isn't necessary.

This tracks introducing the structure for starting training sessions. This UI will be fully implemented in #40.

- [ ] Support train mode progress
- [ ] Support MultipleChoiceInteraction
- [ ] Support ItemSelectionInteraction
- [ ] Support TextInputInteraction
- [ ]

[2019-09-20 06:28] BenHenning commented on #159
This is blocked on #120 for retrieving skills & starting a question assessment, and #158 for hooking into the questions fragment.

[2019-09-20 06:28] BenHenning commented on #40
This actually also blocks on #159 and #110.

[2019-09-20 06:40] BenHenning opened #160 "UI Structure: ConceptCardFragment"
This is tracking implementing the initial UI structure for the concept card fragment that's being fully implemented by #24.

[2019-09-20 06:42] BenHenning commented on #118
This controller is also responsible for retrieving concept card information for skills.

[2019-09-20 06:42] BenHenning commented on #160
This is blocked on #118.

[2019-09-20 06:42] BenHenning commented on #24
This is also blocked on #160.

[2019-09-20 06:49] BenHenning opened #161 "UI Structure: ContentCardView"
This is tracking implementing the initial structure for the content card view that's being fully implemented in #26. This doesn't need to support rich-text support yet, but at least having a way to process Oppia's custom HTML tags seems worthwhile since it may be complex and require infrastructural work.

This also doesn't need to have any special data associated with it (hence why it has no domai

[2019-09-20 06:50] BenHenning commented on #26
After talking with @veena14cs over chat today, one consideration for implementation is: https://stackoverflow.com/a/36528149/3689782.

[2019-09-20 06:51] BenHenning commented on #26
This is blocked on #161 for the card's initial structural implementation. Although no data controllers block this work, it should be fully tested with real Oppia HTML examples to avoid complicating downstream work items.

[2019-09-20 06:53] BenHenning opened #162 "UI Structure: AudioFragment"
This is tracking implementing the UI structure for the audio bar fragment.

[2019-09-20 06:53] BenHenning commented on #162
This is blocked on #123.

[2019-09-20 06:54] BenHenning commented on #17
This is technically blocked on #116 and #162.

[2019-09-20 06:55] BenHenning opened #163 "UI Structure: StateCardFragment [Blocked: #122, #150, #161, #162]"
Exploration states need to be represented as their own fragment that contain the audio bar and a list of content cards.

Top level work items:
- [x] Initial structure of the state fragment fully incorporating all interactions & content
- [ ] ~Fix conversational flow that's a bit weird after #270 (it repeats the interaction rather than just the answer)~
- [ ] ~Introduce thorough UI tests for state

[2019-09-20 06:56] BenHenning commented on #163
This is blocked on #121 for retrieving data to display in #161 and #162, and on #122 in order to know the right content to display based on the user's progress through the current exploration.

[2019-09-20 06:59] BenHenning commented on #163
This is also blocked on #150 for showing interactions in the state.

[2019-09-20 06:59] BenHenning commented on #163
And: this includes avatar rendering for the back-and-forth conversation flow.

[2019-09-20 07:03] BenHenning commented on #17
@jamesxu0: yep, audio will come from a URI.

[2019-09-20 07:03] BenHenning opened #164 "Full UI: StateCardFragment [Blocked: #17, #26, #28, #113, #115, #163]"
There needs to be a fragment for representing the exploration state a user is currently playing, including audio voiceovers, and the content cards + interactions associated with that state. This is structurally similar to #27, except states allow for more complex responses. There may be some potential code reuse with questions.

[2019-09-20 07:03] BenHenning commented on #164
This is blocked on #17, #26, #28, #113, #115, and #163.

[2019-09-20 07:08] BenHenning opened #165 "UI Structure: ExplorationPlayerFragment/Activity [Blocked: #163]"
This is tracking introducing the initial UI structure for the exploration player and constituent pieces. The full player page UI is being implemented as part of #42.

[2019-09-20 07:08] BenHenning commented on #165
This blocks on #121 and #163.

[2019-09-20 07:09] BenHenning commented on #42
This actually blocks on #113, #164, and #165. Language selection is now scoped out of the prototype, and much of the exploration complexity has been pushed down into state fragment.

[2019-09-20 07:10] BenHenning commented on #42
Note that this is tracking the high-fidelity work for the entire exploration learning experience, so it may be worth breaking this into pieces later once larger portions of the high fidelity work are identified.

[2019-09-20 07:11] BenHenning opened #166 "UI Structure: StoryFragment/Activity [Blocked: #165]"
This is tracking implementing the high-level UI structure for the story page that's being fully implemented as part of #41.

Mocks: https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/5abb0ace-19ee-48b8-8154-919154f924d2/Home-Page-1-Story-Pre-Scroll-1

[2019-09-20 07:12] BenHenning commented on #166
This is blocked on #118 and #165.

[2019-09-20 07:12] BenHenning commented on #41
This is also blocked on #166.

[2019-09-20 07:13] BenHenning commented on #41
@hareshkh are you making any progress on this? If not, I'd like to deassign it for now. If you are making progress, let's sync on where you're at since much of the work I originally asked you to do is actually part of #166 and not part this issue (now that we have better granularity on tasks being done).

[2019-09-20 07:15] BenHenning opened #167 "Introduce interface for multi-user profile management system"
This is tracking introducing the interface necessary for #16.

[2019-09-20 07:15] BenHenning commented on #16
This is also blocked on #167.

[2019-09-20 07:17] BenHenning opened #168 "UI Structure: ProfileSelectionFragment/Activity [Blocked: #167]"
This is tracking implementing the necessary UI structure for the profile selection page that's being fully implemented in #44.

[2019-09-20 07:17] BenHenning commented on #168
This is blocked on #167.

[2019-09-20 07:18] BenHenning commented on #44
This is also blocked on #168.

[2019-09-20 07:19] BenHenning commented on #22
NB: This actually isn't blocking. This issue is tracking the initial implementation of the navigation drawer for HomeActivity, where it can be extended later on to include other activities as needed.

[2019-09-20 07:25] BenHenning opened #169 "Implement cohesive topic & exploration asset downloader"
The current GAE service modeling & the way domain controllers are split up, each piece of the learning experience (topics, explorations, etc.) is currently downloaded directly when needed. This is due to the initial Android implementation reflecting the base web interface. However, in order to properly support offline support, topics need to be downloaded at one time including corresponding explor

[2019-09-20 07:26] BenHenning commented on #169
This is more or less blocked on all other controllers being built first since it requires extensive reworking of those controllers once they're established.

[2019-09-20 07:27] BenHenning commented on #41
This is also blocked on #21 to show the current progress of completed explorations.

[2019-09-20 07:27] BenHenning commented on #166
This is blocked on #119.

[2019-09-20 08:23] BenHenning opened #170 "Add support for stable IDs in generic RecyclerView adapter"
Stable IDs are important for ensuring data bound to the recycler view properly behaves when being checked for cases when items can be animated. Support should be added to the generic ReyclerView adapter for stable IDs.

[2019-09-20 08:24] BenHenning opened #171 "Introduce support for diffing subsets of data in generic RecyclerView adapter"
The initial implementation of the generic RecyclerView BindableAdapter notifies that the whole data set is changed for each re-bind, which is sometimes wrong (the data may be the same) and highly inefficient (1 element might have changed out of hundreds). Diffing logic should be introduced to only notify that a subset of the data has changed, which also enables support for RecyclerView animations.

[2019-09-20 19:33] BenHenning commented on #41
@hareshkh I'm assigning #166 to you first since it needs to precede this work.

[2019-09-20 19:34] BenHenning commented on #166
@hareshkh I'll be sending out PRs soon introducing the constituent domain controller pieces that you need for this: #118 and #119.

[2019-09-22 00:51] BenHenning commented on #21
NB #118 might actually include progress for chapters per the requirements of the topic page. Either that impl needs to depend on this to derive progress, or both should use a common source. Perhaps what we really want is a StoryController for the story page, and use an internal StoryProgressController to determine progress.

Or, the TopicController can be used to report summaries for topic & summa

[2019-09-22 01:01] BenHenning opened #173 "Create more intentional separation between structural & progress data"
It's not currently clear in the domain layer when a controller should produce read-only data (e.g. #121), produce read-only structural data with progress (#118), or specifically focus on progress (#119). It's likely that these are muddled because there aren't clear separations between:
1. Controllers that provide structural data (e.g. exploration structure)
2. Controllers that own persistent progr

[2019-09-22 20:35] BenHenning commented on #121
@vinitamurthi you mentioned that you were interested in working on this.

[2019-09-22 20:36] BenHenning commented on #113
We should actually finish #121 first before this.

[2019-09-24 07:28] #119 closed, assigned to BenHenning

[2019-09-25 02:35] BenHenning commented on #53
NB: This is only blocked on #22 for the UI integration. We still need to figure out how we're even going to support user feedback reporting in the app.

[2019-09-25 02:35] BenHenning commented on #53
@eraser95 sending this your way.

[2019-09-25 05:15] #117 closed, assigned to BenHenning

[2019-09-25 05:17] BenHenning commented on #121
FYI @vinitamurthi we are planning to get this checked in by EOW. Please let me know if that's not feasible.

[2019-09-25 05:35] BenHenning opened #179 "Add support for parameters in the exploration player"
For parity with Oppia web, we need support for parameters in the exploration player.

[2019-09-25 05:36] BenHenning opened #180 "Add support for hints in the exploration player"
For parity with Oppia web, we need to add support for hints in the exploration player.

[2019-09-25 05:38] BenHenning opened #181 "Add support for solutions in the exploration player"
For parity with Oppia web, we should add support for learners seeing the solution in the exploration player.

[2019-09-25 06:09] BenHenning opened #182 "Add support for refresher explorations in the exploration player"
For parity with Oppia web, we need to add support for jumping the learner back to another exploration as a refresher if they are struggling with an exploration. It's not clear currently if their progress in the current exploration should be saved, or if they need to start over.

The current ExplorationProgressController is being modeled such that progress always resets when you leave the explorati

[2019-09-25 06:11] BenHenning commented on #122
This is going to be modeled to eventually support ML answer classification, and for multiple routing flows (state/exploration/concept card) depending on the outcome of the answer provided.

Not all of this will be functionally implemented for the prototype, but the interface needs to consider these future cases. It's also not clear how non-state continuation will work yet. Current assumptions:
- S

[2019-09-25 14:23] seanlip commented on #179
Actually (FYI) this is very low priority and we might not need it at all. I
need to do a review of the parameter impl in the web view at some point and
I think it may end up changing quite a bit. We also (intentionally) don't
use this functionality in any of the curated lessons.

[2019-09-25 20:09] vinitamurthi commented on #121
For now, a getExplorationById() should be sufficient

[2019-09-25 20:10] BenHenning commented on #121
For references look at #177 and #174 for how to stub & test similar controllers.

[2019-09-25 20:14] BenHenning commented on #121
For the stub, maybe we could pull in some of the demo explorations from the file system: https://github.com/oppia/oppia/tree/develop/data/explorations. We could convert a few of these over to JSON and include them in the app.

[2019-09-26 05:13] BenHenning opened #186 "Add support for downloading interactions to drive exploration progress controller & other decision makers"
Rather than making assumptions about interaction structures, domain controllers should keep an actual registry of interactions. This will also provide some future-proofing in the app as more interactions are added in the future. This is especially important for representing terminal interactions since there could conceivably be other terminal interactions in the future.

[2019-09-26 17:26] BenHenning opened #191 "Add support for passing arbitrary data to ViewModels"
This came up during one of @jamesxu0's PRs. In many situations, we want to pass data like IDs over to ViewModels however the current ViewModel factory pattern does not enable this. We should figure out how to pass arbitrary data to simplify ViewModel use and avoid tricky arrangement orders for the models.

[2019-09-27 23:17] #124 closed, assigned to BenHenning

[2019-09-27 23:55] #118 closed, assigned to BenHenning

[2019-09-27 23:59] #116 closed, assigned to jamesxu0

[2019-09-27 23:59] #123 closed, assigned to jamesxu0

[2019-09-28 03:39] BenHenning commented on #166
See #174 and #177 for details on the two controllers that provide the needed data for the story page.

[2019-09-28 03:44] BenHenning commented on #166
From meeting, the main objectives & deliverables here are:
- Create the activity & fragment for displaying the story page
- Set up the structured layout for displaying this page, but don't worry about pixel perfection since that will be completed in #41
- Hook up the UI to the controllers mentioned above so that data can be displayed on the UI
- Create a test button in HomeFragment to intent to th

[2019-09-28 03:46] BenHenning commented on #166
Also, I suggest looking at https://developer.android.com/topic/libraries/data-binding for how data binding works. I recommend looking at other layouts & fragments to build an idea, as well.

[2019-09-29 21:07] #121 closed, assigned to vinitamurthi

[2019-09-29 23:56] BenHenning commented on #90
It appears the current MediatorLiveData approach can result in incorrect downstream behavior. Consider the following situation:
1. A dataprovider-turned-livedata is being observed
2. An async operation triggers a change in the data provider
3. The data provider initiates an async operation in a different scope and waits on it
4. The operation in the other scope asynchronously notifies that the dat

[2019-09-30 00:00] BenHenning commented on #90
Correction: the workaround didn't work. It may be that any situation where another scope is combined with a data provider that cancellation is highly likely whenever the mediator live data is notified of a change. This isn't correct: pending jobs should not be cancelled just because a change on the data provider can now be observed.

[2019-09-30 07:11] BenHenning commented on #130
This is apparently a duplicate of #162. Closing this in favor of that issue.

[2019-09-30 07:11] #130 closed, assigned to jamesxu0

[2019-10-01 05:03] BenHenning commented on #90
The workaround in the meantime will be to move execution for the progress controller back to the main thread and use a standard lock for synchronizing thread access for shared state. This issue will block introducing the more performant option. We'll keep the interface fully asynchronous to support this solution in the future.

[2019-10-01 05:04] #11 closed

[2019-10-03 04:50] BenHenning commented on #90
#122 also introduced a DataProvider wrapper for Deferred which might be nice to reintroduce, but it needs to be really carefully considered since it may have downstream implications for this mediator mechanism. That provider looked like the following:

[code]

[2019-10-03 09:39] rt4914 commented on #135
@nikitamarysolomanpvt This issues needs multiple fragments which I have already in #192 . You can now find that in develop too.

For now, you just have to create 4 tabs which changes those fragments as desired.

Also, check email from Chantel, she has provided those tabs icons in one of her recent emails.

[2019-10-03 10:19] nikitamarysolomanpvt commented on #135
I think she forgot to keep me in loop i never got any mails from Chantel.

[2019-10-04 21:25] BenHenning opened #206 "Create color & icon profiles for thumbnails"
We currently define thumbnails based on a single color and an entry in a drawable enum, however there are other aspects necessary to define for rendering thumbnails:
- Drawable padding/size (centerCrop works well for rendering these, but extra whitespace causes them to look a bit inconsistent)
- Background/foreground panel colors (these should be set such that they look correct with certain drawab

[2019-10-06 07:26] BenHenning opened #207 "Add support for training data & statistical answer classification"
See https://github.com/oppia/oppia/blob/edb62f/core/templates/dev/head/pages/exploration-player-page/services/answer-classification.service.ts for context. We should add support for training data & statistical classification for answers.

[2019-10-06 19:34] jamesxu0 commented on #162
I'm realized that ViewModels don't get recreated onConfigurationChanges, so the UI automatically retains it position and current play state through screen rotations. In onDestroy, I only release the MediaPlayer if it is not a configuration change. This allows constant audio to be playing for screen rotations.

[2019-10-07 03:08] BenHenning opened #209 "Verify that number with units classification is correct"
Numbers with unit [classification](https://github.com/oppia/oppia/blob/37285a9b0e7866cbcdf5f8193a6ac2fab64458a7/extensions/interactions/NumberWithUnits/directives/number-with-units-rules.service.ts) involves converting the answer an input to a Mathjs-compatible string, then parsing it back into an actual object for comparison. It's not clear why this is necessary. We should figure out if it is, an

[2019-10-07 03:19] BenHenning commented on #209
This may also include translating certain units for normalization (e.g. cm -> centimeters).

[2019-10-07 05:36] BenHenning opened #210 "Thoroughly test prototype rule classifiers"
Since the rule classifiers were copied from Oppia web, they didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

## Fraction Input
- [ ] HasDenominatorEqualToRuleClassifier
- [ ] HasFractionalPartExactlyEqualToRuleClassifier
- [ ] HasIntegerPartEqualToRuleClassifier
- [ ] HasNoFrac

[2019-10-07 23:27] #122 closed, assigned to nobody

[2019-10-07 23:38] BenHenning commented on #112
@vinitamurthi indicated to me during our meeting today that this likely is the same functionally as ExplorationProgressController. We should figure out a way to consolidate the common deck & navigation functionality between these two controllers to simplify the implementations.

[2019-10-07 23:39] BenHenning commented on #120
@vinitamurthi sending this your way since you're currently working on this.

[2019-10-08 00:35] BenHenning opened #216 "Migrate custom recycler view adapters over to the generic bindable adapter"
The generic RecyclerView adapter introduced in #172 should be used for all recycler view binding.

[2019-10-08 18:24] BenHenning commented on #158
Open question: do we also need a question activity?

[2019-10-09 01:38] #114 closed, assigned to BenHenning

[2019-10-10 21:57] #120 closed, assigned to vinitamurthi

[2019-10-14 11:56] #161 closed, assigned to veena14cs

[2019-10-15 08:13] rt4914 opened #234 "Convert all ViewModels to ObservableViewModel"
There is inconsistency in terms of usage of ViewModel and ObservableViewModel only if there is something to observe in that file, so to bring consistency to code convert all ViewModels to ObservableViewModels.

[2019-10-15 08:13] rt4914 commented on #234
@BenHenning Is this correct?

[2019-10-15 08:16] rt4914 opened #235 "Change fragment implementation from directly xml code to better kotlin code [Blocked on #42, #163]"
In some cases xml files are using `fragment` tag directly to display a particular fragment.
This implementation needs to be changed and the xml should have a `FrameLayout` as container and kotlin files should initialize the corresponding fragment.

This change is needed in following cases for now:
- [ ] exploration_fragment.xml
- [ ] state_fragment.xml

[2019-10-15 08:18] rt4914 commented on #235
@BenHenning I have added this as an issue so that we do get a lot of merge conflicts in other PRs, we can solve this once StateFragmentCard implementation is finished. Blocked on #42 #163

[2019-10-15 11:09] rt4914 commented on #235
@veena14cs Assigning you `state_fragment`

[2019-10-15 18:26] #162 closed, assigned to jamesxu0

[2019-10-16 04:05] BenHenning commented on #235
Seems sensible. Thanks for filing this.

[2019-10-16 06:25] rt4914 opened #239 "Fix audio test cases in StateFragmentTest, AudioFragmentTest and CellularDataFragmentTest"
@jamesxu0 @BenHenning

@veena14cs has updated the implementation of AudioFragment. Earlier, we were controlling the visibility of audio fragment inside StateFragment but practically the AudioFragment was always created.

So we have updated this implementation to creating or removing the AudioFragment only when needed.

Because of these changes test cases related to AudioFragment are failing.
@jame

[2019-10-16 06:44] #235 closed, assigned to veena14cs

[2019-10-16 23:07] BenHenning commented on #239
We should try to avoid breaking tests when checking in PRs (ie I would normally expect these to have been fixed as part of the PR that broke them rather than checking them in broken). Be aware that in the future we will block PR submission on all tests passing.

[2019-10-18 08:56] #138 closed, assigned to rt4914

[2019-10-20 18:03] BenHenning commented on #115
Even though real data isn't being fed into the progress controller (blocked on #169), the core logic for the progress controller seems to be complete per #183.

[2019-10-20 18:03] #115 closed, assigned to BenHenning

[2019-10-20 21:35] BenHenning opened #247 "Add support for providing a list of skills to review at the end of a question assessment"
Learners can receive a list of skills to review after completing a question assessment. This is supported by the domain API for the QuestionAssessmentProgressController, but the implementation does not yet generate this list.

[2019-10-20 21:36] BenHenning opened #248 "Add support for early ending question assessements"
When playing through a question assessment, it should be possible for the assessment to end prematurely if the learner has sufficiently demonstrated proficiency in the topic. This is supported by the question assessment progress controller API, but the implementation does not yet provide this functionality.

[2019-10-21 01:49] BenHenning opened #249 "Generalize interaction views to allow clean defaults to be specified in XML without needing to implement them in Kotlin"
Interaction views need to have certain attributes, but defining them in Kotlin directly is undesirable since it makes finding these attributes difficult. We should fine a way to simplify custom views so that necessary attributes are defined in XML, and optional attributes can be specified/overwritten at locations where the custom view is used.

[2019-10-21 01:50] BenHenning commented on #249
/cc @nikitamarysolomanpvt & @veena14cs

Please add TODOs that reference this issue wherever you think we have an attribute that's essential and should be defined with the custom interaction view. This will help clean up efforts in the future when we work to address this issue.

[2019-10-21 09:56] #151 closed, assigned to nikitamarysolomanpvt

[2019-10-21 20:29] jamesxu0 commented on #17
List of future PRs:
- [] Introduce ProfileManagementController Interface and DirectoryManagementUtil
- [] Introduce ProflieChooserFragment, AdminAuthFragment, and AddProfileFragment
- [] Introduce ProfileListFragment and ProfileEditFragment
- [] Introduce ProfileRenameFragment, ProfileRestPinFragment, ProfileDeletionDialogFragment
- [] Implement DirectoryManagementUtil
- [] Implement ProfileManage

[2019-10-21 20:33] jamesxu0 commented on #16
## List of future PRs

- [x] Introduce ProfileManagementController Interface and DirectoryManagementUtil
- [x] Introduce ProflieChooserFragment, AdminAuthActivity, and AddProfileActivity
- [x] Introduce ProfileListFragment, ProfileEditFragment, ProfileRenameActivity, ProfileRestPinActivity, and ProfileDeletionDialogFragment
- [x] Implement DirectoryManagementUtil
- [x] Implement ProfileManagementC

[2019-10-22 09:16] rt4914 opened #257 "Fix special case in ExplorationProgressController regarding Continue and Next button display"
This is an special case which needs to be fixed in domain layer `ExplorationProgressController`.

## Explanation
Assuming that Exploration has 5 States in which State-1 has interaction-id "MultipleChoiceInput" and State-2 has "TextInput".

Now assuming follow steps takes place:
1. Loads Exploration
2. Submit answer correctly in State-1 and  move to State-2
3. Learner submits correct answer in Stat

[2019-10-22 10:14] #156 closed, assigned to rt4914

[2019-10-22 17:31] rt4914 opened #259 "Remove Duplicate InteractionAnswerRetriever"
There are two InteractionAnswerRetriever in respective directories:
`org.oppia.app.customview.interaction`
`org.oppia.app.player.state.listener`

We can remove one of these and use single code everywhere.

[2019-10-22 17:46] #239 closed, assigned to jamesxu0

[2019-10-22 17:57] #168 closed, assigned to jamesxu0

[2019-10-23 09:34] #150 closed, assigned to nikitamarysolomanpvt

[2019-10-23 12:42] rt4914 commented on #157
@BenHenning I think this has been finished but because both #156 and #157 were fixed together so only #156 was closed by github.

Should be close this?

[2019-10-24 11:25] rt4914 commented on #136
@BenHenning PR #233 had title "Fix part of ..." because of introduced of topic-download functionality in subsequent PRs. So I think this issue has been resolved (except the topic-download functionality), should we close this issue?

[2019-10-24 17:19] BenHenning commented on #165
Also: perform an audit on both functionality and test coverage for explorations.

[2019-10-25 06:33] BenHenning opened #264 "Move custom html parsing & image handling logic to custom view with attributes and a custom binding adapter"
Right now we need to manually set up a TextView for custom Oppia HTML/image support via an HTML processor utility. However, this could happen automatically with custom attributes & binding adapters. All that's needed is the entity ID (e.g. exploration ID), entity type (e.g. 'exploration'), and the HTML to handle. We would need a way to tie the view to Dagger to inject the HtmlParser, however that

[2019-10-25 06:34] BenHenning commented on #264
/cc @veena14cs in case you have any thoughts on this idea. It would be nice to do this some point in the future post-prototype.

[2019-10-25 22:25] #110 closed, assigned to vinitamurthi

[2019-10-29 07:55] nikitamarysolomanpvt commented on #135
Okay

[2019-10-29 10:39] #136 closed, assigned to rt4914

[2019-10-29 10:39] rt4914 commented on #157
Finished in #251

[2019-10-29 10:39] #157 closed, assigned to rt4914

[2019-10-29 18:18] jamesxu0 opened #272 "PersistentCacheStore storeDataAsync has unexpected behavior when updating before an initial read"
Using storeDataAsync before any read operations can cause previous data to be overwritten

[2019-10-29 23:55] vinitamurthi opened #274 "Add the fractions topic to the prototype"
Create a fully fleshed out topic 'Fractions' which contains:

- [ ]  One story with a few chapters

- [ ]  Few linked skill ids

- [ ]  Concept cards for the skill ids.

- [x] Create JSON files for the topic data and add code to load them in the controllers.

[2019-10-30 10:19] veena14cs opened #277 "Testcase for UrlImageParser to load image"
UrlImageParser extracts the image URL from HtmlParser. We need to load the image from this URL using [GlideImageLoader](https://github.com/oppia/oppia-android/blob/07ef755e84b159ab8620cc41026a7329d0387257/utility/src/main/java/org/oppia/util/parser/GlideImageLoader.kt) that is used in PR #205 .

It is properly loading image from the given URL, but testcases of loading image is pending and this is

[2019-10-30 21:21] BenHenning opened #281 "Fix broken AudioFragmentTest"
AudioFragmentTest cannot build for Espresso cases. We should make it fail at runtime instead of fail to build, since it blocks all other app tests from building for Espresso targets.

[2019-10-31 05:27] rt4914 opened #282 "Home Fragment View More text click should route to TopicPlayFragment [Blocked #134, #135]"
On click on View More text in HomeFragment Promoted Story section, it should route to topic-play fragment with the correct story and its expanded list.

[2019-10-31 05:30] rt4914 opened #283 "HomeFragment PromotedStory Download Status [Blocked: #169]"
Promoted Story in HomeFragment contains Download Status at the top-right corner of the card, implement this with other download functionalities.

https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/d47aa8de-a7a8-4d25-b011-5baefc7b7098/HP-Home-Page-

[2019-10-31 11:14] rt4914 opened #286 "TopicPlayFragment: Rigorous click on dropdown icon results in unexpected behaviour"
In TopicPlayFragment, if we click on dropdown icon rigorously, the chapter-completion tick is visible for a moment in all the items and then goes back to correct functionality.

@nikitamarysolomanpvt pointed out this mistake in PR #271 and also @rt4914 is aware of this issue.

[2019-10-31 11:19] #137 closed, assigned to rt4914

[2019-10-31 13:09] veena14cs commented on #141
@rt4914 @BenHenning @nikitamarysolomanpvt I will work on 1st task Topic thumbnail (Image) with gradient over image (without topic-name)

[2019-10-31 13:49] rt4914 opened #288 "RecyclerView/ScrollView Test cases failing when in Landscape Mode(Blocked on #4991)"
RecyclerView/ScrollView Test cases failing when in Landscape Mode.

If we keep device in landscape mode and run test-cases they fail because of animation issues

<img width="1456" alt="Screenshot 2019-10-29 at 9 02 39 PM" src="https://user-images.githubusercontent.com/9396084/67952189-e8642980-fc12-11e9-83a8-cd58ee4e95d0.png">

There are two solutions to this issue:
1. **Quick Fix**: Go to Develop

[2019-10-31 19:05] #281 closed, assigned to BenHenning

[2019-10-31 21:20] rt4914 commented on #288
Solution suggested by @BenHenning

https://stackoverflow.com/questions/43751079/espresso-testing-disable-animation/43861179#43861179

[2019-11-04 02:46] BenHenning opened #295 "Fix all broken tests on develop"
Most of our tests are failing. We need to fix these.

## Checklist
List of files which have failing test cases. You can start fixing these files and once you fix these files make sure you comment here mentioning what all files you have fixed.

**`app` module**
- [ ] `HtmlParserTest`
- [x] `AudioFragmentTest` (This can be because of Roboelectric too. @jamesxu0 Please check this.)
- [x] `CellularDat

[2019-11-04 04:12] BenHenning commented on #277
Per https://dagger.dev/testing.html it may actually possible to implement this correctly by subclassing the root application component and overriding the binding.

[2019-11-04 04:13] BenHenning commented on #97
Apparently Dagger lets us sort of do this using component subinterfaces: https://dagger.dev/testing.html. It works reasonably well, but it requires re-specifying modules. It's not clear yet if this is possible since ActivityScenario is starting the root activity outside the context of the test application component.

[2019-11-04 05:19] #73 closed, assigned to BenHenning

[2019-11-05 00:04] jamesxu0 commented on #295
PR #284 and #290 fixed AudioFragmentTest. PR #296 fixes CellularDataDialogFragmentTest.

[2019-11-05 04:50] rt4914 commented on #295
@jamesxu0 I think there will be some more broken test cases a we move along, basically wherever we were using some dummy button needs to be removed and because of which these errors will occur. So you can expect that you are re-assigned to a broken-test which you have already solved.

[2019-11-05 04:53] rt4914 opened #297 "RecentlyPlayedActivity List Download Status"
Stories in RecentlyPlayedActivity contains download status which needs to be added.

**How to reach this screen?**
In `HomeScreen` you will see a `Carousel` which displays list of promoted stories. There will be a `View All` button which when clicked opens this screen.

Based on your progress in explorations `View All` button might be visible or gone.

Note: The title has been updated from `Contin

[2019-11-05 06:13] BenHenning commented on #295
Thanks for breaking this down @rt4914 -- this is really helpful!

[2019-11-05 06:43] BenHenning opened #298 "Update demo explorations to the latest schema & prohibit older ones from being loaded"
We have run into some issues where state schema discrepancy results in inconsistent issues when trying to parse the JSON. We should avoid these by upgrading all explorations to the latest schema structures, and fixing each of our loaders to a specific schema version to ensure consistency.

[2019-11-05 06:52] BenHenning opened #299 "Find cleaner way to initialize the item input type for selection interactions"
Setting the item selection type (checkboxes vs. multiple choice) for the item selection interaction is done via a custom binding adapter, but this is a potential data race against actually initializing the adapter which relies on the input type to be present, and binding adapter ordering is not well-defined. We should be setting this type permanently for the view (since it will never change), rath

[2019-11-05 07:00] BenHenning opened #300 "Introduce interaction repository"
We rely on interaction IDs and in a few different places, and infer properties like terminality based on interaction ID. We should centralize all information about interactions to a repository, and rely on a type-safe enum (possibly proto-driven) to correspond to interaction IDs everywhere. This ensures there's just one place that needs to be updated when an interaction ID is added, and a two plac

[2019-11-05 07:52] #257 closed, assigned to BenHenning

[2019-11-05 08:13] #153 closed, assigned to veena14cs

[2019-11-05 08:14] BenHenning opened #302 "Initial activity that opens should be SplashActivity"
SplashActivity was introduced in #60 but it wasn't enabled in that PR, and we've since not enabled it. The splash should be the first thing loaded in the app for a smoother transition into the home page.

[2019-11-05 08:33] #302 closed, assigned to BenHenning

[2019-11-05 16:53] #274 closed, assigned to nobody

[2019-11-05 23:18] BenHenning opened #307 "Finish cellular functionality for audio streaming"
The cellular audio button does not actually detect whether the user is currently on cellular, and it attempts to play audio even if explorations don't have voiceovers. We should also overall make sure the voiceover flows work correctly in the exploration player once #270 is done.

[2019-11-06 00:42] jamesxu0 commented on #295
PR #296 makes CellularDataDialogFragmentTest pass locally for Espresso, but not on CircleCI for unknown reasons. I tried running the test on Robolectric, which failed due to these exceptions:
Caused by: android.view.InflateException: Binary XML file line #17: Layout state should be one of 100 but it is 10
Caused by: java.lang.IllegalStateException: Layout state should be one of 100 but it is 10
It

[2019-11-06 07:12] BenHenning opened #309 "Add support for injecting arguments & intent extras in presenters"
We have a bunch of places where we retrieve fragment arguments and activity intent extras in presenters, but it should be possible to inject these or at least introduce argument/intent management infrastructure to facilitate injection or retrieval to simplify managing these dependencies (& centralize requiring them to avoid needing to make this decision for each fragment and activity).

[2019-11-06 07:29] rt4914 commented on #142
Reopening since we haven't checked this with Accessibility Scanner

[2019-11-06 07:33] rt4914 commented on #142
Opened this but it was meant for #143 which is already open.

[2019-11-06 07:33] #142 closed, assigned to rt4914

[2019-11-06 09:43] rt4914 commented on #134
Reopening this because of design changes

[2019-11-06 11:45] veena14cs commented on #141
@rt4914 @BenHenning @nikitamarysolomanpvt I will be working on 3rd task See More text and story downloaded information.

[2019-11-06 16:52] #135 closed, assigned to nikitamarysolomanpvt

[2019-11-07 05:27] #166 closed, assigned to hareshkh

[2019-11-07 07:14] BenHenning commented on #89
NB: this probably blocks exploration fragment tests since the exploration takes a while to load, and we need Espresso to properly idle until all the background processing is complete.

[2019-11-07 07:22] #259 closed, assigned to BenHenning

[2019-11-07 09:24] rt4914 commented on #9
@BenHenning Is this not finished yet? I was using this from `domain` layer

[2019-11-07 09:28] rt4914 commented on #134
@BenHenning @seanlip
Currently on HomeFragment PromotedStory is a single tile and not a list, so should we close this issue and raise a new one of should be keep this issue open for now. Also, check issue description too.

[2019-11-07 09:51] rt4914 commented on #10
@BenHenning @seanlip for now how do we implement the Welcome message, because that needs a user-name from Profile.

[2019-11-07 11:13] rt4914 commented on #286
Closing this issue, as this behaviour was fixed in #230 and #316 (though unintentionally).

[2019-11-07 11:13] #286 closed, assigned to nobody

[2019-11-07 20:21] seanlip commented on #10
I would have thought it'd be possible to access the "current user name" for the user? I'll need to defer to @BenHenning on the technical details, though.

[2019-11-07 20:22] seanlip commented on #134
I need to defer to @BenHenning on this one, in order to ensure consistency in the scheme for organizing issues on this repo.

[2019-11-08 09:57] rt4914 commented on #17
@jamesxu0 can you please verify what all has been finished in the above low-fi checklist.

[2019-11-08 10:39] rt4914 commented on #44
@jamesxu0 Can you please mention all the links in here, which will be part of profile-selection, so that I can divide the High-fi work in that.

[2019-11-08 10:41] rt4914 commented on #40
@BenHenning What is the difference between this issue and #27 ?

[2019-11-08 11:14] veena14cs commented on #10
@rt4914 I will take up Topic Summary Item and Topic Summary Item list tasks.

[2019-11-08 18:55] jamesxu0 opened #322 "Paused activity does not get LiveData update onResume"
In ProfileActivity, ProfileChooserFragment's list of profiles does not get updated when returning to the activity when another activity updates ProfileDatabase.

[2019-11-09 02:49] BenHenning commented on #40
Closing #27 in favor of this one. That was based on assumptions of how the code would be laid out that didn't end up being true. Thanks for asking.

[2019-11-09 02:50] BenHenning commented on #27
This is a duplicate of #40.

[2019-11-09 02:50] #27 closed

[2019-11-09 04:19] rt4914 commented on #40
Thanks for the update.

[2019-11-11 06:20] BenHenning opened #324 "Fix submit the answer upon keyboard enter"
There’s currently a crash that occurs in the exploration player when you press the IME soft keyboard return button. This seems to be a focus related crash, but it’s not clear why. The return button should submit an answer for each of the text based interactions.

[2019-11-11 08:26] jamesxu0 commented on #44
@rt4914 What links are you referring to?

[2019-11-11 09:10] rt4914 commented on #44
@jamesxu0 from [mocks](https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/grid), what all links you have used to create ProfileSelection, I want all those links so that I can divide the High-fi issues accordingly.

[2019-11-11 10:14] veena14cs commented on #10
@rt4914 I will be taking entire task from this UI to avoid confusion between margins from parent and child views.

[2019-11-12 11:14] #139 closed, assigned to veena14cs

[2019-11-12 18:13] jamesxu0 commented on #44
@rt4914
- https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/ad1de6e2-1d5d-4ac3-888c-58d036c7ede4/PC-MP-Profile-Chooser-
- https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/a82ac74b-b0fa-4b4e-93d3-da83bee54900/PC-MP-Profile-Created-Visible-

[2019-11-13 03:57] rt4914 commented on #44
@jamesxu0 Thanks.

[2019-11-14 05:16] veena14cs commented on #141
@rt4914 I will take up all the tasks from this issue.

[2019-11-14 07:36] rt4914 opened #343 "Full UI: Review mode - Skill Review Card [Blocked #773]"
`ReviewCardActivity` needs to be pixel perfect with the mocks.
Portrait Mock:  https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5d907b23-a75e-4f8b-8c59-afd3c734c53e/RM-Revision-Mode-
Landscape Mock is currently not available but can be done with the help of portrait mode.

Mocks have been created for HDPI Devices.
Make sure that the screen passes the accessibility test al

[2019-11-14 20:54] BenHenning opened #348 "Opening an exploration in the story fragment doesn't work correctly"
We apparently are not properly beginning the exploration experience via story fragment, so it puts the app into a bad state.

[2019-11-14 21:19] #348 closed, assigned to BenHenning

[2019-11-15 06:26] rt4914 opened #352 "Change concept card to show Worked Examples"
Currently, Concept Card does not show `Worked Examples`, the domain layer code has already been written, but for now, it is not getting used.

## How to show concept cards
**Approach 1**
- Go to Meaning of Equal parts Exploration
- State 1-> Option D
- State 2-> 3/2 answer
- You will notice concept-card link there.

<p>
<img src="https://user-images.githubusercontent.com/25057618/103724911-75ff8e0

[2019-11-16 01:48] BenHenning commented on #324
This has been fixed with #325.

[2019-11-16 01:49] BenHenning opened #359 "Add descriptions for topics"
The topics in the app currently don't have any descriptions.

[2019-11-16 01:50] BenHenning opened #360 "Finalize UIs for smaller screens [Blocked: #5250]"
The app doesn't always look great on smaller display densities or unusual aspect ratios, so we should adjust our layouts accordingly.

This is currently blocking on @mschanteltc performing an audit of existing screens with display zoom enlarged to see where we are sizing things wrong, or can make adjustments to better fit smaller screens.

[2019-11-16 02:00] BenHenning opened #361 "Fix HTML formatting throughout app"
There are a few issues we've noticed with HTML formatting:
1. Images that are too large get cut off--we should resize these to take up the maximum space they have available without requiring scrolling, but maintain aspect ratio.
2. Bullet list items need to have proper spacing.
3. Newlines shouldn't be rendered as <br>s.
4. Generally, we need the HTML result to look really clean.

[2019-11-16 02:19] BenHenning commented on #210
@micchickenburger are you interested in taking this work item?

[2019-11-16 02:21] BenHenning commented on #210
I suggest starting with TextInput. See [Oppia web](https://github.com/oppia/oppia/blob/develop/extensions/interactions/TextInput/directives/text-input-rules.service.spec.ts) for how we test TextInput now, and [ExplorationProgressControllerTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/domain/exploration/ExplorationProgressControllerTest.kt) for how we writ

[2019-11-16 19:31] BenHenning opened #362 "Add congratulations message when a correct answer is submitted"
Similar to Oppia web, users should receive a congratulations indicator when they submit a correct answer.

See mocks: https://xd.adobe.com/spec/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/cf6a4999-56aa-4c3c-802f-7573a0457f9b/PM-Q1-Fraction-Input-Correct-Toaster-.

[2019-11-16 19:33] BenHenning opened #363 "No back navigation arrow or title in exploration player"
The exploration player needs to have both a back navigation arrow and an exploration title, per the mocks.

[2019-11-16 19:34] BenHenning commented on #363
@rt4914 sending this to you to route since this feels like it could be done as part of #42.

[2019-11-16 19:35] BenHenning commented on #360
Specific screens that are affected:
- The profile page has text cut off on smaller screens
- The overview tab text is cut-off on smaller screens

[2019-11-16 19:35] BenHenning commented on #360
/cc @rt4914

[2019-11-16 19:39] BenHenning opened #364 "Review card tiles have cut-off text"
We should be properly limiting and ellipsizing text for review cards:

![image](https://user-images.githubusercontent.com/12983742/68998324-9f90af80-0865-11ea-9f49-2050a9de7055.png)

[2019-11-16 19:39] BenHenning opened #365 "Review card tiles are not clickable"
Cards in the review tab do not correctly route to concept cards currently. Tapping them does nothing.

[2019-11-16 19:40] BenHenning opened #366 "Landscape support or lock to portrait"
We should lock orientation to portrait or implement reasonable support for landscape.

[2019-11-16 19:41] BenHenning opened #367 "Add thumbnails to review cards"
We are missing thumbnails for review cards right now:

![image](https://user-images.githubusercontent.com/12983742/68998347-f1d1d080-0865-11ea-97e0-58ea74c37ffc.png)

[2019-11-16 19:41] BenHenning commented on #367
/cc @rt4914 and @mschanteltc

[2019-11-16 19:43] BenHenning opened #368 "Add thumbnails to story tiles"
Stories do not currently have thumbnails:

![image](https://user-images.githubusercontent.com/12983742/68998367-365d6c00-0866-11ea-98da-7f4c025007b4.png)

We should leverage our existing vector assets for these, and get recommended colors from @mschanteltc.

[2019-11-16 19:44] BenHenning opened #369 "Finalize string labels everywhere"
There are a bunch of labels that are currently hardcoded and need to be finalized:
- Topic download size
- Number of lessons in topics
- Promoted/recommended story labels (including in the full lesson list)

[2019-11-16 19:46] BenHenning opened #370 "Remove non-JSON test data"
The Oppia app currently uses a bunch of hardcoded test data rather than relying on real lesson data loaded from JSON. We should remove all test data in favor of the loaded JSON files.

[2019-11-16 19:47] BenHenning opened #371 "Fix image rendering for interactions"
The third state in the fractions lesson demonstrated not having proper image rendering support (the bullet items were empty).

[2019-11-16 19:48] BenHenning opened #372 "Fix duplicate image rendering in content"
If a set of HTML has multiple images it will render the same image twice instead of each image individually.

[2019-11-16 19:48] BenHenning opened #373 "Fix missing images in explorations"
Fractions explorations do not render images at all.

[2019-11-16 19:51] BenHenning opened #374 "Audio voiceovers are not playing"
Audio voiceovers are not working in fractions lessons.

[2019-11-16 19:52] BenHenning opened #375 "Shorten submitted answers"
Submitted answers should just be text versions of answers rather than a repeat of the interaction.

Also, we should ideally show the original submitted text rather than a reformatted version of it (e.g. seeing '23' become '23.0' is a bit weird).

[2019-11-16 19:53] BenHenning opened #376 "Text-based interactions need real-time answer validation"
Although we limit the characters we can freely input to text-based interactions, it's still possible to fill in impossible answers that will likely fail or crash the app, e.g. '2/3/4/3' in a fractions lesson.

We should have an error label appear when an incorrect answer is typed in a text-based interaction and prevent answer submission.

[2019-11-16 19:54] BenHenning opened #377 "Submit and continue buttons need proper disabled colors"
It's not currently clear in the exploration player when an answer can't be submitted due to us not having distinct disabled colors.

We should use color selectors for this purpose.

[2019-11-16 19:57] BenHenning opened #378 "Text-based interactions need correct hint text"
We should use the same hint text as Oppia web for text-based interactions (e.g. 'Enter a fraction in the form x/x').

[2019-11-16 19:58] BenHenning opened #379 "Past answers should be collapsed"
We should only show the most recently submitted answer, and otherwise collapse the list of N-1 prior answer & feedbacks that can be expanded by the user to see the whole conversation.

[2019-11-16 20:00] BenHenning opened #380 "Entering an exploration state sometimes scrolls past the content"
If a state card has a text-based interaction, sometimes Android will scroll the user partly down past the content card (likely because the text input is focused). We shouldn't focus the interaction by default.

@rt4914 and I also noticed when playing through state cards that sometimes when selecting a text input to open the keyboard, the keyboard won't open on the first tap and the interaction wil

[2019-11-16 20:02] BenHenning commented on #324
Actually, @rt4914 and I discussed this and we realized that we should also submit the answer upon keyboard enter if the answer is valid. If it's invalid (due to validation per #376) then we shouldn't submit the answer.

[2019-11-16 20:03] BenHenning opened #381 "Audio bar occludes content card"
The audio bar currently occludes the content, making it difficult to read:

![image](https://user-images.githubusercontent.com/12983742/68998574-21360c80-0869-11ea-87c5-ecd97f6cf285.png)

[2019-11-16 20:06] BenHenning opened #382 "Audio button touch target is too small"
The exploration player audio button's touch target is 24dp, but should be 48dp per accessibility & usability recommendations.

[2019-11-16 20:08] BenHenning opened #383 "Story list drop-down arrow touch target is too small"
Although the drop-down arrow touch target is at least 48dp for the play tab story list tiles, it looks like it should be bigger. Tapping too far above or below unexpectedly opens the story list rather than expanding it in-line. This touch target should probably take up this whole part of the tile until we decide how to address potential usability issues with the dual tap targets on the same tile.

[2019-11-16 20:09] BenHenning opened #384 "Properly hardcode story progress"
We don't have sufficient time to support proper story progress, so we should hardcode progress to be something reasonable.

[2019-11-16 20:10] BenHenning opened #385 "Remove first four states from 'meaning of equal parts'"
The 'meaning of equal parts' exploration can have its first four states cut to shorten the play experience.

[2019-11-16 20:11] BenHenning opened #386 "Add temporary offline support for audio & image streaming"
We need to include the audio assets for the supported fractions & ratio lessons with the APK binary and support local streaming rather than only remote streaming to be able to demonstrate offline support.

[2019-11-16 20:13] BenHenning opened #387 "Support showing concept cards in the exploration player"
We need to add support for adding links to concept cards and displaying them in app with a dialog overlay that shows the concept card.

[2019-11-16 20:29] BenHenning opened #388 "Add tests for exploration player"
Per #165 and #163 we did not thoroughly test the exploration & state experiences due to being blocked on #89 and #59. We need to complete this as it's essential to stabilize the exploration player and prevent regressions.

Test reference: https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/app/player/state/StateFragmentTest.kt#L206.

UPDATE: This is not blocked an

[2019-11-16 20:31] BenHenning commented on #165
The structure for the player is essentially done at this point. We need to fill our tests, but that will be done in #388.

Other gaps in functionality are covered in the prototype pt1 finalization workstream.

[2019-11-16 20:31] #165 closed, assigned to BenHenning

[2019-11-16 20:32] BenHenning commented on #163
This is complete sufficiently. #388 tracks adding tests, and various other open issues (including collapsing feedback) are covered in the finalize prototype pt1 workstream.

[2019-11-16 20:32] #163 closed, assigned to BenHenning

[2019-11-16 20:32] BenHenning commented on #160
@jamesxu0 what work remains here?

[2019-11-16 20:33] BenHenning commented on #158
This is effectively a duplicate of #159.

[2019-11-16 20:33] #158 closed, assigned to jamesxu0

[2019-11-16 20:33] BenHenning commented on #155
Looks like this wasn't auto-closed, but it should be done now.

[2019-11-16 20:33] #155 closed, assigned to nikitamarysolomanpvt

[2019-11-16 20:33] BenHenning commented on #154
Looks like this wasn't auto-closed, but it should be done now.

[2019-11-16 20:33] #154 closed, assigned to veena14cs

[2019-11-16 20:33] BenHenning commented on #152
Looks like this wasn't auto-closed, but it should be done now.

[2019-11-16 20:34] BenHenning commented on #152
This should be a fast-follow item; we cut it from the prototype timeframe.

[2019-11-16 20:35] BenHenning commented on #152
Correction: we cut this from the prototype entirely.

[2019-11-16 20:45] seanlip commented on #378
Note that, in the web version, this is typically determined based on
customization args specified for the interaction. Probably worth mimicking
that logic exactly.

[2019-11-16 20:47] seanlip commented on #376
Note that the interactions in the web version have custom logic for this.
Probably worth following it exactly.

[2019-11-16 20:48] BenHenning commented on #16
This shouldn't have been closed @jamesxu0 since you still have pending PRs.

[2019-11-16 20:51] BenHenning commented on #364
This should be fixed in #354.

[2019-11-16 20:51] #364 closed, assigned to rt4914

[2019-11-16 20:53] BenHenning commented on #373
This should be fixed in #351.

[2019-11-16 20:53] BenHenning commented on #374
This should be fixed in #351.

[2019-11-16 20:54] BenHenning commented on #371
I think this will be fixed in #351.

[2019-11-16 20:57] BenHenning commented on #372
#338 should fix this.

[2019-11-16 21:00] BenHenning opened #389 "Replace promoted story card on home page with carousel"
The home page should use a carousel to allow horizontal scrolling across all recent/promoted stories rather than only showing the top item and requiring users to click into the 'view all' page to see others.

[2019-11-16 21:01] BenHenning commented on #134
Agreed. I filed #389. This is complete per our original goals.

[2019-11-16 21:01] #134 closed, assigned to rt4914, BenHenning

[2019-11-17 00:04] BenHenning commented on #374
This was not fixed with #351 investigating why.

[2019-11-17 00:04] BenHenning commented on #373
Similar to #374, this was not fixed with #351.

[2019-11-17 00:04] BenHenning commented on #371
Similar to #374, this was not fixed with #351.

[2019-11-17 00:27] BenHenning commented on #386
We also need this for images if we want to properly play lessons in full with wifi disabled.

[2019-11-17 00:52] BenHenning commented on #385
Correction: we should skip 4 states since we want to start at 'Into the Bakery' (state beginning with "Excellent! You've learned as much about fractions as Matthew has!").

[2019-11-17 02:26] #371 closed, assigned to vinitamurthi, BenHenning

[2019-11-17 02:26] #373 closed, assigned to vinitamurthi, BenHenning

[2019-11-17 02:26] #374 closed, assigned to vinitamurthi, BenHenning

[2019-11-17 02:32] #385 closed, assigned to BenHenning

[2019-11-17 02:50] BenHenning commented on #368
I inadvertently fixed this in #392.

[2019-11-17 03:34] BenHenning commented on #378
Thanks. What is the value used in cases when the customization arg isn't specified, or is it always blank in that case?

[2019-11-17 03:47] seanlip commented on #378
It depends on the type of interaction.

For FractionInput it's based on the logic here: https://github.com/oppia/oppia/blob/develop/extensions/interactions/FractionInput/directives/fraction-input-interaction.directive.html#L5

For Textinput the placeholder is specified directly as a customization arg: https://github.com/oppia/oppia/blob/develop/extensions/interactions/TextInput/directives/oppia-in

[2019-11-17 07:24] seanlip commented on #59
Deassigning @droidizer (per chat with @BenHenning).

[2019-11-17 07:24] seanlip commented on #97
Deassigning @droidizer (per chat with @BenHenning).

[2019-11-17 20:30] BenHenning commented on #307
There also seems to be a lot of bugs around continuing audio in follow-up states. I'm seeing repeated crashes along the lines of:

[code]

We should make sure that audio properly starts/stops in subsequent states, that it fails gracefully when there's no internet access, and that the button only appears when there's audio to stream and the user has internet connectivity.

We should also make sure

[2019-11-18 00:47] BenHenning opened #398 "Can't get past second state in 'meaning of equal parts'"
Repro:
1) Open 'meaning of equal parts'
2) Get past the first state (answer is the last option in the multiple choice list)
3) Fill in the correct answer for the second state (3)

Observed: submit button is not tappable
Expected: submit button should be tappable and user should receive feedback & continue to the next state

[2019-11-18 01:20] BenHenning commented on #378
Thanks. If I'm reading this right, numeric input doesn't have placeholder text and fractions supports a custom one, otherwise specifies its own. TextInput seems to only use a custom placeholder if one is present.

[2019-11-18 01:25] seanlip commented on #378
Yep, that's my understanding.

[2019-11-18 05:02] rt4914 commented on #383
@BenHenning Currently, the develop code works in following ways:

1. Click on StoryName -> Opens "ChapterList in Next Screen" (StoryActivity).
2. Click anywhere on item item except "StoryName", it will expand/contract the card.

Issues in current card:
- The touch target for "StoryName" is less that `48dp` and fails at accessibility test, and if we use `minHeight=48dp`, this will make the UI look

[2019-11-18 05:13] rt4914 commented on #363
@BenHenning The latest develop has the title in exploration activity.

Regarding, back navigation button on toolbar, the [mocks](https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/40d6cf5f-f673-42c8-af15-035f711ef6b9/PM-IN-Introduction-) does not have that. And that might be because of "Return to Topic Dailog" shown on back press. So should we update the mocks or is it inte

[2019-11-18 05:15] rt4914 commented on #365
@BenHenning This has been resolved in latest develop. I think you might have created these issues while some of the issues we still in PR.

[2019-11-18 05:15] #365 closed, assigned to rt4914

[2019-11-18 06:45] BenHenning commented on #388
This should include thoroughly test each supported interaction, including for its placeholders and hint text.

[2019-11-18 06:46] BenHenning opened #401 "Interactions should fully support all customization arguments"
This issue is twofold:

1. We should be properly representing customization arguments in our protos (rather than using a typeless map)
2. We should update our interaction validation and view behaviors to properly incorporate customizations

[2019-11-18 06:57] BenHenning commented on #109
Duplicate of #366.

[2019-11-18 06:57] #109 closed, assigned to BenHenning

[2019-11-18 07:17] rt4914 commented on #381
@BenHenning This has been solved earlier and is in develop right now.

It works as following:
1. If the learner is a top of screen without any scroll and then click on volume icon -> The audio bar will be visible and scroll the top content card to approx 72dp.
2. If the learner is not on top and has scrolled a bit, then click on volume icon -> The audio bar will be visible without any scroll.

Ple

[2019-11-18 07:35] rt4914 commented on #380
This issue can be divided into 2 parts:

- [ ] Whenever state is changed the scroll view should start from the top everytime.
- [ ] On click of input type interaction item, it requires two clicks to display keyboard, which should actually be just a single click.

[2019-11-18 07:47] #372 closed, assigned to veena14cs

[2019-11-18 07:54] #366 closed, assigned to BenHenning

[2019-11-18 07:56] BenHenning commented on #383
I think you're right--with the recent changes this is better. I identified this with a build from last Thursday, so I suspect we've since fixed this.

[2019-11-18 07:56] #383 closed, assigned to rt4914

[2019-11-18 07:57] BenHenning commented on #363
Let's keep the arrow out for now, though we may want to revisit adding it for consistency with other activities.

[2019-11-18 07:57] #363 closed, assigned to rt4914

[2019-11-18 07:58] BenHenning commented on #381
Yep, this works really well after checking it again. Thanks!

[2019-11-18 07:58] #381 closed, assigned to rt4914

[2019-11-18 09:40] rt4914 opened #407 "Submit button should be visible above keyboard"
State Navigation buttons should be visible above keyboard, as shown in this image.

![Screenshot_1574069735](https://user-images.githubusercontent.com/9396084/69041378-6ac35a80-0a15-11ea-9e3a-56a479600372.png)

[2019-11-18 13:55] nikitamarysolomanpvt commented on #376
@BenHenning I had gone through https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/app/parser/StringToFractionParser.kt updates from your end. Seems even some valid fraction inputs are failing with the regx used. I had updated the test cases as per the new changes.
Please suggest the expected changes as per #376 issue.

@seanlip you mean https://github.com/oppia/oppia/b

[2019-11-18 19:59] mschanteltc commented on #367
Added pngs to Google Drive under Topic Page > Review Tab. Would svgs be necessary for this?

[2019-11-18 20:40] mschanteltc commented on #368
The thumbnails I used here are thumbnails that I used for the Topics, although ideally they would be different. I added a folder of pngs and svgs (in a zip file) of several of the images to the Google Drive under the folder "Topic Thumbnails"

[2019-11-18 23:56] BenHenning commented on #388
From #410: Make sure we test the shortening of submitted answers.

[2019-11-19 04:29] seanlip commented on #376
For this one in particular I think https://github.com/oppia/oppia/blob/develop/core/templates/dev/head/domain/objects/FractionObjectFactory.ts is the most relevant.

[2019-11-19 04:47] BenHenning commented on #376
That's interesting. @nikitamarysolomanpvt which inputs fail?

I'm not against using the web code, but mine was meant to be a simplification, actually. I intended for it to be correct, so I'm curious which inputs make it fail.

[2019-11-19 05:02] BenHenning commented on #376
Aha, @nikitamarysolomanpvt you spotted a bug with the denominator patterns. I accidentally kept the ``+`` out of the parentheses. The following should be the correct patterns:

[code]

The following bugs existed:
- Fraction-only inputs would not retrieve denominators with more than one digit
- Mixed number inputs would not retrieve whole numbers with more than one digit
- Mixed-number inputs would

[2019-11-19 05:59] BenHenning opened #414 "Add tests for whitespace & fractions patterns"
See #413 for details.

[2019-11-19 06:26] nikitamarysolomanpvt commented on #376
@BenHenning
Ya and also normalizeWhitespace(),  bug with the wholenumber patterns(fails when its more than one digit).

[2019-11-19 08:10] BenHenning commented on #414
Examples of interesting tests @nikitamarysolomanpvt has been doing that we should replicate later with automated tests:
- Single & multi digit terms
- Negatives
- Variable spaces between terms
- Verifying that numerator & denominator are correct for fraction-only, whole number-only, and mixed number fractions

[2019-11-19 09:54] #380 closed, assigned to rt4914

[2019-11-19 11:36] #367 closed, assigned to rt4914

[2019-11-19 12:46] rt4914 opened #417 "State Navigation Button Duplicate"
The state navigation buttons are getting duplicate in some cases. Mostly, the `state_button_item` is getting created twice mostly from `StateFragmentPresenter` not sure yet.

## With visibility control
![Screenshot_1574167027](https://user-images.githubusercontent.com/9396084/69147700-a2ef9980-0af8-11ea-8cfa-cbe51cf1939a.png)

## Without visibility control
![Screenshot_1574167105](https://user-ima

[2019-11-19 17:02] BenHenning opened #420 "Ensure app looks correct on all API versions"
@nikitamarysolomanpvt brought this up during the meeting. We are seeing discrepancies even on API 25 on Pixel versus others.

[2019-11-19 17:22] BenHenning commented on #417
Discussed during the team meeting today. Per @mschanteltc we need to make sure navigation-esque buttons are aligned. Note that this happens because one continue button is actually an interaction, and the other is a nav button.

[2019-11-19 19:53] #160 closed, assigned to jamesxu0

[2019-11-20 00:40] #368 closed, assigned to BenHenning

[2019-11-20 00:40] #384 closed, assigned to BenHenning

[2019-11-20 00:43] #369 closed, assigned to BenHenning

[2019-11-20 00:50] #386 closed, assigned to BenHenning

[2019-11-20 00:51] #112 closed, assigned to BenHenning

[2019-11-20 00:59] #359 closed, assigned to BenHenning

[2019-11-20 02:09] BenHenning opened #424 "Cut first paragraph from 'meaning of equal parts' state"

[2019-11-20 02:12] BenHenning opened #425 "Sometimes fraction input doesn't let you submit"

[2019-11-20 02:12] BenHenning opened #426 "Use KB instead of MB for smaller topic sizes"

[2019-11-20 02:14] BenHenning opened #427 "Rename 'Matthew' to 'Matthew Goes to the Bakery'"

[2019-11-20 03:33] BenHenning opened #428 "Numerator/denominator concept card should have images at the bottom"

[2019-11-20 03:35] BenHenning opened #429 "Images need to be centered in state cards"

[2019-11-20 03:52] BenHenning opened #430 "Reduce white space between feedback & answer & content boxes"
There's too much vertical whitespace which makes it harder to consume all the content on the screen. We should reduce this (see Oppia Web for context).

[2019-11-20 03:54] BenHenning opened #431 "Profile page is cut off with small display size"

[2019-11-20 03:56] BenHenning opened #432 "Radio buttons should not be checkboxes"

[2019-11-20 03:59] BenHenning opened #433 "Derive a ratio concept card picture & content is wrong"

[2019-11-20 04:00] BenHenning opened #434 "Core state experience is janky"
It looks off that when you submit an answer it stays fixed. We may need to animate to fix.

[2019-11-20 04:01] BenHenning opened #435 "Overview icon is either upside down or wrong"
The overview icon should be an i, not a !.

[2019-11-20 06:22] BenHenning commented on #428
Hey James. Sean mentioned that you might have an idea on how to fix this?

[2019-11-20 06:22] BenHenning opened #441 "Fix extra spacing in front of bullet points"

[2019-11-20 06:23] BenHenning opened #442 "Default audio language to Hindi"
We want the default audio language to be Hindi for the prototype.

[2019-11-20 06:24] seanlip commented on #428
More specifically -- @jamesxu0, I seem to remember you showed me once a concept card with two images at the bottom. Similar to this one? https://www.oppia.org/explore/xHwiGtvK2N4L

[2019-11-20 06:25] nikitamarysolomanpvt commented on #425
@BenHenning Could you please suggest a scenario.

[2019-11-20 06:34] nikitamarysolomanpvt commented on #434
@BenHenning Could you please suggest expected result.

[2019-11-20 06:46] BenHenning commented on #425
Ah, Sean and I noticed that a few times when you try submitting a fraction the submit button doesn't do anything, and you stay stuck on the state. I noticed this last week, but I haven't yet consistently reproed it to fix it. I was going to investigate--do you have any ideas what might be causing it?

[2019-11-20 06:49] seanlip commented on #425
On the card in the second Fractions lesson where it showed a 3/4 circle (red-shaded, with different sized pieces), I typed 3/2 to start with, got "this is wrong", and then typed some other fraction. It started hanging at that point, no matter what fraction I typed.

[2019-11-20 06:49] BenHenning commented on #434
As to that, I'm not sure yet. This was primarily feedback from @seanlip, but I noticed it as well. We should be aiming to have a consistent experience with Oppia web, but it's not quite clear *exactly* what that means. I need to play a bit more with the app and see if I can figure out the differences.

My initial thinking is that we should enable recycler view animations when the state itself is c

[2019-11-20 06:58] BenHenning commented on #425
FWIW I believe you need to fully exit the exploration and re-enter to remediate.

[2019-11-20 07:02] veena14cs commented on #430
![2019-11-19](https://user-images.githubusercontent.com/16301028/69216208-a2efa800-0b91-11ea-9b55-bd03be82d7f9.png)
![2019-11-19 (1)](https://user-images.githubusercontent.com/16301028/69216214-a5520200-0b91-11ea-9552-15bc986e9dab.png)

@seanlip PTAL at these screenshot if this spacing looks good.

[2019-11-20 07:14] seanlip commented on #430
Spacing is better. I have a couple other requests though:

- See https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/5954b83a-4bcf-4fa6-8382-f814137fa8ab/PM-Q4-Fill-In-Learn-Again- . Could you please do the following:
    - Reduce the width of the "learner response" box based on the content within it, and right-align it accordingly.
    - Add a bit of breathing room above th

[2019-11-20 07:36] BenHenning opened #445 "Opening exploration with initial multiple choice state focuses on interaction"
I noticed when playing 'meaning of equal parts' on the temp-integration-pt2 branch that it immediately focuses on the multiple choice rather than the content. This is jarring--we should always start at the top of the content card when initially opening an exploration.

[2019-11-20 07:36] veena14cs commented on #430
This is getting fixed in PR #412 .

[2019-11-20 07:37] veena14cs commented on #430
I will add spacing at the top of "back button + continue button" row.

[2019-11-20 07:41] #435 closed, assigned to nikitamarysolomanpvt

[2019-11-20 07:51] BenHenning commented on #425
Just caught this for one scenario: I tried entering '2' and it failed:

[code]

It didn't end up permanently broken, though, so I'm not sure this is the same problem. I'm also confused why the InteractionObject type is being mixed up...it should always be a fraction.

[2019-11-20 07:52] BenHenning commented on #425
Aha! I then put in a wrong fraction and it parsed, but now every input after appears broken. Investigating why it's permanently borked.

[2019-11-20 07:56] BenHenning commented on #425
I'm getting closer on why it's failing, but I have no clue why it permanently breaks.

[2019-11-20 07:57] BenHenning commented on #425
Ah, I think it's because certain answers trigger a bad rule to be evaluated. I suspect if I put the right answer in it may fix itself. I'm not sure why it didn't fix for you, @seanlip. Will check to see if that remediates momentarily.

[2019-11-20 07:59] BenHenning commented on #425
Okay, we're hitting a HasDenominatorEqualTo and the x value being provided is a double, but it's supposed to be an int per https://github.com/oppia/oppia/blob/11c73a781ecdc221947fcac5bd5838909d14bdf7/extensions/interactions/rule_templates.json#L61 which is also what the classifier is expecting, so it's throwing an exception and failing.

[2019-11-20 07:59] BenHenning commented on #425
Assuming this is a parsing issue, but not sure yet.

[2019-11-20 08:00] BenHenning commented on #425
Confirming submitting the correct answer seems to fix the state. Not sure what we hit earlier Sean, but I'm pretty sure this is the same issue.

[2019-11-20 08:01] BenHenning commented on #425
Hmm https://github.com/oppia/oppia-android/blob/55f959ef8b3ec7b2b8abef20b477108e2949b054/domain/src/main/java/org/oppia/domain/util/StateRetriever.kt#L184 seems to be wrong, and likely culprit.

[2019-11-20 08:01] seanlip commented on #425
FYI I never submitted the correct answer earlier.

[2019-11-20 08:01] BenHenning commented on #425
@vinitamurthi do you have some context on why we're setting real here instead of non-negative int?

[2019-11-20 08:03] BenHenning opened #449 "Fill in cross JSON/classifier tests"
Ensure there are tests to verify that we can parse and classify answers for all possible rules from JSON. This relates to #210 and #425.

[2019-11-20 08:03] BenHenning commented on #425
Thanks Sean.

We should test these cross scenarios more thoroughly. Filed #449 to track.

[2019-11-20 08:04] BenHenning commented on #425
Fix is forthcoming.

[2019-11-20 08:06] seanlip commented on #425
Agreed this is serious, we should be able to respond gracefully to all possible inputs. Should we put #449 on a priority list?

[2019-11-20 08:07] BenHenning commented on #449
NB: this is only part of the necessary solution. We also need to make sure we're properly parsing all classifier inputs based on the backend spec. This should be done as part of #169.

[2019-11-20 08:08] BenHenning commented on #169
NB: This needs to also include ensuring we properly parse all classifier inputs.

[2019-11-20 08:09] BenHenning commented on #425
Yep, it's essential. I think we're incorrectly parsing other interaction inputs as well, we just probably don't run into those. JSON is not the best way to be doing this, so we have a lot of work to do around improving our data typing throughout the retrieval pipeline to make these sorts of issues much harder to hit, plus reach 100% behavioral test coverage so that we detect when it does happen.

[2019-11-20 09:36] #430 closed, assigned to veena14cs

[2019-11-20 10:46] #445 closed, assigned to nikitamarysolomanpvt

[2019-11-20 11:08] #426 closed, assigned to rt4914

[2019-11-20 11:48] rt4914 commented on #442
Closed via #446

[2019-11-20 11:48] #442 closed, assigned to rt4914

[2019-11-20 11:49] rt4914 commented on #427
Closed via #437

[2019-11-20 11:49] #427 closed, assigned to rt4914

[2019-11-20 11:49] rt4914 commented on #424
Closed via #438

[2019-11-20 11:49] #424 closed, assigned to rt4914

[2019-11-20 12:46] #429 closed, assigned to rt4914

[2019-11-20 13:29] #28 closed

[2019-11-20 13:30] #29 closed

[2019-11-20 13:30] #33 closed

[2019-11-20 17:21] vinitamurthi commented on #425
A numerator can be a negative int as well right? That's why it was set as real, otherwise we could have a negative int as well

[2019-11-20 17:34] rt4914 opened #455 "Improve test cases for HtmlParser and UrlImageParser"
HtmlParser and UrlImageParser code was updated to improve the UI, which needs new test cases to check these improvements.

Also, check this comment: https://github.com/oppia/oppia-android/pull/454#pullrequestreview-320146921

[2019-11-20 17:35] rt4914 opened #456 "HtmlParser bullets improvisation"
![Screenshot_1574270483](https://user-images.githubusercontent.com/9396084/69262851-38b72180-0bea-11ea-9e59-977ab3db3206.png)

Currently bullets appear as shown in above image, which needs improvisation.

[2019-11-20 17:35] vinitamurthi commented on #425
Also, isn't JSON just a temporary solution just for these 4 explorations? If so, there are only 3 rule specs in the explorations - Has numerator, has denominator, and equals

[2019-11-20 17:36] BenHenning commented on #441
This was fixed in #454

[2019-11-20 17:36] #441 closed, assigned to rt4914

[2019-11-20 17:46] vinitamurthi commented on #425
My comment got deleted - The JSON solution is only temporary for these 6 explorations right? If so, the only rule specs I came across that were different from the original input were HasNumeratorEqualTo and HasDenominatorEqualTo.

[2019-11-20 19:38] BenHenning opened #460 "Use 2 sig figs for topic size on overview"

[2019-11-20 19:38] BenHenning opened #461 "Fix picture distortion for concept cards"

[2019-11-20 19:41] BenHenning opened #462 "Adjust meaning of equals parts opening content"
We removed a bit too much content with #424, so we should reintroduce parts of it.

[2019-11-20 19:46] #462 closed, assigned to nobody

[2019-11-20 22:08] #460 closed, assigned to nobody

[2019-11-20 22:09] #461 closed, assigned to nobody

[2019-11-22 03:59] rt4914 opened #468 "Topic Train Tab RecyclerView implementation change"

[2019-11-25 05:42] rt4914 commented on #432
Closed via #459

[2019-11-25 05:42] #432 closed, assigned to rt4914

[2019-11-25 05:45] rt4914 commented on #376
@nikitamarysolomanpvt This issue is somewhat connected to https://github.com/oppia/oppia-android/pull/419, please have a look.

[2019-11-25 05:47] rt4914 commented on #361
@BenHenning I think this has been finished in various different parts?

[2019-11-25 05:49] BenHenning commented on #361
Please make sure this is resolved by verifying large and small images with display and font zoom to simulate small screens.

Also, I think the bullet list spacing might be a bit off. We should look into fixing that.

Otherwise, I agree that other aspects of this issue are probably resolved now.

[2019-11-25 07:26] BenHenning commented on #277
We should also add tests to verify that the variable bounds computed for drawables is done correctly.

[2019-11-25 08:06] rt4914 opened #472 "TopicPlayTab and StoryActivity Recyclerview Update"
Currently, `TopicPlayTab` and `StoryActivity` both have recyclerview with multiple view types, which can be converted to single view type with help from `NestedScrollView` as done in #471 .

[2019-11-25 08:08] #468 closed, assigned to rt4914

[2019-11-26 04:52] BenHenning opened #474 "Navigation directionality is wrong in RTL layouts in state fragment"
See:

![image](https://user-images.githubusercontent.com/12983742/69600412-62df5980-0fc5-11ea-8974-d5679df051b0.png)

Waiting on clarification from @mschanteltc on what the correct behavior should be.

[2019-11-26 06:02] rt4914 opened #475 "AudioPlayer not working on API 19"
Audio Player is not working on API 19, or maybe below API 21.

[2019-11-26 06:06] veena14cs commented on #361
This is been fixed in PR #404 and #454 .

[2019-11-26 06:07] #361 closed, assigned to veena14cs

[2019-11-26 06:07] nikitamarysolomanpvt commented on #382
Closed via #467

[2019-11-26 06:07] nikitamarysolomanpvt commented on #382
Closed via #467

[2019-11-26 06:07] #382 closed, assigned to jamesxu0, nikitamarysolomanpvt

[2019-11-26 06:08] veena14cs commented on #26
This is been fixed in PR #338 .

[2019-11-26 06:08] #26 closed

[2019-11-26 06:08] rt4914 commented on #30
@BenHenning @seanlip @nikitamarysolomanpvt Do we need to finish this too before 30th Nov. I believe if we are prioritising this the main time will be consumed on lowfi of NumberwithUnits and Testing.
Also, @nikitamarysolomanpvt is expecting this to get finished within 1 day if she works on this.

[2019-11-26 06:09] veena14cs commented on #32
This is been fixed in PR #337 .

[2019-11-26 06:09] #32 closed

[2019-11-26 06:09] veena14cs commented on #31
This is been fixed in PR #335 .

[2019-11-26 06:09] #31 closed

[2019-11-26 06:21] seanlip commented on #30
This does not need to be finished before 30 Nov.

[2019-11-26 06:23] rt4914 commented on #376
My interpretation of this issue:
While learner is typing an answer, if they enter invalid answer like `3/4/5/6` we should provide label for invalid answer even when learner has not even clicked on the submit button.

@BenHenning Is this what you mean or something else?

@nikitamarysolomanpvt @seanlip

[2019-11-26 06:23] rt4914 commented on #30
Okay got it.

[2019-11-26 06:49] seanlip commented on #376
Yes, that's correct. You can see an example of the expected behaviour in Q2 of this exploration: https://www.oppia.org/explore/rfX8jNkPnA-1?collection_id=4UgTQUc1tala

[2019-11-26 07:21] #378 closed, assigned to BenHenning

[2019-11-26 07:21] rt4914 commented on #376
Okay. @nikitamarysolomanpvt check this, maybe this can clarify things.

[2019-11-26 08:17] #375 closed, assigned to BenHenning

[2019-11-26 09:42] rt4914 commented on #472
This should not be done as this solution loses the entire functionality of recyclerview meaning recyclerview will not able able recycler items. It works correctly but the performance will be bad if the list is too long.

[2019-11-26 11:11] #324 closed, assigned to veena14cs

[2019-11-26 17:35] #379 closed, assigned to BenHenning

[2019-11-27 03:02] BenHenning commented on #34
NB: we also need to update the continue button to display the ~placeholder~ button text specified by the exploration state.

[2019-11-27 07:37] #407 closed, assigned to veena14cs

[2019-11-27 08:45] veena14cs opened #478 "Image is cut off in learner's answer."
![2019-11-26](https://user-images.githubusercontent.com/16301028/69707767-5b809300-1120-11ea-9e54-2be8e2bd0238.png)

[2019-11-27 16:40] rt4914 opened #481 "Topic Overview remove `See More` button"

[2019-11-27 17:32] vinitamurthi commented on #433
This was what was present in the skill, what should the content and picture be? @seanlip @BenHenning

[2019-11-27 22:56] seanlip commented on #433
The content wasn't in the spreadsheet originally, sorry about that. I've just written it, here it is:

-----

A ratio represents a **relative** relationship between two or more amounts. To write a ratio, start by writing these amounts, separating them by a colon. Remember that the order matters!

For example, let's say you have 9 apples and 6 pears. You can write the ratio of apples to pears as **

[2019-11-27 23:53] jamesxu0 opened #482 "Remove the hardcoding of the admin profile in the profile initialization stage."
Currently an admin is hard coded into the application. This needs to be removed when there is a proper admin account creation.

[2019-11-28 06:10] rt4914 opened #483 "Content Card Rich Text Images not visible in some cases"
Content Card rich text images are not visible in emulator in some cases and other times it is visible. Needs detailed investigation.

[2019-11-28 06:11] #478 closed, assigned to veena14cs

[2019-11-28 07:56] rt4914 opened #484 "Unexpected Keyboard behaviour"
![edit_text_issue](https://user-images.githubusercontent.com/9396084/69787458-964aff80-11e2-11ea-9c20-a96b4bd1236c.gif)

This issue was observed by @rt4914 in `hifi-congratulation-message` branch, while testing the application on Emulator Galaxy Nexus API 28. But this is working correctly on real device.

[2019-11-28 08:12] #362 closed, assigned to veena14cs

[2019-11-29 05:30] #472 closed, assigned to nobody

[2019-11-29 07:11] #481 closed, assigned to nobody

[2019-11-30 21:38] BenHenning commented on #428
@vinitamurthi James has a bunch of questions & audio work to complete early next week. Might you be able to look at this?

[2019-11-30 21:39] BenHenning commented on #431
@jamesxu0 is this going to be fixed with the remaining profile work?

[2019-11-30 21:45] BenHenning commented on #398
This is a duplicate of #425 and has been fixed in #450.

[2019-11-30 21:45] #398 closed, assigned to BenHenning

[2019-11-30 21:47] BenHenning commented on #376
I suspect that this issue only affects fractions since text & numeric input shouldn't be able to have incorrect values passed in (though maybe numeric does if you paste in something without numbers?)

[2019-11-30 21:48] BenHenning commented on #360
MDPI [mocks](https://xd.adobe.com/view/928dd402-381b-4a51-5c8d-dfd5ee258360-e4bc/) and [specs](https://xd.adobe.com/view/9b8a7e00-f93d-4ad4-7284-a56274d2ec6c-edbb/).

[2019-11-30 21:49] BenHenning commented on #360
@jamesxu0 assigning this to you as part of resolving the profile page parts. @rt4914  we should also look into fixing the topic page if possible.

[2019-11-30 21:50] BenHenning commented on #360
Thanks @mschanteltc!

[2019-11-30 21:51] BenHenning commented on #164
@rt4914 can you clarify what remaining work needs to be done here?

[2019-11-30 21:51] BenHenning commented on #140
@rt4914 can you clarify what remaining work needs to be done here?

[2019-11-30 21:51] BenHenning commented on #42
@rt4914 can you clarify what remaining work needs to be done here?

[2019-11-30 21:51] BenHenning commented on #35
@rt4914 can you clarify what remaining work needs to be done here?

[2019-11-30 21:51] BenHenning commented on #34
@rt4914 can you clarify what remaining work needs to be done here?

[2019-11-30 21:51] BenHenning commented on #23
@rt4914 can you clarify what remaining work needs to be done here?

[2019-11-30 22:05] BenHenning opened #494 "Master tracking issue for prototype branch cut 3"
This issue is tracking all of the work we want to include in our third prototype branch cut, including work items that should not be submitted onto develop. All work items here are based on the corresponding [workstream](https://github.com/oppia/oppia-android/issues?page=1&q=is%3Aissue+is%3Aopen+label%3A%22Workstream%3A+Finalize+Prototype+pt2+%2820-30+Nov%29%22) for this branch cut.

Current PRs t

[2019-11-30 22:06] BenHenning commented on #494
/cc @oppia/oppia-android

[2019-11-30 22:06] BenHenning commented on #494
FYI: The work items tracked here are the priority items. We should aim to submit fixes for all of these by EOD PST Monday 2 December / EOD IST Tuesday 3 December.

[2019-11-30 22:09] BenHenning commented on #494
NB: The 'maybe' targets will be resolved based on how much progress we make on these items by the target Monday/Tuesday submission dates.

[2019-11-30 23:34] seanlip commented on #376
Yep -- there's no issue with text. For numeric, assuming only numbers, negative signs and dots can be entered in the field, you could have things like: (a) blank input, (b) multiple dots, (c) multiple negative signs, (d) negative signs in the middle of the number, (e) dot before the negative sign.

[2019-11-30 23:43] vinitamurthi commented on #428
Not 100% sure I understood this one..Do we want to have a concept card where the HTML content has image tags? Is that what we are going for?

[2019-12-01 07:31] BenHenning opened #497 "Update question asset linking to point to per-question resources instead of skill"
The current implementation of questions links assets to skill IDs which doesn't quite work when questions have multiple associated skills. This is being changed in Oppia's backend (see https://github.com/oppia/oppia/pull/8090 for context). Once that change goes live and corresponding content is updated, the app will need to be updated to properly retrieve assets for questions.

[2019-12-01 22:57] BenHenning opened #499 "Right alignment of submitted answers looks wrong"
See:

![image](https://user-images.githubusercontent.com/12983742/69921798-b41a9d80-144a-11ea-939c-553b80f6108f.png)

and

![image](https://user-images.githubusercontent.com/12983742/69921810-c98fc780-144a-11ea-8bd6-c640bea537a8.png)

[2019-12-01 22:58] BenHenning commented on #425
The fix from #450 seems to sometimes not work. I need to investigate further.

[2019-12-02 00:25] BenHenning opened #501 "Add support for early exiting in the question player"
If a learner gets their first five answers correct on their first try, they should be able to end the question training session early. See mocks: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/ec286faf-3a4f-4779-984a-17ca470842e6/TM-EN-5-out-of-10-.

[2019-12-02 00:26] BenHenning opened #502 "Add support for skill reviewing in question player"
If a learner struggles when playing through questions we should populate a list of skill IDs to review & link to them at the end of the training session via review cards.

[2019-12-02 00:27] BenHenning opened #503 "Add thorough tests for the question player"
Similar to #388 we need thorough tests for the question player once these can be written in a reliable way for both Espresso & Robolectric.

Test reference: https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/android/app/topic/questionplayer/QuestionPlayerActivityTest.kt

[2019-12-02 05:39] veena14cs commented on #499
@BenHenning in the mock it is right justified https://xd.adobe.com/view/6384f092-e16a-4214-5a1a-f10ee0ef4f04-15b5/screen/b7069e13-ae14-44ca-ac1c-c96d43c8f3c4/PM-Q2-CA-Continue-

[2019-12-02 05:44] veena14cs commented on #499
If it shouldn't be as per mock. This is how it looks.

![Screenshot_20191202-111247](https://user-images.githubusercontent.com/16301028/69933473-eb458900-14f4-11ea-9f33-46ed07131080.png)
![Screenshot_20191202-111348](https://user-images.githubusercontent.com/16301028/69933475-eda7e300-14f4-11ea-86bc-b76c330081ea.png)

[2019-12-02 06:25] veena14cs commented on #499
Fixed this issue in PR #504 .

[2019-12-02 06:25] #499 closed, assigned to veena14cs

[2019-12-02 18:24] rt4914 commented on #164
@BenHenning This one is blocked on #377

[2019-12-02 18:24] rt4914 commented on #42
@BenHenning This one is blocked on #377

[2019-12-02 18:24] rt4914 commented on #35
The UI is ready but the final implementation depends on #377

[2019-12-02 18:25] rt4914 commented on #34
The UI is ready but the final implementation depends on #377

[2019-12-02 18:27] rt4914 commented on #23
#140 animation is pending and also, @mschanteltc as discussed earlier, the icons in tabs are not looking good, we need updated icons/svgs mostly square in shape.
<img width="359" alt="Screenshot 2019-12-02 at 11 57 30 PM" src="https://user-images.githubusercontent.com/9396084/69984623-84a98500-155f-11ea-9a29-a31e36852e7c.png">

[2019-12-02 18:28] rt4914 commented on #140
WIP in #486

[2019-12-02 18:45] mschanteltc commented on #23
I updated the icons so that they are all 24 px, meaning that some icons that are not equal in height and width have padding in the svg file. Does this resolve the issue?

[2019-12-02 18:58] rt4914 commented on #23
@mschanteltc Check this  https://github.com/oppia/oppia-android/pull/505#issuecomment-560532261

[2019-12-03 03:57] #433 closed, assigned to vinitamurthi

[2019-12-03 18:03] rt4914 opened #508 "StateNavigationButton rendering issue [Blocked on #171]"
As soon as we open an exploration the StateNavigationButton seems to get rendered before the content and interaction which looks odd.
For checking this issue, open `What is a Fraction?` exploration and you will notice that `Continue` button gets displayed on top-right corner area of screen for a split second, after which everything becomes normal.

[2019-12-04 09:56] BenHenning opened #511 "Past expanded answers do not collapse in the question player"

[2019-12-04 10:01] BenHenning commented on #508
This happens even with #495, and it may be an Espresso rendering issue but we should investigate.

[2019-12-04 10:02] rt4914 commented on #508
@veena14cs This is not a priority right now.

[2019-12-04 10:14] veena14cs commented on #508
Ok unassigning myself.

[2019-12-04 10:16] #425 closed, assigned to BenHenning

[2019-12-04 11:49] veena14cs opened #512 "Itemselection Interaction allows to submit answer when no any selection is done."
![Screenshot_20191204-161436](https://user-images.githubusercontent.com/16301028/70140373-918ebb80-16ba-11ea-9fd1-c9c54eb5cdab.png)

![Screenshot_20191204-161312](https://user-images.githubusercontent.com/16301028/70140181-2cd36100-16ba-11ea-9f19-4999593b9f25.png)

[2019-12-04 12:02] veena14cs opened #513 "In Some explorations expressions are missing."
In "Meaning of Equal Parts" exploration, mathematical expression is not present or its a LaTeX expression, which makes question or explanation unclear. May be this was fixed in #458.

![Screenshot_20191204-160515](https://user-images.githubusercontent.com/16301028/70140667-3f01cf00-16bb-11ea-9f06-81d1f5607c89.png)
![Screenshot_20191204-160733](https://user-images.githubusercontent.com/16301028/701

[2019-12-04 13:43] rt4914 commented on #513
@veena14cs yes you are correct.
Web screenshot
<img width="539" alt="Screenshot 2019-12-04 at 7 13 07 PM" src="https://user-images.githubusercontent.com/9396084/70147428-31077a80-16ca-11ea-99c4-1b4cbfd135f6.png">

[2019-12-04 16:05] rt4914 commented on #494
@BenHenning #418 is not solving the Submit button issue. It was created correctly but the approach was incorrect and the approach suggested by you, I was not able to correctly work on that to solve the issue, so it is kind of stuck.

[2019-12-04 23:24] BenHenning commented on #494
Ack thanks @rt4914. We might avoid trying to get that in today due to other higher priority fixes being needed.

[2019-12-04 23:28] BenHenning commented on #494
Issues that we observed while testing & developing:
- [x] Images are occasionally cut off in exploration & question players (expected fix: #507)
- [x] Fractions fails validation for mixed numbers (e.g. '3 1/2' for second state of Meaning of Equal Parts) (expected fix: changes in #419 + #510)
- [x] Fractions fails submission for some numbers (e.g. '1/2' for second state of Meaning of Equal Parts) (

[2019-12-04 23:28] BenHenning commented on #494
Note that progress in this issue corresponds to fixes on temp-integration-pt3, not develop. We will start cutting lower priority breakages. This branch can be viewed in #506.

[2019-12-05 04:22] BenHenning commented on #494
Priority items:
- LaTeX removal
- Concept card link
- Ratios concept card spacing
- Line break improvements
- Fix offline trigger (it's set for the wrong exploration)

Stretch:
- Bullet list fixes

[2019-12-05 04:23] BenHenning commented on #494
NB: content highlighting now seems to be working correctly.

[2019-12-05 04:25] rt4914 commented on #24
This issue has been finished. It can be closed now.

[2019-12-05 04:25] #24 closed

[2019-12-05 05:09] rt4914 commented on #494
@BenHenning Bullets have been improvised to support MDPI as well XHDPI and other devices.
Code updated in #490

[2019-12-05 05:19] BenHenning commented on #494
Thanks @rt4914! I'll merge that in the temp branch again and verify it on the device we originally noticed it on.

[2019-12-05 05:37] BenHenning opened #520 "Image rendering has a few issues"
Specifically:
- Some images get cut-off on smaller/mdpi screens
- Sometimes images are way too small

Suggest retaining original size of images, but implement horizontal scrolling.

[2019-12-05 06:00] BenHenning commented on #494
@rt4914 they look a bit better, but I think we still need to move the bullet list a bit lower since it seems to be aligned on the top of the line, and that causes a larger visual discrepancy on a mdpi device.

[2019-12-05 06:01] rt4914 commented on #494
@BenHenning Okay, I will check and update once again.

[2019-12-05 06:16] rt4914 commented on #494
Just updated #490 . Check this comment: https://github.com/oppia/oppia-android/pull/490#issuecomment-561987360

[2019-12-05 06:56] veena14cs opened #521 "Audio icon must be changed when audio player is displayed."
### Mock
https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/9ae3d04d-9845-4b75-abf8-8f69e8823fb1/PM-IN-AU-Playing-2-

![Screenshot_20191205-122228](https://user-images.githubusercontent.com/16301028/70211267-ade23500-175a-11ea-8b53-5e5d2bf5b843.png)

[2019-12-06 04:24] BenHenning opened #522 "Implement numeric input interaction validation"
We need to introduce error handling for the numeric input interaction, similar to #419 for fractions. Web currently does this using HTML5 to prevent non-number inputs, but on Android we can't guarantee an valid number input is added (even by specifying decimal input). In fact, it currently seems as though negative numbers can't be submitted.

We should show a real-time error whenever a user tries

[2019-12-06 05:31] veena14cs opened #523 "Issues in Select Profile page"
Tested on device Pixel 3a XL. Profiles are not loaded when the app is running for the first time or when the phone is locked while the app is running.

![Screenshot_20191206-105903](https://user-images.githubusercontent.com/16301028/70298406-93ba5c80-1817-11ea-8ce3-bdaae4a1472f.png)

[2019-12-06 08:36] veena14cs opened #524 "What should be the maximum number of characters allowed in input edit text."
Whether Edittext text should be multiline input or single line input. It also crashed on entering long input.

![Screenshot_20191206-140217](https://user-images.githubusercontent.com/16301028/70308408-33d0af80-1831-11ea-881b-47a58b2898b0.png)

<img width="1625" alt="Screenshot 2019-12-06 at 2 05 20 PM" src="https://user-images.githubusercontent.com/16301028/70308561-8f02a200-1831-11ea-8ca4-52923a1

[2019-12-09 04:00] nikitamarysolomanpvt commented on #44
@mschanteltc Please do update on this when Add Profiles screen updated design is ready.

[2019-12-09 04:28] nikitamarysolomanpvt opened #530 "Oppia Android API 19 4.4.2 (Kitkat) UI issues."
**Select your profile**
- [ ] Click events are not working /Hanging /Slaggy

 **HomeFragment**
<img width="335" alt="Untitled" src="https://user-images.githubusercontent.com/54615666/70407829-d3798200-1a6b-11ea-828b-eb3dbc889275.png">

- [ ] Click events are not working /Hanging /Slaggy

- [ ] Material Cards UI issues

- [ ] Drop shadow

- [ ] Card borders

 **Story list (Continue Playing)**

- [

[2019-12-09 06:57] veena14cs opened #531 "Last used/visited time is missing in Select Profile page."
### Mock
https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/ad1de6e2-1d5d-4ac3-888c-58d036c7ede4/PC-MP-Profile-Chooser-

### Screenshot
![Screenshot_20191206-154901](https://user-images.githubusercontent.com/16301028/70315625-04756f00-1840-11ea-9035-295d9fd4cfdb.png)

[2019-12-09 10:05] rt4914 commented on #282
This functionality is no more needed as we have implemented carousel as well as `ContinuePlaying` list. Closing this issue now.

[2019-12-09 10:05] #282 closed, assigned to nobody

[2019-12-09 10:06] rt4914 commented on #484
This issue has been re-checked and currently in develop it is completely working correctly.

[2019-12-09 10:06] #484 closed, assigned to nobody

[2019-12-09 10:09] rt4914 commented on #501
In the mocks there is one line `It looks like you may need to revisit certain things.`
I think this line needs to be removed in this case.

[2019-12-09 10:16] veena14cs commented on #521
This is fixed in the branch  `temp-integration-pt3`

[2019-12-09 10:16] #521 closed, assigned to nobody

[2019-12-09 10:18] rt4914 commented on #248
@BenHenning Is this issue and #501 issue is same?

[2019-12-10 07:25] nikitamarysolomanpvt opened #535 "material card corner white spacing."
At the corners of the card you would find white spacing on both top corners, and white card corner below the stroke corner borders of bottom rounded corners. https://github.com/oppia/oppia-android/pull/323#discussion_r344704934

[2019-12-10 07:30] #389 closed, assigned to nobody

[2019-12-11 01:15] jamesxu0 opened #540 "Update profile creation flow when admin does not have a PIN (See mocks)."
https://xd.adobe.com/view/6384f092-e16a-4214-5a1a-f10ee0ef4f04-15b5/screen/18e69208-8528-424a-a368-b2c5d530d235/PC-SP-Profile-Chooser-

[2019-12-11 01:40] mschanteltc commented on #44
I updated the mocks but on the [v7 prototype](https://xd.adobe.com/view/54bd2eee-0536-4504-4976-8e2211bd169a-228c/screen/a841330e-efe5-4bdb-acdd-4d6e52a59571/PC-MP-Admin-Authorization-Empty-/). The features are also described in the [PRD](https://docs.google.com/document/u/1/d/1Ae587Q1ggfoca0j5j44LO3VFx_Z35oklyTcPZbz2w3I/edit?ts=5d02d804&urp=gmail_link#heading=h.q8u8btmzdymw).

[2019-12-12 10:55] rt4914 opened #545 "UI: Onboarding flow"
This issue is tracking onboarding flow for new learners.
https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/5981ecd6-2a80-4d82-8715-3e92294d53b5/RG-OB-Onboarding-1-

[2019-12-12 10:55] rt4914 opened #546 "Full UI: Onboarding flow"
This issue is tracking onboarding flow for new learners.
https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/5981ecd6-2a80-4d82-8715-3e92294d53b5/RG-OB-Onboarding-1-

[2019-12-13 09:34] #307 closed, assigned to jamesxu0

[2019-12-13 09:41] rt4914 opened #549 "UI: Options Navigation Drawer"
This issue is tracking low-fi work of https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/2776cbb1-22b0-42c9-b70b-2136bdb361da/OP-Options-Menu-

[2019-12-13 09:42] rt4914 opened #550 "Full UI: Options Navigation Drawer"
This issue is tracking hi-fi work of https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/2776cbb1-22b0-42c9-b70b-2136bdb361da/OP-Options-Menu-

[2019-12-13 10:43] rt4914 opened #551 "UI: My Downloads"
This issues is tracking lowfi work of https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/531223c5-b64d-4d61-a21b-22045e915515/MD-LB-Library-List-

[2019-12-13 10:43] rt4914 opened #552 "Full UI: My Downloads Tabs"
This issues is tracking hifi work of https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/531223c5-b64d-4d61-a21b-22045e915515/MD-LB-Library-List-

[2019-12-14 01:03] #47 closed

[2019-12-14 01:42] #540 closed, assigned to nobody

[2019-12-14 01:54] jamesxu0 opened #555 "Create one central utility file from where we should access date format or even convert date timestamp to string from that file."

[2019-12-14 01:57] jamesxu0 commented on #555
This issue was brought up in PR #543. We need to move all date timestamp conversion to one file to have consistency across the app.

[2019-12-16 06:23] rt4914 opened #556 "Toolbar and View id change"
In all the files, the toolbar and shadow view ids are same but they should be different as per @nikitamarysolomanpvt suggestion. Mostly it should contain the file name too, example: `home_activity_toolbar`

[2019-12-16 12:20] rt4914 commented on #556
Closed via #557

[2019-12-16 12:37] rt4914 opened #559 "Add missing test cases for toolbars."
Add missing test cases for toolbars in all activities/fragments

[2019-12-16 12:37] #556 closed, assigned to nobody

[2019-12-16 12:38] rt4914 commented on #551
Closed via #553

[2019-12-16 12:38] #551 closed, assigned to nobody

[2019-12-16 18:17] rt4914 opened #560 "Add README.md"
This is a part of documentation needed to bring new contributors onboard.
Mainly this should align with https://github.com/oppia/oppia/blob/develop/.github/README.md file.

[2019-12-18 07:53] seanlip commented on #300
Deassigning @hareshkh, since he won't be free to help out with this until April.

[2019-12-18 09:58] rt4914 opened #562 "Add screenshot testing test cases for CustomBulletSpan [BLOCKED on ScreenshotTesting]"
CustomBulletSpan is responsible for drawing bullets in rich-text (HtmlParser). We should add tests to verify whether this drawing logic work correctly or not across all devices. These will be Screenshot Tests
Comment Reference: https://github.com/oppia/oppia-android/pull/490#discussion_r359207943
Sample Reference: https://facebook.github.io/screenshot-tests-for-android/

![Screenshot_1576654589](h

[2019-12-18 10:15] #456 closed, assigned to nobody

[2019-12-19 06:17] rt4914 opened #565 "Onboarding flow need domain layer controller"
Onboarding flow should be visible only once irrespective of learner profile. Introduce domain layer code to control this feature.

[2019-12-19 07:38] rt4914 opened #566 "Wiki needs documentation of github usage from Android Studio"
Currently, wiki has all the necessary commands which new developers can execute from terminal to create a successful PR. But as the new developers are expected to be mostly android developers we need a documentation in which there are screenshots/gifs/video of using github in android studio. It should be in sync with the terminal based workflow for better experience.

[2019-12-19 10:58] nikitamarysolomanpvt opened #568 "@Inject related reformatting issues"
issue
[code]
expected format
`@Inject lateinit var homeActivityPresenter: HomeActivityPresenter `
## reference

https://github.com/oppia/oppia-android/pull/84#discussion_r358066175

[2019-12-19 20:12] BenHenning commented on #16
This appears complete with the most recent PRs submitted.

[2019-12-19 20:12] #16 closed

[2019-12-23 05:38] #568 closed, assigned to nobody

[2019-12-23 06:02] #559 closed, assigned to nobody

[2019-12-23 08:10] BenHenning commented on #565
I suggest referencing or refactoring the user history controller for this purpose.

[2019-12-24 07:28] #22 closed

[2019-12-24 08:56] rt4914 opened #571 "Wiki needs a new page for Assignees and Reviewers Flow"
The difference between Assignees and Reviewers role in PR is not that obvious in document. TO make sure that the use of Assignees and Reviewers is understood clearly we need a separate page with an example in which it gets clear how to use them.

[2019-12-25 06:49] rt4914 opened #572 "Keyboard should be visible by default in Admin PIN"
![Screenshot_1577256328](https://user-images.githubusercontent.com/9396084/71435781-886c9980-2710-11ea-9893-8a12857b093f.png)

In the above screen, the user will need to click the first edittext box to make the keyboard visible and then start typing the PIN.

To improve the UX, the keyboard should be directly visible to reduce that one extra click.
Also, write test case for this functionality in t

[2019-12-30 08:16] veena14cs opened #575 "Full UI : Home fragment Welcome message with Profile name"
### Mock
https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/ce2a96de-2c98-41f9-91e6-6ca0d8135fb2/HP-Home-Page-2

[2019-12-30 09:11] veena14cs opened #577 "Full UI : Profile name to be displayed on navigation drawer."
### Mock

https://xd.adobe.com/view/bee1fced-33bd-4f69-6a89-2c30fe1c4f65-c8d0/screen/42d3b9aa-8cb7-4ff0-b375-42117c3aed7e/PM-EN-Play-Tab-Side-Menu-

[2020-01-02 06:55] rt4914 opened #581 "Add placeholder/loading image for images in richtext"
Images in rich text are currently getting fetched from internet and if the internet is off then there is not way to see that whether an image is expected to be displayed or not. So, in such case, there should be a placeholder image or loading image which will be displayed in that rich-text-image.

[2020-01-03 06:40] rt4914 opened #582 "Home Screen Greetings Message Line"
<img width="364" alt="Screenshot 2020-01-03 at 12 06 21 PM" src="https://user-images.githubusercontent.com/9396084/71710287-88138300-2e21-11ea-81b8-a18fd620a87d.png">

In Home screen, there is a greetings message at the top of the screen, which is inflated using `welcome.xml` file

The line below that greeting should end at before the profilename as per mocks.

Update the code, so that the line ex

[2020-01-03 06:43] rt4914 opened #583 "Overview should be updated to Info"
As per new mocks, Topic Overview Tab has been updated to Topic Info Tab,

<img width="363" alt="Screenshot 2020-01-03 at 12 11 29 PM" src="https://user-images.githubusercontent.com/9396084/71710439-3fa89500-2e22-11ea-83c9-a5564e000459.png">

So, all files related to that needs to be updated like package name, file names, test cases names, xml files names, variable names, strings.xml, drawables, et

[2020-01-03 07:53] rt4914 opened #584 "Lowfi: Remove NestedScrollView from TopicPractice"
Currently Topic Practice is using NestedScrollView. Remove that nested scrolling and use multi-layout-views there for correct implementation.

[2020-01-05 05:06] rt4914 opened #588 "Review should be updated to Revision"
As per new mocks, Topic Review Tab has been updated to Topic Revision Tab,

<img width="363" alt="Screenshot 2020-01-03 at 12 11 29 PM" src="https://user-images.githubusercontent.com/9396084/71710439-3fa89500-2e22-11ea-83c9-a5564e000459.png">

So, all files related to that needs to be updated like package name, file names, test cases names, xml files names, variable names, strings.xml, drawables,

[2020-01-06 09:38] rt4914 opened #590 "Full UI: Switch Profile Option in Navigation Drawer"
The Navigation Drawer needs `Switch Profile` option. (The svg file for the icon will be shared on email.)
<img width="368" alt="Screenshot 2020-01-06 at 2 58 29 PM" src="https://user-images.githubusercontent.com/9396084/71809219-a08bd380-3095-11ea-92c3-73e1970d4e9a.png">

When learner clicks on this option, it should open the alert dialog which is shown when learner presses back button on home scr

[2020-01-07 05:52] nikitamarysolomanpvt opened #591 "In admin auth screen in add profile submit button and actionDone button issue and test cases."
In admin auth screen in add profile submit button should be visible above keyboard, when keyboard is displayed.
`DONE` / `TICK` in keyboard should submit the pin automatically.

Also, we need to add test cases too, like:

1. Submit button is displayed by default
2. Submit button is active only when 5 characters are entered.

[2020-01-09 09:20] nikitamarysolomanpvt opened #599 "Issue in Domain on-boarding flow"
Fix #565: Domain on-boarding flag #574
<img width="1628" alt="small" src="https://user-images.githubusercontent.com/54615666/72054448-02934580-32ef-11ea-9201-56d28622a978.png">

[2020-01-10 05:57] rt4914 commented on #599
@nikitamarysolomanpvt please write steps to reproduce this issue.

[2020-01-13 09:31] veena14cs opened #600 "Remove UserAppHistory controller from domain and app module if not unused."
We need to remove UserAppHistory model and its controller related files from following modules:

app, domain, model

[2020-01-16 05:33] rt4914 commented on #590
This PR is assigned to new contributor @maheshpaliwal

[2020-01-16 05:37] rt4914 opened #602 "Train should be updated to Practice"
As per new mocks, Topic Train Tab has been updated to Topic Practice Tab,

<img width="363" alt="Screenshot 2020-01-03 at 12 11 29 PM" src="https://user-images.githubusercontent.com/9396084/71710439-3fa89500-2e22-11ea-83c9-a5564e000459.png">

So, all files related to that needs to be updated like package name, file names, test cases names, xml files names, variable names, strings.xml, drawables, e

[2020-01-16 05:37] rt4914 opened #603 "Play should be updated to Lessons"
As per new mocks, Topic Play Tab has been updated to Topic Lessons Tab,

<img width="363" alt="Screenshot 2020-01-03 at 12 11 29 PM" src="https://user-images.githubusercontent.com/9396084/71710439-3fa89500-2e22-11ea-83c9-a5564e000459.png">

So, all files related to that needs to be updated like package name, file names, test cases names, xml files names, variable names, strings.xml, drawables, etc

[2020-01-16 05:42] rt4914 commented on #143
Opening this again as the design needs to be updated as per version v7.

[2020-01-16 05:43] rt4914 commented on #143
Assigning this to @Luffy18346

[2020-01-16 05:47] rt4914 commented on #10
Assigning the UI of ContinuePlayingList to @Luffy18346

[2020-01-16 06:57] rt4914 opened #604 "Wiki: Tips for converting mock to Android Code"
Oppia-Android needs a wiki in which any new contributor can learn how to convert a mock to android code. Mostly all hifi issues contains mock link but there are some edge cases in which we need to make sure that those mocks are convert properly to android, for example:

1. All margin/padding should be in a multiple of 4.
2. Mocks needs to be testing on device/emulator with 360px width or a multipl

[2020-01-16 16:35] nikitamarysolomanpvt commented on #599
@rt4914 Just need to run test-cases.

[2020-01-16 16:52] BenHenning opened #606 "Introduce custom scope for profiles"
Profiles should be seamlessly integrated with our dagger graph such that profile IDs can be injected, and components can be made to be per-profile.

[2020-01-16 16:52] BenHenning commented on #606
/cc @rt4914

[2020-01-17 03:33] BenHenning opened #607 "Add functionality to combine two data providers"
With recent work around story progress, we need support for combining two data providers together (e.g. two transformed ``PersistentCacheStore``s).

[2020-01-17 03:33] BenHenning commented on #607
/cc @rt4914

[2020-01-17 18:11] rt4914 commented on #41
@Luffy18346 In this issue, most of the items are correct in develop but still needs rechecking.

[2020-01-18 07:07] rt4914 commented on #603
Assigning this to @prarabdhgarg

[2020-01-20 06:22] rt4914 opened #610 "Low fi Landscape: Profile Selection Screen"
Mock Link:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/4ae1ae9d-9ae9-4cd3-a15a-6c2a7a23b8be/PC-MP-Profile-Created-Visible-

## Checklist
- [ ] Add Administration Controls
- [ ] App Language
- [ ] Test cases

[2020-01-21 12:12] #535 closed, assigned to nobody

[2020-01-22 08:02] rt4914 commented on #581
As discussed this feature is not needed as in future images will be available offline.

[2020-01-22 08:02] #581 closed, assigned to nobody

[2020-01-22 08:04] rt4914 opened #620 "Low fi Landscape: Add Admin Password screen"
Mock:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/acdbeb30-745f-46da-b0fd-3d6a83f83937/PC-SP-Add-PIN-Dialog-Empty-

Landscape design for Add admin password is needed.

## Checklist
- [ ] Landscape working correctly
- [ ] Test cases for landscape mode.

[2020-01-22 08:11] rt4914 commented on #583
Closed via #587

[2020-01-22 08:11] #583 closed, assigned to rt4914

[2020-01-22 08:12] rt4914 commented on #584
Assigning this to @Luffy18346 .

[2020-01-22 08:13] rt4914 commented on #602
Assigning this to @Luffy18346

[2020-01-23 08:52] rt4914 opened #623 "Shift StoryTesting files to testing package"
`StoryFragmentTestActivity` and `StoryFragmentTestActivityPresenter` files are currently in **app** module -> **story** -> **testing** package.

Shift this to **app** module -> **testing** package.

Also, where these files are getting used like `story_fragment_test_activity.xml`, fix those usage too.

[2020-01-23 08:53] rt4914 commented on #604
Done: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-01-23 08:53] #604 closed, assigned to nobody

[2020-01-23 08:56] rt4914 commented on #566
Done: https://github.com/oppia/oppia-android/wiki/Android-Studio-UI-based-Github-workflow

[2020-01-23 08:56] #566 closed, assigned to veena14cs, nikitamarysolomanpvt

[2020-01-23 09:01] rt4914 commented on #582
This PR should not be assigned to anyone, as there are still some doubts which needs to be discussed.

[2020-01-23 09:10] rt4914 commented on #588
This issue has been assigned to @maheshpaliwal

[2020-01-23 09:13] rt4914 commented on #620
Assigned to @netomarin

[2020-01-23 10:46] #602 closed, assigned to Luffy18346

[2020-01-23 11:37] netomarin commented on #620
Hi @rt4914, can you assign the issue to me?
You commented but assigned to yourself.

Thanks

[2020-01-23 13:27] rt4914 commented on #620
@netomarin Assigned it to you. Thanks

[2020-01-24 21:01] netomarin commented on #623
@rt4914 if nobody is currently working on this issue, I can take it.

[2020-01-24 21:02] netomarin commented on #552
@rt4914 I would like to work in one of those Full UI issues. This one looks a good candidate.
WDYT?

[2020-01-24 21:03] seanlip commented on #623
Hi @netomarin, go for it, I've assigned you!

[2020-01-25 11:27] rt4914 commented on #552
Sure. Just focus on tabs part only as the fragments inside tabs are not yet functional.

[2020-01-27 08:02] #603 closed, assigned to rt4914

[2020-01-27 08:05] rt4914 opened #628 "Lowfi Landscape: Admin Auth Screen"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a0c84710-3970-4488-beea-6fe6abbdb38a/PC-MP-Admin-Authorization-Admin-Controls-Empty-

Landscape design of admin auth screen. Also add tests case for this implementation.

[2020-01-27 08:07] rt4914 commented on #628
Assigning this to @PrarabdhGarg

[2020-01-27 09:31] PrarabdhGarg commented on #628
Currently, do I have to implement only the UI, or add functionality to the screen as well?

[2020-01-27 09:42] PrarabdhGarg commented on #628
@rt4914 for the resource directory, should I keep only the device orientation as the qualifier, or should I also specify some other qualifiers?

[2020-01-27 10:04] rt4914 commented on #628
UI and functionality already exists in the code in portrait mode. You just need to make sure that the UI works on landscape mode too. Along with test cases.

For reference you can have a look at these PRs: https://github.com/oppia/oppia-android/pull/625
https://github.com/oppia/oppia-android/pull/611

Do keep in mind that these PRs are not yet finished, but you can get the idea from these.

[2020-01-27 10:31] nikitamarysolomanpvt opened #629 "Limitation of ActivityScenario's Launch Method - Found in Kitkat"
The test-cases which use ActivityScenario are failing throughout oppia-android tests when tested in Kitkat.
<img width="1375" alt="small" src="https://user-images.githubusercontent.com/54615666/73167454-e4ff1200-411d-11ea-8227-85cd935736a4.png">

[2020-01-27 10:31] nikitamarysolomanpvt commented on #629
@BenHenning found two use full links, please suggest.
https://stackoverflow.com/questions/53598321/androidx-test-activityscenario-java-lang-assertionerror-activity-never-becomes

https://github.com/android/android-test/issues/143

[2020-01-28 08:00] PrarabdhGarg commented on #628
@rt4914 the text in the mockup seems to be of a different screen. Should I keep the same text as that of the portrait screen, or should I keep it according to the mockup?

[2020-01-28 08:52] rt4914 commented on #628
Yes, feel free to change the text. Match the text with mock in landscape as well as portrait mode.

[2020-01-28 10:50] rt4914 opened #630 "Wiki: Oppia Terminology Wiki"
Wiki page which describes following words, there usage in the app and how they are inter-related.

1. Topic
2. Subtopic
3. Story
4. PromotedStory
5. Chapter
6. Skill
7. Exploration
8. State
9. ConceptCard
10. ReviewCard
11. Question/QuestionPlayer

[2020-01-30 04:47] rt4914 opened #632 "Replace current recyclerview implementation with BindableAdapter usage"
Currently the entire project has two types of RecyclerView implementation:
1. Recyclerview using BindableAdapter (OngoingStoryListActivity, CompletedStoryListActivity, etc.) uses it)

2. Recyclerview with the RecyclerViewAdapter which inflates multiple layouts.

We need to change the implementation such that all RecyclerViewAdapter to  use BindableAdapter (i.e. approach similar to OngoingStoryList

[2020-01-30 09:54] rt4914 opened #634 "Lowfi Landscape mode for StoryActivity"
Mock Link:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/cce938d6-e079-4761-bac0-8bde22ac6348/TP-CL-Auto-Scroll-Button-

https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2cf61633-3197-4445-adb0-b58fbe418b11/TP-CL-Auto-Scroll-Button-

## Checklist
- [ ] Landscape mode UI
- [ ] Test cases for landscape mode.

[2020-01-30 09:55] #628 closed, assigned to rt4914

[2020-01-30 09:56] rt4914 commented on #634
Assigning this to @PrarabdhGarg

[2020-01-31 05:09] PrarabdhGarg commented on #572
@Luffy18346 can I solve this issue?

[2020-01-31 05:26] rt4914 commented on #572
@PrarabdhGarg this has already been solved by @Luffy18346 the PR is already out there. Also those issues which are not assigned to someone you can take that.Also for now I have assigned you a new issue you can work on that for now.

[2020-02-02 12:46] PrarabdhGarg commented on #634
@rt4914 where do I write the tests for the Story Activity? In the file that is present in the app package, or the file present in the sharedTest package?
Also, why are there two files serving the same purpose?

[2020-02-02 13:18] PrarabdhGarg opened #635 "Handle Multiple clicks throughout the app"
On devices that are a bit slow, pressing a button multiple times leads to the opening of multiple activities, or performing the same task in a repeated manner.
As soon as a button is clicked once, the button should be disabled from receiving further input until the task is successfully performed.

[2020-02-02 13:22] PrarabdhGarg commented on #12
@BenHenning if you are still considering sqllite abstraction, I would like to recommend the room library. It supports transactions, multi-threading, RESTful interface as well as migrations. It also automatically protects the app against SQL Injection attacks, and is recommended by Google itself for offline data caching.

[2020-02-03 04:46] rt4914 commented on #634
The file which is present in the sharedTest `StoryFragmentTest` https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/app/story/StoryFragmentTest.kt

The testing package in app module is actually for those items which needs to be tested separately and cannot be tested in regular android app structure. So in such cases, we create a dummy activity which has some fake

[2020-02-03 04:59] #572 closed, assigned to Luffy18346

[2020-02-03 06:25] #577 closed, assigned to veena14cs

[2020-02-04 03:04] rohitkatlaa commented on #635
Hi @PrarabdhGarg I am new to Oppia android and I would like to work on this issue.So can you please help me?

[2020-02-04 06:13] rt4914 commented on #635
@rohitkatlaa Thanks for showing interest in oppia. Can you please go through this https://github.com/oppia/oppia/wiki and once you have finished everything in that, we will get back to you soon, or you can post your doubts in https://gitter.im/oppia/oppia-android

[2020-02-04 07:33] rt4914 opened #637 "Add pre-submit checks file for the project"
Oppia-Android should have pre-submit checks file similar to the web so that while making a push the file will run all the test cases, check the PR guidelines which will ensure that PRs are working in terms on test cases.

 - [x] Buf - https://github.com/oppia/oppia-android/issues/2097 (issue)
 - [x] Bazel - https://github.com/oppia/oppia-android/issues/2107 (issue)
 - [x] XML
 - [x] Kotlin - https