[2021-09-21 00:01] srushtirk opened #3824 "[Portuguese] Some words appearing in English for Portuguese language"
**Describe the bug**
Some words are displayed in English language despite of selecting the device language as Portuguese.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app and user profile
2. In user profile menu, select options
3. See error: Reading display size ("Tamanho do Texto de Leitura") appears in English (Eg: Medium) instead of Portuguese (Eg: Médio)
4. Go back to the

[2021-09-21 00:06] srushtirk commented on #3800
Caroline came across the same issue when she tried accessing the app for MR3 testing for Portuguese language.

Screenshot attached:
![image](https://user-images.githubusercontent.com/27875087/134092687-4d38b302-d76c-4a36-ab05-f90915a3bcbe.png)

[2021-09-21 00:17] srushtirk opened #3825 "Edit Account button under Administrator controls not working [Blocked on UX design]"
**Describe the bug**
Edit Account button under Administrator controls doesn't work.
Note: This button doesn't work in the UI Mocks as well: https://xd.adobe.com/view/3dca36c2-5115-419c-b25e-0f10526b077c-6899/screen/54511d86-eeca-4bf9-a891-22c0a6aa9a08/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app
2. On 'Select your profile' page, click on administrator controls on the bott

[2021-09-21 00:22] srushtirk opened #3826 "Black square around the profile picture"
**Describe the bug**
On editing the profile picture, a black square appears around the profile pic.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app
2. Click on user profile
3. Click on edit - pencil icon over the profile picture
4. Change the profile picture
5. Save
6. See error

**Expected behavior**
Profile picture should not have anything surrounding it - it should be disp

[2021-09-21 00:28] srushtirk opened #3827 "[Portuguese] Translated text overlap"
**Describe the bug**
Text overlap has been observed with the translated text in Portuguese.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app
2. Click on admin profile
3. See error

**Expected behavior**
Text should be separated and should not overlap over one another.

**Demonstration**
![image](https://user-images.githubusercontent.com/27875087/134094703-4bf2ce9d-ad28-4f5e-8c

[2021-09-21 00:32] srushtirk opened #3828 "Incorrect Audio Language displayed"
**Describe the bug**
The audio language is being displayed as 'Hindi' for device language of Portuguese in the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app and user profile
2. In user profile menu, select options
3. See error: Audio Languge appears as Hindi

**Expected behavior**
Audio language should be displayed as 'Portuguese'

**Demonstration**
![image](https://us

[2021-09-21 00:53] #3279 closed, assigned to deepanshu731

[2021-09-21 05:13] BenHenning opened #3829 "Plurals aren't translated correctly for Arabic"
See example plurals in the original strings file: https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/values/strings.xml#L154 & translated in Portuguese: https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/values-pt-rBR/strings.xml#L141 versus Arabic: https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/values-ar/strings.xml#L137. Somehow, the tran

[2021-09-21 05:14] BenHenning commented on #3829
/cc @srushtirk & @isalooo & @MohamedMedhat1998

@srushtirk can you look into this & work with our translators to figure out what the discrepancy is & see if we can fix this for Arabic translations by EOD Wed (so that they can be picked up in Thursday's translations drop)?

[2021-09-21 05:33] BenHenning commented on #3817
Ah interesting. I'm curious why this happens with practice tab. Does it happen with any other activities?

[2021-09-21 05:39] anandwana001 commented on #3817
No, after playing around the whole app, I found it's a practice tab only where we are getting this issue.

[2021-09-21 06:01] darkmat13r commented on #3818
@anandwana001 Thank you.

[2021-09-21 09:29] ayush0402 commented on #3798
@darkmat13r I am actually already working on this.

[2021-09-21 11:48] veena14cs commented on #2391
Unassigning myself as I won't me working on this.

[2021-09-21 13:01] #2093 closed, assigned to viktoriias

[2021-09-21 21:13] BenHenning opened #3830 "Introduce base general-purpose test activity & fragment [Blocked #1720]"
I couldn't find an issue tracking this already, so filing a new one.

We can avoid the pattern of needing to introduce custom test activities & fragments throughout the codebase by introducing a general-purpose test activity & fragment that can be trivially added to stage different UI scenarios.

[2021-09-21 21:16] BenHenning commented on #3830
Note that while we can introduce a TestActivity today, it's a bit painful to use broadly since it'll require introducing a bunch of custom injectors throughout the codebase. We may want to wait until #1720 is introduced so that injectors can be automatically generated (via entrypoints) which will simplify stuff a lot.

[2021-09-22 08:17] BenHenning commented on #3817
I wonder if this is tied to the splash screen issue @anandwana001. The question player works fine for me, so this might actually be an Android 11-specific issue. I think we need to root cause the Android 11 issue & then revisit this.

[2021-09-22 08:17] BenHenning commented on #3818
@anandwana001 was this reproed on develop or was this part of MR3 testing?

[2021-09-22 09:42] anandwana001 commented on #3818
This is for develop branch.

[2021-09-22 10:53] anandwana001 commented on #3817
I tested this issue from branch `localization-part7-add-gate-for-selecting-written-language-and-add-todos` on API 28, issue still exist.

[2021-09-22 17:20] ayaazansari commented on #3582
can I work on this?

[2021-09-23 00:51] srushtirk opened #3832 "Inputting text input answers auto-closes keyboard"
**Describe the bug**
The keyboard auto-closes every time an answer is being inputted in the text input box in all topics/chapters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app
2. Click on "What are place values" topic
3. Start the first chapter
4. Once you reach the question card "What about digit  1? What place value is the digit 1 in? Nikhil asked", click on the text inp

[2021-09-23 00:58] BenHenning commented on #3832
To clarify: #1769 is probably a different issue, it's just similar. Something else has regressed this behavior since it was always previously working in portrait mode (whereas #1769 is landscape-specific).

Some quick searching suggests that users often hit these types of issues on Huawei phones. From the videos you shared in chat, my best guess is the extra tall keyboard might be triggering somet

[2021-09-23 01:00] BenHenning commented on #3832
I can't be sure this was caused by a change in state_fragment.xml, but the two relevant changes to that file between MR2 & MR3:
- https://github.com/oppia/oppia-android/commit/74e4aba4030a1d2da993f2e55dfc568286dfe07a#diff-31658d6687495c018f73ebcabf8c5212d7c05d2ad81cddd7357bd87cf2f8a0de
- https://github.com/oppia/oppia-android/commit/ef906e40619e7e5c670fce5bdb87d9ba558096e7#diff-31658d6687495c018f7

[2021-09-23 01:11] BenHenning commented on #3832
I can repro this on my Nexus 5X: install Microsoft Swiftkey Keyboard & open any text input layout in portrait (landscape works "fine"*). We should be able to root cause this now since we can repro on dev builds.

*it looks bad, but it's functional.

Edit: from searching it seems like other people do hit this issue with the keyboard, but not broadly. We're probably doing something to cause the layo

[2021-09-23 01:24] BenHenning commented on #3832
@anandwana001 could you please work on root causing this (i.e. via a binary search) & finding the cause PR? I suspect we won't be able to revert whatever caused this, but finding the actual PR might make it easier to fix the problem.

[2021-09-23 01:27] anandwana001 commented on #3810
Removing the livedata observer on SplashActivityPrsenter fix the issue.

[2021-09-23 01:50] srushtirk opened #3833 ""Start over" button missing left border in the UI"
**Describe the bug**
The button "Start Over" after returning to an incomplete lesson in the app is missing left border around it or the left side of the button is possibly being cut off.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a lesson in the app
2. Play at least 2 cards and leave the lesson
3. Click on the incomplete lesson and see a screen that prompts to start over vs. conti

[2021-09-23 05:42] coder2699 commented on #3826
@srushtirk , @anandwana001 I want to fix this. Can I start working on this issue?

[2021-09-23 16:12] kritigupta45 commented on #3586
@rt4914 I would like to work on this issue, kindly assign it to me.

[2021-09-23 22:05] #2972 closed, assigned to jcqli

[2021-09-24 05:27] rt4914 commented on #3586
@kritigupta45
Thank you for showing interested. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-09-24 05:28] rt4914 commented on #3586
cc: @ARJUPTA

[2021-09-24 06:18] anandwana001 commented on #3832
@BenHenning I tried over my Redmi phone with the internal testing APK and installing the Microsoft swift keyboard but was not able to repro this issue.

[2021-09-24 19:34] #3240 closed, assigned to nobody

[2021-09-24 19:53] srushtirk commented on #3826
Hi @coder2699 , thanks for your interest in helping out! Just to check, have you followed the instructions on https://github.com/oppia/oppia-android/wiki yet? If so, your onboarding mentor can assign you to the appropriate issues - could you please ask them? Thanks!

[2021-09-25 03:51] bkaur-bkj commented on #3807
@rt4914 sir Please assign this issue to me.

[2021-09-25 05:51] BenHenning opened #3837 "Make sure all tests end in "Test""
Currently, at least two tests aren't ending with "Test": ProfileProgressSpanCount & PlayerSplitScreenTesting. Both should be renamed such that they end in "Test", and all other files in test folders should be double checked to make sure that they end with "Test".

[2021-09-25 06:18] darkmat13r commented on #3773
@yash10019coder
Configuration :

![image](https://user-images.githubusercontent.com/35571567/134760866-4864762b-f489-46b6-9889-1b8a415ef29b.png)

Error
![image](https://user-images.githubusercontent.com/35571567/134760848-446d11d2-6545-4207-8514-59b8578ffcc8.png)

[2021-09-25 07:37] BenHenning opened #3838 "Toolbar titles sometimes don't automatically update when the system language changes"
#3795 will introduce an issue where sometimes toolbars will automatically change their language with the system, and sometimes they won't. For example, home will update its fixed title but the topic activity won't without navigating away & back to the activity after switching the system language.

[2021-09-25 07:39] BenHenning opened #3839 "Add end-to-end tests for localization"
Localization support (i.e. post #3797) introduces a complex, multi-activity mechanism for making sure that language selection works in a multitude of scenarios. Since it's multi-activity, both Robolectric & Espresso aren't ideal for testing the mechanism in its entirety. Instead, UiAutomator end-to-end tests should be added to verify that changing the system language correctly recreates & changes

[2021-09-25 07:43] BenHenning opened #3840 "Update automatic language switching mechanism to work correctly on Espresso/Robolectric"
#3795 introduces a complex mechanism wherein the current activity may be recreated if a new system language has been detected & differs from the current language forced by the app. This mechanism in the way that it's set up does not work correctly in Robolectric, and may need to be re-engineered to more accurately track the system vs. the overwritten system locale.

Further, overriding the locale

[2021-09-25 07:46] BenHenning commented on #3817
@anandwana001 I think that's without the fix I sent to you on chat (the Gist). It should work after that fix is applied (I'll be pushing an updated part5 branch shortly).

[2021-09-25 08:02] darkmat13r commented on #3773
@yash10019coder  @rt4914 I think its a bug in javaagent of the android studio. I was able to run the test cases in Intellij IDEA community IDE with following configuration.

![image](https://user-images.githubusercontent.com/35571567/134763990-e8743dc4-6e7d-492b-9d70-cba3dbf91c1e.png)
Result
![image](https://user-images.githubusercontent.com/35571567/134764016-33a50827-9815-4af0-8c1c-e9aa3460c65f.

[2021-09-25 08:11] BenHenning opened #3841 "'time_ago' & quantity plurals should be combined"
After #3795, TextViewBindingAdapters combines two strings (time_ago & plurals) into a single one. This ought to just be different plural options so that translators have better context when translating the full conceptual string.

[2021-09-25 08:12] BenHenning opened #3842 "Investigate second/millisecond conversion check for greeting timestamp"
After #3795, TextViewBindingAdapters performs a check on whether the last visited timestamp is in milliseconds or seconds. We ought to just use milliseconds & never need this conversion, but investigation is needed to better understand where this check came from & if it could ever be triggered.

[2021-09-25 08:14] BenHenning opened #3843 "Completed/ongoing story strings should be separate text views rather than a combined string"
After #3795, NavigationDrawerHeaderViewModel combines two strings (for ongoing & completed stories) into a single one. String concatenation should never be used for display purposes since it can be wrong in LTR/RTL situations. Instead, there should be separate text views or a single string to represent the text.

[2021-09-25 08:16] BenHenning opened #3844 "Chapter listings combine two strings rather than require a single string translation"
After #3795, [StorySummaryViewModel](https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/topic/lessons/StorySummaryViewModel.kt) combines chapter indexes with their titles. These ought to be a single string so that LTR/RTL formatting can be done correctly during translation.

[2021-09-25 19:02] aadityaguptaa commented on #3460
@rt4914 can I work on this?

[2021-09-26 02:43] BenHenning opened #3846 "Add tests for TextViewBindingAdapters"
TextViewBindingAdapters today doesn't have any tests for it, and ought to since it may not be obvious to track down future regressions that may occur in this file. These tests also ought to specifically test the binding adapters in their normal context (i.e. used through databinding with a test layout).

This also tracks adding new testing coverage after #3795 is merged since https://github.com/op

[2021-09-26 04:27] BenHenning commented on #2844
Potential new flakes that we're seeing now that we're batching & building/running tests together (previously it seemed like we reached nearly zero flakes):
- SIGSEGV in StateFragmentTest
- Timeout in StateFragmentLocalTest
- Jetifier race condition in build graph (#3759)

[2021-09-26 08:02] coder2699 commented on #3826
@srushtirk all my steps are completed.

[2021-09-27 07:47] #3324 closed, assigned to deepanshu731

[2021-09-27 07:54] BenHenning commented on #3778
Given we haven't hit this again, closing as not reproducible.

[2021-09-27 07:54] #3778 closed, assigned to BenHenning, anandwana001

[2021-09-27 08:28] BenHenning commented on #3800
Idea for solving after #3795 is merged: we could use the mixin to detect the application death scenario & save the locale context in saved instance state (since it should have access to it, maybe) & restore the singleton upon recreation. This needs some investigation work.

[2021-09-27 08:30] BenHenning commented on #3822
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

[2021-09-27 08:31] BenHenning commented on #3824
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

Also, these are all known issues (particularly around the lack of translations for story/chapter/topic titles, and revision/concept cards). FWIW, the app does support translations for revision & concept cards, but the lesson structures don't yet support translati

[2021-09-27 08:31] BenHenning commented on #3825
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

Also, this is an existing issue in the app, not a regression.

[2021-09-27 08:31] BenHenning commented on #3826
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

[2021-09-27 08:32] BenHenning commented on #3827
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

This is a good issue to track looking into adding max character lengths for strings.

[2021-09-27 08:33] BenHenning commented on #3828
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

[2021-09-27 08:33] BenHenning commented on #3833
I believe this isn't a blocker for MR3 (& am thus removing it from our blocker list). If I got that wrong, please re-add it @srushtirk.

[2021-09-27 09:11] BenHenning commented on #3832
Ack @anandwana001.

@srushtirk my inclination is to not block MR3 on this issue. We should still investigate & try to find the root cause PR, and fix the issue, but if someone runs into it we can tell them how to mitigate (i.e. use a different keyboard). Do you agree?

[2021-09-27 13:18] rt4914 commented on #3773
Thanks @darkmat13r

[2021-09-27 17:16] vrajdesai78 commented on #3602
@rt4914 I am receiving static checks failed. Will I need to do anything else than adding label for HomeActivity in android manifest file and creating value in strings.xml

[2021-09-27 17:38] #3780 closed, assigned to veena14cs

[2021-09-27 19:14] BenHenning commented on #2691
Now that batching is in, we're seeing #2844 and #3759 crop up.

Also, https://github.com/oppia/oppia-android/pull/3849/checks?check_run_id=3719505383 had basically all of its Bazel workflows fail due to a download flake from Google's CDN. We've seen this before, but never as badly as in that PR. https://github.com/bazelbuild/bazel/issues/12010 is a Bazel-specific issue that had similar reports, an

[2021-09-27 19:17] srushtirk commented on #3832
Agreed!

[2021-09-28 10:30] #3728 closed, assigned to BenHenning

[2021-09-28 10:30] #3817 closed, assigned to BenHenning, anandwana001

[2021-09-28 11:48] #3829 closed, assigned to srushtirk

[2021-09-28 13:55] rt4914 commented on #3504
Duplicate #3669

[2021-09-28 13:55] #3504 closed, assigned to rt4914

[2021-09-28 13:57] rt4914 opened #3853 "Unable to run app on API 19 because of Okhttp library"
Unable to run app on API 19 because of Okhttp library as it requires minimum of API 21.

[2021-09-28 14:02] #3571 closed, assigned to rt4914

[2021-09-28 14:35] rt4914 commented on #3602
@vrajdesai78 I have commented on PR

[2021-09-28 15:31] anandwana001 commented on #3853
Duplicate - https://github.com/oppia/oppia-android/pull/3740

[2021-09-28 16:15] aadityaguptaa commented on #3258
@anandwana001 thank you, I am working on this, will give you updates in a couple of days

[2021-09-28 20:31] veena14cs opened #3855 "Remove Pinview thirdparty library."
Older implementation of Pin Verification UI was using PinView library `io_github_chaosleung_pinview`  which was not supporting RTL. To fix this we removed this library and created new UI as per the new mocks implemented in the PR #3684.

This library has to be removed from
[code]

Then update `maven_intall.json` file.

[2021-09-29 04:50] coder2699 commented on #3826
@srushtirk I am able to reproduce this bug. But I'm unable to locate this exact layout file, if possible can you help regrading this?

[2021-09-29 05:47] srushtirk commented on #3826
@coder2699 What layout file are you referring to? Is it this one - https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/values-pt-rBR/strings.xml

[2021-09-29 10:28] BenHenning commented on #3800
This case also affects restarting the app after a crash (probably for the same reason).

[2021-09-29 11:09] BenHenning opened #3857 "Add support for HasSpecificTermEqualTo"
HasSpecificTermEqualTo was introduced in Oppia web in https://github.com/oppia/oppia/pull/12103 & isn't yet supported in Android, though we need it for the upcoming MR3 lessons.

[2021-09-29 11:24] anandwana001 commented on #3826
@coder2699 Look at the XML file here - https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/profile_picture_activity.xml

[2021-09-29 11:57] #3807 closed, assigned to bkaur-bkj

[2021-09-29 19:38] BenHenning opened #3858 "Enable localization tests in Espresso [Blocked: #973, #4991]"
In #3796, a series of new UI layer tests were added to validate various localization test flows. However, due to the failing nature of many of these Espresso test suites, it's would be a sizable undertaking to get all of these to properly pass on Espresso. Given the time sensitivity of the work, most tests were instead disabled such that they only run on Robolectric. This issue tracks bringing Esp

[2021-09-30 00:02] BenHenning commented on #3858
Note that some of these tests will actually not be compatible with Gradle due to requiring language configurations to be set up.

[2021-09-30 09:25] bkaur-bkj commented on #3602
@rt4914 sir I will make labels for SplashActivity pls assign that part to me.

[2021-09-30 11:09] justdvnsh commented on #3839
@BenHenning @rt4914 I'd like to work on this issue

[2021-09-30 11:10] justdvnsh commented on #3855
@veena14cs I'd like to work on this issue.

[2021-09-30 11:10] justdvnsh commented on #3837
@BenHenning I'd like to work on this issue

[2021-09-30 11:14] BenHenning opened #3861 "Submit-time errors permanently break the answer submission flow"
**Describe the bug**
When a submit-time error is encountered, attempting to submit another answer (regardless of correctness) causes an error to be logged in logcat and the submit button stops working (the entire exploration experience goes into a bad state).

**To Reproduce**
Steps to reproduce the behavior:
1. Open the prototype exploration
2. Navigate to the fraction input state (second state)

[2021-09-30 11:15] BenHenning commented on #3861
/cc @srushtirk this is an issue worth being aware of since it can very likely cause a severely broken learning experience. We should try to fix this at least by MR4, I think.

[2021-09-30 11:47] #3580 closed, assigned to nobody

[2021-09-30 17:35] anandwana001 commented on #3810
@BenHenning still issue on latest internal testing live app on Android 11.

[2021-10-01 04:51] BenHenning commented on #3810
@srushtirk also hit this, and I can now repro on an Android 11 device. I was hoping that #3795 would fix this, but I think it primarily fixed #3817. I found that this seems to only occur in the Proguard-optimized version of the app, and the logs are still unhelpful so I'm iterating locally with extra logs in the app to try and investigate. My best guess is that Android 11 (& 12) might be relying o

[2021-10-01 04:54] BenHenning opened #3864 "//:install_oppia_dev doesn't work on newer Android versions"
I usually develop on a Nexus 5X running SDK 27, but when recently trying to deploy to an SDK 30 device I saw that ``bazel run //:install_oppia_dev`` doesn't work due to not being signed (or at least, I hit this on my Chromebox). I fixed it by passing Bazel's dev key to the APK signer, which seems preferable, anyway.

[2021-10-01 05:07] BenHenning commented on #3810
Some new notes:
- Removing the combineWith() & just defaulting the locale doesn't fix anything
- 1 optimization pass is sufficient to hit the issue (which is nice since it cuts the build time in about 1/3)
- The app seems to hang immediately after subscribing to the first data provider (interestingly, the LiveData never becomes active nor are any of the constituent data providers processed)

[2021-10-01 05:21] coder2699 commented on #3827
@srushtirk I'm willing to work on this. So I'm self-assigning this.

[2021-10-01 05:32] BenHenning commented on #3810
FWIW, the comment above regarding Proguard might actually be more likely than at first glance since MR3 is using custom Proguard rules vs. MR2's Gradle (AGP)-generated ones.

Further, Jetpack's Lifecycle relies on some reflection for certain observers (that leverage the annotations). LiveData isn't one of them, but I wonder if something in the Jetpack components library that ties into LiveData doe

[2021-10-01 05:39] BenHenning commented on #3810
Spoke too soon. https://stackoverflow.com/a/59162111 fixes the issue, and I suspect the finding is the actual issue. It seems LifecycleObserver might depend on reflection to verify subscriptions are valid, but it's not clear to me *at all* why this is an Android 11-specific issue.

[2021-10-01 05:43] BenHenning commented on #3810
Aha! This might repro on 28+ per the comment here: https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-master-release/lifecycle/lifecycle-runtime/proguard-rules.pro#18. Just confirming...

Edit: confirming that exact line is the issue (it fixes exactly with that line being present). Simple PR & rebuild coming.

Edit2: for posterity (in case the link above ever breaks

[2021-10-01 09:06] BenHenning opened #3865 "Use AAR & dependency's Proguard files instead of replicating their rules"
We have a lot of Proguard rules for the Bazel build, but ideally we should generate a single Proguard file from all of our dependencies (which I think Gradle via AGP mostly does). https://github.com/bazelbuild/bazel/issues/4467 seems related, but it's not clear to me yet if that will actually provide a means to solve this problem.

[2021-10-01 21:40] srushtirk commented on #3833
Note that this issue is not seen on Pixel (3, 4XL, 5) devices (Android 11+).

[2021-10-02 08:12] srushtirk opened #3870 "[Arabic] Continue button on the left, cards (and lesson) not moving forward"
**Describe the bug**
The "continue" button for proceeding to the next card is placed on the left on a certain card in each chapter and is not moving to the next card on click, while being taken to the previous card.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia App with Arabic language selected as the system language
2. Click on a lesson
3. Complete a few cards
4. See error on

[2021-10-02 09:05] bkaur-bkj commented on #3602
@rt4914 PTAL

[2021-10-03 19:42] srushtirk commented on #3870
Additional context:

An additional arrow button is seen on the left side (sometimes both on right and left side), along with the "continue" button. This issue is seen and is consistent only when the arrow button is clicked instead of continue.

Adding a video for further reference: https://drive.google.com/file/d/12qFBO_1VVximc5mTcxhEaEsMzMsUzfh9/view?usp=sharing

[2021-10-03 20:03] #3586 closed, assigned to kritigupta45

[2021-10-03 20:09] rt4914 commented on #3239
Closing this as it has already been solved in develop.

[2021-10-03 20:09] #3239 closed, assigned to Pranav-Bobde

[2021-10-03 21:04] srushtirk commented on #3812
App seems to work fine with Pixel 3/5 now.

[2021-10-03 21:04] #3812 closed, assigned to nobody

[2021-10-03 21:25] #3577 closed, assigned to ayush0402

[2021-10-04 00:15] BenHenning commented on #3870
So upon reviewing the video, I think this is WAI. From talking to Srusthi, we found out that the app above was in Urdu rather than Arabic (hence the RTL), and the English translations (due to having no Urdu translations) led to some UX confusion about navigation directionality. RTL always means that lesson progression is "leftward" (so right arrows go backwards in lesson history) which is exactly

[2021-10-04 00:15] #3870 closed, assigned to nobody

[2021-10-04 04:45] puranjayK commented on #3581
Hi @rt4914, I would like to work on this issue. Could you please assign it to me

[2021-10-04 09:49] puranjayK opened #3875 "Due to wrong Input Submit / Back button not working"
**Describe the bug**
On filling wrong type of input in Chapter 1: Prototype Exploration, the 'Submit' and back arrow button do not work. Unable to submit the correct answer after that or move to the previous activity.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll to 'All Topics'
2. Click on 'First Test Topic'
3. Click on 'Lessons'
4. Click on 'First Story'
4. Click on 'Prototype Exp

[2021-10-04 15:01] rawlin commented on #3809
Could you assign me this issue please

[2021-10-05 03:48] #3808 closed, assigned to bkaur-bkj

[2021-10-05 05:16] ParnaviKulkarni commented on #3588
Can I work on it?

[2021-10-05 12:38] #3548 closed, assigned to ayush0402

[2021-10-05 13:48] #3818 closed, assigned to darkmat13r

[2021-10-05 17:53] rishidyno opened #3882 "Transfer Developer options string resources to untranslated_strings.xml"
Strings like Force Crash, View Logs, everything related to developer_options does not need translation
Transfer them to an untranslated_strings.xml file.

[2021-10-05 18:29] binaryshrey commented on #3875
Hi, I would like to take up this task.

[2021-10-05 19:25] jashasweejena commented on #3462
Can I pick this up? @rt4914

[2021-10-05 19:41] ayaazansari commented on #3837
I'd like to work on this

[2021-10-06 00:32] BenHenning commented on #3839
Hi @justdvnsh. I'm glad to see you're interested in this issue.

Note that this issue is effectively blocked on #3866 (& all of its previous PRs). After those are merged, I think this PR can be worked on. However, some things to keep in mind:
- Our end-to-end tests don't have fully-established documentation yet, so you'll need to write them based primarily on existing code references, plus https:/

[2021-10-06 01:41] BenHenning opened #3886 "Add Proguard support to oppia_alpha_kitkat"
A forthcoming PR is introducing basic KitKat support in the app, and one limitation is that we must manually define the main dex class list in order for the main dex file to be set up correctly for multidex to kick-in. While Bazel supports both this & Proguard individually, it has a bug today in supporting these together (there's a sandbox issue when trying to call into dex_list_obfuscator.sh). I'

[2021-10-06 02:02] BenHenning opened #3887 "Investigate Glide drawable native crash on KitKat"
After a forthcoming PR is merged to introduce basic KitKat support, there'a fairly common crash that occurs (especially on fresh install) on KitKat devices after opening the home screen. This seems to correlate to vector drawables that are loaded & transformed directly by Glide. It's not exactly clear what might be causing this crash, but it's expected to necessary to fix to unblock KitKat launch.

[2021-10-06 02:28] #3277 closed, assigned to yash10019coder

[2021-10-06 03:22] rt4914 commented on #3462
@jashasweejena Assigned.
Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-10-06 05:08] srushtirk opened #3888 "Second layer of authentication to user profile PIN"
**Is your feature request related to a problem? Please describe.**
When user forget their profile PIN, sometimes the app auto backs up and restores the profile and hence the PIN doesn't reset even after uninstalling and re-installing the app.

**Describe the solution you'd like**
Add a user chosen security question (from the list of 2-3 questions) as a second layer authentication (and back up) whe

[2021-10-06 08:06] justdvnsh commented on #3846
@BenHenning I'd Like to work upon it.

[2021-10-06 08:08] justdvnsh commented on #3839
@BenHenning Yup. I'd still want to do it. The contributions I have made were to get involved me in this organization. I now want to make more important contributions and become a core member of the foundation. So, yeah I'd like to work upon this. Moreover, I am anyhow working on my testing area for improvement, so I think this would be a great start. By the time this issue get unblocked , I'd like

[2021-10-06 09:57] jashasweejena commented on #3462
Thanks, @rt4914 :) I have signed the CLA before as I had contributed to one issue in the past. Do I have to re-sign it?

[2021-10-06 14:02] #2266 closed, assigned to veena14cs

[2021-10-06 14:53] veena14cs commented on #3855
Thanks @justdvnsh I will assign it to you.

[2021-10-06 16:17] rt4914 opened #3892 "[A11Y] Locked chapter item selection change is incorrect"
Currently in `StoryActivity`, when we click on link in locked chapter, the previous unlocked-chapter should get selected automatically which is not happening currently.

https://user-images.githubusercontent.com/9396084/136243294-1ce2854c-878a-4921-b40d-7ac33315bc31.mp4

## IMPORTANT

This issue needs to be tested on Talkback app + Samsung screen readers too.

[2021-10-06 16:20] rt4914 opened #3893 "[A11Y] Need DiffUtils with RecyclerView for better experience for a11y users [Blocked on #171]"
**Issue**
In exploration player when we use screen-reader and mark correct answer, because the state changes, the screen-reader starts from the top which provides really bad experience.

https://user-images.githubusercontent.com/9396084/136243639-0a762493-de80-4703-95e5-a23c0292909f.mp4

With the use of diffutils after any change the user can remain on the same item of recyclerview and thus provid

[2021-10-06 16:23] rt4914 opened #3894 "[A11Y] Unable to exit overflow menu"
When a11y user is inside the overflow menu than currently there is no easy way to exit it. This might be a problem with the screen-reader (Talkback) itself as I have tested this on other apps like Whatsapp, Instagram and the experience is equally bad.

https://user-images.githubusercontent.com/9396084/136244259-9c79bc6a-ca2a-477f-9ec4-fec05447e99a.mp4

[2021-10-06 16:25] rt4914 opened #3895 "[A11Y] Rich-text hyperlink text improvement"
Rich-text hyperlink text improvement is required as per below mentioned error.

<img src="https://user-images.githubusercontent.com/9396084/136244457-9266bfa9-9f1c-425f-879f-5a57fc326214.png" width="250" />

[2021-10-06 16:26] rt4914 opened #3896 "[A11Y Advanced] Lessons tab flow needs to be improved"
Lessons tab flow needs to be improved. Current experience is shown below:

https://user-images.githubusercontent.com/9396084/136244615-eb6b4f3f-e676-485d-9477-579822845039.mp4

[2021-10-06 16:27] rt4914 opened #3897 "[A11Y] Incorrect string output for `DragAndDrop` answer"
Incorrect string output for `DragAndDrop` answer as shown below. Instead of this it should be `Incorrect submitted answer`

<img src="https://user-images.githubusercontent.com/9396084/136244818-21ce7a97-72d6-4068-bc85-e83bc3a1ff15.png" width="250" />

[2021-10-06 16:29] rt4914 opened #3898 "[A11Y] Incorrect talkback output in StoryActivity"
Incorrect talkback output in StoryActivity. Text repetition issue.

<img src="https://user-images.githubusercontent.com/9396084/136245117-62eadd88-6e92-4761-8a4c-fd701c4b4cef.png" width="250" />

[2021-10-06 16:30] rt4914 opened #3899 "[A11Y] Onboarding flow improvement"
Onboarding flow experience can be improved. Current experience is shown below.

https://user-images.githubusercontent.com/9396084/136245319-7bf6397d-697c-4ed7-a11f-8ddf3a15f6be.mp4

[2021-10-06 16:33] rt4914 opened #3900 "[A11Y] Unable to exit ProfilePictureActivity from screen-reader"
[A11Y] Unable to exit ProfilePictureActivity from screen-reader

Open question: In my opinion we actually do not need this activity for screen-reader.

https://user-images.githubusercontent.com/9396084/136245763-cf4cd455-3a9e-4af9-a5c8-c9a1ebb06d85.mp4

[2021-10-06 16:45] rt4914 commented on #3894
We might need to use `BottomSheet` instead of `Overflow Menu`. Need to discuss with design team.

[2021-10-06 16:55] BenHenning commented on #3896
To clarify, is this an advanced test failure?

[2021-10-06 16:59] rt4914 commented on #3900
Add a toolbar with `Profile Photo` title.

[2021-10-06 17:09] rt4914 opened #3901 "[A11Y] Remove blank space from QuestionPlayer"
[A11Y] Remove blank space from QuestionPlayer as it is readable by screen-reader.

<img src="https://user-images.githubusercontent.com/9396084/136251065-b26154c6-8a13-4bc7-aa29-b170076115f3.png" width="250" />

[2021-10-06 17:10] rt4914 opened #3902 "[A11Y] Incorrect a11y output for welcome text"
Incorrect a11y output for welcome text. There is an extra `,` in the output.

<img src="https://user-images.githubusercontent.com/9396084/136251218-5e6b5487-aa5b-4f95-ab89-1d857de45b9c.png" width="250" />

Update:
The extra `,` is because there are two separate textview and screenreader is combining both the textviews at once and as a result we see one extra `,`  which is added by screenreader. To

[2021-10-06 17:11] rt4914 opened #3903 "[A11Y] Add hint for question"
Add hint for question mentioned below:

<img src="https://user-images.githubusercontent.com/9396084/136251414-eb008efc-c6a3-4942-b8a7-418dc7f5e7cc.png" width="250" />

[2021-10-06 17:13] rt4914 opened #3904 "[A11Y] Unable to reach `Switch` during AddProfile"
Unable to reach `Switch` during AddProfile

https://user-images.githubusercontent.com/9396084/136251645-73ca510f-d4a3-4aca-aeca-9a55c3082016.mp4

[2021-10-06 17:14] rt4914 opened #3905 "[A11Y] ProfileProgressActivity flow needs to be improved"
ProfileProgressActivity flow needs to be improved. Current Flow:

https://user-images.githubusercontent.com/9396084/136251830-0aca50df-e32b-42b7-883b-c9fa686fb1f8.mp4

[2021-10-06 17:15] rt4914 opened #3906 "[A11Y] Incorrect output for rich-text in Hints and Solution"
Incorrect output for rich-text in Hints and Solution.
<img src="https://user-images.githubusercontent.com/9396084/136251962-5cb5b12d-434e-4d22-b3cc-f2b784e3cc49.png" width="250" />

[2021-10-06 17:17] rt4914 opened #3907 "[A11Y] Output `Congratulations` for screenreader"
Output `Congratulations` for screenreader.

Whenever a user submits a correct answer we show a `Congratulations` toast. This is currently not readable by screen-reader.

It should be readable by screen-reader as soon as it appears.

[2021-10-06 17:23] rt4914 commented on #3896
Yes. This is an advanced test.

[2021-10-06 17:32] rt4914 commented on #3462
@jashasweejena Thanks. You don't need to sign it again.

[2021-10-06 17:36] jashasweejena commented on #3462
Awesome @rt4914

[2021-10-06 19:00] #3587 closed, assigned to nobody

[2021-10-06 20:51] BenHenning commented on #3789
Copying from #3759: Aha! I think I know why the retry mechanism isn't working (been puzzling over this for a while). Per a recent failure log (https://pipelines.actions.githubusercontent.com/v2jo6u0i4lUfyxD2aH2pOnpX9TRM6k4RpTudJnUSvFarVABEQV/_apis/pipelines/1/runs/28918/signedlogcontent/16?urlExpires=2021-10-06T20%3A10%3A31.6787136Z&urlSigningMethod=HMACV1&urlSignature=nJkBVgj0uRSbxKSY8WkMsxQEzQFv

[2021-10-06 21:11] #3729 closed, assigned to BenHenning

[2021-10-06 21:11] #3730 closed, assigned to BenHenning

[2021-10-06 21:11] #20 closed

[2021-10-06 21:11] #91 closed, assigned to nobody

[2021-10-06 21:11] #3777 closed, assigned to BenHenning

[2021-10-06 22:15] #669 closed, assigned to nobody

[2021-10-06 22:15] #3734 closed, assigned to BenHenning

[2021-10-06 23:51] #3857 closed, assigned to BenHenning

[2021-10-06 23:51] #3864 closed, assigned to BenHenning

[2021-10-07 00:00] #3782 closed, assigned to ayush0402

[2021-10-07 00:29] #3882 closed, assigned to rishidyno

[2021-10-07 01:04] BenHenning commented on #2391
Is this still an issue? FAQ seems to work fine in a real RTL locale (Arabic).

[2021-10-07 01:05] BenHenning commented on #2193
Assigning to myself per https://github.com/oppia/oppia-android/pull/3320#issuecomment-902999806.

[2021-10-07 06:02] #1587 closed, assigned to nobody

[2021-10-07 06:23] #3810 closed, assigned to BenHenning

[2021-10-07 06:24] BenHenning commented on #3789
Reopening per https://github.com/oppia/oppia-android/pull/3908#issuecomment-937132130.

[2021-10-07 06:24] BenHenning commented on #3800
Closing now that #3866 is closed (which removed the TODO lines).

[2021-10-07 06:24] #3800 closed, assigned to BenHenning

[2021-10-07 07:00] BenHenning opened #3911 "Introduce end-to-end test to ensure KitKat startup support"
With the introduction of #3910 we need an end-to-end test that opens up the app on a KitKat emulator to verify that it starts successfully since it's quite likely future changes to the OppiaApplication class will break app startup on KitKat devices.

[2021-10-07 07:23] BenHenning commented on #3887
https://github.com/bumptech/glide/issues/372#issuecomment-86835027 is a similar crash to what I saw.

[2021-10-07 07:42] FareesHussain opened #3912 "aarch_64 release of protoc doesn't exist [M1 mac]"
Building the app in M1 mac show the following error
![image](https://user-images.githubusercontent.com/54740946/136340935-cc7f8b66-6d93-484c-84f1-eec1da313576.png)

Here the gradle tries to download the osx-aarch_64 version of protoc which doesn't exist in [protoc releases](https://repo1.maven.org/maven2/com/google/protobuf/protoc/3.8.0/)

Related issues:
- https://github.com/protocolbuffers/proto

[2021-10-07 08:10] bkaur-bkj commented on #3900
@rt4914 I would like to work on this issue

[2021-10-07 09:47] veena14cs commented on #2391
@BenHenning I tested this with psuedolocale and it doesn't work it crashes on FAQ.

[2021-10-07 16:17] adarrssh commented on #3901
Hey I am a beginner ,I would like to work on this issue .
what i have to do in this issue and what can i do to get started?

[2021-10-07 19:01] MohitGupta121 commented on #3574
@rt4914  Can I'll work on this Issue?

[2021-10-07 21:59] BenHenning commented on #2990
As a follow-up: I strongly encourage that we leverage/share code with ComputeAffectedTests since that's had to be tuned to work under large target counts or in highly constrained scenarios on CI.

[2021-10-07 22:02] BenHenning opened #3914 "Move all CI workflows to be required [Blocked: #2844, #2691, #3789]"
We've added a lot of CI workflows over the past few months, and we've also had multiple months to speed up & stabilize our Bazel runs. I think we're at a point where we can verify the stability of these workflows, and then enable them all as required. This involves verifying & resolving the following issues (including one Oppiabot change that allows us to request all existing PRs to update to the

[2021-10-08 00:26] BenHenning commented on #2391
@veena14cs was that on latest develop? When I try with the production MR3 app it doesn't actually even go into RTL mode with the pseudolocale (which might be a change since we now have new language selection mechanisms built-in).

[2021-10-08 08:45] MohitGupta121 commented on #3574
Can you please assign this issue to me I do all the necessary stuff on my local and also mentor is assign to me.

[2021-10-08 15:43] MohitGupta121 commented on #3574
@rt4914 can you please tell me how I can generate all the screenshot as I not have Tablet, is there any way to get screenshot like other PR have.

[2021-10-08 18:51] rt4914 commented on #3574
@MohitGupta121 You will need to create a Tablet emulator to generate screenshots for that.
`Tools -> AVD Manager` from here you can create a tablet emulator and run the app on that device.

[2021-10-08 18:53] MohitGupta121 commented on #3574
@rt4914 Can I run on online emulator I test on that its work. Because my PC is not so good to handle emulator and android studio.

[2021-10-08 19:05] rt4914 commented on #3574
@MohitGupta121 I do not have experience with online emulator but if it works correctly feel free to do so and also mention how you did it in your PR so that I can also check that process.

[2021-10-08 19:07] rt4914 commented on #3901
@adarrssh Thanks for showing interest. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

Once this is done please pick issues from [here](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+

[2021-10-08 19:07] MohitGupta121 commented on #3574
Ok Thanks but I'll first try the Android virtual emulator for testing on my 1st Priority.

[2021-10-08 19:08] MohitGupta121 commented on #3574
@rt4914 which Tablet emulator we need for oppia Nexus 9 or 7?

[2021-10-08 19:13] rt4914 commented on #3574
@MohitGupta121 Might need both for best results.

[2021-10-08 19:15] MohitGupta121 commented on #3574
Okayy thanks you

[2021-10-08 20:08] bkaur-bkj opened #3916 "Build gets failed with an errror at develop branch on windows PC"
Build is failing, I tried to build the project to work on my new issue and faced this error, tried updating multiples times but no help.

Operating system - Windows
![image](https://user-images.githubusercontent.com/64087572/136619134-b87c3c66-1631-4c07-9ce8-d6727a7916a8.png)

[2021-10-08 21:01] #3383 closed, assigned to BenHenning

[2021-10-08 21:01] #3669 closed, assigned to BenHenning

[2021-10-08 21:01] #3803 closed, assigned to anandwana001

[2021-10-08 21:01] #3804 closed, assigned to BenHenning

[2021-10-08 21:01] #3853 closed, assigned to BenHenning

[2021-10-08 21:07] BenHenning commented on #3016
@jcqli how does this differ from #2876?

[2021-10-08 21:19] BenHenning commented on #1049
This was resolved in #3668 with the introduction of https://github.com/oppia/oppia-android/blob/develop/domain/src/main/java/org/oppia/android/domain/hintsandsolution/HintHandler.kt and changes to the proto structure (all ephemeral hint/solution state is now part of a consolidated HelpIndex that's passed in EphemeralState).

[2021-10-08 21:19] #1049 closed, assigned to nobody

[2021-10-08 21:20] BenHenning commented on #3906
@rt4914 does this block on #1050?

[2021-10-08 21:24] BenHenning commented on #401
(1) is going to be addressed with https://github.com/oppia/oppia-proto-api/pull/1.

(2) I think just involves having proper per-interaction test suites at the UI level.

[2021-10-08 21:44] jcqli commented on #3016
@BenHenning this issue was for the web backend, so it was fixed in web PR [#12367](https://github.com/oppia/oppia/pull/12367)

[2021-10-08 22:42] BenHenning commented on #3916
@bkaur-bkj did you try a clean + rebuild? I'm wondering if this is a syncing issue from recent changes.

[2021-10-08 22:43] BenHenning commented on #3916
Also, is this on the latest develop? A commit hash of your base would be helpful to make sure that we understand what state your local repository is in.

Edit: and, is this a clean repository or are there changes? If there are changes, does the project build with in a clean/unchanged state?

[2021-10-08 22:44] BenHenning commented on #3916
Finally per https://github.com/oppia/oppia-android/pull/3910/files the most recent changes to these files should be innocuous, and not related to the dimensions.

[2021-10-08 22:45] BenHenning commented on #3016
Thanks @jcqli. In that case, closing this since it's now resolved.

[2021-10-08 22:55] BenHenning commented on #3016
Ah, it looks like there is some work to do here yet based on the TODOs.

[2021-10-09 05:17] bkaur-bkj commented on #3916
Yesterday I tried to rebuild it gave the same results, I tried closing studio updating and then building again it worked fine now so I think we can close the issue now.

[2021-10-09 10:45] MohitGupta121 commented on #3574
@rt4914 bro I have make PR for that issue can you please review it.
As I told due to Laptop limitation I try android emulator but its too hang on my PC that's why I have use the online emulator for tablet and my Physical device for mobile.

And bro I not understand why in my commit the .idea file also added I'll unstagged it but on commit it automatically add to commit.

[2021-10-09 11:09] adarrssh commented on #3901
Hey, I am facing an issue while installing the project, where can I discuss my issue?

[2021-10-09 11:28] rt4914 commented on #3901
@adarrssh You can post it on https://gitter.im/oppia/oppia-android

[2021-10-10 06:52] adarrssh commented on #3901
Hey, I have installed oppia-android on my PC and it is running fine, but I am getting error in 4th step of installation process (https://github.com/oppia/oppia-android/wiki) and I am not getting any response on gitter about my issue .what can I do to solve this issue?

![image](https://user-images.githubusercontent.com/85433137/136685856-646031a3-4dd8-4b3c-ad08-2d151cfc9798.png)

[2021-10-11 18:01] MohitGupta121 commented on #3567
@rt4914 I want to work on that issue can u please assign me that also.

[2021-10-11 21:00] veena14cs opened #3919 "The marquee for toolbar titles has to be RTL compatible."
The marquee for toolbar titles goes left-to-right in RTL device. The actual behavior has to be from right-to-left for RTL device.

[2021-10-12 08:03] seanlip commented on #1077
Closing this since there is no TODO here.

[2021-10-12 08:03] #1077 closed, assigned to aggarwalpulkit596

[2021-10-12 08:03] seanlip commented on #1523
Removing @aggarwalpulkit596 due to inactivity.

[2021-10-12 08:04] seanlip commented on #1599
Removing @aggarwalpulkit596 due to inactivity.

[2021-10-12 08:04] seanlip commented on #2250
Removing @aggarwalpulkit596 due to inactivity.

[2021-10-12 14:43] yash10019coder opened #3922 "Introduce ProfileRenameFragment"
Creating a ProfileRenameFragment in the profile folder of the app module so that we can utilize the big tablet screen size by opening the fragment in a navhost fragment
This issue is a sub-issue of #3241

[2021-10-12 15:47] viktoriias commented on #3809
@rawlin Any updates in this?

[2021-10-12 17:42] #3912 closed, assigned to nobody

[2021-10-12 18:23] bkaur-bkj commented on #3903
@rt4914 I would like to work on this issue.

[2021-10-12 20:34] BenHenning opened #3923 "Introduce automatic changelog computation"
One of the steps necessary in introducing an automated release pipeline is computing release notes/the changelog automatically. Fortunately, GitHub released this as a feature in beta (see https://github.blog/2021-10-04-beta-github-releases-improving-release-experience/ and https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes). Unfortunately, it

[2021-10-12 20:36] BenHenning commented on #3923
Also to clarify, I think the main needs we have are:
1. Outlining the key features & bug fixes in a release (these will actually become the changelog for Play Store)
2. Enumerating all changes that went into the release
3. Enumerating all the contributors for a release
4. Enumerating all contributors for whom this is their first contributed release
5. Creating a new discussion post and/or email to

[2021-10-12 20:40] BenHenning commented on #3916
Got it. I suspect this was some sort of caching issue with Gradle @bkaur-bkj. Glad that it's working now--thanks for checking again!

[2021-10-12 20:40] #3916 closed, assigned to rt4914, BenHenning

[2021-10-12 20:44] BenHenning commented on #3759
We don't have a ton of data yet, but the last few develop runs seem really promising: https://github.com/oppia/oppia-android/commits/develop. Closing this as working.

[2021-10-12 20:45] BenHenning commented on #2844
#3759 seems fixed now.

StateFragmentTest and StateFragmentLocalTest do have some issues even in JDK 9. See the most recent flake for local test: https://github.com/oppia/oppia-android/runs/3873787910.

[code]

I think this is related to https://github.com/robolectric/robolectric/issues/3202 but I'm not certain yet.

[2021-10-12 20:46] BenHenning commented on #2844
Also interestingly, this seems to only happen for Bazel runs & not Gradle.

[2021-10-12 20:49] BenHenning commented on #2844
I'll probably need to dig into this by reproing locally & identify whether it's the same as the Robolectric issue above (since there are some possible mitigations listed in that thread which we could throw in our shared .bazelrc).

[2021-10-12 20:52] BenHenning commented on #3371
I have a slight suspicion that we need to resolve #3024 before this since the above issue & PR linked from that issue implied that there may be an aapt2 incompatibility that gets resolved in 30.+.

[2021-10-12 20:56] BenHenning commented on #3024
https://github.com/bazelbuild/bazel/pull/13738 means we can update our min Bazel version to 4.2.0 & probably drop our custom Android tools repository, but we'll need to update build-tools pin to 30.0.0. It's a start for this issue, but doesn't fully address the issue since Bazel still needs to fix the D8 compatibility issue.

This might help with #3371 though.

[2021-10-12 22:12] BenHenning opened #3924 "User feedback reporting should enforce IETF BCP 47 language formatting"
User feedback reporting currently collects language information for the app audio, app content, and app strings (which are based on the device system's language).

Language locales used [here](https://github.com/oppia/oppia-android/blob/91c88b9/model/src/main/proto/feedback_reporting.proto#L281-L289) uses the device's system language and should be the `app_string_language_definition` (see [this co

[2021-10-12 22:12] BenHenning commented on #3924
@jcqli can you please fill this in?

[2021-10-12 22:17] BenHenning commented on #3924
Some thoughts per discussion:
- We should be tracking three languages for locale context: app string, content string, and audio (all of which are enums)
- App string enum can be undefined (unspecified), so we should include an IETF BCP 47 language code for app string
- Backend validation & API needs to be updated per the above
- Backend model probably just needs to store the language enum strings

[2021-10-12 22:19] BenHenning commented on #3924
Actually, I think we can just shove this into the locale context: https://github.com/oppia/oppia-android/blob/develop/model/src/main/proto/languages.proto#L76.

Edit: actually, we should probably include one of these for each of the three language types: https://github.com/oppia/oppia-android/blob/develop/model/src/main/proto/languages.proto#L196.

Edit2: to further simplify, let's just use Langua

[2021-10-13 08:32] shubhamji88 commented on #3907
Could I refer: https://developer.android.com/codelabs/kotlin-android-training-design-for-everyone#4
to know more about this, then proceed or can you suggest some other implementation.

[2021-10-13 11:30] shubhamji88 commented on #3907
please assign it to me, i found that the congratulation message is a text view not a toast which is INVISIBLE in question_player_fragment.xml and to show congratulation it we are just making it VISIBLE with animations along with KonfettiView.
is there anything else that i am missing ?

[2021-10-13 20:42] JishnuGoyal commented on #3902
May I work on this?

[2021-10-14 06:29] BenHenning opened #3926 "Integrate with GitHub merge queues"
From core maintainers chat:

https://github.com/github/roadmap/issues/272 could help solve two different problems that are particularly useful for us:
1. It eliminates cases where two subsequent PRs together cause a CI breakage without conflicts preventing the second PR from being merged
2. (Hopefully) If GitHub adds an event for entering the merge queue, we might be able to split off expensive or

[2021-10-14 06:41] #3762 closed, assigned to darkmat13r

[2021-10-14 07:19] rt4914 commented on #3902
@JishnuGoyal Thanks for showing interest. Please, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on. Also pick issues from [here](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22).

[2021-10-14 10:28] rt4914 opened #3927 "[A11Y] Feedback item should be atleast 48dp in size"
While working on #3901 I had to `DisableAccessibilityChecks` on one test case because the test case was failing as shown below:
<img width="500" alt="Screenshot 2021-10-14 at 3 44 29 PM" src="https://user-images.githubusercontent.com/9396084/137300382-d69508c5-17bf-4c49-bbe3-45b4c37e7249.png">

Feedback item should be atleast 48dp in size. This is needed because Feedback items can have clickable c

[2021-10-14 17:07] BenHenning opened #3930 "Greeting text on home screen should be a single TextView"
For localization, it's hard to make sure that the reversed text for each of the two TextViews that comprise the home screen greeting correctly match the flipped layout that Android forms. This is *mostly* correct today, but it would be more correct if we could combine the strings together. The main challenge has been making sure that:
1. That the line properly extends the whole length of the TextV

[2021-10-14 17:24] rt4914 commented on #3902
Closing this for #3930

[2021-10-14 17:24] #3902 closed, assigned to nobody

[2021-10-14 18:20] #3564 closed, assigned to bkaur-bkj

[2021-10-15 03:17] BenHenning opened #3933 "Migrate to Kotlin-specific proto generation [Blocked: #2747]"
Protobuf now supports outputting Kotlin-specific proto classes which have a generally nicer, lighterweight, and more idiomatic syntax for Kotlin uses than their Java counterparts.

https://github.com/grpc/grpc-kotlin/pull/290 demonstrates integrating with the new libraries, and https://developers.google.com/protocol-buffers/docs/kotlintutorial has details on the new syntax (which seems similar to

[2021-10-15 17:35] jcqli commented on #3924
Done!

[2021-10-15 20:19] JishnuGoyal commented on #3573
May I work on this?

[2021-10-16 01:23] veena14cs opened #3934 "Description text is left aligned in RTL"
Continue exploration description text and Topic description text is left-aligned In RTL. Make it RTL compatible.

![image](https://user-images.githubusercontent.com/16301028/137568120-c15a5c41-62a0-4da6-8590-f0c0d327160f.png)
![image](https://user-images.githubusercontent.com/16301028/137568131-41ddb85f-0e9d-462b-babc-162435c14c39.png)
<img width="144" alt="Screenshot_1634883729" src="https://user

[2021-10-16 08:19] BenHenning opened #3937 "ViewEventLogsViewModel depends on a debug-only dependency"
ViewEventLogsViewModel depends on DebugEventLogger, but it really should depend on an optional DebugEventLogger since otherwise we can't build a prod version of the app.

[2021-10-16 08:20] BenHenning opened #3938 "Significant & inconsistent SVG rendering in multiple Android versions"
Current issues:

| OS                   | Flavor          | SVG results (native rendering)                                            | SVG results (forced to bitmap rendering) |
|----------------------|-----------------|---------------------------------------------------------|------------------------------------------|
| KitKat (SDK 19)      | KitKat (alpha)  | Fails: SVGs don't render

[2021-10-16 08:21] BenHenning opened #3939 "KitKat version of the app crashes when clicking on the 'Help' menu, and when reopening after app close"
See title.

Note that for the reopening, the app needs to be swiped away in recents to trigger the issue.

[2021-10-16 08:34] JishnuGoyal commented on #3573
Kindly assign this to me if no one is working on it

[2021-10-16 11:41] #3574 closed, assigned to MohitGupta121

[2021-10-16 16:26] MohitGupta121 commented on #3567
@rt4914  can you please review my PR for this issue #3942

[2021-10-18 14:22] MohitGupta121 commented on #3567
@rt4914 can you please review my PR for this issue #3942

[2021-10-18 16:06] mahmood199 commented on #3559
Can you assign this to me?

[2021-10-18 18:37] shakivhussain commented on #3897
I would like to work on this bug, please assign me.

[2021-10-18 19:14] rt4914 commented on #3897
@shakivhussain Thanks for showing interest. Please, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.
Also, once above steps are done please pick issues from [here](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassign

[2021-10-18 19:34] rt4914 commented on #3907
@shubhamji88 Actually `Congratulations` is shown in `question_player_fragment.xml` as well as `state_player_fragment.xml or exploration_player_fragment (one of these)`.

We don't want to change the UI. We just want to make sure that as soon as the `Congratualtions` is displayed the `Talkback app` or any other screen-reader can read it. Currently `Talkback` is unable to read it.

@shubhamji88 Befor

[2021-10-18 19:45] JishnuGoyal commented on #3573
![image](https://user-images.githubusercontent.com/64526117/137796601-e125c68f-e68e-4c55-b88a-3653aa4b5775.png)

Just to confirm, is this the view we are talking about?

[2021-10-19 02:47] BenHenning opened #3946 "Solutions seem to immediately appear without prompting"
**Describe the bug**
When playing through a lesson in the alpha MR3 build, it was discovered that solutions seem to appear after the first hint is revealed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a lesson (e.g. Place Values 1)
2. Trigger a hint to show (e.g. submit 2 wrong answers)
3. Open the hint dialog & reveal the hint
4. Close the hint dialog & reopen it
5. Observe that th

[2021-10-19 02:55] #3278 closed, assigned to yash10019coder

[2021-10-19 03:28] #3809 closed, assigned to bkaur-bkj

[2021-10-19 03:51] #3775 closed, assigned to nobody

[2021-10-19 03:55] BenHenning commented on #3924
Thanks!

On Fri, Oct 15, 2021 at 10:35 AM jcqli ***@***.***> wrote:

[2021-10-19 06:46] MohitGupta121 commented on #3566
@rt4914 can you please assign me this issue.
I want to work on this.

[2021-10-19 12:24] JishnuGoyal commented on #3573
I have tried to search a lot, I'm not able to find which view is section_title.xml. Please provide a screenshot @rt4914

[2021-10-19 15:54] shubhamji88 commented on #3907
i tried to use visibility GONE and VISIBLE but it didn't worked...thinking of some other solution

[2021-10-19 16:11] rt4914 commented on #3573
@JishnuGoyal This corresponds to following file:
https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/section_title.xml

**Steps to navigate**
1. Play a couple of explorations like `What is a Fraction?`, `Test Exploration`, etc.
2. Now go to home screen you will see `View All` button below `Good after/evening, etc ` text.
3. This will open `RecentlyPlayedActivity`
4. In this

[2021-10-19 17:45] rt4914 commented on #3283
@ayush0402 Unassiging you this as you are working on Dark Mode project.

[2021-10-19 18:43] JishnuGoyal commented on #3573
Thank you so much

[2021-10-19 22:56] srushtirk opened #3949 "Increase the app config to 50000 events across all profiles"
**Is your feature request related to a problem? Please describe.**
We need a data storage capacity of 50000 events across all profiles in the app (and the device) to successfully save the logs of offline data collected in sessions for the Kenya Research Study. Current data storage capacity for 5000 events and 350 KB storage space is not sufficient for data collection and storage in the absence of

[2021-10-20 14:09] bkaur-bkj commented on #3903
@rt4914 I am a bit confused about this issue as I opened the app screen and found that the EditText already has a hint so what needs to be done?

![WhatsApp Image 2021-10-20 at 7 37 54 PM](https://user-images.githubusercontent.com/64087572/138109229-8c591d69-0af4-47ce-b9e4-a788ea9be87a.jpeg)

[2021-10-20 14:10] aadityaguptaa commented on #3258
okay nvm, I just had to rebuild the project

[2021-10-20 15:40] shakivhussain commented on #3897
All done @rt4914  sir , Please assign me.

[2021-10-20 19:04] BenHenning opened #3954 "Add networking support for KitKat devices"
**Is your feature request related to a problem? Please describe.**
Per https://medium.com/square-corner-blog/okhttp-3-13-requires-android-5-818bb78d07ce, OkHttp dropped support for KitKat devices due to the need to upgrade to TLS 1.2 and compatibility problems with KitKat & TLS 1.2. #3910 disabled OkHttp in KitKat builds to work around this issue.

**Describe the solution you'd like**
We should lo

[2021-10-20 19:08] BenHenning commented on #3954
From a technical perspective, we have a few choices:
- Try to make OkHttp work (https://medium.com/tech-quizlet/working-with-tls-1-2-on-android-4-4-and-lower-f4f5205629a & https://github.com/square/okhttp/issues/2372) provide a lot of context on how to do this, but it's basically one or more of the following (per https://github.com/square/okhttp/issues/2372#issuecomment-624927904):
  - Use Google

[2021-10-20 19:10] BenHenning commented on #3954
Also: we will need to use OkHttp 3.12.12+ (https://github.com/square/okhttp/issues/4481#issuecomment-637032983 -- see https://github.com/square/okhttp/tree/okhttp_3.12.x). The blog indicates this branch will only be maintained until EOY 2020, but it seems like there are still changes. This presents some risk since it's not clear how long the branch will stick around.

[2021-10-20 22:28] BenHenning commented on #3946
Note that this seems to repro when a correct answer isn't present, which only happens/is possible with textproto today. I don't think dev assets can trigger this, so I'm adding a hint/solution in the prototype exploration to specifically demonstrate this issue.

[2021-10-20 23:36] BenHenning commented on #3086
Going ahead and closing this since I don't think there's actually a vulnerability here. Please follow up @justdvnsh if you have any further thoughts or questions on this.

Thanks again for filing this issue!

[2021-10-20 23:36] #3086 closed, assigned to BenHenning

[2021-10-20 23:37] BenHenning commented on #1724
This has been resolved by @Sparsh1212 as part of GSoC 2021 (see #3290).

[2021-10-20 23:37] #1724 closed, assigned to BenHenning

[2021-10-20 23:48] BenHenning commented on #1050
Note that this is becoming more of an issue now that we're launching more lessons. Solutions are currently broken for numeric interaction questions (see #3955 for an issue that came up partly because of the lack of generic type handling in solutions, and #3956 which is directly related to this issue).

[2021-10-20 23:53] BenHenning opened #3956 "Wrong solution shown for numeric expression hints"
**Describe the bug**
The wrong hint is shown when trying to reveal the solution for a state that uses the numeric input interaction.

**To Reproduce**
Steps to reproduce the behavior:
1. Download (or build) & install alpha MR3 (0.6)
2. Navigate to the Place Values topic
3. Play through the first lesson until the card that starts with '"Exactly! Nic answered.'
4. Trigger the solution to show up (an

[2021-10-21 02:59] adarrssh commented on #3901
Is this issue still open?

[2021-10-21 07:29] #3900 closed, assigned to bkaur-bkj

[2021-10-21 12:27] veena14cs opened #3958 "Required field label has to be right aligned in RTL."
In Add profile screen required field has to be right aligned in RTL.

<img width="144" alt="Screenshot_1634864192" src="https://user-images.githubusercontent.com/16301028/138276849-ab6f46b3-4055-403b-8ac4-e601d2f2446e.png">

[2021-10-21 12:43] shakivhussain commented on #3565
I would like to work on this , please assign me.

[2021-10-21 12:44] shakivhussain commented on #3563
I would like to work on this, please assign me.

[2021-10-21 18:38] BenHenning commented on #3939
Also: crashes when reopening a profile after crash.

Edit: after opening a profile always (except the first open).

[2021-10-21 18:49] BenHenning commented on #3939
Actually, I'm not sure what's going on here. I can't seem to get the app to open anymore, so maybe something became unstable in the system itself.

[2021-10-21 18:52] BenHenning commented on #3939
A full reinstall fixed it, but even an emulator restart didn't. I have no clue what was happening there; will need to dig into it more.

[2021-10-21 19:02] BenHenning commented on #3939
Interestingly, this is tied to Delegates trying to access something not fully in the dex files:

[code]

Per https://youtrack.jetbrains.com/issue/KT-17034 it seems Delegates uses KProperty internally, which might be problematic in terms of both dex code needed & reflection (though the latter would be more of a Proguard issue, and we haven't seen problems on alpha builds). Will try to replace the D

[2021-10-21 19:06] rt4914 commented on #3903
@bkaur-bkj Thanks. Quite weird. But you are actually correct. The hint is available in json file. https://github.com/oppia/oppia-android/blob/63adb8b66242626083cbc3db65ac09915fd579b3/domain/src/main/assets/questions.json#L171

Closing this issue.

[2021-10-21 19:06] #3903 closed, assigned to bkaur-bkj

[2021-10-21 19:07] rt4914 commented on #3901
@adarrssh As mention above please pick issues from [here](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22).

Also I am currently working on this.

[2021-10-21 19:12] BenHenning commented on #3939
Adding kotlin/LazyKt$WhenMappings.class to kitkat_main_dex_class_list.txt fixes the crash above, but leads to a new one:

[code]

I wonder if this is a reflection thing...

Edit: Okay, something weird is going on here. LazyThreadSafetyMode has a placeholder in classes.dex, but the full definition in classes2.dex. I don't understand why the dexer is adding placeholders & I suspect it's the reason f

[2021-10-21 19:59] BenHenning commented on #3939
https://issuetracker.google.com/issues/131100011 is another possibility, but it's hard for me to know if this is happening with the Kotlin functions. I'm actually quite uncomfortable with this dexing inconsistency, but I think if we can at least get the app working then it should be a good step in the right direction.

Replacing Delegates with a standard var seems to avoid the crash (and per https

[2021-10-21 20:03] BenHenning commented on #3939
Interestingly, the crash from reopening seems to only occur if the app previous crashed. My current repro steps:
1. Open the app & navigate to home screen (fresh install)
2. Open developer menu & force a crash
3. After the app reopens (sometimes it will crash at this step), swipe away the app from recents & reopen
4. Navigate to the home screen
5. Experience crash (sometimes it doesn't happen)

Wa

[2021-10-21 20:05] BenHenning commented on #3939
Ah, there is a stack trace but it's not sent to error logs. This is a native crash happening:

[code]

[2021-10-21 20:06] BenHenning commented on #3939
Looks like a different repro for #3887 which is a known issue. The sometimes-crash-on-restart is definitely not good, but it seems to generally go away after a bit.

[2021-10-21 20:21] BenHenning commented on #3958
Nice catch @veena14cs. Thanks for filing this & following up with a fix.

[2021-10-21 20:22] #3946 closed, assigned to BenHenning

[2021-10-21 20:23] BenHenning commented on #3939
The crash doesn't seem to repro when using production assets, so I strongly suspect this second crash is exactly #3887.

[2021-10-21 20:24] BenHenning commented on #3887
Note: per #3939 this is also observed as happening on occasional reopens (sometimes consistently back-to-back).

That issue also includes a native trace that might be helpful in debugging or at least providing a bit more context.

[2021-10-21 20:28] BenHenning opened #3959 "Bump version codes since a rebuild of 0.6 is needed"
Per https://github.com/oppia/oppia-android/pulls?q=is%3Apr+label%3A%22PR%3A+Cherrypick+requested%22+milestone%3A%22Alpha+MR3%22+ there are PRs that need to be cherry-picked into release-0.6. Thus, we need to bump version codes so that a rebuild can occur.

[2021-10-21 20:34] BenHenning commented on #3938
This also repros in #3910. I suspect I missed it since I might not have tried loading production assets in the KitKat build (though it's also possible that there's a flake here).

[2021-10-21 20:45] BenHenning opened #3960 "QuestionAssessmentProgressControllerTest regressed"
Per a conversation with @TheRealJessicaLi it seems #3796 regressed some tests in QuestionAssessmentProgressControllerTest due to unnoticed changes to some of the json files. See https://github.com/oppia/oppia-android/pull/3796#issuecomment-931178690 for context.

Per Jessica, it seems that one of the misconception IDs was broken in questions.json:

https://github.com/oppia/oppia-android/pull/3796/

[2021-10-21 20:46] BenHenning commented on #3938
Aha, this might be an SVG thing (which would explain the inconsistency with thumbnails loading in developer mode since those generally rely on drawables). Some output that I saw:

[code]

Interestingly, images in lessons mostly seem to work, however that might be because some are still using PNG.

[2021-10-21 20:51] BenHenning commented on #3938
Per https://github.com/oppia/androidsvg/blob/master/androidsvg/build.gradle#L6 AndroidSVG claims to have backward compatibility far before KitKat, but it seems there might be actual incompatibilities here.

https://developer.android.com/reference/android/graphics/Paint#setFontVariationSettings(java.lang.String) is an API 26 method. Oddly, I don't actually see a reference to that anywhere in Androi

[2021-10-21 20:52] BenHenning commented on #3938
Aha: https://github.com/BigBadaboom/androidsvg/blob/master/androidsvg/src/main/java/com/caverock/androidsvg/utils/SVGAndroidRenderer.java#L1610.

Edit: Though, this is a bit odd. Per https://github.com/oppia/androidsvg/blob/master/androidsvg/src/main/java/com/caverock/androidsvg/utils/SVGAndroidRenderer.java#L123 it shouldn't even be executing this codepath since KitKat is running. Maybe this is j

[2021-10-21 20:58] BenHenning commented on #3938
Also, I can't be sure but I think we can rule out Glide being a root cause here since images are loading fine with thumbnails (per the Glide crash that we're seeing: #3887). I'm not positive Glide isn't a factor, but it seems more likely with current evidence that this is something in AndroidSVG.

[2021-10-21 21:02] BenHenning commented on #3938
Interesting. This repros on Lollipop, so it's not KitKat-specific. Trying on Marshmallow now.

[2021-10-21 21:35] BenHenning commented on #3938
Ah, this is definitely a problem. Marshmallow loads the SVGs, but has serious issues with rendering being way off:

![image](https://user-images.githubusercontent.com/12983742/138358523-ef6ef8a8-df03-42ce-a219-0c097d5f7cd4.png)

Oddly, this seems tied to the screenspace (it seems like some coordinate translation issue is happening):

https://user-images.githubusercontent.com/12983742/138360226-c92

[2021-10-21 22:44] BenHenning commented on #3938
Aha. On Marshmallow, the pre-rendered SVGs (for image blurring) actually seem to render correctly:

![image](https://user-images.githubusercontent.com/12983742/138366902-525c91b0-2549-4605-ad13-565c50a4588a.png)

In order for that to work, a large part of the image pipeline must be working:
- Loading from disk/internet
- Parsing SVG
- Converting SVG to Picture*
- Rendering Picture to drawable*

*S

[2021-10-21 22:51] BenHenning commented on #3938
Hmm. I'm not sure exactly why this is happening on older versions, and probably is something that would require a deeper investigation. A reasonable stop-gap might be to lock SVG-based rendering behind an SDK check and instead use the built-in bitmap conversion we already have (which might also perform better for older devices).

[2021-10-21 23:10] BenHenning commented on #3938
Confirming that bitmap rendering is a functional step-in for the missing functionality here. Given that it's a very viable workaround (and something we were considering adding as a caching/efficiency improvement in the future), I'm inclined to use it as the main solution & file TODOs to dig into the OS-specific issues in the future.

Interestingly, this discovery indicates that something very spec

[2021-10-21 23:30] BenHenning opened #3961 "Fix native picture rendering issue on Lollipop and Marshmallow devices"
#3938 has the full context of this issue, but the summary is: SVGs do not properly render natively in Lollipop and Marshmallow versions of Android (as verified using an emulator with production assets).

This issue is tracking investigating the root causes for these rendering issues, and to determine if there are viable solutions. The current workaround is to render the pictures to bitmaps and ren

[2021-10-21 23:46] #3905 closed, assigned to rt4914

[2021-10-21 23:52] BenHenning opened #3962 "Add Proguard map file to AABs"
AABs can include Proguard map files directly to simplify artifact storage & uploading to Play Store. It'd be nice to add this functionality to our own AAB build rules.

[2021-10-22 01:24] #3959 closed, assigned to BenHenning

[2021-10-22 03:26] #3937 closed, assigned to BenHenning

[2021-10-22 08:36] #1824 closed, assigned to viktoriias

[2021-10-22 08:38] #3904 closed, assigned to rt4914

[2021-10-24 05:27] MohitGupta121 commented on #3566
@rt4914 bro I make PR for that, can you please review my pull request #3950

[2021-10-24 07:53] bkaur-bkj commented on #3898
@rt4914 I would like to work on this issue  but I have a doubt on what should be the correct talkback output as we have mentioned the chapter name "What is a fraction" twice in text so it will obviously be repeated in talkback output

[2021-10-25 02:55] #3949 closed, assigned to BenHenning

[2021-10-25 17:54] yash10019coder opened #3968 "Introduce ProfileResetPinFragment"
Creating a ProfileResetPinFragment in the profile folder of the app module so that we can utilize the big tablet screen size by opening the fragment in a navhost fragment
This issue is a sub-issue of #3241

[2021-10-25 18:00] #3960 closed, assigned to BenHenning

[2021-10-25 20:53] #3939 closed, assigned to BenHenning

[2021-10-25 20:53] #3938 closed, assigned to BenHenning

[2021-10-25 20:57] BenHenning commented on #3789
The last ~10 develop commits seem to not run into this issue (they seem to mostly be hitting this SEGSEGV described in #2844 for StateFragmentTest/StateFragmentLocalTest. PRs I've been working on have also not hit this (in a way that results in a CI failure, as intended by this PR). Closing since the desired outcome seems to have been achieved.

[2021-10-25 20:57] #3789 closed, assigned to BenHenning

[2021-10-26 04:03] BenHenning opened #3970 "StateFragment(Local)Test sometimes fail with SIGSEGV"
Both StateFragmentTest and StateFragmentLocalTest occasionally crash the JVM with a SIGSEGV (see #2844 for context). This is specifically worse when running the tests on memory-constrained systems, or simultaneously to many other tests. It's not clear where this crash is coming from, but #3969 introduced a mitigation to work around it such that CI runs don't get hung up on it.

This issue is track

[2021-10-26 04:22] BenHenning commented on #3709
This is related to supporting the notion of "strict deps" or "strict dependencies" (partly leaving this comment so that my future search queries work better when trying to find this issue).

[2021-10-26 19:42] veena14cs opened #3971 "Ensure all TextViews have style attribute set."
Use the style/theme for all the TextViews, to centrally manage the text alignment for RTL/LTR where the texts are aligned to extreme right or left and the texts that are center-aligned.

[2021-10-26 20:23] BenHenning opened #3972 "Add CI check to ensure all TextViews have a style check"
Related issue: #3971. We need to make sure that TextViews have a centrally managed style set so that RTL/LTR settings can be properly managed. To do this, we need a CI check that runs a script which parses all layout files to ensure that TextView elements have a style set that corresponds to a local codebase style (i.e. uses ``@style/``).

For reference, I suggest looking at the manifest transform

[2021-10-26 20:23] BenHenning commented on #3972
/cc @veena14cs

[2021-10-27 20:00] #3919 closed, assigned to nobody

[2021-10-27 20:00] #3934 closed, assigned to veena14cs

[2021-10-27 20:00] #3958 closed, assigned to veena14cs

[2021-10-27 20:04] BenHenning commented on #3773
@yash10019coder assigning this to you since you have a PR out to address this.

[2021-10-27 21:07] #3962 closed, assigned to BenHenning

[2021-10-27 21:45] BenHenning opened #3974 "Spin new release 0.6 RC branch"
We need a new RC branch to fix identified blockers, and to prepare for the final release. The following PRs should be cherry-picked:
- #3973
- #3964
- #3963
- #3957
- #3955

[2021-10-28 06:43] Arjupta commented on #3565
@shakivhussain assigned it to you

[2021-10-28 17:58] shakivhussain commented on #3897
I would like to work on this , please assign me.

[2021-10-30 06:42] #3332 closed, assigned to yash10019coder

[2021-10-30 07:12] BenHenning commented on #3962
Confirming that this works with the Play Store.

[2021-10-30 08:33] BenHenning commented on #3974
New RC branch has been spun, pushed to Play Store, and verified. All issues targeted above have been cherry-picked & verified into the new RC.

[2021-10-30 08:34] #3974 closed, assigned to BenHenning

[2021-10-31 06:32] shivambh12 commented on #3576
can I work on this?

[2021-10-31 10:04] #3826 closed, assigned to coder2699

[2021-10-31 21:27] ayush0402 opened #3978 "Removing unused colors from colors.xml [Dark Mode Implementation]"
Removing unused colors from colors.xml file before proceeding over to next PRs for Dark Mode Implementation.

[2021-11-01 05:13] shivambh12 commented on #3576
Can,I work on this?

[2021-11-01 16:37] priyatanu commented on #3602
@rt4914 I want to work on this WalkthroughActivity activity

[2021-11-01 18:38] BenHenning commented on #3897
Hi @shakivhussain. It looks like #3565 has already been assigned to you. I suggest working to finish that up, first, before taking on another item.

[2021-11-02 00:33] BenHenning commented on #3933
FWIW #2747 might not block after #2173 (or one of its eventual prerequisite PRs) is merged since I'm looking to remove the .proto genrules entirely which brings our proto handling in Bazel very close to being in-line with Gradle.

That being said, this is a low-priority effort considering that we have a lot of important work items in-flight at the moment.

[2021-11-02 15:31] rt4914 commented on #3898
@bkaur-bkj Yes you are correct. We can close this issue. Thanks a lot.

[2021-11-02 15:31] #3898 closed, assigned to nobody

[2021-11-03 01:44] BenHenning opened #3981 "Update target API to SDK 30"
Play now requires us to upgrade to SDK 30 before we can complete any more releases.

[2021-11-03 05:34] #3827 closed, assigned to coder2699

[2021-11-03 22:09] rt4914 commented on #3602
@priyatanu Sure. Thanks.

[2021-11-04 05:35] coder2699 commented on #3825
@srushtirk do we have an existing activity/fragment for the same & only linking part is left? or this needs to be implemented from scratch?

[2021-11-04 18:45] BenHenning commented on #3825
Good question @coder2699. We're actually currently discussing this as part of the design of trying to figure out how to present the account's phone number/email address (once those are included in the app). This is an ongoing discussion with @mschanteltc that needs to be determined before we can make progress on this issue.

[2021-11-04 19:03] BenHenning commented on #3855
De-assigning since #3884 was auto-closed from being stale. @justdvnsh if you're still working on this, please let us know and we can reassign this & reopen the PR.

[2021-11-04 22:08] #3978 closed, assigned to ayush0402

[2021-11-05 16:38] kritigupta45 commented on #3584
I would like to work on this issue, kindly assign it to me.

[2021-11-07 09:30] priyatanu commented on #3602
Hi @rt4914 , @BenHenning , kindly review my PR - https://github.com/oppia/oppia-android/pull/3983

[2021-11-08 13:24] veena14cs opened #3985 "Developer options section need support for RTL"
Developer options screens are not aligned correctly when device is in RTL.
<img width="144" alt="Screenshot_1636377992" src="https://user-images.githubusercontent.com/16301028/140750040-627ae828-bbe2-4e6f-acff-060de1ee3066.png">

[2021-11-09 10:24] bkaur-bkj commented on #3899
@rt4914 would like to discuss and work on this issue

[2021-11-09 11:03] vinitamurthi opened #3990 "Move some of the packages in the app module into app/utility"
The following packages need to be moved into app/utility in order to make code ownership a little easier:

- [ ] app/activity
- [ ] app/customview
- [ ] app/databinding
- [ ] app/fragment
- [ ] app/shim
- [ ] app/viewmodel
- [ ] app/parser

[2021-11-09 16:27] #3985 closed, assigned to veena14cs

[2021-11-09 16:35] rt4914 commented on #3899
Reference from @viktoriias : https://developer.android.com/reference/android/view/accessibility/AccessibilityEventSource

[2021-11-09 17:29] coder2699 commented on #3990
@vinitamurthi I want to work on this, shall I assign it to myself?

[2021-11-09 20:31] #3566 closed, assigned to MohitGupta121

[2021-11-11 16:52] Arjupta commented on #3565
@shakivhussain there were no updates from your side. If you are stuck over anything you can ask here in the comments.

[2021-11-11 16:54] Arjupta commented on #3576
@shivambh12 any updates over the issue?

[2021-11-11 19:45] JishnuGoyal opened #3993 ""View All" button not visible on Tablet in Landscape Mode"
**Describe the bug**
The `View All` button which navigates user to "RecentPlayedActivity" is not visible on Tablet in landscape mode

**To Reproduce**
Steps to reproduce the behavior:
1. After 'Login screen -> navigate to home page where different stories are displayed will be visible'
2. You can see "View All" button below greeting message.
3. When you use a tablet, this button won't be visible i

[2021-11-11 19:52] JishnuGoyal commented on #3993
May I work on this?

[2021-11-12 00:20] BenHenning commented on #3899
@rt4914 can you clarify what the specific issues are & any recommendations that you may have for what a better solution might look like? Neither were clear to me from the main issue comment.

[2021-11-12 04:11] bkaur-bkj commented on #3899
@BenHenning sir Upto what I understood and discussed with @rt4914 sir, the issue is that when we are on screen 1 of onboarding and move to screen 2 through next button the focus still lies on next button itself for the second page of onboarding and it does not read any content shown on the screen(fragment), thus it makes difficult for a user to know the screen content as the screen just reads "nex

[2021-11-12 13:15] bkaur-bkj commented on #3901
@rt4914 sir the PR above #3928 seems to actually have solved this issue of removing blank space, but the PR is closed now So are you working on this issue?

[2021-11-12 16:23] jashasweejena commented on #3462
Hey @rt4914,

As you have mentioned in the issue description, the toolbar has to be moved into `audio_language_activity.xml`. But I am facing an issue while moving the toolbar into the Activity. In the `AudioLanguageFragmentPresenter.kt` file, there is a click listener on the toolbar which gets a value from `LanguageSelectionViewModel`. I am pasting the piece of code below for your reference.

[co

[2021-11-13 00:14] BenHenning commented on #3993
Nice find @JishnuGoyal. Can you confirm whether the 'View All' button in this context shows up for a handset (i.e. non-tablet) in landscape mode? It'd be helpful to know whether this issue is isolated to tablet landscape or if it's generally landscape.

@rt4914 is there anything special about tablet landscape that would explain why 'view all' is hidden, or is this a bug?

@JishnuGoyal once the abo

[2021-11-13 00:29] BenHenning commented on #3899
Thanks @bkaur-bkj. Continuing the discussion on the PR to keep it one place.

[2021-11-13 05:51] JishnuGoyal commented on #3993
Yes, the `View All` button is visible on a mobile device in portrait as well as landscape mode. Only on a tablet, particularly in landscape mode, it is not visible. Thanks. @BenHenning

[2021-11-13 07:02] MaskedCarrot commented on #3993
@BenHenning @JishnuGoyal The "view all" button is visible once scrolling is enabled (i.e. it is visible for three cards in tablet portrait mode and four cards in tablet landscape mode)

[2021-11-14 18:48] JishnuGoyal commented on #3993
When in landscape mode, I am not able to see the `View all` button at all. How exactly can I navigate to `RecentlyPlayedActivity` from here?

When you say "scrolling enabled", what exactly does it mean? It would be great if you could help to reproduce the behaviour you mentioned or provide a screenshot. Thanks.
@MaskedCarrot

[2021-11-15 12:22] shivambh12 commented on #3576
@ARJUPTA  I was out of station for some days. I will generate PR soon.

[2021-11-15 16:26] MaskedCarrot commented on #3993
@JishnuGoyal Here are the steps to reproduce this
1. Create and open a new profile
2. play one lesson from the "first test topic"
3. see view all button appears for tablet in portrait mode
4. play one lesson from the "second test topic"
5. see view all button appears for tablet landscape mode

[2021-11-15 20:06] #3573 closed, assigned to JishnuGoyal

[2021-11-16 05:40] vinitamurthi commented on #3990
Hi, actually we are pausing this effort until we have a better idea on how to restructure the codebase. Closing this bug till then!

[2021-11-16 05:40] #3990 closed, assigned to nobody

[2021-11-16 16:31] seanlip commented on #3620
@FareesHussain will be working on this (though per discussion in Android dev workflow team we aren't planning to add sections on "Optional vs. required checks" (since we want all checks to be required) and "How to run full test suite for Bazel" (since this should be auto-handled by CI)).

[2021-11-16 19:22] JishnuGoyal commented on #3993
@MaskedCarrot I  got it 👍. Thanks for elaborating. I'll close this issue :)

[2021-11-16 19:22] #3993 closed, assigned to nobody

[2021-11-17 01:11] BenHenning commented on #3993
Thanks @MaskedCarrot for the additional context & @JishnuGoyal for filing this.

[2021-11-17 01:15] BenHenning commented on #3620
@seanlip I suggest including instructions for how to run the whole test suite along with the base instructions running individual Bazel tests (since it's not much extra), but we can advise to rely on CI for the whole test suite to identify failing tests since it's likely faster than running them locally.

That being said, one bit of trickiness here is that our CI only runs an incremental test flow

[2021-11-17 04:42] rt4914 commented on #3462
@jashasweejena You can create a interface which will be listening for value in activity but will get used in the fragment. Whenever the value changes using that interface send that information back to activity and that way you will always have a value in the activity.

[2021-11-17 12:43] jashasweejena commented on #3462
Hey @rt4914, do you want me to pass an interface's instance (callback function) to the fragment from the activity, and when the value of `languageSelectionViewModel.selectedLanguage` changes, we call the callback method on the passed instance from the fragment so that it notifies the activity of the change?

[2021-11-17 13:00] jashasweejena commented on #3462
@rt4914, I think I found another solution to the problem. I was just going through the code and I found this piece of code being called in **AudioLanguageFragmentPresenter**

[code]
Clearly, in the second condition in the above _when_ block, the language is getting set in the **AudioLanguageActivityPresenter**.

Hence, I don't think there is any need for callback interfaces/getting references to t

[2021-11-17 17:01] FareesHussain commented on #3563
@shakivhussain are you available to pick this up?

[2021-11-17 17:53] ShreyanshJain2674 commented on #3542
I am working on it !!

[2021-11-17 23:14] BenHenning commented on #3773
This is an open issue to work on (#3783 is a good place to start--please also look at the comments).

This is actually a rather important issue since it will affect new contributors, so we'd really appreciate help on this one. :)

[2021-11-18 05:53] #2355 closed, assigned to ayush0402

[2021-11-18 16:44] rt4914 commented on #3333
@rishidyno Un-assigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:44] rt4914 commented on #3276
@rishidyno Un-assigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:44] rt4914 commented on #3258
@aadityaguptaa Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:45] rt4914 commented on #3334
@deepanshu731 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:45] rt4914 commented on #3335
@yash10019coder Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:45] rt4914 commented on #3345
@rishidyno Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:45] rt4914 commented on #3366
@TheSwarnim Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:46] rt4914 commented on #3179
@sanchi0204 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:46] rt4914 commented on #1535
@jcqli Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:46] rt4914 commented on #1540
@FareesHussain Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:47] rt4914 commented on #1076
@Sarthak2601 Does this needs to be closed? If not, what's pending and also can you un-assign youself?

[2021-11-18 16:47] rt4914 commented on #1433
@ARJUPTA Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:48] rt4914 commented on #3189
@yash10019coder Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:49] rt4914 commented on #3473
@UttaranDas Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:51] rt4914 commented on #3462
@jashasweejena That's really great. I think you can create a PR for this. Thanks.

[2021-11-18 16:51] rt4914 commented on #3460
@aadityaguptaa Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:51] rt4914 commented on #3456
@prsndp Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:51] rt4914 commented on #3454
@The-Anton Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:52] rt4914 commented on #3453
@pravesh00 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:52] rt4914 commented on #3384
@aadityaguptaa Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:52] rt4914 commented on #3370
@yash10019coder Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:53] rt4914 commented on #3559
@mahmood199 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:54] rt4914 commented on #3537
@arinarora18 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:54] rt4914 commented on #3589
@yash10019coder Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:54] rt4914 commented on #3588
@ParnaviKulkarni Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:54] rt4914 commented on #3585
@rishidyno Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:55] rt4914 commented on #3584
@kritigupta45 Any updates in this issue? If you facing any issues, please reach out to your mentor. Thanks.

[2021-11-18 16:55] rt4914 commented on #3582
@ayaazansari Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:55] rt4914 commented on #3581
@puranjayK Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:59] rt4914 commented on #3572
@sanchi0204 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:59] rt4914 commented on #3567
@MohitGupta121 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 16:59] rt4914 commented on #3565
@shakivhussain Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 17:00] rt4914 commented on #3822
@coder2699 Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 17:01] rt4914 commented on #3846
@rishidyno Unassigning you from this issue because of inactivity, please re-assign yourself if you are currently working on this.

[2021-11-18 17:01] MohitGupta121 commented on #3567
@rt4914 I resolved this issue and my PR also merged

[2021-11-18 17:06] rt4914 commented on #3567
Thanks @MohitGupta121 . The issue should have been closed automatically. Nevermind, I will close it manually now.

Closing at it has been fixed in #3942

[2021-11-18 17:06] #3567 closed, assigned to nobody

[2021-11-18 17:47] jashasweejena commented on #3462
@rt4914 Thanks a lot. I will release a PR shortly.

[2021-11-18 18:20] jashasweejena commented on #3462
Hey @rt4914, I just created a PR for this issue. https://github.com/oppia/oppia-android/pull/3997. Please review the same :)

[2021-11-18 19:45] BenHenning commented on #1719
From a recent discussion with @seanlip we will probably want to introduce an actual CI check for APK stats, but for two different factors:
1. The delta changes for the APK due to a single PR
2. The total size of the APK at the PR (considered as a snapshot)

(1) would have a failure-level threshold (e.g. if the size change is above, say, 100KB) and would trigger a codeowner approval from whichever

[2021-11-18 20:39] rt4914 commented on #3899
Closing this issue because of following points.

**Challenge**
We normally use `announceForAccessibility` to announce anything on command but in this case that's not possible because we want to announce the content inside `ViewPager` after the `Next` button has been clicked which is outside the `ViewPager`. ViewPager does not support `announceForAccessibility` and because of that its not a straigh

[2021-11-18 20:39] #3899 closed, assigned to bkaur-bkj

[2021-11-19 02:19] ParnaviKulkarni commented on #3588
I am working on it please reassign me sorry for the delay

[2021-11-19 05:21] #3971 closed, assigned to veena14cs

[2021-11-19 05:44] BenHenning opened #3998 "Disable vacation bot after 6 December 2021"
I'm going to be out until 6 December, and after I returned we should disable the vacation bot since I'll then be able to manage issues & PRs again.

[2021-11-19 05:47] Arjupta commented on #1433
@rt4914 I guess we can close this issue as it was resolved in the PR #3104

[2021-11-19 18:22] JishnuGoyal commented on #3981
May i work on this? @BenHenning

[2021-11-19 19:51] BenHenning opened #4000 "Test issue to test vacation bot"

[2021-11-19 21:42] seanlip opened #4001 "This issue is a test issue to see if the vacation bot works."
TEST

[2021-11-20 00:43] BenHenning commented on #4000
It appears to not be working.

[2021-11-20 00:43] #4000 closed, assigned to nobody

[2021-11-20 00:43] BenHenning commented on #4001
It appears to not be working. Thanks for filing to check!

[2021-11-20 00:43] #4001 closed, assigned to BenHenning

[2021-11-20 01:07] BenHenning commented on #3981
@JishnuGoyal I'm happy to hand it off, but this is actually a harder issue than it sounds (since it requires playing through the app in detail after updating the target SDK version to ensure there aren't any regressions, and it's likely *something* will break with this change; we also need to look at the deltas in behavior for SDKs 29 & 30 to determine if there are any specific API incompatibiliti

[2021-11-20 01:11] BenHenning commented on #1076
This is complete since the analytics pipeline has been implemented & verified as working.

[2021-11-20 01:11] #1076 closed, assigned to Sarthak2601

[2021-11-20 03:06] BenHenning commented on #3046
This isn't ready yet to work on.

[2021-11-20 06:22] JishnuGoyal commented on #3981
Sure @BenHenning

[2021-11-20 10:08] BenHenning opened #4002 "Profiles can't have internationalized names"
**Describe the bug**
Profiles can't have internationalized names.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the create profile flow
2. In the name box for the profile, type non-English characters
3. Attempt to create the profile
4. Observe that an error appears indicating that the profile can't be created

**Expected behavior**
Now that Oppia supports non-English languages, profil

[2021-11-21 07:21] coder2699 commented on #4002
@BenHenning, I want to work on this. Shall I self-assign this one?

[2021-11-21 10:41] HIM7707 commented on #4002
@BenHenning I am open to solve this issue.

[2021-11-22 04:58] HIM7707 commented on #3591
@rt4914 I would like to work on this issue.

[2021-11-22 06:39] vrajdesai78 commented on #3351
@rt4914 Can you guide me on how can I get started with this issue. Actually, I am new to testing.

[2021-11-22 14:29] rt4914 opened #4006 "Hide Edit Accounts option from AdministratorControls"
Hide `Edit Accounts` option from `AdministratorControls` as currently it is of no use.

Note: Do not remove it, just hide it. Add appropriate test case too.

[2021-11-22 16:00] yash10019coder opened #4007 "ProfileEditFragment Backstack loop error"
**Describe the bug**
In tablet When we reset or rename the Profile by Administrator controls in ProfileEditFragment and then on Pressing the back button we get stuck in a loop
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administrator Controls and click on any profile and then reset the pin or rename the name
2. Click on the BackButton
3. Again Click on the back button
4. You get stu

[2021-11-22 17:47] HIM7707 commented on #4006
@rt4914 can i work on this?

[2021-11-22 18:28] veena14cs opened #4008 "Fix Text alignment for RTL."
Make sure TextView has style attribute that uses alignment property to correctly align in RTL.

![image](https://user-images.githubusercontent.com/16301028/142915675-dbdd0d0c-3210-4a78-9181-fd4d29c41e74.png)
![image](https://user-images.githubusercontent.com/16301028/142915698-f99af515-fa0b-4be8-8ccb-f207d3c08c7e.png)
![image](https://user-images.githubusercontent.com/16301028/142915756-65c86af6-1

[2021-11-23 19:14] #4008 closed, assigned to nobody

[2021-11-23 19:43] ayush0402 opened #4012 "Rename all colors in colors.xml with correct naming conventions."
Currently ```colors.xml``` contains color definitions which are inconsistent. Make all color declarations consistent by following ```snake_case``` naming convention for all colors.

## Essential Checklist

- [x] The PR title and explanation each start with "Fix #bugnum: " (If this PR fixes part of an issue, prefix the title with "Fix part of #bugnum: ...".)
- [x] Any changes to [scripts/assets](ht

[2021-11-23 20:10] bkaur-bkj opened #4013 "Submit Button becomes unresponsive"
**Describe the bug**
When trying to attempt question, if I enter wrong answer and click on submit button, in some cases in the next step the button becomes unresponsive even after more then 3 tries. have attached the  screen recording for details

Steps to reproduce the behavior:
1. Go to any chapter - you can choose First Test topic(as it has such types of questions)
2. Click on chapter 1 and sta

[2021-11-24 04:03] rt4914 commented on #3588
@ParnaviKulkarni Assigned it back.

[2021-11-24 04:04] rt4914 commented on #1433
@ARJUPTA That PR mentions that only part of it was done. Am I missing any context here?

[2021-11-24 04:12] rt4914 commented on #3591
@HIM7707 Assigned you this PR.  Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-11-24 04:13] rt4914 commented on #4006
@HIM7707 I have assigned you other issue. Can you work on that first? Thanks.

[2021-11-24 06:45] kritigupta45 commented on #3584
@rt4914 Apologies for the delay, I am working on this issue right now.

[2021-11-24 14:33] HIM7707 commented on #3591
Thank you @rt4914 for the opportunity.

[2021-11-24 19:45] rt4914 commented on #3584
@kritigupta45 Thanks.

[2021-11-25 05:10] Rishavgupta12345 commented on #3558
i would like to work on this please assign me

[2021-11-25 12:15] JishnuGoyal commented on #4006
@rt4914  May I work on this?

[2021-11-25 16:06] bkaur-bkj commented on #3875
@binaryshrey are you still interested should I assign you this issue?

[2021-11-25 16:46] bkaur-bkj commented on #3875
Closing this issue as similar issue is listed under the issue [#4013](https://github.com/oppia/oppia-android/issues/4013)

[2021-11-25 16:46] #3875 closed, assigned to nobody

[2021-11-26 09:42] bkaur-bkj commented on #3927
@rt4914 sir I viewed the feedback.xml file , there we have  frame layout and a textview inside, textview presently does not have any margin, just padding dimens and frame layout has margins, so do I need to alter margin of frame layout and inc padding of textview?

[2021-11-27 04:58] Rishavgupta12345 commented on #1042
can i work on this issue ?

[2021-11-27 06:40] Rishavgupta12345 commented on #4006
please assign me this issue @bkaur-bkj

[2021-11-27 06:45] Rishavgupta12345 commented on #3722
please assign me this issue @rt4914 @bkaur-bkj

[2021-11-27 10:00] deepanshu731 commented on #3906
@rt4914 how to reproduce this issue ? can you help me out with this

[2021-11-27 18:18] yash10019coder commented on #3241
Hi @anandwana001 @rt4914 Sometimes I'm unable to view the illustrations, this happens.
Thanks
![image](https://user-images.githubusercontent.com/76404817/143701461-bca8b0b2-08c4-4aea-85e9-848b142dd8da.png)

[2021-11-28 07:09] HIM7707 commented on #4006
Hi Sir/ma'am,

I am having a hard time setting up the oppia android project on system. Can
you suggest me setup guide link for the same?
I can't find it on github.

Please let me know as soon as possible.

Thanks & Regards

On Wed, 24 Nov 2021, 09:43 Rajat Talesra, ***@***.***> wrote:

[2021-11-28 16:30] MihirShirgaonkar commented on #4006
May i work on this issue ? Is anyone working on this issue

[2021-11-28 16:55] MihirShirgaonkar opened #4015 "User name TextView not properly aligned in profile_edit_fragment.xml Screen"
![WhatsApp Image 2021-11-28 at 10 15 20 PM](https://user-images.githubusercontent.com/62711294/143777759-f0a7ab33-4e38-4a5d-b226-269bbc1fd690.jpeg)

[2021-11-29 04:49] bkaur-bkj commented on #4006
@JishnuGoyal Assigned you this issue

[2021-11-29 04:50] bkaur-bkj commented on #4006
@Rishavgupta12345 you have other issues assigned to you presently, You can work on them first.

[2021-11-29 04:53] bkaur-bkj commented on #3722
@Rishavgupta12345 Done

[2021-11-29 06:38] yash10019coder commented on #3241
Hi @anandwana001 can you please make the issue editable by contributors so that I can mark on the completed items in the checklist.
Thanks

[2021-11-29 13:38] Rishavgupta12345 commented on #3722
can someone tell me on which file I can find this issue @rt4914

[2021-11-29 16:27] bkaur-bkj commented on #4006
@HIM7707 pls follow the instructions mentioned in oppia android wiki, if you still face any issue describe your problem and drop a msg on oppia android gitter chat where other contributors can help you along

[2021-11-29 18:57] yash10019coder commented on #3771
Hi @ayush0402 I think that this test now passes successfully so we can close this issue
![image](https://user-images.githubusercontent.com/76404817/143926430-6b629ce9-4372-45e4-9bb0-ae2a7a479f3f.png)

[2021-11-29 19:55] JishnuGoyal commented on #4006
@rt4914 Hello,
In order to solve this problem, I found two ways:

1. From the `AdministratorControlsViewModel` , remove AdministratorControlsGeneralViewModel (by commenting it out) from the itemViewModelList. *(working)*
2. Another way would be to change visibility to View.GONE for each XML file (default, land, sw600dpi) under admistrator_controls_general_view. *(not implemented)*

I feel the firs

[2021-11-30 06:55] jashasweejena commented on #3788
Hey @rishidyno, if no one is currently working on this, can I pick this up?

[2021-11-30 13:31] rishidyno commented on #3788
@jashasweejena I am working on this issue.

[2021-11-30 13:44] dika1osune opened #4016 "Voiceover changed from English to some other language"
**Describe the bug**
Young learner was going through the lessons on an Android device (not sure what version it is). The voiceover feature was in use, suddenly the language changed. I asked for the phone to check the language options to see if the child flipped a switch, but the selected option was still English.

**To Reproduce**
I have not been able to reproduce the error

**Expected behavior**

[2021-11-30 14:08] dika1osune opened #4017 "Radio Button Implementation"
**Is your feature request related to a problem? Please describe.**
Watching the young learners at close quarters helped with these observation. Sometimes, the child is reading slowly and needs some time to process the question they are being asked. As a result, the screen sometimes blanks out. I have noticed that tapping the screen to wake it up sometimes results in selecting the wrong option and

[2021-11-30 14:12] dika1osune opened #4018 "Image Implementation"
**Is your feature request related to a problem? Please describe.**
Young learners get stuck here with identifying the fraction in this image.

**Describe the solution you'd like**
Can we consider a change of colours that make the fraction being requested more obvious. Or make the unshaded part a lighter colour and making each-third look distinct with clear demarcations highlighted

**Describe alte

[2021-11-30 21:12] jashasweejena commented on #3788
Oh great :) I'll maybe try picking some other issue.

[2021-12-01 10:31] rishidyno commented on #3234
@anandwana001 can you please explain to me this issue.

[2021-12-01 13:01] PushkarAdhyapak commented on #4017
Hi, can I work on this.

[2021-12-01 13:23] vrajdesai78 commented on #3351
I am getting this error while running OppiaTestRule without merging it with AccessbilityTestRule. I am using windows 11 and arctic Fox android studio
<img width="926" alt="image" src="https://user-images.githubusercontent.com/43074241/144241602-063edfd9-0b0d-47a0-8154-f71606e0b80b.png">

[2021-12-02 07:04] rt4914 commented on #3351
@vrajdesai78 `OppiaTestRule` is actually not a test. Instead its a rule which we use in different test files. You cannot run it as a test.

[2021-12-02 07:09] vrajdesai78 commented on #3351
Okay so how can I check that my merged test cases are passing

[2021-12-02 09:18] ihrishix commented on #4015
Hi. Can I work on this ?

[2021-12-02 10:55] anandwana001 commented on #3241
@yash10019coder This is just to keep the double-check process if in case the item is completed or not.
You can comment in an issue that which Item from the Issue list is completed and the issue author can mark it as completed.

[2021-12-03 15:01] yash10019coder commented on #3351
@vrajdesai78 please run your test case file rather then running the test case rule

[2021-12-03 16:18] yash10019coder commented on #3771
closing this issue as this is now passing

[2021-12-03 16:18] #3771 closed, assigned to nobody

[2021-12-03 16:54] rt4914 commented on #3234
@rishidyno Reference: https://github.com/oppia/oppia-android/pull/3684

[2021-12-03 16:57] rishidyno commented on #3234
Do these for mobile portrait and tablet both
Change the color code of `Please enter you administration pin`
use `medium` font for `admin name`.

[2021-12-03 17:07] rt4914 commented on #3234
Currently all the four UIs are focused on `fixed width` and `variable margin` concept, instead this needs to be changed for mobile -portrait to `variable width` and `fixed-margin`.

*Mobile-Portrait*
- Current: `fixed width` and `variable margin`
- New: `variable width` and `fixed-margin`.
- Needs change

*Mobile-Landscape*
- Current: `fixed width` and `variable margin`
- New: `fixed width` and `v

[2021-12-03 18:52] chrk2205 commented on #4007
can i work on this @yash10019coder ?

[2021-12-03 18:54] yash10019coder commented on #4007
yeah sure @chrk2205 I am assigning it to you.

[2021-12-03 19:25] chrk2205 commented on #4007
this is specific to tablet view.
It is not happening in android.
do I need to add test case?

[2021-12-03 21:08] chrk2205 commented on #4007
@yash10019coder
I found the cause of this, after renaming and submitting instead of finishing the current activity ( which will lead to profile edit activity in the stack ),  we are creating a new profile edit activity.
[link to code](https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/settings/profile/ProfileRenameActivityPresenter.kt#L107)

With creating a

[2021-12-04 04:39] mukulasija commented on #3579
I would like to work on this.

[2021-12-04 13:18] vrajdesai78 commented on #3897
I am working on this issue. I have found that we get the wrong output due to a problem in contentDescription of submitted_answer_item.xml file in which isCorrectAnswer is not returning the proper boolean value but I am not getting how isCorrectAnswer value is changed because every time it's returning true and it's values is not changing.

[2021-12-04 13:23] yash10019coder commented on #4007
I think this is not happening in mobile ig

[2021-12-04 13:28] vrajdesai78 commented on #3351
@yash10019coder sorry I am not getting how to run the test case file. Can you please help me out

[2021-12-04 13:44] shivambh12 commented on #3582
@FareesHussain  can,i work on this?

[2021-12-05 03:28] yash10019coder commented on #3351
Hi @vrajdesai78 please make a PR for this issue.

[2021-12-05 07:19] shivambh12 commented on #3582
@rt4914  In topic_lessons_title.xml textview width is wrap content but in  sw600dp/topic_lessons_title.xml textview width is 528dp.How should I merge them.Also,in  sw600dp/topic_lessons_title.xml textviiew gravity is centre.

[2021-12-05 07:55] mukulasija commented on #3569
I would like to work on this issue

[2021-12-05 17:33] ihrishix commented on #4013
Can recreate this issue. Please try this again with latest app build and share steps to recreate.

[2021-12-06 17:11] srushtirk opened #4026 "Unable to move past a card in Chapter 6 (Fractions)"
**Describe the bug**
Cannot go beyond a card in chapter 6 because there is no input method available for the user to enter their answer. The text is also illegible on this card.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Chapter 6 - Mixed Numbers and the Number line
2. Reach the card with the following question:
"What are fruit tarts?
1 ⅚
How many sixths of a cake are there in 2 ⅙

[2021-12-06 17:20] srushtirk opened #4027 "Image size too small or illegible"
**Describe the bug**
The image sizes for most of the card with images is too small.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to all lessons in the app
4. See error in the cards with images

**Expected behavior**
Images should be clear and legible. Also some of them need to have a zoom in feature for better clarity and visibility.

**Demonstration**
Screenshots available in this dri

[2021-12-06 18:00] yash10019coder opened #4028 "Implement edit profile screen inside a fragment"
issue #3241

refer to this issue for the details and impletation for this issue
this issue basically resolves the hi-fi profile in administrator controls.

 Implementing edit profile screen inside a fragment

[2021-12-07 19:28] rishidyno commented on #3555
@rt4914 I checked and there is only one activity for `pin_password_activity.xml`. So I think that you can close this issue.

[2021-12-07 19:53] BenHenning commented on #4028
@yash10019coder this seems to be missing some details. Can you please add code links to anything that you think should change, and be a bit clearer on what you expect the outcome to be? I'm not actually positive what exactly needs to be done to resolve this.

Also, assigning this to you given that you're implementing #4029. Note that I'm not looking at that PR to understand this issue since it's g

[2021-12-07 20:00] BenHenning commented on #4027
Thanks @srushtirk. This is actually an interesting problem that I'm not yet fully sure how to solve.

@seanlip this relates slightly to what Eric's working on. The problem that we're facing here is we don't know how pixel-dense the screen is going to be (many mobile screens have higher density than laptop screens despite being much smaller), which results in extra-small images. We can't arbitraril

[2021-12-07 20:01] BenHenning commented on #4027
/cc @rt4914 as well since I think you've brought this up in the past. If you have any thoughts, please feel free to add them to this discussion Rajat.

[2021-12-07 20:03] BenHenning commented on #4026
@srushtirk were you connected to the internet when you reached this card? I have a feeling that we might not properly handle offline cases for image region selection (which I think is the interaction type being used here given the question).

Also, to clarify: you mentioned that the text is illegible. Could you be more specific as to which specific text was illegible?

[2021-12-07 20:06] BenHenning commented on #4013
Ah, this is a really nice find @bkaur-bkj. It seems that the submit button state management for real-time vs. submit-time errors is getting borked up. Investigation is needed.

[2021-12-07 20:08] seanlip commented on #4027
@BenHenning Does the concern apply to SVG images, or just PNG?

All new images are being created as SVGs, so if the concern applies only to PNGs then I think the right fix is to start an effort to transform all those PNGs to SVGs.

[2021-12-07 20:12] BenHenning commented on #3897
@vrajdesai78 once a submitted_answer_item is created for a specific SubmittedAnswerViewModel, it won't ever change (conceptually this is because a submitted answer can't be retroactively changed by the user). However, there is a gap in time where isCorrectAnswer defaults to false before being set to potentially true (see https://github.com/oppia/oppia-android/blob/5801df02317cc3f052d79a3dea8b3becd

[2021-12-07 20:15] srushtirk commented on #4026
![Screenshot_20211207-121413.png](https://user-images.githubusercontent.com/27875087/145099608-2ca848e1-86c4-46cc-b144-e9636b845082.png)

The text (fractions) on the number line in this screenshot is illegible, unable to read properly.

[2021-12-07 20:17] srushtirk commented on #4026
I was connected to the internet while playing this card and lesson.

[2021-12-07 20:41] BenHenning commented on #4027
This technically applies to any image, but we should frame the problem in
terms of SVGs since that's what we're moving to. This will require a small
product spec, I think, to determine the specific display density cases that
should be considered & how to best represent those for the creator so that
they can select a proper scaling factor.

On Tue, Dec 7, 2021 at 12:09 PM Sean Lip ***@***.***> wrot

[2021-12-07 20:42] BenHenning commented on #4017
Thanks @dika1osune.

It would be fairly easy for us to change the radio button implementation to display a submit button like item selection. @seanlip & @srushtirk can you please provide product guidance on how you think we should proceed here?

@PushkarAdhyapak I'm glad to see you're interested in working on this. :) I think we need to get clarity on what the solution should be before attempting

[2021-12-07 20:47] BenHenning commented on #4018
Thanks @dika1osune.

This is a content problem. @seanlip how should we triage issues like this so that the content team is aware of them & can make the necessary fixes?

[2021-12-07 20:48] BenHenning commented on #4016
Thanks @dika1osune. This is really helpful additional context for #3088.

I suspect that this is a duplicate of #3088, so closing as such.

[2021-12-07 20:48] #4016 closed, assigned to nobody

[2021-12-07 20:51] BenHenning commented on #3722
@Rishavgupta12345 this is something that you'll need to investigate. One thing that can be really helpful is to look at strings on the screen that you're trying to find the code for, then look up those strings in code (which will correspond to string IDs), and then find which layouts/Kotlin files those strings are referenced in (which will either provide the exact files responsible for that screen

[2021-12-07 20:54] ayush0402 opened #4030 "Implementing dark mode to various screens."
Creating PRs updating layout files with dark mode support using `component_colors` and `color_palette`.

Link to the original PR having discussions over the decided approach : [link](https://github.com/oppia/oppia-android/pull/3951)
Suggested to carefully go through this comment under above mentioned PR : [comment](https://github.com/oppia/oppia-android/pull/3951#discussion_r736145085)

Go through

[2021-12-07 20:54] BenHenning commented on #4002
@coder2699 @HIM7707 apologies, I was taking some time off. Are either of you still available to work on this?

[2021-12-07 21:01] seanlip commented on #4027
OK, sounds good. I'll leave this assigned to you for now, then; please let me know once there's a specific set of cases to show in the creator preview, and we can build that in.

( /cc @EricZLou for info )

[2021-12-07 21:03] seanlip commented on #4017
Given the issues mentioned, I have no objections to the flow suggested by @dika1osune.

I ultimately defer to @srushtirk, though.

[2021-12-07 21:04] seanlip commented on #4017
Also /cc @dchen97 in case we want to mimic this on the Web (though I think it's fine if Web/Android have different implementations here, and there's something nice about 1 click vs 2 if the screen isn't blacking out on Web).

[2021-12-07 21:08] seanlip commented on #4018
Content problems should be added to the lesson tracker: https://docs.google.com/spreadsheets/d/1ehg4ez5sfY_NflMB2SEgv9NfWT6a_WVRLx1Z6rnZHIs/edit#gid=966419336. I've done that for this issue.

Also, in general, if you see a content issue and forget where the tracker is, just assign me (exactly like you've done here) and I'll sort it out. Thanks!

[2021-12-07 23:57] srushtirk commented on #4017
+1, Agree with @dika1osune and @seanlip regarding having user submit their answer choices using a 'Submit' button. I can write up a one-pager on the specs and lightweight mocks if that helps.

[2021-12-08 06:03] ihrishix commented on #3930
Can I work on this ?

[2021-12-08 13:42] JishnuGoyal commented on #4006
In case I go with method (2) above,

- In each XML file, constraint layout visibility will be changed to View.GONE.
- But since views are added along with the view model of each corresponding option (for ex. general, profile management, etc) inside `AdministorControlsFragmentPresenter` , there is a blank space left even after changing visibilty to View.Gone as shown:
![image](https://user-images.g

[2021-12-08 19:06] #4012 closed, assigned to ayush0402

[2021-12-08 19:19] rt4914 commented on #3555
Thanks. Closing this now.

[2021-12-08 19:19] #3555 closed, assigned to nobody

[2021-12-08 19:21] rt4914 commented on #4006
@JishnuGoyal Yes, first one is correct. Also you can make communication a bit faster by just creating a PR and assign it to your mentor for review. Thanks.

[2021-12-08 19:22] rt4914 commented on #3722
This issue is specific to API 19 only. So please create an emulator accordingly.

[2021-12-08 19:23] rt4914 commented on #3569
Thanks @rishidyno

[2021-12-08 19:25] rt4914 commented on #3582
@shivambh12 The differences that you suggested are correctly but even after merging of files these differences should exists. That's why the issue mentions : `**Note**: In PR, make sure you add before and after screenshot of mobile-portrait, mobile-landscape, tablet-portrait and tablet-landscape for comparison and make sure that there is no difference between before and after UI.`

So in the end y

[2021-12-08 22:58] BenHenning commented on #4026
Initial thoughts (more investigation needed): remote image loading as a fallback might be failing here for image region selection.

[2021-12-09 11:32] rishidyno commented on #3334
@BenHenning I wanted to know what names to give to the following `kt_android_library` in the `BUILD.bazel file`
Because these have pretty big names. you could give me a few examples and I will name others accordingly.

I think that
`DragDropSortInputHasElementXBeforeElementYClassifierProvider.kt` file should be named as `has_element_X_before_element_Y`

and those which ends with `RuleClassifierPro

[2021-12-09 16:39] bkaur-bkj commented on #3722
@Rishavgupta12345 I have unassigned this issue as per your request, do let me know in case you want to pick it up again

[2021-12-09 17:59] bkaur-bkj commented on #3927
@rt4914 sir as we discussed over last meet, you suggested me to use padding of Framelayout to be extended to padding of textview as textview currently had no margin so we were not able to use margin to increase current padding.
But I viewed the file- feedback.xml and found that even Framelayout has not padding it simply has margins and if I try to use its margin to be converted or changed to paddi

[2021-12-09 18:22] JishnuGoyal commented on #4002
May I work on this? @BenHenning

[2021-12-10 14:07] rishidyno commented on #3930
Thanks @rushikeshsuryawanshi.

[2021-12-10 17:05] bkaur-bkj commented on #3896
@rt4914 sir I would like to discuss on this issue, what is meant by advanced test failure? and do we have any expected flow which would be better than this or we need to figure it out

[2021-12-10 17:20] rishidyno commented on #3846
@rt4914 @BenHenning @anandwana001 do I need to create a layout file for `TextViewBindingAdaptersTestActivity`
like (eg:
 `test_image_view_bindable_adapter_activity` was made for `ImageViewBindingAdaptersTestActivity`)

as for now, I have created a layout file for the same with a textview.

Also as I don't have much experience in writing tests. Could you please give me a few examples for writing te

[2021-12-10 17:56] rishidyno commented on #3825
@BenHenning I am also interested in working on this issue. Also, @coder2699  I looked up any implementations that might have existed but I can't seem to find any. so I think it has to be implemented from scratch.

[2021-12-10 18:14] rishidyno commented on #3660
@BenHenning could you elaborate on this issue. From my understanding, we have to add a description tag to strings describing their purpose or smtg similar ig.
Also please add the issue tags.

[2021-12-10 19:51] #3901 closed, assigned to bkaur-bkj

[2021-12-10 20:01] rt4914 commented on #3930
@rishidyno I am removing the `good-first-issue` tag as this is actually a complicated issue.
@rushikeshsuryawanshi Feel free to work on it but if it becomes complicated then please pick a different good-first-issue.

[2021-12-10 20:03] #3922 closed, assigned to yash10019coder

[2021-12-10 20:15] rt4914 opened #4033 "Enable Edit Accounts option in Administrator Controls [Currently Blocked]"
In #4006 `Edit Accounts` option was removed from UI as the feature was not finalised yet.
Enable this option before implementing the feature on next screen.

[2021-12-10 21:58] BenHenning opened #4035 "Compute affected tests in CI workflow is omitting targets affected by committed renamed files"
See https://github.com/oppia/oppia-android/pull/4020#issuecomment-991331524 for specifics. However, because the script is computing the wrong base branch, in some cases it may miss changes (such as was noticed in #4020) which is a serious problem since we won't end up running affected targets until after the PR is merged.

#4034 is my working PR to investigate.

[2021-12-11 04:32] BenHenning commented on #4035
Follow-up: I thought the issue was because the merge-base was different between the branch & running it locally (I think this is because GitHub actually generates a merge commit which seems to combine the latest develop with the changes in the PR branch & then runs CI workflows against that merge commit).

However, forcing CI workflow to use the HEAD commit for the PR didn't fix the issue (per htt

[2021-12-11 04:37] BenHenning commented on #4035
https://stackoverflow.com/a/10121060/3689782 provides some context here. ``git diff`` on the old version would output both the old & new files, whereas with -M (& with the new git without any parameter) it only outputs the old files. Because we use this list to compute affected targets, the result is wrong. I'm trying to figure out how to get git diff to provide the correct file names. We'll also

[2021-12-11 04:43] BenHenning commented on #4035
git 2.9.0 was the version when rename detection was automatically enabled upon git diff (see https://github.com/git/git/blob/142430338477d9d1bb25be66267225fb58498d92/Documentation/RelNotes/2.9.0.txt#L33) so this issue has existed since the script was introduced in CI.

[2021-12-11 04:44] ihrishix commented on #3930
@rt4914
Yeah Sure !
Working on this.

[2021-12-11 04:48] BenHenning commented on #4035
https://stackoverflow.com/a/55839215/3689782 is a help, and I realize that all we need to add is ``--no-renames``  to disable the renaming detection (& thus move back to the old git behavior). Gonna need to add a test to ensure that this can actually be caught it if were to ever regress since it's a rather serious failure in the script.

[2021-12-12 18:37] ishant904 commented on #3589
@rt4914 I am new to open source and i filled up the CLA and contribution survey. I am currently understanding the app architecture and code base and would be happy to work on this issue.

[2021-12-12 18:38] yash10019coder commented on #3589
Hi @ishant904 welcome to oppia I'm assigning this to you.

[2021-12-12 18:48] ishant904 commented on #3589
thanks @yash10019coder , let me know if you can provide any additional inputs on this so I can get started.

[2021-12-13 13:27] rt4914 opened #4039 "Restore codeowner @rt4914 after 27th Dec 2021"
As per #4038 , restore codeowner @rt4914 after 27th Dec 2021

[2021-12-13 13:38] rt4914 commented on #3896
@bkaur-bkj Actually this issue is part of [A11Y] Advanced and currently we are focused on [A11Y] Basic and based on that I suggest you pick up something from that.
For clarification part, the video shows that each and every UI item is browsable(can be visited) but the flow is incorrect and experience is bad. The aim of this issue is to somehow make the experience better. The best experience would

[2021-12-13 18:08] yash10019coder commented on #3589
@ishant904 just try to read the instructions in the issue and the basic idea is to remove the tablet file so that we can decrease the diversity of our layout files and it also makes it more easier to work on ui as we have to then make the changes on one xml file instead of two or three files.

[2021-12-13 22:19] srushtirk opened #4040 "Unable to access Admin profile and Admin Controls"
**Describe the bug**
After entering the PIN to access the admin profile or admin controls, the app goes back to the profiles screen instead of the admin profile or admin controls screen. The PIN doesn't reset even after uninstalling and reinstalling the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin profile
2. Enter the admin PIN and hit Submit
3. See error

**Expected beha

[2021-12-14 00:57] BenHenning commented on #4040
Interesting, it looks like the app is actually crashing.

@srushtirk would you be able to send me directly a full bug report from your device after reproing this? I can attach the crash that's occurring to provide more context to the issue.

[2021-12-14 01:00] BenHenning commented on #4039
Since #4038 was closed, also closing this.

[2021-12-14 01:00] #4039 closed, assigned to rt4914

[2021-12-14 01:04] BenHenning commented on #3927
@bkaur-bkj it's expected that the feedback item might get slightly taller as a result of this change since it can sometimes be smaller than 48dp. What UI change did you notice?

[2021-12-14 01:40] BenHenning commented on #3660
Assigning this to myself to add more clarity @rishidyno (though I'll likely be doing this much later). This requires a lot more guidance in order for it to be worked on.

[2021-12-14 01:42] BenHenning commented on #3825
@rishidyno just to clarify, are you interested in introducing the new UI? I can cc you on the ongoing email thread so that you can get the necessary context.

[2021-12-14 01:47] BenHenning commented on #3846
@rishidyno you will need to create a test activity & layout (so that you have an easy-to-access TextView to test the adapters). In terms of how they work, I suggest looking at https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/android/app/databinding/MarginBindingAdaptersTest.kt or other tests from that databinding package. Generally, the way we test binding adap

[2021-12-14 01:49] BenHenning commented on #4002
Sure @JishnuGoyal. However, I think we first need guidance from @srushtirk about what we should specifically changing here.

@srushtirk for context: we currently prohibit any non-English letters in profile names. I think we need to lift that restriction, but it's not clear to me if we need to have other restrictions. Can you follow up with UX and let us know what adjustments should be made here?

[2021-12-14 01:54] BenHenning commented on #3334
@rishidyno I think for those packages it's fine just to have a single library called "classifier_providers" and then a second library for the module. The former should be visibility restricted to only places that need to access the provider whereas the module needs to have module visibility (since they are used broadly).

[2021-12-14 01:57] BenHenning commented on #4017
Thanks @seanlip and @srushtirk.

@srushtirk a one-pager isn't necessary here since it's a trivial change, and we're essentially making the radio button interaction behave like its item selection counterpart (which is fulled spec'd).

[2021-12-14 02:00] BenHenning commented on #4017
This is important for alpha MR4, and I think can be worked one by anyone who's comfortable with interpreting requirements and digging into the code. For reference, https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/player/state/itemviewmodel/SelectionInteractionViewModel.kt is the main file for the logic for both radio buttons & item selection.

[2021-12-14 02:02] BenHenning commented on #4018
Thanks @seanlip. FYI @srushtirk since this flow should be built into our triage process.

Note that I'm reopening this since we should verify it as fixed in the Android app once it's addressed, and then close it here.

[2021-12-14 03:36] rishidyno commented on #3825
Yes Definitely! @BenHenning I would love to work on introducing new ui.

[2021-12-14 05:00] #3773 closed, assigned to yash10019coder

[2021-12-14 05:02] #3276 closed, assigned to rishidyno

[2021-12-14 06:36] mukulasija commented on #3536
i would like to work on this issue

[2021-12-14 09:39] yash10019coder commented on #3536
Hi @mukulasija I am assigning you this issue thanks

[2021-12-14 14:34] rishidyno commented on #3895
@Sarthak2601 @anandwana001 @BenHenning Can you please explain this issue in detail. According to my understanding, we have to generate a text in place of `Learn more` which is more descriptive for a particular Lesson/Topic.

[2021-12-14 15:22] Sarthak2601 commented on #3895
Yes, sounds about right.

[2021-12-14 17:06] Rohit1173 commented on #3140
Can I work on this

[2021-12-14 17:07] yash10019coder commented on #3140
Hi @Rohit1173  assigning you this issue.

[2021-12-14 18:58] BenHenning opened #4042 "Implement success criteria metrics for lesson checkpointing"
**Is your feature request related to a problem? Please describe.**
Lesson checkpointing was implemented as a GSoC project last summer, but we didn't have time to implement the success criteria metrics expected for the feature [here](https://docs.google.com/document/d/1d8yjwz76mngtsPRxC7fubgLKg8mfA7kG1sWRWdbiaVw/edit#bookmark=id.2zyjd5vygmcv).

**Describe the solution you'd like**
The metrics shoul

[2021-12-14 19:01] BenHenning commented on #4042
@rishidyno this is actually a higher priority feature than #3825 and isn't blocked on UX (though it isn't a new UI). Might you be interested working on in this issue?

[2021-12-14 20:24] ishant904 commented on #3589
@yash10019coder thanks for the inputs. I created variables for the all the different dimensions in dimens.xml . But one of the version of topic_summary_view.xml (sw600dp-land) has a unique attribute android:scaleType="centerInside" . Should I create a new style sw600dp-land and place the scaleType in it and use accordingly?

[2021-12-14 22:54] BenHenning commented on #3140
FYI: I updated the main comment to reference the relevant directories for where the Espresso tests should go to ensure there isn't any potential confusion that these tests should go under instrumentation/.

[2021-12-14 23:39] BenHenning opened #4044 "Add support for numeric & algebraic expressions/equations interactions support"
Project tracking issue for implementing math-based interactions (https://github.com/oppia/oppia/tree/develop/extensions/interactions -- AlgebraicExpressionInput, MathEquationInput, NumericExpressionInput) per the PRD https://docs.google.com/document/d/1x2vcSjocJUXkwwlce5Gjjq_Z83ykVIn2Fp0BcnrOrTg/edit# and the accessibility version of this feature in Android.

[2021-12-15 00:35] srushtirk commented on #4040
@BenHenning Shared the bug report with you via email.

[2021-12-15 07:05] yash10019coder commented on #3589
@ishant904  please create a PR for the work you have done thanks.

[2021-12-15 07:05] yash10019coder commented on #3589
then we can discuss the problems in code

[2021-12-15 07:32] BenHenning commented on #3895
@rishidyno since the backend doesn't provide additional context for these links, we'll probably need to use text like "Open concept card" to provide context.

[2021-12-16 01:12] #3788 closed, assigned to rishidyno

[2021-12-16 04:30] BenHenning commented on #3825
@rishidyno either Rajat or I will follow up here once the mocks are ready (looking back on the email thread, I think the product questions have been resolved; we're just waiting on the mocks to be finished).

[2021-12-16 07:00] rishidyno commented on #3825
Ok! Thanks, @BenHenning Once the mocks are ready I will start working on them.

[2021-12-16 13:41] ishant904 commented on #3589
@yash10019coder I am trying to push commit in my forked repo but getting this error.

![image](https://user-images.githubusercontent.com/52167192/146382560-d70eb00c-5eb4-487b-a696-1075ffca13ed.png)

[2021-12-16 15:20] rishidyno commented on #3660
ok ! @BenHenning I understand, but I will be available for any help if needed in this issue.

[2021-12-16 17:40] yash10019coder commented on #3589
Hi @ishant904 is python2 installed in your system?

[2021-12-16 18:04] ishant904 commented on #3589
nope.

[2021-12-17 01:44] BenHenning opened #4064 "Add basic learner analytics support"
PRD: https://docs.google.com/document/d/13H_r47Ge6dj_VAszEHQttoyOoCKXeEgodSTv16-7fnY/edit.

Between #4247 and #4248, remaining work items I've identified:
- [x] Disable the feature by default
- [x] Verify that event uploading is actually happening, and correctly, to Firebase
- [x] Shift the implementation such that the domain changes update modules, but don't actually change the application classe

[2021-12-17 04:24] #3837 closed, assigned to rishidyno

[2021-12-17 05:42] yash10019coder commented on #3589
please install python2 then

[2021-12-17 06:13] #3968 closed, assigned to yash10019coder

[2021-12-17 07:18] #3189 closed, assigned to yash10019coder

[2021-12-17 09:58] ishant904 commented on #3589
installed python2 but still no luck

[2021-12-17 13:07] yash10019coder commented on #3589
try to run this command
`java -jar ../oppia-android-tools/ktlint -F --android domain/src/**/*.kt utility/src/**/*.kt data/src/**/*.kt app/src/**/*.kt testing/src/**/*.kt scripts/src/**/*.kt  instrumentation/src/**/*.kt`

[2021-12-17 14:58] ishant904 commented on #3589
@yash10019coder thanks!! . There was some issue with the google_check.xml and I was able to solve it by copying the content from checkstyle repo. I have created a PR, please do let me know on the changes req to elimnate all the xml files.

[2021-12-17 16:06] yash10019coder commented on #3589
@ishant904 you have to also link the PR to the issue by writing Fixes #<issue number>. so that it is shown up in the the linked PR's.

[2021-12-17 16:06] yash10019coder commented on #3589
and also whenever createing a pr you ask a review also assingn the PR to the person thanks

[2021-12-17 17:04] ishant904 commented on #3589
Done. @rt4914 I made PR #4070 , let me know on the additional changes required.

[2021-12-18 12:05] rishidyno commented on #3585
@Rigzbot Thanks. If you have any difficulty you can ask here.

[2021-12-18 20:13] rishidyno commented on #3585
@Rigzbot I would suggest going through my old PR for this issue see the files changed and conversation, there you might get some hint. If are stuck even after that you can ask in your PR chat thread.

[2021-12-18 20:16] rishidyno commented on #3585
Also make shure that you have correct PR title and Mentions. Guidelines are given in the 'Essential Checklist' you can see there. Take reference from any merged PR.

[2021-12-20 05:19] srushtirk commented on #4002
@BenHenning Per discussion with the UX team, we should allow/not allow the following:

Allow following characters for Profile names:
- Apostrophes (')
- Hyphens (-)
- Periods (.)
- All English and Non-English characters

Do Not Allow following characters for Profile names:
- Numbers (0, 1, 2, ... 9)
- Symbols (!@#$%^&*... etc.)
- Parentheses and Brackets ( (, [, { )

Also, note that we should not

[2021-12-22 14:49] xtanion opened #4072 "Creating multiple user not working with profile pic"
**Describe the bug**l
While creating multiple users in the app, after adding a profile photo and name in respective fields I wasn't able to create new profile the "Done" button wasn't working or responding to clicks.

P.S.  A new profile can be added w/o profile picture,and it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Switch Profile from the
2. Click on 'add account'

[2021-12-23 16:16] vivaansahai commented on #3579
Hello, can I work on this issue?

[2021-12-23 17:53] rishidyno commented on #3579
@vivaansahai Assigned this to you if you have any doubt ask here.

[2021-12-25 20:27] JishnuGoyal commented on #4002
As the requirements stated by @srushtirk , I feel making a function that checks using if-else would be much easier than creating a regex pattern that processes the String.
I'll create a PR to solve the issue.
Could you assign me @BenHenning

[2021-12-27 04:42] anandwana001 commented on #4072
<img src="https://user-images.githubusercontent.com/25057618/147435117-7c71a759-19e0-4825-b5d7-620c61074b47.png" width=220 height=450/>

Hi, @xtanion This is working for me on the latest develop branch to date. Could you please post the log also in the issue of what you are getting when clicking on create icon?
I had tested this on pixel 3a.

[2021-12-27 04:58] anandwana001 commented on #4040
This is working fine for me on the latest develop branch, tested on pixel 3a.

[2021-12-27 09:18] xtanion commented on #4072
![image](https://user-images.githubusercontent.com/74976752/147456126-52341cd8-5ef1-4cf4-94fd-430a678d7f4f.png)
I guess the error is  `org.oppia.android E/ProfileManagementController: Failed to store user submitted avatar image`  and hence it can't access the profile pic from internal storage `open failed: ENOENT (No such file or directory)`

[2021-12-27 12:02] vivaansahai commented on #3602
Hi, Can I work on `RecentlyPlayedActivity`?

[2021-12-29 12:47] yash10019coder commented on #3972
@BenHenning I would like to work on this issue

[2021-12-29 12:50] rishidyno commented on #3333
@rt4914 @BenHenning please check if this issue is blocked by #3324 as this has already been closed vai https://github.com/oppia/oppia-android/pull/3739

[2021-12-30 18:51] srushtirk opened #4075 "Chapter list doesn't stack up or hide after clicking the up arrow next to the topic in lessons tab"
**Describe the bug**
Stack up arrow next to the chapter list in the lessons tab does nothing.
Source: EdTech Hub Researchers

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Oppia app
2. Go to a topic - lessons tab
3. Click the drop down (arrow) to see full list of chapters for that topic
4. Clicking on the up arrow to stack/hide the chapter list doesn't work/does nothing.

**Expected b

[2021-12-30 19:12] srushtirk opened #4076 "Continue button changes to a conversation message when going backwards in a chapter"
**Describe the bug**
Continue button changes to a conversation message (color changes from green to white) that says 'Please continue' once the user goes backwards in a chapter. Please continue looks like a button but is not clickable. Right and left arrows also appear once gone backwards in a chapter for navigation in the lesson. It is confusing to the user whether to click the arrows or the plea

[2021-12-31 06:21] #3462 closed, assigned to jashasweejena

[2021-12-31 11:19] rishidyno commented on #3895
reference layout - `revision_card_fragment`

[2022-01-01 14:51] ankita240796 commented on #3602
Hi @rt4914, can I pick `MyDownloadsActivity`? Thanks!

[2022-01-04 06:57] Arjupta commented on #3569
@mukulasija any updates?

[2022-01-04 07:58] vrajdesai78 commented on #3351
<img width="926" alt="image" src="https://user-images.githubusercontent.com/43074241/148027336-c88c5d46-c409-470a-95dd-ff1d589780dd.png">
I am getting this error while building gradle.

[2022-01-04 16:31] rishidyno commented on #3825
@BenHenning @rt4914 any progress on the mocks?

[2022-01-04 19:05] rishidyno commented on #3895
@BenHenning  I have created the PR #4078. I have changed the name as suggested, PTAL.

[2022-01-05 03:41] BenHenning commented on #3895
@rishidyno I don't think #4078 quite solves the problem since that's only affecting a single concept card. In this case, we actually want to default the content description for the link for all concept cards.

[2022-01-05 03:51] BenHenning commented on #3333
Updated the title--thanks @rishidyno.

[2022-01-05 03:53] BenHenning commented on #4072
Might be a permission issue specific to this device, or maybe an SD card image was selected (the app doesn't have read SD card permissions). It seems like more investigation is needed here.

[2022-01-05 04:16] BenHenning commented on #3972
Sounds good! Assigning this to you @yash10019coder.

[2022-01-05 04:18] BenHenning commented on #4002
Assigning this to you @JishnuGoyal.

@srushtirk to clarify one bit: some languages do mix English & non-English characters (such as Spanish, French, German, and others). How exactly should this requirement work?

[2022-01-05 08:07] rishidyno commented on #3895
@BenHenning I went through all the concept cards and there are only 2 cards with Rich-text hyperlink. And others have some explanation or sample, or they are empty, and they don't have any rich-text in them. These rich texts are coming from JSON files and which are separate for each concept card. So I think we have to add custom rich text for each of the concept cards.

[2022-01-05 08:17] rishidyno commented on #3895
Below are the 2 rich text
I have applied changes for one of them.
| SS1  | SS2 |
| ------------- | ------------- |
| ![Screenshot_20220105_134354](https://user-images.githubusercontent.com/78549195/148183327-b8eca14f-5685-4d45-87f4-67cfb48d3ae2.png)  | ![Screenshot_20220105_134428](https://user-images.githubusercontent.com/78549195/148184153-b564c66c-7fc5-465d-878d-a67d508c8505.png)|

[2022-01-05 18:15] Arjupta commented on #3588
@Rigzbot assigning it to you as @ParnaviKulkarni has not shown any updates

[2022-01-06 16:58] kritigupta45 commented on #3179
I would like to work on this issue, kindly assign it to me. @rt4914

[2022-01-07 06:46] Rishavgupta12345 commented on #3560
I want to work on this issue please assign me this

[2022-01-07 07:55] bkaur-bkj commented on #3560
@Rishavgupta12345 done

[2022-01-07 09:00] riyasoganii commented on #4018
Hi @dika1osune! The reason we cannot add further divisions to the cake is because the aim of the lesson is to encourage the students to make these divisions themselves.

[2022-01-07 09:58] mukulasija commented on #3570
i would like to work on this issue

[2022-01-07 11:02] rishidyno commented on #3570
Thanks @mukulasija

[2022-01-07 11:06] shubhanshu-coder commented on #3722
pl assign me this issue @rt4914 @bkaur-bkj

[2022-01-07 11:12] shubhanshu-coder commented on #3581
I would like to work on this issue . could u pl assign this to me.
@rt4914

[2022-01-07 11:14] shubhanshu-coder commented on #3563
can u assign this to me i am intersted in this .  Also pl guide me how to setup

[2022-01-07 11:20] shubhanshu-coder commented on #3556
can u pl assign this to me and pl guide how to setup .

[2022-01-07 12:21] xtanion commented on #4072
Seems like it was a MIUI specific issue, I tried recreating the same issue on the same device with a custom ROM and it worked fine.

[2022-01-07 12:34] mukulasija commented on #3179
during working on issue #3570 I also shifted the app bar layout to the reading_text_size_activity file, so can u please assign me this issue #3179 so that I can create a PR...

[2022-01-07 19:08] #3536 closed, assigned to mukulasija

[2022-01-07 19:49] #3576 closed, assigned to shivambh12

[2022-01-07 23:32] srushtirk commented on #4002
Thanks for pointing it out. Two options that we can undertake:
1) Allow languages that use English alphabets to mix and match ONLY English alphabets (plus the allowlisted characters in the comments above) along with their language specific letters. However, there are around 100 languages that use English letters.
2) Allow mix and match of letters in all languages.

Could you please let me know the

[2022-01-07 23:38] srushtirk opened #4085 "Remove info tab and add info icon"
**Is your feature request related to a problem? Please describe.**
Per feedback received from multiple user studies, learners do not find it useful to have the info tab as a separate tab (as well as the first tab that they come across)

**Describe the solution you'd like**
Remove the Info tab and add an info icon to the screen as below:
![Screen Shot 2022-01-07 at 3 35 15 PM](https://user-images.g

[2022-01-07 23:39] srushtirk commented on #4085
cc @mschanteltc

[2022-01-07 23:48] srushtirk opened #4086 "Change Revision Tab Icon"
**Is your feature request related to a problem? Please describe.**
The icon, when seen without the labels, do not match to real world representation of ‘revision’ and is misleading as found during user studies. Students often opened the revision tab when asked to start learning.

Current revision tab icon:
![Screen Shot 2022-01-07 at 3 47 16 PM](https://user-images.githubusercontent.com/27875087/1

[2022-01-08 00:19] srushtirk opened #4087 "Ban inappropriate words in profile names"
**Is your feature request related to a problem? Please describe.**
Ban offensive and swear words under user profile names so that kids (learners) do not add inappropriate profile names to their accounts.

**Describe the solution you'd like**
Here is a list of words that should be banned from profile names in the app.
https://docs.google.com/spreadsheets/d/1aXBkwOoelPfqbIroiPVEeU3Mjt2AcinUKgh-UBzA3

[2022-01-08 07:17] BenHenning commented on #4002
@srushtirk I don't foresee any issues with (2). I think we originally chose the present UX for simplicity, but given that the admin can always rename a profile if it's named poorly (such as including emojis) I don't see any issues with allowing them to be combined.

One issue I see with (1) is that we don't know what language users will use for their name, and it's quite possible multiple language

[2022-01-09 05:47] shubhanshu-coder commented on #3585
can u pl assign me this issue

[2022-01-09 05:48] shubhanshu-coder commented on #3552
can u pl assign this to me and pl guide how to setup

[2022-01-09 05:49] shubhanshu-coder commented on #3558
can u pl assign this to me and pl guide how to setup

[2022-01-09 05:49] shubhanshu-coder commented on #3561
can u pl assign this to me and pl guide how to setup

[2022-01-09 05:49] shubhanshu-coder commented on #3575
can u pl assign this to me and pl guide how to setup

[2022-01-09 05:56] Rishavgupta12345 commented on #3602
can i work on RecentlyPlayedActivity

[2022-01-09 06:47] priyatanu commented on #3602
Hi @rt4914 , Can I work on Profile edit Activity?

[2022-01-09 08:21] vaibhavjain30699 commented on #3575
Can I work on this issue?

[2022-01-09 14:58] bhaktideshmukh commented on #3554
Hi @rt4914!

I want to work on this issue. Please assign it to me.

Out of the 3 versions of options_without_drawer_activity.xml, 2 of them are identical and the third one has a very different layout.

[2022-01-09 15:08] bhaktideshmukh commented on #3554
This is layout-sw600dp/options_without_drawer_activity.xml
![Screenshot from 2022-01-09 20-35-42](https://user-images.githubusercontent.com/78796264/148688163-58d6da32-b653-487d-887b-7787f8b1c999.png)

This is the layout of layout/options_without_drawer_activity.xml which is same as layout-land/options_without_drawer_activity.xml

![Screenshot from 2022-01-09 20-34-50](https://user-images.githubus

[2022-01-09 15:22] bhaktideshmukh commented on #3550
Hi @rt4914 Please assign this one as well! Thanks.

[2022-01-09 17:09] bhaktideshmukh commented on #3549
Hi @rt4914 Please assign this one as well! Thanks.

Here in option_activity.xml out of 3 versions, 2 of them are identical and third one has different layout.

[2022-01-09 17:11] bhaktideshmukh commented on #3549
This is the layout of layout-sw600dp/option_activity.xml

![Screenshot from 2022-01-09 22-39-47](https://user-images.githubusercontent.com/78796264/148692833-12152f49-28e5-4443-9706-e51e0094479c.png)

[2022-01-09 17:13] bhaktideshmukh commented on #3549
This is the layout of layout-land/option_activity.xml which is same as that of layout/option_activity.xml

![Screenshot from 2022-01-09 22-40-11](https://user-images.githubusercontent.com/78796264/148692884-c90560ca-96fc-4194-a1af-01f3e79c67d5.png)

[2022-01-09 17:30] bhaktideshmukh commented on #3549
There are 3 files with the same name, 2 of them are identical
(now merged to a single file) and the third one has a different
layout.

![Screenshot from 2022-01-09 22-43-41](https://user-images.githubusercontent.com/78796264/148693464-0582361f-4266-4dd7-b09b-9816a448c267.png)

[2022-01-10 05:06] rt4914 commented on #3602
@Rishavgupta12345 I have actually removed `RecentlyPlayedActivity` from this list as it will require a bit different strategy and needs to finish some other issues first.

[2022-01-10 05:56] Rishavgupta12345 commented on #3602
then Can I work on Profile edit Activity?

[2022-01-10 07:49] shankarpriyank commented on #3547
I would love to work on this , could you please assign this to me

[2022-01-10 08:02] shankarpriyank commented on #2652
I would love to work on this can you please assign this issue to me?

[2022-01-10 08:09] shankarpriyank commented on #3551
Hi , I would like to work on this , could you please assign this to me

[2022-01-10 09:20] priyatanu commented on #3557
@rt4914 , I would like to work on this issue ?

[2022-01-10 10:53] bhaktideshmukh commented on #3546
Hey! @rt4914

Please assign this xml file to me.

[2022-01-10 10:57] bhaktideshmukh commented on #3546
Here contents of layout-land/ongoing_topic_list_activity.xml and layout/ongoing_topic_list_activity.xml are identical. Hence merging layout-land/ongoing_topic_list_activity.xml with layout/ongoing_topic_list_activity.xml.

![Screenshot from 2022-01-10 16-24-06](https://user-images.githubusercontent.com/78796264/148754886-c238979b-e2c7-45cd-91a7-5dc4b8519714.png)

[2022-01-10 15:34] shankarpriyank commented on #3551
I found out the sw600dp version of the xml fine contains this
 <variable
      name="commonViewModel"
      type="org.oppia.android.app.options.OptionControlsViewModel" />

      I am not much familiar with databinding but I am sure this thing can go into dimens

[2022-01-10 15:37] shankarpriyank commented on #3551
I found out that the sw600dp version of the xml contains this which is an extra variable when compared to the other 2 files
I don't know know much about databinding but I am not sure this thing can go into dimen
`<variable
      name="commonViewModel"
      type="org.oppia.android.app.options.OptionControlsViewModel" />`

[2022-01-10 17:08] ArchitJain1201 commented on #3722
@bkaur-bkj  Can you please assign me this issue?

[2022-01-10 17:54] bkaur-bkj commented on #3722
as this issue is currently begin assigned to Shubhanshu you can try picking up other issues

[2022-01-10 18:00] Arjupta commented on #3602
@Rishavgupta12345 have assigned ProfileEditActivity to you.

[2022-01-10 18:02] shubhanshu-coder commented on #3722
can u pl guide me how to start , very eager to contribute.
currently figuring out where the issue code .

[2022-01-10 18:07] ArchitJain1201 commented on #3556
@rt4914  Can you please assign me this issue?

[2022-01-10 19:17] BenHenning commented on #4087
@srushtirk would this list also need to be internationalized? It's also generally pretty easy to circumvent simple censors (and doing something more elaborate can get very complex). I don't think we have any similar filtering on Oppia web, though we do have moderators & admins that could take action if people did this. Given the nature of solving this problem properly, I'm wondering how much this

[2022-01-10 19:18] BenHenning commented on #4086
Is the proposed icon a material icon @srushtirk? Or, is there a material icon alternative that we can use?

[2022-01-10 19:23] BenHenning commented on #4085
I'm curious about this. Won't moving the info to a toolbar button all but guarantee that people won't see it?

There are currently two ways to navigate to to a topic: the topic list, and recent activity. Opening a topic from the topic list navigates the user to the info tab, whereas recent activity navigates them to the lessons tab. Have we considered also navigating the user to the lessons tab wh

[2022-01-10 19:50] BenHenning commented on #3895
@rishidyno those are just test concept cards. We actually download a whole different set of lessons for the production version of the app that we upload to the Play Store. If I recall, it has 50+ concept cards that are included with the app.

That's actually why the solution needs to be generalizable since we don't have the option of changing the concept cards or the HTML itself. This is something

[2022-01-11 08:22] ayush0402 commented on #503
@anandwana001 Is this issue still needed to be fixed?

[2022-01-11 11:41] priyatanu commented on #3547
@rt4914 I would like to work on this issue. Is it possible to work on this task

[2022-01-11 11:52] shankarpriyank commented on #3545
I would like to work on this issue, could you please assign this to me

[2022-01-11 12:23] yashbansal130 commented on #4076
can i work on this issue?

[2022-01-11 18:44] rishidyno commented on #3895
@rt4914  has mentioned that he will discuss this with you personally.

[2022-01-12 00:43] BenHenning commented on #1535
(Closing to trigger the TODO workflow).

[2022-01-12 04:10] #3855 closed, assigned to deepanshu731

[2022-01-12 04:15] #3333 closed, assigned to rishidyno

[2022-01-12 05:12] srushtirk commented on #4085
@BenHenning Agree!

I have two suggestions here if we are keeping the current workflow: 1) Default to lessons tab once the user opens a topic (this was one of the considerations during our discussion last year) 2) Hide the topic downloads button until downloads are available.

We can close this issue and I will follow up with Shin who I believe is working on topic downloads.

[2022-01-12 07:58] priyatanu commented on #3557
@ARJUPTA , I would like to work on this issue ?

[2022-01-12 15:46] Arjupta commented on #3557
@priyatanu assigned it to you

[2022-01-13 01:35] srushtirk commented on #4087
Hi @BenHenning, this list definitely needs to be internationalized, and therefore I want to suggest if we can have an ongoing list that we can update timely to add inappropriate words to be banned in the app from other languages?

Since the devices may be shared between multiple users (kids) of different ages (between 5-14 yrs), and in scenarios of unsupervised learning, this issue could potential

[2022-01-13 05:00] BenHenning commented on #3895
After chatting to @rt4914, it doesn't seem worthwhile to fix this in the generic case since the link behavior will be essentially the same as for sighted users (and from a technical feasibility perspective, this is hard since Android doesn't provide a way to define a content description for an actual span).

That being said, it's worthwhile to fix the test content to silence this issue. We should

[2022-01-13 06:42] BenHenning commented on #4027
To clarify: I think the fix here is just figuring out a way to scale existing images based on dp rather than pixels, but it's not yet clear if we need to any additional transformations, or whether this will even work.

[2022-01-13 06:45] BenHenning opened #4093 "Implement image zooming functionality"
### Is your feature request related to a problem? Please describe.
As noted in #4027, many images in the app (concept cards, revision cards, questions, explorations, etc.) are too small on certain devices.
Users with visual impairments or smaller screens cannot view details properly.
Currently, there is no way to zoom into these images, which limits **accessibility** and **usability**.

#### Scree

[2022-01-13 06:45] BenHenning commented on #4093
As discussed, assigning this to you @rishidyno.

[2022-01-13 06:45] BenHenning commented on #4027
As discussed, assigning this to you @rishidyno.

[2022-01-13 06:46] BenHenning commented on #3888
As discussed, assigning this to you @yash10019coder.

[2022-01-13 06:51] seanlip commented on #4087
I'll defer to @isalooo (Android product lead) on this.

[2022-01-13 11:52] yashbansal130 commented on #3561
Assign me this issue please

[2022-01-13 12:19] yashbansal130 commented on #3561
@yash10019coder assign me this issue please

[2022-01-13 13:50] shankarpriyank commented on #3551
Hi @rt4914 , @bkaur-bkj

[2022-01-13 13:52] shankarpriyank commented on #3545
Hi @rt4914, @bkaur-bkj

[2022-01-13 15:53] bhaktideshmukh commented on #3602
Hey! @ARJUPTA @rt4914 can you assign me MyDownloadsActivity?

[2022-01-13 16:11] bkaur-bkj commented on #3551
@shankarpriyank as explained to get the PR reviewed you need to keep the assignee section updated by assigning the PR back to reviewers after your work or changes is done. You can do that by writing PTAL @name

[2022-01-13 16:11] bkaur-bkj commented on #3551
also to get it assigned you can tag us

[2022-01-13 16:14] bkaur-bkj commented on #3551
also I think you don't need to use data binding here, you try to merge as many files as possible and create a PR then we will let you know what changes can be done

[2022-01-13 16:20] Arjupta commented on #3602
@bhaktideshmukh assigned it to you.

[2022-01-13 16:27] ArchitJain1201 commented on #3572
@bkaur-bkj Can you please assign me this issue?

[2022-01-13 16:33] bkaur-bkj commented on #3572
@ArchitJain1201 done

[2022-01-13 17:07] bkaur-bkj commented on #3545
@shankarpriyank done

[2022-01-13 20:09] ArchitJain1201 commented on #3572
@bkaur-bkj Sir, the solution I can figure out is to use two files, one that handles the large size ( such as tables ) and the other that handles medium or a small size ( phones ). Reason: the code uses two methods for UI 1. Takes margin in the text field from start and end ( for small size screen ) whereas 2. Take minimum width ( Using method minWidth ) from the center ( for large size screen ).
S

[2022-01-13 23:51] BenHenning opened #4096 "Remove oppia_proto_library once protos can be located in their correct directories [Blocked: #59]"
#4045 introduces oppia_proto_library which strips the import prefix due to the protos not actually being placed properly in the repository (due to Gradle project arrangement requirements). We shouldn't need it anymore once the protos can be relocated after removing Gradle.

[2022-01-14 03:25] BenHenning opened #4097 "Add tests for math subjects: FractionSubject, RealSubject, MathExpressionSubject, MathEquationSubject"
#4047 introduces four new custom Truth test subjects: FractionSubject, RealSubject, MathExpressionSubject, MathEquationSubject. Each of these would be advantageous to add thorough tests for to ensure that:
- Each of the subject & comparator methods correctly allow users to test specific properties of the protos each subject helps verify
- Each of the subject & comparator methods are verified to fa

[2022-01-14 04:31] BenHenning opened #4098 "Add tests for ComparableOperationSubject"
#4049 introduces a new custom Truth test subject: ComparableOperationSubject. It would be advantageous to add thorough tests for this to ensure that:
- Each of the subject & comparator methods correctly allow users to test specific properties of the protos each subject helps verify
- Each of the subject & comparator methods are verified to fail when expected (i.e. when used with an incompatible pr

[2022-01-14 05:43] BenHenning opened #4100 "Add tests for PolynomialSubject"
#4050 introduces a new custom Truth test subject: PolynomialSubject. It would be advantageous to add thorough tests for this to ensure that:
- Each of the subject methods correctly allow users to test specific properties of the protos each subject helps verify
- Each of the subject methods are verified to fail when expected (i.e. when used with an incompatible proto property) with the correct fail

[2022-01-14 07:18] yashbansal130 commented on #4076
@yash10019coder can i try this one?

[2022-01-14 07:20] yash10019coder commented on #4076
You can try it but it not seems easy for a starter issue.

[2022-01-14 08:18] vivaansahai commented on #3559
Hello, can I work on this issue?

[2022-01-14 08:36] priyatanu commented on #3557
Thank you :D

[2022-01-14 08:58] ArchitJain1201 commented on #3572
**### Screenshots**
**Before**
![Screenshot_20220114_001544](https://user-images.githubusercontent.com/80871543/149484079-6c230d71-d11d-4c4f-8336-87b0762ec776.png)
**After**
![Screenshot_20220114_130407](https://user-images.githubusercontent.com/80871543/149484177-f0e042e7-f98e-4bdb-ba6c-3497f9db4ab9.png)
**Before**
![Screenshot_20220114_001601](https://user-images.githubusercontent.com/80871543/1

[2022-01-14 09:14] ArchitJain1201 commented on #3572
@PTAL bkaur-bkj

[2022-01-14 11:17] yashbansal130 commented on #3106
@yash10019coder assign me this issue please

[2022-01-14 21:21] BenHenning commented on #4087
@srushtirk perhaps we should discuss this in the next product sync--it'd be nice to get broader thoughts on this.

[2022-01-14 21:22] BenHenning commented on #4085
@srushtirk in that case, closing this issue until we have a finalized product strategy.

[2022-01-14 21:24] BenHenning commented on #503
@ayush0402 yes. There's no dedicated test suite for questions currently. We have a few tests in QuestionPlayerActivityTest, but what we really need are QuestionPlayerFragmentLocalTest and QuestionPlayerFragmentTest akin to StateFragmentLocalTest and StateFragmentTest, respectively, that test various interaction & hint scenarios for questions.

[2022-01-15 05:04] bhaktideshmukh commented on #3602
Hey! @ARJUPTA Can you assign ProfileEditActivity to me as well.Thanks!!

[2022-01-15 05:11] Rishavgupta12345 commented on #3602
i was working on it why did you Un assigned me ??/

[2022-01-15 10:23] deepanshu731 opened #4104 "Profile Picture edit icon shadow needs be to thinner for low-end-devices"
The edit icon shadow looks very thick:

![Screenshot_20220803_014605](https://user-images.githubusercontent.com/9396084/182465473-5d5d6073-0424-4df9-a674-bb393544eb85.png)
![Screenshot_20220803_014634](https://user-images.githubusercontent.com/9396084/182465691-80dcf1cf-b6ff-4810-94b2-7812415952d1.png)

MDPI_SMALL
Size: 2.7 inch
Android API: 28

This shadow for edit-icon should be thin compared to

[2022-01-15 10:29] deepanshu731 opened #4105 "Pin Text View is not visible in MDPI small"
Pin Text View is not visible
![Screenshot_1642243720](https://user-images.githubusercontent.com/78534813/149619040-2b7f35bd-7809-4094-864a-1d31ffc80659.png)
MDPI_SMALL
Size: 3.2 inch
Android API: 28

[2022-01-15 14:47] Arjupta commented on #3602
Dont worry @Rishavgupta12345 you are not unassigned, as you are working on a part of this issue hence assigning the whole issue to you will actually mean that you are working over all the sub issues. I removed you from assignees just to make it clear to other contributors.

@bhaktideshmukh you can see in the Issue description that `ProfileEditActivity` is currently assigned to @Rishavgupta12345 so

[2022-01-15 16:13] bhaktideshmukh commented on #3602
Sure no problem:)

[2022-01-15 17:18] om-khandade commented on #4086
No it is not a material icon. An alternative could be "Format List Bulleted".

[2022-01-15 20:48] FareesHussain opened #4106 "Move lintchecks to bazel"
Moving linter and other scripts to Bazel.

At present we have different tools and scripts for linters.

Replace these with Bazel integrated tools or rules.

For example:
Kotlin (ktlint) - https://bazelbuild.github.io/rules_kotlin/kotlin#ktlint_config
starlark (buildifier) - https://github.com/bazelbuild/buildtools/tree/master/buildifier#setup-and-usage-via-bazel-not-supported-on-windows
java (chec

[2022-01-16 08:14] bkaur-bkj commented on #3572
@ArchitJain1201 as I explained in the meet, make a PR addressing this issue and that will be reviewed

[2022-01-16 08:55] ArchitJain1201 commented on #3575
@bkaur-bkj Can you please assign me this issue?

[2022-01-16 11:01] ayush0402 commented on #4098
@BenHenning Can I work on this once #4049 is merged?

[2022-01-17 18:49] chrk2205 commented on #4076
if this is open can i work on it?? @srushtirk @yash10019coder

[2022-01-17 19:16] #3569 closed, assigned to mukulasija

[2022-01-17 19:24] #3582 closed, assigned to shivambh12

[2022-01-17 20:00] #3549 closed, assigned to bhaktideshmukh

[2022-01-18 03:37] yash10019coder commented on #4076
Assigned @chrk2205

[2022-01-18 07:31] rishidyno commented on #3895
@BenHenning @rt4914 What sentence should we use in place of `Learn more`.

[2022-01-18 07:59] #4015 closed, assigned to ihrishix

[2022-01-18 09:22] chrk2205 commented on #4076
I have found the bug. Technically I feel that it is not a bug.
Explanation :
In the application to go to the next state ( next page ), we are using a single method which is [submit answer](https://github.com/oppia/oppia-android/blob/develop/domain/src/main/java/org/oppia/android/domain/exploration/ExplorationProgressController.kt#L148).
In case the page does not have any questions then we are usin

[2022-01-18 09:33] chrk2205 commented on #4076
@rt4914 can you confirm if this is a bug or not??

[2022-01-18 10:34] Aakash1121 commented on #3561
@rt4914 @yash10019coder I would like to work on this issue, can you assign it to me?

[2022-01-18 11:12] bhaktideshmukh commented on #3563
@yash10019coder Hey! assign this to me.

[2022-01-18 11:13] bhaktideshmukh commented on #2423
@anandwana001 @yash10019coder Can you please assign this issue to me?

[2022-01-18 13:07] yash10019coder commented on #3561
@yashbansal130 are you working on this issue, if not I am assigning this to @Aakash1121

[2022-01-18 13:12] yashbansal130 commented on #3561
@yash10019coder i am not working on this issue, u can assign him

[2022-01-18 13:36] rishidyno commented on #4093
@BenHenning
I was thinking, could it be that we could implement the zooming functionality to the whole parent `view` like we have in the Chrome browser and can also be seen in Gmail app where we have the option to zoom the whole view.

Or should we just stick to implementing this feature to images only. If we do this, we will have to open the image in on the top of current `view`(activity or fragm

[2022-01-18 14:04] yashbansal130 commented on #3565
@yash10019coder can i work on this? I know how to do this now

[2022-01-18 16:21] #3584 closed, assigned to kritigupta45

[2022-01-18 16:57] ayush0402 commented on #3798
Closing this issue. Refer to #4030 for continuation.

[2022-01-18 16:57] #3798 closed, assigned to nobody

[2022-01-18 17:19] rt4914 commented on #3432
More information about this issue:
It was solved on in this PR https://github.com/oppia/oppia-android/pull/3433
but later on we identified one issue because of this PR https://github.com/oppia/oppia-android/issues/3765

In short, the code mentioned in #3433 does work well but raises the issue mentioned in #3765 .While solving this issue you can check code from #3433 for reference and make sure tha

[2022-01-18 18:12] BenHenning commented on #4076
I think this requires input from our UX team before we can move forward with a technical solution since it's not actually clear what we should be changing.

@srushtirk can you follow up with UX to determine what needs to be changed here?

[2022-01-18 18:12] BenHenning commented on #4076
Thanks @chrk2205. I think we'll need to wait on input from Srushti & UX before we can move forward with a fix.

[2022-01-18 19:07] BenHenning commented on #4106
To clarify two things:
1. We should ensure that the Bazel-run replacement linters behave exactly the same as the current setup (e.g. ktlint should use our custom ktlint configuration)
2. We shouldn't actually remove the existing linter scripts until after Gradle is fully removed

[2022-01-18 19:07] BenHenning commented on #4105
The fix here ought to be to disable LDPI altogether. If I recall correctly, that mode is generally used for watches, so it's never going to be needed for the Oppia platform.

@rt4914 do you have any thoughts on this?

[2022-01-18 19:23] BenHenning commented on #4093
Thanks for your thoughts @rishidyno.

@srushtirk this issue requires product & UX guidance. Can you follow up?

[2022-01-18 19:25] BenHenning commented on #3895
@rishidyno any sentence should work here. Even just: "This concept card demonstrates overall concept card functionality." would be sufficient if it eliminates the accessibility error (you'll need to check this with the accessibility scanner).

[2022-01-18 19:32] BenHenning commented on #4098
Sure @ayush0402, but please be aware that it may be a few weeks before that PR is merged (I plan to merge the entire sequence of ~17 PRs in one shot, so they'll all need to be finalized before any are merged).

[2022-01-18 20:48] rishidyno commented on #3895
Got it @BenHenning. Thanks!

[2022-01-19 02:34] #3907 closed, assigned to viktoriias

[2022-01-19 07:23] rt4914 opened #4109 "Disable LDPI for oppia app"
LDPI is generally used by watches and we should be targeting MDPI and above only.

Disable LDPI for oppia android app.

For the solution, see: https://github.com/oppia/oppia-android/issues/4109#issuecomment-1100236130.

[2022-01-19 07:24] rt4914 commented on #4105
@deepanshu731 @BenHenning Yes we can disable LDPI. We will need to fix it for MDPI. I have created this issue https://github.com/oppia/oppia-android/issues/4109

@BenHenning can you add labels/projects/milestone correctly for this?

[2022-01-19 07:39] rt4914 commented on #3559
@vivaansahai If you are still interested in this issue you can start working on it.

[2022-01-19 07:41] rt4914 commented on #3558
@shubhanshu-coder
Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-01-19 07:42] rt4914 commented on #3585
@shubhanshu-coder  Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-01-19 09:17] anandwana001 commented on #2423
@bhaktideshmukh I would suggest before working on this issue, please investigate if this issue exists or not.

@rt4914 Could you please check here if we still need this issue or not.

[2022-01-19 10:39] rt4914 commented on #3825
@rishidyno Currently we have decided to hide the feature which is getting done in #4006

[2022-01-19 10:43] rt4914 commented on #3550
@bhaktideshmukh Assigned.

[2022-01-19 10:43] rt4914 commented on #3579
Unassigned because of inactivity.

[2022-01-19 10:52] rt4914 commented on #3552
@shubhanshu-coder Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-01-19 10:53] rt4914 commented on #3722
@shubhanshu-coder Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2022-01-19 10:54] rt4914 commented on #3906
@deepanshu731 Unassigning this issue because of inactivity let me know if you  are still working on this.

[2022-01-19 10:57] rt4914 commented on #3547
@priyatanu Assigning you this issue.

[2022-01-19 10:57] rt4914 commented on #3556
@ArchitJain1201 Assigning you this issue

[2022-01-19 12:11] vivaansahai commented on #3579
Hello @rt4914, I am still working on this. Sorry for the delay.

[2022-01-19 13:11] #3546 closed, assigned to bhaktideshmukh

[2022-01-19 15:55] rt4914 commented on #3514
Closing this as it was solved with #3765

[2022-01-19 15:55] #3514 closed, assigned to nobody

[2022-01-19 16:07] yashbansal130 commented on #3565
I cannot find the activity this xml file is inflating to verify the changes since its UI

[2022-01-19 18:17] rt4914 commented on #3565
@yashbansal130 Just play through couple of explorations like `Prototype Exploration`, `What is a fraction`, etc. and after that open `Navigation Drawer`, click on profile-header, you will see a new activity and in that you will see cards at bottom which are inflating the xml mentioned in this issue.

[2022-01-19 18:18] rt4914 commented on #3579
@vivaansahai No worries. I will assign you back.

[2022-01-19 19:43] rt4914 commented on #2423
@anandwana001 Yes this issue is still there. @bhaktideshmukh Can work on this.

[2022-01-20 09:15] rishidyno commented on #4093
@srushtirk can you please update me on this.

[2022-01-20 12:12] yashbansal130 commented on #3565
@rt4914 thanks for the help

[2022-01-20 12:28] srushtirk commented on #4086
@om-khandade Won't the users will get confused between lessons and revision tab is we use 'format list bulleted' icon for revision? I believe this won't solve the current user pain point of not being able to distinguish between lessons and revision tab intuitively.

[2022-01-20 12:53] srushtirk commented on #4093
From what I understand, the user will have to tap on the image to open it in a new screen overlaid on the original-card screen, and then use pinch to zoom. Is that right? If yes, this adds additional clicks for the user, and ideally we want to reduce the number of steps and make it easy for them to navigate in the app.

Alternative of full view zoom sounds better with a trade off that the user wou

[2022-01-20 15:28] rishidyno commented on #4093
Ya! It's right, going for full view zoom seems better.

1 → Well, I meant that we will implement this to only those views where we need this functionality.
2 → I think this should work, if it works for image it should work for other views. Also, you have mentioned that some apps do implement this feature.

I will try to implement this and see if works out.

[2022-01-21 04:14] yashbansal130 commented on #3565
@yash10019coder after deleting rest of the layout files and adding dimens for port, land, sw600dp-land and sw600dp-port I am getting this error for tablets and the app crashes
![Screenshot from 2022-01-20 14-15-05](https://user-images.githubusercontent.com/66557534/150464608-ee956a42-f762-4fe4-a421-fa8d46b2c48f.png)

[2022-01-21 05:22] srushtirk commented on #4093
Ok, just implementing full view zoom where needed will be an inconsistent experience for the user. Let's make this functionality available for all cards in the app.

Let me know if you have any questions or concerns.

[2022-01-21 05:25] srushtirk commented on #4076
@om-khandade Can you provide UX inputs?

[2022-01-21 05:47] BenHenning opened #4119 "Migrate codebase to Kotlin 1.5"

[2022-01-21 05:47] BenHenning opened #4120 "Migrate codebase to Kotlin 1.6"

[2022-01-21 06:06] BenHenning opened #4121 "Add tests for TokenSubject"
#4051 introduces a new custom Truth test subject: TokenSubject. It would be advantageous to add thorough tests for this to ensure that:
- Each of the subject methods correctly allow users to test specific properties of the protos each subject helps verify
- Each of the subject methods are verified to fail when expected (i.e. when used with an incompatible proto property) with the correct failure r

[2022-01-21 06:37] BenHenning opened #4122 "Update ktlint"
We should update ktlint to the latest version since it actually has some issues with Kotlin 1.4 (i.e. ``fun interface`` results in a ktlint failure that can't be worked around), but there are a lot of formatting changes that need to be addressed with this. It may be worth also integrating with ktfmt (i.e. #2799) before completing this since that will also require a codebase-wide refactor.

We shou

[2022-01-21 06:42] BenHenning commented on #4122
Related ktlint issue: https://github.com/pinterest/ktlint/issues/781 (fix was in 0.38.0).

[2022-01-21 06:43] rt4914 commented on #3565
@yashbansal130 Please take a look at here: https://github.com/oppia/oppia-android/wiki/Frequent-Errors-and-Solutions#crashing-layout-tags-in-tablet

[2022-01-21 09:10] yashbansal130 opened #4123 "Duplicate cards in Recently Played Stories"
**Describe the bug**
The stories are getting duplicated in recently played stories

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Recently-Played Stories'
2. Click on some of the cards and go through them
3. Return to recently played stories by clicking on Up botton
4. See duplicate cards in the Recently-Played Activity

**Expected behavior**
The cards should not get duplicated when

[2022-01-21 10:46] shankarpriyank commented on #3552
I would like to work on this issue please assign this to me @bkaur-bkj

[2022-01-21 13:28] bkaur-bkj commented on #3552
done

[2022-01-21 16:44] bhaktideshmukh commented on #2423
@rt4914 @anandwana001 @yash10019coder I read the issue but still its not clear from where and what I should start up with.
Can anyone please suggest me or assign some specific task hinting with what I should go ahead.

[2022-01-21 19:27] srushtirk commented on #3888
Here is the PRD for your reference: https://docs.google.com/document/d/1X3afsvo3XmzuJziWvzylFWbb4AEjwhtoSp1MyPNEXpA/edit#

[2022-01-22 05:42] shankarpriyank commented on #3602
Hi @bkaur-bkj I would like to work on ProfileEditActivity issue, can you please assign this to me

[2022-01-22 06:02] Arjupta commented on #3602
@Rishavgupta12345 if you are unable to work on this issue so let us know. Its has been 12 days since it was assigned to you.

[2022-01-22 06:56] shankarpriyank commented on #3366
Hi @bkaur-bkj could I would like to work on this could you please assign this to me

[2022-01-22 07:14] BenHenning commented on #4093
Is full view zoom possible? We may need to do a technical investigation here before committing to a particular approach. My assumption was that it would be prohibitively difficult as compared with using a separate activity to view & zoom the image.

[2022-01-22 07:37] Rishavgupta12345 commented on #3602
I have completed this issue but since my one pull request is pending on review:- #4088  , I am not claiming another pull request . AS SOON AS my previous pull request gets merged I will make the pull request for this issue

AND MOREOVER you are the one who is assigned to review my pull request of #4088

[2022-01-22 07:37] shankarpriyank commented on #3366
Also I am also encountering the same error as @TheSwarnin , and I am getting the same message even with a physical device , an help would really be appreciated @anandwana001

[2022-01-22 07:38] Rishavgupta12345 commented on #3602
AND MOREOVER, you are the one assigned to review my pull request of #4088.

[2022-01-22 07:57] shankarpriyank commented on #2824
I would like to work on this could you please assign this to me @bkaur-bkj

[2022-01-22 08:08] bkaur-bkj commented on #2824
@rt4914 can this issue be assigned to @shankarpriyank ?

[2022-01-22 08:14] Arjupta commented on #3602
I understand that you are waiting for your first PR to merge, but if that's the case then you shouldn't ask for more issues to work on. There are plenty of issues that you can pick up after your PR gets merged. As you have already not made any commits regarding this issue so I am unassigning you, you can ask me for any other issue once you are ready.

About the PR review, I have suggested changes

[2022-01-22 08:16] bkaur-bkj commented on #3602
@ARJUPTA  pls do assign Profile edit activity Issue to @shankarpriyank

[2022-01-22 11:37] ishant904 commented on #3585
@rt4914 i would like to work on this.

[2022-01-22 12:43] vivaansahai commented on #3559
@rt4914 Yes, I am still interested. Can you please assign this to me?

[2022-01-22 15:20] bhaktideshmukh commented on #3460
Hey @rt4914 I would like to work on this issue. Can you please assign it to me?

[2022-01-22 16:11] anandwana001 commented on #3106
Closing this issue as the moving of file is no more required.

[2022-01-22 16:11] #3106 closed, assigned to yashbansal130

[2022-01-22 16:14] anandwana001 commented on #3366
@shankarpriyank Could you please post the update error log you are getting?

[2022-01-22 16:33] shankarpriyank commented on #3366
![image](https://user-images.githubusercontent.com/75121767/150647259-2e87750f-cdce-45ac-9f0c-e47a64c00d92.png)
@anandwana001

[2022-01-23 10:10] yash10019coder commented on #3888
thanks @srushtirk I'll take a look at it

[2022-01-23 10:11] yash10019coder commented on #3888
@srushtirk I just check the access is denied for the doc can you make it public or provide access?

[2022-01-24 12:49] sidsharma2002 opened #4130 "Migrate ClickListeners from onCreateView to onViewCreated"
In TopicFragment (and its presenter) we setup up clickListeners in onCreateView, which can be problematic sometimes instead we should migrate the same to onViewCreated. Also the function handleCreateView is a misleading name (atleast to me) because they are doing other tasks too.

Here's a StackOverflow question to back this up
1) https://stackoverflow.com/questions/40668619/nullpointerexception-w

[2022-01-24 12:51] sidsharma2002 commented on #4130
@BenHenning @anandwana001 Please let me know if I could start working on this as my first contribution to the project.

[2022-01-24 13:47] Aakash1121 commented on #3544
@rt4914 , @yash10019coder I would like to work on this issue. Can you assign it to me?
Also, I am assigned to issue #3561 ...which needs review until that can I start this one?

[2022-01-24 14:12] Rohit1173 commented on #3370
I want to work on this issue

[2022-01-24 14:12] yash10019coder commented on #3370
Sure @Rohit1173 assigning it to you.

[2022-01-24 18:53] Akshatkamboj14 commented on #3581
can you assign me this?

[2022-01-24 18:55] Akshatkamboj14 commented on #3558
Can You Please assign me this issue

[2022-01-24 23:47] BenHenning opened #4132 "Add tests for MathParsingErrorSubject"
#4052 introduces a new custom Truth test subject: MathParsingErrorSubject. It would be advantageous to add thorough tests for this to ensure that:
- Each of the subject methods correctly allow users to test specific properties
- Each of the subject methods are verified to fail when expected with the correct failure reason being verified

See #4097 for a similar issue.

[2022-01-25 04:41] #3351 closed, assigned to vrajdesai78

[2022-01-25 06:27] yashbansal130 commented on #3069
@anandwana001 I want to work on this issue, but can you provide me with an example or reference to what it actually means and why is it important

[2022-01-25 06:30] anandwana001 commented on #3069
@rt4914 Could you please confirm if this is still required?

[2022-01-25 16:52] TheSwarnim commented on #3457
Hi Rajat @rt4914, I found this issue pretty interesting and want to try it out. Please assign it to me.

[2022-01-25 17:54] #3550 closed, assigned to bhaktideshmukh

[2022-01-25 18:00] #3563 closed, assigned to bhaktideshmukh

[2022-01-26 09:45] yash10019coder commented on #3460
Assigned to you @bhaktideshmukh thanks

[2022-01-26 17:23] aayushimathur6 commented on #3540
@ayush0402 can you assign me this

[2022-01-26 17:40] ayush0402 commented on #3540
@aayushimathur6 Assigning this to you.

[2022-01-26 20:09] BenHenning commented on #4130
I think this is a worthwhile discussion to have, though I'm not sure if the advice from that SO answer actually applies here. Since we use databinding, I believe the convention is to fully initialize the binding before returning the view to ensure it's in a good state and that everything has been properly initialized. Doing otherwise seems riskier to me and potentially more messy since we'd need t

[2022-01-26 20:14] BenHenning commented on #3457
@TheSwarnim I suggest working on submitting a few PRs for starter issues before delving into this. This is actually a more difficult project than many that we have issues for, so it would be beneficial for you to familiarize yourself with our review submission process and best practices before attempting this.

[2022-01-26 20:27] BenHenning commented on #3888
Just shared it with you @yash10019coder. Please follow up with me if you still can't access it.

[2022-01-27 00:34] BenHenning opened #4135 "Add tests for FractionInputInteractionView"
FractionInputInteractionView should have dedicated tests to verify that it behaves correctly as an interaction. Today, it's tested through InputInteractionViewTestActivity, but these tests ought to be moved to a dedicated test suite for fraction input, and other fraction-specific tests should be added.

[2022-01-27 06:56] sidsharma2002 commented on #4130
Even I am not exactly sure if in the case of data-binding the binding gets initialized properly or not (i guess I'll have to research on this more), but still, I think the current structure in presenters is kinda lagging in terms of clean code and function naming. For example - for some time I literally thought that the handleCreateView function just initializes the binding and returns it, until I

[2022-01-27 08:27] sidsharma2002 commented on #4130
@BenHenning  Also for reference, here's the code from my personal project in which I learned this 'onCreateView and onViewCreated' thing initially :

[code]

This gives a crash if we quickly switch from one frag to other from the bottomNavBar because the views are not initialized properly at that time.

[2022-01-27 11:25] shubhanshu-coder commented on #3722
ok

[2022-01-27 11:30] shubhanshu-coder commented on #3722
i have filled the CLA and the survey form . now i can start next ?

[2022-01-27 13:52] TheSwarnim commented on #3457
Thanks, @BenHenning for your suggestion.

[2022-01-27 15:56] bhaktideshmukh commented on #3258
Hey @rt4914 I would like to work upon this issue.Can you please assign it to me?

[2022-01-27 16:31] #3554 closed, assigned to nobody

[2022-01-27 16:35] #3140 closed, assigned to Rohit1173

[2022-01-27 19:56] bkaur-bkj commented on #3258
@bhaktideshmukh done

[2022-01-28 05:55] yashbansal130 commented on #3366
@shankarpriyank
i found this article related to that {adb shell} command, see if you can find anything useful
 https://developer.android.com/training/testing/instrumented-tests/androidx-test-libraries/runner

[2022-01-28 08:56] TheSwarnim commented on #3366
Hi @shankarpriyank , I think I can help you with this. Just go to the developer options in your phone/emulator and disable all animations and then launch the test again.
Let me know if it doesn't work still now.

[2022-01-28 16:50] ArchitJain1201 commented on #3556
@bkaur-bkj  @rt4914 Can you please suggest how can I proceed further on this issue as
1. layout\profile_chooser_add_view.xml has a different UI layout than the other three
2. layout-sw600dp-port/profile_chooser_add_view.xml and layout-sw600dp-land/profile_chooser_add_view.xml uses a different variable for paddingEnd and paddingStart, and can't merge the variable into one as they have different fun

[2022-01-28 16:58] ArchitJain1201 commented on #3575
@bkaur-bkj @rt4914 Can you suggest how to proceed further as all three have different UI layout
**layout/story_chapter_view.xml**
<img width="212" alt="image" src="https://user-images.githubusercontent.com/80871543/151588997-4baa8d03-96c4-41f6-8bd2-eccc46184e96.png">
**layout-sw600dp/story_chapter_view.xml**
<img width="200" alt="image" src="https://user-images.githubusercontent.com/80871543/15158

[2022-01-29 10:24] bkaur-bkj commented on #3575
@ArchitJain1201 try merging layout and layout-land I guess they can be merged, leave sw600/ as it has different component

[2022-01-29 10:37] ArchitJain1201 commented on #3575
@bkaur-bkj  but ma'am constraintlayout of layout contains chapter_thumbnail, view and imageView which is not available in layout-land

[2022-01-29 10:37] bkaur-bkj commented on #3556
@rt4914 I checked out this issue but it has a lot of differences in mobile/layout as well as mobile/landscape too, even the orientation and layout components differ. PTAL

[2022-01-29 16:15] TheSwarnim commented on #3432
Hi @BenHenning and @rt4914, I would like to work on this issue. Please assign it to me

[2022-01-29 16:19] TheSwarnim commented on #3345
Hi, @rt4914 I would like to work on this issue. Please assign it to me.

[2022-01-29 19:48] Akshatkamboj14 commented on #3534
Please assign me this issue

[2022-01-30 06:56] pandayed commented on #3591
Can you please assign me this issue?

[2022-01-30 06:59] rishidyno commented on #3591
Assigned this to @xpandeyed due to @HIM7707 inactive.

[2022-01-31 11:21] yashbansal130 commented on #3069
@anandwana001 any updates to if I can work on this one?

[2022-01-31 12:04] anandwana001 commented on #3069
Let me ping Rajat over chat.

[2022-01-31 15:32] TheSwarnim commented on #3345
Hi @rishidyno and @rt4914, could you tell me how can I produce the same behavior. I'm not able to find the place value session in the app

[2022-01-31 15:47] pandayed commented on #3544
Can you please assign this issue to me?
I have started working on this.

[2022-01-31 16:51] rishidyno commented on #3544
Assigned this to @xpandeyed.

[2022-01-31 20:41] BenHenning commented on #3602
Nice to see this cleanup get fully resolved. :)

[2022-01-31 20:48] BenHenning commented on #4130
@sidsharma2002 I'm not sure I see how the crash relates to splitting up onCreateView into it + onViewCreated. I think I'd need more specific details on the crash to understand how they tie together.

I think your point about single responsibility makes sense, though I'm not sure how to resolve that when considering Android best practices. onCreateView is conventionally the method for fully arrangi

[2022-01-31 21:22] Akshatkamboj14 commented on #3411
@rt4914 hey I want to work on this issue but I want to know if there are any files of screen sizes in colour.xml because when I compared it's showing it has a difference between (android:background="@color/mid_grey_30") and (android:background="@color/oppia_grey_background") other than dimension

[2022-01-31 21:55] Akshatkamboj14 commented on #3366
Hey i want to work on this..can u please assign me?

[2022-02-01 02:25] #3099 closed, assigned to rishidyno

[2022-02-01 06:59] #3589 closed, assigned to ishant904

[2022-02-01 09:34] aayushimathur6 commented on #3456
can you please assign me this

[2022-02-01 14:23] addy-zero commented on #3557
I'm interested! Is this available?

[2022-02-01 14:32] ishant904 commented on #3454
@rt4914 I would like to work on this. Please assign it to me

[2022-02-01 14:33] priyatanu commented on #3557
Hi @adizcode , I am working on it.

[2022-02-01 14:45] addy-zero commented on #3557
Okay

[2022-02-01 16:11] rt4914 commented on #3585
@ishant904 Assigned you this issue.

[2022-02-01 16:12] rt4914 commented on #3456
@aayushimathur6 Assigned. Thanks.

[2022-02-01 16:16] rt4914 commented on #3556
yeah, that's correct. Closing this as this cannot be merged.

[2022-02-01 16:16] #3556 closed, assigned to ArchitJain1201

[2022-02-01 16:18] addy-zero commented on #3453
I'd like to work on this

[2022-02-01 16:20] addy-zero commented on #3535
Interested!

[2022-02-01 16:21] addy-zero commented on #3537
Could I work on this?

[2022-02-01 16:24] ayush0402 opened #4147 "Remove colors_migrating.xml post dark mode implementation."
Currently `colors_migrating.xml` contains color declarations which are supposed to be in color_defs.xml but have not yet been renamed yet to have actual color name instead of names linked to their use and components. This is a temporary measure to make sure other 4 color files follows the convention decided for them.

`colors_migrating.xml` should be removed once dark mode is implemented to most s

[2022-02-01 16:30] rt4914 commented on #3411
@Akshatkamboj14 you can use the color which is mentioned in in portrait file.

[2022-02-01 17:13] rt4914 commented on #3892
@viktoriias Considering you have not yet created any PR for this issue, I am assigning this to @vrajdesai78