[2020-09-15 21:29] BenHenning commented on #1381
Ah, I've worked with Lottie before. Some concerns that come from it:
1. It's not very efficient on low-end devices (and I don't think it's meant to be)
2. It has a higher bar for entry to create animations (I think it requires Adobe Illustrator, but I suspect some open source editors might be viable)

It might be worth looking into if we had a lot of animations to add, but if it's only the confett

[2020-09-16 04:32] rt4914 commented on #1646
@ranjsa No, you should just focus on renaming the existing ones to match the convention correctly.
Also, I have updated the description, have a look.

[2020-09-16 05:09] rt4914 opened #1845 "Replace Language code with icon in AudioBar"
Currently Audio Bar in exploration has a language code, as shown below:
![Screenshot_1600232780](https://user-images.githubusercontent.com/9396084/93294598-9b784a00-f808-11ea-9395-2b6ba008b2c4.png)

We should replace the language code to [icon](https://drive.google.com/file/d/1jPRimZBxcPHeEHwlmTUcLrDcwZyVt0gl/view?usp=sharing) as shown below:
<img width="359" alt="Screenshot 2020-09-16 at 10 37 42

[2020-09-16 05:30] rt4914 opened #1846 "Remove voiceover from test_exp_id_0.json"
**Describe the bug**
In the last `state` of `Third Exploration`, toolbar shows `audio-icon` but it does not work because the audio reference is incorrect in json files.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `First Test Topic`
2. Finish `Second Exploration`
3. Go to `Third Exploration`
4. Go to `END` state as shown in below image
![Screenshot_1600233703](https://user-images.gi

[2020-09-16 08:46] prayutsu commented on #1381
@BenHenning Sure, we could do that, but I managed to find [this](https://stackoverflow.com/questions/46782836/i-need-particle-animation-for-android-with-images-of-our-own-instead-of-canvas). Please check it out.
I am suggesting first solution of this link.

[2020-09-16 09:13] MohamedMedhat1998 commented on #962
For some reason, the soft keyboard changes from numbers only to the normal one whenever the `IME_ACTION` is clicked regardless of the currently focused item.
You can notice that clearly in the second GIF. It happens during testing with Espresso.

[2020-09-16 14:55] rt4914 opened #1848 "Share topics using deep-linking"
Leaner should be able to share the topics via links on social media or any other person, such that if the other person does not have the app, the link should be able to download the app and then open that particular topic directly.

This needs more planning but the main focus behind this feature is for app promotion.

[2020-09-16 14:59] rt4914 opened #1849 "App Share and Website Share from app"
**Is your feature request related to a problem? Please describe.**
There should be a feature to share the app and website link for publicity purposes.

One of the possible solution can be to introduce an item in `Navigation Drawer`.

This needs more planning and discussion about how exactly it will look in app.

This is an introductory feature and later on this should be expanded sharing to topics

[2020-09-16 15:00] rt4914 commented on #1849
cc: @seanlip @BenHenning

[2020-09-16 15:00] rt4914 commented on #1848
cc: @seanlip @BenHenning

[2020-09-16 17:23] BenHenning commented on #1849
Moving to GA for now; need to figure viability.

Another challenge to consider: app will be distributed on more than just Play Store (e.g. oppia.org will have a link), so it's not clear how we'll be sharing the app.

[2020-09-16 17:23] BenHenning commented on #1848
Moving to GA until we can determine viability.

Note that this introduces our first critical dependency on Google Play Services being present on the device (otherwise the deep-linking part won't work correctly).

We might also need to build our own deep-link mechanism for cases when the app is not distributed with the Play Store.

[2020-09-16 17:24] BenHenning commented on #1848
NB: This will be part of the Release team's workload.

[2020-09-16 17:24] BenHenning commented on #1849
NB: This will be part of the Release team's workload.

[2020-09-18 03:11] ranjsa commented on #1810
@BenHenning  Can I work on this issue?

[2020-09-18 08:08] anandwana001 opened #1855 "Resolve ktlint max line in app module test"
**Describe the bug**
As we have ktlint setup on actions check, we have one of the checks which check if there are more than 100 char length and we are disabling this check, in some places, like name of the test functions.

**Expected behavior**
We want to remove this check by resolving the char length limit to not more than 100 char long. We want to abbreviate a few names in the test functions nam

[2020-09-18 13:20] MaskedCarrot commented on #1845
Hello, can I work on this issue?

[2020-09-18 13:26] aggarwalpulkit596 commented on #1845
@MaskedCarrot sure go ahead

[2020-09-18 14:46] MaskedCarrot commented on #1845
I tried creating a pr but the bot closes it every time and I can't figure out the reason for this from the documentation. Can you please help me.

[2020-09-18 14:54] aggarwalpulkit596 commented on #1845
https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up you have to follow the steps here first. Have you completed all of the steps mentioned here ?

[2020-09-18 16:58] rt4914 commented on #1810
@ranjsa I have assigned this PR to you. Thanks.

[2020-09-18 17:05] rt4914 commented on #1845
@MaskedCarrot Thats because you haven't filled the forms on this link:
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

Also, if you are fully sure that you have filled both the forms - CLA and contributor survey, then when you finish it just take screenshot and share it with us and maybe we can look into the issue. But in most cases it happens if the student does not fill all

[2020-09-18 17:05] rt4914 commented on #1845
Adding @seanlip and @BenHenning if further investigation is needed.

[2020-09-18 19:42] rasacharjee commented on #1846
I removed the recorded_voiceovers from the file test_exp_id_0.json. A screenshot is attached below, which shows the change.
@rt4914 can i make a pr.
![oppia-audio_removed](https://user-images.githubusercontent.com/53570696/93638618-33e31a00-fa15-11ea-9509-928d6e9e8c97.jpeg)

[2020-09-18 19:48] rasacharjee commented on #1855
Hello @anandwana001 sir, I want to work on the issue, can you please help me

[2020-09-18 19:50] rasacharjee commented on #1846
@rt4914 sir, if it's okay please help me to make my first contribution in the project

[2020-09-18 20:13] BenHenning opened #1861 "Optimize CI runs with Bazel [Blocked: #59]"
There are a few things we can do to improve CI runs once Bazel becomes the primary build system for the project, in particular:

1. We could have a multi-stage workflow, where the first set of jobs runs linters, creates the emulator image & related dependencies for #1844, and uses Bazel to build the APK and all tests. The outputs from these jobs would be uploaded as artifacts. The second stage wou

[2020-09-18 20:14] BenHenning commented on #1861
@vinitamurthi any thoughts?

[2020-09-18 21:59] seanlip commented on #1845
@rt4914 This seems fine now, I think? I see a PR [here](https://github.com/oppia/oppia-android/pull/1860).

[2020-09-19 18:11] anandwana001 commented on #1855
@rasacharjee Sure, Thanks for showing interest. I suggest you start with [onboarding instructions first](https://github.com/oppia/oppia-android/wiki#onboarding-instructions).
Then we can connect over Gitter and you can start working on this issue.

[2020-09-19 19:16] alokbharti commented on #1804
@BenHenning can I work on this issue?

[2020-09-19 19:58] prayutsu commented on #1770
Couldn't resolve the correct reason for the bug, so unassigning myself.

[2020-09-20 13:34] anandwana001 commented on #973
`RevisionCardFragmentTest` works fine

### Robolectric
<img width="1440" alt="Screenshot 2020-09-20 at 19 01 57" src="https://user-images.githubusercontent.com/25057618/93712503-e8934d80-fb73-11ea-9650-c21ed848f1d8.png">

### Espresso
<img width="1440" alt="Screenshot 2020-09-20 at 19 04 22" src="https://user-images.githubusercontent.com/25057618/93712535-2001fa00-fb74-11ea-9bfd-905f5700ab74.png">

[2020-09-21 05:24] anandwana001 commented on #1845
@rt4914 quick question, If we are moving towards icon this means the check the current language a user has to click on the icon and check on the dialog box which language is currently selected.

Or are we going to have multiple icons which shows language translations? For example with the above icon which shows English and Japanese or may be Chinese, should we go for icons like English to Hindi an

[2020-09-21 08:56] anandwana001 opened #1866 "Double click on adminControl in nav crash"
**Describe the bug**
AdministratorControls in the menu gets crash when double click

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to home
2. Open navigation drawer
3. Click on AdministratorControls -> nav will get close
4. Click on AdministratorControls again and see the crash

**Expected behavior**
Should close the nav smoothly

**Error**
[code]

[2020-09-21 13:14] rt4914 commented on #1804
Hello @alokbharti I have sent you one email and I have assigned this issue to you. Thanks.

[2020-09-21 13:19] rt4914 commented on #1846
Hello @rasacharjee Yes you can create a PR. I have sent you one email with steps to create a successful PR. If you need any further help feel free to reply back to that email. Thanks!

[2020-09-21 13:20] rt4914 commented on #1845
@seanlip Thanks. Everything is correct now.

[2020-09-21 13:22] rt4914 commented on #1845
@anandwana001 What you have mentioned it actually correct but this was finalised after the user study and as per results, students are not thinking that its audio change from `English to Japanese`, instead its interpreted as `Change Language` option, which makes more sense here. Does this help?

[2020-09-21 15:39] anandwana001 commented on #1845
Yes, sounds good to me.

[2020-09-21 18:43] rasacharjee commented on #1855
@anandwana001 Sir, I have followed the on boarding instructions but have some doubts in the linters section. I have placed a query over gitter on that and looking forward to the journey.

[2020-09-22 09:35] prayutsu commented on #973
I am taking up ```OptionsFragmentTest```

[2020-09-22 11:52] Sarthak2601 commented on #973
@rt4914 Since we are going to take this issue under SLoP, can we freeze its contributions for now ? It might lead to confusion otherwise.
@prayutsu Please wait on Rajat to reply.
/cc- @anandwana001

[2020-09-22 11:54] anandwana001 commented on #973
Sounds good

[2020-09-22 21:37] BenHenning commented on #1861
/cc @miaboloix in case you have any thoughts

[2020-09-23 02:48] vinitamurthi commented on #1861
Overall this looks good to me. I think the emulator image specifically will be cached by the GitHub cache action itself. Not so sure about whether we can build Bazel incrementally with the way the cache works today.

[2020-09-23 02:50] vinitamurthi commented on #1861
I also like the idea of step 3 but we'd have to make a script to do that as far as I understand. We could even use that script in the pre-push hooks and run tests just for the affected files

[2020-09-23 05:07] #1840 closed, assigned to prayutsu

[2020-09-23 16:13] #560 closed, assigned to BenHenning

[2020-09-23 22:15] Sarthak2601 opened #1868 "Fix app module tests in topic for Robolectric"
Currently, the app module test cases in topic are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApplication

[2020-09-23 22:19] Sarthak2601 opened #1869 "Fix DragDropTestActivityTest for Robolectric"
Currently, DragDropTestActivityTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApplicationComponent.

[2020-09-23 22:22] Sarthak2601 opened #1870 "Fix app module tests in settings.profile for Robolectric"
Currently, the app module test cases in the settings.profile file are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to intro

[2020-09-23 22:24] Sarthak2601 opened #1871 "Fix ProfileChooserFragmentTest for Robolectric"
Currently, the app module test cases in ProfileChooserFragmentTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to intr

[2020-09-23 22:34] Sarthak2601 commented on #973
@BenHenning should we include `StateFragementTest` in the tests for the SLoP participants to fix or you're working on it ?

[2020-09-23 22:40] Sarthak2601 opened #1872 "Fix AudioFragmentTest for Robolectric"
Currently, the app module test cases in AudioFragmentTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce Tex

[2020-09-23 22:45] Sarthak2601 opened #1873 "Fix OnboardingFragmentTest for Robolectric"
Currently, the tests in OnboardingFragmentTest are passing on Espresso but they should also pass on Robolectric. Fix this file to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApplicationComponent. This c

[2020-09-23 22:47] Sarthak2601 opened #1874 "Fix app module tests in home and administrator controls for Robolectric"
Currently, the app module test cases in home and administrator controls folders are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will

[2020-09-24 01:23] BenHenning commented on #1873
@Sarthak2601 & @rt4914 I suggest splitting these to be per-test for better parallelization. Also, please make the titles consistent with the work being done--at the moment it's a bit difficult to find specifics about the issue from the title itself.

[2020-09-24 01:32] BenHenning opened #1875 "Re-add support for legacy multidex / introduce app binary flavors"
In #1876 we switched from legacy to native multidex since the developer build had too many symbols to fit in the base Dex file. This is actually probably fine, but we can't ship the app with native multidex since we support <SDK 21. We should instead introduce release binary flavors that do use legacy multidex (and should fit everything after using proguard to minimize the binary/remove unused Dex

[2020-09-24 03:42] BenHenning commented on #388
Enough of #89 is now complete that this is no longer blocked.

[2020-09-24 03:43] BenHenning commented on #503
Enough of #89 is now complete that this is no longer blocked.

[2020-09-24 03:44] BenHenning commented on #1273
Not completed since this still needs to be done in QuestionPlayerActivityTest.

[2020-09-24 03:46] BenHenning commented on #973
@Sarthak2601 StateFragmentTest is fixed & running (as of #1630). Thanks for checking.

That being said, #388 & https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/app/player/state/StateFragmentTest.kt#L206 might be a great set of tests that could be split into starter issues for SLoP. Ditto for question player (#503). #1273 also needs to be done (hints & solutions

[2020-09-24 05:07] abhinav12k commented on #1792
Hi @BenHenning I want to work on this issue.

[2020-09-24 07:24] rt4914 commented on #1792
I have assigned this issue to you.
cc/ @BenHenning

[2020-09-24 11:12] Sarthak2601 opened #1877 "Fix OngoingTopicListActivityTest for Robolectric"
Currently, the tests in OngoingTopicListActivityTest are passing on Espresso but they should also pass on Robolectric. Fix this file to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApplicationComponent.

[2020-09-24 11:12] Sarthak2601 opened #1878 "Fix OptionsFragmentTest for Robolectric"
Currently, the tests in OptionsFragmentTest are passing on Espresso but they should also pass on Robolectric. Fix this file to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApplicationComponent. This can

[2020-09-24 11:13] Sarthak2601 commented on #1873
Done.

[2020-09-24 17:55] rt4914 commented on #1054
Closing as this is duplicate issue. #1801

[2020-09-24 17:55] #1054 closed, assigned to nobody

[2020-09-24 17:55] Sarthak2601 opened #1880 "Thoroughly test FractionInputHasDenominatorEqualToRuleClassifier"
Since the FractionInputHasDenominatorEqualToRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 17:59] Sarthak2601 opened #1881 "Thoroughly test FractionInputHasFractionalPartExactlyEqualToRuleClassifier"
Since the FractionInputHasFractionalPartExactlyEqualToRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference -https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 17:59] rt4914 opened #1882 "Shift NumericInput Rules test to separate sub-package"
`NumericInputEqualsRuleClassifierProviderTest.kt`
`NumericInputIsLessThanRuleClassifierProviderTest.kt`
`NumericInputIsLessThanOrEqualToRuleClassifierProviderTest.kt`
`NumericInputIsInclusivelyBetweenRuleClassifierProviderTest.kt`
`NumericInputIsGreaterThanRuleClassifierProviderTest.kt`
`NumericInputIsGreaterThanOrEqualToRuleClassifierProviderTest.kt`

Shift all these to separate package named `nu

[2020-09-24 18:01] Sarthak2601 opened #1883 "Thoroughly test FractionInputHasIntegerPartEqualToRuleClassifier"
Since the FractionInputHasIntegerPartEqualToRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:04] rt4914 opened #1884 "Thoroughly test TexInputCaseSensitiveEqualsRuleClassifier"
Since the `TexInputCaseSensitiveEqualsRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:07] rt4914 opened #1885 "Throughly test TextInputFuzzyEqualsRuleClassifier"
Since the `TextInputFuzzyEqualsRuleClassifier ` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:07] Sarthak2601 opened #1886 "Thoroughly test FractionInputHasNoFractionalPartRuleClassifier"
Since the FractionInputHasNoFractionalPartRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:08] Sarthak2601 opened #1887 "Thoroughly test FractionInputHasNumeratorEqualToRuleClassifier"
Since the FractionInputHasNumeratorEqualToRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:08] rt4914 opened #1888 "Throughly test `TexInputStartsWithRuleClassifier`"
Since the `TexInputStartsWithRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:10] rt4914 opened #1889 "Throughly test `NumericInputIsWithinToleranceRuleClassifier`"
Since the `NumericInputIsWithinToleranceRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:11] Sarthak2601 opened #1890 "Thoroughly test FractionInputIsEquivalentToAndInSimplestFormRuleClassifier"
Since the FractionInputIsEquivalentToAndInSimplestFormRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rule

[2020-09-24 18:11] rt4914 opened #1891 "Throughly add tests for NumberWithUnitsInputIsEqualToRuleClassifier"
Since the `NumberWithUnitsInputIsEqualToRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:12] Sarthak2601 opened #1892 "Thoroughly test FractionInputIsEquivalentToRuleClassifier"
Since the FractionInputIsEquivalentToRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:14] Sarthak2601 opened #1893 "Thoroughly test FractionInputIsGreaterThanRuleClassifier"
Since the FractionInputIsGreaterThanRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:15] Sarthak2601 opened #1894 "Thoroughly test FractionInputIsLessThanRuleClassifier"
Since the FractionInputIsLessThanRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:15] rt4914 opened #1895 "Throughly add tests for NumberWithUnitsInputIsEquivalentToRuleClassifier"
Since the `NumberWithUnitsInputIsEquivalentToRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:17] Sarthak2601 opened #1896 "Thoroughly test ItemSelectionInputContainsAtLeastOneOfRuleClassifier"
Since the ItemsSelectionInputContainsAtLeastOneOfRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:18] Sarthak2601 opened #1897 "Thoroughly test ItemSelectionInputDoesNotContainAtLeastOneOfRuleClassifier"
Since the `ItemSelectionInputDoesNotContainAtLeastOneOfRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/ru

[2020-09-24 18:19] rt4914 opened #1898 "Thoroughly test FractionInputIsExactlyEqualToRuleClassifier"
Since the `FractionInputIsExactlyEqualToRuleClassifier` was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:19] Sarthak2601 opened #1899 "Thoroughly test ItemsSelectionInputEqualsRuleClassifier"
Since the ItemsSelectionInputEqualsRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:20] Sarthak2601 opened #1900 "Thoroughly test ItemsSelectionIsProperSubsetOfRuleClassifier"
Since the ItemsSelectionIsProperSubsetOfRuleClassifier was copied from Oppia web, it didn't have corresponding tests added to verify correctness. These should be ported over from Oppia web as well to ensure that each classifier has working functionality.

Useful reference - https://github.com/oppia/oppia-android/tree/develop/domain/src/test/java/org/oppia/android/domain/classify/rules

[2020-09-24 18:28] MohamedMedhat1998 opened #1901 "Rename "DefaultAudioFragment" to "AudioLanguageFragment""
Rename everything related to audio language from "DefaultAudio" to "AudioLanguage"
By everything we mean:
- Activities
- Xml Files
- Variable Names
- Resources

[2020-09-24 18:30] rt4914 commented on #973
Closing this issue as we have created separate issues:
#1868 #1869 #1870 #1871 #1872 #1873 #1874 #1877 #1878

[2020-09-24 18:30] #973 closed, assigned to nobody

[2020-09-24 18:32] Sarthak2601 commented on #210
This issue has been divided into multiple small issues [ #1880, #1881, #1883, #1884, #1885, #1886, #1887, #1888, #1889, #1890, #1891, #1892, #1893, #1894, #1895, #1896, #1897, #1898, #1899, #1900 ]. Hence, closing this issue.

[2020-09-24 18:32] #210 closed, assigned to nobody

[2020-09-24 18:51] MohamedMedhat1998 opened #1902 "Temporary disable the RTL support"
Currently, we don't have mocks for RTL layouts and the app looks bad in the RTL devices, so we need to disable RTL support temporary.

[2020-09-24 18:52] rt4914 commented on #1855
Added to SLoP-25 points but can be shifted to SLoP-75 if there are changes in too many files. Needs discussion.

[2020-09-24 19:01] rt4914 commented on #1540
@rt4914 Assigning this to myself for now so that I can divide this into multiple issues.

[2020-09-24 20:18] soamOne commented on #1882
Hello @rt4914, I would like to work on this issue if possible.

[2020-09-24 20:23] rt4914 commented on #1882
@BenHenning I have assigned this PR to @soamOne on request.

[2020-09-24 20:26] soamOne commented on #1901
Hello @MohamedMedhat1998  Sir. I would like to work on this issue if possible.

[2020-09-24 20:27] rt4914 commented on #1901
@soamOne I have already assigned you https://github.com/oppia/oppia-android/issues/1882 so please start with that issue first. Thanks.

[2020-09-24 20:28] BenHenning opened #1903 "Add regex checks to ensure Firebase analytics + Crashlytics stay disabled in the codebase."
The Firebase activation parameters (https://github.com/oppia/oppia-android/blob/2d14066/app/src/main/AndroidManifest.xml#L17) shouldn't be enabled ever in develop. We should have a CI check to ensure these parameters are always off.

[2020-09-24 20:29] BenHenning commented on #1903
@rt4914 maybe a SLoP candidate issue?

[2020-09-24 20:31] rt4914 commented on #1903
Yeah looks like one. I have mentioned 5 points for now.

[2020-09-24 21:07] #1833 closed, assigned to BenHenning

[2020-09-24 21:26] BenHenning commented on #1811
This was blocked on #1833 since we decided to re-deploy, but now I can re-launch then verify.

[2020-09-24 21:29] MohamedMedhat1998 commented on #1901
I agree with @rt4914

[2020-09-25 04:08] Arjupta commented on #1901
Can I take up with this issue?

[2020-09-25 04:31] soamOne commented on #1901
Sure @MohamedMedhat1998 @rt4914 .

[2020-09-25 04:34] soamOne commented on #1882
Thanks @rt4914 .

[2020-09-25 05:03] BenHenning commented on #1752
Is this resolved now?

[2020-09-25 05:46] BenHenning commented on #1433
150 seems a bit high for this @Sarthak2601, doesn't it? I'd expect this to be roughly 1 medium-sized PR unless I'm missing some aspect of this. Though maybe 2 PRs if it also includes updating all logger references to use the new OppiaLogger, but that's a fairly straightforward find-and-replace.

[2020-09-25 05:47] BenHenning commented on #1433
@vinitamurthi one question: if OppiaLogger is in domain/ and used by domain/ & app/ for console logging, does that mean all other modules will still use ConsoleLogger? That seems like an inconsistency we might not want since it may lead to confusion. WDYT?

[2020-09-25 05:54] vinitamurthi commented on #1433
Today yes, but as we had discussed we will move this to its own module in blaze so this confusion should be short lived. Unfortunately with the way its structured right now, we have no other proper choice.

[2020-09-25 05:59] erwinkaaa commented on #1901
Hi! I would like to work on this issue if possible!

[2020-09-25 06:04] aggarwalpulkit596 commented on #1901
@erwinkaaai think @soamOne is already working on it.In the meantime you can start with some other good first issu

[2020-09-25 06:41] BenHenning opened #1908 "Fix comments broken in #1876"
#1876 updated proto file comments incorrectly, e.g.:

``// Maps from: data/src/main/java/org/oppia/data/backends/gae/model/GaeVoiceover.kt`` in voiceover.proto was incorrectly replaced with ``// Maps from: data/src/main/java/org.oppia.android.android/data/backends/gae/model/GaeVoiceover.kt``. It should be: ``// Maps from: data/src/main/java/org/oppia/android/android/data/backends/gae/model/GaeVoic

[2020-09-25 06:41] BenHenning commented on #1908
/cc @rt4914 for potential SLoP project.

[2020-09-25 08:46] Sarthak2601 commented on #1433
@BenHenning We estimated it to be a 150 pointer since the contributor will have to understand the logging, combine it into one place, replace the existing implementations and write test cases. However, we can initially put it in as a 75 pointer and then later on decide if we want to increase it to 150 when anyone creates a PR.

[2020-09-25 11:47] rt4914 commented on #1901
Assigning this issue to @ARJUPTA as it was available when the contributor commented.

cc: @BenHenning

[2020-09-25 11:48] rt4914 commented on #1901
Hello @erwinkaaa . Welcome to Oppia.
Before we assign you any issues to work on have a look at [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-09-25 15:19] soamOne commented on #1882
Hey @rt4914, I cannot find 'tree' inside the repo. Clicking on the given link also returns 404.

[2020-09-26 07:40] MohamedMedhat1998 commented on #1752
@BenHenning The mentioned class was created in #1743 but not merged because we need to have the whole picture of the screenshot-testing process first.

[2020-09-26 18:37] soamOne commented on #1908
Hey @BenHenning @rt4914 Can I work on this issue?

[2020-09-27 04:00] Arjupta commented on #1901
Sir after refactoring the code from default audio to audio language , the dagger test component were not recognized by Android studio ,when I tried rebuilding it the build was successfully done but the error persists. Maybe that's the reason my PR is failing. Kindly help @MohamedMedhat1998

[2020-09-27 18:39] #1901 closed, assigned to Arjupta

[2020-09-28 12:31] soamOne commented on #1855
Hey @anandwana001 can I work on this?

[2020-09-28 13:39] Victor-Titan commented on #1908
I'd like to work on this issue

[2020-09-28 21:46] BenHenning commented on #1908
@soamOne it looks like @Victor-Titan already started on the issue. Feel free to pick another starter issue that's not yet claimed. :)

[2020-09-28 21:51] BenHenning commented on #1381
Thanks @prayutsu. To clarify, which specific solution are you proposing from that stackoverflow question, or are you suggesting that we should consider each of the proposed solutions?

[2020-09-29 01:06] BenHenning commented on #1866
@anandwana001 @Sarthak2601 @MohamedMedhat1998 is this actually part of SLoP? If not, can #1867 be reopened & continued? Otherwise, that could be used as a starting point for this issue that might make it easier & a potential "second issue."

[2020-09-29 01:36] BenHenning commented on #1861
Thanks. To be clear, I'm assuming we need to use artifacts as a cache to achieve the goals of this issue, rather than using the existing cache since that doesn't seem to share things across job instances.

[2020-09-29 03:45] soamOne commented on #1908
Yes got it @BenHenning :)

[2020-09-29 03:46] BenHenning commented on #1683
It seems that properly setting up AndroidX in Bazel fixes this issue. My latest changes to add AndroidX support mitigate the need for the additional mapper file we've included in the codebase, though I'm not fully sure why.

[2020-09-29 03:53] BenHenning commented on #1882
This isn't fully fixed, see: https://github.com/oppia/oppia-android/pull/1909#issuecomment-700407121 and https://github.com/oppia/oppia-android/pull/1909#issuecomment-700409975.

[2020-09-29 03:54] BenHenning commented on #1882
Also, it was moved to the incorrect place: we are using org/oppia/android/domain not org/oppia/domain.

[2020-09-29 03:59] BenHenning commented on #1882
Remaining things that should be done per my quick review of the PR:
1. The package of the tests needs to match their directory structure
2. The tests should be under org/oppia/android/domain nor org/oppia/domain
3. The domain module's BUILD.bazel file should be updated to point to the correct test files if they've moved
4. The new package name should be ``numericinput`` not ``numberinput`` for con

[2020-09-29 04:10] rt4914 commented on #1882
@BenHenning Just checked this on latest develop too and confirmed that it was done incorrectly.

I have doubt in point 3.
- Why did all the test cases pass because BUILD.bazel was not updated. Its because of incorrect PR or the test cases are not dependent on this?

[2020-09-29 04:19] BenHenning commented on #1683
Correction: that's not actually right. I was misled by this being a runtime, not compile-time, error. Additional work in Bazel will be necessary.

[2020-09-29 04:23] BenHenning commented on #1433
That sounds good, thanks @Sarthak2601.

Ack @vinitamurthi. I suppose the alternative is to not introduce OppiaLogger until we can introduce it cleanly, but since it already exists, we might as well leverage it as broadly as we can. :) I don't have a strong opinion about this.

[2020-09-29 04:26] BenHenning commented on #1882
@rt4914 we don't run or build Bazel tests in CI currently. Strictly speaking, #3 isn't a hard requirement. I actually only noticed these issues because I was building the Bazel tests locally and it took me a bit to figure out why they weren't building. :) We should fix the Bazel file now that we know it's not setup correctly anymore, and try to keep them up-to-date when we remember.

I'm working o

[2020-09-29 04:28] rt4914 commented on #1882
Makes sense. My only concern was about missing changes in bazel file. Thanks for clarification.

[2020-09-29 04:29] BenHenning commented on #1752
Ah, I'm aware of that but we also have #1815 to track the actual introduction of the framework. I think we can consider this issue resolved if we have a demo for screenshot testing--that demo doesn't actually need to be checked in (and probably shouldn't unless it can be cleanly integrated).

To that end, does #1743 work sufficiently to be considered a screenshot testing demo that we can use as a

[2020-09-29 05:48] rt4914 opened #1914 "Create text based styles in styles.xml"
The current UI contains a lot of common views and therefore we should define those common styles in `styles.xml` file.
The styles should be defined for following items as a start and can be added more as we start updating the UI.

<img width="394" alt="Screenshot 2020-09-29 at 11 15 23 AM" src="https://user-images.githubusercontent.com/9396084/94517366-670f7f80-0245-11eb-8c1a-3bc21e23454f.png">

[2020-09-29 08:45] Arjupta commented on #1914
@rt4914 sir can I work on this issue? I will need some help though.

[2020-09-29 17:10] rt4914 commented on #1914
@ARJUPTA Have a look at the `Assignees` section, if there is a person mentioned that means its already assigned. In this case it is assigned to me.
You can pick any issues from this link: https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22

[2020-09-29 17:39] rt4914 commented on #1633
@miaboloix Can you add more details, references, labels to this issue so that we can assign it to new contributors?

[2020-09-29 17:54] aggarwalpulkit596 commented on #30
@BenHenning this is the one correct? I'll just assign it to myself.

[2020-09-29 17:59] Arjupta commented on #1914
Ok got it

[2020-09-29 18:01] Sarthak2601 commented on #1866
@BenHenning Yes, I think #1867 can be reopened and continued. It's basically the reason why we removed it from SLoP.

[2020-09-29 20:24] prayutsu commented on #1889
@rt4914 I would like to take up this issue as a SLoP participant

[2020-09-29 20:25] rt4914 commented on #1889
cc: @MohamedMedhat1998

[2020-09-29 20:34] prayutsu commented on #1538
@MohamedMedhat1998 I would like to take up this issue

[2020-09-30 01:53] anandwana001 commented on #1866
Cool, I will open it back.

[2020-09-30 02:54] #1908 closed, assigned to Victor-Titan

[2020-09-30 04:12] BenHenning opened #1920 "Test issue"
This is a test issue for web hooks. Edit. Again. And again. And again. And again.

[2020-09-30 04:22] BenHenning commented on #1920
Test with this message.

[2020-09-30 04:34] BenHenning commented on #1920
Another test commit message.

[2020-09-30 04:56] Arjupta commented on #1801
@rt4914  I am unable to reproduce this error.

**Steps to reproduce**
- Opened Exploration _(Fractions)_
- Opened the _Lessons_ Tab and started the _What is fraction?_ topic
- Clicked the audio button from toolbar and audio started playing after agreeing to the data usage dialog
- After audio completed playing clicked the Continue button, next screen opens and the audio has started playing but it

[2020-09-30 05:05] anandwana001 commented on #1801
@ARJUPTA
**To Reproduce**
Steps to reproduce the behavior:
1. Start an exploration
2. Play audio - listen completely
3. Answer correct - continue
4. Next state
5. **Click on audio icon in toolbar - this close the audio player - hide the audio player from screen**
6. You can hear the voiceover now also as the audio icon is showing no audio as we had already clicked on it.

[2020-09-30 05:18] BenHenning commented on #1920
Test

[2020-09-30 05:20] BenHenning commented on #1920
Test message (shouldn't send anything this time)

[2020-09-30 05:21] BenHenning commented on #1920
Test

[2020-09-30 05:30] Arjupta commented on #1801
@anandwana001 Sir even after answering a question correctly and moving on to next screen with audio bar present which is then closed by clicking on the toolbar. No voiceover audio was playing, everything worked normally. Can't reproduce the error :(

[2020-09-30 05:37] Arjupta commented on #1042
@rt4914 Sir this issue is not assigned to anyone, Can I work on it?
I saw the commits of the previously assigned contributor, in his PR there was a mention that this method suggested by stack overflow is not working. If I start working on it so shall I look for another method or this one only.

[2020-09-30 05:47] BenHenning commented on #1920
New message

[2020-09-30 05:47] BenHenning opened #1921 "Second test issue"

[2020-09-30 05:48] #1921 closed, assigned to nobody

[2020-09-30 06:22] #1920 closed, assigned to nobody

[2020-09-30 06:30] BenHenning commented on #30
Ah, yes this is the tracking issue @aggarwalpulkit596 thanks for confirming! I forgot to send it to you post-meeting.

[2020-09-30 06:31] BenHenning commented on #1866
Thanks for confirming! @anandwana001 re-assigning to you since the PR was reopened.

[2020-09-30 06:33] BenHenning commented on #1801
@anandwana001 is this consistently reproducible for you? Also, for both @anandwana001 & @ARJUPTA I suggest mentioning what device/emulator & SDK you're trying to repro this one since issues like this can sometimes be device specific, or not/only reproducible on an emulator vs. real device.

[2020-09-30 06:50] rt4914 commented on #1042
@ARJUPTA Thanks for going through the previous PR. I suggest trying out your own approach while keeping that previous PR in mind.

@aggarwalpulkit596 Thanks for helping out.

[2020-09-30 06:52] rt4914 commented on #1042
Also, @ARJUPTA I suggest you also work on one more issue from https://github.com/oppia/oppia-android/issues?page=1&q=is%3Aopen+is%3Aissue+label%3A%22SLoP+2020%22
Considering this issue solving might take some time. Thanks.

[2020-09-30 07:00] #1914 closed, assigned to rt4914

[2020-09-30 07:00] rt4914 commented on #1902
@BenHenning Should we do this or not?

[2020-09-30 07:02] Arjupta commented on #1801
@BenHenning details of the device are as follows-
1) Real device
1) Android 10 (API level 29)
2) Realme 3 (Color OS)

[2020-09-30 07:06] anandwana001 commented on #1801
Yes, this is consistently reproducible.

1. Real device - Redmi note 5 pro / API 28
2. Real/Virtual device - Pixel 3aXL - API 28 and 30

[2020-09-30 07:09] Arjupta commented on #1042
Okay Sir, I will use the previous PR as a guide only, probably with a new approach.

Also, I will look into other issues also while working on this. Thanks :)

[2020-09-30 09:13] MohamedMedhat1998 commented on #1752
@BenHenning in terms of taking a new screenshot and storing it at the external storage, yes it is sufficient.

[2020-09-30 19:43] BenHenning commented on #1801
Hmm @anandwana001 are you able to repro on Pixel 3a emulator? That might be useful to try since then others can test in the same environment.

[2020-09-30 19:58] BenHenning commented on #1752
Thanks @MohamedMedhat1998. In that case, considering this fixed since #1815 will be tracking the longer-term work that will be checked in.

[2020-09-30 19:58] #1752 closed, assigned to MohamedMedhat1998, BenHenning

[2020-09-30 20:00] BenHenning commented on #1902
Given that the app isn't yet localized, do we actually expect people to be using it with RTL mode on? Also note that our only users are ones that we select for the alpha, so we can focus on testing with people who don't require RTL mode for now.

I'm not actually an advocate of disabling it since we should be working to bring in RTL support rather than ignore it.

Also, do we need mocks for RTL? M

[2020-09-30 22:43] anandwana001 commented on #1801
Yes @BenHenning , It is repro on pixel 3a emulator (virtual). I am checking if I can create a screen record for this and will add here.

[2020-09-30 22:53] MohamedMedhat1998 commented on #1902
Got it

That's true but it doesn't always work as expected. For example, some items are designed to look well in the case of LTR (like the hints icon) but when they are on the RTL, they look awkward.

[2020-09-30 23:11] BenHenning commented on #1683
I think I have a fix for Bazel, but it does lead to one limitation: we can't do any databinding generation within the test. I don't think this will actually cause any problems, and it's possible to work around by changing the package of the base kt_android_library that contains the actual test code.

We will also need to update oppia_android_test to enable data binding on the native android_local_

[2020-10-01 03:25] BenHenning commented on #1801
Aha, that's great to know @anandwana001. A recording would be useful.

@ARJUPTA are you able to repro it using the steps above when trying on a Pixel 3a emulator locally?

[2020-10-01 03:26] BenHenning commented on #1902
Awkward in what way? Ideally, our existing UI should be conducive to RTL scenarios though some specific situations might need tweaking (icons specifically come to mind which is also why I linked to the bidirectionality page above). Beyond that, we can always ask Chantel for cases in which we're unsure.

[2020-10-01 04:33] anandwana001 commented on #1801
@BenHenning @ARJUPTA
Please have a look at this [video file](https://drive.google.com/file/d/1hOncsuKvQwQyA0dCyuoVj4P6H60wJoqg/view?usp=sharing),  If you know the steps to repo this you can skip to 0:58 seconds.

[2020-10-01 06:57] Arjupta commented on #1801
@BenHenning and @anandwana001 , also check my recording with same steps. I will also test it on pixel3a. [video link](https://drive.google.com/file/d/1Vum62Kza8zC3AOiUXcLJxzUiHv6uFP7u/view?usp=drivesdk)

[2020-10-01 07:22] anandwana001 commented on #1801
Ok, let me check in a bit deep. I will test on bit more devices and see if I could repro this issue.

[2020-10-01 10:36] MohamedMedhat1998 commented on #1902
![Screenshot_2020-10-01-12-32-25](https://user-images.githubusercontent.com/8533363/94798790-65c78980-03e2-11eb-88d8-a6c8e0706bc5.png)
The round corner is incorrect here.
There are only some items that need to change, but I think it isn't a big deal.
The hint icon is just an example, but as you said, for the RTL, we don't need new mocks

[2020-10-01 17:55] TheRealJessicaLi commented on #1898
@rt4914 Can I work on this issue?

[2020-10-01 18:33] rt4914 commented on #1633
Assigning this to @alokbharti . Feel free to get back to us if you get stuck

[2020-10-01 18:40] alokbharti commented on #1633
Sure, thanks.

[2020-10-01 19:02] rt4914 commented on #1898
@aggarwalpulkit596 Thanks.

[2020-10-01 19:37] soamOne commented on #1855
![Screenshot from 2020-10-02 01-06-36](https://user-images.githubusercontent.com/65867928/94855107-a1e30480-044b-11eb-822e-e7b10088c95b.png)

[2020-10-01 19:39] soamOne commented on #1855
@anandwana001 are we aiming to resolve this check in all these files:
![Screenshot from 2020-10-02 01-06-36](https://user-images.githubusercontent.com/65867928/94855257-dbb40b00-044b-11eb-9bde-04707cb09502.png)

[2020-10-01 20:38] #1882 closed, assigned to soamOne

[2020-10-01 20:42] BenHenning commented on #1855
That includes some non test files, but we do want to fix that everywhere @soamOne.

[2020-10-01 20:45] soamOne commented on #1855
@BenHenning so should I go ahead and fix all these files in one PR only? Also, is there any standard format we should follow for abbreviating?

[2020-10-01 20:49] BenHenning commented on #1855
I thinking fixing them all in one PR is fine. For abbreviating, we generally want to break at the higher syntactical element (think left to right, break at the first symbol you encounter rather than one later on). See: https://developer.android.com/kotlin/style-guide#where_to_break.

If you’re unsure, you could start with fixing a few lines and send me the draft PR. I can verify if whether you’re

[2020-10-01 20:53] soamOne commented on #1855
Okay @BenHenning, that sounds good:)

[2020-10-02 04:49] #1898 closed, assigned to TheRealJessicaLi

[2020-10-02 05:08] Arjupta commented on #1801
@BenHenning I also tried it on Pixel 3a (API 27) Virtual Device, but still there was no error encountered

[2020-10-02 05:27] BenHenning commented on #1801
Interesting. @ARJUPTA would you be able to share a recorded video of your repro attempts? That might better help us understand if there are any differences.

Otherwise, if we can’t figure out what’s going wrong then we should add logs and have Akshay repro it to see if we can get more data on what might be happening.

[2020-10-02 06:21] Arjupta commented on #1801
@BenHenning sir, this is the [recorded video](https://drive.google.com/file/d/1CMzz_lQDYA9CnCiJ06KI2RrPWEjrhC8Q/view?usp=sharing). Here we can see that the audio on the second screen closes once the toolbar icon is pressed. Ignore the buffering of audio (・ω・)

[2020-10-02 06:23] anandwana001 commented on #1801
Could you try clicking on the audio icon as soon as you click the continue button? You can check the video in the issue description. So, before the audio begins after clicking the continue, you switch the audio off.

[2020-10-02 09:36] Arjupta commented on #1801
Yes @anandwana001, this time that error occurred? @BenHenning sir, Instantly clicking over that button before audio starts causes it. Looks like a corner case to handle.

[2020-10-02 16:05] TheRealJessicaLi commented on #1881
@BenHenning Can I take this? All the fraction classifier tests should be relatively straightforward now that we merged my PR for #1898

[2020-10-02 16:06] TheRealJessicaLi commented on #1887
@BenHenning Can I take this?

[2020-10-02 16:06] TheRealJessicaLi commented on #1880
@BenHenning Can I take this?

[2020-10-02 19:56] BenHenning commented on #1801
Ah, glad we clarified that missing part of the repro steps.

We should still fix this since it’s not entirely obvious whether this corner case can be more easily hit by some folks (consider slower devices).

[2020-10-02 19:57] BenHenning commented on #1881
@TheRealJessicaLi sure! Assigning this over to you.

[2020-10-02 19:58] BenHenning commented on #1887
Sure, assigning.

[2020-10-02 19:59] BenHenning commented on #1880
@TheRealJessicaLi normally we don’t encourage having more than two issues simultaneously, but since all of this work is related I think that’s fine.

[2020-10-03 03:17] Arjupta commented on #1801
@BenHenning sir then how can this be taken care of? Can you provide me with some steps to solve this issue? I want to work on it.

[2020-10-03 03:46] MaskedCarrot commented on #1893
I have written the tests. Can i make a PR?

[2020-10-04 14:22] MohamedMedhat1998 opened #1930 ""Tick icon" disappears on configuration change in QuestionPlayer"
**Describe the bug**
"Tick icon" disappears on configuration change in QuestionPlayer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'HomeScreen'
2. Scroll to 'Fractions Topic' and click on it
3. Go to 'Practice'
4. Check any checkbox and click start
5. Choose the correct answer for any question
6. Rotate the screen and notice that the "tick icon" disappeared

**Expected behavior**
Th

[2020-10-04 15:14] prayutsu commented on #1877
@Sarthak2601 Tests are already passing on robolectric and espresso, please confirm it once

[2020-10-04 18:57] #1878 closed, assigned to prayutsu

[2020-10-05 04:29] Victor-Titan commented on #1888
Can I work on this issue? Also there's a spelling mistake in the title.

[2020-10-05 09:29] Sarthak2601 commented on #1877
Yes, confirming that these tests pass on both robolectric and espresso. Hence, closing this issue. Thanks @prayutsu!

[2020-10-05 09:29] #1877 closed, assigned to nobody

[2020-10-05 10:56] anandwana001 commented on #1846
@rasacharjee Are you still working on this issue?

[2020-10-05 11:29] Victor-Titan commented on #1792
Can I work on this issue?

[2020-10-05 11:39] anandwana001 commented on #1792
Sure @Victor-Titan, I will assign it to you.

[2020-10-05 23:09] BenHenning commented on #1801
@ARJUPTA since you can repro the issue, you will need to add log lines and step through the code in order to figure out what’s broken.

You should start by analyzing how the app behaves when it does the right thing. Look through related functions for audio, observe how they behave when you go through a similar repro scenario without hitting the bug.

Once you have an idea how things work without t

[2020-10-06 04:02] anandwana001 commented on #1837
Duplicate of #637
Closing this one

[2020-10-06 04:02] #1837 closed, assigned to nobody

[2020-10-06 04:07] MaskedCarrot commented on #1888
Can I work on this issue?

[2020-10-06 05:00] alokbharti commented on #1884
@anandwana001 , can you assign me on this issue?

[2020-10-06 06:30] anandwana001 commented on #1811
@BenHenning as #1833 is done, can we close this issue?

[2020-10-06 08:11] Arjupta commented on #1801
@BenHenning sir the steps you mentioned are surely helpful , but can I also get to know some files which are related audio playing. Just some filenames which I need to start understand, rest I will ask you for help when needed.
Thanks

[2020-10-06 09:06] #1886 closed, assigned to prayutsu

[2020-10-06 12:02] ranjsa commented on #1930
Hello @MohamedMedhat1998 @anandwana001 @rt4914
Can I work on this issue

[2020-10-06 12:04] anandwana001 commented on #1930
@ranjsa Sure, you can.

[2020-10-06 16:47] Arjupta commented on #1734
@anandwana001 does this issue require only to add .idea folder to .gitignore? If it is so, can I do that?

[2020-10-06 18:00] Arjupta commented on #1658
@MohamedMedhat1998 I just wanted to add one thing that, while trying to find a solution for this issue, I tried to re-type the whole LessonThumbnailImageView block of XML after removing it (removed it to check whether the other views are rendering correctly). While retyping this block of XML I saw all the views being rendered normally, but if the layout file is opened again then this issue arises.

[2020-10-06 18:13] #1893 closed, assigned to MaskedCarrot

[2020-10-06 19:43] anandwana001 commented on #1734
This is blocked on other issue. We cannot work on this unless the other one gets finish. @ARJUPTA

[2020-10-06 19:50] BenHenning commented on #1801
Sure. I suggest starting with https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/audio_fragment.xml and https://github.com/oppia/oppia-android/blob/74db288b9ac25fb942a8feb35e918bcd7e94e55c/app/src/main/java/org/oppia/android/app/player/audio/AudioViewModel.kt#L117.

In general, one way to find the code that needs to change is to run the app & search for strings in code, th

[2020-10-06 19:51] BenHenning commented on #1811
Aha, yes! Thanks @anandwana001. I confirmed a week ago that the alpha build is now available on the Play Store for opted in users.

[2020-10-06 19:51] #1811 closed, assigned to BenHenning

[2020-10-06 19:51] BenHenning commented on #1811
This also concludes the alpha milestone.

[2020-10-06 19:57] #1889 closed, assigned to prayutsu

[2020-10-06 20:01] BenHenning commented on #1902
Ah I see, that is what I meant that the existing UIs should be conducive. That screenshot shows a clear bug that we're incorrectly fixing the corner to the right rather than the start, and directional icons may be wrong in that picture.

We may legitimately have cases where we need mocks for RTL layouts, but I'm hoping they are minimal. We should preferably have general design guidelines for RTL t

[2020-10-06 20:02] prayutsu commented on #1894
@MohamedMedhat1998 I want to take this up

[2020-10-06 20:08] BenHenning commented on #1839
Notice in the mocks that there should be enough space in the exploration player for the hint button: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/e789f7c6-c677-4c76-b3e5-d603fd84d1e1/.

@mschanteltc should we also be guaranteeing enough space for the question progress bar to not overlap with hints?

[2020-10-06 21:17] BenHenning commented on #1894
Assigning this to you @prayutsu.

[2020-10-06 21:21] BenHenning commented on #1888
Sure @MaskedCarrot. Assigning to you.

[2020-10-07 05:20] mschanteltc commented on #1839
Great question, and thank you for catching this case. There are two ways I came up with that can solve this problem:

**Move Progress Bar Above Hint Button**
![PM Q5 (Numeric Input, No Answer) – 1](https://user-images.githubusercontent.com/22177674/95289737-57350400-0820-11eb-87b2-0a2247add648.png)

**Scale Progress Bar to Fit**
![PM Q5 (Numeric Input, No Answer) – 2](https://user-images.githubuse

[2020-10-07 06:13] rt4914 commented on #1658
@ARJUPTA Thanks for mentioning this.

[2020-10-07 07:36] seanlip commented on #1839
I do lean slightly towards the second option (assuming at most one lightbulb shows at a time?) -- I don't have a strong reason, it just feels a bit better to me. But I don't really have strong feelings in either direction, so happy to defer to y'all on this.

Btw, why is it "Practic Mode" in the navbar? That looks like a misspelling.

[2020-10-07 11:03] MohamedMedhat1998 commented on #1902
I agree.

[2020-10-07 11:09] MohamedMedhat1998 commented on #1658
@ARJUPTA Have you tried to "refresh layout" in this case?
Sometimes android studio can't render the layout correctly, but when you "refresh layout", it renders it well. But in the case of `LessonThumbnailImageView`, it can't render the layout even after refreshing.
Can you check that, please?

[2020-10-07 11:26] Arjupta commented on #1658
![Screenshot 2020-10-07 16 47 39](https://user-images.githubusercontent.com/64064110/95324400-4be3e600-08bd-11eb-82d4-071efb54749f.png)

This is what I was able to see after Refreshing the layout. Means three behaviours are seen -

1.) When the block is typed for the first time, all views are rendered but LessonThumbnailImageView even after not being rendered doesn't block other views.
2.) After b

[2020-10-07 11:48] MohamedMedhat1998 commented on #1658
Can you click on the "i" icon on the top right corner of the preview and share its output in each case, please?

[2020-10-07 12:47] prayutsu commented on #1883
@MohamedMedhat1998 I would like to work on it

[2020-10-07 12:58] MohamedMedhat1998 commented on #1883
Let's merge #1938 first. It is failing in github checks.

[2020-10-07 13:53] Arjupta commented on #1658
@MohamedMedhat1998 only the last case of opening the file normally shows the error, it is same as you have posted earlier.

The first two cases as encountered by me just gives the warning that

**Rendering errors might be caused by the new Layout Rendering Engine. Disabling it by clicking here may fix the issue. It can later be enabled again using the Settings > Experimental dialog.**

[2020-10-07 14:34] MohamedMedhat1998 commented on #1658
Well, if it is only a warning, it is ok. But if it is an error, we need to fix it, which is why we have this issue opened.

[2020-10-07 14:49] MohamedMedhat1998 commented on #1883
@prayutsu you can start working on this because your work is done in #1938

[2020-10-07 16:24] rt4914 commented on #1885
Assigning this to @aditiwebd

The name is not visible in `Assignees` dropdown and therefore just mentioning it in comment.

[2020-10-07 18:55] #1646 closed, assigned to ranjsa

[2020-10-07 20:44] BenHenning opened #1942 "CoroutineExecutorService is causing flakes in CI"
See https://github.com/oppia/oppia-android/actions/runs/294030287 & others at https://github.com/oppia/oppia-android/actions. We're getting a bunch of failures due to CoroutineExecutorService failing to shutdown under some circumstances. This *might* be more obvious on faster machines, and I suspect that GitHub actions or the cloud infra it depends on may have had an updated configuration leading

[2020-10-07 20:46] BenHenning commented on #1942
What I'm currently unsure of is whether this is specifically an issue with the executor service or the environment. It's possible to deadlock CoroutineExecutorService if it has tasks that require test coroutine disaptchers to run--shutdown will always fail with a timeout. This is a known limitation, but it shouldn't happen in these cases since it seems to be occurring when setting up Glide for the

[2020-10-07 20:54] BenHenning commented on #1942
Also, it seems like if one test triggers this _all_ of the tests in the suite will trigger it. A local run of tests led to this being triggered for 2/3 test suites that rely on MockGlideExecutor: StateFragmentTest and StateFragmentLocalTest (not QuestionPlayerActivityTest) (leading to >15 minutes for the whole module suite to run since each individual test failure is ~10 seconds).

[2020-10-07 20:59] BenHenning commented on #1942
Aha, I think Gradle might be doing the wrong thing here. After my previous run where most of the state fragment tests failed with a similar error to the above:

[code]

I also noticed a failure in ExplorationActivityTest:

[code]

This is particularly noteworthy because ExplorationActivityTest does NOT set up a mock Glide executor. This seems to strongly suggest that Gradle is not actually using m

[2020-10-07 21:06] BenHenning commented on #1942
Gradle documentation is a bit contradictory here. Per https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:maxParallelForks it indicates that a single test is run in a single process at a time by default, but https://docs.gradle.org/current/dsl/org.gradle.api.tasks.testing.Test.html#org.gradle.api.tasks.testing.Test:forkEvery mentions that th

[2020-10-07 21:42] BenHenning commented on #1942
Another issue I'm running into: Android Studio doesn't seem to respect Gradle settings for fork & parallelization. Users need to manually set the fork mode within the IDE in order to get the correct results when running the full suite of app module tests. However, running the suite with class forking seems to fix the underlying issues.

Really curious why this is suddenly becoming an issue on acti

[2020-10-07 21:44] BenHenning commented on #1942
Note that turning on forking _significantly_ slows down Gradle tests, probably because Robolectric needs to be re-setup each time. This is still more correct, though, and explains why Bazel tests take a lot longer to run.

Turning on parallel runs helps a lot (for my machine with ~6 cores it brings it to about the same runtime as before), but for machines with less parallelization (e.g. Github Act

[2020-10-07 21:57] BenHenning commented on #1942
So I can't seem to get parallel runs to work in Android Studio's runner UI, so anyone using the UI to batch run tests is going to have a painful time. The CLI does parallelize correctly and runs significantly faster. Individual test runs from within Android Studio should be unaffected.

[2020-10-07 22:04] mschanteltc commented on #1839
Thanks for the input Sean! And I fixed the typos and updated the [mocks](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/c4b0dfb3-53b4-491e-a759-818e096183fd/). @BenHenning It looks like we'll be using the second option. Is there anything else that needs consideration?

[2020-10-08 05:40] ranjsa opened #1944 "We should be semantically naming all dimensions."
**Is your feature request related to a problem? Please describe.**

This issue is explained in this comments.

https://github.com/oppia/oppia-android/pull/1936#issuecomment-704559424
https://github.com/oppia/oppia-android/pull/1936#issuecomment-704996261

[2020-10-08 05:53] ranjsa commented on #1944
Hello @BenHenning  can you please explain a bit more about the issue you mentioned here https://github.com/oppia/oppia-android/pull/1936#issuecomment-704559424

Did you mean reordering of space_#dp in dimens.xml in ascending order?

[2020-10-08 06:31] misterjedu commented on #1846
@anandwana001, can I work on this?

Please, assign this to me

[2020-10-08 06:34] anandwana001 commented on #1846
@misterjedu Done

[2020-10-08 08:21] #1942 closed, assigned to BenHenning

[2020-10-08 08:32] Austinepass commented on #1792
@BenHenning, can I work on this issue?

[2020-10-08 08:35] prayutsu commented on #1792
@Austinepass This issue is already assigned to @ARJUPTA so you can look at other good first issues

[2020-10-08 08:36] rt4914 commented on #1792
@Austinepass Actually, It is already assigned. You can self-assign any issue to work on from this link: https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22

[2020-10-08 08:40] Austinepass commented on #1792
Okay, I'll look for another issue to work on.

Thanks.

On Thu, Oct 8, 2020 at 9:36 AM Rajat Talesra <notifications@github.com>
wrote:

[2020-10-08 09:12] rt4914 opened #1945 "Optimise code in onboarding_slide.xml"
This issue is tracking the optimisation work of `onboarding_slide.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all textviews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes the

[2020-10-08 09:14] rt4914 commented on #1945
Assigning this to @austinepass

[2020-10-08 10:18] rt4914 opened #1946 "Optimise code in drag_drop_single_item.xml"
This issue is tracking the optimisation work of `drag_drop_single_item.xml`

1. Make sure that all textviews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes the UI should not get affected and the end result should still be same as before (or an optimised version of UI).

If there are multiple files with the

[2020-10-08 10:20] rt4914 opened #1947 "Fix tools:context error in onboarding_activity.xml"
In current develop `tools:context` shows error in `onboarding_activity.xml` because of incorrect path.

[2020-10-08 10:22] rt4914 opened #1948 "Optimise code in onboarding_fragment.xml"
This issue is tracking the optimisation work of `onboarding_fragment.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all textviews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes

[2020-10-08 10:23] rt4914 opened #1949 "Optimise code in onboarding_slide_final.xml"
This issue is tracking the optimisation work of `onboarding_slide_final.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all textviews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

3. If needed introduce commo

[2020-10-08 10:25] rt4914 opened #1950 "Optimise code in help_item.xml"
This issue is tracking the optimisation work of `help_item.xml`

1. Make sure that all textviews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes the UI should not get affected and the end result should still be same as before (or an optimised version of UI).

If there are multiple files with the same name, u

[2020-10-08 10:26] rt4914 opened #1951 "Optimise hints_summary.xml"
This issue is tracking the optimisation work of `hints_summary.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all textviews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes the UI

[2020-10-08 10:28] rt4914 opened #1952 "Fix tools:context in home_activity.xml"
`home_activity.xml` shows error in `tools:context` because of incorrect path. It should be updated.

[2020-10-08 11:50] static-var commented on #1952
Is the issue up for grabs?

[2020-10-08 11:52] rt4914 commented on #1952
@unused-variable
Welcome to Oppia. Before we can assign you any issue, please have a look at our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-10-08 11:53] #1894 closed, assigned to prayutsu

[2020-10-08 11:57] static-var commented on #1952
Done!

[2020-10-08 12:10] rt4914 commented on #1952
@unused-variable
Have you done both? CLA and survey form? Before I am not able to find your entry in our database.

https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2020-10-08 12:21] rt4914 commented on #1952
Assigned. Thanks.

[2020-10-08 13:21] #1952 closed, assigned to static-var

[2020-10-08 14:14] static-var commented on #1947
Up for grabs?

[2020-10-08 14:54] MohamedMedhat1998 opened #1954 "Optimise code in profile_chooser_fragment.xml"
This issue is tracking the optimization work of `profile_chooser_fragment.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above cha

[2020-10-08 14:58] MohamedMedhat1998 opened #1956 "Optimise code in profile_chooser_add_view.xml"
This issue is tracking the optimization work of `profile_chooser_add_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above cha

[2020-10-08 15:00] MohamedMedhat1998 opened #1957 "Optimise code in profile_chooser_profile_view.xml"
This issue is tracking the optimization work of `profile_chooser_profile_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above

[2020-10-08 15:06] MohamedMedhat1998 opened #1958 "Optimise code in admin_pin_activity.xml"
This issue is tracking the optimization work of `admin_pin_activity.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes t

[2020-10-08 15:09] MohamedMedhat1998 opened #1959 "Optimise code in admin_auth_activity.xml"
This issue is tracking the optimization work of `admin_auth_activity.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes

[2020-10-08 16:47] #1947 closed, assigned to static-var

[2020-10-08 19:08] #1883 closed, assigned to prayutsu

[2020-10-08 19:30] prayutsu commented on #1873
@MohamedMedhat1998 I want to work on this

[2020-10-08 19:40] prayutsu commented on #1884
@alokbharti Apologies, you may continue your work, Thanks for informing

[2020-10-09 02:38] bladebunny commented on #1959
I submitted a PR that flattens the view hierarchy and uses standard (Heading2 and Subtitle1) text styles.  I also made some small adjustments to the margins to be more standard.  Landscape view was using a scrollview which did not appear necessary which I removed.  I was not able to test completely because I wasn't sure how to get to the view through app usage.  But I did verify the layouts for di

[2020-10-09 03:00] bladebunny commented on #1958
I added a PR that applies the same fixes and layout as 1959.
PR: https://github.com/oppia/oppia-android/pull/1964

[2020-10-09 03:13] BenHenning commented on #1959
Thanks @bladebunny. Assigning this to you.

For future issues, could you leave a message on the issue you'd like to work on so that someone else doesn't start that issue? It helps us to know who's actively working on which issues.

[2020-10-09 03:14] BenHenning commented on #1958
Assigning over to you @bladebunny.

[2020-10-09 12:10] rt4914 commented on #1869
@Sarthak2601 I think we should split these tests into separate issues? WDYT?

[2020-10-09 12:14] Sarthak2601 commented on #1869
Yes, good point. I'll split them up.

[2020-10-09 12:48] #1804 closed, assigned to alokbharti

[2020-10-09 13:54] Sarthak2601 opened #1965 "Fix ImageRegionSelectionInteractionViewTest for Robolectric"
Currently, the ImageRegionSelectionInteractionViewTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextAp

[2020-10-09 13:55] Sarthak2601 opened #1966 "Fix InputInteractionViewTestActivityTest for Robolectric"
Currently, the InputInteractionViewTestActivityTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextAppli

[2020-10-09 13:56] aggarwalpulkit596 commented on #1965
This would be a bit too much for slop as it requires changes into roboelectric framework

[2020-10-09 13:58] Sarthak2601 opened #1967 "Fix TestFontScaleConfigurationUtilActivityTest for Robolectric"
Currently, TestFontScaleConfigurationUtilActivityTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApp

[2020-10-09 13:59] Sarthak2601 opened #1968 "Fix NavigationDrawerTestActivityTest for Robolectric"
Currently, NavigationDrawerTestActivityTest are passing on Espresso but they should also pass on Robolectric. Fix these below mentioned files to make sure that the tests pass on Robolectric.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Fixing test cases will need to introduce TextApplicationCo

[2020-10-09 14:01] Sarthak2601 commented on #1965
This issue was already present for SLoP under #1869. However I think @aggarwalpulkit596 is right here.
@BenHenning @rt4914 thoughts?

[2020-10-09 14:25] rt4914 commented on #1965
@Sarthak2601 I agree with you. Let's remove this from SLoP, considering we already have good number of issues.

[2020-10-09 14:32] #1884 closed, assigned to alokbharti

[2020-10-09 15:34] prayutsu commented on #1967
@Sarthak2601 I think tests are already passing, please confirm.
![Screenshot from 2020-10-09 21-01-35](https://user-images.githubusercontent.com/54636525/95602699-e9cce180-0a72-11eb-8213-00c003d3b5fa.png)

[2020-10-10 05:07] rt4914 commented on #1945
@bladebunny Unfortunately you will have close your PR #1969 because this issue is already assigned to other contributor. You can check that in above comment.

Make sure you follow below mentioned guidelines while self assigning issues:
In any issue, check the `Assignees` section on top-right and if it is assigned to someone, they you cannot work on that issue. If it is not assigned to anyone, have

[2020-10-10 08:55] misterjedu commented on #1846
@anandwana001 PTAL

[2020-10-10 09:12] peculiaruc commented on #1957
Hi! I am interested in this Can you assign it to me please

[2020-10-10 12:03] peculiaruc commented on #1954
Hi! I am interested in this issue. Please assign it to me.

[2020-10-10 12:19] peculiaruc commented on #1957
Hi! I am interested in this but please can you attach the screenshot to this issue

[2020-10-10 12:36] MohamedMedhat1998 commented on #1954
Welcome to Oppia, @peculiaruc!
Thanks for your interest in contributing to Oppia.
Please make sure to read the [home wiki page](https://github.com/oppia/oppia-android/wiki) and sign the CLA. Once you do that, we can directly assign issues to you.

[2020-10-10 12:37] MohamedMedhat1998 commented on #1957
Welcome to Oppia, @peculiaruc!
Thanks for your interest in contributing to Oppia.
Please make sure to read the [home wiki page](https://github.com/oppia/oppia-android/wiki) and sign the CLA. Once you do that, we can directly assign issues to you.
Screenshot:
![Screenshot_2020-10-10-14-32-03](https://user-images.githubusercontent.com/8533363/95655181-ca32c900-0b05-11eb-8e99-b5be2a8566d1.png)
The `p

[2020-10-10 12:52] peculiaruc commented on #1954
I have done those please

On Sat, 10 Oct 2020, 1:37 PM Mohamed Medhat, <notifications@github.com>
wrote:

[2020-10-10 13:58] peculiaruc commented on #1957
please can you assign the issue to me

[2020-10-10 14:20] secjedi commented on #1951
I am working on this

[2020-10-10 15:16] MohamedMedhat1998 commented on #1957
@peculiaruc Rajat has already assigned it to you.
Please note that this issue requires more work and it can take some time. I suggest that you start working on something easier at the beginning, but if you want to work on this to learn new concepts, of course you can do.

[2020-10-10 15:21] peculiaruc commented on #1957
Do you have an easier one you might refer me to please

On Sat, 10 Oct 2020, 4:16 PM Mohamed Medhat, <notifications@github.com>
wrote:

[2020-10-10 15:25] rt4914 commented on #1957
Have a look at https://github.com/oppia/oppia-android/issues/1954

[2020-10-10 19:59] Arjupta commented on #1950
@rt4914 can I work on this?

[2020-10-10 20:25] rt4914 commented on #1950
@ARJUPTA Assigned. Thanks. Also, in future, you can check if no one is working on the issue (by checking assignees section and comments), you can self assign issue to yourself or leave a comment like `I am working on this.`

[2020-10-10 21:16] Arjupta commented on #1946
I am working on this

[2020-10-10 21:49] peculiaruc commented on #1954
This task will involve me changing Linearlayout used by making it a constraint layout and add necessary constraints. For  TextView I will maintain the ID but modify if need be. Can I go-ahead, please?

[2020-10-11 00:03] KMaragh commented on #1949
I'll pick this up!

[2020-10-11 03:48] Austinepass commented on #1948
I am working on this.

[2020-10-11 04:32] Arjupta commented on #1956
I will work on this .

[2020-10-11 07:26] Arjupta opened #1975 "Action Bar Text Size Variation"
**Describe the bug**
The size of the text varies for two different screens (until now discovered this problem in the FAQ section). It might be a mistake in the layout

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the Drawer and go to the Help Tab.
2. Click on Frequently Asked Questions, a list of questions will appear.
3. Open any Question while observing the Action Bar.
4. We will s

[2020-10-11 11:47] misterjedu commented on #1839
@BenHenning
How do I get to this screen from my emulator? Which fragment?

I want to be assigned to this issue.

[2020-10-11 11:56] MohamedMedhat1998 commented on #1956
@ARJUPTA Before we assign you this one, can you finalize #1042 first, please?
If you are facing difficulties with #1042 we can remove your assignment there and assign you this one.
What would you prefer?

[2020-10-11 12:53] Arjupta commented on #1956
I am working on the #1042, but as @rt4914 suggested to look upon the rest Slop issues as that issue will take time , so I started working on this too. I will take the #1042 if have to choose between one.

[2020-10-11 13:42] MohamedMedhat1998 commented on #1956
Ok no issues, you can work on both. I'll assign this one to you too.

[2020-10-11 13:49] MohamedMedhat1998 opened #1976 "Optimise code in administrator_controls_general_view.xml"
This issue is tracking the optimization work of `administrator_controls_general_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making th

[2020-10-11 13:51] MohamedMedhat1998 opened #1977 "Optimise code in administrator_controls_profile_view.xml"
This issue is tracking the optimization work of `administrator_controls_profile_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making th

[2020-10-11 13:53] MohamedMedhat1998 opened #1978 "Optimise code in administrator_controls_download_permissions_view.xml"
This issue is tracking the optimization work of `administrator_controls_download_permissions_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

Wh

[2020-10-11 13:56] MohamedMedhat1998 opened #1979 "Optimize code in administrator_controls_app_information_view.xml"
This issue is tracking the optimization work of `administrator_controls_app_information_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While m

[2020-10-11 13:57] MohamedMedhat1998 opened #1980 "Optimize code in administrator_controls_account_actions_view.xml"
This issue is tracking the optimization work of `administrator_controls_account_actions_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While m

[2020-10-11 19:32] secjedi commented on #1980
I will like to work on this

[2020-10-12 05:03] anandwana001 commented on #1736
Removing myself as assignee for this issue for this week for two points:
1. After package renaming most of the things get fixed already.
2. We need to have pre-commit hooks before adding new linters

[2020-10-12 07:44] aggarwalpulkit596 opened #1987 "Optimize code in ongoing_story_card.xml"
This issue is tracking the optimization work of `ongoing_story_card.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While making the above changes t

[2020-10-12 10:57] lingarajsankaravelu commented on #1987
@aggarwalpulkit596 I like to take this up

[2020-10-12 10:59] rt4914 commented on #1987
Hello @lingarajsankaravelu Welcome to Oppia. Before we get started, can you please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-10-12 12:38] Florence-Njeri commented on #1976
@ MohamedMedhat1998 I am working on this.

[2020-10-12 14:59] #1846 closed, assigned to misterjedu

[2020-10-12 15:04] Austinepass commented on #1977
@MohamedMedhat1998, I will like to work on this

[2020-10-12 15:19] soamOne commented on #1900
Hey @Sarthak2601 , I would like to work on this issue. But I do not really know how to thoroughly test stuff, could you tell me a bit about it?

[2020-10-12 19:47] misterjedu commented on #682
@rt4914  my first PR just got accepted and merged.

Can I work on this as my second?

[2020-10-13 02:15] JudeUk commented on #1987
I am working on this @rt4914 @aggarwalpulkit596 where is the option to assign this to myself please?

[2020-10-13 03:35] JudeUk commented on #1987
I understand an admin has to assign me to an issue hi mentors @rt4914 @aggarwalpulkit596 kindly assign me to this issue thanks

[2020-10-13 04:02] BenHenning opened #2001 "Add support for SetOfNormalizedString for TextInput"
See https://github.com/oppia/oppia/pull/10882 for context. We should make these changes on Android, too, though it will require updating our test & production exploration files (the latter of which needs to be done by @rt4914 or myself).

[2020-10-13 04:03] BenHenning commented on #2001
@rt4914 might be nice as a SLoP project. It has less details than a second issue, and is therefore more targeted for more established contributors that can figure this out from the reference PR.

[2020-10-13 05:14] BenHenning commented on #1949
Welcome @KMaragh! Please follow the instructions listed here to go through the onboarding process: https://github.com/oppia/oppia-android/wiki#onboarding-instructions. Once you sign the CLA & fill out the contributor survey, you can start working on this issue.

[2020-10-13 05:16] Aarkin7 commented on #1978
I will take this

[2020-10-13 05:33] rt4914 opened #2003 "Specific dimension representing what they are meant for"
Reference https://github.com/oppia/oppia-android/pull/1923#discussion_r502070247

Dimensions should be renamed to represent specific values.
**For example (from Ben's comment)**: We should have answer_tick_margin and answer_tick_size dimensions that we can reference everywhere that needs to use these sizes to keep consistency. This provides context--it tells you exactly what you're coordinating wi

[2020-10-13 05:35] #1950 closed, assigned to Arjupta

[2020-10-13 05:43] BenHenning commented on #1975
Nice catch @ARJUPTA, this does seem like a bug. We should probably have a consistent style for all action bar titles throughout the codebase unless the mocks have some inconsistencies here.

/cc @rt4914

[2020-10-13 05:46] BenHenning commented on #1839
Thanks @mschanteltc & Sean. Chantel: to be clear, should we always size & position the progress bar in perspective of the second screen (even if the hint bulb is not showing), or should we only make it smaller when the bulb is showing?

[2020-10-13 05:49] BenHenning commented on #1839
@misterjedu you may want to wait until Chantel and I finish finalizing the UX before working on this. :) I suggest looking at other starter issues that are currently unassigned.

That being said, you can navigate to this screen by:
1. Opening the app
2. Selecting the default (admin) profile to open the home screen
3. Navigating to the fractions topic
4. Switch to the 'Practice' tab
5. Select one o

[2020-10-13 05:54] BenHenning commented on #1987
@JudeUk I've assigned this to you. Feel free to start working on it. :)

[2020-10-13 05:55] lingarajsankaravelu commented on #1987
done

[2020-10-13 05:57] rt4914 commented on #1987
@BenHenning Actually @Florence-Njeri has already started working on this. Therefore it cannot be assigned to @JudeUk

Also, @Florence-Njeri in future please make sure that you always mention or self assign issue.

[2020-10-13 06:01] BenHenning commented on #1900
@soamOne assigning this to you.

To start, I suggest you take a look at https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#learning-how-to-write-good-tests and the other parts of that page. Further, you can also reference other similar test suites (such as [MultipleChoiceInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/o

[2020-10-13 06:01] rt4914 commented on #682
@misterjedu Assigned.

[2020-10-13 06:06] BenHenning commented on #1987
Thanks @rt4914, I missed the linked PR. I think @Florence-Njeri needs to comment on this issue before it can be assigned. We should block the PR submission on that to make sure the issues are being assigned correctly to avoid confusion.

@JudeUk apologies for the churn! Please feel free to look for another unassigned issue in the meantime.

[2020-10-13 06:53] Florence-Njeri commented on #1987
I will. Sorry for the inconvenience I caused.

[2020-10-13 07:05] #1948 closed, assigned to Austinepass

[2020-10-13 07:20] Florence-Njeri commented on #2003
@rt4914  I would like to work on this.

[2020-10-13 08:05] #1976 closed, assigned to Florence-Njeri

[2020-10-13 10:49] Arjupta commented on #2003
@rt4914 this will surely make the use of dimensions easier but wouldn't it be leading to duplicacy of the same value with different IDs?

[2020-10-13 10:59] Arjupta commented on #2003
I also have an idea to complete this issue in a systematic set of PRs. For example, if we have **"N"** dimensions defined in **dimens.xml**  then I will submit **"N"** PRs, each after refactoring the use of single dimension value in all the places it is being used. This will be easy to check for the reviewers too.

[2020-10-13 11:10] prayutsu commented on #2003
@ARJUPTA I don't think the issue tracks to update only existing dimensions. @rt4914 Please correct me if I am wrong, but I think the assignee needs to create a `dimen` value for all the hard-coded dimensions in each layout file with a suitable name.
Also, the assignee needs to update all the names that are currently being used in the layout files.
So, that's why it'll take a long time.

[2020-10-13 11:12] rt4914 commented on #2003
@prayutsu @ARJUPTA We don't need to introduce new dimens but we have to make sure that the current dimens are named more meaningfully.
So for example, if there is view which has `16dp` margin then we don't need to shift it to dimens file. But if there is a view with `space_16dp` margin then we need to come up with a better name to make it more clear.

[2020-10-13 11:13] rt4914 commented on #2003
Your approach does sound correct, just keep in mind it mind end up becoming more then N PR because we mind need multiple variables for same values.

[2020-10-13 13:02] rt4914 commented on #1951
@secjedi Do you need to close this PR as this was recreated here: https://github.com/oppia/oppia-android/pull/2006

??

[2020-10-13 13:13] Arjupta commented on #2003
Okay I will update you after my first PR, if the approach looks fine to you I will follow the same pattern.

[2020-10-13 14:40] Aarkin7 commented on #1978
Why did my second check failed? I didn't get it.

[2020-10-13 15:05] MohamedMedhat1998 commented on #1978
Hi @Aarkin7, please keep the discussion in the PR itself, not in the issue. This will help people track the code/progress easier.

[2020-10-13 17:56] peculiaruc commented on #1957
@rt4914  PTAL

[2020-10-13 19:10] mschanteltc commented on #1839
We should only make it smaller when the bulb is showing. The progress bar should animate either before or simultaneously when the hint button appears.

[2020-10-14 10:36] chrk2205 commented on #1810
@rt4914
can i work on this??
and also can oppia-android has two admin profiles!!?

[2020-10-14 18:09] JudeUk commented on #1987
@rt4914 hello, ongoing-story-card.xml design is not displaying
<img width="1440" alt="Screenshot 2020-10-14 at 11 34 26" src="https://user-images.githubusercontent.com/31444432/96028010-ab5b6c00-0e50-11eb-9fe2-75b9d7b7c113.png">
 on android studio

[2020-10-14 18:11] JudeUk commented on #1987
@rt4914 okay no problem, however I would still like to know why I was getting the above situation, @Florence-Njeri did you experience this?

[2020-10-14 19:55] JudeUk commented on #1979
hello @MohamedMedhat1998 I'll like to help fix this. Getting to work on it immediately

[2020-10-14 20:52] peculiaruc commented on #1899
I am working on this already

[2020-10-14 22:20] peculiaruc commented on #1892
I am working on this already

[2020-10-14 22:26] #1945 closed, assigned to nobody

[2020-10-14 23:15] rt4914 commented on #1987
@JudeUk Can you click on red-icon just below `Design` word on right side. This will show an error, can you share that?

Thanks.

[2020-10-14 23:16] rt4914 commented on #1810
@chrk2205 It is already assigned to @ranjsa
Also, two admin profiles only in the case when you have a very old version of app already installed. Just re-install the app and it should work.

Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-10-14 23:19] #1954 closed, assigned to peculiaruc

[2020-10-15 01:38] anandwana001 commented on #1930
@ranjsa Any update on this?

[2020-10-15 03:25] Florence-Njeri commented on #1987
No I did not. I think it's a problem on your end.

On Wed, Oct 14, 2020, 21:11 Jude Ukana <notifications@github.com> wrote:

[2020-10-15 05:50] #1887 closed, assigned to TheRealJessicaLi

[2020-10-15 05:55] BenHenning commented on #1979
@JudeUk I think @secjedi is already working on this (see the 'linked pull requests' section). Could you find another open 'good first issue' to work on, instead?

[2020-10-15 05:55] chrk2205 commented on #1810
@rt4914 i already signed it during gsoc20 selections am i supposed to do it again??
@ranjsa can i work on this??
thankyou for reply

[2020-10-15 05:56] chrk2205 commented on #1810
@rt4914
i already signed it during gsoc20 selections am i supposed to do it again??
thankyou for reply

[2020-10-15 05:58] BenHenning commented on #1810
@chrk2205 did you fill out the contributor survey? I see that you signed the CLA back in March, but I don't see a record of you filling out the survey.

[2020-10-15 06:23] chrk2205 commented on #1810
@BenHenning
yes, i filled the survey form!!

[2020-10-15 07:34] rt4914 commented on #1810
Just saw that he was onboarded but I am not able see his entry in the document. https://github.com/oppia/oppia-android/pulls?q=is%3Apr+author%3Achrk2205+

[2020-10-15 08:55] Austinepass commented on #1977
@MohamedMedhat1998 I have submitted a new PR to this issue just like you requested. PTAL

[2020-10-15 09:10] rt4914 commented on #1810
@chrk2205 and @BenHenning Actually it was not needed to sign/fill the CLA again. It was my mistake, I missed your entry in our records.

[2020-10-15 10:54] JudeUk commented on #1979
@BenHenning I can see a lot of pull requests but no comments on this.

[2020-10-15 14:49] JudeUk commented on #1897
hello @BenHenning I will like to take this up. can you please provide some useful resources as I might need help successfully completing this thank you.

[2020-10-15 14:53] rt4914 commented on #1897
@JudeUk Thanks for showing interest in Oppia. Before we start assigning you issues checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-10-15 14:54] JudeUk commented on #1897
hello @rt4914 I have gone through the set up already.

[2020-10-15 14:55] JudeUk commented on #1897
I have already

[2020-10-15 14:57] rt4914 commented on #1897
Great. I have assigned it to you. Thanks.

[2020-10-16 06:35] #1946 closed, assigned to Arjupta

[2020-10-16 06:39] #1880 closed, assigned to TheRealJessicaLi

[2020-10-16 06:42] #1881 closed, assigned to TheRealJessicaLi

[2020-10-16 18:53] secjedi commented on #1979
@BenHenning Please could you assign this issue to me? Thanks

[2020-10-16 20:39] alokbharti commented on #1870
Assigning this to myself as I had already made a PR (#1925 ) related to ProfileEditViewModel and it requires fixing ProfileEditActivityTest

[2020-10-16 20:51] misterjedu commented on #682
@rt4914  and @BenHenning , I just checked all the files listed above and it seems they've already been fixed a long time ago.  The orientationLandscape() function is already being used to change orientation while testing the app.

[2020-10-16 21:28] Arjupta commented on #1042
I won't be able to work on it currently so unassigning myself for now

[2020-10-17 08:04] misterjedu commented on #1589
Can I work on this?

@BenHenning  @rt4914

[2020-10-17 08:26] rt4914 commented on #1589
Done. Thanks.

[2020-10-17 08:27] rt4914 commented on #1870
Thanks @alokbharti

[2020-10-17 11:19] misterjedu commented on #1589
@rt4914 , thanks.

I'm almost done but need a bit of clarification for some cases.

I didn't get the <optional_context> part.

For example, a constant is used by five different functions, e.g moveToNextState() submitHintIsRevealed() ... and three others

How do I resolve the naming convention?

There is also another case where one single function used two different constant values.

Thanks...

[2020-10-18 17:34] secjedi commented on #1980
@MohamedMedhat1998 I had issues pushing only the necessary changes to the previous PR. I ran out of ideas and decided to create a new one with only the required changes. Please consider #2016 instead. Thanks

[2020-10-19 05:42] #1977 closed, assigned to Austinepass

[2020-10-19 06:39] anandwana001 opened #2017 "Format TextInputEqualsRuleClassifierProviderTest"
**Describe the bug**
Correct format of `TextInputEqualsRuleClassifierProviderTest` file

**Expected behavior**
Formatting should be correct and in order

[2020-10-19 07:25] anandwana001 opened #2019 "Introduce InteractionObjectBuilder"
**Is your feature request related to a problem? Please describe.**
The helper method in domain module for classify which returns the InteractionObject are increasing a lot and can be seen repetitive at all test cases.

**Describe the solution you'd like**
We need to have a helper class, from where test cases can access these methods and use accordingly.

[2020-10-19 08:41] #2019 closed, assigned to anandwana001

[2020-10-19 09:33] rt4914 commented on #1589
@misterjedu
For first question:
If a constant is used by 5 different functions then you will need to update the code to use 5 different constants because a constant name is dependent on function name and therefore it cannot be used in multiple functions.

For second question:
That's exactly where the `optional_context` comes in place. If one function uses two different constants then you can diffe

[2020-10-19 09:48] rt4914 commented on #682
@misterjedu Thanks for checking. I think only `InputInteractionViewTestActivity` file needs changes for this issue to get completed. But all those test cases are ignored as of now.

Also, it has been mentioned in the title that it is blocked on landscape mode. I will deassign this issue as of now. Thanks.

[2020-10-19 09:50] rt4914 commented on #1979
@JudeUk Yes, this was by mistake and ideally everyone should always comment first and then work on the issue.
@secjedi is already working on this.

[2020-10-19 09:52] rt4914 commented on #1824
@prayutsu Thanks. I will refer to your PRs whenever I work on it.

[2020-10-19 11:17] Florence-Njeri commented on #1890
I am working on this.

[2020-10-19 11:57] anandwana001 opened #2021 "Separate out Robolectric Check Provider"
**Is your feature request related to a problem? Please describe.**
Currently, the  Robolectric Check Provider is present in the `TestDispatcherModule`.

**Describe the solution you'd like**
Separate it out. Creating a different provider for it, as this is something which can use commonly in other modules/tests also.

[2020-10-19 14:19] rt4914 opened #2022 "Optimize code in administrator_controls_account_actions_view.xml"
This issue is tracking the optimization work of `administrator_controls_account_actions_view.xml`

1. Make sure that the layout uses `ConstraintLayout` and there is minimal nesting of views. If this view already uses `ConstraintLayout` then it's fine.

2. Make sure that all TextViews use the style from `styles.xml` file like `Heading1`, `TextFieldLabel`, `Body`, etc. whichever suits best.

While m

[2020-10-19 14:20] rt4914 commented on #2022
This is assigned to @secjedi  considering it was already done in https://github.com/oppia/oppia-android/pull/1992

@secjedi can you please leave a comment on this?

[2020-10-19 15:02] MohamedMedhat1998 commented on #2022
We already have #1980

[2020-10-19 17:19] secjedi commented on #2022
Ok @rt4914 I already pushed changes to #2016

[2020-10-19 18:43] #1979 closed, assigned to secjedi

[2020-10-19 18:47] #1980 closed, assigned to secjedi

[2020-10-20 08:23] peculiaruc commented on #1892
@rt4914 PTAL.
My lint checks are failing but I have intended my codes correctly, please advice

[2020-10-20 10:06] prayutsu commented on #1966
@MohamedMedhat1998 I want to work on this

[2020-10-20 18:14] navneetsaluja commented on #1896
Hi! Can I be assigned to this? I'm going to use the tips suggested by Ben [here](https://github.com/oppia/oppia-android/issues/1900#issuecomment-707509170).
Thanks in advance!

[2020-10-21 08:53] janewaitara commented on #1587
rt4914 I would like to work on this issue

[2020-10-21 08:53] janewaitara commented on #1587
@rt4914  I would like to work on this issue

[2020-10-21 09:55] #2017 closed, assigned to anandwana001

[2020-10-21 10:07] rt4914 commented on #1587
@janewaitara Assigned. Thanks.

[2020-10-21 11:01] #1958 closed, assigned to bladebunny

[2020-10-21 11:18] rt4914 opened #2028 "Add Code of Conduct to Project"
Similar to oppia-web we should add a code-of-conduct to oppia-android too.

Reference: https://github.com/oppia/oppia/blob/develop/.github/CODE_OF_CONDUCT.md

[2020-10-21 14:42] Aditiwebd commented on #1895
I would like to work on this @rt4914

[2020-10-21 18:23] Victor-Titan commented on #2028
Can I work on this issue? All I have to do is copy the Code of Conduct on [this](https://github.com/oppia/oppia/blob/develop/.github/CODE_OF_CONDUCT.md) into a readme file in the project right?

[2020-10-21 22:53] peculiaruc commented on #1891
I am working on this already

[2020-10-22 14:03] rt4914 commented on #2028
@Victor-Titan
I am assigning this issue to you.
Actually it won't go in readme. instead it will go to `.github` folder on the project. Similar to oppia-web - https://github.com/oppia/oppia/tree/develop/.github

[2020-10-22 15:09] #1949 closed, assigned to KMaragh

[2020-10-22 15:15] #1589 closed, assigned to misterjedu

[2020-10-22 16:32] BenHenning opened #2031 "Work around Robolectric bug not computing TextView size correctly"
#1923 has context. Robolectric has a bug where it doesn't compute TextView sizes correctly (it assumes each character is 1 pixel wide), which leads to incorrect layouts in our Robolectric tests. Fixing this within Robolectric is probably practically infeasible, so we need to fix this with a workaround shadow that actually computes a reasonable text size for texts.

[2020-10-22 16:50] rt4914 opened #2032 "LogUploadWorkerTests sometimes fail on github actions."
Issue Reference: https://github.com/oppia/oppia-android/pull/1983#issuecomment-712896420

Possible solution reference: https://developer.android.com/topic/libraries/architecture/workmanager/advanced/coroutineworker

<img width="1253" alt="Screenshot 2020-10-20 at 7 58 26 PM" src="https://user-images.githubusercontent.com/9396084/96904445-c2cfd000-14b4-11eb-98b0-314fae5813e0.png">

[2020-10-23 07:21] anandwana001 opened #2033 "Introduce drawing-based number & symbol input"
**Is your feature request related to a problem? Please describe.**
This issue is completely new where we are looking forward to implementing a new Interaction in Oppia-Android app which revolves around New Input Method for users.

**Describe the solution you'd like**
Few initial thoughts on this:
1. Implement a canvas to input, for example (2 + 3 = 5)
2. Might be some way to use Firebase ML Kit an

[2020-10-23 08:04] Victor-Titan commented on #2028
@rt4914 The code of conduct has already been added to the android project in the location you've specified. https://github.com/oppia/oppia-android/blob/develop/.github/CODE_OF_CONDUCT.md

[2020-10-23 11:11] #1885 closed, assigned to nobody

[2020-10-23 18:32] BenHenning commented on #2033
Thanks for filing this. Note that as discussed we don't have any plans to target this pre-GA. Further, we actually need to enumerate all of the pedagogical uses that we can utilize this interaction for before we begin user studies & technical research to determine how to build it.

We also discussed having a generic gesture detection input keyboard, and this may be the better way to go depending o

[2020-10-23 19:12] seanlip commented on #2033
You might consider not treating this as a "new interaction", but as the Android version of existing interactions (such as NumericInput) which, in addition to the existing input mechanisms, allows input in other ways (like drawing).

That would probably be better because lesson creators are going to be thinking more in terms of "what info does the learner need to provide in terms of answering this

[2020-10-24 02:37] anandwana001 opened #2035 "Fix file formatting under dragAndDropSortInput package"
**Describe the bug**
All the files, under the package `domain/src/test/java/org/oppia/android/domain/classify/rules/dragAndDropSortInput` are not in the correct format.

**Expected behavior**
File format should be follow from this file - [TextInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/android/domain/classify/rules/texti

[2020-10-24 02:38] anandwana001 opened #2036 "Fix file formatting under fractioninput package"
**Describe the bug**
All the files, under the package `domain/src/test/java/org/oppia/android/domain/classify/rules/fractioninput` are not in the correct format.

**Expected behavior**
File format should be follow from this file - [TextInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/android/domain/classify/rules/textinput/Te

[2020-10-24 02:40] anandwana001 opened #2037 "Fix file formatting under multiplechoiceinput package"
**Describe the bug**
All the files, under the package `domain/src/test/java/org/oppia/android/domain/classify/rules/multiplechoiceinput` are not in the correct format.

**Expected behavior**
File format should be follow from this file - [TextInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/android/domain/classify/rules/textin

[2020-10-24 02:40] anandwana001 opened #2038 "Fix file formatting under numericinput package"
**Describe the bug**
All the files, under the package `domain/src/test/java/org/oppia/android/domain/classify/rules/numericinput` are not in the correct format.

**Expected behavior**
File format should be follow from this file - [TextInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/android/domain/classify/rules/textinput/Tex

[2020-10-24 02:41] anandwana001 opened #2039 "Fix file formatting under ratioinput package"
**Describe the bug**
All the files, under the package `domain/src/test/java/org/oppia/android/domain/classify/rules/ratioinput` are not in the correct format.

**Expected behavior**
File format should be follow from this file - [TextInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/android/domain/classify/rules/textinput/TextI

[2020-10-24 02:42] anandwana001 opened #2040 "Fix file formatting under textinput package"
**Describe the bug**
All the files, under the package `domain/src/test/java/org/oppia/android/domain/classify/rules/textinput` are not in the correct format.

**Expected behavior**
File format should be follow from this file - [TextInputEqualsRuleClassifierProviderTest](https://github.com/oppia/oppia-android/blob/develop/domain/src/test/java/org/oppia/android/domain/classify/rules/textinput/TextIn

[2020-10-24 08:40] peculiaruc commented on #1899
@BenHenning    Here I am testing if a set of Html is equal, I have tested for uppercase and lowercase text, please can I also test text with numbers here?

[2020-10-24 11:28] Aarkin7 commented on #2035
I will work on this

[2020-10-24 14:25] chrk2205 commented on #1793
can i work on this??
@rt4914 @BenHenning

[2020-10-24 15:13] anandwana001 commented on #1793
@chrk2205 sure, please have a look at our onboarding instruction before continue the work. https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2020-10-24 17:23] chrk2205 commented on #1793
@anandwana001
Thanks,
I already signed CLA and survey.

[2020-10-25 02:16] anandwana001 commented on #2035
@Aarkin7 I will assign it to you, once you completed with the OnBoarding instructions.
Check our wiki page here - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2020-10-25 09:36] Aarkin7 commented on #2035
@anandwana001 I have completed the onboarding instructions previously.

[2020-10-26 03:05] anandwana001 commented on #1967
Thanks @prayutsu
closing this issue.

[2020-10-26 03:05] #1967 closed, assigned to nobody

[2020-10-26 05:52] anandwana001 commented on #1870
@alokbharti Unassigning you as you are solving only a part of it, not the complete issue. This blocks the issue to be taken for other contributors.

[2020-10-26 06:46] Aditiwebd commented on #1433
Please assign it to me @Sarthak2601

[2020-10-26 09:54] MaskedCarrot commented on #2036
I am working on this.

[2020-10-27 01:21] BenHenning opened #2047 "Implement strategy to ensure test device breadth & testing consistency between Robolectric & Espresso. [Blocked on #4991]"
In Robolectric, we can define that test suites or tests can use particular qualifiers. However, these don't exactly map to the devices that we typically run the Espresso versions of the tests on. For consistency, we should:
1. Define a consistent list of devices to run on (this is being started in #1831). We should compute the Robolectric qualifier strings for each of these.
2. Find a way to share

[2020-10-27 08:10] #1888 closed, assigned to MaskedCarrot

[2020-10-27 11:15] ForgottenProgramme commented on #1839
Hey, @BenHenning and @mschanteltc!
I am Mahe from India.
I was going through your conversation above and I would like to make a suggestion.

From what I observed, the hint button appears when the user has attempted a question wrongly the second time.
Along with the hint button, warning text also appears saying "No. That's not correct! (Some more text related to the question.)"

I feel, it makes mo

[2020-10-27 13:53] rt4914 commented on #1839
Thanks @ForgottenProgramme
@BenHenning  and @mschanteltc will get back to you on this.
Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can know what you are interested working on.

[2020-10-27 14:49] #1987 closed, assigned to Florence-Njeri

[2020-10-27 15:01] ForgottenProgramme commented on #1839
Hey, @rt4914 ! Okay. Will do. :)

[2020-10-27 18:49] rt4914 commented on #2028
@Victor-Titan Ohh, I missed that. Closing this issue now.

[2020-10-27 18:49] #2028 closed, assigned to nobody

[2020-10-27 19:08] chrk2205 commented on #1810
Cause of Bug::
https://github.com/oppia/oppia-android/blob/43295cabc654fce6c93d951c1a8b79054cde65f4/app/src/main/java/org/oppia/android/app/profile/ProfileChooserActivityPresenter.kt#L19

`profileManagementController.addProfile(
      name = "Admin",
      pin = "",
      avatarImagePath = null,
      allowDownloadAccess = true,
      colorRgb = -10710042,
      isAdmin = true
    )`

Every time P

[2020-10-27 19:12] rt4914 commented on #1810
@chrk2205 Your reasoning is correct. But I think instead of solving it at app-module level we should focus on solving this at domain-level module.
We can do this by checking if the admin already exists or not at in `addProfile` function.

[2020-10-27 19:13] chrk2205 commented on #1810
@rt4914 instead we can check if a user exists or not!!
if at least a single user exists  he will be a admin.

[2020-10-27 19:27] Victor-Titan commented on #2038
Can I work on this issue?

[2020-10-27 19:28] chrk2205 commented on #1810
@BenHenning @rt4914 can i take this issue!?

[2020-10-27 21:06] rt4914 commented on #1978
Closing this as the PR was finished but the description was incorrect because of which the issue was not closed automatically.

[2020-10-27 21:06] #1978 closed, assigned to Aarkin7

[2020-10-28 00:44] BenHenning commented on #1899
@peculiaruc can you clarify what you mean by testing with numbers? If you're thinking of adding tests for different cases including plain text, html, and numbers, that sounds good. You should be able to just pass in the inputs & answer strings formatted however you want to the classifier to verify that it handles different cases as expected.

I suggest looking at other rule classifier tests in the

[2020-10-28 02:49] MaskedCarrot commented on #2039
I am working on this.

[2020-10-28 03:15] MaskedCarrot commented on #2039
Would it be meaningful to name a ratio 1:2:3 as `RATIO_VALUE_TEST_1_2_3` ?

[2020-10-28 03:16] anandwana001 commented on #2039
@MaskedCarrot Let's discuss these points in PR for reference.

[2020-10-28 04:09] BenHenning commented on #1683
The needed changes have been checked into Bazel: https://github.com/bazelbuild/bazel/commit/cbdb2c74d747ed32ccb748be9c1633926e963b0f & https://github.com/bazelbuild/bazel/commit/f4430e4e7ec9e832e2b6d0e7f1c108256563bd23 (the latter is just so that we can move off of our custom copy of Bazel).

There are still a few changes need in Oppia Android, but we need to wait to make these until after a versi

[2020-10-28 07:17] #1793 closed, assigned to chrk2205

[2020-10-28 08:32] #2036 closed, assigned to MaskedCarrot

[2020-10-28 16:39] BenHenning commented on #2047
/cc @anandwana001

[2020-10-28 18:53] mschanteltc commented on #1839
Thanks for the suggestion @ForgottenProgramme! An additional reason why the hint button would be triggered is if the learner has not attempted to submit an answer after 30 seconds have elapsed. There are usually multiple hints tied to a single problem, so after another 30 seconds have passed, another hint would appear.

This would mean that even if the user has not attempted to answer the problem,

[2020-10-28 19:12] Arjupta commented on #2037
@aggarwalpulkit596 this issue doesn't have any points associated with it. Can you assign some points on the basis of PR.

[2020-10-28 21:01] #1810 closed, assigned to chrk2205

[2020-10-28 21:35] ForgottenProgramme commented on #1839
Hello, @mschanteltc. Thanks for telling me that.
Something comes to my mind;
If 30 secs pass and the user hasn't attempted to answer the question, we might, along with the hint button, display a feedback message, "You haven't attempted to answer the question. Would you like a hint?" *   a hint button here  *
What do you think?

[2020-10-29 05:59] BenHenning commented on #552
@rt4914 is this actually a sufficient first-time issue? We don't actually have downloads support yet, so it seems like it might be hard to finalize this.

[2020-10-29 06:01] BenHenning commented on #1760
In retrospect, I don't think this is going to be easily fixable so removing the starter label.

[2020-10-29 07:12] rt4914 opened #2054 "[Mobile-Portrait] High-fi StoryActivity Updated UI with lock and blur effect."
The `StoryActivity`  UI has been updated a lot which is available here. https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5abb0ace-19ee-48b8-8154-919154f924d2/

Major changes:
- [ ] Blur effect and lock icon on the inactive cards.

Paw icon: https://drive.google.com/file/d/1aHLklyfrwdWfVUm-Lc7ITlyspRl9-DnU/view?usp=sharing

[2020-10-29 07:18] rt4914 commented on #552
@BenHenning This was filed when we were focusing on the current mocks. I think for now I should close this, considering we don't know how download support will be used in terms of UI.
@BenHenning Should I close this to mark as blocked?

[2020-10-29 07:24] BenHenning opened #2055 "Back button from the nav drawer breaks highlight"
Repro:

(1) Start at the home screen
(2) Open the nav drawer
(3) Select a different page (e.g. Options)
(4) Press system back button to return to the home screen
(5) Open nav drawer

Expected: the navigation drawer should show 'Home' highlighted.

Observed: the 'Options' menu item is highlighted even though that was the previous page that was opened.

[2020-10-29 07:36] #2039 closed, assigned to MaskedCarrot

[2020-10-29 07:37] #2037 closed, assigned to Arjupta

[2020-10-29 14:23] #1892 closed, assigned to peculiaruc

[2020-10-29 14:26] anandwana001 commented on #2055
Duplicate of https://github.com/oppia/oppia-android/issues/1762

[2020-10-29 21:54] BenHenning commented on #2033
@seanlip that's a good point. I think this issue may be conflating two options:
1) Introducing a new drawing surface as an input mechanism for numbers. This is a better fit for mobile and can be Android-specific.

2) Introducing support for working through examples as part of process for solving an answer. This is a much harder and broader pedagogical consideration.

I think we should gear this to

[2020-10-30 03:19] mschanteltc commented on #1839
If feedback were to appear, it might distract the user while they read and focus on the question. A sudden appearance of a textbox might cause the user to shift their attention to the feedback to read it. The hint button would be less invasive because it's an identifiable icon that does not need too much attention.

[2020-10-30 06:19] BenHenning opened #2057 "Introduce shadows to properly lay out TextViews"
See #1923 for context. We need to introduce a custom Paint shadow class that extends Robolectric's which actually computes the correct size for text in TextViews so that we can test wrapping & other scenarios.

[2020-10-30 06:28] anandwana001 opened #2058 "Check the Intent Key for the AdminPinActivity and AdminAuthActivity in ProfileChooserFragmentTest"
**Is your feature request related to a problem? Please describe.**
Need to test the passing intent key from the ProfileChooserActivity to `AdminPinActivity ` and `AdminAuthActivity `

**Describe the solution you'd like**
`AdminAuthEnum.PROFILE_ADD_PROFILE` - clicking on add profile item, If the admin pin is already set it will open to add profile screen
`AdminAuthEnum.PROFILE_ADMIN_CONTROLS` - cli

[2020-10-30 06:47] BenHenning commented on #322
FYI I'm pretty sure this issue shouldn't happen with the new CoroutineLiveData that we're using, but this needs verification from someone.

[2020-10-30 08:25] ForgottenProgramme commented on #1839
Hey @mschanteltc ,
I see what you are trying to say.
But the user has already spent 30 sec reading and focusing on the question. They are clearly in need of help/hint.
The feedback message is only one(or two) sentence. Not a paragraph that would make the user 'forget' the question they were reading.
And if the hint button is not invasive enough and doesn't get attention, it is not of much use.

An

[2020-10-30 08:39] seanlip commented on #1839
@ForgottenProgramme, please note that:
- Some questions take longer than 30 sec to answer.
- We are still thinking through how prominent we want the hint button to be. It is not the case that we necessarily want students to use it as soon as it appears, and we don't want it to be invasive. Sometimes the questions require thinking and we do want the students to try and figure things out on their ow

[2020-10-30 10:04] anandwana001 opened #2059 "Fix WalkthroughFinalFragmentTest Tests for Robolectric"
**Describe the bug**
Test cases are not passing on robolectric.

[2020-10-30 10:17] anandwana001 opened #2061 "Fix WalkthroughTopicListFragmentTest Tests for Robolectric"
**Describe the bug**
Test cases are not passing on robolectric.

[2020-10-30 10:30] anandwana001 opened #2062 "Fix WalkthroughWelcomeFragmentTest for Robolectric"
**Describe the bug**
Test cases are failing for robolectric

[2020-10-30 11:14] ForgottenProgramme commented on #1839
Hey, @seanlip !

Yes. This makes sense. The purpose of this app is to make the students learn. Therefore the app should let the student brainstorm to some degree before displaying hints. Learning and growth is faster when the student is compelled to think hard for the solution of a problem.

Yes. That will be the best. We make changes based on the feedback from user who'll actually be using this a

[2020-10-31 05:08] BenHenning commented on #1897
@JudeUk are you working on this?

[2020-10-31 05:16] BenHenning commented on #1896
@navneetsaluja are you actively working on this?

[2020-10-31 09:52] JudeUk commented on #1897
yes I will make a draft Pr shortly

[2020-10-31 11:12] navneetsaluja commented on #1896
@BenHenning yes I am! Unfortunately due to college exams I wasn'table to work on this during the weekdays, but I'll send a PR within the next 2 days. Sorry for the delay.

[2020-11-01 07:38] chrk2205 commented on #1930
I checked the reason for it!!
in `SubmittedAnswerViewModel` the observable filed `isCorrectAnswer` is turning False ( maybe the default value ) , when there is a configuration change.

If we enter the answer in Landscape mode the tick is visible and after rotating the screen it disappears.
but i cant find why it is happening!!
@rt4914 @MohamedMedhat1998  @anandwana001

[2020-11-01 13:54] MohamedMedhat1998 commented on #1930
@chrk2205 reading `StatePlayerRecyclerViewAssembler` kdocs may give you more information, please check it.

[2020-11-01 14:02] chrk2205 commented on #1930
@MohamedMedhat1998 @rt4914
Where can I find the docs ??
Thankyou.

[2020-11-02 04:48] anandwana001 commented on #1930
unassigning @ranjsa as no updates are there.

[2020-11-02 10:16] MohamedMedhat1998 commented on #1930
@chrk2205 here you are: https://github.com/oppia/oppia-android/blob/ec2524cc45ed8b0a0116c8aa4b923cc937365ffa/app/src/main/java/org/oppia/android/app/player/state/StatePlayerRecyclerViewAssembler.kt#L97

[2020-11-02 17:24] chrk2205 commented on #2058
@anandwana001
where should we write this tests in `ProfileChooserFragmentTest` or in `AdminAuthActivityTest`
i see that the test are already present in  `ProfileChooserFragmentTest` but are ignored
`testProfileChooserFragment_clickAddProfile_checkOpensAdminAuthActivity_onBackButton_opensProfileChooserFragment`

[2020-11-02 22:35] anandwana001 commented on #2058
Once this pr https://github.com/oppia/oppia-android/pull/2045 get's merged, you can get a clear view to work on it. You had mentioned the correct test. But, we are breaking this test into parts and need to put in `AdminAuthActivityTest ` from where we need to check pressing back will satisfy both the conditions mentioned in the issue above.

[2020-11-03 21:26] rt4914 commented on #1896
@navneetsaluja Ben won't be available for sometime. In your PRs you can mention my username. Thanks.

[2020-11-04 03:42] navneetsaluja commented on #1896
@rt4914 Sorry, I saw his mail after mentioning him in the comment (it was the same day)

[2020-11-04 03:57] rt4914 commented on #1896
No issues. Thanks.

[2020-11-04 04:18] #2059 closed, assigned to anandwana001

[2020-11-04 04:18] #2061 closed, assigned to anandwana001

[2020-11-04 04:18] #2062 closed, assigned to anandwana001

[2020-11-04 05:06] anandwana001 opened #2076 "Fix AdministratorControlsFragmentTest for Robolectric"
**Describe the bug**
Tests are failing in Robolectric.

**Expected behavior**
All tests should pass.

[2020-11-04 06:25] anandwana001 opened #2078 "Fix ProfileChooserSpanTest for Robolectric"
**Describe the bug**
Failing test cases

**Expected behavior**
Tests should pass

[2020-11-04 07:18] prakharp commented on #1042
Hey, Can I work on this issue?

[2020-11-05 03:17] anandwana001 opened #2080 "Remove injected TestCoroutineDispatchers if not in use"
**Describe the bug**
There are some test files where we are injecting `TestCoroutineDispatchers` but not using it.

**Expected behavior**
Remove injected `TestCoroutineDispatchers` if not in use.

**How to Fix this Issue**
1. Check the injected `TestCoroutineDispatchers` is used in test cases or not. If it is not in use you will find only we place where it is defined as a) variable init, b) inside

[2020-11-05 03:49] anandwana001 opened #2081 "Remove unused code from StoryFragmentTest"
**Describe the bug**
There are functions like `waitForView()` which is not required anymore.

**Expected behavior**
Remove unused functions.

[2020-11-05 04:19] ShridharGoel commented on #2080
I'm working on this.

[2020-11-05 04:25] ShridharGoel commented on #2080
I would like to work on this.

[2020-11-05 04:30] anandwana001 commented on #2080
@ShridharGoel Thanks for showing interest in contributing.
Please check our onboarding instructions before contributing - https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2020-11-05 05:15] ShridharGoel commented on #2080
@anandwana001 Sure.

[2020-11-05 05:56] rt4914 opened #2085 "Need specific months for `Coming soon` topics. [Blocked]"
In current implementation, the ComingSoonTopicList shows a `Coming soon` tag but instead of this, **if possible**, we should show something more specific like: `Coming March 2021` .

[2020-11-05 06:26] #2076 closed, assigned to anandwana001

[2020-11-05 06:28] #1895 closed, assigned to Aditiwebd

[2020-11-05 06:29] rt4914 commented on #1042
Sure. Assigning this to you.

[2020-11-05 06:38] #2081 closed, assigned to anandwana001

[2020-11-05 06:56] #2078 closed, assigned to anandwana001

[2020-11-05 11:22] anandwana001 opened #2087 "Fix ExplorationActivityLocalTest"
**Describe the bug**
Test is failing

**Expected behavior**
Tests should pass. The possible reason for failure is not delaying the logging event.

[2020-11-06 03:21] prudhvir3ddy opened #2090 "use higher order functions for null check in NetworkInterceptor"
current code uses bang bang operator though with null check

<img width="701" alt="Screenshot 2020-11-06 at 8 50 39 AM" src="https://user-images.githubusercontent.com/20471162/98322318-273e7380-200d-11eb-9171-8ae566fe6b76.png">

we can use let higher order function to avoid this.

[2020-11-06 03:46] anandwana001 commented on #2090
@prudhvir3ddy Thanks for showing interest in contributing to Oppia.
As you had already filled the CLA, could you also please complete the other points in our onboarding instruction.
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

As per this issue, We recommend choosing either bug report or feature request when filing a new issue, there's a template to follow.

It will be alwa

[2020-11-06 07:02] rt4914 opened #2092 "Dialog disappears on orientation change"
**Describe the bug**
In `ProfileEdit` screen on orientation change if the dialog is already shown, it will disappear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ProfileChooser screen and create atleast 2 profiles.
2. In `ProfileChooser` screen click on `Administrator Controls`
3. Enter your pin and go to `AdministratorControlsActivity`
4. Click `Edit Profiles`
5. Select `non-admin

[2020-11-06 07:08] #2087 closed, assigned to anandwana001

[2020-11-06 07:27] #2080 closed, assigned to ShridharGoel

[2020-11-06 07:43] rt4914 opened #2093 "[Mobile-Landscape] High-fi StoryActivity Updated UI"
The `StoryActivity`  UI has been updated a lot which is available here. https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/cce938d6-e079-4761-bac0-8bde22ac6348/

Major changes:
- [ ] The inactive card content formation is updated.
- [ ] RTL Supportive

**Note : Please test UI for RTL support, prior to merging this fix.**

**Follow this guide**: https://github.com/oppia/oppi

[2020-11-06 08:27] anandwana001 commented on #1965
@rt4914 @aggarwalpulkit596 This issue is Duplicate for https://github.com/oppia/oppia-android/issues/1611

[2020-11-06 08:32] anandwana001 commented on #1869
@Sarthak2601 @rt4914 we are good to close this issue.

<img width="1440" alt="Screenshot 2020-11-06 at 14 01 23" src="https://user-images.githubusercontent.com/25057618/98343948-94b3c980-2038-11eb-90f1-d6685a7186fc.png">

[2020-11-06 13:17] prudhvir3ddy commented on #2092
i want to pick it up @rt4914

[2020-11-06 13:18] rt4914 commented on #2092
Assigned. Thanks @prudhvir3ddy

[2020-11-06 14:00] prudhvir3ddy opened #2094 "Edittext focus issue in Add Profile Screen"
**Describe the bug**
there are two edittexts in add profile screen. entering text in one edittext the keyboard ime shows go to next edittext but on clicking that the keyboard control doesn't go to the next edittext

**To Reproduce**
Steps to reproduce the behavior:
1. open the app and complete the intro
2. now in select your profile screen click setup multiple profiles
3. now you can observe the i

[2020-11-06 23:52] #1869 closed, assigned to nobody

[2020-11-07 01:09] anandwana001 commented on #2094
Possible duplicate - https://github.com/oppia/oppia-android/issues/962

[2020-11-07 04:24] prudhvir3ddy commented on #2094
closing this issue

[2020-11-07 04:24] #2094 closed, assigned to nobody

[2020-11-07 19:15] Aditiwebd commented on #2093
Please assign this to me @Sarthak2601

[2020-11-08 07:18] Russ741 commented on #1903
Hey, may I give fixing this issue a shot?

[2020-11-08 07:25] #2090 closed, assigned to prudhvir3ddy

[2020-11-08 08:55] rt4914 commented on #1965
@anandwana001 I not fully sure here.

[2020-11-08 08:58] rt4914 commented on #1903
@Russ741 Sure. Thanks.

[2020-11-09 06:51] Russ741 commented on #1903
@rt4914 I have a couple of questions, if you don't mind:

- My understanding is that we want to enforce that firebase_analytics_collection_deactivated is true and firebase_crashlytics_collection_enabled is false on the develop branch - is this correct?
- Do we still intend to have Firebase analytics enabled for releases? If so, how? (It looks like firebase_analytics_collection_deactivated can't be

[2020-11-09 08:18] anandwana001 commented on #1965
@rt4914 All the test case are marked with #1611 issue only

[2020-11-09 08:31] anandwana001 opened #2097 "Introduce pre push hook for buf"
**Is your feature request related to a problem? Please describe.**
Currently, we have a buf linter in our GitHub action check, but this might not prevent contributors to push nit errors.

**Describe the solution you'd like**
Introducing pre-push will prevent nit errors and contributors can fix before pushing.

Pre-push hook is introducing in #2002 pr.

[2020-11-09 09:12] MohamedMedhat1998 opened #2098 "Fix package names in the kdocs for RuleQualifiers class"
We have refactored our package name to `org.oppia.android` but some of the package names in the kotlin docs were didn't change while refactoring.
An example for that is `RuleQualifiers.kt` class found under: `org.oppia.android.domain.classify.rules`

**ToDo**: rename all the kdocs packages from `org.oppia.domain.classify.RuleClassifier` to `org.oppia.android.domain.classify.RuleClassifier`

[2020-11-10 16:03] KMaragh commented on #2098
I'll take this!

[2020-11-10 20:26] #2040 closed, assigned to Arjupta

[2020-11-10 21:02] rt4914 commented on #1965
Duplicate. #1611

[2020-11-10 21:02] #1965 closed, assigned to nobody

[2020-11-10 21:04] rt4914 commented on #1903
I think @vinitamurthi and @Sarthak2601 Would be able to answer this more correctly.

[2020-11-10 22:15] Sarthak2601 commented on #1903
Yes, correct.

Yes, we would enable it for releases. We'd probably reverse these values for other build variants using `productFlavors` (or manually, depends on what the team decides). However, enabling it for releases is outside the scope of this issue.

Enabling data collection would mean collection of sensitive information of our contributors and the open source nature of the project makes it c

[2020-11-11 03:32] anandwana001 commented on #970
@vinitamurthi Should this issue be blocked on this issue as per the comment - https://github.com/oppia/oppia-android/issues/1742#issue-688440933 ?

[2020-11-11 05:47] FareesHussain commented on #2098
Sorry I didn't see it was assigned when I created this PR

[2020-11-11 06:14] anandwana001 commented on #2098
@FareesHussain as @KMaragh is already assigned to this issue, you need to close your PR.

Also, I suggest joining our Gitter channel for all the communication - https://gitter.im/oppia/oppia-android

[2020-11-11 09:38] vinitamurthi commented on #1903
I think @Sarthak2601 has answered most of the questions so I will talk about the last one:

Yes we want a check that can run in Circle CI. Basically we do want to just do a manifest check, but its not enough to just look up the current AndroidManifest.xml since multiple manifests can exist and the final app manifest may be different from what is specified in AndroidManifest.xml. So there are two w

[2020-11-11 11:56] vinitamurthi commented on #970
If you mean #1742 be blocked on this issue then yes I think it should be

[2020-11-12 03:29] #1957 closed, assigned to peculiaruc

[2020-11-13 07:25] janewaitara commented on #1587
## SAVED INSTANCE KEYS - Fixed in #2064
 - [x] HintsAndSolutionDialogFragment
 - [x] AppLanguageFragment
 - [x] AudioLanguageFragment
 - [x] OptionsActivity
 - [x] TopicLessonsFragment
 - [x] AdministratorControlsActivity

## INTENT KEYS
### Options and Player Packages - Fixed in #2066
 - [x] OptionsFragment
 - [x] StateFragmentTestActivity
 - [x] OptionsActivity
 - [x] AppLanguageActivity

### Pr

[2020-11-13 11:16] anandwana001 opened #2107 "Introduce pre push hook for Bazel"
**Is your feature request related to a problem? Please describe.**
As we are migrating towards the bazel, we have a bunch of bazel files coming on our way, we are adding a linter to github action at pr https://github.com/oppia/oppia-android/pull/2048 so we also require to prevent any error before pushing.

**Describe the solution you'd like**
Introducing pre-push will prevent nit errors and contri

[2020-11-14 21:34] FareesHussain commented on #1968
Please assign this to me
and what tests are left to be fixed

[2020-11-14 23:21] anandwana001 commented on #1968
@FareesHussain all the tests which are marked ignore are left. This is one of the complex issue we have. In order to solve this issue please check this wiki section and all the tests should pass on both, espresso and robolectric.

https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#tips-to-run-test-cases-in-both-espresso-and-robolectric

[2020-11-14 23:23] FareesHussain commented on #1968
ok then I'll check if I can do that

[2020-11-16 03:57] anandwana001 commented on #2031
Adding link for reference - https://chromium.googlesource.com/external/robolectric/+/0e0c6cbcda5605ac3f072cc6ce014347db763b75/robolectric/src/test/java/org/robolectric/shadows/TextViewTest.java

[2020-11-16 04:01] anandwana001 commented on #1028
@vinitamurthi can we update this issue?
I guess we had shifted all the app module test cases to Non-Flaky!!
`sudo ./gradlew --full-stacktrace :app:testDebugUnitTest`

[2020-11-16 05:46] vinitamurthi commented on #1028
Yes thanks for pointing it out! Closing this

[2020-11-16 05:46] #1028 closed, assigned to vinitamurthi, veena14cs

[2020-11-16 06:47] rt4914 opened #2116 "Fix UI for profile chooser screen in add-view"
`profile_chooser_add_view.xml` needs to be updated so that the UI looks similar to mocks.

## Mocks
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/grid/
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid
https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/33741ea7-89da-4e5d-b2a4-9872f6db48b4/
https://xd.adobe.com/view/d405de00-a871-

[2020-11-16 09:27] #2098 closed, assigned to KMaragh

[2020-11-16 14:57] rt4914 opened #2117 "[Tablet] Highfi AddProfile"
Currently `AddProfile` screen does not have dedicated tablet layout design in develop.
Implement the `AddProfile` for landscape and portrait mode for tablet devices.
Mock Link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/271b428d-7d98-40b4-b74e-f2a5266b0587/

Reference: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-11-16 14:59] rt4914 opened #2118 "[Tablet] Highfi AdminPinActivity"
Currently `AdminPinActivity` screen does not have dedicated tablet layout design in develop.
Implement the `AdminPinActivity` for landscape and portrait mode for tablet devices.
Mock Link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/6876c089-6ee6-48d4-85bb-880be3b5ac35/

Reference: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-11-16 15:00] rt4914 opened #2119 "[Tablet] Highfi AdminAuthActivity"
Currently `AdminAuthActivity` screen does not have dedicated tablet layout design in develop.
Implement the `AdminAuthActivity` for landscape and portrait mode for tablet devices.
Mock Link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/f2b8acef-b71a-40c3-a4f4-e426e6be563f/

Reference: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-11-16 15:01] rt4914 opened #2120 "[Tablet] Highfi PinPasswordActivity"
Currently `PinPasswordActivity` screen does not have dedicated tablet layout design in develop.
Implement the `PinPasswordActivity` for landscape and portrait mode for tablet devices.
Mock Link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/f59ad764-df4d-4a1b-8ff2-0cf8f7a47bf8/

Reference: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-11-16 16:31] KMaragh commented on #2054
I can take a look at this!

[2020-11-16 18:36] BenHenning commented on #2031
#2057 is tracking the same thing.

[2020-11-16 20:58] FareesHussain commented on #2117
Please assign this to me

[2020-11-17 02:10] #1538 closed, assigned to prayutsu

[2020-11-17 07:58] rt4914 commented on #288
This issue might have been solved, not sure. To check this we should activate the animations and run all tests to check if they pass or not.

[2020-11-17 08:07] anandwana001 commented on #599
@rt4914 Looks like `OnBoardingFlowControllerTest` file doesn't exist anymore.

[2020-11-17 08:18] rt4914 commented on #599
This file was renamed in https://github.com/oppia/oppia-android/pull/1397/files .
Also, this is no more an issue the last reference that we have for this is #1397 which must have fixed this automatically. Therefore closing this issue.

[2020-11-17 08:18] #599 closed, assigned to nobody

[2020-11-17 08:31] anandwana001 commented on #637
@rt4914 This could be a good tracker issue,

 - [ ] Buf - https://github.com/oppia/oppia-android/issues/2097 (issue)
 - [ ] Bazel - https://github.com/oppia/oppia-android/issues/2107 (issue)
 - [ ] XML
 - [ ] Kotlin - https://github.com/oppia/oppia-android/pull/2002 (pull request)
 - [ ] Java

[2020-11-17 08:41] ShridharGoel commented on #2116
I would like to work on this.

[2020-11-17 22:58] FareesHussain commented on #2117
Please review this @rt4914

[2020-11-18 03:11] BenHenning commented on #2107
We should also add a script to perform the linting check (including reliably finding all files to run through buildifier).

[2020-11-18 05:42] anandwana001 commented on #970
@vinitamurthi I am thinking opposite here, if we add Android Lint then we can directly use the lint for lining XML files so, in that way, this issue is blocked till the #1742 gets solved
correct me if I misunderstood something here!!

[2020-11-18 07:21] aggarwalpulkit596 commented on #1077
@BenHenning Should I close this? Since there is no bug in the current implementation.

[2020-11-18 13:41] FareesHussain commented on #2118
Please assign this to me

[2020-11-18 15:58] #1896 closed, assigned to navneetsaluja

[2020-11-19 06:00] alokbharti commented on #1491
Hi @rt4914 @anandwana001 , I would like to work on Concept Card screen in this issue.

[2020-11-19 16:13] rt4914 opened #2126 "[Tablet] Highfi Revision Card"
Currently `RevisionCard` screen does not have dedicated tablet layout design in develop.
Implement the `RevisionCard` for landscape and portrait mode for tablet devices.
Mock Link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/a2d04ed0-de4e-40fe-8a83-824663b30d3f/

Reference: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-11-19 16:16] prayutsu commented on #2119
@rt4914 please confirm if this issue has to be assigned to me or arjun

[2020-11-19 18:21] BenHenning commented on #1861
https://github.com/bazelbuild/bazel/issues/8521 & https://groups.google.com/g/bazel-discuss/c/I9udqWIcEdI/m/iczVgWLOBQAJ describe approaches for doing "dirty target" detection, but it's a bit tricky to do. #1904 is showing that remote caching is not sufficient:
1) Sometimes remote caches inexplicably aren't resulting in many cache hits
2) Remote caching must be made inaccessible to forks

[2020-11-19 18:40] BenHenning opened #2127 "Define wipeout/takeout for the app"
This needs to include proper support for profile wipeout/takeout in the backend. See https://github.com/oppia/oppia/issues/10358 for more context on what needs to be changed.

[2020-11-19 18:58] MohamedMedhat1998 commented on #2120
@prayutsu You can work on this.

[2020-11-20 01:47] BenHenning commented on #1861
Also, per #1904 we're attempting to use remote caching as a simpler way to share dependencies across builds. However, it seems to cache ~20% of the total actions, so there's still a *lot* of local computation happening (and it seems rather slow, especially for resource processing & data-binding). I think there are fundamental slow parts of the Android build pipeline that we're paying multiplicativ

[2020-11-20 02:30] FareesHussain commented on #2126
Please assign this to me

I need to make changes in revision_card_fragment.xml right?

[2020-11-20 04:22] rt4914 commented on #2126
@FareesHussain Let's first focus on finishing the other two PR's that you started first. That helps keep things organised and more focused. Once one of them is merged we can come back to this issue and assign you back.

[2020-11-20 04:24] rt4914 commented on #1491
@alokbharti Assigned in description.

[2020-11-20 04:53] FareesHussain commented on #2118
@rt4914 please review

[2020-11-20 07:15] rt4914 commented on #2118
@FareesHussain Please mention the reviewing part on PR and not on issues. Thanks.

[2020-11-20 15:33] MaskedCarrot commented on #2126
I am working on this

[2020-11-20 20:56] mschanteltc opened #2131 "Progress Bar is present when keyboard is active"
Only display the Progress Bar when the keyboard is inactive. By removing the progress bar while keyboard is active, the learner can view more content and the "Submit" button is not cropped.

**How to reproduce?**
1. Open the app.
2. Click on `Fractions` topic.
3. Click on `Practice` tab.
4. Select a couple of skills.
5. Click Start.

Note: The questions in `Practice Mode` are randomised and theref

[2020-11-20 20:57] mschanteltc opened #2132 "Chapter List Page Issues"
- There is no outline of inactive Chapter cards. Make sure there is still a shadow to each card. Do not decrease its opacity.
- The description gets cut off after the fourth line. Since the Chapter description is not available elsewhere, make sure the full description is visible.
- Update the inactive Chapter cards to blur thumbnails and hide descriptions ([mock](https://xd.adobe.com/view/e8aa4198

[2020-11-20 20:58] mschanteltc opened #2133 "Input Keyboard Issues"
- [ ] When the input is selected, scrolling up when the input bar is no longer visible deselects it. Tapping on the keyboard does not enter numbers anywhere but selected numbers on the keypad become bolder. (Image below)[[Video](https://drive.google.com/file/d/1f_1geqB8qaa95xwuKwSU8ya6aMQHiM8v/view?usp=sharing)]

- [x] When input is entered, and the screen is rotated, the entered input is deleted.

[2020-11-20 20:58] mschanteltc opened #2134 "Concept Card Name Broken"
A Concept Card link in Lesson Player was presented incorrectly. This occurred in the topic **Place Value**, story **Jaime's Adventures in the Arcade**, in **Chapter 3: Comparing Numbers**. On other occasions where I triggered a Concept Card, this did not occur. It might be because the Concept Card is empty. [[Video](https://drive.google.com/file/d/1fFQUzUh9dTlPwUOlREag-OGh5JmWTrvq/view?usp=sharing

[2020-11-20 20:59] mschanteltc opened #2135 "Change Label from "Train Mode" to "Practice Mode""
In the navbar, change "Train Mode" to "Practice Mode" ([mock](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8fbb663a-39aa-4be1-83bd-73bde6f85dcc/))

![Screenshot_20201120-011331_Oppia](https://user-images.githubusercontent.com/22177674/99842208-44526680-2b24-11eb-8a31-219bbd2de683.jpg)

[2020-11-20 20:59] mschanteltc opened #2136 "Lesson Name unexpectedly starts to marquee"
When the input is selected and/or entered, the Lesson Name begins to marquee unexpectedly. [[Video 1](https://drive.google.com/file/d/1f4Y3wdh_di_ge7CRKT5FFrGjgjTBxEpu/view?usp=sharing)] [[Video 2](https://drive.google.com/file/d/1fJpNsc-FkERWwSSIAcISir7HtDK6ocqK/view?usp=sharing)]

[2020-11-20 21:00] mschanteltc opened #2137 "Issues with Editing "Reading Text Size""
- Font size selections from "Reading Text Size" do not accurately reflect the changes the would be made to the text size.
- If font size is changed in the Lesson Player through Options, the change is not reflected until the learner leaves the Lesson and comes back. Please change it so that when the learner does select a different text size, it is immediately reflected in the Lesson Player. [[Video

[2020-11-20 21:00] mschanteltc opened #2138 "Practice Tab - Top Align Subtopic Name and Checkmark"
Currently subtopic names are vertically aligned with the checkbox. However checkboxes need to be top aligned with the Subtopic name.

![Screenshot_20201119-213417_Oppia](https://user-images.githubusercontent.com/22177674/99846764-d3af4800-2b2b-11eb-87e4-24e74259acc9.jpg)

[2020-11-20 21:01] mschanteltc opened #2139 "Download Banner Not Available"
Despite the Topic being downloaded, there is no "Downloaded" Banner on the respective Topic card. Make sure to include the banner on the card if the Topic is downloaded.

![Screenshot_20201119-213452_Oppia](https://user-images.githubusercontent.com/22177674/99846898-06594080-2b2c-11eb-92e4-3c74decaff0d.jpg)
![Screenshot_20201119-213457_Oppia](https://user-images.githubusercontent.com/22177674/9984

[2020-11-20 21:01] mschanteltc opened #2140 "User's Name is Cutoff in Home Page"
Start name on a new line if the name is too long. If the user's name is too long and does not have a space that allows it to break it into a new line, ellipsize the name.

![Screenshot_20201119-213611_Oppia](https://user-images.githubusercontent.com/22177674/99846959-238e0f00-2b2c-11eb-9500-f5e03bba22ae.jpg)

[2020-11-20 21:02] mschanteltc opened #2141 "FAQs Page needs Proper Spacing"
Numbered and bulleted lists need to be indented. Bullet points need to have adequate space on its right side.

![Screenshot_20201119-214032_Oppia](https://user-images.githubusercontent.com/22177674/99846969-2983f000-2b2c-11eb-8bf1-cda98d44640f.jpg)

[2020-11-20 21:02] mschanteltc opened #2142 ""Continue" Button increased its top/bottom padding"
There are several instances where the top/bottom padding of the continue button increases. After tapping "Continue" on one page, the "Continue" button on the following page appears taller. [[Video](https://drive.google.com/file/d/1g4kJB4UuD4D-ZpgA64EAqUMrmdmg1hbQ/view?usp=sharing)]
The video is recorded in topic **Place Values**, story **Jaime's Adventures in the Arcade**, **Chapter 1: What are th

[2020-11-21 00:48] BenHenning opened #2143 "Move InteractionObjectTestBuilder to a main-level testing library"
InteractionObjectTestBuilder is a non-test file under the test directory. Test utilities should be in a testing directory under main, not test, or be in the dedicated testing module.

This issue can be resolved by moving this file to package `org.oppia.android.app.player.state.testing`.
 - All usages must have the imports updated(automatically done by Android Studio).
 - Ktlint formatting check `j

[2020-11-21 07:45] rt4914 opened #2145 "[RTL] Highfi Topics In Progress / OngoingTopicList"
`TopicsInProgress` or `OngoingTopicList` needs RTL support as shown in below screen.
![UP (Topics in Progress)](https://user-images.githubusercontent.com/9396084/99870699-3f141b00-2bfb-11eb-9a13-38a1317ab227.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-

[2020-11-21 07:47] rt4914 opened #2146 "[RTL] Highfi CompletedStoryList"
`CompletedStoryList` needs RTL support as shown in below screen.
![UP (Stories Completed)](https://user-images.githubusercontent.com/9396084/99870791-c5c8f800-2bfb-11eb-87e8-aabf461d4ab4.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/gri

[2020-11-21 07:48] rt4914 opened #2147 "[RTL] High fi TopicPractice tab."
`Topic-Practice` needs RTL support as shown in below screen.
![TP (Practice, Unchecked)](https://user-images.githubusercontent.com/9396084/99870806-e6914d80-2bfb-11eb-89ec-e8291826f554.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/

[2020-11-21 07:49] rt4914 opened #2148 "[RTL] High fi Topic-Info tab"
`Topic-Info` needs RTL support as shown in below screen.
![TP (Overview)](https://user-images.githubusercontent.com/9396084/99870832-0d4f8400-2bfc-11eb-95e0-9645dfc2b7ef.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile Landsca

[2020-11-21 07:50] rt4914 opened #2149 "[RTL] Highfi Topic tabs & toolbar"
`Topic-Tabs and Toolbar` needs RTL support as shown in below screen.
![TP (Practice, Unchecked)](https://user-images.githubusercontent.com/9396084/99870806-e6914d80-2bfb-11eb-89ec-e8291826f554.png)

NOTE: Just focus on tabs and toolbar and not the content below.

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait:

[2020-11-21 07:51] rt4914 opened #2150 "[RTL] Highfi Revision Card"
`Revision Card` needs RTL support as shown in below screen.
![RM (Revision Mode)](https://user-images.githubusercontent.com/9396084/99870884-61f2ff00-2bfc-11eb-8ff3-fddb77b6ff28.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile

[2020-11-21 11:04] #2120 closed, assigned to prayutsu

[2020-11-21 11:40] prayutsu commented on #2126
@MohamedMedhat1998 Can I take this up?

[2020-11-21 11:50] prayutsu commented on #2136
@mschanteltc I think this issue is a duplicate of [#1770](https://github.com/oppia/oppia-android/issues/1770)

[2020-11-21 11:52] FareesHussain commented on #2135
Please assign this to me.

[2020-11-21 15:25] 7phalange7 commented on #2138
May I work on this issue?

[2020-11-21 17:30] chrk2205 commented on #2141
it looks good fine in my mobile!!
can you specify the mobile version your using!!
@mschanteltc

![WhatsApp Image 2020-11-21 at 22 55 26](https://user-images.githubusercontent.com/44704035/99883315-baea8380-2c4c-11eb-83c1-7f984f92a4d4.jpeg)

[2020-11-21 17:44] chrk2205 commented on #2137
duplicate of #1540

[2020-11-21 17:56] MohamedMedhat1998 commented on #2126
@rt4914 Is it ok?

[2020-11-21 18:10] chrk2205 commented on #2138
@mschanteltc
I don't see a reason to have vertical alignment for check boxes. With the present code its working as it should be.
Incase if you find that UI is not accurate then we can change it else the present code is a better as its optimized.
@rt4914

[2020-11-22 17:23] ShridharGoel commented on #2116
Hi, this is how the screen looks currently:

<img width="767" alt="Select Profile 1" src="https://user-images.githubusercontent.com/35566748/99910680-5c3d0c80-2d15-11eb-8723-7a2a4cece385.png">

<img width="764" alt="Select Profile 2" src="https://user-images.githubusercontent.com/35566748/99910692-6bbc5580-2d15-11eb-9843-4fc58ab5856f.png">

May I know what needs to be changed, since it seems to be

[2020-11-22 17:25] ShridharGoel commented on #2116
This is how the screens look currently:

<img width="767" alt="Select Profile 1" src="https://user-images.githubusercontent.com/35566748/99910725-a2926b80-2d15-11eb-9f8b-3fa0412b7c32.png">

<img width="764" alt="Select Profile 2" src="https://user-images.githubusercontent.com/35566748/99910727-a6be8900-2d15-11eb-8981-f4359289380e.png">

Since it looks in accordance with the designs, may I know wha

[2020-11-23 03:55] FareesHussain commented on #2118
@rt4914 I'm closing #2125 as it is the duplicate of #2129 which I created cause some checks were not passing

[2020-11-23 06:38] rt4914 opened #2155 "Change dp to sp in TestFontScaleConfigurationUtilActivityTest"
In `TestFontScaleConfigurationUtilActivityTest` we should check the fontsize in sp instead of dp.

Reference: https://github.com/oppia/oppia-android/blob/b29fcbcdfaf1a4839ebcc7d0fc54cf7010368f92/app/src/sharedTest/java/org/oppia/android/app/testing/TestFontScaleConfigurationUtilActivityTest.kt#L98

[2020-11-23 06:38] rt4914 commented on #2155
@BenHenning WDYT?

[2020-11-23 07:24] Russ741 commented on #1903
@vinitamurthi

I'm unfamiliar with Circle CI, so I did some reading about how it integrates with Github, and that suggests that it uses .circleci/config.yml.
I see said file in oppia/oppia, but not oppia/oppia-android (it appears to have been removed in https://github.com/oppia/oppia-android/pull/1449).

Do we use Circle CI for the Android client in some way that I'm missing?

[2020-11-23 13:03] #2119 closed, assigned to Arjupta

[2020-11-23 13:11] rt4914 commented on #2116
@ShridharGoel If you run it on latest develop and Nexus & tablet. You will see following UI. Where the `Add Profile` is not aligned.
![Screenshot_1606137020](https://user-images.githubusercontent.com/9396084/99965819-6b769580-2dbb-11eb-882d-0d55a1af9c3e.png)

[2020-11-23 13:19] #2118 closed, assigned to FareesHussain

[2020-11-23 14:02] FareesHussain commented on #2126
Can I work on this now?

[2020-11-23 14:40] rt4914 commented on #2126
Assigned now.

[2020-11-23 14:59] #2117 closed, assigned to FareesHussain

[2020-11-23 15:02] rt4914 commented on #2138
Hello @7phalange7 Welcome to Oppia. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-11-23 15:03] rt4914 commented on #2138
@chrk2205 The argument that @mschanteltc is making is correct. The checkbox should be top-aligned. Consider a case where the subtopic names goes to `3-4 lines` then the checkbox will be in centre-vertically which looks odd. It should be top-left aligned.

[2020-11-23 15:05] rt4914 commented on #2137
@chrk2205 Thanks for pointing this. I am closing this issue as we are already tracking this. @mschanteltc Thanks.

[2020-11-23 15:05] #2137 closed, assigned to nobody

[2020-11-23 15:06] rt4914 commented on #2141
@mschanteltc and @chrk2205 Can you please mention the device and Android version that you have tested this on.

[2020-11-23 15:08] rt4914 commented on #2136
Thanks @prayutsu and @mschanteltc

Closing this because of duplicate issue #1770

[2020-11-23 15:08] #2136 closed, assigned to nobody

[2020-11-23 15:09] chrk2205 commented on #2141
OnePlus 6 @rt4914

[2020-11-23 15:10] rt4914 commented on #2139
@mschanteltc This `Topic Downloaded` is currently hard-coded and is not dynamic. The download support is not yet implemented.
@BenHenning Should we close this PR ?

[2020-11-23 16:04] FareesHussain commented on #2126
@rt4914 I have to follow the same as #2124 right?

minWidth=360dp

[2020-11-23 16:23] rt4914 commented on #2126
@FareesHussain No actually. It should be followed as per the mocks.

[2020-11-23 17:04] #1899 closed, assigned to peculiaruc

[2020-11-23 17:05] #2135 closed, assigned to FareesHussain

[2020-11-23 17:38] ShridharGoel commented on #2116
@rt4914 Yes, the issue is reproducible on the latest commits. Thanks.

[2020-11-23 17:42] ShridharGoel commented on #2116
@rt4914 Yes, the issue is replicable on the latest commits. Thanks.

[2020-11-23 18:06] MaskedCarrot commented on #2148
i am working on this

[2020-11-23 18:40] rt4914 commented on #2148
Thanks.

[2020-11-23 21:11] coder2699 commented on #2140
Can I work on this issue ?

[2020-11-24 03:30] BenHenning commented on #1861
So digging into the build reproducibility issue a bit more, it seems like the following two artifacts are causing issues:
- class-info.zip
- layout-info.zip

Both of these are generated for databinding purposes. It seems like they both are either empty or contain some basic JSON or processed XML files. I'm not totally sure if those files are reproducible, but they use structured data and don't see

[2020-11-24 06:58] rt4914 commented on #2140
@coder2699 Thanks for showing interest in Oppia. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-11-24 07:14] alokbharti commented on #1870
Test cases in ProfileEditActivityTest class are fixed. @Sarthak2601 please mark it complete and I think this issue can be closed now.

[2020-11-24 07:29] coder2699 commented on #2140
@rt4914 Thanks for your response. I have already signed the CLA and filled the form. I have also set up the project on my device.

[2020-11-24 08:00] rt4914 commented on #2140
@coder2699 Assigned. Thanks.

[2020-11-24 12:45] FareesHussain commented on #2143
Please assign this to me

[2020-11-24 16:51] rt4914 commented on #2138
@7phalange7 Assigned. Thanks.

[2020-11-24 19:02] ForgottenProgramme commented on #2145
Hey, @rt4914!
I want to work on this. But, would you please give me some pointers on how to go about it?

[2020-11-24 19:12] ForgottenProgramme commented on #2142
Hey, @mschanteltc !
I saw that video you attached. I think the size of the 'continue' button is changing according to the length of the card above it.

[2020-11-24 19:21] rt4914 commented on #2145
I suggest having a look at following documents as they are really helpful:
https://android.jlelse.eu/rtl-support-on-android-here-is-all-you-need-know-e13f2df512e2
https://developer.android.com/training/basics/supporting-devices/languages?hl=ru#MirroringUpdateResources

[2020-11-24 19:35] BenHenning commented on #1861
Aha, digging into layout-info.zip a bit more, I'm finding out that the main difference is the generated layout info XML files include absolute references to the original (copied) layout file. This, unfortunately, includes a PID or other identifier that changes for each build within the path itself, ruining reproducibility.

[2020-11-24 19:49] BenHenning commented on #1861
The class-info.zip differences seem to be tied to just being a zip file that changes (the contents are otherwise the same, as is the file size).

[2020-11-24 19:59] BenHenning commented on #1861
I'm reaching out to the databinding team to better understand what our options are here before I delve into the Bazel side to figure out how to improve build reproducibility (and thus, caching).

[2020-11-25 02:36] FareesHussain commented on #2146
I would like to work on this.

Is there any previous RTL implementation for reference in other layouts
also how to change to RTL (is it using force RTL in developer options)

[2020-11-25 04:39] rt4914 commented on #2146
@FareesHussain Actually there is no previous reference.
For testing you will have to force it from `developer options`.

[2020-11-25 04:40] rt4914 commented on #2022
Closing this as it was done in #2016

[2020-11-25 04:40] #2022 closed, assigned to nobody

[2020-11-25 04:41] rt4914 commented on #2093
Un-assigning Aditi as there is no update.

[2020-11-25 04:53] #2126 closed, assigned to FareesHussain

[2020-11-25 14:12] FareesHussain commented on #2146
@rt4914 why completed_story_item.xml does'nt show preview

![image](https://user-images.githubusercontent.com/54740946/100238567-5e41de00-2f56-11eb-9ebd-366a8dc315c9.png)

[2020-11-25 18:30] anandwana001 opened #2171 "Introduces a pattern to handle Robolectric shadows [TestMediaPlayer]"
**Is your feature request related to a problem? Please describe.**
We are using shadows in a few places. Reference - https://github.com/oppia/oppia-android/pull/2170

**Describe the solution you'd like**
 - Introducing an API
 - Test Suite for the API

[2020-11-25 18:49] ReCodee commented on #2093
@rt4914 Hello, I'm new to oppia and I'd love to work on this issue. Please assign this to me :)

[2020-11-25 21:53] ForgottenProgramme commented on #2145
Hey, @rt4914 .
Thankyou very much for sharing those links. Rishabh Harit's article on RTL support was very informative and helpful.

I went through several articles and stackoverflow queries and found that to add RTL support for any layout, I should add, android:textAlignment="viewStart"  in the textviews and also change the gravity from "top" to "start".
I didn't quite believe it could be this si

[2020-11-26 00:37] FareesHussain commented on #2149
Please assign this to me

[2020-11-26 00:50] FareesHussain commented on #2149
I've tried this in RTL and found that the only change required was in the revision tab icon
the only thing weird here is swiping in viewpager so, here viewpager directions needs to be fixed in this issue I guess
![image](https://user-images.githubusercontent.com/54740946/100295375-74c85380-2faf-11eb-9e89-236f58e9e399.png)

[2020-11-26 02:08] FareesHussain commented on #2149
This can be automatically solved by migrating to [viewpager2](https://developer.android.com/jetpack/androidx/releases/viewpager2#1.0.0-alpha01) as it has RTL support
![image](https://user-images.githubusercontent.com/54740946/100299651-31271700-2fba-11eb-8513-6fea342dd328.png)

[2020-11-26 02:25] FareesHussain commented on #2147
Please assign this to me

[2020-11-26 06:27] rt4914 commented on #2149
The PR for this is already in progress. #2104

[2020-11-26 06:34] FareesHussain commented on #2149
@rt4914 Yes I noticed that
So this issue needs to be closed right as there are no further changes needed

[2020-11-26 09:29] ForgottenProgramme commented on #2155
@rt4914 , this sounds easy enough.
Can I please do it?

[2020-11-26 11:20] rt4914 opened #2174 "[RTL] Highfi Concept Card"
`Concept Card` needs RTL support as shown in below screen.
![Concept Card RTL](https://user-images.githubusercontent.com/9396084/100344799-66a62180-3007-11eb-8490-ce9b7ce6bc23.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile L

[2020-11-26 11:21] rt4914 opened #2175 "[RTL] High-fi Onboarding Flow Footer"
`Onboarding Flow Footer` needs RTL support as shown in below screen.
![Footer](https://user-images.githubusercontent.com/9396084/100344927-92c1a280-3007-11eb-9ff7-007f56f64226.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile L

[2020-11-26 11:23] rt4914 opened #2176 "[RTL] High-fi Profile List"
`Profile List` needs RTL support as shown in below screen.
![Profile List RTL](https://user-images.githubusercontent.com/9396084/100345108-d9170180-3007-11eb-8fc3-3fe48dd044e3.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile L

[2020-11-26 11:24] rt4914 opened #2177 "[RTL] High-fi Help Screen"
`Help` needs RTL support as shown in below screen.
![Profile List RTL](https://user-images.githubusercontent.com/9396084/100345108-d9170180-3007-11eb-8fc3-3fe48dd044e3.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile Landscape

[2020-11-26 11:26] rt4914 commented on #2155
@ForgottenProgramme Assigned. Thanks.

[2020-11-26 11:29] rt4914 opened #2178 "[RTL] High-fi Options"
`Options` needs RTL support as shown in below screen.
![Options RTL](https://user-images.githubusercontent.com/9396084/100345694-b0433c00-3008-11eb-9da1-f585c60229b4.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile Landscape:

[2020-11-26 11:30] rt4914 opened #2179 "[RTL] High-fi FAQList"
`FAQ List` needs RTL support as shown in below screen.
![FAQ List RTL](https://user-images.githubusercontent.com/9396084/100345778-cfda6480-3008-11eb-9aeb-c197ff5b4930.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile Landscape

[2020-11-26 11:31] rt4914 opened #2180 "[RTL] High-fi FAQ Single"
`FAQ Single` needs RTL support as shown in below screen.
![FAQ Single RTL](https://user-images.githubusercontent.com/9396084/100345836-ed0f3300-3008-11eb-8a4b-4389ed28d92d.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
Mobile Lands

[2020-11-26 11:39] #2138 closed, assigned to 7phalange7

[2020-11-26 11:40] ForgottenProgramme commented on #2155
@rt4914 , Should I change dp to sp in all the places in this file? Or only in line 98?

[2020-11-26 11:44] #2146 closed, assigned to FareesHussain

[2020-11-26 11:51] rt4914 commented on #2155
Wherever we are taking about the font size.

[2020-11-26 11:53] ForgottenProgramme commented on #2155
Yes. Right. Okay.

[2020-11-26 11:54] #1872 closed, assigned to anandwana001

[2020-11-26 12:19] #2145 closed, assigned to ForgottenProgramme

[2020-11-26 13:39] FareesHussain commented on #2175
Please assign this to me

[2020-11-26 13:55] anandwana001 commented on #2057
In `QuestionPlayerActivityTest` all test cases are passing on robolectric without the need for `@RunOn(TestPlatform.ESPRESSO)`.
@prayutsu Is there any update on this? How we solved the previous issue we are getting while we are trying to solve the tick problem?

Also, I didn't see `OppiaTestRule` in the `QuestionPlayerActivityTest` which I think needed to enable the `RunOn`!! Am I mistaken somethi

[2020-11-26 15:33] ForgottenProgramme commented on #2155
@rt4914

![dptosp](https://user-images.githubusercontent.com/65779580/100369295-bea24f80-302a-11eb-83d2-36346997e044.png)

Should I create a dimen value resource?

[2020-11-26 17:03] ForgottenProgramme commented on #2176
@rt4914 , Where do I find this 'Profiles' section?

[2020-11-26 17:09] rt4914 commented on #2176
1. Start with `Profile Chooser Screen`
2. Click on `Administrator Controls` option
3. Click on `Edit Profiles`
You will see the list of profiles.

[2020-11-26 17:17] rt4914 commented on #2155
@ForgottenProgramme Apologies for the inconvenience, but I dig deeper into the code and saw that this is correct implementation. We cannot change this further. Therefore closing the PR and the issue.

[2020-11-26 17:17] #2155 closed, assigned to ForgottenProgramme

[2020-11-26 21:36] ForgottenProgramme commented on #2176
@rt4914

I made changes in the profile_list_profile_view.xml film in layout and layout-land folder.
But I could not find this file in layout-sw600dp-port and layout-sw600dp-land folders.

The results look fine for mobile.
![port_mob](https://user-images.githubusercontent.com/65779580/100392711-78b2af00-305d-11eb-8161-8643c662b9c7.png)

![land_mob](https://user-images.githubusercontent.com/65779580

[2020-11-27 06:24] FareesHussain commented on #2179
Please assign this to me
I've completed this

[2020-11-27 07:20] FareesHussain commented on #2178
Please assign this to me.
I've already fixed it

[2020-11-27 08:02] ForgottenProgramme commented on #2177
@rt4914 , I think you have attached the wrong screenshot by mistake.

[2020-11-27 08:04] ForgottenProgramme commented on #2180
@rt4914 , How do I reach the FAQ section?

[2020-11-27 08:16] ForgottenProgramme commented on #2180
okay, found it

[2020-11-27 12:49] ForgottenProgramme commented on #2180
@rt4914 , Please assign this to me.
I solved it.

[2020-11-27 13:00] ForgottenProgramme commented on #2177
@rt4914 , I solved this.
Please assign it to me.
Thankyou. :)

[2020-11-27 14:00] ForgottenProgramme commented on #2174
@rt4914 , How do I reach this section?

[2020-11-27 15:25] Aditiwebd commented on #2150
Please assign this to me @rt4914

[2020-11-27 18:52] ForgottenProgramme commented on #2176
Please assign it to me @rt4914 .
Also, please clarify whether the screen is supposed to look like this in tab ?

[2020-11-28 06:59] 7phalange7 commented on #2142
Hello, @mschanteltc
May I work on this ?

The issue is probably because the continue button height is constrained to the parent but the parent layout has height as `wrap_content`.

[2020-11-28 14:05] FareesHussain commented on #962
I tried this using request focus and show soft input using InputMethodManager but it doesn't work

[2020-11-28 16:01] FareesHussain opened #2192 "Profile Deletion in Tablet opens a different layout"
**Describe the bug**
Profile Deletion Opens a list of profiles without toolbar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'
2. Within 'Edit profiles' select a profile and delete the profile
3. Opens a list of profiles and onBack press shows a empty profile info as given below

**Expected behavior**
Go back to Edit Profiles section in Adminstrator Controls

*

[2020-11-28 16:28] FareesHussain commented on #2192
Please assign this to me

I fixed this using activity.finish() instead of creating a intent as I does the same as pressing back button but using intent causes problem in  tablet
![image](https://user-images.githubusercontent.com/54740946/100520586-8898d300-31c4-11eb-89c0-79391450c1b2.png)

[2020-11-29 06:32] #2177 closed, assigned to nobody

[2020-11-29 14:42] krishnakeshan commented on #2141
Has this issue been fixed? It seems to be working fine on an ASUS_X01BDA as well.
![device-2020-11-29-201012](https://user-images.githubusercontent.com/23151728/100544934-23ee7e80-327f-11eb-9598-be836074e61e.png)

[2020-11-29 14:56] krishnakeshan commented on #2133
Could you specify the steps to navigate to the screen you mentioned in the issue?

[2020-11-29 16:45] peculiaruc commented on #2174
@ForgottenProgramme This has been assigned. Thanks

[2020-11-30 05:34] ForgottenProgramme commented on #2174
Okay, @peculiaruc ! :)

[2020-11-30 07:17] rt4914 opened #2193 "[RTL] High-fi Bullet Points"
Custom Bullet Points needs RTL support as shown in below screen.
![FAQ Single RTL](https://user-images.githubusercontent.com/9396084/100345836-ed0f3300-3008-11eb-8a4b-4389ed28d92d.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## How to Test
1. Go to `Help` in `Navigation Drawer`
2. Click on `FAQs`
3. Click on `1st` FAQ
4. See the bul

[2020-11-30 07:18] #2180 closed, assigned to nobody

[2020-11-30 07:26] #2178 closed, assigned to nobody

[2020-11-30 07:33] #2179 closed, assigned to nobody

[2020-11-30 07:39] rt4914 opened #2194 "Onboarding Fragment needs to be updated to ViewPager2"
In `OnboardingFragment` we are currently using `ViewPager` because of which it does not support RTL automatically, instead we should use `ViewPager2` and make it RTL compatible.

[2020-11-30 08:02] FareesHussain commented on #2194
can i work on this

[2020-11-30 08:11] rt4914 commented on #2194
@FareesHussain Actually @prayutsu and @anandwana001 are already working on some part of it. So its better if we assign it to them.

Just give me some time and I will be adding more issues soon. Mostly by end-of-day.

[2020-11-30 08:14] #2175 closed, assigned to FareesHussain

[2020-11-30 08:15] FareesHussain commented on #2194
ok got it

[2020-11-30 08:18] anandwana001 commented on #2192
@FareesHussain For this, you also need to write test cases which should pass on both Espresso and Robolectric and should fail without your implementation.

[2020-11-30 08:26] FareesHussain commented on #2192
@anandwana001 Ok i'll try
but how to vary robolectric tests for mobiles and tablets

[2020-11-30 08:32] rt4914 commented on #2174
@peculiaruc @ForgottenProgramme
Thanks for communicating and managing things within yourself.

FYI:
@ForgottenProgramme If you are interested in working on any issues, you can check the comment history and if the issue is not assigned to anyone you can leave a comment that you are working on it (example : `I am working on it`) and start working.

Related to ConceptCardScreen, for this you will nee

[2020-11-30 09:29] rt4914 commented on #2133
@krishnakeshan Welcome to oppia.
Actually this is something that you won't be able to check on current code. Therefore I am assigning this to myself.

Also, before we start please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-11-30 09:40] ForgottenProgramme commented on #2176
@rt4914 , Would you please confirm that the 'Administrator Controls' screen is supposed to look this in a tablet?

[2020-11-30 09:54] krishnakeshan commented on #2133
Hi @rt4914 thanks! Oh alright got it, no worries.

I've signed the CLA and filled out the survey, and have a build running on a device. I'm checking out the wiki right now!

[2020-11-30 10:46] anandwana001 commented on #2192
@FareesHussain Checkpoint 2 here - https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#performance-exceptionruntime-exception-failure
Such things are already set up in the already written test files.

[2020-11-30 12:09] #1891 closed, assigned to peculiaruc

[2020-11-30 12:12] rt4914 commented on #2176
@ForgottenProgramme There are only two files for `profile_list_profile_view.xml` and therefore you have to make changes in that file only. Also the tablet implementation is bit different but you don't need to worry about that. You can just fix this from mobile perspective and it will work in tablet too.

[2020-11-30 12:13] rt4914 commented on #2133
@krishnakeshan Can you please check if the CLA and the survey was filled successfully because I am not able to find you details in our records.

[2020-11-30 12:15] rt4914 commented on #2141
**NOTE TO ALL**

This might have happened that the app that Chantel is testing on (which is alpha) is old and the issue has already been closed but keeping it open for now. Will consult with Chantel and get it tested on latest apk.

[2020-11-30 12:18] rt4914 commented on #2142
@7phalange7 Assigning this to you. In future, you don't need to wait for approval if you are confident about the issue. You can just check all the comments and if the issue is not assigned to anyone else you can leave a comment and start working, something like `I am working on this`.

[2020-11-30 13:25] krishnakeshan commented on #2133
Hey @rt4914 sorry my bad on the survey, it turns out I didn't complete it last time. Done now. On the CLA though, I'm getting a "You've already responded" screen on visiting that form, so I'm pretty sure I've filled that out. Let me know!

[2020-11-30 14:51] FareesHussain commented on #2192
This Implementation works for both mobiles and tablets but the espresso test case is closed so I had to go with some other implementation

[2020-11-30 15:25] Arjupta opened #2196 "Changes needed in Onboarding Screens [A11y] [BLOCKED]"
**Describe the bug**

Onboarding Screens are not fully compatible with some users from the Accessibility point of view.
Issue 1 - No Item Label present in the bottom arrow button
Issue 2 - Multiple items have the same Description as that of Image on all the screens
Issue 3 - The Contrast ratio (between foreground and background) of the Image resource used in the Second screen is 2.55 but the requi

[2020-11-30 18:55] rt4914 commented on #2133
Great. @anandwana001 will be reaching out to you within next 24 hours. Thanks.

[2020-11-30 18:58] anandwana001 commented on #2133
He has filled the CLA earlier, but we were waiting for the contributor survey, which is done now. @krishnakeshan You are good to send Pull Request now.

[2020-11-30 19:05] anandwana001 commented on #2133
@krishnakeshan Try to run the app and start with any Topic on the Home screen, go to Lessons tab and start playing the story under it. Also, check the video link added in the issue description.

[2020-11-30 19:19] jcqli commented on #1890
I'd like to work on this, thanks!

[2020-11-30 19:20] BenHenning commented on #1890
Done @jcqli (fyi @anandwana001).

[2020-12-01 01:47] BenHenning commented on #1903
This should actually be running on GitHub actions (not CircleCI). The existing actions check could be used as a baseline for this: https://github.com/oppia/oppia-android/tree/develop/.github/workflows.

That being said, it would be better to wait until #1724 is resolved since that will make this much easier. Sorry for the confusion--this issue wasn't well defined when it was filed.

[2020-12-01 05:37] #2147 closed, assigned to FareesHussain

[2020-12-01 06:25] anandwana001 opened #2198 "Introduce pre push hook for Kotlin"
**Is your feature request related to a problem? Please describe.**
We are linting our kotlin files using ktlint and there are quite a number of times when we have ktlint failure in GitHub checks.

**Describe the solution you'd like**
pre-push will prevent all such failures.

[2020-12-01 08:46] ForgottenProgramme commented on #2176
@rt4914 , Okay. Got it now.
Thankyou, Rajat.
I made a PR.

[2020-12-01 08:58] ForgottenProgramme commented on #2176
Also, @rt4914

![port_tab](https://user-images.githubusercontent.com/65779580/100718246-1fda7200-33e1-11eb-867c-2cf4aebd83b7.png)

The parts I have unclosed in red, also needs RTL. Isn't it?

[2020-12-01 09:04] ForgottenProgramme commented on #2198
Hey, @anandwana001 !
I don't think I'll be able to solve this with my current knowledge.
Would you please suggest me some resources from I can read and learn what needs to be done to solve this issue?
Thankyou. :)

[2020-12-01 11:47] FareesHussain opened #2202 "Some Answers in FAQ needs bullet points"
**Describe the bug**
few FAQ answers does'nt have bullet points

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'FAQ'
2. Click on Any Question of following `How can I delete a profile?`, `Why is the Exploration player not loading?`,  `Why is my audio not playing?`
3. Check the answer contains '-' instead of a bullet point

**Expected behavior**
Bullets points in the place of '-'

**Scr

[2020-12-01 13:20] coder2699 commented on #2193
@rt4914 I want to fix this issue.

[2020-12-01 16:11] KMaragh commented on #2054
@rt4914 Finally have some time to look at this. Is the expectation to change the Story chapter's image that are missing prerequisites to the blur effect and lock icon?

And change the chapter complete icon to the paw instead of the checkmark?

[2020-12-01 16:57] rt4914 commented on #2176
@ForgottenProgramme No. Only the Profile List needs RTL. Rest all will be done separately.

[2020-12-01 23:05] BenHenning commented on #2149
@anandwana001 does #2104 address this?

[2020-12-01 23:07] BenHenning commented on #1944
Apologies @ranjsa I missed your comment from earlier. Has this been resolved?

[2020-12-01 23:31] Russ741 commented on #1930
I'd like to work on this issue.

[2020-12-01 23:32] BenHenning opened #2205 "Last used text is misaligned on the profile page"
**Describe the bug**
The 'last used XXX' string on the profile page isn't aligned correctly anymore. This appears to be a regression in the past few weeks.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. If a profile hasn't yet been selected, select the 'Admin' profile
3. Press 'back' to go back to the profile selection screen or restart the app
4. Observe that the 'Last used

[2020-12-01 23:32] BenHenning commented on #1930
Assigning to you @Russ741. Thanks!

[2020-12-01 23:53] BenHenning commented on #2205
@rt4914 or @anandwana001 have either of you noticed this? I can also repro it on a really large emulator screen, though having some difficulties getting actual smaller emulators started.

[2020-12-01 23:54] Russ741 commented on #2205
I'd like to work on this one.

[2020-12-01 23:54] BenHenning commented on #2205
Assigned!

[2020-12-02 04:40] anandwana001 commented on #2149
Yes, That PR is solving this issue.

![Screenshot_1606883988](https://user-images.githubusercontent.com/25057618/100829130-a6955a80-3486-11eb-9e1d-bd3b76776e13.png)

[2020-12-02 04:43] FareesHussain commented on #2149
Can you also check swiping in the  viewpager

[2020-12-02 04:45] anandwana001 commented on #2149
@FareesHussain scrolling working fine

[2020-12-02 06:08] ShridharGoel commented on #2035
I would like to work on this.

[2020-12-02 06:15] Arjupta opened #2206 "Changes in Admin Pin Activity [A11y]"
**Describe the bug**

Admin Pin Activity Screens are not fully compatible with some users from the Accessibility point of view.
Issue 1 - No Item Label present in both the profile input view when no data are typed in it ie. in the inactive state
Issue 2 - Multiple items have the same Description as that of Profile Input View when some data is entered in it ie. active state
Issue 3 - The Contrast r

[2020-12-02 06:23] Arjupta opened #2207 "Changes in Admin Auth Activity Screens [A11y]"
**Describe the bug**

Admin Auth Activity Screens are not fully compatible with some users from the Accessibility point of view.
Issue 1 - No Item Label present in profile input view
Issue 2 - The Contrast ratio of the text (foreground and background) inside the Submit button is 2.58 (in inactive state) but the required one 4.50

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Acce

[2020-12-02 06:31] anandwana001 opened #2208 "Create helper function in Test for RecyclerView [BLOCKED on #2209]"
**Is your feature request related to a problem? Please describe.**
Issue context - https://github.com/oppia/oppia-android/pull/2104#discussion_r533033720
Generalize the helper function with their specific RecyclerViews.

**Describe the solution you'd like**
Current implementation
[code]

What we need
[code]

[2020-12-02 06:37] anandwana001 opened #2209 "Introduce test-only component for RecyclerView scrolling"
**Is your feature request related to a problem? Please describe.**
Issue Context - https://github.com/oppia/oppia-android/pull/2104#discussion_r533859179
We require 2 different types of scrolling action in order to pass tests in both Espresso and Robolectric.

**Describe the solution you'd like**
1. Introduce a new testing module file that provides scrolling support for RecyclerViews
2. Wrap all n

[2020-12-02 06:43] Arjupta opened #2210 "[A11y] Changes in Admin Controls Download Permissions View"
**Describe the bug**

Admin Control Download Permission View is not fully compatible with some users from the Accessibility point of view.
![Screenshot_2020-12-02-11-13-39-64_80a9469f53bfe75dbc6e8989be28e2f0](https://user-images.githubusercontent.com/64064110/100836753-de57ce80-3495-11eb-946a-5c39b4af8a8a.jpg)
Issue 1 - The Size of Switch button must be larger ( minimum 48dpX48dp)
Issue 2 - Multip

[2020-12-02 07:22] FareesHussain commented on #2208
@anandwana001 These lines are in [your branch](https://github.com/anandwana001/oppia-android/tree/topic-practice-fragment-robolectric-test-fix) right so how to work on this issue

Is this blocked on #2104 ?

[2020-12-02 07:44] anandwana001 commented on #2208
Yes it is blocked.
Any issue or pr with the title Blocked is blocked on any other issue or pr.

[2020-12-02 07:45] FareesHussain commented on #2208
I'm sorry i did'nt notice the title

[2020-12-02 16:57] anandwana001 commented on #1900
unassigning @soamOne as no update.

[2020-12-02 16:58] anandwana001 commented on #1897
unassigning @JudeUk as no update.

[2020-12-02 16:59] anandwana001 commented on #1874
Closing this issue as it is completed in sub-prs.

[2020-12-02 16:59] #1874 closed, assigned to nobody

[2020-12-02 17:05] ShridharGoel commented on #1951
I would like to work on this.

[2020-12-02 17:05] anandwana001 commented on #1633
As all the required 3 ViewModels are done, closing this issue.

[2020-12-02 17:05] #1633 closed, assigned to rt4914, miaboloix

[2020-12-02 17:08] anandwana001 commented on #1528
@aggarwalpulkit596 Any update on this issue?

[2020-12-02 17:09] anandwana001 commented on #1042
@prakharp any update on this?

[2020-12-02 17:10] anandwana001 commented on #1001
Unassigning @NullByte08 as no update.

[2020-12-02 17:26] BenHenning commented on #2209
Since we're splitting this out, I suggest getting the core library working, migrate 1 small test over to this library to verify it works, then take all remaining test suites that need to be updated and turn them into starter issues.

[2020-12-02 17:28] BenHenning commented on #2208
Regarding the details of this issue, are we only changing that function or is the intent here to define a bunch of new helpers? Maybe make that clearer, and even specify the helpers if you can (or how the assignee should do that). @anandwana001

[2020-12-02 17:29] #2149 closed, assigned to anandwana001

[2020-12-02 18:38] anandwana001 commented on #962
It's a Custom View so might need some tweaks in the custom side.

[2020-12-02 21:19] yk1ax commented on #2131
Can I get assigned for this issue @mschanteltc

[2020-12-02 22:05] mschanteltc commented on #2131
@rt4914

[2020-12-03 02:47] BenHenning opened #2213 "TopicListControllerTest has failing tests on CI"
TopicListControllerTest has two tests that are currently disabled since they were failing on CI:
- testRetrieveOngoingStoryList_markRecentlyPlayedFracStory0Exp0_ongoingStoryListIsCorrect
- testRetrieveOngoingStoryList_markAllChaptersCompletedInFractions_ongoingStoryListIsCorrect

We should look into reenabling this on CI. Either they are now passing, or changes are needed to fix them.

[2020-12-03 02:48] BenHenning commented on #2213
/cc @anandwana001

[2020-12-03 03:02] BenHenning commented on #1845
@MaskedCarrot are you still working on this issue?

[2020-12-03 09:40] FareesHussain commented on #1959
please assign this to me

[2020-12-03 11:00] Arjupta opened #2215 "Changes in Fragments under Options Menu [A11y]"
**Describe the bug**

All three Fragments under Options Menu have certain views which are not fully compatible from the Accessibility point of view.

Issue 1 - Multiple items have the same Description as that of small "**A**" present in the  **reading_text_size_fragment**

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia And

[2020-12-03 11:49] Arjupta opened #2217 "Changes in Profile List View [A11y] [BLOCKED]"
**Describe the bug**(Considering only admin profile)

The Profile List Fragment under Edit profiles option of Administrator Controls have certain views which are not fully compatible from the Accessibility point of view.

Issue 1 - The Contrast ratio (foreground to background) of text inside **profile_list_profie_view** is 2.68 but the suggested one is 4.50 (under profile_list_fragment)
Issue 2 -

[2020-12-03 11:58] Arjupta opened #2218 "Changes in Profile Rename Activity [A11y]"
**Describe the bug**(Considering only admin profile)

The Profile Rename Activity under Edit profiles option of Administrator Controls have certain views which are not fully compatible from the Accessibility point of view.

Issue 1 - The ProfileInputView doesn't have a label when it is in inactive state.
Issue 2 - The Contrast ratio (foreground to background) of text inside SAVE Button is 2.59 but

[2020-12-03 12:06] Arjupta opened #2219 "Changes in Profile Reset Pin Activity [A11y]"
**Describe the bug**(Considering only admin profile)

The Profile Reset Pin Activity under Edit profiles option of Administrator Controls have certain views which are not fully compatible from the Accessibility point of view.

Issue 1 - The Contrast ratio (foreground to background) of text inside SAVE Button is 2.59 but the suggested one is 4.50
Issue 2 - The ProfileInputView doesn't have a label

[2020-12-03 15:04] anandwana001 commented on #1769
Keyboard closing in the landscape  in espresoo will get solved using,
[code]
but not in robolectric. I think we might need to create custom inputs here like -
https://github.com/oppia/oppia-android/blob/62beb85fad2d32a33ee1dc4fc63ec074ad912a2f/app/src/sharedTest/java/org/oppia/android/app/testing/InputInteractionViewTestActivityTest.kt#L961

the major issue to solve here is dragging doesn't work i

[2020-12-03 17:31] yk1ax commented on #1792
I am working on this issue @anandwana001. Can I get assigned.

[2020-12-03 18:50] prayutsu commented on #1792
Assigning this to you @yk1ax

[2020-12-04 00:33] BenHenning opened #2223 "Establish codeowners"
We need an establish codeowners break-down to provide distributed ownership of the codebase, better parallelize code reviews, and provide long-term guidance for building code ownership & reviewer capacity in the future.

[2020-12-04 03:38] anandwana001 commented on #1868
Closing this issue as it is done.

[2020-12-04 03:38] #1868 closed, assigned to anandwana001

[2020-12-04 04:43] viktoriias commented on #2132
I would like to work on this.

[2020-12-04 07:38] MaskedCarrot commented on #1845
@BenHenning I think this is blocked because audioFragmentTest are failing.

[2020-12-04 08:08] anandwana001 commented on #1845
It's merged. You can continue the work, if you need any help in testing part let's connect over Gitter.

[2020-12-04 08:15] #2202 closed, assigned to FareesHussain

[2020-12-04 08:35] #2148 closed, assigned to MaskedCarrot

[2020-12-04 08:40] #2150 closed, assigned to Aditiwebd

[2020-12-04 08:44] #2035 closed, assigned to ShridharGoel

[2020-12-04 09:05] rt4914 opened #2227 "Profile Name is going out of bounds"
**Describe the bug**
![Screenshot_1607072477](https://user-images.githubusercontent.com/9396084/101143945-a25f6d80-363d-11eb-9097-4a77c6cee195.png)

In the above image we can see that the Profile name is going out of screen.

**Device**
Use `Nexus 9` in portrait mode

**To Reproduce**
Steps to reproduce the behavior:
1. Add a profile with max characters.
2. Click on AdminControls
3. Click on Edit

[2020-12-04 09:11] #2192 closed, assigned to FareesHussain

[2020-12-04 09:15] #1959 closed, assigned to FareesHussain

[2020-12-04 09:56] #2176 closed, assigned to ForgottenProgramme

[2020-12-04 17:17] jcqli commented on #632
@rt4914 Was `TopicPlay/Lessons` ever done? Happy to work on it!

[2020-12-04 19:09] BenHenning commented on #632
``TopicListAdapter`` still needs to be removed/migrated, so that's open. Assigning you @jcqli.

[2020-12-04 20:06] ForgottenProgramme commented on #2193
I am trying to solve this.

[2020-12-04 20:12] rt4914 opened #2228 "Increase start-indentation for bullets"
![Screenshot_1606821079](https://user-images.githubusercontent.com/54740946/100750704-6e513600-340c-11eb-8bbb-5a8952034895.png)

In the above screenshot the bullets are aligned to the above text but instead the start margin should be more similar to what we normally see in google documents.

[2020-12-04 20:17] rt4914 commented on #2054
@KMaragh Paw icon is not needed for this PR. Mainly focus on Inactive Card blur effect and the lock icon.

[2020-12-04 20:36] ForgottenProgramme commented on #2193
@rt4914 , would you please give me some pointers?
I checked the file references you have added.

[2020-12-04 20:40] rt4914 commented on #2193
In current RTL the bullets appear on left side only, shown in below screenshot but instead it should on the right side as shown in issue description.

![Screenshot_1607114373](https://user-images.githubusercontent.com/9396084/101212611-05352100-369f-11eb-8d75-353cfb3217d7.png)

[2020-12-04 22:37] BenHenning commented on #2218
From talking to a previous colleague of mine, @ARJUPTA is the save button in this case being marked as disabled or not clickable? Per my colleague, marking buttons as disabled should result in their contrast not being checked by the scanner. Can you verify?

[2020-12-05 07:12] FareesHussain commented on #2228
@mschanteltc i've tried solve this please check if you were referring to any them

![Screenshot_1607152038](https://user-images.githubusercontent.com/54740946/101236399-e8c4d300-36f6-11eb-991c-bffb499d9541.png)
![Screenshot_1607152214](https://user-images.githubusercontent.com/54740946/101236429-17db4480-36f7-11eb-8d1b-ad34cd710bff.png)

[2020-12-05 07:21] Arjupta commented on #2218
@BenHenning this the code which is related to this view. It is made non-clickable when there is no input given to the profileInputView.
[code]

[2020-12-05 07:40] anandwana001 commented on #2132
@mschanteltc Regarding the second and the third point we only need description in the active card and for the inactive card, the description should not be visible, right?

The tasks we need to do on this issue:
1. We need elevation to the inactive cards
2. Full description should be visible
3. Inactive card should not have a description

[2020-12-05 09:13] yk1ax commented on #2131
@anandwana001 here we only need to hide the progressbar right ? I mean the hint pop up should stay above the keyboard as it is.

[2020-12-05 21:11] viktoriias commented on #2132
Ok, I found "Matthew Goes to Bakery" screen. Do I need to blur thumbnails, like shown in the mock?

[2020-12-05 21:57] arnoob16 commented on #2227
Hey can I work on this issue?

[2020-12-06 00:04] mschanteltc commented on #2228
Thank you @FareesHussain. The second picture is more like what I'm describing. A few changes in your second image though:

- Indent the bullet points more like the placement of the bullet points in the first image is.
- Make sure the textboxes are left aligned. In the second image, the words in the second bullet point "Profile" and "progress" are not aligned.

[2020-12-06 00:04] mschanteltc commented on #2132
The tasks that need to be done are:

- Elevate the inactive cards
- Full description of active cards should show full description.
- Inactive cards should be at full opacity
- Inactive cards should show Chapter name and description should show prerequisites to unlock it.
- Blur thumbnails of inactive cards

[2020-12-06 05:34] viktoriias commented on #2132
I imagine I'd need a new image to blur inactive cards?

[2020-12-06 11:28] ForgottenProgramme opened #2229 "[RTL] High-fi On home screen, username comes before the salutation"
**Describe the bug**
On the home screen, the username comes before the greeting/salutation ('good afternoon' etc).

**To Reproduce**
Steps to reproduce the behavior:
1. Force RTL layout on device
2. Launch app
3. Click on any user profile to reach the home screen.

**Expected behavior**
The user name should come after the greeting.

**Screenshots**

![space_rtl](https://user-images.githubuserconte

[2020-12-06 16:24] fsharpasharp commented on #1897
I can work on this.

[2020-12-06 21:25] anandwana001 commented on #1897
Hi, @fsharpasharp just to confirm before start contributing, Did you completed with the Onboarding process?
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2020-12-06 21:34] anandwana001 commented on #2229
@mschanteltc Adding you for your input on how to proceed with this issue.

[2020-12-06 22:40] fsharpasharp commented on #1897
Yes, I have! :)