[2020-02-04 08:22] rt4914 opened #638 "Domain: Record TopicPogress"
StoryProgressController should be modified to store the Topic/Story Progress.

[2020-02-05 11:28] veena14cs commented on #632
@rt4914 I will be taking up Continue Playing task in this list.

[2020-02-06 09:04] veena14cs commented on #632
@rt4914  StoryActivity already has implementation of Bindable adapter.

[2020-02-11 10:11] EdOates84 commented on #550
@rt4914 I would like to work on this issue

[2020-02-11 14:28] rt4914 commented on #550
@EdOates84 This issue is currently blocked on some other work items. I will assign you some other issue and email you.

[2020-02-11 15:04] EdOates84 commented on #550
@rt4914 ok

[2020-02-11 22:52] seanlip commented on #550
@EdOates84: welcome! Just a heads-up: please make sure to follow [these instructions](https://github.com/oppia/oppia-android/wiki) to get started before working on any issues.

[2020-02-11 22:57] EdOates84 commented on #550
@seanlip Ok I've done.

[2020-02-12 04:38] rt4914 opened #645 "Lowfi Landscape: AdminAuth Screen"
Mock Link: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6722d327-0ea3-4a80-8370-69ce85f308f5/RG-MN-Register-Empty-22

Helpful Resource: https://github.com/oppia/oppia-android/wiki/Working-on-UI

Currently Admin Auth Screen does not support Landscape mode, we need to update the code to make it landscape compatible.

[2020-02-12 05:29] veena14cs opened #646 "Low-fi : Introduce Subtopic System"
Need to introduce Subtopic system in domain and app layer module. This include changes in Revision and Practice Tab.

[2020-02-12 06:31] rt4914 commented on #645
Assigned to @EdOates84

[2020-02-12 09:06] rt4914 commented on #590
Unassigning @maheshpaliwal from this PR as it has been too long. Also, he has one more assigned PR to him so will wait for that to finish.

[2020-02-12 09:06] rt4914 commented on #590
Assigning this to @PrarabdhGarg now.

[2020-02-12 11:06] EdOates84 commented on #645
ok @rt4914  I'm working on it

[2020-02-12 12:19] EdOates84 commented on #645
Hey @rt4914
### fix: Lowfi Landscape: AdminAuth Screen

### Before

![Screenshot_20200212_172508](https://user-images.githubusercontent.com/46043645/74333406-e6873600-4dbd-11ea-88ca-73bbc183a8f6.jpg)

### After

![Screenshot_20200212_172527](https://user-images.githubusercontent.com/46043645/74333434-f272f800-4dbd-11ea-9232-779c24e2b479.jpg)

[2020-02-12 14:24] PrarabdhGarg commented on #590
@rt4914 From where can I get the icon?

[2020-02-12 14:45] rt4914 commented on #590
I have emailed you an SVG file just now.

[2020-02-12 14:47] PrarabdhGarg commented on #590
Also, I feel that the flow would be much better if we showed the dialog after closing the side navigation drawer instead of the current flow

[2020-02-12 16:23] rt4914 commented on #590
Thanks a lot for the suggestion. For now, you can finish this task as mentioned in the mocks and I will discuss that with the designer about this.

[2020-02-12 16:25] rt4914 commented on #645
@EdOates84 Once issue is assigned, please do not post these things in the issue thread. Instead show these screenshots in your Pull Request.

[2020-02-13 06:40] nikitamarysolomanpvt opened #652 "Numeric input - "number too long" validation error message change"
Numeric input: **number too long** validation error message change.
https://github.com/oppia/oppia-android/pull/640#discussion_r377431118
https://github.com/oppia/oppia-android/pull/640#discussion_r377459088

[2020-02-13 07:01] rt4914 opened #653 "Lowfi Landscape: Add Profile"
Mock Link:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/645052fe-103b-4ca0-8250-e3b0d50bb169/PC-SP-Add-Profile-

## Checklist
- [ ] Lowfi Landscape
- [ ] Test cases for Landscape

[2020-02-13 07:21] rt4914 opened #654 "Topic should have navigation drawer icon in it"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/c718fc6d-b336-475a-b31b-fd3bc84882a8/PM-EN-Play-Tab-Progress-1-

In mocks, the topic has a hamburger icon at top left corner of the screen which opens the navigation drawer.

[2020-02-13 08:51] rt4914 opened #655 "Lowfi Landscape Topic Overview"
Mock Link: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/4e4d2aec-fd30-4c20-91ed-daf434f47a89/TP-Info-

## Checklist
- [ ] Landscape lowfi mock
- [ ] Test cases

[2020-02-13 08:53] rt4914 opened #656 "Lowfi Landscape ConceptCard"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/8d692ecd-b41a-4dbf-acbf-66d1ffbaf265/PM-Q2-IA-Answered-1-1

## Checklist
- [ ] Landscape mode support  (make sure this works in ConceptCardFragment as well as ConceptCardFragmentTestActivity)
- [ ] Test cases

[2020-02-13 09:15] rt4914 opened #657 "Lowfi Admin Controls (Part 1): Show/Hide Admin Controls option in navigation drawer"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/79c56b13-218b-48fc-a403-b085d46953f3/Settings-Side-Menu-1

In mocks, you can see that there is `Administrator Controls` option at the bottom in navigation drawer. This should be visible when current profile is admin or else it should not be visible.

## Checklist
- [ ] Show/Hide `Administrator Controls` in navigation

[2020-02-13 09:18] rt4914 opened #658 "Lowfi Admin Controls (Part 2): Introduce basic AdministratorControlsActivity"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/71345025-f19e-4cac-a63f-e94442540e8f/Settings-6

All these options should be visible in admin profiles.

## Checklist
- [ ] Finish `AdministratorControlsActivity` (not its child activity)
- [ ] Test cases that everything is displayed correctly

[2020-02-13 09:19] rt4914 opened #659 "Lowfi Admin Controls (Part 3): AppVersion and Logout"
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/71345025-f19e-4cac-a63f-e94442540e8f/Settings-6

## Checklist
- [ ] App version should be fully functional
- [ ] Logout should be fully functional
- [ ] Test cases

[2020-02-13 09:23] rt4914 opened #660 "Lowfi Admin Controls (Part 4): Edit Profiles"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/71345025-f19e-4cac-a63f-e94442540e8f/Settings-6

https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/ddc3dadf-10e4-45f6-aeea-eb8a330e00ff/Settings-1-Profile-1

## Checklist
- [ ] Complete Edit Profiles Functionalities
- [ ] Test cases

[2020-02-13 09:23] rt4914 opened #661 "Lowfi Admin Controls (Part 5): Edit Account [BLOCKED]"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/71345025-f19e-4cac-a63f-e94442540e8f/Settings-6
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/6d2fee2e-f627-48ed-8ce4-03178a8dfa97/Settings-1-Account-Data-Name-9

This is blocked considering that we need APIs for email process and currently we do not have that in place.

## Checklist
- [ ]

[2020-02-13 09:25] rt4914 opened #662 "Lowfi Admin Controls (Part 6): Downloading Permissions"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/71345025-f19e-4cac-a63f-e94442540e8f/Settings-6

These permissions should be saved in domain layer.

Might need more detailed disuccsion.

[2020-02-13 09:29] seanlip commented on #661
Hi @rt4914 -- for these and other issues which need discussion, could you please specify clearly what the specific points of discussion need to be? Maybe make a checklist -- this helps to ensure that we have clarity of communication.

Thanks!

[2020-02-13 10:05] #590 closed, assigned to PrarabdhGarg

[2020-02-13 17:50] #584 closed, assigned to Luffy18346

[2020-02-13 19:19] #634 closed, assigned to PrarabdhGarg

[2020-02-13 19:35] PrarabdhGarg opened #664 "UX issues with switch profile of navigation drawer"
If we click on the switch profile button present in the navigation drawer and then close the dialog by clicking somewhere else on the screen, the dialog box gets dismissed, but the navigation drawer still remains open, with the switch profile option highlighted.

In this, if the dialog button is canceled or the dialog disappears by clicking somewhere else, then the last selection option should get

[2020-02-13 19:40] mschanteltc commented on #652
As Sean mentioned in #640, we will use the following message:
"The answer can contain at most 15 digits (0-9) or symbols (. or -)."

[2020-02-14 13:49] abhinavraj23 commented on #664
@rt4914 Are you working on this? Otherwise, I would love to do it

[2020-02-16 04:54] rt4914 opened #666 "Lowfi Landscape: ContinuePlaying Screen"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0e6ba726-1930-4f39-9c73-51df10a1c766/HP-Continue-Playing-

Portrait Mock: https://xd.adobe.com/spec/e2239cf4-9cde-4c08-5296-25316c1f0a14-9412/screen/2b6c8e95-5ac7-4472-bc2b-1c318a3f7e5c/HP-Continue-Playing-

Note that we are currently not focusing on "Download" information on top right corner. So do not create UI for

[2020-02-16 04:56] rt4914 commented on #666
Assigning this to @abhinavraj23

[2020-02-16 05:01] rt4914 commented on #664
@abhinavraj23 This will be a fairly difficult task for now, let's focus on the work that has been assigned to you and as time progresses this can be done. Thanks for your interest.

[2020-02-16 11:42] rt4914 commented on #588
Unassigning @maheshpaliwal as it was taking too long.

[2020-02-16 11:44] rt4914 commented on #588
Assigning this to @tanhengyeow

[2020-02-18 06:58] veena14cs opened #669 "Adding translations for App and Audio Language selection."
Fetch language list from backend and add translations to track the language selection.

[2020-02-19 03:06] #607 closed, assigned to BenHenning

[2020-02-19 07:54] PrarabdhGarg commented on #654
@rt4914 for including the navigation drawer in the topic fragment, should I move the toolbar from within the fragment to the activity?
It would be easier to navigate that way.

[2020-02-19 08:02] rt4914 commented on #654
@PrarabdhGarg Yes that i fine. At the same time I think the implementation that you are suggesting is similar to what is done in HomeFragment.

[2020-02-19 09:09] #545 closed, assigned to nobody

[2020-02-19 19:28] iamprayush opened #672 "Update fraction error message."
To keep parity between Android and web, an error validation in the fraction input interaction that was present in the android version but not in the web, is being added by [#8671](https://github.com/oppia/oppia/pull/8671).
During this addition, it was suggested by [@aks681](https://github.com/aks681) that the error message should be changed to 'None of the numbers in the fraction should have more

[2020-02-19 23:07] seanlip commented on #672
@rt4914 @nikitamarysolomanpvt could one of you take a look at this, please? I am supportive of this wording change.

Thanks!

[2020-02-20 01:47] abhinavraj23 commented on #666
@rt4914 I have made the PR, I have tested it as well, it is working, please review it and let me know!

[2020-02-20 04:20] rt4914 commented on #672
@seanlip Will do this. Thanks.

[2020-02-20 06:14] #666 closed, assigned to rt4914

[2020-02-20 07:07] veena14cs opened #675 "Refactor ContinuePlaying to Recently-Played Stories"
Need to refactor in toolbar, Activities, Fragments, Testcases, layout files etc.

### Mock
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/2b6c8e95-5ac7-4472-bc2b-1c318a3f7e5c/HP-Continue-Playing-/

[2020-02-20 07:07] veena14cs commented on #675
Assigned to @abhinavraj23

[2020-02-20 07:21] rt4914 opened #676 "Track whether atleast 1 child profile has been created or not"
Domain layer needs to have functionality where we can keep track whether atleast 1 child profile has been added or not. Even if that child profile is deleted later on, its fine. This functionality will be used in app module to control the UI in following ways:

[ProfileChooser - If no profile has been added yet](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8cdde1f8-da

[2020-02-20 07:23] rt4914 opened #677 "Lowfi: ProfileChooser Different Screen Scenarios [Blocked on #676]"
[ProfileChooser - If no profile has been added yet](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8cdde1f8-daae-438c-8fdd-084e5d227080/PC-SP-Profile-Chooser-v2)
[ProfileChooser - General](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/18e69208-8528-424a-a368-b2c5d530d235/PC-SP-Profile-Chooser-)

Add test cases for this functionality.

In `Pr

[2020-02-20 07:58] rt4914 opened #678 "Landscape Lowif: Onboarding Flow"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/1f86ca4e-795e-4a75-8784-fea53864b94b/RG-OB-Onboarding-1-

Also, write test cases for landscape mode.

Images link: https://drive.google.com/open?id=1BVmATijZcOvBWksXeCSism-ZQvohCkLn

[2020-02-20 08:18] #656 closed, assigned to nobody

[2020-02-20 15:24] #638 closed, assigned to rt4914

[2020-02-20 19:58] Sarthak2601 commented on #678
Hi @rt4914, would like to contribute. Can you please explain the issue a bit..

[2020-02-20 19:59] Sarthak2601 commented on #677
Hi @rt4914, can you please explain this issue a bit.

[2020-02-20 20:58] Sarthak2601 opened #680 "No back button"
**Issue Description**
There is no presence of a back button in the toolbar which hampers UX.

**Ideal Situation**
In my opinion, the toolbar must contain a back button that takes the user to the previous activity.

**Screenshot**
Current -
<img src="https://user-images.githubusercontent.com/53938155/74977683-2ea6f800-5451-11ea-9959-67c6d99ed7bf.png" width=200/>

**Would you like to work on this is

[2020-02-20 21:22] seanlip commented on #678
Hi @Sarthak2601 -- welcome to Oppia! To get started, please follow [these instructions](https://github.com/oppia/oppia-android/wiki) first. Thanks!

[2020-02-21 07:01] PrarabdhGarg commented on #680
@Sarthak2601 possible duplicate of Issue #654

[2020-02-21 07:40] Sarthak2601 commented on #654
@PrarabdhGarg @rt4914 Can I work on this issue? I had a duplicate issue(#680 ) and have generated a PR(#681) for it as well.
Also, we can implement navigation without moving the toolbar out of the fragment.

[2020-02-21 07:40] Sarthak2601 commented on #680
@PrarabdhGarg Oh Okay. Can I link my PR to that issue and close this one ?

[2020-02-21 07:45] PrarabdhGarg commented on #680
Perhaps @rt4914 might be able to decide that

[2020-02-21 08:00] PrarabdhGarg commented on #654
@Sarthak2601 I am currently working on this

[2020-02-21 08:03] rt4914 commented on #654
@Sarthak2601 This issue has already been assign to @PrarabdhGarg and he is working on it.

At the same time the navigation icon in topics has been kept intentionally, so we tend not to remove it.

Also, I think you are assigned to [oppia-web](https://github.com/oppia/oppia) project but if you are interested in Oppia-Android. Feel free to inform us in [gitter-group](https://gitter.im/oppia/oppia-an

[2020-02-21 08:05] rt4914 commented on #680
@PrarabdhGarg @Sarthak2601 Actually this is not an issue, as the Navigation Drawer icon in topics have been kept intentionally. Therefore closing this issue and its respective PR for now.

[2020-02-21 08:05] #680 closed, assigned to nobody

[2020-02-21 08:08] Sarthak2601 commented on #654
@rt4914 Okay, got it.
I am interested in Oppia-Android. I'll inform the same in the gitter group.
Thanks !

[2020-02-21 08:41] rt4914 commented on #600
Assigned to @sarthak2601

[2020-02-21 10:20] rt4914 commented on #678
@Sarthak2601 You have been assigned #600 for now. Also, this PR is a bit lengthy one and considering that your current assigned issue will also take time, its better if do not assign this one to you for now.

[2020-02-21 10:24] rt4914 commented on #664
@abhinavraj23  As requested earlier, you can work on this one now

[2020-02-21 11:58] abhinavraj23 commented on #664
Sure @rt4914,  I would start working on it ASAP!

[2020-02-21 12:23] PrarabdhGarg opened #682 "Refactor previous code for testing orientation changes with the custom function written for it [Blocked on Landscape mode]"
There are a lot of test files that use the espresso methods directly to change orientation while testing the app, even though a custom method exists for the same.
Basically there are different types of orientation change related test cases, which have bee implemented in different ways. But we need all of them to be consistent and all of them should use only `orientationLandscape()` function to do

[2020-02-21 12:24] PrarabdhGarg commented on #682
@rt4914 can I work on this after my current issue is solved?

[2020-02-21 12:51] #675 closed, assigned to veena14cs

[2020-02-21 12:53] rt4914 commented on #682
@PrarabdhGarg Nice pick. You can definitely work on this. But I have an alternate proposal too. Because you know this solution very well, can we assign this task to someone new and you can guide them to finish this, similar to what you and me are doing right now. How does this sound?

[2020-02-21 13:19] PrarabdhGarg commented on #682
Perfect. I would love to do that

[2020-02-21 13:41] rt4914 commented on #682
Great. Then we will assign it to someone new.

[2020-02-21 15:00] #657 closed, assigned to Luffy18346

[2020-02-21 16:11] rt4914 commented on #682
cc @seanlip

[2020-02-21 18:17] rt4914 opened #683 "Introduce domain functions to retrieve progress"
TopicController needs functions to correctly fetch user progress. We need mainly following functions:

1. getTopicWithProgress
2. getStoryWithProgress
3. getCompletedStoryList
4. getOngoingTopicList
5. getOngoingStoryList

[2020-02-21 18:26] rt4914 opened #686 "Remove unused functions and code StoryProgressController and TopicController"
Once the progress is correctly connected to app module, remove previous written functions and test cases from `StoryProgressController` and `TopicController`

[2020-02-22 11:14] rt4914 opened #688 "Lowfi: Update topic_lessons_story_summary"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/c718fc6d-b336-475a-b31b-fd3bc84882a8/PM-EN-Play-Tab-Progress-1-

In new mock the `topic_lessons_story_summary` has been updated to remove the extra space before chapter names.

Current Develop implementation:
<img width="334" alt="Screenshot 2020-02-22 at 5 49 27 PM" src="https://user-images.githubusercontent.com/9396

[2020-02-22 11:15] rt4914 commented on #688
Assigned to @gunishjain

[2020-02-22 11:18] rt4914 opened #689 "Lowfi MyDownloads option Navigation Drawer"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/42d3b9aa-8cb7-4ff0-b375-42117c3aed7e/PM-EN-Play-Tab-Side-Menu-

MyDownloadsActivity has already been created but has not been linked to NavigationDrawer, we need to link that to NavigationDrawer.

Icon Link: https://drive.google.com/open?id=1CDqhmWKERmU_34_OIJh0_II5bezWozkJ

Also, add test cases to check whether on cl

[2020-02-22 11:18] rt4914 commented on #689
Assigned to @SayantanBanerjee16

[2020-02-22 11:57] PrarabdhGarg opened #690 "Refactor use of constant strings"
Instead of using string constants in this manner:
[code]
it would be better if we used parameterized string resources. The required changes in the above case, for example would be :
[code]
For more details, refer Formatting Strings section of https://developer.android.com/guide/topics/resources/string-resource

[2020-02-22 11:58] rt4914 commented on #690
@PrarabdhGarg Go ahead any create a PR for this. Thanks.

[2020-02-22 12:02] rt4914 opened #691 "Landscape Lowfi: Reset PIN"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6f83fcd9-e72d-4941-a16f-6754a869e083/RG-MN-Register-Empty-37

Write tests too.

[2020-02-22 12:15] rt4914 opened #692 "Lowfi: HelpActivity (Part 1)"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/8e1bbf3c-3287-4149-b599-5d5a5486809d/HL-Help-Menu-

In this we don't need to include Send. Feedback feature.

Also, create an empty FAQActivity with its fragment and presenter in this PR and write test cases too.

[2020-02-22 12:16] rt4914 opened #694 "Lowfi: HelpActivity (Part 2) - FAQ [Blocked part-1]"
Mock:
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/63a98a9c-3b46-4ba6-87d0-2f6e7c70bbe4/HL-FAQ-No-Category-current-

For working on FAQs, first we need a recyclerview implementation in FAQs and the content for this should be coming from strings.xml file (something like an strings array - https://stackoverflow.com/a/4161645), this is done to make sure that the strings

[2020-02-22 12:20] PrarabdhGarg commented on #692
@rt4914 in this should I add a recycler view, considering extra option might be added in the future? Or should I just add a single text view for now?

[2020-02-22 12:21] #600 closed, assigned to rt4914

[2020-02-22 12:22] gunishjain commented on #688
Oh thanks now I understood the problem. Sorry to trouble you for this silly doubt. @rt4914

[2020-02-22 12:27] rt4914 commented on #688
No doubt is silly. Feel free to ask questions. Thanks :)

[2020-02-22 12:28] rt4914 commented on #692
Yes.

[2020-02-22 12:30] rt4914 commented on #692
Actually considering that you have not worked on recyclerview yet in this Project and you already have one task assigned regarding the recyclerview, lets unassign you from this because you have very less time to work on right now.

[2020-02-22 12:31] PrarabdhGarg commented on #692
@rt4914 sure. No problem

[2020-02-22 12:33] #690 closed, assigned to PrarabdhGarg

[2020-02-24 05:48] aggarwalpulkit596 commented on #692
@rt4914 can I take this one?

[2020-02-24 06:01] rt4914 commented on #692
Hello @aggarwalpulkit596 before we get started on any task, please go through this https://github.com/oppia/oppia-android/wiki and also, make sure that you sign the CLA and fill the survey form. Once that is done, we will assign you some issues to get started.

[2020-02-24 06:04] aggarwalpulkit596 commented on #692
okay 👍

[2020-02-24 06:22] aggarwalpulkit596 commented on #692
@rt4914 Hey, I've already completed the survey as well as signed the CLA. Can you take a look at it so that I can start contributing

[2020-02-24 07:04] rt4914 opened #702 "Lowfi - Add profile updated"
Mock Link: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/77b5658b-cd35-4eda-b971-f1f4fd0181de/PC-MP-Add-Profile-Empty-7

The current implementation in develop branch for `Add Profile` is different as compared to the new mocks.

Please update this. Also, write test cases for the same.

[2020-02-24 07:04] rt4914 commented on #702
Assigned to @aggarwalpulkit596

[2020-02-24 07:15] veena14cs opened #703 "Add thumbnails in Subtopic Domain layer to show in Revision tab."
### Explanation
Add dummy thumbnails in subtopic list of Topic Json data. Update TopicController in domain layer to fetch thumbnails and display it in Topic Revision Tab.

### Mock
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/1adacef0-f245-4115-a0e0-d1c2e7d5a0bb/TP-Review-

[2020-02-24 07:16] rt4914 commented on #703
@veena14cs Please add description along with mock link. Also, In title, mention "Domain" as the first task will be to introduce that in domain layar.

[2020-02-24 07:17] rt4914 commented on #703
Also, assign it to yourself.

[2020-02-24 07:22] veena14cs commented on #703
Okay.

[2020-02-24 07:45] aggarwalpulkit596 commented on #702
@rt4914 where to get assets such as icons, placeholder images ?

[2020-02-24 08:11] rt4914 commented on #702
You can use icons from android studio itself:

`app` Right Click -> New -> Vector Asset and select the icon that you want.

[2020-02-24 08:13] aggarwalpulkit596 commented on #702
So it does not need be exactly same the adobe files ?🤔

[2020-02-24 08:15] rt4914 commented on #702
For now its fine. The issue names contains `Low-fi` which means stands low-fidelity, which means the it should look like mock but if some things are not matching like color/icon/size/etc.

Once this is finished, we normally do `high-fi` which stands for `High- Fidelity` which means that it should match pixel perfect with mock.

[2020-02-24 08:21] AminullahTajMuhammad commented on #678
Hello @rt4914 I want to know that is there any communication channel for repository discussion.

[2020-02-24 08:22] rt4914 commented on #678
Hello @AminullahTajMuhammad You can start first by going through this: https://github.com/oppia/oppia-android/wiki

Also, you can join https://gitter.im/oppia/oppia-android

[2020-02-24 08:25] AminullahTajMuhammad commented on #678
Thanks @rt4914

[2020-02-24 08:29] aggarwalpulkit596 commented on #702
@rt4914 Ok thanks for the clarification 👍

[2020-02-24 16:43] Sarthak2601 commented on #676
Hi @rt4914, can I work on this next ?

[2020-02-24 17:33] rt4914 commented on #676
Actually this requires some work on other modules too. This work will involve model, domain layer and app module. So better not work on this for now, as it can be very complicated.

[2020-02-24 17:57] Sarthak2601 commented on #676
Okay 👍

[2020-02-24 18:49] #678 closed, assigned to Sarthak2601

[2020-02-25 05:38] #689 closed, assigned to rt4914

[2020-02-25 07:41] #702 closed, assigned to rt4914

[2020-02-25 08:48] aggarwalpulkit596 commented on #702
Can you assign a new issue for me ?

[2020-02-25 09:52] rt4914 commented on #702
Please join this group: https://gitter.im/oppia/oppia-android

We normally have these type of conversations there. Also, by evening I will assign you new issues to work on.

[2020-02-25 10:07] #676 closed, assigned to nobody

[2020-02-25 10:26] #664 closed, assigned to abhinavraj23

[2020-02-25 10:37] rt4914 commented on #655
Unassigning luffy for now. As he is overloaded with other work items.

[2020-02-25 10:42] rt4914 commented on #688
Closed via #707

[2020-02-25 10:42] #688 closed, assigned to rt4914

[2020-02-25 10:53] rt4914 opened #712 "Lowfi: Updated picture selection"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/62215bbd-1f4e-448e-b370-19c4a06fa814/PC-MP-Add-Profile-PINs-Match-Error-1

Current:
<img width="174" alt="Screenshot 2020-02-25 at 4 22 35 PM" src="https://user-images.githubusercontent.com/9396084/75240909-23562280-57eb-11ea-8692-e2ac6be80733.png">

New as per mock:
<img width="160" alt="Screenshot 2020-02-25 at 4 22

[2020-02-25 10:59] rt4914 commented on #655
Assigning this to @SayantanBanerjee16

[2020-02-25 10:59] rt4914 commented on #712
Assigning this to @aggarwalpulkit596

[2020-02-25 11:00] rt4914 commented on #691
Assigning this to @gunishjain

[2020-02-25 11:01] aggarwalpulkit596 commented on #712
You self assigned this

[2020-02-25 11:01] rt4914 opened #713 "Lowfi Landscape Topic Practice"
Mock Link: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0fa47d7c-e10d-4097-8773-0efa665a323f/TP-Practice-

## Checklist
- [ ] Landscape lowfi mock
- [ ] Test cases

[2020-02-25 11:02] rt4914 commented on #713
Assigning this to @Sarthak2601

[2020-02-25 11:02] rt4914 opened #714 "Lowfi landscape Topic Revision"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/dad2a9ff-ce33-4f00-894a-ec07dbb12797/TP-Revision-

Add test cases for the same.

[2020-02-25 11:03] rt4914 commented on #714
@abhinavraj23 This is not regular landscape UI, in this you will need to manage the layout manager and test cases will be critical. Test this across various device sizes.

[2020-02-25 11:05] abhinavraj23 commented on #714
Sure @rt4914 I would start working on it ASAP!

[2020-02-25 11:25] rt4914 commented on #712
That was done because the list was not showing your name, now it is visible. Thanks.

[2020-02-25 11:27] rt4914 commented on #714
Thanks.

[2020-02-25 14:33] abhinavraj23 commented on #714
@rt4914 I think here we have to make the landscape layout for fragment inside a fragment, it's a bit complicated I guess, will take time, will try to complete it by tomorrow

[2020-02-25 16:03] Sarthak2601 commented on #713
@rt4914 please check the ui changes. Also please tell me what all test cases are required here ?

[2020-02-25 21:21] AminullahTajMuhammad commented on #660
@rt4914 Would you explain more this issue.

[2020-02-26 06:04] rt4914 commented on #660
Actually this PR is blocked on its other parts so we cannot work on it write now.

Also, please go through this https://github.com/oppia/oppia-android/wiki and sign the CLA and fill the survey form. Once that is done, we will assign you issues to get started. Thanks :)

[2020-02-26 06:55] AminullahTajMuhammad commented on #660
@rt4914 Done CLA Servey and Thanks :)

[2020-02-26 06:56] AminullahTajMuhammad commented on #660
@rt4914 I want to contribute in this project for GSoC. Would you guide that what is the procedure to made a proposal for this repo.

[2020-02-26 07:31] rt4914 commented on #660
I cannot guide you on the proposal, that is something that you will have to work on your own as a part of GSoC. I can only assign you work items to work on Oppia, so that when you writing your proposal the knowledge you have gathered during your code contribution will help you write a better proposal.
Also, these type of questions should be asked in `https://gitter.im/oppia/oppia-android` as it he

[2020-02-26 10:27] AminullahTajMuhammad commented on #660
Okay Thanks.

[2020-02-26 15:50] #655 closed, assigned to rt4914

[2020-02-26 15:55] rt4914 commented on #692
Assigning this to @SayantanBanerjee16 now.

[2020-02-26 19:47] SayantanBanerjee16 commented on #692
Okay sir, am on it.

[2020-02-27 08:54] rt4914 opened #721 "Missing test cases for AddProfileActivity"
AddProfileActivity is missing some test cases mainly related to profile selection.

`AddProfileActivityTest` does not include any test case related to image selection. Need to add test cases to make sure that on click on `default-avatar / profile-picture` it opens the Camera intent and image can be selected from there.

[2020-02-27 08:55] #712 closed, assigned to aggarwalpulkit596

[2020-02-27 09:07] rt4914 opened #722 "Lowfi Walkthrough - Part 1"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/9bb5c0e5-f77e-4c28-8d79-18515d0e9711/WT-Walkthrough-1-3/

At first we need only following things:
- [ ] WalkthroughActivity
- [ ] WalkthroughActivityPresenter
- [ ] WalkthroughFragment
- [ ] WalkthroughFragmentPresenter

The walkthrough fragment will contain following things
- [ ] Header - This should be functional
<i

[2020-02-27 09:07] rt4914 commented on #722
Assigned to @aggarwalpulkit596

[2020-02-27 10:01] #713 closed, assigned to Sarthak2601

[2020-02-27 14:13] Sarthak2601 commented on #677
@rt4914 Is this functionality currently working ? Because when I ran the app on my device, it wasn't.
And in this issue I have to write only the test cases or there's more to it ?

[2020-02-27 16:17] rt4914 commented on #677
This functionality is not in develop yet. And so you have to first finish this functionality and then add test cases according to your code.

[2020-02-27 16:26] Sarthak2601 commented on #677
Oh great ! On it :)

[2020-02-27 18:22] AminullahTajMuhammad commented on #691
@rt4914 Is this only UI to Implement?

[2020-02-27 18:29] rt4914 commented on #691
For now yes, but actually in this the important thing is test cases, once your UI is ready for landscape you will need to write test cases which are important.

[2020-02-28 08:00] rt4914 opened #726 "Lowfi Landscape: ProfileList"
Mock:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0a5af83d-4b03-4a71-bf01-0c0a6e97e0c2/RG-MN-Register-Empty-34/

Currently app supports only portrait mode for `ProfileListActivity`, so add landscape mode too.
Add test cases for landscape mode too.

[2020-02-28 08:57] rt4914 opened #727 "Lowfi Landscape: ProfileEditActivity"
Mock:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/5b8a8202-6081-4855-8c49-94a8a5b4c559/RG-MN-Register-Empty-35/

Currently app supports only portrait mode for ProfileEditActivity, so add landscape mode too.
Add test cases for landscape mode too.

[2020-02-28 08:58] rt4914 opened #728 "Lowfi Landscape: ProfileRenameActivity"
Mock:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/b7447549-a7c3-48a9-8ad2-876d0a347708/RG-MN-Register-Empty-36/

Currently app supports only portrait mode for `ProfileRenameActivity`, so add landscape mode too.
Add test cases for landscape mode too.

[2020-02-28 09:01] rt4914 commented on #726
Assigning this to @Czeach

[2020-02-28 09:28] rt4914 commented on #588
Unassigning @tanhengyeow because of inactivity.

[2020-02-28 10:01] rt4914 opened #729 "Lowfi Walkthrough - Part 2"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/9bb5c0e5-f77e-4c28-8d79-18515d0e9711/WT-Walkthrough-1-3/

Add Viewpager to `WalkthroughFragment` and use these view pager to change between three fragments.  Also, remove previously introduced `next` button.
- [ ] WalkthroughWelcomeFragment and its presenter - with one button to got to next fragment
- [ ] WalkthroughT

[2020-02-28 10:03] vaibhavjain30699 commented on #727
@rt4914 I would like to work on this issue.

[2020-02-28 10:12] rt4914 commented on #727
Hello @vaibhavjain30699 Thanks for showing your interest. Have a look at this https://github.com/oppia/oppia-android/wiki.

Once you sign the CLA and finish the survey form, we can assign you issues.

[2020-02-28 10:28] vaibhavjain30699 commented on #727
Done

[2020-02-28 10:32] rt4914 commented on #727
@vaibhavjain30699 You can work on this, I will be sending you an email soon. Thanks & Welcome to Oppia :)

[2020-02-28 10:32] rt4914 commented on #727
Assigning this to @vaibhavjain30699

[2020-02-28 14:20] #662 closed, assigned to nobody

[2020-02-28 16:47] #722 closed, assigned to aggarwalpulkit596

[2020-03-01 06:45] rob729 commented on #728
@rt4914 Can I work on this issue?

[2020-03-02 06:00] rt4914 commented on #728
Actually this has been assigned to @aggarwalpulkit596

Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-03-03 03:24] anandwana001 commented on #721
@rt4914 Could you please elaborate it, what test cases? profile selection is a part of `ProfileChooserFragment`

Are you talking about adding test cases for the following code unit from `ProfileChooserFragmentPresenter`?
[code]
Clicking on a profile takes to the `HomeActivity` when the pin is empty and not admin. This is the test cases which I found missing. If this is the one, can I work on it?

[2020-03-03 04:54] rt4914 commented on #721
@anandwana001 I have updated the description, Thanks.

Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-03-03 04:59] anandwana001 commented on #721
Can I work on this issue?

[2020-03-03 05:01] rt4914 commented on #721
Please, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-03-03 05:55] rt4914 commented on #721
Assigned to @anandwana001

[2020-03-03 13:44] rt4914 opened #734 "Update test case as per new StoryProgress and TopicProgress"

[2020-03-04 06:05] rt4914 opened #735 "Reenable Test cases in RecentlyPlayedFragmentTest [Blocked on #683]"
RecentlyPlayedFragmentTest test cases are not working correctly because of changes in domain layer code. Fix these test cases once the OngoingStoryList is fetched correctly.

[2020-03-04 07:20] rt4914 opened #736 "Introduce StoryProgress in app module"
For introducing `StoryProgess` in app module successfully we need to make changes in following ways:

- [x] Create ProfileProrgessActivity
- [x] Create OngoingTopicListActivity
- [x] Create CompletedStoryListActivity
- [x] Set livedata in Navigation Drawer Header
- [x] PromotedStory should be dynamic and update test cases too.
- [x] Change test cases for TopicLessonsFragment
- [x] Change test case

[2020-03-04 07:56] veena14cs commented on #703
This is fixed in the PR #710 & #711 .

[2020-03-04 07:56] #703 closed, assigned to veena14cs

[2020-03-04 08:22] veena14cs commented on #646
This is fixed in PR #647 , #648 and #649.

[2020-03-04 08:22] #646 closed, assigned to nobody

[2020-03-04 18:18] chrk2205 commented on #682
@PrarabdhGarg @rt4914 what exactly should we do in this??
i would like to work on this

[2020-03-04 18:33] Scarlet0103 commented on #588
@rt4914 I would like  to work on this....

[2020-03-05 07:01] rt4914 commented on #682
Currently we cannot work on this as the title suggests that it is blocked on landscape mode.

[2020-03-05 07:01] rt4914 commented on #682
Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-03-05 07:11] rt4914 commented on #588
@scarlet0103 Thanks for showing interest in Oppia.

Checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-03-05 07:13] #721 closed, assigned to anandwana001

[2020-03-05 07:17] chrk2205 commented on #682
@rt4914
I already signed the CLA and set my project up.

[2020-03-05 07:21] rt4914 opened #739 "Hifi: Admin Auth Screen"
Admin Auth Screen UI needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/a2dbcfcd-3bb4-4fe7-b746-fe867b6c4915/PC-MP-Admin-Authorization-Admin-Controls-Empty-/
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a0c84710-3970-4488-beea-6fe6abbdb38a/PC-MP-Admin-Authorization-Admin-C

[2020-03-05 07:21] rt4914 commented on #739
Assigning this to @anandwana001

[2020-03-05 07:23] rt4914 commented on #682
You haven't filled the survey form. Please fill that too.

[2020-03-05 07:31] #728 closed, assigned to aggarwalpulkit596

[2020-03-05 08:22] #658 closed, assigned to Luffy18346

[2020-03-05 08:29] chrk2205 commented on #682
Sorry,
Done. @rt4914

[2020-03-05 08:35] rt4914 commented on #682
Assigned to @chrk2205

[2020-03-05 09:08] PrarabdhGarg commented on #682
@chrk2205 has your doubt been resolved, or do you still have some doubt in this issue?

[2020-03-05 09:39] chrk2205 commented on #682
@PrarabdhGarg
All I have to do is override Oncofiguration method and call orientation landscape method . Is it?
Did I miss something ??
Thanks

[2020-03-05 09:50] PrarabdhGarg commented on #682
@chrk2205 you don't have to override anything.
You have to replace
`activityScenario.onActivity { activity ->
      activity.requestedOrientation = Configuration.ORIENTATION_LANDSCAPE
    }`
code with the custom defined `orientationLandscape()` function, as used in `ConceptCardFragmentTest.kt`

[2020-03-05 10:06] rt4914 commented on #682
@chrk2205 I think this PR will create issues for you based on the other PRs which are in progress right now. I will be assigning you one new issue to get started.

[2020-03-05 10:12] chrk2205 commented on #682
@rt491 okay.

[2020-03-05 11:25] rt4914 opened #742 "Highfi: Topic Overview"
TopicOverview needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/19cfbacf-854c-4c7d-8691-3b3d117e1866/TP-Overview-

Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/4e4d2aec-fd30-4c20-91ed-daf434f47a89/TP-Info-

Mocks have been created for MDPI Devices.
Make sure that the scre

[2020-03-05 11:26] rt4914 commented on #742
Assigning this to @Chrk2205

[2020-03-05 11:55] anandwana001 commented on #739
@rt4914  Does this issue mean creating a complete flow, starting from creating [Administrator Controls](https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/ad1de6e2-1d5d-4ac3-888c-58d036c7ede4/PC-MP-Profile-Chooser-) button on ProfileChooserFragment, clicking on which opens the [Administrator Controls Screen](https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b

[2020-03-05 12:28] PrarabdhGarg commented on #739
@anandwana001 the basic UI for these screens is already ready. However, you can consider the current UI as a rough version of the final UI we want.
Since this is a Hifi issue, the aim of this issue is to polish these UI screens and make them pixel perfect as per the given mocks

[2020-03-05 13:14] anandwana001 commented on #739
I was checking the layout files, `admin_auth_activity.xml`. The flow I understand from the current code in develop branch is clicking on add profile button open these screen. Its portrait version has a different title(_Add Profile_) on toolbar than landscape(_Administrator Authorization Required_). Just to confirm, are these the basic UI file which is needed to work on this issue?

<img width="935

[2020-03-05 13:19] PrarabdhGarg commented on #739
@anandwana001 yes, they are the layout files you need to work on

[2020-03-05 17:32] rt4914 commented on #739
Don't worry about the title just focus on pixel perfect UI part. Once this is done, we will finalise the Toolbar title too.

[2020-03-05 17:33] rt4914 opened #743 "Need to finalise the Toolbar title for AdminAuthScreen."
Mock 1: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/a841330e-efe5-4bdb-acdd-4d6e52a59571/PC-MP-Admin-Authorization-Add-Profile-Empty-

Mock 2: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/a2dbcfcd-3bb4-4fe7-b746-fe867b6c4915/PC-MP-Admin-Authorization-Admin-Controls-Empty-

[2020-03-05 17:44] virajpatel2411 commented on #659
Can I work on this?
@rt4914

[2020-03-05 17:46] virajpatel2411 commented on #552
Can I work on this issue @rt4914 ??

[2020-03-05 17:49] PrarabdhGarg commented on #659
@virajpatel2411 have you checked out the [wiki](https://github.com/oppia/oppia-android/wiki)? At oppia, you are assigned tasks only after you have filled up the CLA.

[2020-03-05 17:53] virajpatel2411 commented on #659
@PrarabdhGarg I have already filled the CLA and survey form. Now, can I be asigned?

[2020-03-05 17:55] PrarabdhGarg commented on #659
@virajpatel2411 In that case, please ask @rt4914

[2020-03-05 18:08] rt4914 commented on #552
Welcome to Oppia. Actually this issue is not on priority right now. So I will assign you one new issue and email it to you soon. Thanks.

[2020-03-05 18:21] rt4914 opened #744 "Highfi: Topic Practice"
TopicPractice needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/f403add1-079a-4202-9975-efe04c076290/TP-Practice-Unchecked-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0fa47d7c-e10d-4097-8773-0efa665a323f/TP-Practice-

Mocks have been created for MDPI Devices.
Make sure

[2020-03-05 18:23] rt4914 commented on #744
Assigned to @virajpatel2411

[2020-03-05 19:43] rt4914 opened #745 "High fi: StoryActivity"
`StoryActivity` needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5abb0ace-19ee-48b8-8154-919154f924d2/TP-CL-Chapter-List-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/cce938d6-e079-4761-bac0-8bde22ac6348/TP-CL-Auto-Scroll-Button-

**NOTE** - The toolbar in Landscape mode

[2020-03-05 19:49] rt4914 commented on #745
Assigned to @Scarlet0103

[2020-03-06 07:40] rt4914 opened #747 "Make Intent Keys/ Argument Keys consistent across activities/fragments [BLOCKED]"
Currently different activities/fragments are following different naming convention, so the final naming convention should be:
`<FILE_NAME>_<CONTENT_TYPE>_<KEY> = "<FileName>.<content_type>"`

Also for fragment tags it should be
`<FRAGMENT_NAME>_TAG =  "<FragmentName>.Tag" `

For Example:
Added new naming convention for `story` package related keys/ids
`STORY_ACTIVITY_INTENT_EXTRA_INTERNAL_PROFILE_

[2020-03-06 12:00] virajpatel2411 commented on #744
Thanks @rt4914, On it. Will text you once I have created a PR.

[2020-03-06 13:30] rt4914 commented on #653
Assigned to @MohamedMedhat1998

[2020-03-06 13:55] virajpatel2411 commented on #744
@rt4914  Do I just have to change the list of checkboxes?
Because other things look right.

[2020-03-06 15:25] rt4914 commented on #744
You don't need to change the content, content is dynamic. You need to make sure that the UI is matching as per the mocks.

Check this: https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-03-06 16:01] SayantanBanerjee16 commented on #694
@rt4914 Thanks for assigning me this issue.

Few queries,

1) What implementation related to the search button in the toolbar?
2) What should happen when I select a question in the FAQ List?

[2020-03-06 16:47] PrarabdhGarg commented on #694
@SayantanBanerjee16 the functionality for the search button does not have to be implemented as of now.
Also,  as far as I am aware,  we don't have to add an on click functionality on the FAQ's as of now.

[2020-03-06 17:11] MohamedMedhat1998 commented on #653
I finished the landscape design.
What do you mean by test cases, unit tests?
If so, which library should I use

[2020-03-06 17:40] PrarabdhGarg commented on #653
@MohamedMedhat1998 yes you have to write unit tests. We are using the Espresso library for testing.
You can refer this https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing for help.

[2020-03-06 19:41] chrk2205 commented on #742
while pushing the following error is showing up. what should i do??

[2020-03-07 00:38] #692 closed, assigned to SayantanBanerjee16

[2020-03-07 01:20] anandwana001 commented on #739
1. What about the Submit button in the landscape mock?
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a0c84710-3970-4488-beea-6fe6abbdb38a/PC-MP-Admin-Authorization-Admin-Controls-Empty-

2. Just to confirm, In the given mock colour of subtitle _Enter the Administrator’s PIN to access Administrator Controls._ is different for Landscape(#333333) and Portr

[2020-03-07 01:40] anandwana001 commented on #739
We have custom `org.oppia.app.profile.ProfileInputView` view used at multiple places which do not give us more modification area. Current start margin of TextView inside it is 32dp(28+4) whereas according to the mock we need 36dp(28+8) margin.

![Screenshot_2020-03-07-06-51-51-659_org oppia app](https://user-images.githubusercontent.com/25057618/76134198-8abd6f00-6042-11ea-80d2-328b24a03abe.jpg)
!

[2020-03-07 05:59] anandwana001 commented on #739
After using the Accessibility Scanner, the report I get having few suggestions for the cancel button, input and submit button from our `org.oppia.app.profile.ProfileInputView`.

1. Item label - this suggestion can be fulfilled if we add `hint` to our input.
**What hint we should add? Should we add label text as it is?**

2. Text Contrast - if we use `oppiaSecondaryText=#666666` as `hintTextColor`

[2020-03-07 08:43] chrk2205 commented on #742
![bp](https://user-images.githubusercontent.com/44704035/76140160-89f5fe80-607d-11ea-9d36-51bfbb69680f.jpeg)
![bL](https://user-images.githubusercontent.com/44704035/76140162-8c585880-607d-11ea-91ad-5274dde2cc52.jpeg)
before editing.

![Ap](https://user-images.githubusercontent.com/44704035/76140171-a72acd00-607d-11ea-87e8-6fb421adba03.jpeg)
![Al](https://user-images.githubusercontent.com/44704035

[2020-03-07 15:34] MohamedMedhat1998 commented on #653
@rt4914 I've created a pull request, please check it and tell me if that is what I'm supposed to do or not

[2020-03-07 18:46] chrk2205 opened #756 "Admin Pin in Add profile"
In the first activity, while  creating a new user application asks for ADMINISTRATOR PIN
if the Pin goes wrong the box turns RED. It looks better if the box become empty as in the Admin Account login

can i work on this??
![WhatsApp Image 2020-03-08 at 00 03 38](https://user-images.githubusercontent.com/44704035/76150541-c3585980-60d1-11ea-847d-3fe73ca07b73.jpeg)
.

[2020-03-07 19:26] chrk2205 commented on #742
@rt4914  please check my PR.

[2020-03-08 18:20] NullByte08 commented on #606
@BenHenning Can I work on this issue?

[2020-03-09 05:51] BenHenning commented on #606
Hi @NullByte08. I’m glad to hear that you’re interested in profiles work. This is a rather large issue that requires a design document to describe what approach we should take since it affects future features as well as a large portion of the existing codebase.

I suggest first beginning with a [starter issue](https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+fir

[2020-03-09 08:09] rt4914 commented on #739
What about submit button? I am not able to understand.

2. If case of disparities use portrait mode colors/texts.

[2020-03-09 08:11] rt4914 commented on #739
@anandwana001

Don't add hint for now.

Instead you can do one thing:
1. Create a PR in whichever way you find it correct.
2. In PR mention all the points which are confusing and which are at disparities, so once that is done, we can talk with the designer and take her suggestions.

[2020-03-09 08:50] rt4914 commented on #756
@chrk2205 Actually, this implementation is correct, because we should not remove/add anything which user is not expecting, if we remove the content, user will be disturbed because that is not something that user has done.

Thanks for you suggestion, but in this case current implementation is more4 user friendly. You can close this PR. Thanks.

[2020-03-09 10:49] NullByte08 commented on #606
@BenHenning Thank you for your response. All the starter issues are already assigned. I was thinking of working on this issue since I am experienced in frameworks like Dagger 2.
I would like to work on this issue.

Sorry for the late response, I have mid-semester exams until 14th march.

[2020-03-09 11:04] rt4914 commented on #606
Also, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-03-09 13:17] NullByte08 commented on #606
I never signed a CLA before and I don't understand the consequences of it. Information on the internet is quite overwhelming, and there are varying opinions about it. I am a bit hesitant about signing it.

[2020-03-09 14:10] rt4914 commented on #606
@seanlip Can you reply to this.

[2020-03-09 19:24] Luffy18346 opened #762 "Replace ProfileChooserActivity to LoginActivity where necessary."
~This issue was brought up in PR #755 .~

~As the login functionality is not implemented till now, currently we are redirecting user to ProfileActivity (Soon to be ProfileChooserActivity) in case if user wants to logout or exit the current account. So, once Login functionality is implemented, we need to redirect user to LoginActivity~

To resolve this issue, remove the TODO corresponding to it per

[2020-03-09 21:58] seanlip commented on #606
Hi @NullByte08 -- the CLA we use is the standard Apache CLA. The main reason we ask for it is so that we have explicit permission to distribute the code that you contribute to the project to others under the open source Apache license.

You are welcome not to sign it, but in that case, we cannot accept PRs from you. I hope that helps clarify.

[2020-03-10 08:37] rt4914 commented on #672
Closed via #674

[2020-03-10 08:37] #672 closed, assigned to rt4914, nikitamarysolomanpvt

[2020-03-10 08:41] rt4914 opened #764 "Lowfi Landscape: HelpActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a949ea57-5166-4081-bec8-ed4c16d319d0/HL-Help-Menu-

Also, currently the develop code does not contain `Send Feedback` option and this is correct. We don't need `Send Feedback` option as of now.

Add landscape mode for HelpActivity and write appropriate test cases.

[2020-03-10 08:43] rt4914 opened #765 "Full Highfi: HelpActivity"
`HelpActivity` needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8e1bbf3c-3287-4149-b599-5d5a5486809d/HL-Help-Menu-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a949ea57-5166-4081-bec8-ed4c16d319d0/HL-Help-Menu-

Note: Avoid `Send Feedback` option.

Mocks have been create

[2020-03-10 09:29] NullByte08 commented on #606
@seanlip Thank you for your reply. I have signed the CLA and filled out the survey.

[2020-03-10 12:27] rt4914 commented on #620
Unassigned @netomarin from this issue.

[2020-03-10 12:28] rt4914 commented on #623
Unassigned @netomarin from this issue.

[2020-03-10 12:33] rt4914 commented on #620
Assigned to @NullByte08

[2020-03-10 12:33] rt4914 commented on #623
Assigned to @NullByte08

[2020-03-10 12:36] Luffy18346 commented on #762
As the login functionality is not implemented till now, currently we are redirecting user to `ProfileActivity` (Soon to be `ProfileChooserActivity`) in case if user wants to logout or exit the current account. So, once Login functionality is implemented, we need to redirect user to LoginActivity

[2020-03-10 12:42] rt4914 commented on #726
@rounak122 Thanks for showing interest in Oppia. But one important thing, if an issue has already been assigned to someone else that means that you cannot work on that because the `Assigned` person will be working on that. So please keep note of this thing.

For this PR it is fine considering that @czeach is not working on this PR.

[2020-03-10 12:43] rt4914 commented on #726
Unassigned to @rounak122

[2020-03-10 12:43] Luffy18346 opened #766 "Replace ProfileActivity to ProfileChooserActivity where needed"
Currently, the activity in which user chooses the profile is named as `ProfileActivity` in code which is not appropriate according to the functionality of that activity. So, all the files corrensponding to choosing user profiles need to be changed to `ProfileChooserActivity`

Changes that are need to done:

Rename `ProfileActivity` to `ProfileChooserActivity`
Rename `ProfileActivityPresenter` to `

[2020-03-10 12:48] #659 closed, assigned to Luffy18346

[2020-03-10 14:35] #660 closed, assigned to Luffy18346

[2020-03-10 19:58] #623 closed, assigned to rt4914

[2020-03-10 20:11] rt4914 opened #768 "Lowfi Landscape: Review mode - Skill Review Card [Blocked #773]"
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5d907b23-a75e-4f8b-8c59-afd3c734c53e/RM-Revision-Mode-

Landscape mode for Review card does not exist but can be done similar to current portrait mocks. Also, add test cases for landscape mode. Checkout other landscape mode implementation for reference.

[2020-03-10 20:12] rt4914 commented on #768
Assigned to @thelosergeek

[2020-03-10 20:12] rt4914 commented on #343
Assigned to @thelosergeek

[2020-03-10 20:23] rt4914 opened #769 "Lowfi Landscape: AppVersionActivity"
Mock Link: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/7ce387fc-c8c5-4993-8888-2e3b9bc64b52/RG-MN-Register-Empty-31

Add test cases for orientation mode also.

[2020-03-10 20:23] rt4914 commented on #769
Assigned to @Chrk2205

[2020-03-10 20:24] rt4914 opened #770 "Full UI High-fi - AppVersionActivity"
`AppVersionActivity` needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/79e0846d-de5c-42b7-93aa-f93d4995616d/AC-AV-App-Version-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/7ce387fc-c8c5-4993-8888-2e3b9bc64b52/RG-MN-Register-Empty-31

Mocks have been created for HDPI Devic

[2020-03-10 20:24] rt4914 commented on #770
Assigned to @Chrk2205

[2020-03-10 20:53] rt4914 commented on #714
@abhinavraj23 Any updates on this issue.

[2020-03-10 21:02] rt4914 opened #771 "Lowfi Landscape: OptionsActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/7d442317-dd5a-40e7-adbd-25285d010874/OP-Options-Menu-

OptionsActivity should support landscape mode. Also add test cases for landscape mode too.

[2020-03-10 21:03] rt4914 opened #772 "Lowfi Landscape: AppLanguageActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2b8387b0-5ec6-4e42-bffa-c039128b2f12/OP-App-Language-/

`AppLanguageActivity` should support landscape mode. Also add test cases for landscape mode too.

This issue is currently blocked because the landscape mode mocks are not ready yet.

[2020-03-10 21:12] rt4914 commented on #744
@virajpatel2411 Any updates on this issue?

[2020-03-10 21:16] iaminamkhan commented on #343
I think you're talking about this card activity:

https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/1adacef0-f245-4115-a0e0-d1c2e7d5a0bb/TP-Revision-

Because in the above link I can see that's a text view only.

Please correct me if I am wrong.

[2020-03-10 21:20] rt4914 commented on #343
@thelosergeek Actually I the link is correct but I see that the current app is missing some data. So I will de-assign you from this issue and assign you a new issue.

[2020-03-10 21:21] rt4914 commented on #771
Assigned to @thelosergeek

[2020-03-10 21:25] rt4914 opened #773 "Lowfi Landscape Review Card"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5d907b23-a75e-4f8b-8c59-afd3c734c53e/RM-Revision-Mode-/

Review card is missing dummy data, also `Return to Topic` button is also missing at the bottom of the page.
Also, finish the landscape mode for the same, with proper test cases.

[2020-03-11 04:40] virajpatel2411 commented on #744
@rt4914 Was busy last few days. Will complete it by tomorrow. Sorry.

[2020-03-11 07:27] rt4914 opened #777 "Lowfi: ProfileProgress - profile picture and edit"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/7fb5929e-4652-4412-bf8c-64d94f4159f9/UP-User-Profile-
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/7fcddeef-4d62-4565-b763-81e89f064a5d/UP-O-Forgot-PIN-Dialog-

Click on the image and edit should show a popup to either view the image or to edit the change.

Also, write test cases for this

[2020-03-11 11:43] Kushal-Gera commented on #727
I would love to work on this issue

[2020-03-11 11:53] Kushal-Gera commented on #772
I would love to work on this issue

[2020-03-11 11:58] Kushal-Gera commented on #771
I would love to work on OptionsActivity #771

[2020-03-11 12:02] Kushal-Gera commented on #771
#771 landscape activity is made with absolute ease

[2020-03-11 12:13] Kushal-Gera commented on #620
can you please assign it to me

[2020-03-11 16:35] rt4914 commented on #771
@thelosergeek is already working on this PR. I will assign you some other PR.

[2020-03-11 16:35] rt4914 commented on #772
Unassigned @Kushal-Gera

[2020-03-11 17:01] Kushal-Gera commented on #771
Oh
Ok sir.

[2020-03-11 17:15] Kushal-Gera commented on #771
Ok sir

On Wed, Mar 11, 2020, 10:05 PM Rajat Talesra <notifications@github.com>
wrote:

[2020-03-11 17:30] #742 closed, assigned to rt4914

[2020-03-11 19:07] abhinavraj23 commented on #714
@rt4914 sorry for the delay, will make the PR ASAP!

[2020-03-11 20:06] iaminamkhan commented on #771
@rt4914 Please review PR!

[2020-03-11 20:22] iaminamkhan commented on #343
@rt4914 I think the app is still missing some data.
Can you please check it?

[2020-03-11 20:47] iaminamkhan commented on #691
@rt4914 Can i Work on this?

[2020-03-12 08:18] rt4914 opened #787 "Lowfi Landscape: AudioLanguage Activity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/85cbe1f0-8405-472b-abb0-fc83a0680aca/OP-Default-Audio-Language-/

Also, add test cases for this implementation.

[2020-03-12 08:18] rt4914 opened #788 "Lowfi Landscape: StoryTextSize"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2eaf085a-c2a7-4b1d-b515-5b32f8642669/OP-Story-Text-Size-/

Also add test cases for this implementation.

[2020-03-12 10:08] rt4914 commented on #620
This has been assigned to @NullByte08

[2020-03-12 10:20] #764 closed, assigned to aggarwalpulkit596

[2020-03-12 10:36] rt4914 commented on #343
@thelosergeek This will take time in fixing and that's why I have de-assigned you from this. I will assign you new PR once your previous PR is finished. Also, you have created a wrong PR. I have mentioned details on your PR. https://github.com/rt4914/oppia-android/pull/1

[2020-03-12 10:43] rt4914 commented on #691
Please check `Assignees` section on the right. If it has been assigned to something that means that other person cannot work on this. Also, you will find that most of the issues are already assigned to someone, so in that case you can mention that you need more issues to work on in https://gitter.im/oppia/oppia-android

For now you have already been assigned one issue, but that PR was created on a

[2020-03-12 13:16] rt4914 opened #791 "Lowfi Landscape: OngoingTopicListActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/ce21cbf2-0439-47d7-bb37-005cfc6b9742/UP-Topics-in-Progress-

Also, please add test case for checking that item is visible in orientation change also. You will mainly need to do this in `OngoingTopicListActivityTest`

[2020-03-12 13:17] rt4914 commented on #791
Assigned to @virajpatel2411

[2020-03-12 15:02] virajpatel2411 commented on #791
@rt4914  Do I have to change anything in UI or I just have to add the test cases?

[2020-03-12 17:50] aggarwalpulkit596 commented on #777
@rt4914 pop-up here means a dialog box with 2 buttons right ?

[2020-03-12 17:51] aggarwalpulkit596 commented on #777
@rt4914 nm i've updated the mock url

[2020-03-12 17:55] rt4914 commented on #777
Actually previous link was more correct as it helps to know where we are showing that popup. Please update to that link only.

[2020-03-12 17:56] rt4914 commented on #777
Actually those are two options to be clear. You can check implementation of `CellularAudioDialogFragment`, `LanguageDialogFragment`, `StopExplorationDialogFragment`

[2020-03-12 18:04] aggarwalpulkit596 commented on #777
should i add both of the mocks?

[2020-03-12 18:22] rt4914 commented on #777
@aggarwalpulkit596 yeah sure. BTW, reviewed your previous PR

[2020-03-12 18:24] rt4914 commented on #791
You will need to create the landscape layout, currently app supports only portrait mode. Also, for landscape mode you will need add test cases also. Check implementation in other activities which have landscape mode.

[2020-03-13 04:37] virajpatel2411 commented on #791
Okaayy
And @rt4914  Where in the app will I find this page? I mean in the running app not in studio?

[2020-03-13 08:50] #729 closed, assigned to aggarwalpulkit596

[2020-03-13 10:25] #769 closed, assigned to nobody

[2020-03-13 10:30] rt4914 commented on #788
Assigned to @chrk2205

[2020-03-13 10:31] rt4914 commented on #787
Assigned to @chrk2205

[2020-03-13 10:49] rt4914 commented on #791
Take latest, code from develop, inside Home - open navigationDrawer - Click on Profile - Click on `Topics in Progress`.

Now, you will be able to see that screen only when there is some progress in the app which obviously does not exists right now. So you can do this copy [this code](https://gist.github.com/rt4914/5258375c8d2cca81b6a5b62ccab8e143) in `HomeFragmentPresenter` (Make sure this code is

[2020-03-13 11:27] virajpatel2411 commented on #791
Okay

[2020-03-13 17:33] #745 closed, assigned to rt4914

[2020-03-13 17:37] rt4914 commented on #727
Assigning this to @Scarlet0103 as there has been no updates in this in 2 weeks.

[2020-03-13 17:45] rt4914 opened #797 "Lowfi Landscape: Admin Controls"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/e740e866-d87a-4115-9a05-9b4f788dbc92/RG-MN-Register-Empty-30/

Also, add test cases for the same.

[2020-03-13 17:46] rt4914 opened #798 "Hifi: Admin Controls"
`AdminControls` needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/54511d86-eeca-4bf9-a891-22c0a6aa9a08/PC-MP-Admin-Controls-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/e740e866-d87a-4115-9a05-9b4f788dbc92/RG-MN-Register-Empty-30/

Mocks have been created for HDPI Device

[2020-03-13 17:51] rt4914 opened #799 "Lowfi: Different routes and text for AdminAuth"
Mock 1 :  https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a0c84710-3970-4488-beea-6fe6abbdb38a/PC-MP-Admin-Authorization-Admin-Controls-Empty-

Mock 2: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/785546bd-b160-4d9b-b5d6-53ddc1b4a80a/PC-SP-Admin-Authorization-Empty-

Now, Mock 1 comes when click on `Admin Controls` in [ProfileChooser](https:

[2020-03-14 08:57] Luffy18346 commented on #727
@Scarlet0103 Here are the mocks for both landscape and portrait mode for ProfileEditActivity. You can start working on the issue.

Landscape Mode:

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/5b8a8202-6081-4855-8c49-94a8a5b4c559/RG-MN-Register-Empty-35/

Portrait Mode:

https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/1c3f250f-32e5-4299-8187

[2020-03-14 16:01] rt4914 commented on #727
@Luffy18346 Thanks for this.

[2020-03-14 16:09] Scarlet0103 commented on #727
Rajat,
       Can you please review this issue
https://github.com/oppia/oppia-android/pull/803
can you please check whether the mentioned test cases are correct

Thanks...

On Sat 14 Mar, 2020, 9:31 PM Rajat Talesra, <notifications@github.com>
wrote:

[2020-03-14 20:56] #797 closed, assigned to Luffy18346

[2020-03-14 21:04] rt4914 opened #805 "Highfi: ProfileEditActivity"
<FILE NAME> needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/1c3f250f-32e5-4299-8187-75d7c3dbe6b6/Settings-1-Profile-Chantel-Disabled-5/
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/5b8a8202-6081-4855-8c49-94a8a5b4c559/RG-MN-Register-Empty-35/

Mocks have been created fo

[2020-03-14 21:05] rt4914 commented on #805
Assigning this to @Scarlet0103 considering that lowfi landscape was done perfectly by @Scarlet0103 . While working on this follow everything mentioned on https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-03-14 21:28] #727 closed, assigned to rt4914

[2020-03-15 18:38] rt4914 opened #809 "Introduce StoryThumbnail in stories"
Currently there are no story thumbnails in `StorySummary`. And also, `PromotedStory` uses a thumbnail.

So, we need to introduce `StoryThumbnail` which will be used in `PromotedStory` as well as `CompletedStoryList`

[2020-03-16 04:13] rt4914 opened #811 "Lowfi: Walkthrough Fragment - Part 1"
Mock : https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/9bb5c0e5-f77e-4c28-8d79-18515d0e9711/WT-Introduction-

WalkthroughWelcomeFragment implementation should match as per mocks.

[2020-03-16 04:14] rt4914 opened #812 "Lowfi: WalkthrougTopicListFragment Part 2"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/92becc49-3a10-498b-885c-4cde95f73d51/WT-Topic-List-

WalkthroughTopicListFragment implementation should match as per mocks.

[2020-03-16 04:15] rt4914 opened #813 "Lowfi: WalkthroughFinalFragment - Part 3"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/25ac193c-0645-4872-9e46-a408cdf2d5b7/WT-Topic-Confirmation-Unchosen-

`WalkthroughFinalFragment` implementation should match mocks.

[2020-03-16 05:55] #809 closed, assigned to rt4914

[2020-03-16 08:32] aggarwalpulkit596 commented on #811
Should I make these in Landscape as well?

[2020-03-16 09:23] aggarwalpulkit596 commented on #812
@rt4914 Can you please explain this workflow how to display the list what action to do perform on user selection etc

[2020-03-16 09:54] rt4914 commented on #812
Actually this implementation resembles the implementation of `HomeFragment` in a lot of ways because in that also we are showing list of topics. But I would suggest you to focus on part-1 first as the concept which you will use in that can easily be used in here too. If you want to work on this right now, you can check various implementations of such lists in `OngoingTopicListActivity`, `Completed

[2020-03-16 10:01] #694 closed, assigned to SayantanBanerjee16

[2020-03-16 10:06] rt4914 commented on #811
Not in these issues, once portrait is finalised, changing to landscape won't be that hard.

[2020-03-16 11:04] rt4914 opened #816 "Domain layer function to update profile avatar"
Domain layer `ProfileManagementController` needs `updateProfileAvatar` function.

[2020-03-16 14:35] rt4914 commented on #765
@SayantanBanerjee16 Update your PR title also.

[2020-03-16 14:43] SayantanBanerjee16 commented on #765
Done :)

[2020-03-16 18:40] rob729 commented on #788
@rt4914 Can I work on this issue?

[2020-03-17 09:11] #777 closed, assigned to aggarwalpulkit596

[2020-03-17 10:47] nikitamarysolomanpvt opened #821 "Shadow for question player toolbar"
Toolbar shadow for question player.
## Mock
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8fbb663a-39aa-4be1-83bd-73bde6f85dcc/PM-Q1-Fraction-Input-No-Answer-

[2020-03-17 12:02] nikitamarysolomanpvt opened #823 "Question Player Content item UI update -Hi-fi"
Question Player Content item UI update -Hi-fi
## Mock
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8fbb663a-39aa-4be1-83bd-73bde6f85dcc/PM-Q1-Fraction-Input-No-Answer-

[2020-03-17 16:00] Scarlet0103 commented on #805
@rt4914 should I keep the top_margin and bottom_margin for profile_delete button in the land-scape view as mentioned in the mocks?
which is 60dp and 108dp

[2020-03-17 17:39] #811 closed, assigned to aggarwalpulkit596

[2020-03-17 19:50] rt4914 commented on #816
Closed via #817

[2020-03-17 19:50] #816 closed, assigned to rt4914

[2020-03-18 07:44] rt4914 commented on #805
@Scarlet0103 Yes. Also, please do not mention these things in issue as it become hard to understand. For best practices, create a PR and in that mention your doubts so that we can check the code also to understand things in better way.

[2020-03-18 20:20] aggarwalpulkit596 commented on #812
@rt4914 should I make a separate adapter for this or should reuse the existing code because TopicListViewHolder will be exactly same as before

[2020-03-18 20:36] aggarwalpulkit596 commented on #812
@rt4914 also how do I have to handle the selection of a topic because in this PR I have to make things in order to fulfill the needs of the last walkthrough fragment

[2020-03-19 04:29] #683 closed, assigned to nobody

[2020-03-19 04:47] rt4914 commented on #772
Assigned this to @MohamedMedhat1998

[2020-03-19 04:54] #787 closed, assigned to rt4914

[2020-03-19 05:57] rt4914 commented on #653
Unassigned @MohamedMedhat1998

[2020-03-19 05:57] rt4914 commented on #677
Unassigned @Sarthak2601

[2020-03-19 06:11] rt4914 commented on #812
There are two approaches to this:
1. We can create a new adapter, but in long run we will definitely replace that adapter with a `BindableAdapter`.
2. We can directly use `BindableAdapter` at this stage only.

I would suggest you to apply step 2 instead of 1, as learning about `BindableAdapter` is important for this project.
Now as a reference you can actually see the implementation in `StoryActiv

[2020-03-19 07:40] #714 closed, assigned to abhinavraj23

[2020-03-19 07:43] #770 closed, assigned to rt4914

[2020-03-19 07:59] #756 closed, assigned to nobody

[2020-03-19 08:09] #788 closed, assigned to rt4914

[2020-03-19 11:44] SayantanBanerjee16 commented on #653
@rt4914 Can you please assign me this issue? This issue really took my interest. @chrk2205 Can you shift to another issue if you hadn't started working on this? Thanks :)

[2020-03-19 11:48] rt4914 commented on #653
Will wait for @chrk2205 's reply on this.

[2020-03-19 11:53] rt4914 opened #833 "Landscape Lowfi: CompletedStoryList"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/48c041b4-dad1-4972-8564-4783766e8af7/UP-Stories-Completed-

For reference you can check implementation https://github.com/oppia/oppia-android/pull/827/files

Also add test cases for the same.

[2020-03-19 11:54] rt4914 opened #834 "Lowfi Landscape: ProfilProgressActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/8509e066-bfbb-4140-b329-3d43a4d20c9d/UP-User-Profile-

Also add test cases for the same.

[2020-03-19 12:29] MohamedMedhat1998 commented on #772
@rt4914  Where is the "AppLanguageActivity" ?
I can't find it (I'm currently in a new branch that is created from the develop branch)

[2020-03-19 12:43] rt4914 commented on #772
https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/app/options/AppLanguageActivity.kt

[2020-03-19 12:48] SayantanBanerjee16 commented on #833
Thanks for assigning, I will start working on this ASAP.

[2020-03-19 13:07] chrk2205 commented on #653
@SayantanBanerjee16 @rt4914
I started working on this but if your really interested, you can take up this issue. :+1:
 Instead can I take up this https://github.com/oppia/oppia-android/issues/833 issue :)

[2020-03-19 13:07] SayantanBanerjee16 commented on #833
@rt4914 I couldn't understand what to implement. There is neither portrait mode present nor any view model or recycler view present. So what exactly I need to implement?

[2020-03-19 13:12] rt4914 commented on #833
Yeah, actually this is tricky, now logically if understand, you cannot have a `CompletedStoriesList` because you haven't finished the chapters yet and you haven't made any progress in that. So this is what you can do, you can mark some fake progress using `StoryProgressTestHelper`.
Reference: https://gist.github.com/rt4914/5258375c8d2cca81b6a5b62ccab8e143 (Line number: 39, 92, 93) This is just for

[2020-03-19 13:16] SayantanBanerjee16 commented on #653
@chrk2205 Okay, I am fine with switching issues.

[2020-03-19 13:17] rt4914 commented on #653
Great. Thanks for your mutual understanding. Let's exchange your issues.

[2020-03-19 13:18] SayantanBanerjee16 commented on #833
@rt4914 I have assigned @chrk2205 this issue considering I will work in #653

[2020-03-19 14:38] aggarwalpulkit596 commented on #812
@rt4914 actually I was using the second approach and already gone through all these files /codes
Thanks anyway

[2020-03-19 16:07] rt4914 commented on #812
@aggarwalpulkit596 Okay, so where you are exactly stuck right now?

[2020-03-19 16:08] aggarwalpulkit596 commented on #812
Nowhere just trying to implement without taking multiple reviews this time😅

[2020-03-19 16:20] rt4914 commented on #812
Great to know that. :-)

[2020-03-19 18:17] aggarwalpulkit596 commented on #812
@rt4914 should I make a separate file for topic_summary view as well?
Because that is bind to some ViewModel and i can't use that

[2020-03-19 20:46] #654 closed, assigned to PrarabdhGarg

[2020-03-20 08:04] #805 closed, assigned to rt4914

[2020-03-20 08:06] #739 closed, assigned to anandwana001

[2020-03-20 08:28] rt4914 opened #837 "Highfi: DefaultAudioLanguage"
`DefaultAudioLanguageActivity` needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/f8cf647c-85ea-4900-b98a-9449dd3a82a6/OP-Default-Audio-Language-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/85cbe1f0-8405-472b-abb0-fc83a0680aca/OP-Default-Audio-Language-

Mocks have been c

[2020-03-20 10:28] #744 closed, assigned to rt4914

[2020-03-20 10:44] rt4914 opened #839 "Highfi: StoryTextSizeActgivity"
`StoryTextSizeActivity` needs to be pixel perfect with the mocks.
Portrait Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2eaf085a-c2a7-4b1d-b515-5b32f8642669/OP-Story-Text-Size-
Landscape Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2eaf085a-c2a7-4b1d-b515-5b32f8642669/OP-Story-Text-Size-

Mocks have been created for HDPI Devic

[2020-03-20 11:05] #620 closed, assigned to rt4914

[2020-03-20 11:56] #812 closed, assigned to aggarwalpulkit596

[2020-03-20 12:03] MohamedMedhat1998 commented on #772
@rt4914 I have finished the implementation of the landscape mode
What test cases should I write?

[2020-03-20 12:18] rt4914 commented on #772
Actually I cannot provide you direct test cases otherwise it would be spoon-feeding.
Hint: https://github.com/oppia/oppia-android/blob/develop/app/src/sharedTest/java/org/oppia/app/options/OptionsFragmentTest.kt

In this file, there are two test cases which are related to orientation change. Try to implement similar test cases in this file for your `AppLanguageActivity`

[2020-03-20 12:40] rt4914 opened #840 "Lowfi: TopicInfo needs `See More button`"
TopicInfo needs see more button.
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/19cfbacf-854c-4c7d-8691-3b3d117e1866/TP-Overview-/

Description can be of max character from 100  → 240 characters
Therefore `See More` button has been introduced.
The textview should be: 5 lines long when collapsed and 12 lines max when expanded

[2020-03-20 18:32] #834 closed, assigned to rt4914

[2020-03-21 08:07] #726 closed, assigned to rt4914

[2020-03-21 08:48] #735 closed, assigned to nobody

[2020-03-23 03:08] nikitamarysolomanpvt opened #847 "question-player progress-bar hifi"
question-player progress-bar hifi

## Mock
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/4d4e4bd8-3755-41fc-bf83-3dcff5d5eee1/PM-Q2-Text-Input-No-Answer-

[2020-03-23 05:23] rt4914 opened #850 "Create a separate faqs.xml file for strings"
Currently there 8 faq strings mentioned in `strings.xml` file (for example: `faq_question_1`). We need to shift them to a separate faqs.xml file.

[2020-03-23 05:23] rt4914 commented on #850
Assigning this to @virajpatel2411

[2020-03-23 05:48] rt4914 opened #851 "Lowfi Landscape: WalkthroughWelcomeFragment"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2137efb6-6940-498d-8d7d-a8ea87e98410/UP-User-Profile-21

Currently in `develop` branch `WalkthroughActivity` does not support landscape mode.
This issue will introduce the landscape mode UI for welcome fragment in `WalkthroughActivity`

Also, write test cases in `WalkthroughWelcomeFragmentTest` file for landscape mode

[2020-03-23 05:51] rt4914 commented on #851
Assigning this to @AshAgarwal

[2020-03-23 06:28] rt4914 commented on #645
Unassigned @EdOates84

[2020-03-23 09:44] nikitamarysolomanpvt opened #854 "question player interactions items and answer items hifi"
High- fi of
- Input interactions items
- Feedback item
- Previous response item
- Submitted answer item
##  Mock

https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/bed05d74-07dd-475b-abbe-295709b6c7ed/PM-Q2-Text-Input-Continue-

[2020-03-23 13:28] #653 closed, assigned to SayantanBanerjee16

[2020-03-23 14:00] rt4914 opened #855 "On back press in ReviewCardActivity TopicActivity should open and not HomeActivity"
On back press in ReviewCardActivity TopicActivity should open and not HomeActivity

You can find review card by following these steps:
Home -> Select Fractions Topic -> Click on `Review/Revision` tab -> click on an item. This new activity is `ReviewCardActivity`

[2020-03-23 14:09] rt4914 opened #856 "Reordering in Android Manifest file."
In android manifest file we have been following the alphabetical convention in activity declaration.

Some of these activities are not in alphabetical order. Rearrange them.

[code]

[2020-03-23 14:09] rt4914 commented on #856
Assigned to @MohamedMedhat1998

[2020-03-23 14:16] #588 closed, assigned to abhinavraj23

[2020-03-23 14:16] rt4914 commented on #855
Assigned this to @MohamedMedhat1998

[2020-03-23 15:38] MohamedMedhat1998 commented on #856
Will the sort be case sensitive?
For example,
`.help.HelpActivity` should come before `.help.faq.FAQActivity` because the capital "H" is before the lower "f" in the ASCII code?

[2020-03-23 15:39] rt4914 commented on #856
no.

[2020-03-23 17:11] #856 closed, assigned to rt4914

[2020-03-23 18:42] rt4914 commented on #691
Unassign @gunishjain

[2020-03-23 18:44] rt4914 commented on #771
Unassigned @thelosergeek

[2020-03-23 19:40] rt4914 commented on #833
Unassigning @chrk2205 as he is focused towards GSoC proposal and has already finished two PRs.

[2020-03-23 20:14] rt4914 opened #862 "Mark progress for chapter finished and recently played"
- [ ] Mark chapter as completed to save the progress
- [ ] Mark chapter as recently played as soon as the app opens.

[2020-03-23 21:56] rt4914 opened #863 "Lowfi landscape ProfileRenameActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/b7447549-a7c3-48a9-8ad2-876d0a347708/RG-MN-Register-Empty-36

Added test cases for landscape mod along with implementation.

[2020-03-23 22:53] #855 closed, assigned to rt4914

[2020-03-24 17:46] #791 closed, assigned to rt4914

[2020-03-24 17:46] #833 closed, assigned to rt4914

[2020-03-24 19:01] #863 closed, assigned to rt4914

[2020-03-24 22:38] rt4914 opened #870 "Lowfi Landscape HomeActivity"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0dbdd000-6738-4f6b-9026-0d16737b7baa/HP-Home-Page-

Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/ce2a96de-2c98-41f9-91e6-6ca0d8135fb2/HP-Home-Page-Card-3-

Add new test cases for landscape mode.

[2020-03-24 22:51] rt4914 opened #872 "Need proper naming convention for xml view ids"
Currently xml files have ids which are similar to ids in other xml files too(ambiguous view ids). We should create a convention for naming view ids, which should follow `screen_name_view_description_view_type`.
For example:
`home_promoted_story_topic_name_text_view`
`recently_played_ongoing_story_topic_name_text_view`

Contributors working on this issue should review current view naming system and

[2020-03-25 10:44] rt4914 opened #874 "Lowfi Landscape TopicLessonsFragment"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/f0c4284e-f2a6-4052-98e2-778932290c08/TP-Lessons-

Also, add test cases for the same.

[2020-03-25 17:03] #798 closed, assigned to Luffy18346

[2020-03-25 19:05] rt4914 opened #877 "Single Page FAQ"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/195a7967-e7f0-4f62-a99c-8fac560e41d8/HL-FAQ-Question-Opened-current-

Show single page FAQ with question and answer. Also added test cases

[2020-03-26 08:39] #874 closed, assigned to rt4914

[2020-03-26 08:39] #772 closed, assigned to rt4914

[2020-03-26 08:39] #771 closed, assigned to rt4914

[2020-03-26 08:40] #870 closed, assigned to rt4914

[2020-03-26 09:37] rt4914 opened #880 "Add test for markChapterCompleted in StateFragment [Blocked on #495]"
Once #495 is merged into develop, write test cases for `Return to Topic` functionality in app module code. This will be done later because in current develop test cases in player package are failing but updating those test cases is not a good idea as they are getting updating in #495 along with entire implementation change.

[2020-03-26 10:11] #734 closed, assigned to nobody

[2020-03-26 12:19] #691 closed, assigned to rt4914

[2020-03-26 16:34] #799 closed, assigned to Luffy18346

[2020-03-26 20:57] rt4914 opened #883 "Lowfi Landscape Navigation Drawer"
Currently in mocks we do not have the landscape mode for navigation drawer but we still need this because HomeActivity and TopicActivty does support landscape mode.

Add test cases for this.

[2020-03-26 23:01] rt4914 opened #885 "HighFi: OngoingTopicList, OngoingStoryLost, CompletedStoryList"
Portrait Mocks: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2b6c8e95-5ac7-4472-bc2b-1c318a3f7e5c/HP-Continue-Playing-
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/a80d1be8-d4b4-4fee-a46d-296b5aa6a110/UP-Topics-in-Progress-
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/f54ae7d1-9530-44d6-8783-21559b13635c/UP-S

[2020-03-27 00:52] rt4914 opened #887 "Hifi Onboarding Flow"
Landscape: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/1f86ca4e-795e-4a75-8784-fea53864b94b/RG-OB-Onboarding-1-

Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5981ecd6-2a80-4d82-8715-3e92294d53b5/RG-OB-Onboarding-1-

Accessibility test should also pass.

[2020-03-27 10:12] #883 closed, assigned to rt4914

[2020-03-27 10:34] #877 closed, assigned to rt4914

[2020-03-27 11:52] #765 closed, assigned to SayantanBanerjee16

[2020-03-27 12:49] rt4914 opened #892 "Highfi ProfileListActivity"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/ddc3dadf-10e4-45f6-aeea-eb8a330e00ff/Settings-1-Profile-1/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0a5af83d-4b03-4a71-bf01-0c0a6e97e0c2/RG-MN-Register-Empty-34/

The activity should pass accessibility test.

[2020-03-29 17:39] rt4914 opened #895 "Highfi Admin Auth"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/785546bd-b160-4d9b-b5d6-53ddc1b4a80a/PC-MP-Admin-Authorization-Add-Profile-Empty-1
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a0c84710-3970-4488-beea-6fe6abbdb38a/PC-MP-Admin-Authorization-Admin-Controls-Empty-

Accessibility tests should pass.

[2020-03-29 18:35] rt4914 opened #897 "Highfi Add Profile"
Mock:
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/c3809dea-7afa-4905-9a93-ea4273459a68/PC-SP-Add-Profile-Create-PIN-Empty-/
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/acdbeb30-745f-46da-b0fd-3d6a83f83937/PC-SP-Add-PIN-Dialog-Empty-/

[2020-03-29 19:25] rt4914 opened #899 "Highfi Navigation Drawer"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/79c56b13-218b-48fc-a403-b085d46953f3/Settings-Side-Menu-1

Landscape mock is not available but this mock is enough to convert the layout to landscape mock.

[2020-03-29 21:42] rt4914 opened #902 "Highfi OptionsActivity"
Mock:
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/2776cbb1-22b0-42c9-b70b-2136bdb361da/OP-Options-Menu-/
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/7d442317-dd5a-40e7-adbd-25285d010874/OP-Options-Menu-

[2020-03-29 22:44] rt4914 opened #905 "Highfi FAQListMain"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/63a98a9c-3b46-4ba6-87d0-2f6e7c70bbe4/HL-FAQ-no-Category-v2-

Currently the landscape mock for FAQListMain is not completely correct and is under discussion.

[2020-03-30 05:03] #905 closed, assigned to rt4914

[2020-03-30 06:05] rt4914 opened #907 "Highfi and content for FAQSingleActivity"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/195a7967-e7f0-4f62-a99c-8fac560e41d8/HL-FAQ-How-can-I-delete-v2-/

Data: https://docs.google.com/spreadsheets/d/1O9B8oZSXAS3RUm8w2JxHmWRHsh4bNHMOYSRCYLRFK84/edit#gid=0

[2020-03-30 06:27] #902 closed, assigned to rt4914

[2020-03-30 06:41] #895 closed, assigned to rt4914

[2020-03-30 07:27] #885 closed, assigned to rt4914

[2020-03-30 08:11] rt4914 opened #909 "Highfi StoryTextSize Activity"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/2eaf085a-c2a7-4b1d-b515-5b32f8642669/OP-Story-Text-Size-

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2eaf085a-c2a7-4b1d-b515-5b32f8642669/OP-Story-Text-Size-

[2020-03-30 08:24] #892 closed, assigned to rt4914

[2020-03-30 10:01] rt4914 opened #911 "Highfi ProfileRenameActivity"
Mock:
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/d0227921-1c24-4bb7-8667-a8fa5f4742dd/Settings-1-Profile-Chantel-Rename-1
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/b7447549-a7c3-48a9-8ad2-876d0a347708/RG-MN-Register-Empty-36/

[2020-03-30 10:01] rt4914 opened #912 "Highfi ProfileResetPinActivity"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/32c9276d-072c-4edf-abf9-435323bb475a/Settings-1-Profile-Chantel-Make-Admin-no-pw-3/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6f83fcd9-e72d-4941-a16f-6754a869e083/RG-MN-Register-Empty-37/

[2020-03-30 11:47] rt4914 opened #914 "Update TopicInfo test cases for XHDPI and XXHDPI and XXXHDPI devices"
Updates test cases for XHDPI and XXHDPI and XXXHDPI devices.

`TopicInfo` contains `See More` textview which follows following UI condition:
1. If the topic description is of 5 or less lines. -> Do not show `See More`
2. If the topic description is more than 5 lines -> Show `See More` which is clickable and changable to `See Less`

Now we need robust tests to check this functionality in `TopicInfo

[2020-03-30 12:02] #840 closed, assigned to nobody

[2020-03-30 12:28] rt4914 opened #915 "Selected Language in `AppLanguageActivity` should get reflected in entire app"
Currently the language selected in `AppLanguageActivity` is not getting set in the application on per profile basis. This functionality is need to make entire use of this activity.

[2020-03-30 14:23] rt4914 opened #917 "Highfi PinVerificationActivity"
Mock:
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/afb412a3-db42-4538-bbdd-7d38c84d963e/PC-NP-Shake-Error-
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6722d327-0ea3-4a80-8370-69ce85f308f5/RG-MN-Register-Empty-22

https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/686c27d1-f07b-4680-95da-7767d71558a4/PC-AP-Empty-

[2020-03-30 15:22] rt4914 opened #919 "Highfi Language Selection App and Audio"
Mock:
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/2b8387b0-5ec6-4e42-bffa-c039128b2f12/OP-App-Language-/
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2b8387b0-5ec6-4e42-bffa-c039128b2f12/OP-App-Language-/
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/f8cf647c-85ea-4900-b98a-9449dd3a82a6/OP-Default-Audio-Langu

[2020-03-31 07:50] rt4914 opened #921 "Orientation issue in test cases"
Currently all the `app` module test cases have been written keeping in mind that the emulator/mobile is in portrait mode. At the same time correct test cases for the landscape mode have also been written for the same. Now as per @nikitamarysolomanpvt suggestion's the test cases should be written in such a way that it should be independent of mobile orientation meaning that we can run all test case

[2020-03-31 10:06] #911 closed, assigned to rt4914

[2020-03-31 10:06] #912 closed, assigned to rt4914

[2020-03-31 10:06] #909 closed, assigned to rt4914

[2020-03-31 11:09] #919 closed, assigned to rt4914

[2020-03-31 17:51] rt4914 opened #923 "Lowfi Landscape PinPasswordActivity"
Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/afb412a3-db42-4538-bbdd-7d38c84d963e/PC-NP-Shake-Error-/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6722d327-0ea3-4a80-8370-69ce85f308f5/RG-MN-Register-Empty-22/

Add test cases for this landscape support.

[2020-03-31 21:13] #897 closed, assigned to rt4914

[2020-04-01 06:52] rt4914 opened #931 "Highfi Add Profile Activity"
This issue tracks the highfi work of AddProfileActivity

Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/60506b8a-25e6-4435-a660-bb62bc389d4c/PC-MP-Add-Profile-Empty-6/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/645052fe-103b-4ca0-8250-e3b0d50bb169/PC-SP-Add-Profile-/

[2020-04-01 15:42] BenHenning commented on #921
Some thoughts:
1. We need to make sure that we still test landscape functionality (we need to properly reset functionality so that tests start in a consistent experience)

2. Could we force portrait mode in the ``setUp`` method? In general, we might want a rule to properly reset everything between tests.

[2020-04-02 04:44] aggarwalpulkit596 commented on #813
@rt4914 Starting this today

[2020-04-02 05:10] #923 closed, assigned to rt4914

[2020-04-02 06:05] rt4914 opened #935 "Optimise app module test cases"
Currently all `app` module test cases pass for high-end devices like Pixel but we need to optimise these test cases to make sure that they pass on HDPI devices also, preferably `Nexus S - emulator`.

Except `player` package in test cases all test cases should pass on `HDPI` device.

When you create a new emulator device make sure that these three animations are turned off in developer options:
<im

[2020-04-02 06:15] rt4914 opened #936 "Optimise OngoingStoryList / Recommended Stories"
<img width="371" alt="Screenshot 2020-04-02 at 11 40 31 AM" src="https://user-images.githubusercontent.com/9396084/78216121-c418bb80-74d6-11ea-9748-a5236500c30c.png">

On `Home` screen there are list of ongoing stories/promoted stories. All these stories are promoted based on two factors:
1. If learner has opened one chapter but has never finished it, in that case that chapter will get promoted.
2

[2020-04-03 06:23] rt4914 opened #939 "Lowfi Landscape WalkthroughActivity"
Mocks:
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2137efb6-6940-498d-8d7d-a8ea87e98410/UP-User-Profile-21
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/7f7a12db-2dde-442c-a236-5953e36ca840/UP-User-Profile-22
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/f3384f81-32b2-40ee-b961-b153e77ac988/UP-User-Profile-23

[2020-04-03 06:33] #813 closed, assigned to aggarwalpulkit596

[2020-04-03 11:34] veena14cs opened #941 "Add radar effect in Hints and solution."
Add radar effect in hints and solution whenever a new hint appears.

Mock Links
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/e789f7c6-c677-4c76-b3e5-d603fd84d1e1/LM-Q5-HS-Hint-1-Notification-Dot-End-

Focus on animation and hifi of this yellow radar:
<img width="65" alt="Screenshot 2020-04-13 at 10 39 55 AM" src="https://user-images.githubusercontent.com/9396084/79093

[2020-04-07 04:44] rt4914 opened #947 "Highfi AddProfileActivity"
This issue tracks the full UI work of AddProfileActivity.

Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/04b9905f-d3ad-46e8-8e2a-e03f37033884/PC-SP-AD-Empty-

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/645052fe-103b-4ca0-8250-e3b0d50bb169/PC-SP-Add-Profile-

This screen should pass Accessibility tests too.
https://github.com/oppia/

[2020-04-07 05:22] NullByte08 commented on #632
@rt4914 Can I work on the `HomeFragment` task? I will replace both `TopicListAdapter` and `PromotedStoryListAdapter`.

[2020-04-07 05:29] rt4914 commented on #632
@NullByte08 I would suggest you to work on simpler one first as HomeFragment is the hardest one. Still its completely fine if you work on that.

[2020-04-07 05:33] Sarthak2601 commented on #632
@rt4914 Can I work on `TopicReview/Revision` task ?

[2020-04-07 05:34] rt4914 commented on #632
Sure.

[2020-04-07 05:58] NullByte08 commented on #632
@rt4914 Can I work on `FAQMain` task then?

[2020-04-07 06:01] SayantanBanerjee16 commented on #632
@rt4914 I think `HelpActivity` should also come in this list. Can you please add it and assign me `HelpActivity`?

[2020-04-07 06:06] rt4914 commented on #632
@SayantanBanerjee16 @NullByte08
The FAQMain is actually `HelpActivity` only. Now considering that @SayantanBanerjee16 has already worked on `HelpActivity` it would be nice to assign it to him. And also, as @NullByte08 had mentioned earlier regarding `HomeActivity` but I do think it is hard also, but as none of the easy one's are left now @NullByte08 can work on `HomeActivity` .

These arrangements

[2020-04-07 06:12] NullByte08 commented on #632
@rt4914 Alright sure.

[2020-04-07 07:32] rt4914 opened #948 "Highfi ConceptCard"
This issue tracks the Highfi work of Concept Card

Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/2cc59921-923b-43ef-bf11-cf7cc5f7d903/TM-EN-Concept-Card-/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/8d692ecd-b41a-4dbf-acbf-66d1ffbaf265/PM-Q2-IA-Answered-1-1/

[2020-04-07 07:33] rt4914 opened #949 "Highfi ProfileProgressActivity"
This issue tracks the highfi work of `ProfileProgressActivity`

Mock: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/7fb5929e-4652-4412-bf8c-64d94f4159f9/UP-User-Profile-/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/8509e066-bfbb-4140-b329-3d43a4d20c9d/UP-User-Profile-/

[2020-04-07 07:37] abhinavraj23 commented on #632
@rt4914 can I work on TopicPlay/Lessons?

[2020-04-07 07:42] rt4914 commented on #632
@abhinavraj23 @NullByte08 @Sarthak2601 @SayantanBanerjee16
NOTE for all.
The files that you are working on will also get used by other contributor on other PRs too, so you can expect merge conflicts if PR takes lot of time. Also, these are fairly difficult at the same time very good for knowledge tasks. So if you get stuck on any of these then you can leave a particular issue if you want, its comp

[2020-04-07 07:43] #143 closed, assigned to rt4914

[2020-04-07 11:36] #575 closed, assigned to veena14cs

[2020-04-07 11:54] anandwana001 commented on #555
is this issue solved?

[2020-04-07 16:36] rt4914 opened #951 "Lowfi ProfileChooserFragment - Controlling the UI"
The below two UIs are shown only when the app has never added even one profile other than Admin.
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/80891ce5-a7ce-405f-a882-b27ccfc0030b/PC-SP-Profile-Chooser-No-PIN-/
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8cdde1f8-daae-438c-8fdd-084e5d227080/PC-SP-Profile-Chooser-v2/

Once atle

[2020-04-07 20:39] rt4914 commented on #555
@anandwana001 No, and now it would be nice time to do it. You can self assign this issue to yourself.

[2020-04-07 20:49] rt4914 commented on #899
Closing this PR as it has a duplicate issue.

[2020-04-07 20:49] #899 closed, assigned to nobody

[2020-04-07 20:50] rt4914 commented on #931
Closing this PR as it is repeated on #947

[2020-04-07 20:50] #931 closed, assigned to rt4914

[2020-04-07 20:52] rt4914 opened #953 "Highfi HomeScreen"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/d47aa8de-a7a8-4d25-b011-5baefc7b7098/HP-Home-Page-Card-1-/

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0dbdd000-6738-4f6b-9026-0d16737b7baa/HP-Home-Page-/

This PR tracks the highfi work of Home Screen.

[2020-04-07 20:59] seanlip commented on #899
Hi @rt4914 -- when closing PRs due to duplicates, please could you state the number of the original issue? Thanks!

[2020-04-08 06:05] #948 closed, assigned to rt4914

[2020-04-08 06:29] #951 closed, assigned to rt4914

[2020-04-08 08:34] #953 closed, assigned to rt4914

[2020-04-08 10:59] anandwana001 commented on #555
I tried with this issue, got few points before making a PR.

We have two things here:
1. multiple date formats to choose from
[code]

2. Convert timestamp to string
[code]

Now, using this singleton class anywhere in the codebase we can have consistency across the app.

[2020-04-08 11:08] #531 closed, assigned to nobody

[2020-04-08 15:18] rt4914 commented on #555
@anandwana001 I think this should work directly.

[2020-04-08 15:36] anandwana001 commented on #555
This may help if in future we need multiple date formats like showing date time to user in exploration and much more. Bringing all types at one place will help.
Should we proceed with it?

[2020-04-09 08:26] anandwana001 commented on #872
for this issue are we going to convert all at once or we will go feature-wise/module wise?

[2020-04-09 08:30] anandwana001 commented on #914
Here is the gif of `See More` and `See Less` feature for reference

![oppia_feature_see_mpore_less](https://user-images.githubusercontent.com/25057618/78874586-3b67c580-7a6a-11ea-9641-614929feff49.gif)

[2020-04-09 09:08] anandwana001 commented on #637
Reference of Oppia-web: [here](https://github.com/oppia/oppia/wiki/If-your-presubmit-check-fails)

[2020-04-09 09:30] anandwana001 commented on #591
Same issue in the `AdminPinActivity`
1. Save button should be visible above the keyboard, when the keyboard is displayed
2. `DONE` / `TICK` in keyboard should submit the pin automatically

[2020-04-09 09:50] anandwana001 commented on #560
Starting from bottom few sections like Support, License and Keeping in touch will remain the same as https://github.com/oppia/oppia/blob/develop/.github/README.md.

- In place of Installation, we can put Android App Development Set up where we can provide Android Studio downloadable link.
- List of libraries we are using in our codebase
- Few Screenshots
- Link of our testing wiki page and Archite

[2020-04-09 10:26] rt4914 commented on #555
Yeah, this does work, you can create a PR for this.

[2020-04-09 10:28] rt4914 commented on #872
Module wise like `home` first and then `player`, etc.

[2020-04-09 12:57] anandwana001 commented on #555
I just checked and found a class called `DateTimeUtil`, I think rather than creating a new file for this we can put our method in this class. This class is also responsible for doing things with Date and Time.

[2020-04-09 21:55] chrk2205 commented on #949
@rt4914 @nikitamarysolomanpvt
I would like to work on this. can i?

[2020-04-10 04:51] virajpatel2411 commented on #914
@rt4914 There are already test cases written for See more and See Less in `TopicInfoFragmentTest`.
Now, for xHDPI, xxHDPI and xxxHDPI, what exactly do I need to do?
Do I have to write a test case checking with textview containing more text so that see more and see less can be checked for the required devices?

[2020-04-10 04:55] anandwana001 commented on #872
@rt4914  Can I work on it?

[2020-04-10 05:23] rt4914 commented on #949
@chrk2205 This issue has already been assigned to @nikitamarysolomanpvt . You can work on https://github.com/oppia/oppia-android/issues/941

[2020-04-10 05:26] rt4914 commented on #872
@anandwana001 Assigned to you, but make sure that you do this package-wise so that it becomes easier to manage. Meaning in each PR you can finish 2-3 activities.

[2020-04-10 05:29] rt4914 commented on #914
@virajpatel2411 Those tests do not make sure that whether 5 lines are visible or 3 lines are visible or 12 lines are visible. Also, based on number of lines  how does the `See More` textview visibility changes that is also not written in test cases.

You will need to write test cases like `testTopicInfoFragment_loadFragment_clickSeeMore_fullTopicDescriptionIsVisible`
`testTopicInfoFragment_loadFra

[2020-04-10 05:31] virajpatel2411 commented on #914
Got it....Thanks @rt4914

[2020-04-10 05:53] anandwana001 opened #961 "In AdminPinActivity save button and actionDone button issue"
In `AdminPinActivity` save button should be visible above the keyboard(scrollable) when the keyboard is displayed
`DONE` / `TICK` in keyboard should submit the pin automatically

![admin_pin_activity_save_btn_keyboard_issue](https://user-images.githubusercontent.com/25057618/78966388-6bbc6c00-7b1d-11ea-95da-85b1fd805230.gif)

[2020-04-10 10:38] anandwana001 commented on #555
**Seeking suggestion**

 I had created a utility class making it a `@Singleton`, which makes it hard to inject in binding adapters file. This will require to create an object everywhere in all methods.
`val oppiaDateTimeFormatter = OppiaDateTimeFormatter()`

Also, tried using the `object` for creating this utility class which makes everything easily accessible.
But, I didn't find anywhere in the w

[2020-04-10 13:29] MohamedMedhat1998 opened #962 "IME_ACTIONS doesn't work properly in ProfileInputView"
When using the IME_ACTIONS from the soft-keyboard like `next` and `done`  with the custom view `ProfileInputView`, they don't work properly.
Instead of moving to the next input field, the `next` action opens a new soft-keyboard.

![next](https://user-images.githubusercontent.com/8533363/78993984-5a845700-7b3f-11ea-887e-4770ddf11e82.gif)

This problem makes unit tests related to IME_ACTIONS fail.

[2020-04-12 04:45] virajpatel2411 commented on #914
@rt4914 There also is also a test case for checking if 5 lines are visible or not. Also, the change in visibility on clicking See More and See Less is also checked in two test cases. In the file, in a comment, it is written that add more data to Topic Description so that the test cases pass for the required devices.
Saying this, I can add more test cases which check both the number of lines i.e 5

[2020-04-13 05:07] rt4914 opened #966 "Domain Remove unnecessary thumbnail code"
In `thumbnail.proto` there is `SkillThumbnail` and `SubtopicThumbnail` we should remove them and use only `Lesson Thumbnail` where-ever image in needed for content.
This change will bring changes to other protos, domain layer code, domain-tests and also app layer code and its tests.

[2020-04-13 05:35] rt4914 opened #967 "TopicFragmentTest update landscape tests"
`TopicFragmentTest` contains test cases for landscape mode but currently they are getting ignored. Fix these test cases so that all landscape test cases pass for this file.

[2020-04-13 05:52] rt4914 opened #968 "Reenable all landscape tests in app module"
In app module there are test cases which are getting ignored right now because of landscape feature. Now we can reenable all these test cases. You can find these test cases by this line in various files:
`@Ignore("Landscape not properly supported") // TODO(#56): Reenable once landscape is supported.`

Note: You have to focus on `app` module tests only.

[2020-04-13 06:03] rt4914 commented on #914
I am actually not able to understand what do you mean?
From my perspective you can do following thing:
1. Start test case
2. Change the topic description during the running test case so that the description is long enough and now write following test cases:
`testTopicInfoFragment_loadFragment_clickSeeMore_fullTopicDescriptionIsVisible`
`testTopicInfoFragment_loadFragment_clickSeeLess_onlyFirstFive

[2020-04-13 06:06] virajpatel2411 commented on #914
@rt4914 Okay. So, I need to change the topic description just for the new test cases only. Right?

[2020-04-13 06:07] rt4914 commented on #914
@virajpatel2411 Yes, it would be realtime testing change.

[2020-04-13 06:08] virajpatel2411 commented on #914
Okayy. Thanks @rt4914

[2020-04-13 06:08] #935 closed, assigned to NullByte08

[2020-04-13 09:17] vinitamurthi opened #970 "Add an XML Linter to the project"
Our project has a lot of XML files that describe the look and feel of the application. We would like to add a linter that ensures all the XML files follow the same style.
[Xmllint](http://xmlsoft.org/xmllint.html) seems to be a good fit for us and we would like to use that for our XML files. If you have recommendations for some other linter, please reach out to me to discuss if its a viable option

[2020-04-13 09:21] vinitamurthi opened #971 "Add a Protobuf linter to the project"
We currently rely on reviewers to enforce the style guide for protobuf files. We would like to add a linter to automate this task.
[Buf](https://github.com/bufbuild/buf) seems to be a good fit for our requirements and we would like to use that for our project. If you have recommendations for some other linter, please reach out to me to discuss if we can use it in our project before adding it.

Ste

[2020-04-13 09:28] vinitamurthi opened #972 "Fix lint issues in the kotlin files"
After enabling ktlint in our repository, we noticed that there are several files that have lint errors being caught by ktlint. We would like to fix all the lint errors.

[Ktlint](https://github.com/pinterest/ktlint) has an auto-formatter that can fix most of the lint errors, whatever it cannot fix will need to be fixed manually.  You can run ktlint with the auto-formatter in the following way:
`kt

[2020-04-13 09:40] rt4914 opened #973 "Fix app module tests for Roboelectric"
Currently, the `app` module test cases are passing on `Espresso` but they should also pass on `Robolectric`.  Fix these below mentioned files to make sure that the tests pass on `Robolectric`.

You can run robolectric tests by following these steps: https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing#running-roboelectric-tests

Also, make sure that you assign yourself one task only a

[2020-04-13 13:21] SayantanBanerjee16 opened #975 "Nit update in HelpActivity"
Some NIT changes in HelpActivity:-

1) In `HelpItems.kt` , `getHelpItemForPosition` are not getting used anymore. So it can be removed.
2) In `help_fragment.xml`, `viewModel.helpItemItemList` can be written as `viewModel.helpItemList`.

[2020-04-13 17:09] anandwana001 commented on #171
@BenHenning Tried this issue using `AsyncListDiffer` and setting the new data inside our `setData(newDataList: List<T>)` with `differ.submitList(buildNewList(newDataList))`

Video link - https://drive.google.com/drive/folders/1HAfzcLl2BkSddAjuUuCBJAmf5RwP9Atn?usp=sharing

Before
![Before](https://user-images.githubusercontent.com/25057618/79196034-f0282b00-7e4c-11ea-8267-9f2aa57cda54.gif)

After
!

[2020-04-13 18:14] chrk2205 commented on #941
@rt4914 @veena14cs
am i supposed to create animation for that??

[2020-04-13 22:26] abhinavraj23 commented on #773
@rt4914 I have made the landscape version of the revision card please update regarding what dummy data do we need to add and what should be the layout for Return to Topic Button?

[2020-04-14 05:29] #975 closed, assigned to SayantanBanerjee16

[2020-04-14 05:29] #967 closed, assigned to SayantanBanerjee16

[2020-04-14 05:54] #961 closed, assigned to nobody

[2020-04-14 05:55] #591 closed, assigned to nobody

[2020-04-14 06:34] NullByte08 commented on #970
@vinitamurthi Can I work on the first task? I was thinking of using `lint` provided by Android studio itself.

[2020-04-14 06:48] #914 closed, assigned to virajpatel2411

[2020-04-14 08:50] rt4914 commented on #941
@chrk2205 Yes, thats part of this issue.

[2020-04-14 08:53] rt4914 commented on #773
@abhinavraj23
1. I will take care of dummy data, so you can avoid that for now.
2. If you scroll the mock, you will see `Return to Topic` button at the bottom.

[2020-04-14 09:49] nikitamarysolomanpvt opened #980 "In HDPI device shadow looks odd for edit profile image thumbnail."
In HDPI device shadow looks odd for edit profile image thumbnail in profile progress activity.
Tested on Nexus S.
<img width="199" alt="Screenshot 2020-04-14 at 11 55 27 AM" src="https://user-images.githubusercontent.com/9396084/79192734-e69bc480-7e46-11ea-858d-144f0a64a9cf.png">
https://github.com/oppia/oppia-android/pull/998#discussion_r411155467

[2020-04-14 11:05] vinitamurthi commented on #970
Sure you can work on this. The Android Studio lint command works for every file right? I am worried that lint would end up affecting our kotlin/protobuf files as well

[2020-04-14 11:05] vinitamurthi commented on #970
Another thing to keep in mind is that we need to run the linter on circleCI as well, which will not have android studio installed. Also avoid using gradle linting because we will be switching to bazel soon

[2020-04-14 14:38] NullByte08 commented on #970
We can manually set up the `lint` for particular files and exclude other files.

`lint` is a standalone tool which can be installed using sdkmanager from command line and run from command line itself without having to install Android Studio or Gradle. But I am not at all familiar with circleCI.

[2020-04-14 15:37] vinitamurthi commented on #970
Okay, let's first verify if it will work as expected for CircleCI as well as on individual machines. One thing to consider is that different people would have different android SDK versions installed so it would be good to verify that the lint tool wouldn't get affected by that. Also, It may be a good idea to look into CircleCI and the configuration we have set up (You can see that [here](https://

[2020-04-14 15:38] vinitamurthi commented on #970
It would be a good idea to write this down into a small design doc, and we can review it before going forward!

[2020-04-14 17:43] BenHenning opened #985 "P2p lesson transfer support"
The app needs functionality to ensure users can locally transfer lessons via peer-to-peer mechanisms to ensure minimal lesson access for cases when internet connectivity is scarce or unavailable.

[2020-04-15 06:57] veena14cs opened #986 "Crash on ProfileRestPinActivity."
There is crash on pressing back navigation button on ProfileResetPinActivity.

[2020-04-15 10:09] veena14cs commented on #986
Fixed this issue in #987

[2020-04-15 10:09] #986 closed, assigned to veena14cs

[2020-04-15 10:30] veena14cs opened #988 "Issue with Profile picture."
When 1st time profile picture is added it is updated in all the places like navigation drawer, profile edit page and profile chooser page.  Next time when we edit that profile picture it is only updated in profile chooser. Navigation drawer and profile edit page has old image.

![Screenshot_20200415-155540](https://user-images.githubusercontent.com/16301028/79327266-cdbc0d80-7f31-11ea-895a-15ddebc

[2020-04-15 10:33] veena14cs opened #989 "Crash on Profile edit page landscape."
Change profile image in portrait mode, now change orientation and click on edit image.

Error

[code]

[2020-04-16 07:03] #966 closed, assigned to Sarthak2601

[2020-04-16 07:13] rt4914 commented on #850
Finished in #878

[2020-04-16 07:13] #850 closed, assigned to rt4914

[2020-04-16 07:13] rt4914 commented on #839
Closed via #926

[2020-04-16 07:13] #839 closed, assigned to Sarthak2601

[2020-04-16 09:35] #949 closed, assigned to nikitamarysolomanpvt

[2020-04-16 10:15] nikitamarysolomanpvt opened #991 "Android studio reformatter issue"
Rearranging of tags whenever code reformatter is used.

[2020-04-16 10:44] #180 closed, assigned to nobody

[2020-04-16 17:38] vinitamurthi opened #993 "Add documentation for style guides. [Blocked: #970, #971]"
Now that we are creating linters for Kotlin, XML, and Protobuf, we should ensure we have a style guide that lists the rules that will be enforced by the linters.

Blocked by #970 and #971

[2020-04-16 22:10] abhinavraj23 commented on #973
@rt4914 please assign me one of these tasks.

[2020-04-16 23:25] BenHenning opened #994 "Integrate a bot to enforce layout style guidelines"
The guidelines mentioned https://github.com/oppia/oppia-android/wiki/Coding-style-guide#layout-files should be straightforward to enforce with a GitHub check via a custom action or bot. We might be able to leverage Oppia bot for this (once and if we integrate it with this repository), or look into a custom solution for it.

/cc @vinitamurthi since this falls under dev workflow

[2020-04-17 07:10] SayantanBanerjee16 commented on #973
@rt4914 Can you assign me some of this task. Also, this task means that we would be running the previously written tests in Roboelectric, or writing new tests based on previous tests?

[2020-04-17 07:23] rt4914 commented on #973
You can just run the previously written test cases in Roboelectic and which every test fails, fix them and make sure that it passes on Espresso as well as Roboelectric

[2020-04-17 08:22] SayantanBanerjee16 commented on #973
@rt4914 So I followed the steps given in the link above and all the tests in `AppVersionActivityTest.kt ` passed. Now can you please assign me files 4,5,6 in the list above. Thanks :)

![Screenshot (101)](https://user-images.githubusercontent.com/43978143/79548040-72655900-80b2-11ea-901f-30f491dadacd.png)

[2020-04-17 17:18] nikitamarysolomanpvt opened #997 "Add Profile hifi"
Add Profile hifi

https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/60506b8a-25e6-4435-a660-bb62bc389d4c/PC-MP-Add-Profile-Empty-6

https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/645052fe-103b-4ca0-8250-e3b0d50bb169/PC-SP-Add-Profile-

[2020-04-18 08:37] nikitamarysolomanpvt opened #999 "AddProfileActivityTest.kt fix Test cases"
AddProfileActivityTest.kt  Test cases are failing

[2020-04-19 06:53] virajpatel2411 commented on #973
@rt4914 Assign me any one of these tasks. Thanks.

[2020-04-20 04:34] rt4914 commented on #862
Closed via #879 #881

[2020-04-20 04:34] #862 closed, assigned to rt4914

[2020-04-20 04:35] rt4914 commented on #837
Closed via #920

[2020-04-20 04:35] #837 closed, assigned to nobody

[2020-04-20 04:37] rt4914 commented on #743
Closed via #808

[2020-04-20 04:37] #743 closed, assigned to nobody

[2020-04-20 06:15] rt4914 opened #1000 "Update the color of status bar in various screens"
The status bar color in various android screens is inconsistent. Update status bar color code as per the mocks and spreadsheet:
https://docs.google.com/spreadsheets/d/1XphP6nWoUdOZn9pY2kdgfqMWfJjMfKMb98MXM5rp2HY/edit#gid=0
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/

[2020-04-20 06:19] rt4914 opened #1001 "Common simple_toolbar.xml file"
All xmls activities/fragments are using toolbars at various places but out of all these toolbars below mentioned design is the most common design.

<img width="381" alt="Screenshot 2020-04-20 at 11 47 28 AM" src="https://user-images.githubusercontent.com/9396084/79719709-c3688d80-82fc-11ea-9b54-dd9f64e9b787.png">

This design should have a common `simple_toolbar.xml` file which should be used in v

[2020-04-20 07:17] nikitamarysolomanpvt commented on #999
fixed in https://github.com/oppia/oppia-android/pull/998.

[2020-04-20 07:17] #999 closed, assigned to nikitamarysolomanpvt

[2020-04-20 08:22] #773 closed, assigned to abhinavraj23

[2020-04-20 09:29] SayantanBanerjee16 commented on #973
@rt4914 `FAQSingleActivityTest` Roboelectric tests passed.
I am assigning myself the next two files in the list.

![Screenshot (105)](https://user-images.githubusercontent.com/43978143/79736468-7514b800-8317-11ea-8586-590e0683748e.png)

[2020-04-20 10:05] nikitamarysolomanpvt opened #1003 "Verification PIN hifi"
pin verification landscape and general hifi
## Mocks
Portrait
https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/afb412a3-db42-4538-bbdd-7d38c84d963e/PC-NP-Shake-Error-
Lanscape
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6722d327-0ea3-4a80-8370-69ce85f308f5/RG-MN-Register-Empty-22

[2020-04-20 10:11] virajpatel2411 commented on #973
@rt4914 In `CompletedStoryListActivityTest`, 8 out of 9 tests are failing for Roboelectric and all of then are passing in Espresso. The failed tests show the error of  PerformException, so maybe there seems to be an issue with the `perform()` method. So, what do you suggest to change, because I am not getting what is wrong with the method if all the tests are passing for Espresso.

[2020-04-20 11:31] NullByte08 commented on #1001
@rt4914 Can I work on this?

[2020-04-20 11:33] rt4914 commented on #1001
@NullByte08 Yeah sure. Just to be clear it will bring changes to a lot of files and also test case files possibly. So better fix this in multiple PRs.

[2020-04-20 11:49] NullByte08 commented on #1001
@rt4914 ok

[2020-04-20 13:47] abhinavraj23 commented on #973
@rt4914 for the tests concerning dialog-box opening or navigation-bar opening, it would not work with roboelectric in the same way as it works in espresso, thus for these we may need to write separate tests, I have been able to successfully write tests for dialogBoxes in roboelectric but those don't work in espresso, thus we may need to write separately for these tests

[2020-04-20 19:07] Sarthak2601 commented on #973
All Robolectric tests pass in `FAQListFragmentTest`

![FAQListFragmentRoboelectricTest](https://user-images.githubusercontent.com/53938155/79788949-1119e000-8367-11ea-9b68-b0c5998a6b69.png)

[2020-04-21 04:43] anandwana001 commented on #1001
It will be included in the required `XML` files, so what will be the good suggested `id` for that `include` tag?

[2020-04-21 06:40] NullByte08 commented on #1001
`activity_name_back_arrow_toolbar` for include tag id. And `back_arrow_toolbar` for layout file perhaps?

[2020-04-21 07:11] rt4914 commented on #973
@abhinavraj23 Its write to add new test cases as per requirement but each and every test case should pass on both espresso and roboelectric. So you can just create a PR and we can figure out from that.

[2020-04-21 07:12] rt4914 commented on #973
@virajpatel2411 It can happen that tests pass on espresso and fails on roboelectic and that's why we have this issue to track everything. Have you tried searching for solutions for those errors on internet?

[2020-04-21 08:19] #555 closed, assigned to anandwana001

[2020-04-21 08:48] virajpatel2411 commented on #973
Yes, but I didn't find anything helpful. Imk, there resides some issue with `perform()` method as in every  test case in Roboelectric the `PerformException` is thrown. Now, what should I do?

[2020-04-21 10:03] rt4914 opened #1007 "ProfileInputView high-fi fix"
PR #998 changes the margin around the custom view `ProfileInputView` which actually changes the UI everywhere this UI is getting used. We need to fix all those files.

[2020-04-22 08:34] #1003 closed, assigned to nobody

[2020-04-22 13:26] nikitamarysolomanpvt opened #1009 "Onboarding Flow portrait UI changes as per new mocks"
Onboarding Flow portrait UI changes as per new mocks
## Mock
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/7aa006a4-26e4-4525-9609-69795411159a/RG-OB-Onboarding-4-v1-

[2020-04-23 05:15] rt4914 commented on #973
@virajpatel2411 You can either prepare a document of what all things you have tried and the errors you have faced so that we can have a look.
2. You can pick a new issue to work on from this list.

But the main point is that you will need to give information in detail so that we can have a look at the problem.

[2020-04-23 05:24] virajpatel2411 commented on #973
Okay...Will share the details once I have prepared it. Thanks.

[2020-04-23 06:51] virajpatel2411 commented on #973
@rt4914 https://docs.google.com/document/d/12vTSL8eW9LMtPmxSGFnWvmQfJumJ4BOdBduqeUm8vmw/edit?usp=sharing.
This is the link of the document I prepared. Hope it helps you understand the problem faced.

[2020-04-23 07:08] rt4914 opened #1012 "High-fi Walkthrough"
Portrait: https://xd.adobe.com/view/0687f00c-695b-437a-79a6-688e7f4f7552-70b6/screen/9bb5c0e5-f77e-4c28-8d79-18515d0e9711/WT-Walkthrough-1-3/

Landscape: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/2137efb6-6940-498d-8d7d-a8ea87e98410/UP-User-Profile-21/

Otter Image Link: https://drive.google.com/a/google.com/file/d/1Jsjfx2A1RWMr--tcKFH71Igh9pUSqMXP/view?usp=sharing

[2020-04-23 12:31] #939 closed, assigned to aggarwalpulkit596

[2020-04-24 06:13] virajpatel2411 commented on #973
@rt4914 Any updates for further work?

[2020-04-24 06:28] rt4914 commented on #973
@veena14cs PTAL at this issue.

[2020-04-24 06:30] rt4914 commented on #851
Closed via #943

[2020-04-24 06:30] #851 closed, assigned to nobody

[2020-04-24 06:31] virajpatel2411 commented on #973
@veena14cs This is the link to document.
https://docs.google.com/document/d/12vTSL8eW9LMtPmxSGFnWvmQfJumJ4BOdBduqeUm8vmw/edit?usp=sharing
Thanks.

[2020-04-24 06:31] rt4914 commented on #768
Closed via #978

[2020-04-24 06:31] #768 closed, assigned to nobody

[2020-04-24 06:34] rt4914 commented on #632
@NullByte08 and @abhinavraj23 Any updates in this? If this is not doable its fine, we can unassign you from this.

[2020-04-24 06:36] rt4914 commented on #565
Closed via #618

[2020-04-24 06:36] #565 closed, assigned to nobody

[2020-04-24 06:37] rt4914 commented on #549
Closed via #614

[2020-04-24 06:37] #549 closed, assigned to nobody

[2020-04-24 06:38] rt4914 commented on #550
Closed via #902

[2020-04-24 06:38] #550 closed, assigned to nobody

[2020-04-24 06:39] rt4914 commented on #645
Closed via #650

[2020-04-24 06:39] #645 closed, assigned to nobody

[2020-04-24 06:40] rt4914 commented on #546
Duplicate issue #887

[2020-04-24 06:40] #546 closed, assigned to nobody

[2020-04-24 06:51] rt4914 opened #1014 "Tutorial in Exploration"
Mock: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/57dac831-0f1d-4f27-b775-9491e2a29bfa/PM-TR-Message-1-

Also, to test the initial steps taken before tutorial you will need to change the launcher activity to `WalkthroughActivity` in manifest file.

Tutorial will be shown for first time users in the app which will start from `WalkthroughFinalFragment`.
For this featur

[2020-04-24 07:49] SayantanBanerjee16 commented on #968
@rt4914 Can I work on this issue?

[2020-04-24 07:53] rt4914 commented on #968
@SayantanBanerjee16 Yeah sure. Update: I do think that it should be almost finished but this issue has been kept to verify that correctly. Thanks.

[2020-04-24 09:51] rt4914 opened #1017 "Scripts to copy assets from and to the domain assets"
This issue is important to finish part of work for APK building.

There are two scripts to this issue:
1. Script to remove all dummy assets from `domain\src\main\assets` and replace it with `oppia-assets content`
2. Remove all `oppia-assets content` from `domain\src\main\assets` and replace it back with dummy content.

[2020-04-24 10:36] veena14cs opened #1020 "Render svg images from Server."
Introduce support for rendering .svg images from the Server.

[2020-04-24 12:01] NullByte08 commented on #632
@rt4914 I am facing a lot of errors in the `HomeFragment` since it has two recyclerviews. Can I take some more time? I will address the issues to you that I am facing if I still don't get a solution for them.

[2020-04-24 12:18] SayantanBanerjee16 commented on #1000
@rt4914 Can I work on this issue?

[2020-04-26 11:11] abhinavraj23 opened #1021 "Crash on Profile Image click on Navigation Drawer landscape"
Go to the home page, set the orientation to landscape and then open the side navigation drawer and click on the profile image.

[2020-04-27 06:03] aggarwalpulkit596 commented on #1020
We can use glide for this

[2020-04-27 06:04] aggarwalpulkit596 commented on #1020
I've already incorporated this thing in one of my projects and would like to take up this.

[2020-04-27 06:15] rt4914 commented on #1020
@aggarwalpulkit596 @veena14cs has actually already finished this issue and it is in PR now.

[2020-04-27 06:16] rt4914 commented on #632
@rt4914 Yeah sure, take your time.

[2020-04-27 06:16] #968 closed, assigned to SayantanBanerjee16

[2020-04-27 08:51] rt4914 opened #1022 "Support for <ol> and indentation in HtmlParser"
Currently, HthmlParser does not support `<ol>` html tag and also nested indentation is also not supported.
Add support for `<ol>` tags and nested indentation.

Reference for `<ol>` tag support: https://bitbucket.org/Kuitsi/android-textview-html-list/src/master/app/src/main/java/fi/iki/kuitsi/listtest/
Using the above reference you can easily add a tag handler for `<ol>` tag in Html Parser but this

[2020-04-27 11:08] SayantanBanerjee16 commented on #1000
@rt4914 I searched a lot online but I haven't found a way in which we can supply `Status Bar content colors`. We can supply Status Bar Color and then supply a boolean FLAG to have dark content if the Status bar is Light (by default the contents are Light).

The pseudo-code being:-

[code]
Also the approach should be to register the above pseudo-code in an Utility method and call that method from t

[2020-04-27 12:04] rt4914 commented on #1000
@nikitamarysolomanpvt PTAL at this.

[2020-04-27 19:02] SayantanBanerjee16 commented on #1000
@rt4914 @nikitamarysolomanpvt Okay I got the meaning of the column `Color of Background/Object Below Status Bar` in the spread-sheet. I misunderstood it previously. Creating a PR with the above-mentioned approach.

[2020-04-27 20:24] #997 closed, assigned to nikitamarysolomanpvt

[2020-04-28 05:01] virajpatel2411 commented on #973
@rt4914 @veena14cs Any updates?

[2020-04-28 05:10] rt4914 opened #1024 "Exploration back flow is incorrect."
Exploration can be opened from places:
1. Recently Played Stories
2. Topic-Lessons-Chapter Name
3. StoryActivity -> Chapter Item

All these different flows open exploration, but on click on back button, it should always open `TopicActivity` only. This has been implemented but now there seems inconsistency in that.

For example:
1. Go to Ratios topic - Lessons tab - expand an item and open explorat

[2020-04-28 05:13] rt4914 commented on #1024
@SayantanBanerjee16 PTAL at this issue, and if you think this can be your next work item, please self assign it.

[2020-04-28 05:38] Sarthak2601 commented on #1024
@rt4914 Can I work on this ?

[2020-04-28 05:39] rt4914 commented on #1024
@Sarthak2601 Yeah Sure. Thanks. @SayantanBanerjee16 I have assigned this issue to Sarthak for now.

[2020-04-28 05:48] Sarthak2601 commented on #1024
@rt4914 Thanks !

[2020-04-28 06:57] veena14cs commented on #973
@virajpatel2411 I checked the document will figure this out, till then you can pick out some new issue and start working on it. Once we figure out, I will update you on this.

[2020-04-28 07:12] virajpatel2411 commented on #973
@veena14cs Okay.

[2020-04-28 09:43] rt4914 opened #1025 "Remove getStory and getTopic from domain layer"
There are two different types of functions for `getTopic` and `getStory`, we do not need the function which does not contain profile id.

Remove/Update the test cases also.

[2020-04-28 11:48] #1009 closed, assigned to nikitamarysolomanpvt

[2020-04-28 12:51] #1025 closed, assigned to rt4914

[2020-04-29 07:24] vinitamurthi opened #1028 "Move app module test targets to the non-flaky queue in CircleCI [Blocked: #973]"
Currently there are several app module tests that are failing in robolectric. Due to this we have created a flaky_queue and a non_flaky_queue. We would like to fix all the app tests in robolectric so that we can move the app module tests to the non-flaky queue.
We will do this folder by folder for the app module tests, until we can move the entire app module.
The following folders need to be migra

[2020-04-29 09:29] nikitamarysolomanpvt opened #1031 "Onboarding Flow landscape"
Onboarding Flow landscape
## Mock
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/1f86ca4e-795e-4a75-8784-fea53864b94b/RG-OB-Onboarding-1-

[2020-04-29 09:46] veena14cs commented on #1028
@vinitamurthi Splash and faq testcases are passing in roboelectric.

[2020-04-30 06:18] #1021 closed, assigned to abhinavraj23

[2020-04-30 08:53] veena14cs commented on #1028
@vinitamurthi help testcases are passing in roboelectric.

[2020-05-01 04:03] NullByte08 commented on #988
@veena14cs Can I work on this ?

[2020-05-02 07:49] aggarwalpulkit596 commented on #1012
@rt4914 in the mocks some ui takes up the whole space but that is only feasible for a smaller size phone i've attached screenshots for nexus s and pixel 3 XL.So should i modiy the code so it should look the same in all kind of screen sizes
<img width="376" alt="Screenshot 2020-05-02 at 1 17 45 PM" src="https://user-images.githubusercontent.com/29139786/80858521-51d2fc80-8c77-11ea-9e7e-84f8caea4acf

[2020-05-04 04:31] aggarwalpulkit596 commented on #1012
@rt4914 ??

[2020-05-04 04:38] #1017 closed, assigned to rt4914

[2020-05-04 04:41] rt4914 commented on #1012
@aggarwalpulkit596 You can write code as per mocks and test it only on `HDPI device` like `Galaxy Nexus` or maybe a Pixel Device. Do not test this for MDPI or LDPI devices.

[2020-05-04 04:49] aggarwalpulkit596 commented on #1012
No i meant like should i use linear layouts with weights so that it takes up the whole UI

[2020-05-04 04:54] rt4914 commented on #1012
Actually this entire thing can be done using `ConstraintLayout` so I don't think we need a Linear Layout. Also, if by weight you mean to divide the screen vertically, then that is not efficient. Instead just use the margin/padding provided in the mocks. For example: There is a 16 dp margin between these two items.

<img width="425" alt="Screenshot 2020-05-04 at 10 24 04 AM" src="https://user-image

[2020-05-04 04:55] rt4914 commented on #1012
@aggarwalpulkit596 Check this out https://github.com/oppia/oppia-android/wiki/Working-on-UI

[2020-05-04 05:03] rt4914 opened #1037 "Update progress strings"
![Screenshot_1588568389](https://user-images.githubusercontent.com/9396084/80937335-49530100-8df2-11ea-8c38-54522586e4f7.png)
![Screenshot_1588568392](https://user-images.githubusercontent.com/9396084/80937344-4ce68800-8df2-11ea-8a7f-d074279c7a21.png)

In above screens we are showing the progress count using following screens:

`Topics in Progress` (or `Topic in Progress`) and also `Stories Comple

[2020-05-04 05:08] rt4914 opened #1038 "Update description in TopicPractice"
![Screenshot_1588568852](https://user-images.githubusercontent.com/9396084/80937573-56242480-8df3-11ea-8ddd-f665f6bedd89.png)

Update the description from `Select or unselect…` to `Select skills that you would like to practice.`

[2020-05-05 10:30] veena14cs opened #1039 "Introduce custom type - OppiaImage that renders both Bitmaps and Svgs"
This issue tracks custom type representation of an OppiaImage (make use of Kotlin's sealed classes) we want one subtype of OppiaImage that corresponds to bitmaps, and a second for SVGs as per the [comment](https://github.com/oppia/oppia-android/pull/1019#discussion_r418365312) in #1020 . To simplify rendering of images, as of now the implementation is separate for bitmap and svg image.

[2020-05-05 13:18] rt4914 opened #1040 "High-fi Reset Pin Margin Issue fix"
Mock: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/6f83fcd9-e72d-4941-a16f-6754a869e083/RG-MN-Register-Empty-37/

If we scroll the layout in the mock, there is bottomMargin for the `Save` button. This issue is to make sure that margin is added in code.

Comment Reference: https://github.com/oppia/oppia-android/pull/1034#discussion_r417931326

[2020-05-06 09:12] rt4914 opened #1042 "Status bar color fix for pre-lollipop versions"
Reference: https://stackoverflow.com/questions/22192291/how-to-change-the-status-bar-color-in-android/26215844#26215844

The status bar color in various android screens is inconsistent. Update status bar color code as per the mocks and spreadsheet:
https://docs.google.com/spreadsheets/d/1XphP6nWoUdOZn9pY2kdgfqMWfJjMfKMb98MXM5rp2HY/edit#gid=0
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc5

[2020-05-06 09:13] #1000 closed, assigned to SayantanBanerjee16

[2020-05-06 14:56] #1037 closed, assigned to nobody

[2020-05-07 09:52] #1038 closed, assigned to veena14cs

[2020-05-08 08:04] nikitamarysolomanpvt opened #1045 "Rename Profile Hifi"
profile rename hifi
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/d0227921-1c24-4bb7-8667-a8fa5f4742dd/AC-EP-Rename-/
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/d0227921-1c24-4bb7-8667-a8fa5f4742dd/AC-EP-Rename-
fix https://user-images.githubusercontent.com/54615666/80693007-05a98000-8af0-11ea-8545-3b39d14a2f13.png
also https://github.co

[2020-05-08 10:49] #1007 closed, assigned to nobody

[2020-05-08 15:04] aggarwalpulkit596 commented on #1014
How we are thinking to make the box for text with the triangle edge? we can try out material design edge treatment for this would be needing some maths skills though

[2020-05-08 15:07] aggarwalpulkit596 commented on #1014
https://github.com/material-components/material-components-android/blob/master/lib/java/com/google/android/material/bottomappbar/BottomAppBarTopEdgeTreatment.java this can help

[2020-05-09 15:34] aggarwalpulkit596 commented on #1012
@rt4914 I've left some comments for the mocks design can you please answer them?

[2020-05-09 20:48] BenHenning opened #1048 "Chapter progress not immediately visible after completing exploration"
After completing an exploration & navigating back to the topic page, the chapter isn't marked as complete without restarting the activity.

[2020-05-09 20:48] BenHenning commented on #1048
/cc @rt4914

[2020-05-09 21:03] aggarwalpulkit596 commented on #1014
@BenHenning should we use the above or it would  9 patch images instead ?

[2020-05-10 01:51] BenHenning opened #1049 "Hints & solution revealed states should only affect ephemeral state"
When working on #500, I noticed that whether a hint is revealed is part of the actual State Hint/Solution structure. Those structures should be read-only since they're going to be stored on disk.

We should be storing temporary state like whether something has been revealed as part of the ephemeral state, not the persistent version of the state.

[2020-05-10 01:52] BenHenning commented on #1049
/cc @rt4914 since this should block download support (we need to finalize the exploration protos before we start storing them on disk, and resolving this issue involves changing that core structure).

[2020-05-10 05:39] BenHenning opened #1050 "Solutions are not displayed correctly except for text and fraction input types"
Per https://github.com/oppia/oppia-android/blob/65b1dc8/app/src/main/java/org/oppia/app/player/state/hintsandsolution/HintsAndSolutionAdapter.kt#L160 it seems that solutions are currently only supported for fractions whereas they should be supported for all interaction answer types.

[2020-05-10 05:55] aggarwalpulkit596 commented on #1050
Hint will always be of type text right ? 🤔

[2020-05-10 06:15] BenHenning opened #1051 "Come up with long-term strategy for managing view data management"
The current solution for view-specific data management has a few issues:
- View models are currently fragment-bound, which means they easily leak the fragment state OR aren't true view models (e.g. are recreated when fragments are recreated)
- Passing data between fragments involves a lot of additional boilerplate by funneling through common ancestors

#147 may help solve the second point, but the

[2020-05-10 06:15] BenHenning commented on #234
This is probably reasonable in the medium term. I filed #1051 to track the broader effort around improving our view data management. This may be included as part of that, though we could reasonably make this change first since it's a bit orthogonal to that issue.

[2020-05-10 06:27] BenHenning commented on #1051
NB: part of this may also involve simplifying our current interface set up for the state/question fragments since there are quite a few listeners now, and some seem closely related (I think there are actually some situations where synchronous events are moving up and down the UI hierarchy a couple times for simple operations). While there's not a serious performance concern here (and likely not a

[2020-05-10 06:38] BenHenning commented on #1051
Also maybe a better way to be thinking about this might be to consider both how data should be stored, and how it should be passed in the UI level. For each of these I think there are a few categories.

Places to store data:
- Presenter: for data that does not need to survive across configuration changes or state loss
- View model: for data that should survive configuration changes but doesn't nee

[2020-05-10 07:07] BenHenning opened #1052 "Ensure session-based domain data is kept isolated to its session"
Currently, we have a bunch of singleton domain controllers that share state across temporary sessions (like for questions & explorations). This requires us to carefully manage the state, generally from the UI, which is really easy to get wrong since it makes this long-lived state susceptible to the whims of the Android lifecycle.

To make this system more robust, we should introduce custom Dagger

[2020-05-10 07:09] BenHenning opened #1053 "Design & implement policy for error handling throughout the app"
A consistent solution needs to be designed for error handling throughout the app. The current service layer (domain controllers) help push errors to the UI by leveraging the error channel exposed by AsyncResult, and by using background coroutines that have their own error handling (vs. crashing the app).

However, the UI layer logs or silently ignores these failures. In other cases, the UI layer h

[2020-05-10 07:32] BenHenning opened #1054 "Audio voiceovers will continue to play even after disabling them in some cases"
Repro steps:

1) Open exploration that has voiceover support
2) Enable audio playback
3) Wait for long audio to start being read out
4) Disable audio & quickly continue to the next state (probably requires an exploration with an initial 'Continue' interaction state)

Expected: audio should stop once the new state is loaded

Observed: audio continues playing on the next state despite the audio bar

[2020-05-11 04:35] rt4914 commented on #1049
@BenHenning This can be part of Milestone 3 mentioned in this [document](https://docs.google.com/document/d/1QSEzBhh_V7dtdnIs2kG2tRgADjBoYEPMzvvuwr0NjFc/edit?usp=sharing), what are your thought?

[2020-05-11 04:45] rt4914 commented on #1022
@veena14cs Can you please prioritise this issue, as it is blocking work items related to FAQ content?

[2020-05-11 06:29] prathameshbhalekar commented on #1040
I am looking for mi first open source contribution. Can i  work on this issue?

[2020-05-11 06:32] aggarwalpulkit596 commented on #1040
This is already fixed @prathameshbhalekar can you try working on something else

[2020-05-11 06:32] #1040 closed, assigned to nobody

[2020-05-11 07:31] rt4914 commented on #1040
Thank you for showing interest. First there are couple of steps which needs to be done before we can assign you some issues to work on:
[wiki](https://github.com/oppia/oppia-android/wiki) - This will help you in setting up the project and once you sign the CLA and fill the survey form we will assign you issues to work on.

[2020-05-11 14:20] nikitamarysolomanpvt opened #1057 "Admin Authorization hifi(v7)"
Admin Authorization hifi
## Mocks
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/785546bd-b160-4d9b-b5d6-53ddc1b4a80a/PC-SP-Admin-Authorization-Empty-
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/a0c84710-3970-4488-beea-6fe6abbdb38a/PC-MP-Admin-Authorization-Admin-Controls-Empty-
Reference :
https://github.com/oppia/oppia-android/pull/1034#

[2020-05-11 14:26] nikitamarysolomanpvt commented on #1045
fixed

[2020-05-11 14:26] #1045 closed, assigned to nikitamarysolomanpvt

[2020-05-12 04:55] prathameshbhalekar commented on #1042
Can I work on this issue? I might need some help as I have never contributed before.

[2020-05-12 05:02] rt4914 commented on #1042
@prathameshbhalekar You can work on this.

[2020-05-12 05:07] prathameshbhalekar commented on #1042
@rt4914  thank you very much. Can I contact you in case I need any help?

[2020-05-12 05:45] #1020 closed, assigned to veena14cs

[2020-05-12 06:35] veena14cs opened #1060 "High-fi Profile Chooser Portrait UI"
Fix UI double line on Profile chooser page when no profile is added yet.

### Mock Reference
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/8cdde1f8-daae-438c-8fdd-084e5d227080/PC-SP-Profile-Chooser-v2

![Screenshot_20200512-115753](https://user-images.githubusercontent.com/16301028/81646270-949b8e00-9448-11ea-9188-ada9f21e9bfa.png)

[2020-05-12 17:00] rt4914 opened #1061 "StoryTextSize settings in exploration player"
Based on learner's preference in Options -> StoryTextSize, the text size in Exploration Player should change. Each learner can have a different preference, therefore it will based on per user profile.

[2020-05-12 17:03] rt4914 opened #1062 "Play audio as per learner preferred language"
Based on learner's preference in Options -> AudioLanguage, the audio player should use that language as default language and as soon as learner hits the "Play" button that preferred language should get used. If that language is not available then English language should get played. And if english is also not available then alphabetical order of language should work.

[2020-05-13 04:29] #1057 closed, assigned to nikitamarysolomanpvt

[2020-05-13 12:25] aggarwalpulkit596 opened #1064 "Add DragDropAndSort Interaction Support"
- [x] Add Proto Models

- [ ] Add Classifiers

- [ ] Add Helper classes

- [ ] Add View and ViewModel

[2020-05-14 20:55] BenHenning opened #1068 "Add support for Oppiabot"
We should integrate Oppiabot within the Android codebase in order to track CLA statuses, and potentially other things. However, today I think it's specific to the web codebase, so we need to figure out how to hook it up & what changes are needed to make it work for this repository.

[2020-05-14 20:57] BenHenning commented on #1068
Blocking issue: https://github.com/oppia/oppiabot/issues/64.

[2020-05-15 03:48] rt4914 opened #1069 "Introduce checkpointing"
Currently learner cannot save partial progress of an exploration. Introduce a mechanism through which whenever learner leaves the exploration in between the application should save the partial progress and whenever that exploration is visited again, start from where they left from.

[2020-05-15 07:30] nikitamarysolomanpvt commented on #1042
@prathameshbhalekar  #1023 (comment) contains one of the solutions and you also mentioned it in your document attached in the mail. Please do communicate here, also please do create the PR for the same.

[2020-05-15 07:37] veena14cs opened #1070 "Duplicate items are generated in the list in Lessons tab."
When you play `Prototype Exploration` inside topic `First Topic`, after finishing exploration when you click  on `Return to Topic`. It reloads Lesson tab with duplicate items in the list.

![Screenshot_20200515-125416](https://user-images.githubusercontent.com/16301028/82024175-fceaa980-96ac-11ea-9c72-e043eb6ee326.png)

[2020-05-15 10:06] veena14cs opened #1071 "Update High-fi of Topic in Progress"
This issue tracks the final UI for Topic in Progress in both portrait and landscape mode.

- [x] Portrait

- [x] Landscape

Mock Reference
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/a80d1be8-d4b4-4fee-a46d-296b5aa6a110/UP-Topics-in-Progress-/

[2020-05-15 10:34] veena14cs opened #1073 "Update High-fi of Stories Completed"
This issue tracks the final UI for Stories Completed in both portrait and landscape mode.

- [x] Portrait

- [x] Landscape

### Mock Reference
https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/f54ae7d1-9530-44d6-8783-21559b13635c/UP-Stories-Completed-/

[2020-05-15 13:46] rt4914 commented on #1070
Closing this issue as it is similar to #1024 on which @Sarthak2601 is working.

[2020-05-15 13:46] #1070 closed, assigned to nobody

[2020-05-15 17:11] anandwana001 commented on #973
@virajpatel2411 I tried `CompletedStoryListActivityTest` running `Robolectric` test and yes, it passed only 1 out of 9 in my case. I annotated `@LooperMode(PAUSED)` annotation on the top of the class and it passed all the test cases under `Robolectric Testing`

added `androidTestImplementation 'org.robolectric:annotations:4.3.1'`

[Documentation of Robolectric Looper](http://robolectric.org/blog/2

[2020-05-15 17:21] virajpatel2411 commented on #973
@anandwana001 Okay. So, now is there anything to do from my side or the issue now is resolved?

[2020-05-15 23:01] BenHenning opened #1075 "[Master tracking bug] [GSoC'20] Implement tablet support"
See https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2020#41-support-tablet-interfaces for the project details.

[2020-05-15 23:01] BenHenning commented on #1075
/cc @vinitamurthi

@MohamedMedhat1998 can you add a link here to your finalized proposal once it's available?

[2020-05-15 23:03] BenHenning opened #1076 "[Master tracking bug] [GSoC'20] Initial analytics support"
See https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2020#42-analytics-support for project details.

[2020-05-15 23:03] BenHenning commented on #1076
/cc @rt4914

@Sarthak2601 can you add a link here to your finalized proposal once it's available?

[2020-05-15 23:04] BenHenning opened #1077 "[Master tracking bug] [GSoC'20] Additional interaction types"
See https://github.com/oppia/oppia/wiki/Google-Summer-of-Code-2020#43-additional-interaction-types for project details.

[2020-05-15 23:04] BenHenning commented on #1077
@aggarwalpulkit596 can you add a link here to your finalized proposal once it's available?

[2020-05-15 23:08] aggarwalpulkit596 commented on #1077
Here it is https://docs.google.com/document/d/1DAoYhppqlOVldqZcDemzzg4PRKnELOiWqiG7iMkFiOA/edit?usp=drivesdk

[2020-05-15 23:25] Sarthak2601 commented on #1076
[Finalised Proposal - Analytics Support](https://docs.google.com/document/d/1JuVnV9wkRfiRNQ17gvGpglqbh6W-tgDpcqeoU8WRrwM/edit?usp=sharing)

[2020-05-16 03:13] anandwana001 commented on #973
I think you can complete this issue by making a PR if you haven't created yet and complete this issue. Running this test file in espresso fails one of the tests which you can look at and with this it resolves this issue with `CompletedStoryListActivityTest`. Also, you can have a look at, adding this new dependency `androidTestImplementation 'org.robolectric:annotations:4.3.1'` is not bringing any

[2020-05-16 03:31] virajpatel2411 commented on #973
@anandwana001 Okay. Will make a PR soon. Thanks.

[2020-05-16 04:01] anandwana001 commented on #973
As far as I saw, most of the errors from most of the above-mentioned files will get resolved using annotation `@LooperMode(LooperMode.Mode.PAUSED)` and `shadowOf(Looper.getMainLooper()).idle()`.
Updating dependency to `robolectric-4.3.1` might resolves lot of tests as `Robolectric` itself doing a lot of rewriting with their current ongoing issues.

[2020-05-16 04:17] anandwana001 commented on #973
@rt4914  We can remove `WalkthroughWelcomeFragmentTest` from the list as all the test cases are passing in `Espresso` as well as `Robolectric`

<img width="1440" alt="Screenshot 2020-05-16 at 09 44 41" src="https://user-images.githubusercontent.com/25057618/82110211-0a11a200-975a-11ea-9943-6727bd96ff87.png">

[2020-05-16 10:29] anandwana001 commented on #973
@rt4914  Tried one test `testWalkthroughFragment_increaseProgress_worksCorrectly` from `WalkthroughActivityTest` file and to make it pass on both `espresso` and `robolectric`, I had to make some modification in UI files.
Earlier error was `at least 90 per cent of the view should be visible` and to resolve this, making `ScrollView` as a parent in XML file and using `scrollTo()` while performing `cl

[2020-05-16 12:41] MohamedMedhat1998 commented on #1075
@BenHenning Of course!
Once @rt4914 approves it, I'll share the link.

[2020-05-16 12:58] MohamedMedhat1998 commented on #1075
That is the link: https://docs.google.com/document/d/1axqaUsv8zQ1rtEv-mwS8HafZ8hVGBOsqeVfLnqkI8kw/edit
(Not reviewed yet)

[2020-05-16 13:33] MohamedMedhat1998 commented on #1075
@rt4914 Thanks for the review
@BenHenning The proposal is ready now in the [same link](https://docs.google.com/document/d/1axqaUsv8zQ1rtEv-mwS8HafZ8hVGBOsqeVfLnqkI8kw/edit)

[2020-05-16 13:35] rt4914 commented on #973
@anandwana001 Yes it is valid for this case. We can change UI only in the case when we are actually making UI better and by adding scrolling you are making it better to use. Still, for final confirmation we will need that as a PR to make sure that it does not affect that feature.

[2020-05-16 13:38] rt4914 commented on #1075
@MohamedMedhat1998 Please share PDF link only. As per the discussion, the document with only view access will also work. Thanks for updating it.

[2020-05-16 21:11] rt4914 opened #1079 "Onboarding Flow - Tablet (Landscape) (Lowfi)"
Mock: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/

Implement low-fi UI for **Onboarding Flow** tablet landscape mode

**Target PR date**: 3 June 2020
**Target completion date**: 6 June 2020

[2020-05-18 05:26] nikitamarysolomanpvt opened #1081 "Update get arguments in fragments"
updated get arguments from presenter to parent fragment for consistency.

[2020-05-18 11:35] MohamedMedhat1998 opened #1084 "Onboarding Flow - Tablet (Landscape) (Highfi)"
Mock link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/

Implement high-fi UI for **Onboarding Flow** tablet landscape mode

**Target PR date**: 12 June 2020
**Target completion date**: 16 June 2020

[2020-05-18 18:44] #1081 closed, assigned to nikitamarysolomanpvt

[2020-05-19 13:39] #1079 closed, assigned to MohamedMedhat1998

[2020-05-20 03:55] rt4914 opened #1088 "Topic Download Support [Milestone 1] - Save Topics from Json to Offline Storage"
This issue is tracking the milestone 1 topic download support.

Design Document: https://docs.google.com/document/d/1QSEzBhh_V7dtdnIs2kG2tRgADjBoYEPMzvvuwr0NjFc/edit

Currently in the domain layer, all the topics, stories, exploration, chapters, subtopics, skills, questions etc. are fetched directly from JSON files. There are various retrieve functions to convert these json files into their respec

[2020-05-20 06:54] nikitamarysolomanpvt commented on #991
Done.

[2020-05-20 06:54] #991 closed, assigned to nikitamarysolomanpvt

[2020-05-20 06:55] nikitamarysolomanpvt commented on #1031
Done.

[2020-05-20 06:55] #1031 closed, assigned to nikitamarysolomanpvt

[2020-05-20 06:56] nikitamarysolomanpvt opened #1090 "Admin Pin hi fi fix"
Admin Pin hi fi fix
https://github.com/oppia/oppia-android/pull/1085#pullrequestreview-414994196
##  Mock
https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/acdbeb30-745f-46da-b0fd-3d6a83f83937/PC-SP-Add-PIN-Dialog-Empty-

[2020-05-20 08:36] BenHenning commented on #89
#927 implements part of this by introducing a test coroutine dispatcher, but that PR is incomplete and still missing a few things:
- Proper Espresso integration (e.g. via an idling resource)
- Proper system clock coordination in test environments
- Proper interruption support (e.g. due to test deadlocks & live locks)
- Preferably, an implementation that doesn't require all tests to declare ``@Inte

[2020-05-20 08:43] #417 closed, assigned to BenHenning

[2020-05-20 15:16] Sarthak2601 opened #1095 "Addition of Firebase SDK [GSoC'20][Milestone 1]"
Setting up Firebase in the application by -
- Registering the app on Firebase console.
- Adding the Firebase Configuration file `google-services.json` to our codebase.
- Adding basic Firebase dependencies in both project-level and app-level `build.gradle`.
- Adding `Crashlytics` dependency and setting it up from console as well
- Enabling `Google Analytics` for our application in the Firebase cons

[2020-05-20 15:45] Sarthak2601 opened #1096 "Add Crashlytics Wrapper for crash reporting [GSoC'20][Milestone 1]"
Addition of a Crashlytics wrapper class (and its tests) that will implement customised crash reporting for the project. It will contain methods for custom logging of non-fatal exceptions to the Firebase console.
[Reference link](https://firebase.google.com/docs/crashlytics/customize-crash-reports?platform=android)

[2020-05-20 16:05] Sarthak2601 opened #1097 "Add Analytics for event logging [GSoC'20][Milestone 1]"
Addition of a Analytics Controller and Wrapper class (and tests) for -
  - Recording the relevant analytics data of various views.
  - Using that data to create bundles for reporting.
  - Sending data to Firebase.

[2020-05-20 16:09] Sarthak2601 opened #1098 "Add Analytics Wrapper for event logging [Part 2][GSoC'20][Milestone 1]"
Addition of a Analytics wrapper class for reporting the collected analytics data in form of bundles to the Analytics Dashboard present in the Firebase console.

[2020-05-20 16:18] Sarthak2601 opened #1099 "Linking Presenters with Analytics Wrapper [GSoC'20][Milestone 1]"
Linking UI components for which analytics has to be implemented with the Analytics Wrapper. This will complete the implementation of Firebase Analytics and Crashlytics for online users.

[2020-05-20 17:59] Sarthak2601 opened #1101 "Proto definition for EventLogs [GSoC'20][Milestone 2]"
Addition of proto definition which will be useful for storing relevant analytics data when the user is offline and retrieving the same for uploading to Firebase when the user is back online.

[2020-05-20 18:03] Sarthak2601 opened #1102 "Storage Helper Class [GSoC'20][Milestone 2]"
Addition of a storage helper class to the Oppia-Android codebase which will facilitate creation, retrieval, deletion of a specific analytics record and deletion of all analytics records present in the Cache storage.
The helper class will also contain methods for getting the size of the existing cache storage and for pruning the records from the database if the size exceeds a certain limit.

[2020-05-20 18:07] Sarthak2601 opened #1103 "Addition of book-keeping Helper Class [GSoC'20][Milestone 2]"
This helper class will contain methods for -
- Getting the size of the existing dataset.
- Pruning the records from the database if the size exceeds a certain limit.

[2020-05-20 18:14] Sarthak2601 opened #1104 "Offline Exception Logging [GSoC'20][Milestone 3]"
- Addition of proto definition which will be useful for storing relevant Crashlytics data when the user is offline and retrieving the same for reporting to Firebase when the user is back online.
- Using the Proto definition and saving crash reports to the cache store in absence of network connectivity.

[2020-05-20 18:20] Sarthak2601 opened #1105 "Offline handler for Crashes [GSoC'20][Milestone 3]"
Addition of a UncaughtExceptionHandler (and tests) to the Oppia-Android codebase. This will allow us to handle offline storage of crashes in case of no network connectivity and smooth upload of them to the Firebase console in the presence of network connectivity.

[2020-05-20 18:26] Sarthak2601 opened #1106 "Addition of Work Manager [GSoC'20][Milestone 3]"
Addition of Work manager (and tests) will enable us to upload the stored crash reports and event logs [for analytics] when there is presence of network connectivity.

[2020-05-20 18:29] Sarthak2601 opened #1107 "Analytics Dashboard Creation [GSoC'20][Milestone 3]"
Creation of a filtered Analytics Dashboard for analysing at least 5 different views.

[2020-05-20 18:32] Sarthak2601 opened #1108 "Documentation Creation [GSoC'20][Milestone 3]"
Creation of an authentic and well descriptive documentation regarding -

- [x] Steps to use Firebase Console.
- [x] Steps to create own Firebase project.
- [x] Steps to create filtered Dashboards in future.
- [x] Funnels and how to create them
- [x] Addition of Custom Parameters
- [x] User Properties

Documentation -- [Firebase Console Guide](https://www.google.com/url?q=https://github.com/oppia/o

[2020-05-21 12:02] MohamedMedhat1998 opened #1111 "Onboarding Flow - Tablet (Portrait) (Lowfi)"
Mock: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d8d62875-05ab-46a7-8f2f-a0db58826d5b/P-Onboarding-1

Implement low-fi UI for **Onboarding Flow** tablet portrait mode

**Target PR date**: 3 June 2020
**Target completion date**: 6 June 2020

[2020-05-22 00:13] BenHenning commented on #90
I think #928 resolves this, though the deferred cases will probably need to be considered later once we have an opportunity to test those (there are other issues related to that that may cause issues, like coroutine cancellation).

[2020-05-22 12:34] MohamedMedhat1998 opened #1117 "RecentlyPlayed - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/17910ab6-21f3-4c85-9429-bea2da2b3c26/L-Recently-Played-Stories

Implement low-fi UI for **RecentlyPlayed** tablet landscape mode

**Target PR date**: 25 May 2020
**Target completion date**: 29 May 2020

[2020-05-23 04:37] rt4914 opened #1119 "Lowfi: Recently Played"
Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2b6c8e95-5ac7-4472-bc2b-1c318a3f7e5c/HP-Continue-Playing-

Landscape: https://xd.adobe.com/view/ee9e607b-dbd6-4372-48dc-b687d32af3da-98af/screen/0e6ba726-1930-4f39-9c73-51df10a1c766/HP-Continue-Playing-

As per the new mocks, the layout arrangement of items has changed and from each item the "Chapter name" has bee

[2020-05-23 05:17] #1111 closed, assigned to MohamedMedhat1998

[2020-05-26 11:00] #1073 closed, assigned to nobody

[2020-05-26 11:00] #1071 closed, assigned to veena14cs

[2020-05-26 19:03] #1119 closed, assigned to rt4914

[2020-05-26 23:49] BenHenning opened #1126 "Add support for noninteractive links"
See https://github.com/oppia/oppia/pull/9360 discussion thread for context. We need to support ``oppia-noninteractive-link`` which does a basic translation to an anchor (see https://github.com/oppia/oppia/blob/9cfb5e933388b02ab196f5234e9be40057bc9ca2/extensions/rich_text_components/Link/directives/link.directive.html#L4 though we probably don't need all of this).

[2020-05-27 06:10] #1024 closed, assigned to Sarthak2601

[2020-05-27 07:02] BenHenning opened #1128 "Add back navigation for most layouts to mitigate devices which lack a nav bar"
### Is your feature request related to a problem? Please describe.

On many modern Android devices, the **system navigation bar is hidden** (gesture navigation). This leads to accessibility issues in the Oppia app since users may not have a reliable way to navigate back from certain screens (e.g., Exploration Player, Question Player). To ensure a **consistent and accessible experience**, we should

[2020-05-27 07:02] BenHenning commented on #1128
@mschanteltc do you have any thoughts on this?

[2020-05-27 07:02] BenHenning commented on #1128
@nikitamarysolomanpvt as well in case you have any thoughts.

[2020-05-27 07:25] rt4914 opened #1129 "Code optimisation for Backflow Exploration Support"
Pr #1036 has managed to finish the exploration back flow support correctly but after finishing that PR, I realised that we can further optimise this code by making the ENUM public and use it at various values to control the flow.

Update:
The code needs to follow approach mentioned here: https://github.com/oppia/oppia-android/pull/2566#issuecomment-772960035

[2020-05-27 07:41] BenHenning opened #1131 "Milestone & task tracking enforcement via Oppiabot"
There may be some nice triage improvements we could get from Oppia bot:
1. Making sure that all of the key categories of labels are specified for issues
2. Ensure a milestone & project is properly defined for all issues labeled as 'Type: task'
3. Ensure when either a milestone or project is defined, the opposite is also defined
4. Track target completion date (e.g. via a 'target date' in the main

[2020-05-27 07:50] BenHenning opened #1132 "Add new interaction objects for drag & drop"
Add new protos for the interaction objects needed for the drag & drop operation.

**Target PR date**: 18 May 2020
**Target completion date**: 19 May 2020

[2020-05-27 08:25] vinitamurthi commented on #970
@NullByte08 Any update on this issue?

[2020-05-27 08:25] vinitamurthi commented on #971
@anandwana001 Would you be interested in taking this up?

[2020-05-27 08:33] anandwana001 commented on #971
Sure, I will go through it.

[2020-05-27 09:34] vinitamurthi commented on #971
Great! I will assign it to you then

[2020-05-27 11:46] NullByte08 commented on #970
@vinitamurthi sorry I was busy in other stuff. If the style guidelines are set then I can run the lint according to that on the codebase and make a pull request to correct the lint errors. Or else, I will check the default lint constraints in android studio and inform you about those. About the circleCI, I have no experience in it so I will read some docs and tutorials and the link you provided to

[2020-05-27 11:49] NullByte08 commented on #970
I ran the above only on the `layout` directory

[2020-05-27 12:40] mschanteltc commented on #1128
Correct me if I'm wrong, but I thought all Android apps have a fixed navbar unless specified otherwise? I think only iOS apps use back navigation in their headers, but since we're developing for Android, we can deal with this another time. Most apps have different menu functionalities between their iOS and Android applications, so maybe new mocks would be needed for iOS?

For Android though, are t

[2020-05-27 16:13] rt4914 commented on #1128
@mschanteltc As per my experience all major applications like Google Pay, Youtube, Instagram, Whatsapp uses back button navigation in android for internal screens (except home screen).
There is one exception to this which is Amazon-Shopping-App, which keeps same toolbar across all screens which contains logo, navigation drawer icon and search icon.

[2020-05-27 19:29] MohamedMedhat1998 opened #1136 "Onboarding Flow - Tablet (Portrait) (Highfi)"
Mock link: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d8d62875-05ab-46a7-8f2f-a0db58826d5b/P-Onboarding-1/

Implement high-fi UI for **Onboarding Flow** tablet portrait mode

**Target PR date**: 12 June 2020
**Target completion date**: 16 June 2020

[2020-05-27 19:34] MohamedMedhat1998 opened #1137 "ProfileChooser - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/6fb19f15-699a-40aa-8392-cdfc6d7bf8c5/L-Profile-Chooser-Regular

Implement low-fi UI for **ProfileChooser** tablet landscape mode

**Target PR date**: 3 June 2020
**Target completion date**: 6 June 2020

[2020-05-27 19:36] MohamedMedhat1998 opened #1138 "ProfileChooser - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/33741ea7-89da-4e5d-b2a4-9872f6db48b4/

Implement high-fi UI for **ProfileChooser** tablet landscape mode

**Target PR date**: 12 June 2020
**Target completion date**: 16 June 2020

[2020-05-27 19:38] MohamedMedhat1998 opened #1139 "ProfileChooser - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/1e649526-85a6-4018-9766-d37654f3a16e/P-Profile-Chooser-Regular-1

Implement low-fi UI for **ProfileChooser** tablet portrait mode

**Target PR date**: 3 June 2020
**Target completion date**: 6 June 2020

[2020-05-27 19:40] MohamedMedhat1998 opened #1140 "ProfileChooser - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/1e649526-85a6-4018-9766-d37654f3a16e/P-Profile-Chooser-Regular-1

Implement high-fi UI for **ProfileChooser** tablet portrait mode

**Target PR date**: 12 June 2020
**Target completion date**: 16 June 2020

[2020-05-27 19:49] MohamedMedhat1998 opened #1141 "NavigationDrawer - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/6138b324-a09c-42cd-9a23-98aec305aca4/

Implement low-fi UI for **NavigationDrawer** tablet landscape mode

**Target PR date**: 5 June 2020
**Target completion date**: 8 June 2020

[2020-05-27 19:51] MohamedMedhat1998 opened #1142 "NavigationDrawer - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/6138b324-a09c-42cd-9a23-98aec305aca4/

Implement high-fi UI for **NavigationDrawer** tablet landscape mode

**Target PR date**: 14 June 2020
**Target completion date**: 18 June 2020

[2020-05-27 19:53] MohamedMedhat1998 opened #1143 "NavigationDrawer - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/3a43a3ce-597a-4e4b-b509-3eafd4249528/P-Home-Screen-1

Implement low-fi UI for **NavigationDrawer** tablet portrait mode

**Target PR date**: 5 June 2020
**Target completion date**: 8 June 2020

[2020-05-27 19:55] MohamedMedhat1998 opened #1144 "NavigationDrawer - Tablet (Portrait) (Highfi)"
Mocks: (not ready yet)

Implement high-fi UI for **NavigationDrawer** tablet portrait mode

**Target PR date**: 14 June 2020
**Target completion date**: 18 June 2020

[2020-05-27 20:00] MohamedMedhat1998 opened #1145 "RecentlyPlayed - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/17910ab6-21f3-4c85-9429-bea2da2b3c26/L-Recently-Played-Stories

Implement high-fi UI for **RecentlyPlayed** tablet landscape mode

**Target PR date**: 14 June 2020
**Target completion date**: 18 June 2020

[2020-05-27 20:03] MohamedMedhat1998 opened #1146 "RecentlyPlayed - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/7681fce1-4d15-4d57-aed2-21521f08ce5f/P-Recently-Played-Stories

Implement low-fi UI for **RecentlyPlayed** tablet portrait mode

**Target PR date**: 29 May 2020
**Target completion date**: 30 May 2020

[2020-05-27 20:05] MohamedMedhat1998 opened #1147 "RecentlyPlayed - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/17910ab6-21f3-4c85-9429-bea2da2b3c26/L-Recently-Played-Stories

Implement high-fi UI for **RecentlyPlayed** tablet portrait mode

**Target PR date**: 14 June 2020
**Target completion date**: 18 June 2020

[2020-05-27 20:12] MohamedMedhat1998 opened #1148 "HomeFragment - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/5434c52d-b32b-4666-8b28-cf03b3cbd4cd/L-Home-Screen

Implement low-fi UI for **HomeFragment** tablet landscape mode

**Target PR date**: 7 June 2020
**Target completion date**: 10 June 2020

[2020-05-27 20:14] MohamedMedhat1998 opened #1149 "HomeFragment - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/5434c52d-b32b-4666-8b28-cf03b3cbd4cd/L-Home-Screen

Implement high-fi UI for **HomeFragment** tablet landscape mode

**Target PR date**: 14 June 2020
**Target completion date**: 18 June 2020

[2020-05-27 20:16] MohamedMedhat1998 opened #1150 "HomeFragment - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/622708db-29f8-4ebf-9cca-1a2acaa1f579/P-Home-Screen/

Implement low-fi UI for **HomeFragment** tablet portrait mode

**Target PR date**: 7 June 2020
**Target completion date**: 10 June 2020

[2020-05-27 20:18] MohamedMedhat1998 opened #1151 "HomeFragment - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/622708db-29f8-4ebf-9cca-1a2acaa1f579/

Implement high-fi UI for **HomeFragment** tablet portrait mode

**Target PR date**: 14 June 2020
**Target completion date**: 18 June 2020

[2020-05-28 03:03] BenHenning commented on #186
From @vinitamurthi in #397: we should use an enum to represent interaction IDs to keep the ID management much cleaner. This would probably simplify getting interaction-specific metadata like whether it's terminal a lot easier, too (consider that we could bind some sort of InteractionMetadata object to a multi-bound map that's keyed on interaction enum values, allowing us to directly inject the int

[2020-05-28 03:09] BenHenning commented on #1053
From #397: Consider that in cases when an answer is submitted and fails, the error surfaced to the UI could reasonably be conveyed to the user (e.g. "an unexpected error occurred") and let the user decide what to do next (e.g. file feedback, navigate away from the activity, etc.).

[2020-05-28 03:28] BenHenning commented on #1049
That seems reasonable to me.

[2020-05-28 03:29] BenHenning commented on #1050
I don't think #1059 full solves this. The text being sent to the correct answer is still assuming that a solution has a numerator and denominator (that's only true for fractions--what about solutions for numeric input or multiple choice?).

As far as I'm aware, hints can be any answer, which means those answers can correspond to any interaction type.

[2020-05-28 03:31] BenHenning commented on #1050
Also, we should always use strings for formatting text like "<numerator>/<denominator>" (Android Studio gives a warning for these cases). We need to update hints to generically handle any interaction answer type, including non-text ones, and we should make sure the answer is formatted in a way that's understandable by the user.

[2020-05-28 04:13] vinitamurthi commented on #970
Sounds good, if we can run it on CircleCI then I am totally open to using this. As far as the style guide goes, we have a guide written down [here](https://github.com/oppia/oppia-android/wiki/Coding-style-guide#layout-files). Is that useful?

[2020-05-28 05:05] anandwana001 commented on #971
Could you please update me with the command you are using to compile the proto files? I did some update in import statements and I need to update proto files in build folder as well.

<img width="1440" alt="Screenshot 2020-05-28 at 10 38 50" src="https://user-images.githubusercontent.com/25057618/83101237-7cc23c00-a0cf-11ea-980b-ae9f7b6dc9c8.png">

If I exclude the `model/build`, it seems like thi

[2020-05-28 05:34] vinitamurthi commented on #971
I actually think your second screenshot shows that it is working right? We may have to update the lint checks to allow for certain things its shouting about

[2020-05-28 05:43] anandwana001 commented on #971
ok. I am checking why are these proto files are there in build folder and what is their use if we will exclude them in `buf.yaml`.

<img width="1440" alt="Screenshot 2020-05-28 at 11 43 38" src="https://user-images.githubusercontent.com/25057618/83105549-81d7b900-a0d8-11ea-9cab-82447c090756.png">

Now, step 2, to add it to the config.yaml.

[2020-05-28 05:53] #90 closed, assigned to nobody

[2020-05-28 07:34] mschanteltc commented on #1128
You are right, having a back navigation that brings users to the previous page should be a function based on the material design [guidelines](https://material.io/design/navigation/understanding-navigation.html#reverse-navigation). I think the main pages that would need changing include the players and the topic pages. How does this sound?

[2020-05-28 09:18] rt4914 opened #1152 "Fetch images from offline storage or url and display in app module instead of dummy thumbnails"
Currently we are using `LessonThumbnails` to show images in various views. This should be replaced with images getting fetched from offline storage if they are available or from Online URL.

This project will be a part of entire TopicDownload Support.

[2020-05-28 10:06] anandwana001 commented on #971
Step2 - `Add steps in the linter job of our CircleCI workflow (similar to the Kotlin linting step) that will install and run the linter on our protobuf files`

@vinitamurthi  Just wanted to check with you before PR, as I can't test locally if it is correct or not.
[code]

Adding the step inside `linters` job as an another step after it completed the `Kotlin tests` step.
[code]

at CircleCi it shou

[2020-05-28 13:37] NullByte08 commented on #970
@vinitamurthi Ok I will work on it and update you on the go.

[2020-05-28 18:21] #111 closed, assigned to BenHenning

[2020-05-28 19:03] MohamedMedhat1998 opened #1154 "Topic-info - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/62e87a8d-1340-498f-bd0f-4fa91049def3/L-Topic-Page-Info-Tab

Implement low-fi UI for **Topic-info** tablet landscape mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:05] MohamedMedhat1998 opened #1155 "Topic-info - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/62e87a8d-1340-498f-bd0f-4fa91049def3/

Implement high-fi UI for **Topic-info** tablet landscape mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:07] MohamedMedhat1998 opened #1156 "Topic-info - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/1fa00e9d-da45-439b-964f-8a4a3414d662/P-Topic-Page-Info-Tab

Implement low-fi UI for **Topic-info** tablet portrait mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:09] MohamedMedhat1998 opened #1157 "Topic-info - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/1fa00e9d-da45-439b-964f-8a4a3414d662/

Implement high-fi UI for **Topic-info** tablet portrait mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:11] MohamedMedhat1998 opened #1158 "Topic-lessons - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/28b4ea3f-6436-4e8f-a737-28373f56525b/L-Topic-Page-Lesson-Tab

Implement low-fi UI for **Topic-lessons** tablet landscape mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:14] MohamedMedhat1998 opened #1159 "Topic-lessons - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/28b4ea3f-6436-4e8f-a737-28373f56525b/

Implement high-fi UI for **Topic-lessons** tablet landscape mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:15] MohamedMedhat1998 opened #1160 "Topic-lessons - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/28b4ea3f-6436-4e8f-a737-28373f56525b/L-Topic-Page-Lesson-Tab

Implement low-fi UI for **Topic-lessons** tablet portrait mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:17] MohamedMedhat1998 opened #1161 "Topic-lessons - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/a98b7a3c-46c4-49c6-af77-14a1ff5b7b03/

Implement high-fi UI for **Topic-lessons** tablet portrait mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:20] MohamedMedhat1998 opened #1162 "Topic-practice - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/694350df-c4ff-43d6-b3cf-2651ae23e94a/L-Topic-Page-Practice-Tab

Implement low-fi UI for **Topic-practice** tablet landscape mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:22] MohamedMedhat1998 opened #1163 "Topic-practice - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/694350df-c4ff-43d6-b3cf-2651ae23e94a/

Implement high-fi UI for **Topic-practice** tablet landscape mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:24] MohamedMedhat1998 opened #1164 "Topic-practice - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/3ff75dc6-0e6a-447a-9d13-998fb58e39c4/P-Topic-Page-Practice-Tab

Implement low-fi UI for **Topic-practice** tablet portrait mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:26] MohamedMedhat1998 opened #1165 "Topic-practice - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/3ff75dc6-0e6a-447a-9d13-998fb58e39c4/specs/

Implement high-fi UI for **Topic-practice** tablet portrait mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:30] MohamedMedhat1998 opened #1166 "Topic-revision - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d1520abf-1688-4d47-9fdd-819f5b37d3db/L-Topic-Page-Revision-Tab

Implement low-fi UI for **Topic-revision** tablet landscape mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:32] MohamedMedhat1998 opened #1167 "Topic-revision - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d1520abf-1688-4d47-9fdd-819f5b37d3db/

Implement high-fi UI for **Topic-revision** tablet landscape mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 19:34] MohamedMedhat1998 opened #1168 "Topic-revision - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/0e461d40-e024-4d56-9ae5-9697b1bbf450/P-Topic-Page-Revision-Tab

Implement low-fi UI for **Topic-revision** tablet portrait mode

**Target PR date**: 23 June 2020
**Target completion date**: 27 June 2020

[2020-05-28 19:36] MohamedMedhat1998 opened #1169 "Topic-revision - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/0e461d40-e024-4d56-9ae5-9697b1bbf450/P-Topic-Page-Revision-Tab

Implement high-fi UI for **Topic-revision** tablet portrait mode

**Target PR date**: 13 July 2020
**Target completion date**: 17 July 2020

[2020-05-28 20:11] MohamedMedhat1998 opened #1170 "ExplorationPlayer - Tablet (Landscape) (Lowfi)"
Mocks: (not ready yet)

Implement low-fi UI for **ExplorationPlayer** tablet landscape mode

**Target PR date**: 27 June 2020
**Target completion date**: 1 July 2020

[2020-05-28 20:12] MohamedMedhat1998 opened #1171 "ExplorationPlayer - Tablet (Landscape) (Highfi)"
Mocks: (not ready yet)

Implement high-fi UI for **ExplorationPlayer** tablet landscape mode

**Target PR date**: 5 July 2020
**Target completion date**: 9 July 2020

[2020-05-28 20:14] MohamedMedhat1998 opened #1172 "ExplorationPlayer - Tablet (Portrait) (Lowfi)"
Mocks: (not ready yet)

Implement low-fi UI for **ExplorationPlayer** tablet portrait mode

**Target PR date**: 27 June 2020
**Target completion date**: 1 July 2020

[2020-05-28 20:16] MohamedMedhat1998 opened #1173 "ExplorationPlayer - Tablet (Portrait) (Highfi)"
Mocks: (not ready yet)

Implement high-fi UI for **ExplorationPlayer** tablet portrait mode

**Target PR date**: 5 July 2020
**Target completion date**: 9 July 2020

[2020-05-28 20:20] MohamedMedhat1998 opened #1174 "QuestionPlayer - Tablet (Landscape) (Lowfi)"
Mocks: (not ready yet)

Implement low-fi UI for **QuestionPlayer** tablet landscape mode

**Target PR date**: 1 July 2020
**Target completion date**: 5 July 2020

[2020-05-28 20:33] MohamedMedhat1998 opened #1175 "QuestionPlayer - Tablet (Landscape) (Highfi)"
Mocks: (not ready yet)

Implement high-fi UI for **QuestionPlayer** tablet landscape mode

**Target PR date**: 9 July 2020
**Target completion date**: 13 July 2020

[2020-05-28 20:34] MohamedMedhat1998 opened #1176 "QuestionPlayer - Tablet (Portrait) (Lowfi)"
Mocks: (not ready yet)

Implement low-fi UI for **QuestionPlayer** tablet portrait mode

**Target PR date**: 1 July 2020
**Target completion date**: 5 July 2020

[2020-05-28 20:35] MohamedMedhat1998 opened #1177 "QuestionPlayer - Tablet (Portrait) (Highfi)"
Mocks: (not ready yet)

Implement high-fi UI for **QuestionPlayer** tablet portrait mode

**Target PR date**: 9 July 2020
**Target completion date**: 13 July 2020

[2020-05-28 20:42] MohamedMedhat1998 opened #1178 "Hints & Solution - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/cde3ce25-786f-41d6-b967-64b769602b71/L-Hint-Part-1-of-2-

Implement low-fi UI for **Hints & Solution** tablet landscape mode

**Target PR date**: 5 July 2020
**Target completion date**: 9 July 2020

[2020-05-28 20:45] MohamedMedhat1998 opened #1179 "Hints & Solution - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/cde3ce25-786f-41d6-b967-64b769602b71/L-Hint-Part-1-of-2-

Implement high-fi UI for **Hints & Solution** tablet landscape mode

**Target PR date**: 15 July 2020
**Target completion date**: 19 July 2020

[2020-05-28 20:47] MohamedMedhat1998 opened #1180 "Hints & Solution - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/b7781cb7-6f4f-4a1c-b5f1-f78240440ce2/P-Hint-Part-2-of-2-

Implement low-fi UI for **Hints & Solution** tablet portrait mode

**Target PR date**: 5 July 2020
**Target completion date**: 9 July 2020

[2020-05-28 20:48] MohamedMedhat1998 opened #1181 "Hints & Solution - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/e5d3beb6-6f0a-47cf-bd40-4ef00ef5e53d/P-Hint-Part-1-of-4-

Implement high-fi UI for **Hints & Solution** tablet portrait mode

**Target PR date**: 15 July 2020
**Target completion date**: 19 July 2020

[2020-05-28 21:12] MohamedMedhat1998 opened #1182 "Concept Card - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/883dee89-a1cb-4932-9c7d-ab7fb585238c/L-Concept-Card

Implement low-fi UI for **Concept Card** tablet landscape mode

**Target PR date**: 5 July 2020
**Target completion date**: 9 July 2020

[2020-05-28 21:13] MohamedMedhat1998 opened #1183 "Concept Card - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/883dee89-a1cb-4932-9c7d-ab7fb585238c/L-Concept-Card

Implement high-fi UI for **Concept Card** tablet landscape mode

**Target PR date**: 15 July 2020
**Target completion date**: 19 July 2020

[2020-05-28 21:14] MohamedMedhat1998 opened #1184 "Concept Card - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/203c578c-57da-461a-9d4d-60fed26f9b64/P-Concept-Card

Implement low-fi UI for **Concept Card** tablet portrait mode

**Target PR date**: 5 July 2020
**Target completion date**: 9 July 2020

[2020-05-28 21:16] MohamedMedhat1998 opened #1185 "Concept Card - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/203c578c-57da-461a-9d4d-60fed26f9b64/P-Concept-Card

Implement high-fi UI for **Concept Card** tablet portrait mode

**Target PR date**: 15 July 2020
**Target completion date**: 19 July 2020

[2020-05-29 03:10] vinitamurthi commented on #971
That looks good to me, only one thing - do the installation of linters together and then run tests together. i.e. let the steps be : install ktlint, install buf, run ktlint, run buf

As for testing, yes we cannot test locally but you can make these changes in circleci config and create a PR and see what happens with the continuous integration tests in that PR

[2020-05-29 07:42] veena14cs commented on #1050
@BenHenning There are 2 types of correctAnswer one is object and one is string. Object corresponds to fractions based on json files in assets and rest all interaction types as well as other then fractions have correctAnswer type as string.

[2020-05-29 08:08] seanlip commented on #1050
Something seems a bit confused here. The bug title says "solutions" but the description talks about "hints". These are two different things.

Hints are always in rich-text format.

Solutions include an "answer" and an "explanation" component. The explanation is always in rich-text format. The type of the "answer" can vary, and it depends on the specific interaction in the corresponding question. T

[2020-05-29 16:38] MohamedMedhat1998 opened #1188 "ProfileChooser-FirstTime - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/33741ea7-89da-4e5d-b2a4-9872f6db48b4/L-Profile-Chooser-First-Time

Implement low-fi UI for **ProfileChooser-FirstTime** tablet landscape mode

**Target PR date**: 3 June 2020
**Target completion date**: 6 June 2020

[2020-05-29 16:43] MohamedMedhat1998 opened #1189 "ProfileChooser-FirstTime - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/33741ea7-89da-4e5d-b2a4-9872f6db48b4/L-Profile-Chooser-First-Time

Implement high-fi UI for **ProfileChooser-FirstTime** tablet landscape mode

**Target PR date**: 12 June 2020
**Target completion date**: 16 June 2020

[2020-05-29 16:46] MohamedMedhat1998 opened #1190 "ProfileChooser-FirstTime - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d63eabcd-f0bf-4e06-9c08-f4d77429c356/P-Profile-Chooser-First-Time

Implement low-fi UI for **ProfileChooser-FirstTime** tablet portrait mode

**Target PR date**: 3 June 2020
**Target completion date**: 6 June 2020

[2020-05-29 16:48] MohamedMedhat1998 opened #1191 "ProfileChooser-FirstTime - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/d63eabcd-f0bf-4e06-9c08-f4d77429c356/P-Profile-Chooser-First-Time

Implement high-fi UI for **ProfileChooser-FirstTime** tablet portrait mode

**Target PR date**: 12 June 2020
**Target completion date**: 16 June 2020

[2020-05-30 10:54] MohamedMedhat1998 opened #1194 "AdminControls - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/ed5480b9-cee5-4b28-845f-f0bf5d965653/

Implement low-fi UI for **AdminControls** tablet landscape mode

**Target PR date**: 26 July 2020
**Target completion date**: 30 July 2020

[2020-05-30 11:30] MohamedMedhat1998 opened #1195 "AdminControls - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/ed5480b9-cee5-4b28-845f-f0bf5d965653/

Implement high-fi UI for **AdminControls** tablet landscape mode

**Target PR date**: 8 August 2020
**Target completion date**: 12 August 2020

[2020-05-30 11:32] MohamedMedhat1998 opened #1196 "AdminControls - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/f55f5e39-3889-4900-a22a-4f6e531a51ca/

Implement low-fi UI for **AdminControls** tablet portrait mode

**Target PR date**: 26 July 2020
**Target completion date**: 30 July 2020

[2020-05-30 11:33] MohamedMedhat1998 opened #1197 "AdminControls - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/f55f5e39-3889-4900-a22a-4f6e531a51ca/

Implement high-fi UI for **AdminControls** tablet portrait mode

**Target PR date**: 8 August 2020
**Target completion date**: 12 August 2020

[2020-05-30 11:36] MohamedMedhat1998 opened #1198 "Options - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/421aa1ca-594a-452e-8367-c990916a5fe6/

Implement low-fi UI for **Options** tablet landscape mode

**Target PR date**: 26 July 2020
**Target completion date**: 30 July 2020

[2020-05-30 11:38] MohamedMedhat1998 opened #1199 "Options - Tablet (Landscape) (Highfi)"
Mocks: (not ready yet)

Implement high-fi UI for **Options** tablet landscape mode

**Target PR date**: 8 August 2020
**Target completion date**: 12 August 2020

[2020-05-30 11:39] MohamedMedhat1998 opened #1200 "Options - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/20631bfd-3756-47a1-9353-ac0a8e9615cd/

Implement low-fi UI for **Options** tablet portrait mode

**Target PR date**: 26 July 2020
**Target completion date**: 30 July 2020

[2020-05-30 11:40] MohamedMedhat1998 opened #1201 "Options - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/20631bfd-3756-47a1-9353-ac0a8e9615cd/

Implement high-fi UI for **Options** tablet portrait mode

**Target PR date**: 8 August 2020
**Target completion date**: 12 August 2020

[2020-05-30 11:44] MohamedMedhat1998 opened #1202 "ProfileProgress - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/2ff85dc5-81e1-4bc9-8c31-04e90626c9be/specs/

Implement low-fi UI for **ProfileProgress** tablet landscape mode

**Target PR date**: 26 July 2020
**Target completion date**: 30 July 2020

[2020-05-30 11:46] MohamedMedhat1998 opened #1203 "ProfileProgress - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/2ff85dc5-81e1-4bc9-8c31-04e90626c9be/specs/

Implement high-fi UI for **ProfileProgress** tablet landscape mode

**Target PR date**: 8 August 2020
**Target completion date**: 12 August 2020

[2020-05-30 11:47] MohamedMedhat1998 opened #1204 "ProfileProgress - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/3d1f3565-be7c-4458-b1e4-e68812648109

Implement low-fi UI for **ProfileProgress** tablet portrait mode

**Target PR date**: 26 July 2020
**Target completion date**: 30 July 2020

[2020-05-30 11:48] MohamedMedhat1998 opened #1205 "ProfileProgress - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/3d1f3565-be7c-4458-b1e4-e68812648109

Implement high-fi UI for **ProfileProgress** tablet portrait mode

**Target PR date**: 8 August 2020
**Target completion date**: 12 August 2020

[2020-05-30 11:57] MohamedMedhat1998 opened #1206 "OngoingTopicList - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/e2c05498-d42e-41ac-b159-09affda9fcff/L-Topics-in-Progress

Implement low-fi UI for **OngoingTopicList** tablet landscape mode

**Target PR date**: 30 July 2020
**Target completion date**: 3 August 2020

[2020-05-30 11:59] MohamedMedhat1998 opened #1207 "OngoingTopicList - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/e2c05498-d42e-41ac-b159-09affda9fcff/

Implement high-fi UI for **OngoingTopicList** tablet landscape mode

**Target PR date**: 9 August 2020
**Target completion date**: 13 August 2020

[2020-05-30 12:01] MohamedMedhat1998 opened #1208 "OngoingTopicList - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/93603b3c-47b6-437b-9542-fcfeb43beeaf/P-Topics-in-Progress

Implement low-fi UI for **OngoingTopicList** tablet portrait mode

**Target PR date**: 30 July 2020
**Target completion date**: 3 August 2020

[2020-05-30 12:02] MohamedMedhat1998 opened #1209 "OngoingTopicList - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/93603b3c-47b6-437b-9542-fcfeb43beeaf/

Implement high-fi UI for **OngoingTopicList** tablet portrait mode

**Target PR date**: 9 August 2020
**Target completion date**: 13 August 2020

[2020-05-30 12:07] MohamedMedhat1998 opened #1210 "CompletedStoryList - Tablet (Landscape) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/78477c9b-1c7a-4df3-8530-62fb4d4135d8/

Implement low-fi UI for **CompletedStoryList** tablet landscape mode

**Target PR date**: 30 July 2020
**Target completion date**: 3 August 2020

[2020-05-30 12:09] MohamedMedhat1998 opened #1211 "CompletedStoryList - Tablet (Landscape) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/78477c9b-1c7a-4df3-8530-62fb4d4135d8/

Implement high-fi UI for **CompletedStoryList** tablet landscape mode

**Target PR date**: 9 August 2020
**Target completion date**: 13 August 2020

[2020-05-30 12:11] MohamedMedhat1998 opened #1212 "CompletedStoryList - Tablet (Portrait) (Lowfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/370479e0-c774-4ca2-9864-bbf9f58d5672/P-Stories-Completed

Implement low-fi UI for **CompletedStoryList** tablet portrait mode

**Target PR date**: 30 July 2020
**Target completion date**: 3 August 2020

[2020-05-30 12:13] MohamedMedhat1998 opened #1213 "CompletedStoryList - Tablet (Portrait) (Highfi)"
Mocks: https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/370479e0-c774-4ca2-9864-bbf9f58d5672/P-Stories-Completed

Implement high-fi UI for **CompletedStoryList** tablet portrait mode

**Target PR date**: 9 August 2020
**Target completion date**: 13 August 2020

[2020-05-30 12:22] MohamedMedhat1998 opened #1214 "ScreenshotTesting Integration"
Implement the dependencies of any screenshot-testing library.
_(Recommended: [Facebook library](https://github.com/facebook/screenshot-tests-for-android))_

## Useful resources
[Docs](http://facebook.github.io/screenshot-tests-for-android/)
[Screenshot-testing with Material Design Library](https://medium.com/@mohamed.medhat0298/screenshot-testing-with-material-design-library-9d1f62b19763)

[2020-05-30 12:25] MohamedMedhat1998 opened #1215 "ScreenshotTesting"
Write screenshot-testing test cases for at least 1 screen
## Useful resources
[Docs](http://facebook.github.io/screenshot-tests-for-android/)
[Screenshot-testing with Material Design Library](https://medium.com/@mohamed.medhat0298/screenshot-testing-with-material-design-library-9d1f62b19763)

[2020-05-30 12:36] MohamedMedhat1998 commented on #1075
@BenHenning this card is in _"Awaiting Triage"_ state in [GSoC 2020 4.1: Support tablet interfaces project](https://github.com/oppia/oppia-android/projects/5?fullscreen=true), what should we do in this case?

[2020-05-31 06:20] #1132 closed, assigned to aggarwalpulkit596

[2020-05-31 06:26] aggarwalpulkit596 opened #1216 "Use/Remove input interaction Object for drag & Drop"
Completely remove/use the proto objects introduced in #1065

[2020-05-31 06:27] #1064 closed, assigned to aggarwalpulkit596

[2020-05-31 06:33] aggarwalpulkit596 opened #1217 "Add DragDropAndSort case in StateReceiver"
Add testing exploration file with handling rules for Drag & Drop in StateReciever

Target PR date: 19 May 2020
Target completion date: 20 May 2020

[2020-05-31 06:35] #1217 closed, assigned to aggarwalpulkit596

[2020-05-31 06:44] aggarwalpulkit596 opened #1218 "Add DragDropSortInput Module"
Introduce the following things in order to add Drag & Drop Interaction support

- [x] Annotation class for Drag & Drop Input Rules classfiers

- [x] HasElementXAtPositionY Classifier

- [x] MultiTypeDoubleInputMatcher for matching drag & drop classifiers

- [x] Declaring DragDropInputModule in application component

- [x] Registering Interaction inside InteractionObjectTypeExtractorRepository

**T

[2020-05-31 06:52] aggarwalpulkit596 opened #1219 "Add classifiers isEqualToOrdering"
Add new classifier rule `isEqualToOrdering`

**Target PR date**: 22 May 2020
**Target completion date**: 24 May 2020

[2020-05-31 06:58] aggarwalpulkit596 opened #1220 "Add classifiers isEqualToOrderingWithOneItemAtIncorrectPosition"
Add new classifier rule `isEqualToOrderingWithOneItemAtIncorrectPositionAdd classifiers isEqualToOrderingWithOneItemAtIncorrectPosition`

**Target PR date**: 23 May 2020
**Target completion date**: 25 May 2020

[2020-05-31 06:59] aggarwalpulkit596 opened #1221 "Add classifiers hasElementXBeforeY"
Add new classifier rule `hasElementXBeforeY`

**Target PR date**: 23 May 2020
**Target completion date**: 25 May 2020

[2020-05-31 07:02] aggarwalpulkit596 opened #1222 "Add helper class and corresponding listener for DragDropSort"
Add Helper class for Recyclerview extending `ItemTouchHelper.Callback()` for enabling drag and drop in recycler view along with an interface to handle change in exploration player

**Target PR date**: 26 May 2020
**Target completion date**: 30 May 2020