[2020-12-07 03:48] anandwana001 commented on #1897
It looks like you had signed the CLA, but haven't filled the Contributor Survey yet. Please fill the contributor survey from the onboarding instruction before starting with the contribution.

[2020-12-07 03:55] anandwana001 commented on #2131
Yes, All we need here is no progress bar when the keyboard is active.

[2020-12-07 04:11] #1871 closed, assigned to anandwana001

[2020-12-07 08:19] anandwana001 commented on #2227
@arnoob16 Please check the Onboarding Instructions before starting with the contribution.
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2020-12-07 11:40] fsharpasharp commented on #1897
I thought I did, but I've filled the survey for sure now. Let me know if it shows up.

[2020-12-07 17:46] Arjupta commented on #2217
@mschanteltc can you give some description on how to resolve this

[2020-12-08 05:41] anandwana001 commented on #2093
@ReCodee As you had closed the PR, unassigning you.

[2020-12-08 06:25] anandwana001 opened #2234 "Shift assertThrows function in Testing Module"
**Is your feature request related to a problem? Please describe.**
We are using `assertThrows` function in multiple places in app/domain/testing/utility module.

**Describe the solution you'd like**
Shift this function under the testing module and use wherever needed.
One reference of the `assertThrows` function
https://github.com/oppia/oppia-android/blob/f616e8570ee6c791250a0675e0b728204b96b1d1/d

[2020-12-08 06:46] 7phalange7 commented on #2210
Hello @ARJUPTA , I'm working on the issue. Please assign me the issue.

[2020-12-08 13:02] Arjupta commented on #2210
@7phalange7 assigned it to you

[2020-12-08 16:52] ShridharGoel commented on #2234
I would like to work on all parts of this issue.

[2020-12-08 19:21] 7phalange7 commented on #2210
@ARJUPTA to fix the above issues I need to add min height/weight and text color, So should I use `hardcoded` values or make new entries in `@dimens` and `@color` resources and use them?

[2020-12-08 22:05] Arjupta commented on #2210
You must use dimens and color files for resolving any issue.

[2020-12-09 00:43] anandwana001 commented on #2234
I suggest completing the last part first, as it requires to create a helper class and then all other parts can use that helper class.

[2020-12-09 02:46] mschanteltc commented on #2132
For inactive cards, you would need the [lock icon](https://material.io/resources/icons/?search=lock&icon=lock&style=baseline) and to blur out the card's thumbnail image. Blur it by overlaying a container that is the exact color of the thumbnail's background, drop the opacity to 50%, and apply a blur.

[2020-12-09 02:50] BenHenning commented on #2234
@anandwana001 isn't it the case that once we introduce assertThrows in the testing module then it can be used everywhere else? I suggest indicating that's the plan here & clarifying the dependency and expectations for the other modules.

[2020-12-09 02:50] BenHenning commented on #2234
@ShridharGoel assigned to you. :)

[2020-12-09 05:44] ShridharGoel commented on #2234
@BenHenning Thanks. :)

[2020-12-09 06:34] ShridharGoel opened #2237 "Remove orientation attribute from ConstraintLayout and FrameLayout in the project"
ConstraintLayout and FrameLayout do not need orientation.

Hence, orientation attribute should be removed wherever it has been used in these layouts.

**Example:**

https://github.com/oppia/oppia-android/blob/f616e8570ee6c791250a0675e0b728204b96b1d1/app/src/main/res/layout/onboarding_slide.xml#L20-L23

Here, `android:orientation="vertical"` is not required.

[2020-12-09 09:39] fsharpasharp commented on #2237
I can take this task.

[2020-12-09 11:02] anandwana001 opened #2239 "Add all missing test in domain/BUILD.bazel"
**Is your feature request related to a problem? Please describe.**
As per the Bazel, we need to mention all the test files which are inside the domain module, under the BUILD.bazel file of domain module. Some of the test files are missing.

**Describe the solution you'd like**
1. Find all the test files in the domain module which are not added in the BUILD.bazel file.
https://github.com/oppia/oppi

[2020-12-09 11:41] FareesHussain commented on #2239
Please assign this to me

[2020-12-09 17:47] FareesHussain commented on #1900
I'm working on this

[2020-12-09 19:44] ForgottenProgramme opened #2245 "[RTL] High-Fi Alert dialogs"
**Describe the bug**
All alert dialogs need RTL support.

**To Reproduce**
Steps to reproduce the behavior:
1. Force RTL layout on your device from developer options.
2. Launch the app
3. Click on any profile to choose it
4. On home screen, click on the back button

**Expected behavior**
The exit profile dialogue box asks for confirmation to exit from profile. The text and the buttons are on the l

[2020-12-09 20:33] FareesHussain commented on #2058
This can't be done in `AdminAuthActivityTest` right? as on back press the current activity i.e AdminAuthActivity would be destroyed and the test fails with a message

    androidx.test.espresso.NoActivityResumedException: Pressed back and killed the app

May be we need to add tests in `ProfileChooserActivity` and `AdministratorControlsActivity`

[2020-12-10 00:07] mschanteltc commented on #2217
Let's change the subtext to #555555. LMK what contrast ratio that would make it and if it is sufficient enough.

[2020-12-10 00:38] mschanteltc commented on #2229
@anandwana001 It's strange that in the screenshots, the names start on a new line but are offset for some reason. Does this problem occur in a RTL language?

[2020-12-10 03:14] #2239 closed, assigned to FareesHussain

[2020-12-10 03:24] anandwana001 commented on #2058
@FareesHussain Correct, as in the test we are launching `AdminAuthActivityTest ` standalone, so we cannot move back.
Let's do one thing:
We have two ways to open `AdminAuthActivity`
 - `AdminAuthEnum.PROFILE_ADD_PROFILE` - clicking on add profile item, If the admin pin is already set it will open to add profile screen
 - `AdminAuthEnum.PROFILE_ADMIN_CONTROLS` - clicking on admin controls item in t

[2020-12-10 04:12] anandwana001 commented on #2193
I think for this issue, we might need a different set or strings like `<li dir="rtl">` and need to parse it in the HtmlParser.
As for now, we are parsing the li tags in another way using `BulletTagHandler`
This issue is a bit big enough which needs a lot or workaround.

[2020-12-10 07:58] FareesHussain opened #2248 "Fix flacky test in ProfileChooserFragmentTest"
**Describe the bug**
Flacky test case in ProfileChooserFragmentTest

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ProfileChooserFragmentTest.kt'
2. Run the test case `testProfileChooserFragment_afterVisitingHomeActivity_showsJustNowText` it passes
3. Run the  test file `ProfileChooserFragmentTest.kt`
4. The test `testProfileChooserFragment_afterVisitingHomeActivity_showsJustNowText`

[2020-12-10 08:56] anandwana001 commented on #2229
@ForgottenProgramme Could you please verify this and update the issue accordingly.

[2020-12-10 09:19] FareesHussain commented on #2248
@anandwana001 this issue was caused when I added the AdiminAuth intent check
but when I removed them as per [review](https://github.com/oppia/oppia-android/pull/2247#pullrequestreview-548919585) it works

So shall I close this.

[2020-12-10 09:20] anandwana001 commented on #2248
Ah, That's Great. Thanks for he update.

[2020-12-10 09:20] #2248 closed, assigned to nobody

[2020-12-10 09:51] ForgottenProgramme commented on #2229
Hey, @mschanteltc !
I didn't quiet understand what you are trying to say. In the screenshots, the name is not on a newline.

[2020-12-10 17:20] anandwana001 commented on #2228
![Screenshot_2020-12-10-22-49-06-376_org oppia android](https://user-images.githubusercontent.com/25057618/101806480-069c9880-3b3a-11eb-8629-3f00b91fbe40.jpg)

[2020-12-10 20:49] mschanteltc commented on #2229
You're right, it was the trick of the eye for me!

The fix here is to lessen the gap between the name and the greeting. Does this problem still occur in RTL languages?

[2020-12-10 20:49] mschanteltc commented on #2228
@anandwana001 The listed item needs to be a separate textbox from the number or the bullet. For example, "1. From the Profile Chooser..." has its second line start at the same point as "1." when it should actually be aligned with the word "From".

All listed items, numerical or bulleted, need to have a larger left indent than the body text. For example, the bullet points and numbered list need to

[2020-12-11 05:44] #2058 closed, assigned to FareesHussain

[2020-12-11 08:25] anandwana001 opened #2249 "Implement strategy to test Navigation Drawer"
**Is your feature request related to a problem? Please describe.**
The current tests in `NavigationDrawerTestActivityTest ` depend on HomeActivity behaviour--that's not ideal
Reference - https://github.com/oppia/oppia-android/pull/2204#discussion_r540697249

[2020-12-11 09:11] #1968 closed, assigned to anandwana001

[2020-12-11 14:59] Arjupta commented on #2219
Currently, views are marked as non-clickable in the inactive state which causes the contrast issue, they should be marked enabled/disabled based on their state which will prevent the scanner to detect it as an error.

[2020-12-11 14:59] Arjupta commented on #2218
Currently, views are marked as non-clickable in the inactive state which causes the contrast issue, they should be marked enabled/disabled based on their state which will prevent the scanner to detect it as an error

[2020-12-11 15:00] Arjupta commented on #2207
Currently, views are marked as non-clickable in the inactive state which causes the contrast issue, they should be marked enabled/disabled based on their state which will prevent the scanner to detect it as an error

[2020-12-11 15:00] Arjupta commented on #2206
Currently, views are marked as non-clickable in the inactive state which causes the contrast issue, they should be marked enabled/disabled based on their state which will prevent the scanner to detect it as an error

[2020-12-11 17:26] ForgottenProgramme commented on #2229
Just lessen the gap? Shouldn't the name come AFTER the greeting?

[2020-12-11 17:42] aggarwalpulkit596 opened #2250 "Add design doc for Linear Scale Interaction"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-11 17:43] aggarwalpulkit596 commented on #2250
cc @BenHenning @seanlip

[2020-12-12 00:34] mschanteltc commented on #2229
Yes the name should come after the greeting, and since this is in RTL layout, the name should be left of the greeting.

[2020-12-12 03:32] anandwana001 opened #2252 "Rich-Text support for StoryChapterView [BLOCKED ON #2132, #2013]"
**Describe the bug**
The description of the chapter card is not supporting styling.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any Topic
2. Click on Lesson Tab -> Click on Story Name
3. Check the last item of the list

**Expected behaviour**
The text should be styled as per the requirement. ([mock](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/5abb0ac

[2020-12-12 08:53] ForgottenProgramme commented on #2229
Yes, you are right. That would be the case if our text was in some Arabic language. But this is still English and not Arabic.
Here, have a look at this other screen in the app where RTL support has been added:
![port_mob_faq](https://user-images.githubusercontent.com/65779580/101979685-1674c380-3c85-11eb-801c-fe1b5fc25212.png)

The text is aligned to the right, but it is still read from Left to Ri

[2020-12-13 03:43] anandwana001 opened #2255 "Introduce Fake Audio on Espresso"
**Describe the bug**
Testing Audio on Espresso is a bit tricky. We cannot test audio when the audio is playing in a real-time because that's the idle state in espresso and nothing can be a check on idle state.

**Expected behaviour**
`ExplorationActivityTest.kt` - Check `@Ignore` tests
1. Test is only passing on Robolectric as for Espresso we need to check the pause button is visible, but the paus

[2020-12-13 21:58] yk1ax commented on #2131
@anandwana001 should I try setting some sort of listener for soft keyboard and from that hide the progressBar. And I checked that the functionality for checking if the keyboard is active was added in android 11 and it is not backward compatible as of now. So what method should I use for having the listener functionality.

[2020-12-14 04:32] anandwana001 commented on #2131
@yk1ax You can send a draft PR so we can discuss over the approach.
I think we can check the visibility using `InputMethodManager ` which I guess supports our lower API level as well.

[2020-12-14 06:15] Arjupta opened #2256 "Changes needed in Pin Password Activity [A11y] [BLOCKED]"
**Describe the bug**

Pin Password Activity is not fully compatible with some users from the Accessibility point of view.

Issue 1 - The pinView inside the pin_password_activity.xml does not have any content label (inactive state)
Issue 2 - The reset pin dialog box has a profile input view which also misses a label.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Sca

[2020-12-14 08:55] anandwana001 opened #2257 "Remove unnecessary Initialisation of Firebase app in Testing"
**Describe the bug**
Most of the places in the app module testing files we are initializing Firebase app, which is used previously for some workaround but it is not needed now.

**Expected behavior**
1. Remove the initialization - `FirebaseApp.initializeApp(context)`
2. Run the test in Espresso and Robolectric and see if all the test cases are passing or not.
3. If all the test cases are failing w

[2020-12-14 09:52] Arjupta opened #2258 "Changes needed in Add Profile Activity [A11y]"
**Describe the bug**

Add Profile Activity is not fully compatible with some users from the Accessibility point of view.

![Screenshot_2020-12-06-23-20-28-91_80a9469f53bfe75dbc6e8989be28e2f0](https://user-images.githubusercontent.com/64064110/102060207-e4e03180-3e17-11eb-957a-25bfae79ef91.jpg)

Issue 1 - The circular image view, edit image button does and info button do not have any content label.

[2020-12-14 11:05] FareesHussain commented on #2257
Please assign this to me

[2020-12-14 13:15] anandwana001 commented on #2257
@FareesHussain PTAL at Gitter private channel

[2020-12-14 17:44] BenHenning commented on #2141
The actionable item here is to check the app at the version Chantel was using (which should be https://github.com/oppia/oppia-android/tree/release-0.4 against tip-of-tree to verify that the issue no longer exists). Checking the release version is important to ensure we understand the issue Chantel is reporting.

[2020-12-14 17:45] etigoel commented on #2141
I can start working on this

[2020-12-14 17:45] etigoel commented on #2257
I can start working on this

[2020-12-15 01:36] BenHenning opened #2259 "Turn off split apks"
We should disable split apks since they don't seem to be workable, and we'll do this better/more properly with Bazel in #2276.

[2020-12-15 01:39] mschanteltc commented on #2229
I'm confused as to why we're implementing RTL for the English language. If the app language were English, then it should always be LTR.
@anandwana001 Is it possible you can elaborate what the issue is?

[2020-12-15 02:07] BenHenning commented on #2252
Also blocked on #2013 (most likely since this is a bit tricky to do without that).

[2020-12-15 04:01] anandwana001 opened #2260 "Few tests using EditTextInputAction are freezing on Espresso"
**Describe the bug**
Some of the tests using `EditTextInputAction` are failing as the EditText is not getting focus and not able to set the text to it. All the tests are passing earlier but now they are failing.

**Expected behavior**
Need to investigate why they are failing now on Espresso.

The possible solution is to perform all three actions click to get focus, set the text and close the keybo

[2020-12-15 06:21] rt4914 commented on #2259
@ForgottenProgramme Have a look at this issue. This is related to MDPI project too.

[2020-12-15 07:52] FareesHussain opened #2263 "Lessons tab crashes in landscape mode(mobile) and tablets"
**Describe the bug**
Lessons tab crash when switched to landscape.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Any Topic
2. open on 'Lessons Tab'
3. Change to Landscape mode
4. App Crashes

**Expected behavior**
Should not crash on landscape mode

**Screenshots**
If applicable, add screenshots or videos to help explain your problem.

**Device**
- Pixel 3a XL - emulator
- SDK version

[2020-12-15 08:46] ForgottenProgramme commented on #2229
@rt4914

[2020-12-15 09:00] ForgottenProgramme commented on #2229
@mschanteltc ,
I think we are trying to make sure our app looks and works fine even when the user forces RTL layout on the device (under Developer Options).
@anandwana001  and @rt4914  will know better about this.

[2020-12-15 10:35] ForgottenProgramme commented on #2259
@rt4914  yes, thankyou.
@BenHenning , yes, I have been trying to run the app on an mdpi device, when I ran into this issue.
I'll try solving this.

[2020-12-15 19:50] BenHenning commented on #936
@rt4914 is this part of @veena14cs's project?

[2020-12-15 22:13] BenHenning commented on #2205
From discussion today, it seems like 'Administrator' is also missing from the portrait view.

[2020-12-15 23:24] BenHenning commented on #2047
Consider also: running on landscape & portrait.

[2020-12-16 00:16] anandwana001 commented on #2260
Migration to TextInputLayout fixing the freezing test cases as well as IME actions related test cases too.
https://github.com/oppia/oppia-android/pull/2265

although we cannot use the `EditTextInputAction` for espresso as it doesn't have click action to bring the view in focus and appending text doesn't seem to work now.
relying on `.perform(click(), replaceText("1234"), closeSoftKeyboard())` whic

[2020-12-16 01:32] #1890 closed, assigned to jcqli

[2020-12-16 01:53] BenHenning commented on #2260
@anandwana001 what has changed to lead to the Espresso tests freezing? That seems like a regression, so we should find the PR(s) that introduced the issue to better help identify _why_.

[2020-12-16 04:42] anandwana001 commented on #2257
@etigoel Suggesting to join our Gitter channel for all the communication. All the contributors and team members are there.
https://gitter.im/oppia/oppia-android

[2020-12-16 05:34] rt4914 commented on #936
@BenHenning Partially yes. In optimisation tips there are three points and out of which @veena14cs has to focus on the timestamp part only. The percentage/scoring of exploration is not a part of @veena14cs 's project.

[2020-12-16 06:18] rt4914 opened #2266 "[RTL] High-fi AdminPinVerification [BLOCKED]"
`AdminPinVerification` needs RTL support as shown in below screen.

![PC AP (Empty) – RTL](https://user-images.githubusercontent.com/9396084/102312344-8b514180-3f94-11eb-89c0-aa54279de8bc.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

**Do not focus on keyboard, we are using native android keyboard.**

## References
Mobile Portrait: h

[2020-12-16 06:26] rt4914 opened #2267 "[RTL] High-fi ProfileProgress"
`ProfileProgress` needs RTL support as shown in below screen.
![UP (User Profile) – RTL](https://user-images.githubusercontent.com/9396084/102312890-8e98fd00-3f95-11eb-99d6-33bfb656775f.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid

[2020-12-16 06:44] rt4914 opened #2268 "[RTL] High-fi Navigation Drawer"
`Navigation Drawer` needs RTL support as shown in below screen.
![HP (Side Menu) – RTL](https://user-images.githubusercontent.com/9396084/102314248-20a20500-3f98-11eb-82b8-0439aa3b509d.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/

[2020-12-16 06:53] rt4914 opened #2269 "[RTL] High-fi ReadingDisplaySize"
`ReadingDisplaySize` needs RTL support as shown in below screen.
![OP (Story Text Size) – RTL](https://user-images.githubusercontent.com/9396084/102315016-6ad7b600-3f99-11eb-8bd6-4bf3aea9bbe6.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9

[2020-12-16 06:54] rt4914 opened #2270 "[RTL] High-fi Audio/App Language"
`Audio/App Language` needs RTL support as shown in below screen.
![OP (Default Audio Language) – RTL](https://user-images.githubusercontent.com/9396084/102315100-8fcc2900-3f99-11eb-88b5-4fb5d6b91cf0.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc5445

[2020-12-16 07:01] rt4914 opened #2271 "[RTL] High-fi Topic Revision Cards"
`Topic Revision Tab` needs RTL support as shown in below screen.
![TP (Revision)-RTL](https://user-images.githubusercontent.com/9396084/102315675-8f805d80-3f9a-11eb-87ec-985c62a9f096.png)

**Do not focus on tabs RTL in this issue.**

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa

[2020-12-16 13:08] coder2699 commented on #2270
@rt4914 I want to do this task. Please assign me.

[2020-12-16 19:06] BenHenning opened #2276 "Enable density-based APKs in Bazel"
This is derived from #2259. Bazel should have multiple builds with the following configurations:
- Density-based production builds with proguard/appreduce enabled
- Developer build with all density files included and no proguard/appreduce

This functionality will be new in Bazel since support for multi-apk builds needs to be turned off in Gradle.

[2020-12-16 19:07] BenHenning commented on #2259
Thanks for looking into this @ForgottenProgramme & @rt4914. I think we'll just need to turn this off and fix it in an environment that's easier to work with (Bazel): #2276.

[2020-12-17 02:45] #2237 closed, assigned to fsharpasharp

[2020-12-17 02:48] #1897 closed, assigned to fsharpasharp

[2020-12-17 02:58] #2271 closed, assigned to Luffy18346

[2020-12-17 04:09] anandwana001 opened #2277 "[Investigate] Does Robolectric performing Orientation change correctly"
**Describe the bug**
Orientation change is not behaving correctly in robolectric test cases.

**Expected behavior**
Need to investigate this and see if can have a better approach or modifying the current one.

[2020-12-17 04:22] viktoriias commented on #2132
I will be working on a second part of this issue - blurring and locking the image.

[2020-12-17 07:13] rt4914 opened #2278 "[RTL] High-fi Admin Controls Reset Pin"
`Admin Controls Reset Pin` needs RTL support as shown in below screen.
![AC EP (Reset PIN, Empty) – RTL](https://user-images.githubusercontent.com/9396084/102454925-c622aa80-4064-11eb-922d-da1dc8ebfc88.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc5

[2020-12-17 07:14] rt4914 opened #2279 "[RTL] High-fi Admin Controls Profile Rename"
`Admin Controls Profile Rename` needs RTL support as shown in below screen.
![AC EP (Rename) – RTL](https://user-images.githubusercontent.com/9396084/102454936-c9b63180-4064-11eb-81c2-01b8a3d81d37.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f

[2020-12-17 07:14] rt4914 opened #2280 "[RTL] High-fi Admin Controls Profile Details"
` Admin Controls Profile Details` needs RTL support as shown in below screen.
![AC EP (Chantel’s Profile) – RTL](https://user-images.githubusercontent.com/9396084/102454943-cc188b80-4064-11eb-91e7-6bb7efd18e4c.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514

[2020-12-17 07:21] rt4914 opened #2281 "[RTL] High-fi AppVersion"
`AppVersion` needs RTL support as shown in below screen.
![AC AV (App Version) – RTL](https://user-images.githubusercontent.com/9396084/102455937-73e28900-4066-11eb-8969-8c5e77651f32.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/grid/
M

[2020-12-17 08:32] rt4914 opened #2282 "[RTL] High-fi Topic Lessons Tab"
`Topic Lessons` needs RTL support as shown in below screen.
![TP (Lessons, Auto-Scroll Top) – RTL](https://user-images.githubusercontent.com/9396084/102462887-65996a80-4070-11eb-9c96-c8b16a3ddb27.png)

Make sure that this works correctly in mobile (landscape + portrait) and tablet (landscape + portrait).

## References
Mobile Portrait: https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6

[2020-12-17 09:59] anandwana001 commented on #2021
unassigning @Florence-Njeri as no further update.

[2020-12-17 10:09] FareesHussain commented on #2021
@anandwana001
I would like to work on this, can you provide further details regarding this

[2020-12-17 10:16] anandwana001 commented on #2021
`TestDispatcherModule` module is providing `provideIsOnRobolectric`. We need to create a separate module for `provideIsOnRobolectric`. So, it can be provided without providing all the items from `TestDispatcherModule`

[2020-12-17 11:01] rt4914 opened #2283 "[RTL] High-fi Topic Tabs Icons"
`Topic Tabs Icons` needs to properly converted to RTL layout as per below guidelines.

1. Info - **Not Mirrored**
2. Lessons - **Not Mirrored**
3. Practice - **Not Mirrored**
4. Revision - **Mirrored**

Also, make sure this solution works on API 19, API 21 and API 29.

# LTR View
<img width="358" alt="Tabs-LTR" src="https://user-images.githubusercontent.com/9396084/102479832-6e486b80-4085-11eb-836

[2020-12-17 15:01] Arjupta opened #2288 "Recently Played Topic Cards Keep Sliding Back n Forth"
**Describe the bug**
The Recently Played Topics are shown at the start of the screen after a user log-in. The Cards which are shown there keep moving back and forth without any interaction by user
**To Reproduce**
Steps to reproduce the behavior:
1. Open the App and start the exploration on First Test Topic
2. Complete Prototype Exploration of First Story under it
3. Go back to the homepage and ex

[2020-12-17 15:03] Arjupta commented on #2288
@rt4914 can you try to reproduce it

[2020-12-17 16:54] rt4914 commented on #2288
Yes I have noticed this recently again in emulator.

[2020-12-17 23:59] mschanteltc commented on #2283
LGTM!

[2020-12-18 03:50] #2259 closed, assigned to ForgottenProgramme

[2020-12-18 06:49] ShridharGoel commented on #2279
Since here only `ProfileInputView` needs RTL support, this will also get done when #2287 is merged.

[2020-12-18 07:07] rt4914 commented on #2279
Thanks @ShridharGoel for mentioning this.

[2020-12-18 08:06] ShridharGoel commented on #2208
I would like to work on this.

[2020-12-18 12:48] yk1ax commented on #2288
I tried to reproduce this but couldn't because I came across another bug while doing it on my physical device where it isn't showing the input option for forward slash. My device has Samsung Keyboard by default so I tried reproducing it after downloading Gboard and then the keyboard is being shown as expected. So this should be considered as a bug in samsung keyboard right? But this could turn out

[2020-12-18 14:20] yk1ax commented on #2131
@anandwana001  I am trying to do the required task of hiding the progress by setting a focusChangeListener for the editText where we input the answer . But I saw it was using StatePlayerRecyclerViewAssembler to manage the submitted answers for a question. I tried to access the edittext from the databinding object but it seems a bit obfuscated to me because I cannot understand how is it binding the

[2020-12-18 16:16] imraghav20 commented on #2270
@rt4914 I am a new contributor and this issue looks like a perfect issue to start with. Can I work on this issue?

[2020-12-18 16:37] rt4914 commented on #2270
Hello @imraghav20 Thanks for showing interest. Before we start please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

Once this is done you will receive and email from the team and you can get started after that. Thanks.

[2020-12-18 16:39] rt4914 commented on #2288
@yk1ax Thanks a lot. Can you please file a **bug** for this issue so that we can keep track of it.

[2020-12-18 16:41] yk1ax commented on #2288
Ok sure I'll do that soon.

[2020-12-18 16:59] yk1ax opened #2290 "Keyboard not showing all input options that are needed for the answer"
**Describe the bug**
'/', ' ' are not being shown as an input option on the keyboard despite the required input being of the type 'p/q' of 'r p/q'

**To Reproduce**
Steps to reproduce the behavior:
1. Open the App and start the exploration on First Test Topic
2. Click on 'Prototype Exploration'
3. First question is 'What fraction represents half of something?'
4. Keyboard only shows inputs -> 0123

[2020-12-18 17:16] imraghav20 commented on #2270
Thank you very much for the info @rt4914

[2020-12-18 17:53] FareesHussain commented on #2290
I guess this can only be solved using Custom Key board (bottom sheet) according to [this](https://stackoverflow.com/a/41491692)

[2020-12-18 18:07] FareesHussain commented on #2228
@mschanteltc please check

![Screenshot_1608314664](https://user-images.githubusercontent.com/54740946/102646293-c799c300-4189-11eb-8a9b-7c3919826ae4.png)

[2020-12-18 22:23] mschanteltc commented on #2228
Thank you @FareesHussain. The bullet points look great. I'm not sure if this is the right issue to say this, but can we apply the same formatting to the number list as well?

[2020-12-19 05:13] viktoriias commented on #2132
@mschanteltc What if background is white? Wouldn't it make the lock less visible?

[2020-12-19 09:45] ForgottenProgramme opened #2292 "[RTL] High-Fi Administrator Controls Screen"
**Describe the bug**
The administrator control screen requires RTL support.

**To Reproduce**
Steps to reproduce the behavior:
1. Force RTL Layout on device
2. Launch App
3. At the bottom click on 'Administrator Controls'

**Expected behavior**
The text within should be aligned according to RTL layout

**Screenshots**
![admin](https://user-images.githubusercontent.com/65779580/102686331-f311c180-4

[2020-12-19 11:27] rt4914 commented on #1902
Closing this issue as we are in process of supporting all screens with RTL.

[2020-12-19 11:27] #1902 closed, assigned to nobody

[2020-12-19 15:47] prayutsu commented on #1039
Unassigning myself

[2020-12-19 19:40] FareesHussain commented on #2277
I've been trying to solve this I've found some references regarding this
 - [change qualifiers in RuntimeEnvironment (ref - robolectric docs)](http://robolectric.org/device-configuration/#changing-device-configuration) (tried, it doesn't work don't know why)
 - [activity.setRequestedOrientation (ref - codata)](https://www.codota.com/code/java/methods/android.app.Activity/getRequestedOrientation) (

[2020-12-20 16:13] priyanka0906 commented on #2292
@ForgottenProgramme  can I work on this issue?

[2020-12-20 17:57] ForgottenProgramme commented on #2292
Yes, sure! Go ahead. :)

[2020-12-21 03:14] anandwana001 opened #2294 "Migration to TextInputLayout from ProfileInputView"
**Is your feature request related to a problem? Please describe.**
Currently, we are using `ProfileInputView` which seems not able to perform a few things like testing for IME action and a `ProfileInputView` is itself a custom view which makes it hard to modify or introduce new features.

**Describe the solution you'd like**
Introducing `TextInputLayout` seems promising.

**How to submit PR for th

[2020-12-21 05:38] rt4914 commented on #2292
Hello @priyanka0906 Thanks for showing interest in Oppia. Before we start please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-12-21 05:48] rt4914 commented on #2132
@viktoriias Background won't be white in production app. It will contain an image always.

[2020-12-21 07:01] Arjupta opened #2295 "Changes in Topic Fragments [A11y]"
**Describe the bug**

Add Profile Activity is not fully compatible with some users from the Accessibility point of view.

![Screenshot_2020-12-17-10-55-15-07_80a9469f53bfe75dbc6e8989be28e2f0](https://user-images.githubusercontent.com/64064110/102745782-c5e71f80-4382-11eb-85a3-33c62e94c6c4.jpg)

Issue 1 - The contrast ratio of the Tab Icon text (For inactive Tabs) of the Tab Bar in **topic_fragment

[2020-12-21 11:28] Luffy18346 commented on #1770
@rt4914 I have tried to reproduce the issue and apart from what you have mentioned above, I found 2 more ways to reproduce it.

**1st way:**
1. Go to The Meaning of Equal Parts exploration
2. Go to Second state. Note that the title is not moving.
3. click and edit text and type something but do not close the keyboard.
**4.** Now "back press" , keyboard will close and you will see the marquee will

[2020-12-21 11:43] Luffy18346 commented on #1770
@rt4914
My approach was
1. Apply `ellipsize = end` first. Then when user clicks on title then change it to `marquee` and set `isSelected = true`
2. Once marquee completes, then set` isSelected = false` and change `ellipsize = end` back.

1st point is achievable but it's 2nd point where I was interrupted because there is no easier way to know the status of marquee.
For that, I got reference from th

[2020-12-21 13:08] priyanka0906 commented on #2292
@rt4914 done.

[2020-12-21 13:08] priyanka0906 commented on #2292
@ForgottenProgramme  thankyou

[2020-12-22 00:32] jcqli opened #2297 "Establish consistency of the "View All" button for promoted stories [Blocked: need clarification, #2272]"
The current behavior of the View All button for the promoted stories list on the Home Fragment is inconsistent across mobile and tablet, as well as portrait and landscape orientations on tablet.

Right now:
- Mobile always displays the "View All" button
- Tablet in portrait orientation will display the "View All" button if there are more than two promoted stories
- Tablet in landscape orientation

[2020-12-22 03:07] anandwana001 commented on #2257
@etigoel any update on this?

[2020-12-22 03:08] anandwana001 commented on #2227
@arnoob16 Any update on this?

[2020-12-22 03:08] anandwana001 commented on #2205
@Russ741 any update on this?

[2020-12-22 03:09] anandwana001 commented on #2141
@etigoel any update on this?

[2020-12-22 03:11] #2055 closed, assigned to nobody

[2020-12-22 03:13] anandwana001 commented on #2054
unassigning @KMaragh as no further update.
Closing this issue as it's a duplicate of https://github.com/oppia/oppia-android/issues/2132

[2020-12-22 03:13] #2054 closed, assigned to nobody

[2020-12-22 03:15] #1900 closed, assigned to FareesHussain

[2020-12-22 03:16] arnoob16 commented on #2227
I am still working on this. Will try to make a PR in a day or two.

[2020-12-22 03:16] anandwana001 commented on #1966
All tests are solved. Closing this issue.

[2020-12-22 03:16] #1966 closed, assigned to prayutsu

[2020-12-22 03:17] anandwana001 commented on #1944
Unassigning @ranjsa as no further update.

[2020-12-22 03:19] anandwana001 commented on #1930
@Russ741 any update on this?

[2020-12-22 03:20] anandwana001 commented on #1870
closing this issue as it is fixed in multiple PR's

[2020-12-22 03:20] #1870 closed, assigned to nobody

[2020-12-22 03:34] anandwana001 commented on #2227
Thanks for the update.

[2020-12-22 03:56] anandwana001 commented on #53
updating PR title as this issue is no more blocked on #22

[2020-12-22 03:58] anandwana001 commented on #43
updating PR title as it is no more blocked on #10

[2020-12-22 03:59] anandwana001 commented on #42
updating PR title as it is no more blocked on #113 #164 #165

[2020-12-22 06:02] Russ741 commented on #1930
@anandwana001 I haven't had a chance to look at it yet.

[2020-12-22 06:04] Russ741 commented on #2205
@anandwana001 Yeah, I've been able to dig into this one; it looks like we're using a LinearLayout in a way that it doesn't really support. We can either try to do without it (just using the ConstraintLayout) or nest another LinearLayout inside; @BenHenning has indicated a preference for the former.

[2020-12-22 06:18] rt4914 commented on #2229
@mschanteltc We are not implementing the RTL for English language we are just fixing code so that it supports RTL. As of now we do not have any other language in app and therefore we have to treat english language as RTL language to support RTL layouts. This is just for testing purposes.

@ForgottenProgramme Mostly using the `android:textAlignment="viewStart"` for the profile name should fix this

[2020-12-22 06:53] rt4914 commented on #1770
Thanks @Luffy18346 for adding comments.

[2020-12-22 07:00] BenHenning commented on #2297
@jcqli can you clarify what we specifically need clarification on here? @mschanteltc should be able to help provide design clarity, but I'm not actually sure what we need clarity on. :)

[2020-12-22 08:02] ForgottenProgramme commented on #2229
@rt4914 , should I fix this or mark it as 'good first issue' and let someone new do this?

[2020-12-22 08:03] rt4914 commented on #2229
Either one is fine.
My personally suggestion is that you fix this because I think HomeScreen RTL is sort of the hardest one.

[2020-12-22 09:02] varunvjha commented on #2268
I want to work on this issue.

[2020-12-22 09:08] rt4914 commented on #2268
Thanks for showing interest @varunvjha . Before we get started please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-12-22 11:04] FareesHussain opened #2298 "Exploration crashes for wrong answer in StateFragment"
**Describe the bug**
`E/StateFragment: Failed to retrieve answer outcome` for wrong answer in Exploration

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Prototype Exploration` in First Test Topic
2. Answer all question till the question 'What is 11 times 11'
3. Answer it incorrect
4. See error in the logcat and submit button doesn't respond

**Expected behavior**
Add a msg for wrong

[2020-12-22 14:19] ForgottenProgramme commented on #2229
Yes, @rt4914. Okay.
The extra space between the greeting and the user name is removed when RTL support is added to profile_name_textview.
The 'greeting' and the 'user name' are two different textviews. And RTL leads to a mirroring effect. In LTR 'greeting' comes before 'profile name', hence in its mirror image (RTL), 'greeting' is coming after the 'profile name'.

What if we merge the two into a s

[2020-12-22 14:51] rt4914 commented on #2229
@ForgottenProgramme We cannot merge the text views because of the **orange** underline below the greetings which we won't be able to control if we have a single text view. Reference PR: https://github.com/oppia/oppia-android/pull/2186

[2020-12-22 15:03] varunvjha commented on #1001
I want to work on this issue.

[2020-12-22 15:25] rt4914 commented on #1001
@varunvjha Can you please pick some other issue. There is one PR going on which will create a lot of merge conflicts on the PR you might create. https://github.com/oppia/oppia-android/pull/2296

[2020-12-22 16:32] FareesHussain commented on #2298
@rt4914, @anandwana001 please check if you can reproduce this

Also I'm not sure why there is a crash for this.
Can I know where these questions are stored

[2020-12-22 16:48] BenHenning commented on #2298
Aha, this is a great finding. It appears there's a casing issue here: https://github.com/oppia/oppia-android/blob/141511329ea0249ff225a469c70658c3b2123238/domain/src/main/assets/test_exp_id_2.json#L393 should be "IsLessThan". It's only caught because you inputted something less than 121, and I guess no one has done that before. :)

I'm also thinking about whether we should test this, but given it'

[2020-12-22 16:51] FareesHussain commented on #2298
@BenHenning it gives the same error for greater than 121 too
![image](https://user-images.githubusercontent.com/54740946/102912987-1f933b00-44a4-11eb-900a-3fde337ddfbc.png)

[2020-12-22 17:46] priyanka0906 commented on #2292
@ForgottenProgramme  would you please clarify if it is the expected behaviour or something is missing??
![ss](https://user-images.githubusercontent.com/56197993/102917678-a5ff4b00-44ab-11eb-81c2-e83b40d1ff85.jpeg)

[2020-12-22 17:57] etigoel commented on #2141
Facing few issues in android setup. Trying to resolve ASAP.

On Tue, Dec 22, 2020 at 8:39 AM Akshay Nandwana <notifications@github.com>
wrote:

[2020-12-22 17:58] etigoel commented on #2257
Facing issues in android set up. Trying to fix ASAP.

On Tue, Dec 22, 2020 at 8:37 AM Akshay Nandwana <notifications@github.com>
wrote:

[2020-12-22 18:29] jcqli commented on #2297
@BenHenning Added more detail -- is this clearer?

[2020-12-22 18:51] varunvjha commented on #2281
I'd like to work on this issue.

[2020-12-22 18:53] varunvjha commented on #2268
I have completed the abovementioned tasks, can you assign me this issue now?

[2020-12-22 19:49] ForgottenProgramme commented on #2292
Nice try there, @priyanka0906 !
Make a PR for now.
If there is something that needs more tweaking, we'll tell you.

[2020-12-22 22:41] mschanteltc commented on #2297
"View All" should be consistent across all devices. Since we plan on adding "Recommended" Stories cards to the carousel, most of the time the learner will see three Promoted Stories.

Even in edge cases where the learner will see one or two Story Cards, we should leave the "View All" button. Tapping it redirects the learner to a page where the story cards are reformatted, letting the learner view

[2020-12-23 02:11] BenHenning opened #2299 "Some Espresso tests that require typing text are hanging"
Some tests (e.g. StateFragmentTest) that type in text are hanging when run on Espresso. It seems that this might have been caused by the recent migration to EditTextInputAction since it removed the typeText() action we were previously using for these tests.

[2020-12-23 02:12] BenHenning commented on #2298
Thanks for clarifying @FareesHussain. It seems a few of the classifiers are wrong in that file. Going to try and get a PR out later tonight to fix.

[2020-12-23 02:15] BenHenning commented on #2299
Specifically, I think this line might have been accidentally missed in the original migration: https://github.com/oppia/oppia-android/pull/1853/files#diff-2b020b93ff5e33a8fa55c7d6382938a1100be642c8f9c0aee203a3a387bd970bL1364. Re-adding it globally seems to resolve the underlying issues.

/cc @anandwana001 who brought this to my attention last week.

[2020-12-23 03:15] anandwana001 commented on #2257
@etigoel Let's connect on [Gitter channel](https://gitter.im/oppia/oppia-android) where all the contributors and other team members are there and you can ask you queries there.

[2020-12-23 09:31] #2263 closed, assigned to FareesHussain

[2020-12-23 09:34] #2223 closed, assigned to BenHenning

[2020-12-23 12:02] anandwana001 commented on #2260
Duplicate of https://github.com/oppia/oppia-android/issues/2299

[2020-12-23 12:02] #2260 closed, assigned to anandwana001

[2020-12-23 19:59] FareesHussain commented on #2228
@mschanteltc sorry for the delay, Actually here bullets uses a separate class `CustomBulletSpan` which is only applied for the bullet spans. So for the number lists is not for this issue. I'll look into it and try to solve it

[2020-12-24 01:23] BenHenning opened #2304 "Restore @BenHenning code ownership after 2021-01-05"
Restore @BenHenning code ownership after 2021-01-05. Also, look into fixing some of the other codeowners matching issues.

[2020-12-24 06:05] etigoel commented on #2257
I have already posted my queries on gitter channel.

[2020-12-24 06:47] #2299 closed, assigned to BenHenning

[2020-12-24 09:25] vinitamurthi opened #2306 "Restore @vinitamurthi code ownership after 2021-01-05"
Restore @vinitamurthi code ownership after 2021-01-05.

[2020-12-24 09:50] #2021 closed, assigned to FareesHussain

[2020-12-24 09:54] harsh-hash commented on #2269
I'd like to work on this issue. Please assign it to me.

[2020-12-24 14:01] Arjupta opened #2309 "Changes in Content Item View [A11y]"
**Describe the bug**

Content Item View is not fully compatible with some users from the Accessibility point of view.

Issue - The height of the text view inside a content_item.xml is 22dp where for a clickable view the required height is 48dp

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia Android App and start First Test

[2020-12-24 14:05] Arjupta commented on #2309
@rt4914 we can solve this issue in two ways
 - by making the textview non-clickable so that it passes the scan or
 - increase the textview size

Increasing the size will make the content item boxes very different from what we see right now. What do you suggest?

[2020-12-24 14:11] FareesHussain commented on #2269
As the mentors are busy I'm replying on their behalf

Hello @harsh-hash Thanks for showing interest in Oppia. Before we start please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-12-24 15:14] Arjupta opened #2310 "Changes in the Fraction Interaction Item [A11y]"
**Describe the bug**

FractionInteraction Item is not fully compatible with some users from the Accessibility point of view.

Issue 1 - The contrast ratio of the fraction interaction view does not match the standard ones, both in the active and inactive states. (assigned to @ARJUPTA)

Issue 2 - There is no content label present for the view when it is first clicked to enter a value (Obsolete Issue

[2020-12-24 15:25] Arjupta opened #2311 "Changes Feedback Item [A11y]"
**Describe the bug**

Feedback Item is not fully compatible with some users from the Accessibility point of view.

Issue - This view has a similar issue as this one - [#2309](https://github.com/oppia/oppia-android/issues/2309)

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia Android App and start First Test Topic Exploratio

[2020-12-24 15:36] Arjupta opened #2312 "Changes in Multiple Choice Interaction Item [A11y]"
**Describe the bug**

Multiple Choice Interaction Item is not fully compatible with some users from the Accessibility point of view.

Issue - The unchecked radio buttons have the same content description.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia Android App and start First Test Topic Exploration
3. Scan the screensh

[2020-12-24 15:46] Arjupta opened #2313 "Changes in Item Selection Interaction Items [A11y]"
**Describe the bug**

Item Selection Interactions Item is not fully compatible with some users from the Accessibility point of view.

Issue 1 - The unchecked checkboxes have the same content description.

Issue 2 - The checked checkboxes have the same content description.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia And

[2020-12-24 16:22] Arjupta opened #2314 "Changes in Numeric Input Interaction Item [A11y]"
**Describe the bug**

Numeric Input Interaction Item is not fully compatible with some users from the Accessibility point of view.

Issue 1 - There is an ambiguity in the case of the NumericInputInteractionView, it has a content description attribute which will be read by screen readers instead of the content inside the NumericInputInteractionView (Obsolete Issue)

Issue 2 - The Contrast Ratio of

[2020-12-24 16:32] rt4914 commented on #2309
@ARJUPTA Make its non-clickable. But also make sure that it does not break the **Concept Card** functionlity.

See description to know how to open concept card: https://github.com/oppia/oppia-android/pull/1637#issue-467120880

[2020-12-24 18:00] MaskedCarrot commented on #1930
i am working on this

[2020-12-24 20:22] FareesHussain opened #2316 "Increase start-indentation for Numbered lists"
To add start-indentation for Numbered Lists in FAQs

[2020-12-24 20:26] FareesHussain commented on #2316
One solution is to add `<ul>` and `<ol>` tags and implement custom indented lists for tags `<li>`
Numbered list for `<ol>`
and CustomBulletSpan for `<ul>`

[2020-12-24 21:01] yk1ax commented on #2258
@ARJUPTA I would like to work on this issue. Can I get assigned ?

[2020-12-25 04:04] Arjupta commented on #2258
You can work on this but your PR will merged only after our team members decide the correct labels, if we don't find your labels descriptive enough.

Assigning this to you

[2020-12-25 12:12] Victor-Titan commented on #206
@anandwana001 can I work on this issue?

[2020-12-25 12:14] Victor-Titan commented on #2038
Can this be assigned to me again? My semester exams are over now so I'll be able to follow up.

[2020-12-25 15:53] FareesHussain commented on #2228
@mschanteltc One more doubt check this the indentation also reflects for Exploration Topics, please check if it looks good

Bullet span with indentation | Bullet span without Indentation
--- | ---
<img src="https://user-images.githubusercontent.com/54740946/103138269-e0a8f380-46f6-11eb-82ab-a8952d46b4a5.png" align="center" width="100%"/> | <img src="https://user-images.githubusercontent.com/547409

[2020-12-25 18:44] chrk2205 commented on #2134
@mschanteltc
i would like to work on this but i cannot find the topic in my app!!

[2020-12-26 07:30] harsh-hash commented on #2269
Thank you for providing this information and I have signed the CLA.

[2020-12-26 14:25] Arjupta opened #2321 "Changes in Ratio Input Interaction Item [A11y]"
**Describe the bug**

Ratio Input Interaction Item is not fully compatible with some users from the Accessibility point of view.

Issue 1 - In the inactive state, the contrast ratio of the hint text does not match the standard one (assigned to @ARJUPTA)

Issue 2 - Missing Content labels when there is no text inside the the interaction layout (Obsolete issue)

**To Reproduce**
Steps to reproduce th

[2020-12-26 14:33] Arjupta opened #2322 "Changes in Previous Responses Header Item [A11y]"
**Describe the bug**

Previous Responses Header Item is not fully compatible with some users from the Accessibility point of view.

Issue - The height of the clickable item is 24dp, which is less than the standard (48dp)

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia Android App and start First Test Topic Exploration
3. G

[2020-12-26 15:08] Arjupta opened #2323 "Changes in Drag Drop Interactions Item [A11y] [BLOCKED]"
**Describe the bug**

Views inside **drag_drop_interaction_items.xml** are not fully compatible with some users from the Accessibility point of view.

Issue 1 - The contrast ratio of content text inside a single item does not match the standard one
Issue 2 - Multiple arrow icons and merge icons have the same content description
Issue 3 - The size of the clickable arrows, merge icons and ungroup ic

[2020-12-26 15:29] Arjupta opened #2324 "Changes in Submitted Answer List Items [A11y]"
**Describe the bug**

List items inside the submitted_html_answer_recycler_view (under  **submitted_answer_list_item.xml**) are not fully compatible with some users from the Accessibility point of view.

Issue - Multiple TextViews have a same content description , this is because we have same values inside both correct and incorrect submitted answer text boxes which causes the scans to detect dupl

[2020-12-26 15:40] Arjupta opened #2325 "Changes in Views related to Audio Player [A11y] [BLOCKED]"
**Describe the bug**

Some Views related to Audio Player are not fully compatible with some users from the Accessibility point of view.

Issue 1 - The Audio Player Icon in the ToolBar of Exploration Activity does not have a content label
Issue 2 - The checkbox inside cellular data dialog box has a height of 41dp which is less than the standard one (48dp)
Issue 3 - The SeekBar which shows the progr

[2020-12-26 15:46] priyanka0906 commented on #2282
@rt4914  can I work on this?

[2020-12-26 16:35] Arjupta opened #2326 "Changes in Views inside Practice Tab [A11y]"
**Describe the bug**

Views inside the Practice Tab are not fully compatible with some users from the Accessibility point of view.
![Screenshot_2020-12-17-11-27-30-51_80a9469f53bfe75dbc6e8989be28e2f0](https://user-images.githubusercontent.com/64064110/103155329-e705a100-47c4-11eb-9af2-2bc829d22c79.jpg)
Issue 1 - The contrast ratio of the topic practice start button is not correct in the inactive s

[2020-12-26 16:51] Arjupta opened #2327 "Changes in Story Chapter View [A11y] [BLOCKED]"
**Describe the bug**

Story Chapter View is not fully compatible with some users from the Accessibility point of view.

Issue - The contrast ratio of chapter_title TextView is not correct in the inactive state.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia Android App and start First Test Topic Exploration
3. Switch to t

[2020-12-26 17:44] FareesHussain commented on #2282
@priyanka0906, Sure go ahead.

[2020-12-26 21:40] viktoriias commented on #2283
@rt4914  Can I work on this?

[2020-12-26 22:47] viktoriias commented on #2283
Result:
<img width="378" alt="Screen Shot 2020-12-26 at 1 59 50 PM" src="https://user-images.githubusercontent.com/10843277/103160379-3ded8500-4789-11eb-87dd-f058e16c3ecb.png">

[2020-12-27 03:41] viktoriias commented on #1381
@BenHenning Can we show a gif with transparent background?

[2020-12-27 07:05] viktoriias commented on #2134
@mschanteltc Could you point out what is broken?
Are you referring to an error-like looking concept card at 0:11? Or bad HTML rendering in the hint: `&quote;concept card&quote;`?

[2020-12-27 17:28] lakshaygarg128 commented on #2316
is this issue open ? or anyone working ?

[2020-12-27 18:25] lakshaygarg128 commented on #2316
@FareesHussain Pl. assign it to me

[2020-12-27 18:31] FareesHussain commented on #2316
@lakshaygarg128 this issue is not yet discussed and it is a bit hard. I recommend you to start with [good-first-issues](https://github.com/oppia/oppia-android/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee)

Also checkout the [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the sur

[2020-12-27 18:32] lakshaygarg128 commented on #2316
@FareesHussain ok

[2020-12-28 05:20] rt4914 opened #2329 "Enable pseudoLocales for RTL language testing"
For RTL Layout testing we need to enable pseudoLocales in debug mode.
Reference: https://developer.android.com/guide/topics/resources/pseudolocales

[2020-12-28 05:22] yk1ax commented on #2131
@anandwana001 can you have a look at this once and guide me bit

[2020-12-28 06:41] #2283 closed, assigned to nobody

[2020-12-28 06:44] #2298 closed, assigned to nobody

[2020-12-28 07:09] rt4914 opened #2331 "Incorrect indexes in `ProfileAvatar` proto"
`ProfileAvatar` proto indexing is incorrect. Instead of `5` and `6`, it should be `1` and `2`.

Reference: https://github.com/oppia/oppia-android/blob/634a49f593faa41541bbd5db6b5abfe896e7ce20/model/src/main/proto/profile.proto#L74

[2020-12-28 07:31] #2329 closed, assigned to rt4914

[2020-12-28 07:34] FareesHussain commented on #2229
@rt4914 PTAL https://github.com/oppia/oppia-android/pull/2330#pullrequestreview-559009139

[2020-12-28 07:36] anandwana001 commented on #2131
@yk1ax for binding you can check the RecyclerView finding file, we bind the data to the list using app:list or app:data via Binding adapter. Let's connect over Gitter for further discussion or also a draft pr will be helpful to review the approach and complete the issue.

[2020-12-28 07:45] ShridharGoel commented on #2294
List of screens to migrate:
- AdminAuth
- AddProfile
- ProfileRename
- AdminPin
- AdminSettings
- ProfileResetPin
- ResetPinDialog

[2020-12-28 07:57] FareesHussain commented on #1737
@rt4914 I would like to work on this, Is there any similar implementation for reference

[2020-12-28 08:52] yk1ax commented on #2131
I didn't draft a PR because I don't have single change to push but now I understood why you were telling me to do so. I'll just make PR on a fresh branch.

[2020-12-28 17:51] coder2699 commented on #2331
@rt4914 I want to fix this issue. Please assign it to me.

[2020-12-28 18:37] mschanteltc commented on #2228
Thank you for the update @FareesHussain. Should we file a separate issue for the number list? And the left image (Bullet span with indentation) looks better if we are able to use that.

[2020-12-28 18:42] FareesHussain commented on #2228
@mschanteltc Thanks, I've created a pull request for the left image it will be merged soon
I've filled a issue regarding indentation in numbered lists #2316
I'm trying to solve it also i need to discuss it with ben too

[2020-12-28 18:57] mschanteltc commented on #2134
@viktoriias I am referring to the bad HTML rendering `&quote;concept card&quote;` which I would assume causes the empty concept card. If that does not cause the empty concept card, should I file a separate issue for that?

[2020-12-28 20:44] viktoriias commented on #2134
@anandwana001 Do you have an advice on reproducing this issue?

[2020-12-28 23:31] anandwana001 commented on #2134
@viktoriias this is not available in the current develop app, need to modify json files a bit. Adding @rt4914 for required steps.

[2020-12-29 03:52] viktoriias commented on #686
@rt4914 Is this available now? Would it qualify as "good second/third issue"?

[2020-12-29 05:22] FareesHussain commented on #2294
@anandwana001 Can I work on this?

[2020-12-29 05:42] RaghavAwasthi commented on #2266
@rt4914 Hey can you assign this issue to me

[2020-12-29 05:50] rt4914 commented on #2266
@RaghavAwasthi Thanks for showing interest in Oppia. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2020-12-29 05:51] rt4914 commented on #2294
@FareesHussain Yes. But take one screen at a time.

[2020-12-29 05:57] rt4914 opened #2333 "Click on Admin Controls crash in Admin Controls"
**Describe the bug**
If we are in `Administrator Controls` screen and select `Administrator Controls` from Navigation Drawer again, it crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Select `Admin` profile.
2. Open `Navigation Drawer`
3. Select `Administrator Controls`
4. Open `Navigation Drawer`
5. Select `Administrator Controls`
The application will crash.

**Expected beha

[2020-12-29 06:39] rt4914 commented on #2266
@RaghavAwasthi This will help. https://github.com/oppia/oppia-android/wiki/RTL-Guidelines

[2020-12-29 06:51] rt4914 commented on #686
@viktoriias You can have a look. I think that it might not need any change. But have a look at the domain layer functions and feel free to comment whether we need to solve this or we don't need any change and we can directly close this?

[2020-12-29 07:15] rt4914 commented on #1737
@FareesHussain No we don't have any similar implementation.

[2020-12-29 07:19] #2331 closed, assigned to coder2699

[2020-12-29 07:51] Victor-Titan commented on #206
@BenHenning @anandwana001 Can some references be given for the thumbnails which we need to mimic in the app?

[2020-12-29 08:07] imraghav20 commented on #2270
@rt4914 I have gone through the steps you informed me and have even started working on this issue. I will be glad if you assign this to me.
Thank you.

[2020-12-29 08:31] rt4914 opened #2335 "Fix `tools:context` in `audio_fragment_test_activity`"
In `audio_fragment_test_activity` `tools:context` is showing error because of incorrect path. Update this to
`tools:context="org.oppia.android.app.testing.AudioFragmentTestActivity"`

[2020-12-29 09:31] coder2699 commented on #2335
@rt4914 I want to fix it. Please assign me.

[2020-12-29 09:58] lakshaygarg128 commented on #2333
@rt4914  I would like to work over it pl. assign it to me

[2020-12-29 10:34] lakshaygarg128 commented on #2267
I would like to work upon it ... pl. assign it to me
@rt4914

[2020-12-29 14:48] rt4914 opened #2340 "Fix `tools:context` in `profile_chooser_activity`"
In `profile_chooser_activity` `tools:context` is showing error because of incorrect path. Update this to
`tools:context="app.profile.ProfileChooserActivity"`

[2020-12-29 15:05] coder2699 commented on #2340
@rt4914 I want to fix this. Please assign it to me.

[2020-12-29 18:58] viktoriias commented on #686
@rt4914 I checked all the functions in StoryProgressController and TopicController and didn't find any unused ones.
I think we can close this.

[2020-12-29 19:44] viktoriias commented on #352
@rt4914 Is there a link to the design/mocks?

[2020-12-30 05:26] #2270 closed, assigned to imraghav20

[2020-12-30 05:32] #1975 closed, assigned to nobody

[2020-12-30 05:53] prayutsu commented on #2294
@anandwana001 I am taking `AdminPin`

[2020-12-30 06:03] #2335 closed, assigned to coder2699

[2020-12-30 06:08] #2278 closed, assigned to ShridharGoel

[2020-12-30 06:10] rt4914 opened #2346 "Remove constraints from ScrollView in profile_reset_pin_activity"
Remove constraints from ScrollView in profile_reset_pin_activity both landscape and portrait xml files.

https://github.com/oppia/oppia-android/blob/2511715a4770cda65df593cf6821b17b7f8f3d28/app/src/main/res/layout/profile_reset_pin_activity.xml#L55

[2020-12-30 06:13] lakshaygarg128 commented on #2346
can i work over it ?

[2020-12-30 06:13] lakshaygarg128 commented on #2346
pl. assign it to me

[2020-12-30 07:59] imraghav20 commented on #2290
So @FareesHussain you mean the numeric keypad should be replaced by alphanumeric keypad?

[2020-12-30 08:02] FareesHussain commented on #2290
I'm not sure how to solve this.
I think this is not an issue with the app

[2020-12-30 08:33] MaskedCarrot commented on #2294
@anandwana001 I am working on `AdminSettings`

[2020-12-30 09:03] FareesHussain commented on #2294
I'm working on `ProfileResetPin`

[2020-12-30 11:40] FareesHussain commented on #2294
@anandwana001
AdminSettings and ResetPinDialog are the same right
I've already created a pull request for that #2349, please check

[2020-12-30 12:41] FareesHussain commented on #2294
@MaskedCarrot Please wait for @anandwana001's response for `AdminSettings`

[2020-12-30 12:43] anandwana001 commented on #2294
ah, It looks like `AdminSettings ` and `ResetPinDialog ` both covered in PR https://github.com/oppia/oppia-android/pull/2349

[2020-12-30 13:18] srikanthkb opened #2352 "Update Ktlint version from "0.37.0" to "0.37.1""
Error running Ktlint vesion "0.37.0" for android files on Windows 10 OS.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the ktlint version - "0.37.0" using Git Bash terminal on Windows with the instructions: https://github.com/pinterest/ktlint#installation
2. After installation, run the commands here [https://github.com/oppia/oppia-android/wiki/Ktlint-Guide#commands](url)
3. Observ

[2020-12-30 14:40] FareesHussain commented on #2352
@anandwana001 I don't think we need to update the workflow for this as it works fine.
We just need to update the wiki guiding the windows users to install the version `0.37.1`

What do you think?

[2020-12-30 23:13] anandwana001 commented on #2352
The version should be in consistency everywhere

[2020-12-31 00:48] nskirkey commented on #1855
Hello @anandwana001 , I was hoping to be assigned this issue.

[2020-12-31 04:18] srikanthkb commented on #2352
With version `0.37.1` , the problem is solved on Windows 10 OS, and the results are as **expected** from the linter. Check the result below:
![image](https://user-images.githubusercontent.com/36214903/103394242-3e9d6700-4b4d-11eb-89a4-ba70326ed513.png)

[2020-12-31 05:56] FareesHussain commented on #2352
@Srikanth-Kb please update the title and description here

[2020-12-31 06:02] #2333 closed, assigned to ShridharGoel

[2020-12-31 06:04] #2346 closed, assigned to lakshaygarg128

[2020-12-31 08:22] FareesHussain commented on #2279
@rt4914 This can be closed now (Screenshot for reference)
![image](https://user-images.githubusercontent.com/54740946/103401557-4f5ed480-4b6f-11eb-82b4-57b7f2f3a8d6.png)

[2020-12-31 08:30] FareesHussain commented on #2281
@rt4914 PTAL
This needs to be closed according to `pseudolocale`
![image](https://user-images.githubusercontent.com/54740946/103401800-6651f680-4b70-11eb-8bf0-21ea77c47bad.png)

[2020-12-31 09:08] ForgottenProgramme commented on #2229
![as](https://user-images.githubusercontent.com/65779580/103403333-b8e1e180-4b75-11eb-8ba2-b06f324583e6.png)

Appears to be fixed with pseudolocale turned on.

[2020-12-31 09:27] #2352 closed, assigned to nobody

[2020-12-31 09:32] anandwana001 commented on #2257
@ShridharGoel Could you help us here?

[2020-12-31 09:55] #2038 closed, assigned to Victor-Titan

[2020-12-31 10:49] #1792 closed, assigned to yk1ax

[2020-12-31 11:03] srikanthkb commented on #2268
Hi @rt4914 , @anandwana001, @FareesHussain,
Please check the following screenshots for Phone and tablet:
****For Phone:****
****Portrait:****
![image](https://user-images.githubusercontent.com/36214903/103407697-948e0100-4b85-11eb-87e0-7106eab62de0.png)

**Landscape:**
![image](https://user-images.githubusercontent.com/36214903/103407726-b2f3fc80-4b85-11eb-8a3a-8a8647cfe694.png)

**For Tablet:**
P

[2020-12-31 11:07] FareesHussain commented on #2268
@Srikanth-Kb This is actually a RTL (Right to Left) related issue please have a look at
https://github.com/oppia/oppia-android/wiki/RTL-Guidelines
for Reference to solve RTL related issues

[2020-12-31 11:09] srikanthkb commented on #2268
Ok.. Noted.. Thank you for the reference

[2020-12-31 11:09] rt4914 commented on #2268
@FareesHussain Thanks.

[2020-12-31 11:41] #2198 closed, assigned to anandwana001

[2020-12-31 11:49] rt4914 commented on #2229
Closing this as per https://github.com/oppia/oppia-android/issues/2229#issuecomment-752897285

[2020-12-31 11:49] #2229 closed, assigned to nobody

[2020-12-31 11:55] FareesHussain commented on #2245
@rt4914 PTAL
<img src="https://user-images.githubusercontent.com/54740946/103193651-1cb0a400-4903-11eb-8657-28e86e648523.png" align="center" width="25%"/>

[2020-12-31 11:55] rt4914 commented on #2281
Closing this as per this comment https://github.com/oppia/oppia-android/issues/2281#issuecomment-752887870

[2020-12-31 11:55] #2281 closed, assigned to varunvjha

[2020-12-31 11:57] imraghav20 commented on #1386
@anandwana001 I am interested in working on this issue.
Also, should I go with the approach as mentioned by @mschanteltc in previous comment? Even I agree with his approach.

[2020-12-31 11:58] rt4914 commented on #1386
@imraghav20 Yeah you can follow the approach mentioned by @mschanteltc

[2020-12-31 11:59] rt4914 commented on #1386
Assigned to @imraghav20

[2020-12-31 12:00] rt4914 commented on #2245
Introducing pseudoLocale fixes this issue https://github.com/oppia/oppia-android/issues/2245#issuecomment-752937435

[2020-12-31 12:00] #2245 closed, assigned to nobody

[2020-12-31 12:00] rt4914 commented on #2279
Closing this as per this comment https://github.com/oppia/oppia-android/issues/2279#issuecomment-752885925

[2020-12-31 12:00] #2279 closed, assigned to nobody

[2020-12-31 12:02] #2340 closed, assigned to coder2699

[2020-12-31 12:03] rt4914 commented on #352
No actually. but for now we can just implement low-fidelity without worrying about the exact design and then work on the perfect UI. @viktoriias

[2020-12-31 12:03] rt4914 commented on #686
Thanks @viktoriias

Closing this issue: https://github.com/oppia/oppia-android/issues/686#issuecomment-752205135

[2020-12-31 12:03] #686 closed, assigned to viktoriias

[2020-12-31 15:08] ShridharGoel commented on #2257
@anandwana001 Yes, I have replied on the Gitter channel.

[2021-01-01 09:28] prayutsu commented on #2140
@rt4914 I want to take this up.

[2021-01-01 11:02] prayutsu opened #2355 "Shift helper functions `hasErrorText` and `hasNoErrorText` to central utility testing file"
**Is your feature request related to a problem? Please describe.**
Helper functions `hasErrorText` and `hasNoErrorText` is being used frequently in test files like `AdminAuthActivityTest` and it will be used in more files in future.

**Describe the solution you'd like**
We should shift these to a central file rather than including them every time in the test files.

[2021-01-01 11:03] prayutsu commented on #2355
@anandwana001 WDYT?

[2021-01-01 12:07] anandwana001 commented on #2355
Sounds good, let's block this issue till whole of the migration is done and we can open this issue then.
Also, could you please check if we are missing any other screen which needs migration, confirm the list of screens from the migration issue?

[2021-01-01 12:12] prayutsu commented on #2355
@anandwana001 Sure, I'll try finding more screens that need migration from `ProfileInputView` to `TextInputLayout`

[2021-01-01 12:18] prayutsu commented on #2294
@anandwana001 I feel we have included all files that use `ProfileInputView`

[2021-01-01 19:10] viktoriias commented on #352
@rt4914 I would like to work on this, but I'm not sure what `Worked Examples` are. Which screen would they appear in?

[2021-01-02 17:50] Arjupta commented on #2309
@rt4914 I have tried setting `android:clickable="false"` in [content_item.xml](https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/content_item.xml)
- for the Parent Frame Layout
- for the Text View inside it
- for both of them together

but still the scanner tests failed.

Setting the minHeight of TextView to be 48dp solved the issue but broke the UI. What should we do now

[2021-01-02 19:14] imraghav20 commented on #1386
What should be the fixed width given? Is `240dp` good?

[2021-01-03 03:30] anandwana001 commented on #1386
@imraghav20 If I am not misunderstanding what @mschanteltc means here is the first bubble or question are the same thing, so all the other bubbles should have a wrap content width.

[2021-01-03 05:30] Anmolreshi commented on #2257
Could I contribute in it

[2021-01-03 05:38] FareesHussain commented on #2257
@Anmolreshi as you can see @etigoel is assigned for this issue now.

Please follow the onboarding instructions [here](https://github.com/oppia/oppia-android/wiki#onboarding-instructions) where you need to sign a CLA so that we can assign issues to you.

Also you can have a look at [good-first-issues](https://github.com/oppia/oppia-android/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%2

[2021-01-03 05:54] imraghav20 commented on #1386
But, when I saw the source code, all the bubbles are already in `wrap-content`.
Here are the required files:
https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/content_item.xml
https://github.com/oppia/oppia-android/blob/develop/app/src/main/res/layout/feedback_item.xml

[2021-01-03 06:52] prathamk22 commented on #2092
@rt4914 @anandwana001 can I work on this?

[2021-01-03 07:32] anandwana001 commented on #2092
@prathamk22 Before starting with the contribution, please follow the onboarding instructions https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-01-03 07:33] anandwana001 commented on #1386
That's the issue, we need to figure out why the bubble is getting different width on screen.

[2021-01-03 09:43] prathamk22 commented on #2092
@anandwana001 I have gone through all the onboarding instruction and filled both google forms. Can I start working on this?

[2021-01-04 04:07] rt4914 commented on #352
@viktoriias Have a look at skills.json file in `domain-assets`. Worked examples are basically a list of [`SubtitledHtml`](https://github.com/oppia/oppia-android/blob/79ad5e695d26bd15b8d2c3e30e759535afa84f83/model/src/main/proto/subtitled_html.proto#L8).

In terms of UI for worked_examples:
1. You will need to introduce a recyclerview for worked_examples.
2. Each item of `worked_examples` is a `Sub

[2021-01-04 04:20] rt4914 commented on #2205
@Russ741 Any updates ?

[2021-01-04 04:53] anandwana001 commented on #1855
@nskirkey Any update on this?
If you haven't started working on it, I am thinking to split this issue into multiple sub-issues as this will create a large change.

[2021-01-04 04:59] anandwana001 commented on #206
@Victor-Titan If you had checked how the thumbnail looks in the Oppia web portal https://www.oppia.org/learner-dashboard, we need to have a similar look here in android too. Need to work on all the points given in the issue description.

[2021-01-04 05:24] srikanthkb opened #2357 "Fix 'tools:context' path in 'story_activity'"
**Describe the bug**
In `story_activity.xml`, the `tools:context` is showing error because of incorrect path. Update this path to `tools:context==".app.story.StoryActivity"`

[2021-01-04 07:29] harsh-hash commented on #2269
I am working on this issue. I am unable to test it . I followed the video
by @rt4914 for testing rtl. But there is no language like cibarA[XB] so
that i can test it. Is there any other option to test rtl?

On Sat, Dec 26, 2020 at 1:24 PM Farees Hussain <notifications@github.com>
wrote:

[2021-01-04 07:34] FareesHussain commented on #2269
@harsh-hash is your emulator set to Developer options

[2021-01-04 07:42] harsh-hash commented on #2269
Yeah

On Mon, Jan 4, 2021, 13:04 Farees Hussain <notifications@github.com> wrote:

[2021-01-04 07:57] FareesHussain commented on #2269
@rt4914 for this as the only change required here is to invert the `seekbar` inverting it would be enough right? (using rotateY)
![image](https://user-images.githubusercontent.com/54740946/103512983-b93cee00-4e8f-11eb-8b14-89ea294ea953.png)

[2021-01-04 08:18] etigoel commented on #2257
@anandwana001 , While trying to do push, getting error of
remote: Invalid username or password.
fatal: Authentication failed for 'https://github.com/oppia/oppia-android.git/'

Could you please check if there are any permission issues.

[2021-01-04 08:23] FareesHussain commented on #2257
@etigoel try to login through token

[2021-01-04 10:11] etigoel commented on #2257
Hi ,

Facing this permission issue :

remote: Permission to oppia/oppia-android.git denied to etigoel.
fatal: unable to access 'https://github.com/oppia/oppia-android.git/': The requested URL returned error: 403

[2021-01-04 10:15] FareesHussain commented on #2257
@etigoel You can't push changes to oppia directly
First you need to create a fork of this project and create a branch then push changes to your forked repository
and then finally create a pull request

I recommend you to check out wiki here to be more clear
https://github.com/oppia/oppia-android/wiki#instructions-for-making-a-code-change

[2021-01-04 11:18] rt4914 opened #2361 "Update `tools:context` in app_version_activity"
Update `tools:context` in app_version_activity

This needs to be fixed to
`tools:context="app.administratorcontrols.appversion.AppVersionActivity"`

[2021-01-04 11:23] rt4914 opened #2362 "Update tools:context in completed_story_list_activity"
Update `tools:context` in `completed_story_list_activity`
This needs to be updated to `tools:context=".app.completedstorylist.CompletedStoryListActivity"`

[2021-01-04 11:28] rt4914 opened #2363 "Update drag_and_drop_single_item"
Remove `xmlns:tools="http://schemas.android.com/tools"`
from `drag_and_drop_single_item`

[2021-01-04 11:34] rt4914 opened #2364 "Update tools:context in image_region_selection_test_fragment"
Update `tools:context` in `image_region_selection_test_fragment`

Update to:
`tools:context=".app.testing.ImageRegionSelectionTestActivity"`

[2021-01-04 11:35] rt4914 opened #2365 "Update tools:context in my_downloads_activity"
Update tools:context in `my_downloads_activity`

Update to:
`tools:context=".app.mydownloads.MyDownloadsActivity"`

[2021-01-04 11:43] rt4914 opened #2366 "Update tools:context in ongoing_topic_list_activity"
Update tools:context in ongoing_topic_list_activity

Update to:

`tools:context=".app.ongoingtopiclist.OngoingTopicListActivity"`

[2021-01-04 11:49] rt4914 opened #2367 "Update tools:context in profile_progress_activity"
Update tools:context in profile_progress_activity

Update to:
`tools:context=".app.profileprogress.ProfileProgressActivity"`

[2021-01-04 11:52] rt4914 opened #2368 "Update tools:context to profile_test_activity"
Update tools:context to profile_test_activity

Update to:
`tools:context=".app.testing.ProfileChooserFragmentTestActivity"`

[2021-01-04 11:55] rt4914 opened #2369 "Update tools:context in recently_played_activity"
Update tools:context in recently_played_activity

Update to:
`tools:context=".app.home.recentlyplayed.RecentlyPlayedActivity"`

[2021-01-04 11:59] rt4914 opened #2370 "Update tools:context in `splash_activity`"
Update tools:context in `splash_activity`

Update to:
`tools:context=".app.splash.SplashActivity" `

[2021-01-04 12:00] rt4914 opened #2371 "Update tools:context in story_activity"
Update tools:context in `story_activity`

Update to:
`tools:context=".app.story.StoryActivity"`

[2021-01-04 12:06] rt4914 opened #2372 "Remove xmlns:tools from submitted_html_answer_item"
Remove xmlns:tools from submitted_html_answer_item

[2021-01-04 12:07] rt4914 opened #2373 "Update tools:context in topic_activity"
Update tools:context in topic_activity

Update to:
`tools:context=".app.topic.TopicActivity" `

[2021-01-04 12:12] rt4914 opened #2374 "Update tools:context in topic_revision_test_activity"
Update tools:context in topic_revision_test_activity

Update to:
`tools:context=".app.testing.TopicRevisionTestActivity" `

[2021-01-04 12:18] coder2699 commented on #2374
@rt4914 Please assign me this

[2021-01-04 12:18] coder2699 commented on #2373
@rt4914 Please assign me this, I want to fix it.

[2021-01-04 12:28] coder2699 commented on #2371
@rt4914 I have solved this, please assign it to me

[2021-01-04 12:51] etigoel commented on #2141
On latest version of the App not facing the above issue.

Used pixel 3a and Pie as android version

[2021-01-04 13:33] varunvjha commented on #2370
Assign this to me.

[2021-01-04 13:38] anandwana001 commented on #2141
@etigoel The bullet should be indented as like sub points.
@FareesHussain You are working on a similar issue, is this a duplicate issue?

[2021-01-04 13:38] coder2699 commented on #2369
@rt4914 Please assign this to me

[2021-01-04 13:39] coder2699 commented on #2368
@rt4914 Please assign this to me

[2021-01-04 13:43] FareesHussain commented on #2141
@anandwana001 This issue is regarding the spacing between the lines
I'm working on Indentation for the Bullet points

[2021-01-04 14:00] varunvjha commented on #2370
I already fixed this, please assign this to me so that I make a PR

[2021-01-04 14:03] coder2699 commented on #2363
@rt4914 I want to fix this, please assign me.

[2021-01-04 14:18] coder2699 commented on #2361
@rt4914 I have fixed this, please assign me

[2021-01-04 14:19] Garvnanwani commented on #2372
I want to work on this

[2021-01-04 14:20] varunvjha commented on #2367
I have fixed this. Assign this to me.

[2021-01-04 14:24] Garvnanwani commented on #2364
I want to work on this

[2021-01-04 14:25] coder2699 commented on #2362
@rt4914 Assign this to me please

[2021-01-04 14:28] FareesHussain commented on #2372
@Garvnanwani Thanks for showing interest in Oppia.
Before you start Please have a look at [wiki](https://github.com/oppia/oppia-android/wiki#onboarding-instructions) which will help you in setting up the project and once you sign the CLA and fill the survey we can assign this to you

[2021-01-04 14:29] ayaazansari commented on #2365
Please assign this to me. I would like to work on this

[2021-01-04 14:29] FareesHussain commented on #2365
@ayaazansari Thanks for showing interest in Oppia.
Before you start Please have a look at [wiki](https://github.com/oppia/oppia-android/wiki#onboarding-instructions) which will help you in setting up the project and once you sign the CLA and fill the survey we can assign this to you

[2021-01-04 14:35] Garvnanwani commented on #2372
done

[2021-01-04 14:37] FareesHussain commented on #2367
@varunvjha did you complete the CLA?

[2021-01-04 14:38] varunvjha commented on #2367
Yes I did

[2021-01-04 14:39] FareesHussain commented on #2367
Sure go ahead

[2021-01-04 14:44] ayaazansari commented on #2366
Please assign this to me. I would like to work on this

[2021-01-04 14:49] soamOne commented on #1742
Hey @BenHenning @anandwana001  can I work on this?

[2021-01-04 15:02] FareesHussain commented on #2141
@anandwana001 I'm sorry i was a little confused
I've tested it on release-0.4 as ben mentioned
and what chantel mentioned was to add identation for bullets and numbered lists
which were divided into two issues
#2228 (in progress)
#2316 (yet to be discussed)

So i think this needs to be closed
![image](https://user-images.githubusercontent.com/54740946/103547988-20c45f00-4ecb-11eb-843e-18e3087a834a

[2021-01-04 15:03] ayaazansari commented on #2365
@FareesHussain done

[2021-01-04 15:36] #2373 closed, assigned to coder2699

[2021-01-04 15:41] #2367 closed, assigned to varunvjha

[2021-01-04 15:42] #2370 closed, assigned to nobody

[2021-01-04 15:43] rt4914 commented on #2372
@Garvnanwani I think you have not filled it completely either the survey form or the CLA. Can you please fill them once again?

[2021-01-04 15:44] #2362 closed, assigned to nobody

[2021-01-04 15:45] #2361 closed, assigned to nobody

[2021-01-04 15:45] #2363 closed, assigned to nobody

[2021-01-04 15:55] etigoel commented on #2141
Got it.

[2021-01-04 16:00] Garvnanwani commented on #2372
submitted the survey @rt4914

[2021-01-04 16:12] rt4914 commented on #2309
Have you tried using making it `disabled`? That should work similar to button. @ARJUPTA

[2021-01-04 16:18] Arjupta commented on #2309
Frame Layout and TextView doesn't have the disabled property

[2021-01-04 16:23] rt4914 commented on #2309
Confirming that @ARJUPTA did test the `importantForAccessibility="no"` and it did pass.
@BenHenning Does this make sense considering that ScreenReaders and also the in-app audio player will be useful in this case.

[2021-01-04 16:50] FareesHussain commented on #2316
Closing this as it is a duplicate of #1022

[2021-01-04 16:50] #2316 closed, assigned to nobody

[2021-01-04 17:49] #2374 closed, assigned to coder2699

[2021-01-04 17:50] #2357 closed, assigned to srikanthkb

[2021-01-04 18:14] #2366 closed, assigned to ayaazansari

[2021-01-04 18:14] #2365 closed, assigned to ayaazansari

[2021-01-04 18:15] #2368 closed, assigned to coder2699

[2021-01-04 18:15] #2371 closed, assigned to coder2699

[2021-01-04 18:16] #2369 closed, assigned to coder2699

[2021-01-04 23:16] #2141 closed, assigned to etigoel

[2021-01-05 04:06] rt4914 commented on #2269
That sounds correct but once the PR is out we will need to check this throughly.

[2021-01-05 04:08] rt4914 commented on #2140
@prayutsu You can always self-assign issues as you are a collaborator.

[2021-01-05 04:54] anandwana001 commented on #1491
@alokbharti any update on this?

[2021-01-05 05:10] MaskedCarrot commented on #1866
@anandwana001  is this issue still available to work on?

[2021-01-05 05:12] viktoriias commented on #352
@rt4914 "... This can be done by introducing a TextView as an item of recyclerview ..." - Does this mean I should create a xml file with one TextView, for example:
`<TextView
    android:id="@+id/worked_example_item_text_view"
    ... />`
And then in RecyclerView add
`tools:listitem="@layout/concept_card_worked_example_item"` ?

[2021-01-05 06:46] anandwana001 commented on #1866
This is a duplicate issue. Thanks for bringing this into attention.

[2021-01-05 06:46] #1866 closed, assigned to anandwana001

[2021-01-05 08:06] FareesHussain commented on #1535
@miaboloix
I would like to work on this as the above mentioned pull request is merged and released a version [bazelbuild / Kotlin Rules 1.5.0 (Alpha 2)](https://github.com/bazelbuild/rules_kotlin/releases/tag/v1.5.0-alpha-2)
![image](https://user-images.githubusercontent.com/54740946/103621273-f4582380-4f5a-11eb-9596-10353ce25079.png)

[2021-01-05 08:15] MaskedCarrot commented on #2174
@rt4914 since there is no activity on this for about a month, may I take it up?

[2021-01-05 08:26] rt4914 commented on #2174
Assigned to @MaskedCarrot

[2021-01-05 08:35] #2267 closed, assigned to lakshaygarg128

[2021-01-05 08:36] #2372 closed, assigned to Garvnanwani

[2021-01-05 08:42] rt4914 commented on #352
`tools:listitem` just shows the UI but does not mean that it will get used in the recyclerview. You will actually have to make changes to presenter, viewmodel and use BindableAdapter with recyclerview to set data correctly.
Suggest doing this PR only if you are familiar which populating recyclerview with dynamic content.

[2021-01-05 09:05] rt4914 commented on #1491
Assigned to @FareesHussain as it is blocked on his PR. #2274

[2021-01-05 09:06] rt4914 commented on #2209
@anandwana001 Why is this PR blocked?

[2021-01-05 09:09] FareesHussain commented on #1540
@rt4914 I'll create a PR for the second bug in the description as the first bug requires some time

[2021-01-05 09:13] rt4914 commented on #1540
@FareesHussain Sounds good.

[2021-01-05 09:32] FareesHussain opened #2391 "FAQs crashes in RTL(psuedolocale)"
**Describe the bug**
FAQ crashes in [Psuedolocale](https://github.com/oppia/oppia-android/wiki/RTL-Guidelines)

**To Reproduce**
Steps to reproduce the behavior:
1. Set language to [Psuedolocale](https://github.com/oppia/oppia-android/wiki/RTL-Guidelines)
2. Open 'Navigation Drawer'
3. Click on 'Help'
4. Open FAQs
5. Click on any of the following questions
    - How can I create a new profile?

[2021-01-05 11:09] ShridharGoel commented on #2234
This has been done, hence closing.

[2021-01-05 11:09] #2234 closed, assigned to ShridharGoel

[2021-01-05 12:25] #2174 closed, assigned to MaskedCarrot

[2021-01-05 12:27] #2292 closed, assigned to priyanka0906

[2021-01-05 12:44] rt4914 opened #2395 "Use LessonThumbnailImageView in walkthrough_topic_summary_view"
Currently `walkthrough_topic_summary_view` uses `ImageView` and because of which the topic thumbnails are not correct as per below screenshot.

Use `LessonThumbnailImageView` in `walkthrough_topic_summary_view` to fix this issue.

You can reach this screen by making `WalkthroughActivity` as LAUNCHER in `AndroidManifest.xml` file.

![Screenshot_1609850340](https://user-images.githubusercontent.com/

[2021-01-05 13:38] FareesHussain commented on #2395
How do I reach this activity?

[2021-01-05 13:43] rt4914 commented on #2395
Updated Description

[2021-01-05 13:56] prayutsu commented on #2140
Thanks, @rt4914
Actually, I don't self-assign issues so that I can have your suggestion as well to take the issue or leave it for others.

[2021-01-05 14:50] coder2699 commented on #2395
@FareesHussain if you are not working on it, I would like to take it up.

[2021-01-05 14:54] FareesHussain commented on #2395
I'm working on this.

[2021-01-05 16:56] viktoriias commented on #352
Un-assigning myself since I'm not familiar which populating recyclerview with dynamic content.

[2021-01-05 17:37] lakshaygarg128 commented on #2282
is this still open ??

[2021-01-06 03:25] anandwana001 commented on #2205
unassigning @Russ741 as no further update.

[2021-01-06 04:06] rt4914 commented on #2282
@lakshaygarg128 Its assigned to @priyanka0906

[2021-01-06 04:06] rt4914 commented on #352
No issues. Sounds good. Thanks @viktoriias

[2021-01-06 04:08] rt4914 commented on #1944
Closing this PR as all the dimension names have been fixed in current develop by @ARJUPTA

[2021-01-06 04:08] #1944 closed, assigned to nobody

[2021-01-06 04:47] BenHenning commented on #1920
Update test issue for latest script deployment.

[2021-01-06 04:53] Russ741 commented on #2205
@anandwana001 , I apologize for my delay in replying; I was on vacation. Could I have another day to work on this? I'm meeting with @BenHenning tomorrow to sort out my remaining issues.

[2021-01-06 04:55] BenHenning commented on #1920
Test again.

[2021-01-06 04:57] BenHenning commented on #1920
Test a third time.

[2021-01-06 05:19] #2364 closed, assigned to Garvnanwani

[2021-01-06 05:22] rt4914 opened #2397 "All chapters in stories should show different backgrounds"
Currently the `StoryActivity` displays chapter with white background only. Instead it should be colored as per this comment. https://github.com/oppia/oppia-android/pull/2293#issuecomment-749767534

[2021-01-06 05:53] #2397 closed, assigned to rt4914

[2021-01-06 06:06] Arjupta opened #2399 "Reformatting required in dimension file for better structure"
Currently the dimensions in the **dimens.xml files** are segregated in groups (all having same values). The file is too large so we must rearrange the dimensions to form the groups on the base of their name, so that we find all the the dimensions related to a particular category at once.

**Reference**
Category structure - https://github.com/oppia/oppia-android/pull/2111#discussion_r523663618

[2021-01-06 06:07] FareesHussain commented on #2395
@rt4914 I've tried this refering to `topic_summary_view`, I'm I doing it the right way?
![image](https://user-images.githubusercontent.com/54740946/103734975-0ac1b600-5013-11eb-8099-b31ddc84e57a.png)

![image](https://user-images.githubusercontent.com/54740946/103734941-fc739a00-5012-11eb-8f2b-88e74d96caf3.png)

[2021-01-06 06:26] anandwana001 commented on #1855
unassigning @nskirkey and splitting this issue into sub-issues.

[2021-01-06 06:29] anandwana001 opened #2400 "Resolve ktlint max line in administratorcontrols test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:30] anandwana001 opened #2401 "Resolve ktlint max line in help test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:31] anandwana001 opened #2402 "Resolve ktlint max line in home test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:32] anandwana001 opened #2403 "Resolve ktlint max line in player test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

Where to start?
https://github.com/oppia/oppia-android/blob/d2d55013605d318965594932b9224578cbc9a586/app/src/sharedTest/java/org/oppia/android/app/player/expl

[2021-01-06 06:33] anandwana001 opened #2404 "Resolve ktlint max line in profile test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:33] anandwana001 opened #2405 "Resolve ktlint max line in profileprogress test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:34] anandwana001 opened #2406 "Resolve ktlint max line in settings.profile test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:35] anandwana001 opened #2407 "Resolve ktlint max line in testing test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:37] anandwana001 opened #2408 "Resolve ktlint max line in topic test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:38] coder2699 commented on #2400
@anandwana001 I want to take this issue

[2021-01-06 06:38] anandwana001 opened #2409 "Resolve ktlint max line in walkthrough test package"
**Describe the bug**
We are preventing the 100 char length at some places like test case fun name.
`// ktlint-disable max-line-length`

**Expected behavior**
We need to remove this prevention and fix the function name under 100 char length.

[2021-01-06 06:39] anandwana001 commented on #1855
closing this issue as I had created sub-issues.

[2021-01-06 06:39] #1855 closed, assigned to nobody

[2021-01-06 08:34] rt4914 commented on #2395
Yeah your approach seems correct @FareesHussain

[2021-01-06 15:01] varunvjha commented on #2408
Please assign me this issue.

[2021-01-06 15:44] varunvjha commented on #2408
@anandwana001 Could you help me in navigating to the issue?

[2021-01-06 15:53] anandwana001 commented on #2408
Reference - https://github.com/oppia/oppia-android/blob/83e409a64bbff8c1e724c4e52dfed71f8a70ec40/app/src/sharedTest/java/org/oppia/android/app/topic/lessons/TopicLessonsFragmentTest.kt#L279

As you can see here we are putting a comment ktlint, this comment is preventing the ktlint to check the 100 char length for this particular code line. We need to remove this comment and shorten the function na

[2021-01-06 16:15] BenHenning commented on #2209
To clarify, the two scrolling solutions we want to consolidate in a single action file are:
- Scrolling to a specific position in the recycler view (e.g. using RecyclerViewActions)
- Scrolling to a position on the screen using ViewActions.scrollTo()

I think the main challenge here is determining a good API: how do we decide when to use each? That should be clear from the API itself (e.g. scrollTo

[2021-01-06 16:48] BenHenning commented on #2297
@mschanteltc I think one of the concerns we had was how to handle the case when the list of stories in the home fragment are a combination of recently played & recommended. What do we show in the 'View All' page in that case?

/cc @veena14cs & @rt4914 since this was an open question the last time we met.

[2021-01-06 17:18] BenHenning commented on #2209
@Srikanth-Kb you can assign this to yourself.

[2021-01-06 18:17] etigoel commented on #2407
I want to work on this.

[2021-01-06 18:37] anandwana001 opened #2417 "Fix all the ignored test cases[Blocked on #4991]"
**Describe the bug**
Some of the test cases are ignored due to flakyness or blocked somewhere in other pr.

**Expected behavior**
Need to fix all.

| Test file | Test issue/pr |
|---------|-----------|
| AudioFragmentTest |  #56(Landscape) |
| ExplorationActivityTest | 2 - fake audio library (https://github.com/oppia/oppia-android/issues/2480) |
| StateFragmentTest | 3 - #1612, 1 - #1611 |
| Image

[2021-01-06 18:56] lakshaygarg128 commented on #2401
please assign it to me

[2021-01-06 18:58] lakshaygarg128 commented on #2402
pl. assign it  to me

[2021-01-06 21:22] navneetsaluja commented on #2406
May I be assigned to this? Thank you.

[2021-01-07 00:24] mschanteltc commented on #2297
I was thinking that we can display them in the same way we categorize the Story cards by [recency](https://xd.adobe.com/view/e8aa4198-3940-47f9-514a-f41cc54457f6-9e9b/screen/2b6c8e95-5ac7-4472-bc2b-1c318a3f7e5c/). One heading can be named "Recently Played" while the other would be named "Recommended." WDYT?

[2021-01-07 01:23] anandwana001 opened #2419 "Fix Navigation Drawer test in HelpFragmentTest [Testing]"
**Describe the bug**
`openHelp_openNavDrawerAndClose_closingOfNavDrawerIsVerifiedSuccess` this test is not correct for Robolectric.

**Expected behavior**
Use a similar solution, test on both espresso and robolectric and add screenshot of test result in pr.
https://github.com/oppia/oppia-android/blob/83e409a64bbff8c1e724c4e52dfed71f8a70ec40/app/src/sharedTest/java/org/oppia/android/app/testing/Nav

[2021-01-07 01:24] anandwana001 commented on #2419
Assigned to @Srikanth-Kb

[2021-01-07 04:37] anandwana001 commented on #2417
@ShridharGoel Do you want to work on `ExplorationActivityTest` `explorationActivityTestRule.activity.isFinishing` part

[2021-01-07 04:57] ShridharGoel commented on #2417
@anandwana001 Yes, sure.

[2021-01-07 05:31] anandwana001 opened #2423 "Fix Mathematical Naming in classify rules"
**Describe the bug**
Some of the variables naming related to numbers in `src/main/java/org/oppia/android/domain/classify/rules` and it's test packet are mathematical incorrect.
example - `NEGATIVE_WHOLE_NUMBER_VALUE_TEST_2` where a whole number cannot be negative.

**Expected behavior**
Need to fix all such variables name

Follow these comments to solve this issue - https://github.com/oppia/oppia-

[2021-01-07 05:38] rt4914 commented on #2297
@mschanteltc For `RecentlyPlayedScreen` we can do that. But what will be the label in `HomeScreen` when the carousel contains mixed items like recently played & recommended?

[2021-01-07 11:25] FareesHussain opened #2427 "Logout Dialog disappears on orientation change"
**Describe the bug**
In `Adminstrator Controls` screen logout dialog on orientation change disappears

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administrator Controls'
2. Click on 'Log Out'
3. Rotate to Landscape
4. Dialog disappears

**Expected behavior**
Alert dialog should persist on orientation change. Also add test for the same in respective file.

**Video**
<img src="https

[2021-01-07 11:34] FareesHussain commented on #474
For reference: Testing RTL using psuedolocale

<img src="https://user-images.githubusercontent.com/54740946/103888139-36739780-510a-11eb-980c-b94398e7b3e5.png" width="32%"/>

[2021-01-07 12:05] varunvjha commented on #2405
Can I work on this? Please assign it to me if I can.

[2021-01-07 12:37] codersanjeev commented on #2423
Hi, @anandwana001 I would like to work on this issue.

[2021-01-07 12:49] anandwana001 commented on #2423
@codersanjeev please complete the onboarding instructions before starting with the contributions. https://github.com/oppia/oppia-android/wiki

[2021-01-07 13:16] varunvjha commented on #2408
@anandwana001 PTAL.

[2021-01-07 14:27] #2401 closed, assigned to lakshaygarg128

[2021-01-07 14:29] #2400 closed, assigned to coder2699

[2021-01-07 16:55] zyberg2091 commented on #2404
Can you assign me this issue?

[2021-01-07 17:02] MaskedCarrot commented on #2404
@zyberg2091 assigning this to you. You have to follow all steps mentioned on https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up to get started.

[2021-01-07 17:15] rt4914 opened #2430 "Check media player lifecycle and make it more robust"
The **MediaPlayer lifecycle** within Oppia Android has caused recurring issues across multiple PRs and issues (notably PR [#2274](https://github.com/oppia/oppia-android/pull/2274) and issue [#1801](https://github.com/oppia/oppia-android/issues/1801)). Despite past fixes, audio playback can still fail or behave inconsistently during lifecycle events such as configuration changes, fragment destructi

[2021-01-07 18:17] nskirkey commented on #1855
Sorry, didn't see this until now. I'll take a look at the sub issues.

[2021-01-07 18:22] nskirkey commented on #2403
I was hoping to assigned to this. I was assigned the unsplit PR and had been working on a script to help me go thru and fix the fun names.

[2021-01-07 18:56] mschanteltc commented on #2297
Let's change the heading for the carousel to be "Stories for You." This would also be the name of the page that "View All" navigates to.

[2021-01-07 22:38] BenHenning opened #2431 "Upgrade Kotlin in builds to 1.4"
It appears that our current build is incompatible with libraries using Kotlin 1.4, so we need to upgrade our base Kotlin version to 1.4 and our AGP plugin to something 1.4-compatible. This may also involve:
- Verifying that all tests and builds still work
- Upgrading other dependencies to newer versions if they have 1.3 counterparts that lead to incompatibilities with the Android build (this seems

[2021-01-07 22:38] BenHenning commented on #2431
@jcqli assigning you per our discussion earlier today.

[2021-01-07 22:44] BenHenning opened #2432 "Create multiple build flavors in Bazel"
While we don't yet have compile-time feature gating, we should be introducing different flavors of the app in Bazel builds. Specifically, we should have:
- oppia_dev: a developer-only build with native multidex and no proguard optimizations
- oppia_prod: a production-facing build with legacy multidex and with proguard optimizations including 3-pass optimization (this needs to be verified as workin

[2021-01-07 23:21] BenHenning opened #2434 "Enable experimental IR backend for Kotlin in developer builds [Blocked: #2432]"
The Kotlin team is working on introducing a new IR backend for improved compatibility with new compiler frontends including the one used for Jetpack Compose. Given that Compose will require opting into this backend, it'd be nice to test the backend by itself in the app to get an idea for potential compatibility in the future. Given that this backend is in an alpha state, it will not be staged for

[2021-01-07 23:24] BenHenning opened #2435 "Upgrade supported activity schema versions"
Exploration, question, topic, and other activity structure schema version support should be updated in the app to the latest versions. This includes upgrading corresponding test JSON files.

[2021-01-07 23:25] BenHenning commented on #2134
Taking this as part of the next alpha release.

[2021-01-07 23:26] BenHenning opened #2436 "Implement automation for importing lessons from Oppia backend [Blocked: #2435]"
We need a way to automatically download Oppia's curated lessons in the supported JSON format for the app to make future alpha releases easier. Specific considerations include:
- The need to sanitize for redundant custom tags (including for concept cards, e.g. to avoid #2134)
- Enforcing specific Android constraints, such as: not containing LaTeX and only including supported interactions

Ideally,

[2021-01-07 23:27] BenHenning opened #2437 "Ship 0.5-alpha version of Oppia Android [Blocked: #2436]"
This is the master tracking issue for shipping version 0.5 alpha version of Oppia Android for current PM team members, and for upcoming user studies.

[2021-01-07 23:28] BenHenning commented on #2437
@vinitamurthi assigning this to you to start. Please assign back to me with details around which specific topics you've confirmed that we should be including in the 0.5 release of the app. Per #2436 my plan is to include as many topics as we can, but if there's any additional work needed (e.g. inclusion of a topic not yet supported by the app or manual introduction of questions) please let me know

[2021-01-07 23:29] BenHenning commented on #2436
Blocked by #2435.

[2021-01-08 00:24] #2306 closed, assigned to nobody

[2021-01-08 06:11] #2304 closed, assigned to BenHenning

[2021-01-08 06:58] rt4914 commented on #2404
Thanks @MaskedCarrot for helping out.

[2021-01-08 07:16] #2228 closed, assigned to nobody

[2021-01-08 08:42] soamOne commented on #1588
Hey @rt4914, can I work on this?

[2021-01-08 11:23] FareesHussain commented on #632
I'm working on `StorySummaryAdapter`

[2021-01-08 14:40] varunvjha commented on #2404
I'd like to work on this since the previously assigned person unassigned himself. Assign me please if it's okay.

[2021-01-08 16:52] vinitamurthi commented on #2437
If possible I would like to have the following topics:
1) Place Values
2) Multiplication

Atleast one of these topics should have 10 questions. I think the previous alpha already had questions for multiplication. We could potentially reuse them.

[2021-01-08 19:02] BenHenning commented on #1535
Hey @FareesHussain. I think @jcqli might be working on this as part of #2431.

[2021-01-08 19:04] FareesHussain commented on #1535
Sure, I did'nt notice that miaboloix was already assigned

[2021-01-09 04:55] anandwana001 opened #2445 "Remove waitForTheView() from ProfileProgressFragmentTest"
**Describe the bug**
`waitForTheView` is defined in `ProfileProgressFragmentTest` which is of no use.

**Expected behavior**
We should not use such delays like `waitForTheView` as we are using `testCoroutineDispatchers` for delays.

#### Steps to solve this issue:
1. Run test cases on Espresso and check if all test cases are passing or not
2. Run test cases on Robolectric and check if all test cas

[2021-01-09 06:08] BenHenning commented on #2297
Ack, thanks @mschanteltc!

@veena14cs assigning this over to you. This seems like something we should address as part of #2320.

[2021-01-09 06:37] FareesHussain opened #2446 "Replacing SectionTitleViewModel with TopicLessonsViewModel in topic_lessons_title"
To replace `SectionTitleViewModel` with `TopicLessonsViewModel` in `topic_lessons_title`

This is causing an issue in creating a `BindableAdapter` instead of `StorySummaryAdapter`

[2021-01-09 06:41] FareesHussain commented on #2446
@anandwana001 I've created a seperate issue for this as i could'nt figure out what why it gives an error when i replace the ViewModel with TopicLessonsViewModel

`topic_lessons_title` is only used in the `StorySummaryAdapter` and the viewModel variable was never set

[2021-01-09 06:51] FareesHussain commented on #2446
Apologies, I was a little confused. I'm closing this, this will be fixed in a PR with replacing BindableAdapter in StorySummaryAdapter

[2021-01-09 06:51] #2446 closed, assigned to nobody

[2021-01-09 07:34] varunvjha commented on #2445
Can I work on this issue? Also, do enlighten me on how to run test cases on Espresso and Roboelectric.

[2021-01-09 12:06] khushal1707 commented on #2445
If not already assigned, I like to work on the issue.

[2021-01-09 23:49] anandwana001 commented on #2445
We personally suggest to onboarded contributors to go for more harder issues than good first issues.

[2021-01-09 23:50] anandwana001 commented on #2445
Please start with the Onboarding process
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-01-10 03:11] Russ741 commented on #2205
Updated plan:

* Cleanup work on alternate versions of profile_chooser_profile_view.xml
  * Where attributes are using literal values, add values resources for them to use instead
    * e.g. profile_avatar_img layout_width
  * Where the same attribute is set to a different resource in alternate layouts, change those layouts to use the same resource
    * e.g. dimen/profile_view_not_added_margin vs

[2021-01-10 03:22] khushal1707 commented on #2445
Already did!

[2021-01-10 03:42] anandwana001 commented on #2205
Are you creating a pr for this issue?

[2021-01-10 11:14] Roshan13046 commented on #2399
I would like to make a PR for this issue.

Should I Rearrange in only 5 categories as mentioned below?

[2021-01-10 12:12] Arjupta commented on #2399
Assigning it to you

[2021-01-10 12:35] Roshan13046 commented on #2399
Should I Rearrange in only 5 categories only?
Are there more categories?

[2021-01-10 12:57] Arjupta commented on #2399
@Roshan13046 try to do it for these 5 categories first and then if you find some dimensions left after that , then consider to find more ways to group them. But if you are unable to do so then create a PR and ask me for a review.

[2021-01-11 03:10] #2142 closed, assigned to 7phalange7

[2021-01-11 03:21] anandwana001 commented on #2282
@priyanka0906 any update on this?

[2021-01-11 03:34] anandwana001 commented on #2092
@prathamk22 any update on this?

[2021-01-11 05:53] anandwana001 opened #2449 "Improving the code coverage for .java files"
**Describe the bug**
While translating to java, some of the lines break
example - https://github.com/oppia/oppia-android/blob/70c486f733a63a8e6367ae0c8e71876379f659c9/app/src/main/java/org/oppia/android/app/databinding/ImageViewBindingAdapters.java#L59
It's fixed in https://github.com/oppia/oppia-android/pull/2101

**Expected behavior**
Need a track improving the code coverage in all `.java` files

[2021-01-11 06:32] anandwana001 opened #2450 "Fix test testRecentlyPlayedTestActivity_clickOnToolbarNavigationButton_closeActivity [Testing]"
**Describe the bug**
The test `testRecentlyPlayedTestActivity_clickOnToolbarNavigationButton_closeActivity` is only performing action.
Find this test in `RecentlyPlayedFragmentTest` app module.

**Expected behavior**
3 components of Espresso test
1. ViewMatchers
2. ViewActions
3. ViewAssertions

There are no ViewAssertions in this test case, which means this test is checking nothing. As per the te

[2021-01-11 06:38] lakshaygarg128 commented on #2450
pl. assign it to me . I would like to work upon it

[2021-01-11 06:40] anandwana001 commented on #2450
As you had already done good-first-issue, we recommend looking for harder issues to work on.

[2021-01-11 07:58] FareesHussain commented on #2449
I am working on this

[2021-01-11 08:40] rt4914 commented on #1588
@soamOne You can try to work on this but it might lead to a dead-end as we don't have good data to test this currently. You will need to work across domain and data layer to get it right.
Suggest have a look at current implementation first done for explorations and then try to check how this can be done.

[2021-01-11 08:48] #2213 closed, assigned to anandwana001

[2021-01-11 08:49] Russ741 commented on #2205
@anandwana001 Yes; the branch I'm working on is https://github.com/Russ741/oppia-android/tree/profile-chooser-oobe-fixes

[2021-01-11 11:24] rohanakut commented on #2450
Hey, I would like to work on this issue. I have filled the CLI and contributions survey

[2021-01-11 11:32] prathamk22 commented on #2092
@anandwana001 I am on them. Actually first my code was not running and then I got the exams. Will push a PR asap.

[2021-01-11 15:18] priyanka0906 commented on #2282
@anandwana001 not yet

[2021-01-11 16:39] khushal1707 commented on #2445
This is already solved in develop branch, hence not required.

[2021-01-11 17:57] KMaragh commented on #2391
I can take a look at this one!

[2021-01-11 18:12] FareesHussain commented on #2269
Closing this as per https://github.com/oppia/oppia-android/pull/2448#issuecomment-758125792

[2021-01-11 18:12] #2269 closed, assigned to harsh-hash

[2021-01-12 04:58] anandwana001 commented on #2445
Thanks @khushal1707 for confirming. CLosing this issue.

[2021-01-12 04:58] #2445 closed, assigned to nobody

[2021-01-12 06:00] #2294 closed, assigned to nobody

[2021-01-12 06:40] rt4914 commented on #1839
Updated issue description.

[2021-01-12 06:41] #2407 closed, assigned to etigoel

[2021-01-12 06:48] rt4914 commented on #747
Duplicate #1587

[2021-01-12 06:48] #747 closed, assigned to nobody

[2021-01-12 07:22] prayutsu commented on #2355
This issue is available now.

[2021-01-12 07:44] etigoel commented on #1658
I can start working on this.

[2021-01-12 08:07] anandwana001 commented on #962
closing this issue as we have successfully migrated to `TextInputLayout` and removed `ProfileInputView` completely.

[2021-01-12 08:07] #962 closed, assigned to nobody

[2021-01-12 08:25] #2405 closed, assigned to varunvjha

[2021-01-12 09:35] FareesHussain opened #2460 "Optimise TextInputLayout in add_profile_activity"
Remove `android:textDirection="locale"` in `TextInputLayout` from the following files
 - layout/add_profile_activity
 - layout-land/add_profile_activity
 - sw600dp/add_profile_activity
 - sw600dp-land/add_profile_activity

[2021-01-12 09:38] FareesHussain opened #2461 "Optimise TextInputLayout in profile_rename_activity"
Remove `android:textDirection="locale"` in `TextInputLayout` from the following files
 - layout/profile_rename_activity
 - layout-land/profile_rename_activity

[2021-01-12 09:39] FareesHussain opened #2462 "Optimise TextInputLayout in admin_pin_activity"
Remove `android:textDirection="locale"` in `TextInputLayout` from the following files
 - layout/admin_pin_activity
 - layout-land/admin_pin_activity
 - sw600dp/admin_pin_activity
 - sw600dp-land/admin_pin_activity

[2021-01-12 09:41] FareesHussain opened #2463 "Optimise TextInputLayout in profile_reset_pin_activity"
Remove `android:textDirection="locale"` in `TextInputLayout` from the following files
 - layout/profile_reset_pin_activity
 - layout-land/profile_reset_pin_activity

[2021-01-12 09:50] FareesHussain opened #2464 "Optimise TextInputLayout in reset_pin_dialog"
Remove `android:textDirection="locale"` in `TextInputLayout` from the following files
 - layout/reset_pin_dialog
 - layout-land/reset_pin_dialog

[2021-01-12 09:51] FareesHussain opened #2465 "Optimise TextInputLayout in admin_settings_dialog"
Remove `android:textDirection="locale"` in `TextInputLayout` from the following files
 - layout/admin_settings_dialog
 - layout-land/admin_settings_dialog

[2021-01-12 12:44] arhamathar commented on #2465
I would like to work on this, please assign this to me.

[2021-01-12 12:45] arhamathar commented on #2464
I would like to work on this, please assign this to me.

[2021-01-12 14:09] alwin48 commented on #2463
I would like to work on this issue

[2021-01-12 14:40] lakshaygarg128 commented on #2465
@arhamathar please complete the onboarding instructions before starting with the contributions.
https://github.com/oppia/oppia-android/wiki

[2021-01-12 16:04] rt4914 commented on #2463
@alwin48 Please check our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-12 16:06] alwin48 commented on #2463
I will check out the wiki once more. I have already signed the CLA and have filled the survey form

[2021-01-12 16:07] rt4914 commented on #2463
Can you please check that you have signed the CLA and filled the survey correctly/completely? Because if it would have been correct I would have received an automated email.

[2021-01-12 16:08] rt4914 commented on #2465
@arhamathar Please check our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-12 16:09] alwin48 commented on #2463
Okay I'll check it.

[2021-01-13 05:14] #2402 closed, assigned to lakshaygarg128

[2021-01-13 05:17] anandwana001 commented on #2450
@rohanakut Any update on this? Also, pleae join our Gitter channel for all the communication. https://gitter.im/oppia/oppia-android

[2021-01-13 07:02] alwin48 commented on #2463
I looked into it but its saying I have already submitted the form

[2021-01-13 08:11] dipu989 commented on #2465
Can you please assign this issue to me?

[2021-01-13 10:39] anandwana001 commented on #1658
@viktoriias As you are working around LessonThumbnailImageView, have you faced this issue?

[2021-01-13 10:51] anandwana001 opened #2468 "Use profileId as property [Testing]"
**Describe the bug**
Currently, `profileId` is an immutable variable in `@Before`, which creates every time before called up.

https://github.com/oppia/oppia-android/blob/022b4c6d242d28e5c8dc2e030abef8b16f2b55c6/app/src/sharedTest/java/org/oppia/android/app/completedstorylist/CompletedStoryListActivityTest.kt#L106

**Expected behavior**
Use `profileId` as an immutable property

**Additional Refere

[2021-01-13 10:53] prayutsu commented on #1873
@anandwana001 Actually, I was working on the PR and I was waiting for your or @rt4914 response on it. I was a bit stucked so can you please help me here?

[2021-01-13 11:06] rt4914 commented on #14
@BenHenning Is this done ? Or can anyone work on this?

[2021-01-13 11:08] rt4914 commented on #182
@BenHenning Is this issue blocked on clarification or someone can work on this?

[2021-01-13 11:41] rt4914 commented on #2463
Sounds good

[2021-01-13 12:44] GowthamGoush commented on #2461
I would like to work in this.
Can you assign this to me?

[2021-01-13 13:11] chrk2205 commented on #2468
i would like to work on this?
@anandwana001

[2021-01-13 13:24] GowthamGoush commented on #2460
I would like to work on this issue, could you assign this to me?

[2021-01-13 13:54] som23ya commented on #2462
Can I work on this?

[2021-01-13 15:01] arhamathar commented on #2465
DONE !

Done !

[2021-01-13 15:01] arhamathar commented on #2465
Done !

[2021-01-13 16:53] BenHenning commented on #2430
@Srikanth-Kb this is the broader media player issue that may be of interest to you.

[2021-01-13 17:18] dipu989 commented on #2460
@FareesHussain Can you please assign this to me?

[2021-01-13 18:08] rt4914 commented on #2460
@GowthamGoush Thanks for showing interest. Please, checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on. Once this is done, we can assign you issues to work on. For now this issue is assigned to @dipu989 .

[2021-01-13 18:38] viktoriias commented on #1658
I don't remember getting such error messages.

[2021-01-14 01:27] #2395 closed, assigned to FareesHussain

[2021-01-14 03:18] GowthamGoush commented on #2427
May I work on this?

[2021-01-14 04:16] anandwana001 commented on #1658
@viktoriias could you add a screenshot just like above which shows that this issue is good to close?

[2021-01-14 05:04] viktoriias commented on #1658
Actually, I just checked and I see the mentioned error.

[2021-01-14 05:26] etigoel commented on #1658
I can also see the mentioned error.

On Thu, Jan 14, 2021 at 10:34 AM Viktoriia Schwartz <
notifications@github.com> wrote:

[2021-01-14 12:32] dipu989 commented on #2468
@anandwana001 Can I work upon this issue?

[2021-01-14 15:28] FareesHussain commented on #2461
@GowthamGoush Thanks for showing interest in oppia. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-14 15:28] FareesHussain commented on #2462
@som23ya Thanks for showing interest in oppia. Please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-14 16:24] anandwana001 commented on #2468
Assigning @dipu989 as he is the first-time contributor and @chrk2205 is already an onboarded contributor so I suggest looking for a bit harder issues.

[2021-01-14 16:28] anandwana001 commented on #1658
Thanks, @etigoel for confirming.

[2021-01-14 16:29] GowthamGoush commented on #2461
I have filled that sir

[2021-01-14 17:04] FareesHussain opened #2476 "Revealing second hint after orientation change before the timer"
**Describe the bug**
For the questions with more than one hint, the second hint is revealed before 10 seconds after orientation change

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `What is a Fraction` story inside `Fractions`
2. click on `continue`, `continue`, `Three fifths`, `Four sevenths`, `2nd option (green)`
3. Here select the option `7/2` twice and reveal the hint
4. go back

[2021-01-14 17:39] FareesHussain commented on #2476
cc: @BenHenning

[2021-01-14 18:46] BenHenning commented on #2476
So I think that this might because of [this line](https://github.com/oppia/oppia-android/blob/74db288/app/src/main/java/org/oppia/android/app/player/state/StatePlayerRecyclerViewAssembler.kt#L218). It seems like in some cases it might force a new hint to be shown when compute() is called (which will happen on configuration change since the adapter & list is recreated). I'm guessing that we need to

[2021-01-14 18:46] BenHenning commented on #2476
We should also make sure that this specific cases & related cases are thoroughly tested, too.

[2021-01-14 18:51] FareesHussain commented on #2476
@BenHenning Can we do something like restart the timer after orientation change

[2021-01-14 18:53] #2431 closed, assigned to jcqli

[2021-01-15 05:44] dipu989 commented on #2462
Can I work upon this?

[2021-01-15 05:44] dipu989 commented on #2227
Can I work upon this?

[2021-01-15 06:24] anandwana001 commented on #2227
@dipu989 As you are already on other good-first-issues, I suggest looking for harder issues.

[2021-01-15 06:40] anandwana001 commented on #2257
@etigoel I think this issue is solved?

[2021-01-15 06:41] etigoel commented on #2257
Yes, This has been resolved.

Eti Goel |  Software Engineer |  etigoel@google.com <jainbikash@google.com>
 |  +91 8788679045 <+91%878%8679045>

On Fri, Jan 15, 2021 at 12:10 PM Akshay Nandwana <notifications@github.com>
wrote:

[2021-01-15 06:42] anandwana001 commented on #2257
@Srikanth-Kb Could you please include this issue in your ongoing PR as I am seeing there are couple more lines to be removed.

[2021-01-15 06:51] dipu989 commented on #2227
@anandwana001 Sure, I will!
 I was trying to get comfortable with project's codebase and grasp Kotlin, coming from Java background.

[2021-01-15 07:53] #2468 closed, assigned to dipu989

[2021-01-15 07:53] #2464 closed, assigned to arhamathar

[2021-01-15 07:56] #2463 closed, assigned to alwin48

[2021-01-15 08:42] anandwana001 opened #2480 "Fix test to check pause button visibility [Blocked on #4991]"
**Describe the bug**
Espresso doesn't test anything when the app is in the idle state. Testing Audio becomes difficult in such cases.

**Expected behavior**
Propose a solution to test the pause icon visiblity while playing audio
Cases we need to test:
- Pause icon is visible when audio is playing
- All the test should pass on Espresso
- All the test should pass on Robolectric

**Additional context

[2021-01-15 09:50] aggarwalpulkit596 commented on #1535
@BenHenning this is done right?

[2021-01-15 09:51] aggarwalpulkit596 commented on #1535
I mean the underlying work for this has been done we just need to remove the local dependency from workspace file now

[2021-01-15 09:57] #2461 closed, assigned to GowthamGoush

[2021-01-15 13:11] srikanthkb commented on #2257
Done.

[2021-01-15 14:45] rt4914 commented on #2280
@ForgottenProgramme I am assigning this PR to @etigoel .

[2021-01-15 15:03] rt4914 opened #2483 "Spacing issue in `colors` folder xml files"
In below mentioned folder(s) there are 4 files which contains nit spacing issue. There should be one blank space just before `/>`.

https://github.com/oppia/oppia-android/tree/develop/app/src/main/res/color
https://github.com/oppia/oppia-android/tree/develop/app/src/main/res/color-sw600dp-port
https://github.com/oppia/oppia-android/tree/develop/app/src/main/res/color-sw600dp-land

You can also fix

[2021-01-15 15:05] rt4914 opened #2485 "Delete dummy_place_holder.png file"
Delete dummy_place_holder.png file from `drawable`.
Please make sure that it does not create any issues.

[2021-01-15 15:14] rt4914 opened #2486 "Replace `Switch` with `androidx.appcompat.widget.SwitchCompat` in `add_profile_activity.xml`"
Replace `Switch` with `androidx.appcompat.widget.SwitchCompat` in `add_profile_activity.xml` files. Also make sure that it is still functional and all tests pass in `AddProfileActivityTest` file.

[2021-01-15 15:28] FareesHussain opened #2487 "Required reformatting for some individual xml files"
The following files require reformatting
 - audio_fragment.xml
 - profile_picture_edit_dialog.xml
 - submitted_html_answer_item.xml
 - test_text_view_for_int_no_data_binding.xml
 - test_text_view_for_int_with_data_binding.xml
 - test_text_view_for_string_no_data_binding.xml
 - test_text_view_for_string_with_data_binding.xml

Recommended to setup [Macros](https://github.com/oppia/oppia-android/wiki

[2021-01-15 15:41] FareesHussain opened #2488 "Required Reformatting for administrator_controls_general_view.xml"
The following files require reformatting
 - layout/administrator_controls_general_view.xml
 - layout-land/administrator_controls_general_view.xml
 - layout-sw600dp/administrator_controls_general_view.xml

Recommended to set up [Macros](https://github.com/oppia/oppia-android/wiki/Ktlint-Guide#macros) to solve this issue

References
 - https://github.com/oppia/oppia-android/wiki/Coding-style-guide#c

[2021-01-15 15:46] FareesHussain opened #2489 "Required Reformatting for administrator_controls_download_permissions_view.xml"
The following files require reformatting
 - layout/administrator_controls_download_permissions_view.xml
 - layout-land/administrator_controls_download_permissions_view.xml
 - layout-sw600dp/administrator_controls_download_permissions_view.xml

Recommended to set up [Macros](https://github.com/oppia/oppia-android/wiki/Ktlint-Guide#macros) to solve this issue

References
 - https://github.com/oppia/

[2021-01-15 15:54] FareesHussain opened #2490 "Required Reformatting for administrator_controls_app_information_view.xml"
The following files require reformatting
 - layout/administrator_controls_app_information_view.xml
 - layout-land/administrator_controls_app_information_view.xml
 - layout-sw600dp/administrator_controls_app_information_view.xml

Recommended to set up [Macros](https://github.com/oppia/oppia-android/wiki/Ktlint-Guide#macros) to solve this issue

References
 - https://github.com/oppia/oppia-android/w

[2021-01-15 16:28] FareesHussain opened #2491 "Required Reformatting for administrator_controls_account_actions_view.xml"
The following files require reformatting
 - layout/administrator_controls_account_actions_view.xml
 - layout-land/administrator_controls_account_actions_view.xml
 - layout-sw600dp/administrator_controls_account_actions_view.xml

Recommended to set up [Macros](https://github.com/oppia/oppia-android/wiki/Ktlint-Guide#macros) to solve this issue

References
 - https://github.com/oppia/oppia-android/w

[2021-01-15 19:27] dipu989 commented on #2489
Would like to work on this! Never worked with Macros before.

[2021-01-15 20:28] Manikant25 commented on #2491
Can I work on this?

[2021-01-15 20:39] Manikant25 commented on #2483
Can I fix it?

[2021-01-15 23:09] Mehul-Bisht commented on #2485
Can I work on this issue?

[2021-01-16 02:52] khushal1707 commented on #2486
I like to work on this issue

[2021-01-16 08:57] #2460 closed, assigned to dipu989

[2021-01-16 08:58] #2465 closed, assigned to dipu989

[2021-01-16 11:35] FareesHussain commented on #2489
@dipu989 as you have worked on more than 2 `good-first-issues` it is recommended to go for harder issues.
You'll be using macros for the harder issues too

[2021-01-16 11:36] FareesHussain commented on #2491
@Manikant25 Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-16 12:28] Victor-Titan commented on #206
@anandwana001 can you please direct me where in the project can I find the files for the thumbnails? I can't find them

[2021-01-16 12:29] Manikant25 commented on #2491
I have gone through this before.

[2021-01-16 15:08] Mehul-Bisht commented on #2490
Can I work on this issue?

[2021-01-16 18:43] FareesHussain commented on #1737
@BenHenning I've tried to understand working of `StatePlayerRecyclerViewAssembler`

Here in this issue we need to solve the following issues based on `addInteractionSupport` in `StatePlayerRecyclerViewAssembler`
 - text and error message in [FractionInteractionView.kt]
 - list of selected checkboxes in [SelectionInteractionView.kt]
 - text(integer) and error msg for [NumericInputInteractionView.kt

[2021-01-16 19:45] Mehul-Bisht commented on #2490
Hey! Should I never be committing the changes that android studio generates inside the Project.xml file?

[2021-01-16 20:16] FareesHussain commented on #2490
yes

[2021-01-16 20:19] FareesHussain opened #2496 "Error message disappears on configuration changes for AddProfileActivity"
**Describe the bug**
Error message in TextInputLayout disappears on configuration changes for AddProfileActivity

same for the AdminPinActivity, ProfileRename, AdminSettings, ProfileResetPin

**Expected behavior**
Error message should remain same after orientation change

[2021-01-16 20:21] FareesHussain commented on #2496
@anandwana001 for this do we have to go through the reversion process https://github.com/oppia/oppia-android/pull/2344

btw this issue was not found in https://github.com/oppia/oppia-android/pull/2344

[2021-01-16 20:35] Mehul-Bisht commented on #2489
Can I start working on this issue?

[2021-01-16 21:12] Mehul-Bisht commented on #2487
May I work on this issue?

[2021-01-16 21:26] Manikant25 commented on #2491
![Screenshot from 2021-01-17 02-51-58](https://user-images.githubusercontent.com/55659857/104823311-4f4d1d00-586f-11eb-8403-1fd49801e6ea.png)
This folder named oppia-android-tools is made but Ktlint is not there.  Please check if there is an error.

[2021-01-17 05:08] MaskedCarrot commented on #2480
@anandwana001 may I work on this? Also can you please give me a few pointers on how to get started?

[2021-01-17 06:36] prayutsu commented on #2496
@FareesHussain Can you please add some screenshots or a video for a better understanding?

[2021-01-17 07:06] Manikant25 commented on #2491
We have to set up one macro and it can be used in all XML files. Please correct me if I am wrong

[2021-01-17 07:58] FareesHussain commented on #2496
<img src="https://user-images.githubusercontent.com/54740946/104834774-a1219180-58c7-11eb-9c73-05031ce18302.gif" width="33%"/>

[2021-01-17 08:02] FareesHussain commented on #2491
Yes you can use the same macro for all xml files

[2021-01-17 08:41] khushal1707 commented on #2496
I think we are unable to retain `nameErrorMsg` from `AddProfileViewModel.kt` during the orientation change when activity restarts. Can I work on this issue?

[2021-01-17 10:12] FareesHussain commented on #2496
@prayutsu can you have a look at this
In this issue is at some point all the tests related to Migration to TextInputLayout fails now in espresso can you please help to find out the cause here

[2021-01-17 10:13] chrk2205 commented on #2496
i would like to work on this!!
@FareesHussain

[2021-01-17 10:17] FareesHussain commented on #2496
I think the cause needs to be discussed before working on this as the tests were passing at that time

[2021-01-17 10:21] chrk2205 commented on #2496
actually the bug is not in showing in my application!!

[2021-01-17 10:23] FareesHussain commented on #2496
@chrk2205 can you verify if your branch is up-to-date and also add a video for that

[2021-01-17 10:24] chrk2205 commented on #2496
No I am updating that @FareesHussain

[2021-01-17 10:28] prayutsu commented on #2496
Yes, this is weird, this was not happening when we were migrating.

[2021-01-17 10:29] prayutsu commented on #2496
@FareesHussain I am trying to find out the reason for this, will update you if I find something.

[2021-01-17 17:54] FareesHussain commented on #2496
Will fill a separate issue after discussing this issue

[2021-01-17 17:54] #2496 closed, assigned to nobody

[2021-01-17 18:49] Arjupta commented on #2399
@Roshan13046 any update on this Issue?

[2021-01-18 05:18] anandwana001 opened #2502 "Tests Failing on Espresso in Landscape with small screen size or bug"
**Describe the bug**
After the migration to `TextInputLayout`, few test cases are failing on Espresso with small screen size.

**Expected behavior**
All the test case should pass on multiple device screen size. Pixel, Pixel XL, Nexus 4, Tablet.

**How to submit PR**
Add test result screenshot for Espresso and Robolectric on devices mentioned above.

**Additional context**
[code]

[2021-01-18 05:28] anandwana001 commented on #2480
@MaskedCarrot We need to create a fake audio library so that we can test cases when the espresso test is idle like pause icon is only visible when espresso test is idle, but we need something using which we can fake our media player that audio is playing and the pause icon gets visible.

[2021-01-18 05:33] anandwana001 commented on #206
@Victor-Titan PTAL `ProfileChooserFragmentPresenter` here you will find `COLORS_LIST`, we are creating profile icon using random colors and circle image view in ui.

[2021-01-18 06:02] #2486 closed, assigned to nobody

[2021-01-18 06:28] #1658 closed, assigned to etigoel

[2021-01-18 06:33] rt4914 opened #2503 "Nit code clarity in PromotedStoryListViewModelTest.kt"
Reference: https://github.com/oppia/oppia-android/pull/2246#discussion_r559336298

`PromotedStoryListViewModelTest.kt` needs to be updated for the suggested change.

[2021-01-18 06:35] rt4914 opened #2504 "Nit code change in HomeActivityTest.kt"
`HomeActivityTest.kt` needs to be updated as per this comment
https://github.com/oppia/oppia-android/pull/2246#discussion_r559335629

[2021-01-18 07:12] #2419 closed, assigned to srikanthkb

[2021-01-18 09:44] prayutsu commented on #2502
@anandwana001 I think they are not only failing on small screen devices, they are failing on all devices on espresso.
![Screenshot from 2021-01-18 15-13-15](https://user-images.githubusercontent.com/54636525/104898554-cb468280-599f-11eb-99a2-9aa22017cd8a.png)

[2021-01-18 09:45] prayutsu commented on #2502
@FareesHussain I guess they are failing for other similar test files too except one?

[2021-01-18 10:04] prayutsu commented on #2502
@anandwana001 I tested these test cases after removing data binding code from XML files
And all the test cases passed.
![Screenshot from 2021-01-18 15-33-49](https://user-images.githubusercontent.com/54636525/104900879-a1db2600-59a2-11eb-962b-a85e44b2f239.png)

[2021-01-18 10:18] FareesHussain commented on #2502
I guess the added screenshots were before adding the data-binding and we didn't check the espresso tests after that and all of the failing tests are related to disappearing error message after configuration change

so we can solve this using onSavedInstance similar to `AdminAuthActivity`

do this makes sense?

[2021-01-18 10:21] prayutsu commented on #2502
@FareesHussain Yes, after making changes I didn't run tests on ESPRESSO, I only ran for Robolectric.
But I didn't get your point of using `onSavedInstance()` to solve this issue. Can you please explain?

[2021-01-18 10:31] FareesHussain commented on #2502
Adding Reference -
https://github.com/anandwana001/oppia-android/blob/462f7fcab7637b0fe1083a254863cf32f528c60b/app/src/main/java/org/oppia/android/app/profile/AdminAuthActivityPresenter.kt#L115

[2021-01-18 10:47] chrk2205 commented on #2423
@anandwana001
@codersanjeev
`NEGATIVE_WHOLE_NUMBER` is mathematically incorrect
In `InteractionObjectTestBuilder.kt` there should not be `isNegative` property for whole number in `createWholeNumber` function
or else we should change this too.

[2021-01-18 11:24] anandwana001 commented on #2403
@nskirkey any update on this?

[2021-01-18 11:26] anandwana001 commented on #2255
duplicate https://github.com/oppia/oppia-android/issues/2480

[2021-01-18 11:27] #2255 closed, assigned to nobody

[2021-01-18 11:29] anandwana001 commented on #2257
Closing this issue as solved

[2021-01-18 11:29] #2257 closed, assigned to srikanthkb

[2021-01-18 11:58] srikanthkb commented on #1801
Here's an update on investigating this issue:

- `ExplorationActivity` hosts the audio option in the toolbar.
- Audio option is enabled and disabled by extending the `AudioUiManager` interface.
- And when we click the "audio" button in `ExplorationActivity`, depending on the state of the AudioFragment, the method implementations of `enableAudioPlayback` and `disableAudioPlayback` are called.
- The

[2021-01-18 14:56] Mehul-Bisht commented on #2488
May I work on this issue?

[2021-01-18 15:15] FareesHussain commented on #2488
As you've been assigned to more than 2 `good-first-issues`, I recommend you to go for harder issues.

[2021-01-18 15:39] #2489 closed, assigned to Mehul-Bisht

[2021-01-18 15:40] #2490 closed, assigned to Mehul-Bisht

[2021-01-19 04:34] srikanthkb opened #2515 "Update literals to named arguments in TopicLessonsFragmentTest.kt"
**Is your feature request related to a problem? Please describe.**
Update the literals passed as argument to named arguments. This improves code readability and provides better context to the readers. One such instance is shown as an example below.

**Describe the solution you'd like**
Update the argument in line 246 below:
https://github.com/oppia/oppia-android/blob/bb7351b4c0700b3dadd1a51edd99e8

[2021-01-19 05:13] chrk2205 commented on #1386
@anandwana001
I tried to reproduce this bug in my emulator but its not showing it !!
-tried in emulator Pixel 3 and normal mobile One Plus 6
can you please check if the the bug still pertains!!
Thanks

[2021-01-19 05:50] anandwana001 commented on #1386
Yes, it looks fixed now. Closing this issue. Thanks for the update.

[2021-01-19 05:50] #1386 closed, assigned to nobody

[2021-01-19 06:49] #2487 closed, assigned to Mehul-Bisht

[2021-01-19 06:49] #2483 closed, assigned to Manikant25

[2021-01-19 07:47] #2280 closed, assigned to etigoel

[2021-01-19 07:51] #2406 closed, assigned to navneetsaluja

[2021-01-19 07:53] fsharpasharp opened #2516 "Create BUILD files for /activity /administratorcontrols and /application [BLOCKED]"
This change is part of migrating the build system from Gradle to [Bazel](https://bazel.build).

Create a BUILD.bazel file in each directory.
- **/app**/activity
- **/app**/administratorcontrols
-  **/app**/administratorcontrols/appversion
-  **/app**/administratorcontrols/administratorcontrolsitemviewmodel
-  **/app**/application

Add the
- source files in each directory to its corresponding BUILD

[2021-01-19 09:22] harshpatel63 commented on #2515
I'll like to work on it. Can you assign me this issue??

[2021-01-19 10:10] prayutsu opened #2518 "Optimise onboarding_fragment.xml portrait layout"
The layout tree of `onboarding_fragment` (phone-portrait) can be optimized by removing the extra parent layout.

**Solution -**
Optimize the layout by deleting extra parent layouts and make it similar to the landscape version

[2021-01-19 10:41] prayutsu commented on #2502
@anandwana001 One test case of `AdminAuthActivityTest` is also failing on ESPRESSO.
I ran it two times, can you check if it is passing on your local machine (on the latest develop)?
![Screenshot from 2021-01-19 16-08-25](https://user-images.githubusercontent.com/54636525/105023330-d61d1800-5a70-11eb-829d-f1f5a8593246.png)

[2021-01-19 10:41] srikanthkb commented on #2515
@Sci3fic Have you completed the onboarding procedures from here? https://github.com/oppia/oppia-android/wiki
Let us know if all of the procedures and setup is complete.

[2021-01-19 10:45] prayutsu commented on #2502
Also, we need to introduce test cases similar to below mentioned -
[code]

[2021-01-19 10:59] prayutsu commented on #2502
@anandwana001 3 tests in `AdminPinActivityTest` are failing correctly, i.e the actual app isn't behaving as expected -

https://user-images.githubusercontent.com/54636525/105025408-4af15180-5a73-11eb-9e4e-00ba04e80388.mp4

[2021-01-19 11:25] anandwana001 commented on #2502
@prayutsu Could you file a separate issue for this with the video mentioned above?

[2021-01-19 11:41] harshpatel63 commented on #2515
Done with the procedures and setup.

Just for clarification: I need to check each and every Kotlin file for the issue. Right??

[2021-01-19 12:19] prayutsu commented on #2502
@anandwana001 Aren't we covering it in this issue only?

[2021-01-19 12:23] anandwana001 commented on #2502
ah, Let's update the issue description. Also, Farees is handling the admin auth thing too in the current PR.

[2021-01-19 12:26] prayutsu commented on #2502
Yup, so should I make a PR for `AdminPinActivityTest`?

[2021-01-19 12:46] anandwana001 commented on #2502
@FareesHussain are you working on this? else you can assign to Abhay.

[2021-01-19 12:53] FareesHussain commented on #2502
It's fine then I'll leave `AdminPinActivity` and make changes for all other activities

[2021-01-19 13:40] srikanthkb commented on #2515
Yes. Currently, we have few pre-push git hooks, which warns you if there are any linting errors before you push it to your branch. If you see any errors/warnings, the push will fail, and you will be asked to fix the errors.

[2021-01-19 14:23] alwin48 commented on #2450
I would like to work on this.

[2021-01-19 14:24] rt4914 commented on #2450
@alwin48 Assigned. Thanks.

[2021-01-19 15:07] Mehul-Bisht commented on #2326
I was able to fix the issue with the checkboxes, Can I be assigned for this issue?

[2021-01-19 15:28] FareesHussain commented on #2326
@ARJUPTA is this ok to work on this
I think accessibility issues are blocked and the PR related are not to be merged now

[2021-01-19 15:33] Mehul-Bisht commented on #2326
Please update the status to `BLOCKED` to clarify which issues are not open currently

[2021-01-19 16:09] FareesHussain commented on #2282
@rt4914 It seems we don't need RTL support for Topic Lesson Tab
I guess this can be closed now
![image](https://user-images.githubusercontent.com/54740946/105060354-4c843f00-5a9e-11eb-8b91-9e814533e1dc.png)

[2021-01-19 16:25] rt4914 commented on #2282
@FareesHussain This will need changes because the progress is not RTL supportive yet.

<img src="https://user-images.githubusercontent.com/9396084/105062730-ed73f980-5aa0-11eb-9c63-c6838c7ebae8.png" width="250" />

[2021-01-19 16:55] FareesHussain commented on #2282
Thanks for mentioning this

[2021-01-19 17:17] jcqli commented on #1535
@aggarwalpulkit596 Removing `kt_download_local_dev_dependencies()` gives an error that `@com_google_protobuf//:javalite_toolchain` can't be found. `@com_google_protobuf` should be coming from our [rules_kotlin](https://github.com/bazelbuild/rules_kotlin/blob/69159daf2b49746706e2497e2fd272afe8a9afee/kotlin/internal/repositories/download.bzl#L52) so it might be an ordering issue, but in the current

[2021-01-19 20:30] imraghav20 commented on #2476
@FareesHussain can I work on this issue?

[2021-01-19 20:35] imraghav20 commented on #2476
I tried to make few changes, although the issue is still not solved.
Should I share the changes in code in a comment or make a PR to review and suggest appropriate changes.

[2021-01-19 20:36] FareesHussain commented on #2476
I'm sorry I forgot to assign myself actually I'm currently working on it

[2021-01-20 06:35] #2485 closed, assigned to Mehul-Bisht

[2021-01-20 08:09] MaskedCarrot commented on #2480
@anandwana001 I tried reading about this online but I could not find any resource of much help. Can you please guide me on this?

[2021-01-20 09:34] anandwana001 commented on #2480
Basically, there is no third party lib todo this, but we need to create the whole thing here.

[2021-01-20 09:56] Mehul-Bisht commented on #2326
@ARJUPTA @FareesHussain should I not be working on this issue anymore then? (and also others which mention [A11y] in their title)

[2021-01-20 09:58] FareesHussain commented on #2326
@rt4914 are accessibility issues open to work now?

[2021-01-20 12:19] rt4914 commented on #2314
<img src="https://user-images.githubusercontent.com/9396084/105173837-9b39e380-5b47-11eb-8e0a-d1f42db68c6a.png" width="250" />

I tested this in A11y scanner but I was not able to find issue related to contrast. Can you please check this again and confirm.

[2021-01-20 12:27] imraghav20 commented on #2288
@rt4914 can I work on this issue?

[2021-01-20 12:31] Arjupta commented on #2326
@Mehul-Bisht @FareesHussain this particular issue can be solved with the given description. This is why it is not blocked on anything. @Mehul-Bisht you can comment here if you still want to work on this.

[2021-01-20 12:52] Mehul-Bisht commented on #2326
Yes as I mentioned earlier, I was able to fix the issue with checkboxes for portrait mode but was waiting for the confirmation, so I did not fix the issue for other orientations yet. I'll do that now.

[2021-01-20 13:19] Arjupta commented on #2314
<img alt="" width="250" src="https://user-images.githubusercontent.com/64064110/105179809-c58f9f00-5b4f-11eb-8e4b-bd77586cc6e0.png">

I am able to reproduce this error here and was able to solve it too by the our discussion over Chantel's suggestion. Will be creating a PR if you are also able to reproduce it

[2021-01-20 13:56] navneetsaluja commented on #1839
May I work on this?

[2021-01-20 14:00] Arjupta commented on #2399
Removing the assignment as there is no further update from previous contributor

[2021-01-20 14:15] anandwana001 commented on #2515
I suggest creating multiple sub issues for this. Tracking in one issue might be complex.

[2021-01-20 14:21] Mehul-Bisht commented on #2311
@ARJUPTA @Srikanth-Kb Is this issue `Blocked` or I may start working on this?

[2021-01-20 14:41] prayutsu commented on #2057
@anandwana001 Actually, those tests didn't fail when we didn't merge [PR #1923](https://github.com/oppia/oppia-android/pull/1923), they were passing because of this issue. So, those tests can't be considered right in robolectric until this issue is resolved.

[2021-01-20 15:05] prayutsu commented on #1839
@rt4914 @BenHenning Is this still a good first issue?

[2021-01-20 16:23] etigoel commented on #1770
I can look into this. Assigning Myself for the same.

[2021-01-20 16:44] rt4914 commented on #1770
Thanks. Have a look at all the comments too as we already had difficulties in this issue. @etigoel

[2021-01-20 16:48] etigoel commented on #1770
Sure.

[2021-01-20 16:49] prayutsu commented on #632
@rt4914 I am taking `OngoingListAdapter`

[2021-01-20 17:11] srikanthkb commented on #2515
Agreed. On what basis should we split these into sub issues or should we create independent good-first-issues for the identified files ?

[2021-01-20 19:07] FareesHussain commented on #1839
I think it is as we just need to add constraints to the progress bar

[2021-01-20 20:12] aishapervin commented on #1839
I would like to work on this.Please assign me this work.

[2021-01-20 20:15] aishapervin commented on #1839
I have fixed this.Shall i create a pr for this?

[2021-01-20 21:55] Mehul-Bisht commented on #1381
@BenHenning @FareesHussain I can try either designing a custom animation for this using the object animator or converting the layout to a motion layout to define that transition.

[2021-01-20 23:21] jcqli opened #2526 "Fractions topic, exploration 1: correct answer not recognized"
**Describe the bug**
In the Fractions topic, story 1, chapter 1, the correct answer is not recognized as the correct answer (see image below).
The [JSON file](https://github.com/oppia/oppia-android/blob/develop/domain/src/main/assets/umPkwp0L1M0-.json#L6521) records the chosen options as the correct answer.
This is thought to be caused by #2459 where the JSON file was updated but the classifier in

[2021-01-21 01:05] FareesHussain commented on #1381
@Mehul-Bisht as there is a ongoing pr for this we can't assign this to you

[2021-01-21 02:03] #1930 closed, assigned to MaskedCarrot

[2021-01-21 02:38] FareesHussain commented on #2143
Unassigning myself making it available for new contributors

[2021-01-21 02:39] FareesHussain commented on #2143
@BenHenning please update the Title as this is blocked on #1904

[2021-01-21 02:46] FareesHussain commented on #1839
@aishapervin Thanks for showing interest in Oppia.
Before you start Please have a look at [wiki](https://github.com/oppia/oppia-android/wiki#onboarding-instructions) which will help you in setting up the project and once you sign the CLA and fill the survey we can assign this to you

[2021-01-21 02:59] alwin48 commented on #2450
I still have to learn more about testing. Sorry

[2021-01-21 03:16] FareesHussain commented on #2450
You can have a look at other test cases and implement similar to them. Feel free to ask here

[2021-01-21 03:18] alwin48 commented on #2450
Okay, thanks

[2021-01-21 03:48] anandwana001 commented on #2450
@alwin48 https://github.com/oppia/oppia-android/wiki/Oppia-Android-Testing This might help

[2021-01-21 04:14] srikanthkb commented on #2311
I have assigned it to you. You can work on it.

[2021-01-21 04:34] anandwana001 commented on #2515
we can create package wise. Are we including test files too? and what all modules we are covering in this?

[2021-01-21 05:30] srikanthkb commented on #2515
I thought this would be a good first issue, for all of the Tests (Ex: `TopicLessonsFragmentTest`,`AdministratorControlsActivity `etc) in `app` module, **specifically** related to `RecyclerView` as it would contain the argument `position` in the `scrollToPosition` method.
But if you think, we should pursue this for the entire codebase, then maybe creating independent issues for different modules wi

[2021-01-21 05:50] BenHenning commented on #1799
#2459 needs to be reverted per #2527. Reopening this.

[2021-01-21 05:58] aishapervin commented on #1839
Done.

[2021-01-21 07:14] anandwana001 commented on #2515
yes, let's create issues package vice.

[2021-01-21 07:42] srikanthkb commented on #2515
Renamed this issue specifically for `TopicLessonsFragmentTest`. I will create new issues for tracking changes at the package level.

[2021-01-21 09:30] rt4914 commented on #2526
Reopened now.

[2021-01-21 09:31] rt4914 commented on #2526
Actually reopened by confusion. Closing this again.

[2021-01-21 09:31] #2526 closed, assigned to rt4914

[2021-01-21 10:26] #2409 closed, assigned to MaskedCarrot

[2021-01-21 10:30] rt4914 opened #2529 "Check and fix Profile Name across all screens"
Profile Name is shown in below mentioned screens and we should make sure that a name with maximum characters is clearly visible.
- Profile Chooser Screen
- Navigation Drawer Header
- Home Screen Salutaion
- Profile Progress
- Profile List (in Admin Controls)
- Profile View (in Admin Controls)

These needs to be tested and fixed on mobile-landscape, mobile-portrait, tablet-landscape and  tablet-por

[2021-01-21 10:31] #2140 closed, assigned to prayutsu

[2021-01-21 10:33] rt4914 commented on #2502
Looks like this entire issue has been solved. @anandwana001 @prayutsu @FareesHussain Can you please confirm and close this issue if needed. Thanks.

[2021-01-21 10:37] anandwana001 commented on #2502
Yes, Thanks for merging. Closing this issue.

[2021-01-21 10:37] #2502 closed, assigned to prayutsu, FareesHussain

[2021-01-21 10:37] rt4914 opened #2530 "Double line issue in Profile Chooser in Tablets."
<img src="https://user-images.githubusercontent.com/72242656/105118143-af67dd00-5a82-11eb-8107-65fd7dc3d8e2.png" width=250 />
<img src="https://user-images.githubusercontent.com/72242656/105118138-aecf4680-5a82-11eb-9657-677750af28aa.png" width=250 />

[2021-01-21 10:40] #2205 closed, assigned to Russ741

[2021-01-21 11:08] rt4914 commented on #632
@prayutsu Suggest creating a PR once #2320 is merged as it does some major changes to `Recently Played Activity`

[2021-01-21 11:10] prayutsu commented on #632
@rt4914 Thanks, will wait till it gets merged.

[2021-01-21 12:23] chrk2205 commented on #2488
can i work on this??

[2021-01-21 13:12] navneetsaluja commented on #2432
I can try making the builds. Could you point me to any references/ resources which can be helpful?

[2021-01-21 13:15] imraghav20 commented on #2288
Is this the right file concerned?
https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/home/recentlyplayed/OngoingListAdapter.kt

[2021-01-21 13:15] FareesHussain commented on #2432
I think this is blocked on some issue
@BenHenning is this open to work now ?

[2021-01-21 13:26] Arjupta opened #2531 "Changes in DropShadow View [a11y] [BLOCKED on discussion]"
**Describe the bug**
 Drop shadow View of TabBar is causing the checkbox directly below it to have an unacceptable contrast ratio and hence Accessibility checks fail here.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Accessibility Scanner App on your device
2. Open the Oppia Android App and start Fraction Exploration
3. Switch to the Practice Tab
4. Keep the device in landscape

[2021-01-21 15:55] rt4914 commented on #2288
No. The correct file is https://github.com/oppia/oppia-android/blob/d305f94bf315e2dbf4ee65447dbae98b96503022/app/src/main/java/org/oppia/android/app/home/HomeFragmentPresenter.kt#L93

Note: It might be the case that this issue not reproducible anymore. So first try to reproduce this.

[2021-01-21 15:58] #2515 closed, assigned to harshpatel63

[2021-01-21 17:05] khushal1707 commented on #2529
I like to work on this issue, but in most of the screens name with max character length is correctly visible. The only place where I encounter problem is Profile View (in Admin Controls) with mobile-portrait, correct me if I'm wrong.

[2021-01-21 17:13] rt4914 commented on #2529
You might be correct. Once you PR is out I will check this on all screens and see if we can improve further. Thanks.

[2021-01-21 17:20] rt4914 commented on #2314
@ARJUPTA This is based on different device. Considering that you have mentioned the device I will have to try to reproduce on some other device. Lets keep this solution open for now but and also we don't have a solution yet for this.

[2021-01-21 18:09] imraghav20 commented on #2288
Yes the bug still exists. I tried to reproduce it.

[2021-01-21 18:45] jcqli commented on #2288
I think [PromotedStoryListView](https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/home/promotedlist/PromotedStoryListView.kt) is also a relevant file (or maybe is relevant instead of the HomeFragmentPresenter). [StartSnapHelper](https://github.com/oppia/oppia-android/blob/develop/app/src/main/java/org/oppia/android/app/recyclerview/StartSnapHelper.kt) migh

[2021-01-21 19:35] Arjupta commented on #2206
### Checklist
 (Contributors can take one issue at a time)
* [ ]  `Issue-1` (not assigned to anyone)
* [x]  `Issue-2` (assigned to @ARJUPTA )
* [x]  `Issue-3` (assigned to @ARJUPTA )

[2021-01-21 19:36] Arjupta commented on #2207
### Checklist
 (Contributors can take one issue at a time)
* [ ]  `Issue-1` (not assigned to anyone)
* [ ]  `Issue-2` (not assigned to anyone)

[2021-01-21 19:38] Arjupta commented on #2210
### Checklist
 (Contributors can take one issue at a time)
* [x]  `Issue-1` (assigned to @7phalange7 )
* [ ]  `Issue-2` (not assigned to anyone)
* [x]  `Issue-3` (assigned to @ARJUPTA )

[2021-01-21 19:40] Arjupta commented on #2215
### Checklist
 (Contributors can take one issue at a time)
* [x]  `Issue-1` assigned to @Mehul-Bisht )
* [ ]  `Issue-2` (not assigned to anyone)

[2021-01-21 19:42] Arjupta commented on #2218
### Checklist
 (Contributors can take one issue at a time)
* [ ]  `Issue-1` (not assigned to anyone)
* [ ]  `Issue-2` (not assigned to anyone)

[2021-01-21 19:44] Arjupta commented on #2219
### Checklist
 (Contributors can take one issue at a time)
* [ ]  `Issue-1` (not assigned to anyone)
* [ ]  `Issue-2` (not assigned to anyone)
* [ ]  `Issue-3` (not assigned to anyone)

[2021-01-21 19:51] BenHenning opened #2532 "Move all tests under app layer to test/"
We have local tests under the app module test folder that only run on Robolectric. Now that we have the RunOn annotation, we should prefer keeping all tests under app module's sharedTest folder & instead use the RunOn animation. This issue is tracking:
- Moving all app module tests from the test folder to sharedTest counterparts
- Annotating the tests OR test class with RunOn(ROBOLECTRIC)
- Removi

[2021-01-21 20:06] Arjupta commented on #2217
### Checklist
 (Contributors can take one issue at a time)
* [x]  `Issue-1` (assigned to @ARJUPTA)
* [ ]  `Issue-2` (not assigned to anyone)

[2021-01-21 20:16] Arjupta commented on #2258
### Checklist
 (Contributors can take one issue at a time)
* [ ]  `Issue-1` (not assigned to anyone)
* [ ]  `Issue-2` (not assigned to anyone)
* [ ]  `Issue-3` (assigned to @ARJUPTA)

[2021-01-21 20:18] Arjupta commented on #2295
### Checklist
 (Contributors can take one issue at a time)
* [x]  `Issue-1` (assigned to @ARJUPTA)
* [x]  `Issue-2` (assigned to @ARJUPTA)
* [x]  `Issue-3` (assigned to @ARJUPTA)
* [ ]  `Issue-4` (not assigned to anyone)

[2021-01-21 20:20] Arjupta commented on #2310
### Checklist
 (Contributors can take one issue at a time)
* [x]  `Issue-1` (assigned to @ARJUPTA)
* [ ]  `Issue-2` (not assigned to anyone)

[2021-01-21 20:27] Arjupta commented on #2326
### Checklist
 (Contributors can take one issue at a time)
* [ ]  `Issue-1` (not assigned to anyone)
* [x]  `Issue-2` (already done)

[2021-01-21 21:51] 7phalange7 commented on #2210
@ARJUPTA please assign me `Issue-2` (or `Issue-1` any one is fine) . Just to confirm, is this issue ready to be worked upon?

[2021-01-22 03:01] dipu989 commented on #2532
@BenHenning Would like to work upon this! Can I self assign?

[2021-01-22 03:37] BenHenning commented on #1730
Also: we should have a CI check to verify that across the entire commit log of a PR that no files are binary (otherwise it should start permanently failing since only a force push can remediate such a situation). This is the only time we should ever force push.

[2021-01-22 03:38] BenHenning commented on #1730
We may run into an issue with the CI check if it runs across the entirety of develop since there are some binary files in mainline, and we can't force push change those. We may need to build in exceptions for those files.

[2021-01-22 03:38] BenHenning commented on #1730
Note also that this issue unblocks opening write access to contributors who work on big projects and can thus benefit from PR chaining (otherwise https://github.com/isaacs/github/issues/959 prevents proper PR chaining when using forks).

[2021-01-22 03:58] #1799 closed, assigned to rt4914

[2021-01-22 04:00] anandwana001 commented on #2282
@priyanka0906 You can mention here in issue if you need any help.
Let me know if you are not working on this issue any more and looking for another issue.

[2021-01-22 04:33] Arjupta commented on #2210
Issue -1 is ready to be worked upon. Assigned it to you. Try attaching a screenshot of before changes , after changes and test scans also in your Pull Request

[2021-01-22 06:14] prayutsu opened #2535 "Unable to open NavigationDrawer multiple times on Robolectric"
**Describe the bug**
Test cases in `NavigationDrawerActivityTest` that involve opening the Navigation Drawer multiple times are failing on Robolectric.

**Expected behavior**
All the test cases should pass on Robolectric

[2021-01-22 06:23] anandwana001 opened #2536 "Introduce a central utility for matching item in RecyclerView [Testing]"
**Is your feature request related to a problem? Please describe.**
While writing test cases in the app module for testing, if the item matches the RecyclerView's item, we use `atPositionOnView` heavily.

**Describe the solution you'd like**
Create a central utility which we can directly use in our test files.
As for this issue, after creating this central utility, use it in the `AdministratorContr

[2021-01-22 07:29] rt4914 commented on #2532
@dipu989 Yes you can self-assign.

[2021-01-22 08:14] rt4914 commented on #2325
Opening this again as it should not have been closed. @ARJUPTA In description always write this exact words: `Fixes part of #XX` and this won't close the PR.

[2021-01-22 08:49] coder2699 commented on #2355
@anandwana001 I want to take this.

[2021-01-22 09:19] Russ741 opened #2539 "Include Java requirement in onboarding instructions"
**Describe the bug**
kotlin-lint-check.sh requires Java (specifically, the java executable) to be on the user's path, and fails if it is not. This failure occurs for Windows-based developers, as the JRE may only be present as part of the Android Studio installation, with no corresponding PATH entry.

I believe other tools may have the same requirement, though I don't remember which offhand.

**Exp

[2021-01-22 09:25] chrk2205 commented on #2427
can i work on this??
@GowthamGoush
@FareesHussain

[2021-01-22 09:33] FareesHussain commented on #2427
@GowthamGoush any updates on this?

[2021-01-22 09:38] #2488 closed, assigned to chrk2205

[2021-01-22 09:46] anandwana001 commented on #2539
@Russ741 We had added a possible error which can occur to a contributor and a brief solution.
`If you find any error which says java: command not found, please check you have Java installed correctly in your machine and environment path variable is also set up.`
Do we need to add more on this?

[2021-01-22 10:14] GowthamGoush commented on #2427
I started understanding the code base but I am still elated to get help on this issue on where to get started.

[2021-01-22 10:21] chrk2205 opened #2541 "Wrong answers not showing in a Prototype exploration"
**Describe the bug**
In Prototype exploration when a wrong input is given for a question it is supposed show that the input is wrong.
but instead submit button is getting disabled.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Prototype Exploration' and to the Question 11*11
2. Click on answer and type a random input and click submit.
3. See error

**Expected behavior**
instead of of

[2021-01-22 10:24] FareesHussain commented on #2541
@chrk2205 This has been fixed can you please update your branch and re-check if it still exists
I'm unable to reproduce this anymore

[2021-01-22 10:29] chrk2205 commented on #2541
@FareesHussain
yeah sorry its fixed

[2021-01-22 10:29] #2541 closed, assigned to nobody

[2021-01-22 10:37] FareesHussain commented on #2427
@GowthamGoush Adding references on how to fix this
`AdministratorControlsAccountActionsViewmodel.kt` this is where the `AlertDialog` is being created

Take a look at https://github.com/oppia/oppia-android/pull/2458 on how to solve the issue

Reach out if you face any issues regarding this

[2021-01-22 10:40] FareesHussain commented on #2427
@chrk2205 I think @GowthamGoush will be working on this meanwhile please take a look at other issues

And @GowthamGoush if you are not interested in this issue it is also fine I will unassign you and you can take a look at other issues please reach out if you are struck at any point

[2021-01-22 10:48] GowthamGoush commented on #2427
Thanks for the support and hope I will be able to fix this soon.

[2021-01-22 11:14] chrk2205 commented on #2518
@prayutsu  can  i work on this??

[2021-01-22 11:57] srikanthkb opened #2542 "Improvement of pre-push lint checks"
**Is your feature request related to a problem? Please describe.**
When working on changes on local repository, we usually add debug statements, make temporary changes in the code. Sometimes, we make changes in files which are not going to be committed or pushed to the remote repository. Even though, we do not include these files in a git commit, when we actually try to push changes in files (to b

[2021-01-22 12:23] navneetsaluja commented on #1730
May I work on this? From what I understand, we need to write a pre-commit shell script. I'm confused about which binary files which you are talking about though, could you give me an example?

[2021-01-22 12:48] priyanka0906 commented on #2282
I am working on this.

[2021-01-22 15:32] rt4914 commented on #1730
cc: @BenHenning

[2021-01-22 16:18] anandwana001 commented on #2542
@Srikanth-Kb Just for the clarification here, I think the files which are `un-committed files` are always in the correct format means there will be no ktlint issues with those files because whenever those files get merged in develop they already gone through the check over GitHub actions.

Am I misunderstanding anything here?

[2021-01-22 16:26] chrk2205 commented on #2503
can i do this??
@rt4914

[2021-01-22 16:47] srikanthkb commented on #2542
Here's a crude explanation of what could happen:
1. Let's say I have to introduce changes sequentially in two files (`file1` and `file2`).
2. I will want to create independent commits (`commit1` and `commit2`) for changes in these files - so that if a build breaks, revert a single commit is easier.
3. Now, I made changes in `file1` (which I intend to push it to the remote branch) and I have made c

[2021-01-22 17:11] BenHenning commented on #2542
Could we maybe have the pre-push script fail if there are uncommitted changes & suggest a commit or stash?

[2021-01-22 17:34] jcqli opened #2545 "Stop confetti when going back from the end of exploration screen"
**Describe the bug**
When we reach the end of exploration and then navigate back a screen, the confetti still falls instead of stopping.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete an exploration to the end
2. When the confetti appears, click back to the previous screen
3. Confetti will continue to fall after leaving the end of exploration screen

**Expected behavior**
Confetti

[2021-01-22 17:45] coder2699 commented on #2355
@anandwana001 What I have done is, I have made a new file "HelperFunctions" and then I am accessing functions `hasErrorText` and `hasNoErrorText` from there in the following files:
`AddProfileActivityTest`, `AdminAuthActivityTest`, `AdminPinActivityTest` & `PinPasswordActivityTest`.

Is that all needed?

[2021-01-22 18:48] jcqli opened #2546 "Rename OngoingStory to PromotedStory"
Since changing promoted stories to include recently played stories, older played stories, and suggest stories, we want to rename instances of `OngoingStory` to be called `PromotedStory` as per [this review](https://github.com/oppia/oppia-android/pull/2320#pullrequestreview-574479490).

In `RecentlyPlayedFragmentPresenter`:
- `ongoingStoryListSummaryResultLiveData` => `promotedStoryListSummaryResul

[2021-01-23 01:59] anandwana001 commented on #2355
Yes, also you can take reference from EditInputAction file from testing module. The new file naming should be something so anyone can understand that this file is the reason where we can find helper functions for TextInputLayout.

[2021-01-23 06:32] Russ741 commented on #2539
Ah, looks like you have it covered already. Optional: is there a recommended Java to install (JRE/JDK, version, Open/Oracle, etc.)? If so, saying what it is would be good.

[2021-01-23 08:58] prayutsu commented on #2355
@coder2699 I guess we may want to shift these helper methods in `EditTextInputAction` only as these are also related to `editText`.
@anandwana001 can confirm this.

[2021-01-23 12:01] imraghav20 commented on #2288
@rt4914 in the latest pull I saw that the issue has been resolved and does not exist.

[2021-01-23 12:19] imraghav20 commented on #2288
The issue was solved as a part of #632

[2021-01-23 12:51] imraghav20 commented on #632
@rt4914 Can I work on `HintsAndSolutionsAdapter` ?
Or you can suggest me something easier if not assigned to anyone. Otherwise I will be happy working on `HintsAndSolutionsAdapter`.

[2021-01-23 17:00] anandwana001 commented on #2355
Sounds good to me.

[2021-01-23 17:30] FareesHussain opened #2547 "Reformatting Required for the following files"
The following files require reformatting
 - layout/toolbar.xml
 - layout-land/toolbar.xml
 - layout/topic_practice_fragment.xml
 - layout-sw600dp-land/topic_practice_fragment.xml
 - layout-sw600dp-port/topic_practice_fragment.xml
 - layout/topic_revision_fragment.xml
 - layout-land/topic_revision_fragment.xml
 - layout-sw600dp-land/topic_revision_fragment.xml
 - layout-sw600dp-port/topic_revision_

[2021-01-23 17:53] FareesHussain commented on #2288
@ARJUPTA can you check this now it seems to be fixed in https://github.com/oppia/oppia-android/pull/2246
Can you check if you can reproduce this

[2021-01-23 18:01] Arjupta commented on #2288
@FareesHussain I am also not able to see it now. Also it is very tough to reproduce, if @rt4914 is also not able to produce this then we can close this issue

[2021-01-23 19:06] BenHenning commented on #1497
FYI I found out that Bazel's android local tests do not support code coverage at all, and this is something we'll need to contribute directly.

[2021-01-23 19:17] rt4914 commented on #2288
Thanks what I suspected too. This is no more reproducible. Thanks @FareesHussain @ARJUPTA and @imraghav20

[2021-01-23 19:17] #2288 closed, assigned to nobody

[2021-01-23 19:24] rt4914 commented on #632
@imraghav20 Definitely have a go at it. It should be doable considering there are enough code samples already in codebase. But if you are not able to solve it thats fine, just mention it and we will assign you something else.

[2021-01-23 23:26] BenHenning opened #2550 "Compute list of suggested stories from backend structures"
Currently, ``TopicListController`` hardcodes the order of topics. This should instead be defined using dependencies that are encoded within the structure of a topic sent from the backend.

[2021-01-24 07:43] FareesHussain opened #2551 "Reformatting Required for the following files"
The following files require reformatting
 - layout-land/topic_revision_summary_view.xml
 - layout-sw600dp-land/topic_revision_summary_view.xml
 - layout-sw600dp-port/topic_revision_summary_view.xml
 - layout/updates_tab_fragment.xml
 - layout/walkthrough_topic_list_fragment.xml
 - layout-sw600dp-land/all_topics.xml
 - layout-sw600dp-port/all_topics.xml
 - layout/app_language_fragment.xml
 - layout

[2021-01-24 07:47] FareesHussain opened #2552 "Reformatting Required for the following files"
The following files require reformatting
 - layout-sw600dp-port/completed_story_list_fragment.xml
 - layout/concept_card_fragment_test_activity.xml
 - layout/continue_navigation_button_item.xml
 - layout-land/continue_navigation_button_item.xml
 - layout-sw600dp-land/continue_navigation_button_item.xml
 - layout-sw600dp-port/continue_navigation_button_item.xml
 - layout/downloads_tab_fragment.xml

[2021-01-24 07:52] FareesHussain opened #2553 "Reformatting Required for the following files"
The following files require reformatting
 - layout-land/fraction_interaction_item.xml
 - layout/help_item.xml
 - layout-land/help_item.xml
 - layout/hints_and_solution_fragment.xml
 - layout-land/hints_and_solution_fragment.xml
 - layout-sw600dp-land/hints_and_solution_fragment.xml
 - layout-sw600dp-port/hints_and_solution_fragment.xml
 - layout/hints_summary.xml
 - layout-land/hints_summary.xml

[2021-01-24 10:28] harsh-hash commented on #2547
I like to work on this.

[2021-01-24 17:36] harsh-hash commented on #2450
can i work on this?

[2021-01-25 03:46] GowthamGoush commented on #2427
I am confused with which activity should be set as the observer. Could you help me out?

[2021-01-25 04:56] anandwana001 commented on #2539
@Russ741 Added point 3
https://github.com/oppia/oppia-android/wiki#installation

Let me know if it helps or needs any more description.

[2021-01-25 10:13] chrk2205 commented on #2545
i would like to work on this.
@jcqli

[2021-01-25 15:07] #2503 closed, assigned to chrk2205

[2021-01-25 15:28] #2547 closed, assigned to harsh-hash

[2021-01-25 15:31] #2282 closed, assigned to priyanka0906

[2021-01-25 16:24] jcqli commented on #2545
Hi @chrk2205, sorry for the confusion but this is actually a part of my project that I will be fixing -- just added myself (accidentally removed you as well, but I hope this makes sense!)

[2021-01-25 17:36] priyanka0906 commented on #2546
May I work  on this?

[2021-01-25 19:37] #2491 closed, assigned to Manikant25

[2021-01-25 19:41] #2518 closed, assigned to chrk2205

[2021-01-26 00:05] FareesHussain commented on #2427
`AdminstratorControlsActivity` is the only activity associated with Log out

[2021-01-26 06:20] coder2699 commented on #2355
Thanks @anandwana001 and @prayutsu , I will do as suggested.

[2021-01-26 11:05] FareesHussain opened #2562 "Parameters in the comments doesn't match with the actual parameters"
The parameters mentioned in the comments don't match with the actual parameters in `StoryProgressTestHelper`

For example here the comment(timestampOlderThanOneWeek) doesn't match with the actual parameter(timestampOlderThanAWeek)
https://github.com/oppia/oppia-android/blob/9bc61d89c950dde5cf0b5be0b6232dc16e2c6357/domain/src/main/java/org/oppia/android/domain/topic/StoryProgressTestHelper.kt#L23-L

[2021-01-26 11:12] Arjupta commented on #2217
Reopening it as it got closed automatically by merging a PR which solved only a part of this Issue

[2021-01-26 11:13] Arjupta commented on #2210
Reopening it as it got closed automatically by merging a PR which solved only a part of this Issue

[2021-01-26 11:35] OBITORASU commented on #2562
Can I pick this up? Willing to fix all the comments so that they match the parameters actually being passed.

[2021-01-26 11:38] FareesHussain commented on #2562
@OBITORASU  Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-26 12:03] OBITORASU commented on #2562
I have filled up the survey as best as I could and the CLA.

[2021-01-26 13:23] MaskedCarrot commented on #2480
@anandwana001 I am facing a few difficulties on this may we connect on giiter regarding this issue?

[2021-01-26 16:43] jcqli commented on #2546
As a note, when it comes time I'd recommend waiting until after #2320 is merged to merge this since this follows-up on some changes from that earlier PR.

[2021-01-26 17:26] rawlin commented on #2553
Hey, can you assign this to me @FareesHussain

[2021-01-26 17:41] rawlin commented on #2227
Hey, can I be assigned this issue

[2021-01-26 18:16] dipu989 commented on #2532
@rt4914 @BenHenning
How I am thinking about going with this issue is -
Viewing the Project structure, we have sharedTest and test directories.
I have to move the tests from "test" directory to the "sharedTest" directory in their respective counterparts and refactor if needed.

I have few doubts here -
1) I need to add @RunOn(ROBOELECTRIC) annotation in every test.kt file which are already using @R

[2021-01-26 20:39] KMaragh commented on #2391
Taking a look at it now, and it seems like the issue happens during the closing of the custom tags, specifically the oppia-li tag.

During the handleClosingTag method in [(BulletTagHandler.kt)](https://github.com/oppia/oppia-android/blob/5fc69fffb97e0c8a0d529238926f3e078cf88b09/utility/src/main/java/org/oppia/android/util/parser/BulletTagHandler.kt#L25-L29), the start and end of the BulletTag span

[2021-01-26 23:39] jcqli opened #2564 "Fix layout margins in exploration player's state fragment"
**Describe the bug**
The exploration player containers are not reflective of the desired UIs as shown in the [mock](https://xd.adobe.com/view/d405de00-a871-4f0f-73a0-f8acef30349b-a234/screen/1ec6f401-6d2e-4c47-b8aa-31517818be9a/specs/)
We need to adjust the tablet landscape layouts for these containers so that they are properly staggered as shown.

**To Reproduce**
Steps to reproduce the behavior:

[2021-01-27 01:09] anandwana001 commented on #2480
Sure

[2021-01-27 08:12] srikanthkb commented on #2542
@BenHenning
There's few concerns regarding the uncommitted changes:
1. If the pre-push script fails, and it asks to commit the changes, and if we create a commit (with all the temporary changes), then the next time we push to origin, the latest commit (including temp changes) will also be pushed, which is not desirable and is burdensome (to be done everytime).
2.  `git stash` is an alternative, bu

[2021-01-27 11:03] riturajjain2000 commented on #2552
Can I work on this?

[2021-01-27 11:06] FareesHussain commented on #2552
@riturajjain2000 Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-27 11:43] rt4914 commented on #880
This was finished in #495 . Reference: https://github.com/oppia/oppia-android/blob/5fc69fffb97e0c8a0d529238926f3e078cf88b09/app/src/sharedTest/java/org/oppia/android/app/player/state/StateFragmentTest.kt#L830

[2021-01-27 11:43] #880 closed, assigned to rt4914

[2021-01-27 12:39] MaskedCarrot commented on #2417
@anandwana001 may I file a new issue regarding the failing robolectric test in #2499

[2021-01-27 13:06] riturajjain2000 commented on #2552
Ok sure!

[2021-01-27 14:25] anandwana001 commented on #2417
Sure and please also mention here in the comment with the new issue link.

[2021-01-27 15:31] priyanka0906 commented on #2546
@jcqli  Okay.

[2021-01-27 15:32] priyanka0906 commented on #2546
Okay.

[2021-01-27 15:39] priyanka0906 commented on #2546
@FareesHussain  @jcqli  Till then can I look for any other issue?

[2021-01-27 15:40] FareesHussain commented on #2546
Sure

[2021-01-27 15:41] FareesHussain commented on #2546
@jcqli please update the title as `[blocked on #2320]`

[2021-01-27 15:50] #2553 closed, assigned to rawlin

[2021-01-27 16:07] MaskedCarrot opened #2568 "Fix test testAudioFragment_withHindiAudioLanguageProfile_showsHindiAudioLanguage [Testing]"
**Describe the bug**
The test `testAudioFragment_withHindiAudioLanguageProfile_showsHindiAudioLanguage` passes on espresso but fails on robolectric
This test is present in `AudioFragmentTest` app module.

**Expected behavior**
The test should pass on both espresso and robolectric.

[2021-01-27 16:11] MaskedCarrot commented on #2417
Failing roboletric tests needs to be fixed in AudioFragmentTest #2568

[2021-01-27 16:31] priyanka0906 commented on #2462
Can I work on this?

[2021-01-27 17:06] #2196 closed, assigned to nobody

[2021-01-27 17:21] KartikeySharma commented on #2551
Hi
I would like to work on this issue.

[2021-01-27 17:26] #1381 closed, assigned to jcqli

[2021-01-27 17:38] BenHenning commented on #2532
@dipu989 good questions. I hope this will help clarify:

1. RunOn and RunWith are independent of one another, so we may need both in some cases (but we always need RunWith)
2. I looked into this a bit more--it seems that nothing needs to change in Gradle, but our Bazel file will have a bunch of test references that need to be updated once the tests are moved ([here](https://github.com/oppia/oppia-

[2021-01-27 17:39] BenHenning commented on #1333
This was completed shortly after this issue but wasn't closed.

[2021-01-27 17:39] #1333 closed, assigned to rt4914

[2021-01-27 17:41] FareesHussain opened #2570 "Fix typos and errors for the following files"
1. In KeyboardHelper - there is a typo in `softinputkeybord` (3 changes)
     https://github.com/oppia/oppia-android/blob/74db288b9ac25fb942a8feb35e918bcd7e94e55c/app/src/main/java/org/oppia/android/app/utility/KeyboardHelper.kt#L7
2. In StartSnapHelper - 'Throws' is not imported (1 change)
    https://github.com/oppia/oppia-android/blob/5fc69fffb97e0c8a0d529238926f3e078cf88b09/app/src/main/java/o

[2021-01-27 23:16] BenHenning opened #2571 "Make app resilient to state loss due to low-memory process deaths"
Android will kill apps when they are backgrounded & the system runs low on memory. This manifests as a process death, and returning to the app (e.g. via backstack navigation or from the launcher) will trigger the app reopening & restoring via a bundle that the OS had captured & persisted on-disk prior to process death.

Note that we can simulate this scenario by (note that this requires a rooted d

[2021-01-28 04:12] BenHenning commented on #2277
Changing qualifiers should work. I have a PR coming soon that introduces a general-purpose utility to handle orientation changes for both Robolectric + Espresso.

[2021-01-28 04:13] BenHenning commented on #2277
Also for posterity: we can't use ActivityController since it's Robolectric-specific (which means it stops us from being able to write tests that run on both Robolectric & Espresso). We actually can't even compile the tests for Espresso if they use these Robolectric dependencies (by design--Espresso tests can't have two different Android implementations of classes to use).

[2021-01-28 08:13] riturajjain2000 commented on #2552
I am done with setting up the project and also fille the CLA and survey form. Can I get this issue assigned to me now?

[2021-01-28 08:54] riturajjain2000 commented on #2552
Made a PR .

[2021-01-28 08:57] riturajjain2000 commented on #2570
Can I work on this?

[2021-01-28 09:10] rt4914 commented on #2227
Duplicate #2529

[2021-01-28 09:10] #2227 closed, assigned to rawlin

[2021-01-28 09:23] #2552 closed, assigned to riturajjain2000

[2021-01-28 09:32] prayutsu commented on #2571
@BenHenning I am interested to work on this.

[2021-01-28 11:47] rt4914 opened #2577 "Remove unused line"
Remove unused line:
https://github.com/oppia/oppia-android/blob/19f90577c8bf009f5eea1a05d8175086a0204d8a/app/src/main/java/org/oppia/android/app/profile/ProfileChooserFragmentPresenter.kt#L75

[2021-01-28 14:21] riturajjain2000 commented on #2577
Assign this to me

[2021-01-28 15:52] #1770 closed, assigned to etigoel

[2021-01-28 15:53] #2577 closed, assigned to riturajjain2000

[2021-01-28 16:16] Arjupta commented on #2295
Reopening it as it got closed automatically by merging a PR which solved only a part of this Issue

[2021-01-28 17:20] som23ya commented on #2462
@FareesHussain  hey, I have completed the onboarding instructions, signed the CLA, and have set up the project. I saw this as a good first issue so I had asked to work on it. 😅

[2021-01-28 17:21] rt4914 commented on #2462
@som23ya This issue is assigned to @priyanka0906 . You can pick other issue from https://github.com/oppia/oppia-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3A%22good+first+issue%22

[2021-01-28 17:33] FareesHussain commented on #2462
@som23ya There was no response for 14 days so I had to assign it to Priyanka. You can pick other issues I'll be adding a bunch of good-first-issues soon

[2021-01-28 23:40] jcqli opened #2579 "Show confetti when learners finish an exploration"
Show a confetti animation to celebrate when learners complete an entire exploration

[2021-01-29 05:06] soamOne commented on #2568
Hey @MaskedCarrot can I work on this?

[2021-01-29 05:10] MaskedCarrot commented on #2568
@soamOne assigning this to you

[2021-01-29 09:19] som23ya commented on #2403
@anandwana001 can I work on this?

[2021-01-29 10:14] sawantvikram commented on #2570
I want to work on this issue.. is this still available???

[2021-01-29 10:23] FareesHussain commented on #2570
@sawantvikram Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

This issue is assigned to @riturajjain2000 . You can pick other issue from [here](https://github.com/oppia/oppia-android/issues?q=is%3

[2021-01-29 13:09] FareesHussain opened #2580 "Reformatting Required for the following files"
The following files require reformatting
 - layout/home_fragment.xml
 - layout-land/home_fragment.xml
 - layout-sw600dp-land/home_fragment.xml
 - layout-sw600dp-port/home_fragment.xml
 - layout/item_selection_interaction_items.xml
 - layout/lessons_chapter_view.xml
 - layout-land/lessons_chapter_view.xml
 - layout/multiple_choice_interaction_items.xml
 - layout/onboarding_slide.xml
 - layout-land/

[2021-01-29 15:51] rt4914 commented on #2568
Thanks @soamOne and @MaskedCarrot

[2021-01-29 16:04] Luffy18346 opened #2581 "Marquee restarts automatically in certain scenarios."
**Describe the bug**
In ideal case, Marquee should only start when user click on toolbar but Marquee restarts automatically in certain scenarios after Marquee stops for the first time.

**To Reproduce**
Steps to reproduce the behavior:

General Steps for all below mentioned cases:
1) Go to The Meaning of Equal Parts exploration
2) Go to Second state. Note that the title is not moving.
3) Click on

[2021-01-29 18:48] yurilev commented on #2504
Can I work on this issue?

[2021-01-29 18:49] FareesHussain commented on #2504
@yurilev Thanks for showing interest in oppia. Please check out our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

[2021-01-29 18:53] yurilev commented on #2504
Hi Farees, I already did all that.

[2021-01-29 20:31] yurilev commented on #2504
Which tablet image is recommended when running Espresso tests in an emulator?

[2021-01-29 20:53] yurilev commented on #2504
The nit was for `testHomeActivity_allTopicsCompleted_displaysAllTopicCards()`, which appears to be broken on tablets, expecting the wrong number of columns. Similar tests in the same file have 4 versions, for mobile/tablet and portrait/landscape.

May I fix the test and make related improvements as part of this, or should I file a separate issue?

[2021-01-30 01:37] #1845 closed, assigned to MaskedCarrot

[2021-01-30 10:41] Prince-kushwaha commented on #2580
can i work on this issue

[2021-01-30 10:43] MaskedCarrot commented on #2580
@Prince-kushwaha have you signed the CLA?

[2021-01-30 10:46] Prince-kushwaha commented on #2580
yes

[2021-01-30 14:18] KartikeySharma commented on #2551
I have submitted PR #2582 to address this issue. Pls review.

[2021-01-30 16:37] fsharpasharp opened #2585 "Create a BUILD file for viewmodel/"
This task is part of the build system migration from Gradle to Bazel. A prerequesite before working on this issue is that you are able to build Oppia using Bazel. Check out [Oppia Bazel guide](https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide) for Bazel terminology and more of what it does.

Create a BUILD.bazel file in

`app\src\main\java\org\oppia\android\app\viewmodel`

This package

[2021-01-30 16:38] fsharpasharp commented on #2585
@BenHenning can you take a look and see if this is a good starting point?

[2021-01-30 16:48] Prince-kushwaha commented on #2581
can is work on this issue

[2021-01-30 17:26] som23ya commented on #2403
@anandwana001 Doubt regarding shortening the length of names:
Can I change words like CONFIGURATION to CONFIG and LANGUAGE to LANG.

 eg, :-

-testStateFragment_loadExp_changeConfiguration_buttonIsNotVisible()
+testState_loadExp_changeConfig_buttonIsNotVisible()

-testAudioFragment_HindiAudioLanguageProfile_showsHindiAudioLanguage()
+testAudio_HindiAudioLangProfile_showsHindiAudioLang()

[2021-01-30 18:42] yurilev opened #2587 "Fix test testHomeActivity_allTopicsCompleted_displaysAllTopicCards"
`testHomeActivity_allTopicsCompleted_displaysAllTopicCards()` in `HomeActivityTest` fails when running using Espresso in an Android emulator with a tablet image, because of the bigger screen size. (All tests pass in Robolectric.)

Other similar test methods covering "topics":
* Have 4 versions, split into portrait/landscape and mobile/tablet.
* Also assert the number of cards (topics).

Suggested

[2021-01-30 18:43] yurilev commented on #2504
Filed #2587.

[2021-01-30 19:10] yurilev opened #2588 "Fix test testAudioWithWifi_openFractionsExploration_changeLanguage_clickNext_checkLanguageIsHinglish"
Fails in CI Robolectric Tests - App Module:
[code]

[2021-01-30 19:13] yurilev commented on #2588
See https://github.com/oppia/oppia-android/pull/2586/checks?check_run_id=1798360773

[2021-01-30 19:20] yurilev commented on #2588
Note: Passes locally (Robolectric and in an emulator).

[2021-01-30 20:12] yurilev commented on #1587
Can I work on the remaining files?

[2021-01-30 20:47] janewaitara commented on #1587
@yurilev  I'm currently working on the files

[2021-01-30 22:19] janewaitara commented on #2588
@yurilev  I am also having the same issue with the pull requests I'm working on

[2021-01-31 10:12] FareesHussain opened #2591 "Reformatting Required for the following files"
The following files require reformatting
 - layout/onboarding_slide_final.xml
 - layout-land/onboarding_slide_final.xml
 - layout-sw600dp-land/onboarding_slide_final.xml
 - layout-sw600dp-port/onboarding_slide_final.xml
 - layout-land/ongoing_topic_list_fragment.xml
 - layout-sw600dp-land/ongoing_topic_list_fragment.xml
 - layout-sw600dp/option_activity.xml
 - layout-land/option_app_language.xml

[2021-01-31 11:09] yurilev commented on #1587
I'm sorry, I asked because no one was currently assigned.

[2021-01-31 11:37] yurilev commented on #2591
Can I work on this?

[2021-01-31 15:27] chrk2205 opened #2592 "Open Navigation Drawer from Exploration"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'exploration'
2. Click on 'option button' in top right of screen
3. Select 'Options' or 'Help'
4. Slide on screen to right ( so you can open Navigation Drawer)

**Expected behavior**
Navigation Drawer should not be operated from Exploration Activity because on Openin

[2021-01-31 15:40] chrk2205 commented on #2592
@rt4914 @BenHenning
 can you confirm if it's a bug or not??
thanks!!

[2021-01-31 16:03] Prince-kushwaha commented on #2581
@FareesHussain  @Luffy18346  can i work on this issue

[2021-01-31 19:04] Mehul-Bisht commented on #2530
@rt4914 I have found the cause of this issue. May I send a Pull Request for the fix or are you working on it?

[2021-01-31 22:30] viktoriias commented on #1069
@rt4914 @BenHenning Can I work on this?

[2021-01-31 22:35] Mehul-Bisht commented on #2206
@ARJUPTA it seems that all the EditTexts have been replaced with TextInputEditTexts now so now the only issue should be with the contrast ratios I believe?

[2021-02-01 06:14] anandwana001 commented on #2403
we use `configChange`, `IsDisplayed` in place of shows.

[code]

A draft PR will be helpful for such a discussion.

[2021-02-01 06:58] anandwana001 opened #2595 "Migrate to ViewPager2 in layout/my_downloads_fragment.xml"
**Is your feature request related to a problem? Please describe.**
ViewPager brings some issues with the testing side.

**Describe the solution you'd like**
- Migrate to ViewAPger2
- Update the test cases
- Test cases should Pass on both Espresso and Roboelctric

**Additional context**
Before we jump in the full feature for Download, let's migrate to ViewPager2 at an early stage only.

[2021-02-01 07:38] #2591 closed, assigned to yurilev

[2021-02-01 07:40] #2404 closed, assigned to varunvjha

[2021-02-01 08:20] #2562 closed, assigned to OBITORASU

[2021-02-01 08:30] anandwana001 opened #2596 "Update Data item list as per the Backend"
**Describe the bug**
For the `GaeStateClassifier.kt`, the data items are changed in the Backend.

**Expected behaviour**
Update `GaeStateClassifier` as per the items coming from the Backend.
Backend - https://github.com/oppia/oppia/blob/develop/core/controllers/reader.py#L239

**Additional context**
Check https://github.com/oppia/oppia/blob/develop/core/domain/state_domain.py#L1461 for the referen

[2021-02-01 08:33] Akshat-gour commented on #2596
can I try it

[2021-02-01 08:34] MaskedCarrot commented on #2596
@Akshat-gour have you filled the CLA?

[2021-02-01 08:36] Akshat-gour commented on #2596
yes i did

[2021-02-01 11:50] Akshat-gour commented on #2596
can I get a help its been difficult to identify which variable to update in GaeStateClassifier.
do ,I have to update All class and function Variable present In Reader.py
**Or Just these Classes Variables**
class StatsEventsHandler
class StateHitEventHandler
class StateCompleteEventHandler
@FareesHussain
@anandwana001

[2021-02-01 12:51] MaskedCarrot commented on #2596
@Akshat-gour what I understand is you have to change the JSON fields in `GaeStateClassifier` as they have changed in the backend(`Reader.py`)
@anandwana001 PTAL

[2021-02-01 12:53] MaskedCarrot commented on #2596
@Akshat-gour what I understand is you have to change the JSON fields in `GaeStateClassifier` as they have changed in the backend(`Reader.py`)

[2021-02-01 19:05] yurilev commented on #2588
I synced my branch and ran again today, and the test passed.

@janewaitara Please reopen if it's still happening for you, the test might be flaky.

[2021-02-01 19:05] #2588 closed, assigned to nobody

[2021-02-01 22:18] BenHenning commented on #2596
@anandwana001 we shouldn't be working on GAE layer issues since we're not confident that we're keeping the GAE interop layer, or what we specifically need to download. I also don't think any of it's hooked up right now, so there's no way to debug it.

[2021-02-01 22:18] BenHenning commented on #2596
@Akshat-gour sorry for the noise--can you maybe find another starter issue to work on?

[2021-02-01 22:18] #2596 closed, assigned to nobody

[2021-02-01 22:19] BenHenning opened #2599 "TopicListControllerTest is flaky"
After #2272 was checked in, TopicListControllerTest became flaky: https://github.com/oppia/oppia-android/runs/1809924511. testRetrievePromotedActivityList_markAllChapDoneInAllTopics_comingSoonTopicListIsCorrect seems to intermittently fail.

Due to #2272 being quite large, I don't want to revert it but we do need to figure out where this is coming from.

[2021-02-02 04:51] prayutsu opened #2600 "Migrate to Bindable Adapter for OnBoarding ViewPager2"
**Description**
Current Implementation for OnBoarding ViewPager2 adapter is based on `Recyclerview.Adapter`

**Describe the solution you'd like**
Migrate the adapter implementation to Bindable Adapter.

**Additional context**
Please see #2482  for additional context as it is also blocked on it.

[2021-02-02 05:26] anandwana001 commented on #2355
Any update on this?

[2021-02-02 05:57] anandwana001 commented on #52
Now we do have a screen where we can see all the languages.
Things left to do:
1. Check and fix if the app is updating according to the selected language or not

[2021-02-02 07:10] chrk2205 commented on #503
@anandwana001  I would like to work on this

[2021-02-02 07:30] anandwana001 commented on #503
@chrk2205 assigned to you.
Few points to get start:
1. Write down all the edges case which needs to get tested.
2. Don't include end to end test, example like opening and activity and the  checking any view. Robolectric doesn't support end to end test.
3. All the test should pass on both espresso and robolectric

How you can send a pr for this:
1. After writing all the points what we need to test,

[2021-02-02 08:22] MaskedCarrot commented on #632
may I take up `HintsAndSolutionAdapter`?
@rt4914  @imraghav20

[2021-02-02 08:55] imraghav20 commented on #632
@MaskedCarrot I am currently working on it.

[2021-02-02 09:08] anandwana001 commented on #1598
Step 1 for this Issue is, we need a started wiki page. I had added installation and a brief description regarding Bazel vocab.
https://github.com/oppia/oppia-android/wiki/Oppia-Bazel-Guide

[2021-02-02 09:09] anandwana001 commented on #2516
I think this issue goes under the Bazel Stage 2 label!!

[2021-02-02 14:07] MaskedCarrot commented on #629
May I work on it ?

[2021-02-02 14:07] MaskedCarrot commented on #629
@anandwana001 I would like to work on it.

[2021-02-02 15:32] Arjupta commented on #2206
Will test and discuss about this with team

[2021-02-02 17:18] KMaragh commented on #2391
Update:
I now think the issue happens because of extra unicode characters that are present in the HTML. When the direction changes to an RTL format, there are added unicode characters to highlight the directional value of the text, in this case it seems like a lot of Pop Directional Formatting characters are added. When a custom tag is spotted, the position is marked with the [(handleOpeningTag)](

[2021-02-02 20:13] BenHenning commented on #2585
Some thoughts:
- List an example BUILD file that looks more or less like what we want to introduce here
- Example needs to show what "create a target for each file" means in practice
- I think more information is needed on how to find the dependency artifacts that are required (e.g. map imports to WORKSPACE maven dependencies?). Also, consider how to tie back to non-Maven dependencies. Maybe an ad

[2021-02-03 03:23] anandwana001 commented on #295
We are good to close this issue, as we have a master tracking issue for fixing test
https://github.com/oppia/oppia-android/issues/2417

[2021-02-03 05:05] kartikeysaran commented on #388
I am working on this issue

[2021-02-03 05:55] #2504 closed, assigned to yurilev

[2021-02-03 06:10] #2462 closed, assigned to priyanka0906

[2021-02-03 06:18] khushal1707 commented on #171
@anandwana001 I like to take this issue, could you give me few pointers on what was the problem with implementation of DiffUtil?  Were test cases complete and passing?

[2021-02-03 06:19] rt4914 opened #2602 "Use string from strings.xml file in MyDownloadFragmentTest"
Below mentioned line of code is using hard-coded string instead this string should be referenced from `strings.xml` file

https://github.com/oppia/oppia-android/blob/ffacea694d5876ed0dd3fae12d57ef68f3e3efb7/app/src/sharedTest/java/org/oppia/android/app/mydownloads/MyDownloadsFragmentTest.kt#L88

[2021-02-03 06:22] #2595 closed, assigned to MaskedCarrot

[2021-02-03 06:51] rt4914 commented on #388
@FareesHussain I think @kartikeysaran has not filled the CLA and survey form.

@kartikeysaran Thanks for showing interest but before you create a PR please checkout our [wiki](https://github.com/oppia/oppia-android/wiki) first. This will help you in setting up the project and once you sign the CLA and fill the survey form we can assign you issues to work on.

Also, this is not a `good-first-issue`

[2021-02-03 06:59] FareesHussain commented on #388
@rt4914 He has filled the CLA and survey form and I assigned it to him based on the discussion on Gitter.

@kartikeysaran as you are new to the codebase it is recommended to go for `good-first-issues` first as @rt4914 mentioned so that you can get familiar with the codebase.

[2021-02-03 07:02] anandwana001 commented on #171
@khushal1707
Things which are failing:
1. RecyclerView loading is smooth but slow
2. Drag and Drop doesn't work correctly

These are the 2 issues we face after merging my earlier pr
1. https://github.com/oppia/oppia-android/issues/1625
2. https://github.com/oppia/oppia-android/issues/1626